// app global css in SCSS form
.text-center {
  text-align: center;
}

html,
body {
  overscroll-behavior-y: contain;
}

.vue-map-container .vue-map {
  width: 100%;
  height: 70vh;
}

.body--dark {
  --q-negative: #ff5640;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .q-btn,
  .q-item__label {
    font-size: 1rem;
  }

  .q-item__section {
    font-size: 1.5rem;
  }

  .q-notification__message.col {
    //Current Plot and Current Visit on project selection page
    font-size: 1.3rem;
  }

  // .q-field__native,
  // .q-field__label,
  // .q-table__bottom {
  //   font-size: 1.1rem;
  // }

  .q-stepper--vertical .q-stepper__title,
  .q-card__section,
  p,
  .q-checkbox__label.q-anchor--skip,
  .q-toggle__label.q-anchor--skip,
  .q-img__content > div {
    font-size: 1.5rem;
  }

  // .q-field__messages>div {
  //   font-size: 1.2rem;
  // }

  .q-table__bottom-item,
  .multiselect__placeholder {
    font-size: 1.3rem;
  }

  .q-field__label.no-pointer-events.absolute.ellipsis {
    font-size: 1.1rem;
    padding-bottom: 1em;
  }

  .q-field--auto-height.q-field--dense.q-field--labeled
    .q-field__control-container {
    padding-top: 30px;
  }

  .q-field__messages.col {
    font-size: 1.1rem;
  }
  .q-slider__text {
    font-size: 1.5rem;
    padding: 3px;
  }
  .q-table--dense .q-table thead tr,
  .q-table--dense .q-table tbody tr,
  .q-table--dense .q-table tbody td {
    font-size: 1.3rem;
  }
}
