<template>
  <div>
    <crud
      class="q-my-md"
      ref="crud"
      :fields="localFields"
      :title="title"
      :current-prot-id="protocolId"
      :collection-survey-flag="true"
      submitBtnLabel="Save"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :excludeSubmitBtnFlag="false"
      :modelValue="modelValue"
      @update:model-value="(e) => $emit('update:modelValue', e)"
    />
  </div>
</template>
<script>
import {
  asyncCrud as Crud,
  createDependentFieldCallback,
} from 'src/misc/helpers'
import * as fieldsMap from './conditionalFields'
import isEqual from 'lodash/isEqual'
export default {
  components: {
    Crud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      required: true,
    },
    fields: {
      type: Object,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
  data() {
    const localFields = this.fields
    for (const [k] of Object.entries(fieldsMap)) {
      localFields[k].hidden = true
    }
    const conditionalFields = [
      {
        field: 'class',
        fieldCb: ({ newVal, oldVal }) => {
          if (isEqual(newVal, oldVal)) return
          const oldSelectedClass = oldVal.class?.value || oldVal.class
          const selectedClass = newVal.class?.value || newVal.class
          if (selectedClass && oldSelectedClass !== selectedClass) {
            this.displayFieldsBasedOnClass(selectedClass)
            this.filterOptionsForFemaleBreedingStatus(selectedClass)
          }

          if (newVal.total_weight && newVal.bag_weight) {
            newVal.animal_weight = this.calculateAnimalWeight(newVal)
          }
          return newVal
        },
      },
    ]
    return {
      localFields,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    displayFieldsBasedOnClass(selectedClass) {
      // filter out related species
      this.localFields.species_name.csv = [selectedClass]

      for (const [k, v] of Object.entries(fieldsMap)) {
        const fieldToDisplay = v[selectedClass]
        if (fieldToDisplay?.length) {
          for (const key in this.localFields[k].modelConfig.fields) {
            this.localFields[k].modelConfig.fields[key].hidden =
              !fieldToDisplay.includes(key)
          }
        }
        this.localFields[k].hidden = !fieldToDisplay?.length
      }
    },
    filterOptionsForFemaleBreedingStatus(selectedClass) {
      if (!selectedClass) return
      const map = {
        MA: ['PR', 'NB', 'UK', 'DE'],
        RE: ['GR', 'NG', 'UK'],
        AM: ['GR', 'NG', 'UK', 'BM'],
      }
      const reproductiveCondition = this.localFields.reproductive_condition.modelConfig.fields
      reproductiveCondition.female_breeding_status.optionsFilter = (options) =>
        map[selectedClass].includes(options.symbol)
    },
    calculateAnimalWeight(newVal) {
      if (!newVal.total_weight || !newVal.bag_weight) return

      const animalWeight = newVal.total_weight - newVal.bag_weight
      return animalWeight
    },
    async onSubmitFunc() {
      await this.$refs.crud.onSubmitFunc()
    },
  },
}
</script>
