<template>
  <div>
    <q-banner
      v-if="!setupSurveyDropdownOptions.length"
      rounded
      class="bg-red text-white"
    >
      No trapping survey data related to the selected plot could be found.
    </q-banner>
    <template v-else>
      <!-- {{ trapsInitOptions }} -->
      <TrapSummary
        v-if="trapsInitOptions?.length"
        :trapsData="trapsInitOptions"
        :checkedTraps="localRecord"
      />
      <q-select
        data-cy="select_survey"
        :disable="localRecord?.length > 0"
        label="Select related survey setup time"
        v-model="selectedSetupSurvey"
        :options="setupSurveyDropdownOptions"
        hint="Default to the last setup survey"
        hide-bottom-space
        emit-value
        map-options
      />
      <!-- selectedTrap: {{ selectedTrap }} -->
      <TrapFromBarcode
        v-model="selectedTrap"
        :trapsInitOptions="trapsInitOptions"
        :model-config="modelConfig"
      />
      <h5 v-if="selectedTrap?.trap_number" class="q-my-md">
        Trap: {{ selectedTrap.trap_number }}
      </h5>
      <crud
        v-if="selectedTrap"
        :fields="fields"
        :current-prot-id="protocolId"
        :modelValue="selectedTrapRecord"
        :exclude-submit-btn-flag="false"
        :submit-btn-label="
          !selectedTrapRecord?.setup_status
            ? `check trap ${selectedTrap.trap_number}`
            : `update ${selectedTrap.trap_number}`
        "
        @new-record-changed="showHideFields"
        @update:modelValue="updateModelValue"
      />
      <div v-if="localRecord?.length">
        Traps checked: {{ localRecord?.length }}/{{ trapsInitOptions.length }}
      </div>
    </template>
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import { useDataManagerStore } from 'src/stores/dataManager'
import { useEphemeralStore } from 'src/stores/ephemeral'
import {
  notifyHandler,
  asyncCrud as crud,
  makeVertTrapsInitOptions,
  makeModelConfig,
} from 'src/misc/helpers'
import TrapFromBarcode from './TrapFromBarcode.vue'
import { cloneDeep, isEqual } from 'lodash'
import TrapSummary from './TrapSummary.vue'
import { ref, inject } from 'vue'
export default {
  inject: ['doc'],
  components: {
    TrapFromBarcode,
    crud,
    TrapSummary,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      required: true,
    },
  },
  setup(props) {
    const bulkStore = useBulkStore()
    const { cachedModel, surveyDataFromPlot } = useDataManagerStore()
    const { setBarcodeOpen } = useEphemeralStore()

    const doc = inject('doc')?.value
    const modelConfig = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    modelConfig.fields.trap_check_status.prefer_dropdown = true
    // replace with a custom component
    // fields.captured_individual.model = 'component'
    modelConfig.fields.captured_individual.type = 'captured_individual'
    modelConfig.fields.captured_individual.hidden = true

    // get data related to the traps which was submitted before
    const submittedData = cachedModel({ modelName: props.modelName })

    // get setup survey related to current plot
    const setupModelName = 'vertebrate-trapping-setup-survey'
    const associatedSetupSurvey = surveyDataFromPlot({
      modelName: setupModelName,
      plotLayoutId: bulkStore.getPlotLayoutId,
    })

    const setupSurveyDropdownOptions =
      associatedSetupSurvey?.map((survey) => {
        console.log(survey)
        let idToUse = null
        if (survey?.id) idToUse = survey.id
        else if (survey?.temp_offline_id)
          idToUse = { id: survey.temp_offline_id }

        return {
          value: idToUse,
          label: new Date(survey.start_date_time),
        }
      }) || []

    if (!props.modelValue?.length) {
      delete bulkStore.autoSavedCollections[props.protocolId]
    }

    return {
      fields: ref(modelConfig.fields),
      modelConfig,
      setupSurveyDropdownOptions,
      submittedData,
      setBarcodeOpen,
      bulkStore,
    }
  },
  data() {
    return {
      selectedSetupSurvey: this.setupSurveyDropdownOptions.at(-1)?.value,
      selectedTrap: null,
      localRecord: this.modelValue || [],
    }
  },
  computed: {
    selectedTrapId() {
      let selectedTrapId = null
      if (this.selectedTrap.id) {
        selectedTrapId = this.selectedTrap.id
      } else if (this.selectedTrap.temp_offline_id) {
        selectedTrapId = this.selectedTrap.temp_offline_id
      }
      return selectedTrapId
    },
    trapsInitOptions() {
      return makeVertTrapsInitOptions(this.selectedSetupSurvey)
    },
    /**
     * data of selected trap check saved in bulkStore, not from trap setup
     */
    selectedTrapRecord() {
      const index = this.findExistingTrapIndex()
      if (index === -1) {
        // data from apiModelStore which was submitted before
        // and make it as init data if it's available and there's no saved data in bulk
        // as we want to get the current traps' status from previous survey
        // and we get the latest one
        const selectedTrapHistory = this.submittedData.findLast(
          ({ trap_setup }) => trap_setup.id === this.selectedTrap.id,
        )
        return {
          setup_status: selectedTrapHistory?.setup_status.symbol,
          trap_check_status: selectedTrapHistory?.trap_check_status.symbol,
        }
      }

      return this.localRecord[index]
    },
  },
  methods: {
    findExistingTrapIndex(trapId = this.selectedTrapId) {
      return this.localRecord.findIndex((trap) => {
        if (Number.isInteger(trap.trap_setup)) {
          return trap.trap_setup === trapId
        }

        if (
          typeof trap.trap_setup === 'object' &&
          trap.trap_setup.temp_offline_id
        ) {
          return trap.trap_setup.temp_offline_id === trapId
        }
      })
    },
    async onSubmitFunc() {
      if (!this.localRecord.length) {
        notifyHandler('negative', 'No traps were checked')
        return false
      }
      let uncheckedTraps = this.trapsInitOptions.filter((trap) => {
        const index = this.findExistingTrapIndex(
          trap.id ? trap.id : trap.temp_offline_id,
        )
        return index === -1
      })
      uncheckedTraps = uncheckedTraps.map(({ label }) => label)

      if (uncheckedTraps.length) {
        notifyHandler(
          'warning',
          `${uncheckedTraps.toString()} have not been checked`,
        )
      }
      return true
    },
    updateModelValue(newVal) {
      const index = this.findExistingTrapIndex()

      const newRecord = {
        ...newVal,
        barcode: this.selectedTrap.barcode,
        trap_number: this.selectedTrap.label,
        trap_setup: Number.isInteger(this.selectedTrapId)
          ? this.selectedTrapId
          : //need to specify this key so it's easier to resolve at publication time
            { temp_offline_id: this.selectedTrapId },
      }
      if (index === -1) {
        this.localRecord.push(newRecord)
        this.setBarcodeOpen(true)
      } else {
        this.localRecord[index] = structuredClone(newRecord)
      }
      // save selected survey to autoSave
      this.bulkStore.autoSavedCollections[this.protocolId] = {
        selectedSetupSurvey: this.selectedSetupSurvey,
      }
      this.$emit('update:modelValue', this.localRecord)
      // moving to next trap
      this.moveToNextTrap()
    },
    moveToNextTrap() {
      const currentTrapNumber = this.selectedTrap.trap_number
      const selectedTrapIndex = this.trapsInitOptions.findIndex(
        (trap) => trap.trap_number === currentTrapNumber,
      )
      this.selectedTrap = this.trapsInitOptions[selectedTrapIndex + 1]
      notifyHandler(
        'positive',
        `Successfully checked trap ${currentTrapNumber}, moving to trap ${this.selectedTrap?.trap_number}`,
      )
    },
    showHideFields({ newRecord, oldRecord }) {
      if (isEqual(newRecord, oldRecord)) return
      const trapCheckStatus =
        newRecord.trap_check_status?.value || newRecord.trap_check_status
      this.fields.captured_individual.hidden = trapCheckStatus !== 'C'
    },
  },
  watch: {
    selectedTrap(newVal) {
      const fields = cloneDeep(this.fields)
      // filter option based on trap type
      // box and cage do not have false trigger
      if (/[BC]/.test(newVal?.label)) {
        fields.trap_check_status.optionsFilter = (options) =>
          options.label !== 'False trigger'
      } else {
        delete fields.trap_check_status.optionsFilter
      }
      this.fields = fields
    },
  },
}
</script>
