<template>
  <div data-cy="closed_drift_line_photo">
    <q-select
      data-cy="drift_line"
      label="Select drift fence"
      v-model="selectedFence"
      :options="fenceOptions"
      emit-value
      map-options
    />
    <PreviewPhoto
      class="q-my-md"
      v-if="selectedFencePhotoData"
      :img-src="selectedFencePhotoData.src"
    />
    <Camera
      v-if="selectedFence"
      :modelValue="selectedFencePhotoData"
      @update:modelValue="updateRecord"
      camera-type="media"
      :allowMultipleMedia="true"
    />
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import { useDataManagerStore } from 'src/stores/dataManager'
import Camera from '../Camera.vue'
import PreviewPhoto from '../PreviewPhoto.vue'
import cloneDeep from 'lodash/cloneDeep'
import { notifyHandler } from 'src/misc/helpers'
export default {
  components: { Camera, PreviewPhoto },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      required: true,
    },
  },

  setup(props) {
    const bulkStore = useBulkStore()
    const { obsDataFromSurvey } = useDataManagerStore()

    // get the selected trap set-up survey id is temporarily stored in autosaved
    // to get fence line
    const trapSetupSurveyId =
      bulkStore.autoSavedCollections[props.protocolId]['relatedSurveySetup']
    // get the trap lines that installed in the selected trap setup survey
    const trapLineModelName = 'vertebrate-trap-line'
    const trapLineData = obsDataFromSurvey({
      obsModelName: trapLineModelName,
      survey_metadata: trapSetupSurveyId,
    })

    // we only want the fence line which has fence type prop
    const fenceData = trapLineData.filter(
      ({ fence_type }) => fence_type?.data !== null,
    )

    // map the data to options for drop downs with value
    // of associated trap-line id and label is the trap line name
    const fenceOptions = fenceData.map((data) => ({
      value: (() => {
        if (data.id) {
          return data.id
        }
        if (data.temp_offline_id) {
          return { temp_offline_id: data.temp_offline_id }
        }
      })(),
      label: (() => {
        if (data.line_name?.label) {
          return data.line_name.label
        }
        if (typeof data.line_name === 'string') {
          return data.line_name
        }
      })(),
    }))

    return {
      bulkStore,
      fenceOptions,
    }
  },
  data() {
    return {
      selectedFence: null,
      localRecord: cloneDeep(this.modelValue) || [],
    }
  },
  computed: {
    selectedFencePhotoData: {
      get() {
        const record = this.localRecord.find(
          (entry) => entry.drift_line === this.selectedFence,
        )
        return record ? record['closed_drift_line_photo'] : null
      },
    },
  },
  methods: {
    updateRecord(newVal) {
      const newRecord = {
        drift_line: this.selectedFence,
        closed_drift_line_photo: newVal,
      }

      const index = this.localRecord.findIndex(
        (entry) => entry.drift_line === this.selectedFence,
      )
      if (index === -1) {
        this.localRecord.push(newRecord)
      } else {
        this.localRecord[index] = newRecord
      }
      this.$emit('update:modelValue', this.localRecord)
    },
    async onSubmitFunc() {
      if (
        this.bulkStore.autoSavedCollections[this.protocolId].allTrapsRemoved
      ) {
        return true
      } else {
        notifyHandler('negative', 'All traps need to be closed')
        return false
      }
    },
  },
}
</script>
