<template>
  <q-card :class="`bg-grey-${this.$q.dark.isActive ? 9 : 3}`" flat bordered>
    <q-expansion-item
      :label="expanded ? '' : 'Mark Trap'"
      v-model="expanded"
      data-cy="mark_trap"
    >
      <q-card-section class="q-my-none">
        <div ref="top" class="text-h6 q-py-none">Mark Trap</div>
      </q-card-section>
      <q-btn
        v-if="localRecord?.length"
        label="Summary"
        color="primary"
        @click="showSummary = true"
      />
      <q-dialog v-model="showSummary">
        <q-card style="width: 700px; max-width: 80vw">
          <q-table
            dense
            :rows="summaryDetails"
            :columns="columns"
            row-key="name"
            :rows-per-page-options="[10, 20]"
          />
        </q-card>
      </q-dialog>
      <q-select
        data-cy="trap_type"
        class="q-mx-md"
        :label="fields['trap_type'].label"
        map-options
        emit-value
        :options="trapTypeOptions"
        v-model="selectedTrapType"
      />
      <q-select
        data-cy="trap_number"
        class="q-mx-md"
        :label="fields['trap_number'].label"
        :options="trapOptions"
        hint="Marked traps are in blue colour"
        hide-bottom-space
        v-model="trapNumber"
      >
        <template v-slot:option="scope">
          <q-item v-bind="scope.itemProps">
            <q-item-section>
              <q-item-label
                :style="{ color: trapIsAdded(scope.opt) ? 'blue' : '' }"
              >
                {{ scope.opt }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </q-select>
      <crud
        v-if="trapNumber"
        ref="crud"
        :fields="displayFields"
        :title="''"
        :current-prot-id="protocolId"
        :modelValue="selectedTrapData"
        :submitBtnLabel="
          selectedTrapIsAdded
            ? 'Update trap details & Next'
            : 'Mark & Next Trap'
        "
        :excludeSubmitBtnFlag="false"
        @update:modelValue="updateModelValue"
      />
    </q-expansion-item>
  </q-card>
</template>
<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import { asyncCrud, notifyHandler } from 'src/misc/helpers'
import cloneDeep from 'lodash/cloneDeep'
import trapOder from './trapOrder.js'
import { toRef } from 'vue'
const fenceLines = ['B', 'E']
// number of trap required per drift fence
const trapPerFence = {
  F: 4, // funnel
  P: 6, // pitfall
}
// number of trap required per line
const trapPerLine = {
  C: 2, // cage
  B: 10, // elliot
}
export default {
  components: {
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    selectedLine: {
      type: String,
    },
    fieldsProp: {
      type: Object,
      required: true,
    },
    modelValue: {
      type: Array,
    },
  },
  setup(props) {
    const { cachedModel } = useApiModelsStore()

    const fields = toRef(props.fieldsProp)
    // we hide drift line and trap type inside the crud
    // as we already have them outside
    ;['line_name', 'trap_type', 'trap_number'].forEach((key) => {
      fields.value[key].hidden = true
    })
    fields.value['location'].initCurrent = false
    fields.value['number_of_traps'].default = 1
    fields.value['trap_set_status'].prefer_dropdown = true

    const trapTypeLuts = cachedModel({
      modelName: fields.value['trap_type'].optionsKey,
    })

    // we need to map symbol to value so it can be used in q select
    const trapTypes = trapTypeLuts.map((option) => {
      option.value = option.symbol
      return option
    })

    return {
      fields,
      trapTypes,
    }
  },
  data() {
    const localRecord = this.modelValue || []

    const columns = [
      {
        name: 'value',
        align: 'center',
        label: 'Line name',
        field: 'line',
      },
    ]
    this.trapTypes.forEach(({ symbol, label }) =>
      columns.push({
        name: 'value',
        align: 'center',
        label,
        field: symbol,
      }),
    )

    const trapTypeOptions = this.updateTrapTypeOptions(this.selectedLine)
    const firstTrapInEachLine = {
      B: 'P1',
      E: 'P7',
      A: 'C1',
      C: 'C3',
      D: 'C5',
      F: 'C7',
    }

    const trapNumber = this.modelValue?.length
      ? this.modelValue.at(-1).trap_number
      : firstTrapInEachLine[this.selectedLine]
    return {
      columns, // summary table
      showSummary: false,
      localRecord, //
      // selected fence name or trap line
      firstTrapInEachLine,
      // default to last trap of the the localRecord or first trap if empty
      selectedTrapType: trapNumber.split('')[0],
      trapNumber,
      trapTypeOptions, // q select options
      expanded: false,
    }
  },
  watch: {
    selectedLine() {
      this.trapTypeOptions = this.updateTrapTypeOptions(this.selectedLine)
      this.localRecord = []
      this.trapNumber = this.modelValue?.length
        ? this.modelValue.at(-1).trap_number
        : this.firstTrapInEachLine[this.selectedLine]
      this.selectedTrapType = this.trapNumber.split('')[0]
    },
  },
  computed: {
    // for crud
    selectedTrapData() {
      const data = this.localRecord.find(
        (trap) => trap.trap_number === this.trapNumber,
      )
      const trapDataOfSameType =
        cloneDeep(
          this.localRecord.findLast(
            (trap) => trap.trap_type === this.selectedTrapType,
          ),
        ) || {}
      delete trapDataOfSameType.location
      delete trapDataOfSameType.barcode
      delete trapDataOfSameType.trap_photo
      if (!data)
        return {
          ...trapDataOfSameType,
          line_name: this.selectedLine,
          trap_type: this.selectedTrapType,
          trap_number: this.trapNumber,
        }
      return data
    },
    /**
     * check if the current trap is added or not , so we can update the submit btn label
     */
    selectedTrapIsAdded() {
      const index = this.localRecord.findIndex(
        (trap) => trap.trap_number === this.trapNumber,
      )
      return index > -1
    },
    /**
     * list of added traps
     */
    trapOptions() {
      const traps = trapOder[this.selectedLine]
      const trapWithSameType = traps.filter((trap) =>
        trap.match(this.selectedTrapType),
      )
      return trapWithSameType
    },
    /**
     * control fields to display based on trap type
     * as we have a filter outside of the CrudUi so
     * we can't user conditionalFieldsCallBack
     */
    displayFields() {
      const fields = cloneDeep(this.fields)
      const isPitfall = this.selectedTrapType === 'P'
      fields.trap_depth.hidden = !isPitfall
      fields.trap_height.hidden = isPitfall
      fields.trap_length.hidden = isPitfall

      const trapSpecificsMap = {
        P: ['PVC pipe', 'Plastic bucket', 'Temporary plastic sheet'],
        F: ['Shadecloth', 'Shadecloth with hessian/other bag'],
        C: ['Wire mesh, foot plate mechanism', 'Wire mesh, hook mechanism'],
        B: ['Foldable aluminium or galvanised steel '],
      }
      const filterFn = (option) =>
        trapSpecificsMap[this.selectedTrapType].includes(option.label)
      fields.trap_specifics.optionsFilter = filterFn

      fields.barcode.rules = [
        (val) => {
          const duplicated = this.localRecord.some((trap) => {
            return trap.barcode === val && trap.trap_number !== this.trapNumber
          })
          return !duplicated || 'Barcode must be unique'
        },
      ]
      this.updateTrapStatusOptions(fields, isPitfall)

      return fields
    },
    summaryDetails() {
      if (!this.localRecord?.length) return 0
      // sort the trap based on line name and trap type like this { "B": { "P": 1, "F": 1 } }
      const data = this.localRecord.reduce((acc, trap) => {
        if (!acc[trap.line_name]) {
          acc[trap.line_name] = {
            [trap.trap_type]: 1,
          }
        } else if (!acc[trap.line_name][trap.trap_type]) {
          acc[trap.line_name][trap.trap_type] = 1
        } else acc[trap.line_name][trap.trap_type]++

        return acc
      }, {})

      // we convert to data structure required by q-table
      let table = []
      for (const [line, trapCount] of Object.entries(data)) {
        table.push({ line, ...trapCount })
      }
      return table
    },
  },
  methods: {
    updateModelValue(e) {
      // check if the trap record exist
      const index = this.localRecord.findIndex(
        ({ trap_number }) => trap_number === e.trap_number,
      )
      if (index === -1) {
        this.localRecord.push(e)
      } else {
        this.localRecord[index] = e
      }

      this.$emit('update:modelValue', this.localRecord)

      // move to next trap
      this.moveToNextTrap()

      this.scrollToTop()
    },
    moveToNextTrap() {
      // do nothing if are at the end of the trap line
      // don't need to move to next line as workflow require adding new line before marking traps
      const lastTraps = ['C2', 'P6', 'C4', 'C6', 'P12', 'C8']
      if (lastTraps.includes(this.trapNumber)) {
        this.expanded = false
        notifyHandler('positive', 'We reach the end of the trap line(fence)')
        return
      }
      const currentTrapOrder = trapOder[this.selectedLine]
      const prevTrap = this.trapNumber
      const nextTrap =
        currentTrapOrder[currentTrapOrder.indexOf(this.trapNumber) + 1]
      this.trapNumber = nextTrap

      // update trap type
      this.selectedTrapType = this.trapNumber.split('')[0]
      notifyHandler(
        'positive',
        `Trap ${prevTrap} marked, moving to ${this.trapNumber}`,
      )
      return
    },
    updateTrapTypeOptions(trapLine) {
      const trapTypesOfTheLine = fenceLines.includes(trapLine)
        ? Object.keys(trapPerFence)
        : Object.keys(trapPerLine)
      const trapTypeOptions = this.trapTypes.filter((option) =>
        trapTypesOfTheLine.includes(option.symbol),
      )
      return trapTypeOptions
    },
    updateTrapStatusOptions(fields, isPitfall) {
      const pitfallStatus = [
        'Pitfall closed - filled in',
        'Pitfall closed - lid secured',
      ]

      if (isPitfall) {
        fields.trap_set_status.optionsFilter = ({ label }) =>
          pitfallStatus.includes(label)
      } else {
        fields.trap_set_status.optionsFilter = ({ label }) =>
          !pitfallStatus.includes(label)
      }
    },
    trapIsAdded(trapName) {
      const isAdded = this.localRecord.some(
        ({ trap_number }) => trap_number === trapName,
      )
      return isAdded
    },
    scrollToTop() {
      // have to set a delay as it got overridden by the crud validation
      setTimeout(() => {
        this.$refs['top'].scrollIntoView({
          behavior: 'smooth',
        })
      }, 100)
    },
  },
}
</script>
