<template>
  <div ref="top">
    <q-banner
      v-if="!setupSurveyDropdownOptions.length"
      rounded
      class="bg-red text-white"
    >
      No trapping survey data related to the selected plot could be found.
    </q-banner>
    <template v-else>
      <TrapSummary
        :trapsData="trapsInitOptions"
        :checkedTraps="localRecord"
        action="remove"
      />
      <q-select
        :disable="localRecord.length > 0"
        label="Select related survey setup time"
        v-model="selectedSetupSurvey"
        :options="setupSurveyDropdownOptions"
        emit-value
        map-options
      />
      <TrapFromBarcode
        :trapsInitOptions="trapsInitOptions"
        v-model="selectedTrap"
        :model-config="modelConfig"
      />
      <Crud
        v-if="selectedSetupSurvey && selectedTrap"
        :fields="fields"
        :current-prot-id="protocolId"
        :model-value="selectedTrapInfo"
        :row-data-key="modelName"
        :submitBtnLabel="!selectedTrapInfo?.date_time ? 'close' : 'update close'"
        :excludeSubmitBtnFlag="false"
        @update:modelValue="closeTrap"
      />
      <div v-if="localRecord.length > 1">
        Traps closed: {{ localRecord.length }}/{{ trapsInitOptions.length }}
      </div>
    </template>
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import { useDataManagerStore } from 'src/stores/dataManager'
import {
  notifyHandler,
  makeVertTrapsInitOptions,
  asyncCrud as Crud,
  makeModelConfig,
} from 'src/misc/helpers'
import { cloneDeep, isEqual } from 'lodash'
import { computed, ref, inject } from 'vue'
import TrapFromBarcode from './TrapFromBarcode.vue'
import TrapSummary from './TrapSummary.vue'
export default {
  inject: ['doc'],
  components: { TrapFromBarcode, Crud, TrapSummary },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      required: true,
    },
  },
  setup(props) {
    const bulkStore = useBulkStore()
    const { surveyDataFromPlot } = useDataManagerStore()

    const doc = inject('doc')?.value
    const modelConfig = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    modelConfig.fields.trap_status.prefer_dropdown = true

    // get data from trap setup survey
    const currentPlotLayoutId = bulkStore.getPlotLayoutId

    // get setup survey related to current plot
    const setupModelName = 'vertebrate-trapping-setup-survey'
    const associatedSetupSurvey = surveyDataFromPlot({
      modelName: setupModelName,
      plotLayoutId: currentPlotLayoutId,
    })

    const setupSurveyDropdownOptions = associatedSetupSurvey.map((survey) => {
      let idToUse = null
      if (survey?.id) idToUse = survey.id
      else if (survey?.temp_offline_id) idToUse = { id: survey.temp_offline_id }

      return {
        value: idToUse,
        label: new Date(survey.start_date_time),
      }
    })

    if (!props.modelValue?.length) {
      delete bulkStore['autoSavedCollections'][props.protocolId]
    }
    const relatedSurveySetup = computed(() => {
      const relatedSurveySetup =
        bulkStore['autoSavedCollections'][props.protocolId]?.relatedSurveySetup
      return relatedSurveySetup
    })
    return {
      fields: ref(modelConfig.fields),
      modelConfig,
      setupSurveyDropdownOptions,
      bulkStore,
      relatedSurveySetup,
    }
  },
  data() {
    return {
      // selected fence name or trap line
      selectedTrap: null,
      selectedSetupSurvey:
        this.relatedSurveySetup ||
        this.setupSurveyDropdownOptions.at(-1)?.value,
      selectedTrapInfo: {},
      localRecord: cloneDeep(this.modelValue) || [],
      cachedTrapStatus: {
        P: null,
        F: null,
        C: null,
        B: null,
      },
    }
  },
  computed: {
    selectedTrapIndex() {
      let selectedTrapId = null
      if (this.selectedTrap?.id) {
        selectedTrapId = this.selectedTrap.id
      } else if (this.selectedTrap?.temp_offline_id) {
        selectedTrapId = this.selectedTrap.temp_offline_id
      }

      const index = this.localRecord.findIndex((data) => {
        // data.trap_number === this.selectedTrap?.id
        let currDataId = null
        if (
          typeof data.trap_number === 'object' &&
          data.trap_number?.temp_offline_id
        ) {
          //we've stored a temp offline relation to the trap number
          currDataId = data.trap_number.temp_offline_id
        } else {
          //we've stored an int relation (collected online) to the trap number
          currDataId = data.trap_number
        }

        if (selectedTrapId && currDataId) {
          return selectedTrapId === currDataId
        }
        return false
      })
      return index
    },
    trapsInitOptions() {
      return makeVertTrapsInitOptions(this.selectedSetupSurvey)
    },
    currentTrapType() {
      return this.selectedTrap?.label?.substring(0, 1)
    },
  },
  methods: {
    findExistingTrapIndex(trapId) {
      return this.modelValue?.findIndex((trap) => {
        if (Number.isInteger(trap.trap_number)) {
          return trap.trap_number === trapId
        }

        if (
          typeof trap.trap_number === 'object' &&
          trap.trap_number.temp_offline_id
        ) {
          return trap.trap_number.temp_offline_id === trapId
        }
      })
    },
    onSubmitFunc() {
      let uncheckedTraps = this.trapsInitOptions.filter((trap) => {
        const index = this.findExistingTrapIndex(
          trap.id ? trap.id : trap.temp_offline_id,
        )
        return index === -1
      })
      uncheckedTraps = uncheckedTraps.map(({ label }) => label)
      const autoSave = this.bulkStore['autoSavedCollections'][this.protocolId]
      if (uncheckedTraps.length) {
        if (autoSave) {
          this.bulkStore.autoSavedCollections[
            this.protocolId
          ].allTrapsRemoved = false
        }
        notifyHandler(
          'warning',
          `${uncheckedTraps.toString()} have not been closed`,
        )
      } else {
        if (autoSave) {
          this.bulkStore.autoSavedCollections[
            this.protocolId
          ].allTrapsRemoved = true
        }
      }
      return true
    },
    closeTrap(newRecord) {
      // we save trap setup survey id temporarily
      // as trap survey id is not collected for this step
      // but we need it to retrieve information related to fence line (fence line id)
      // trap setup survey id
      if (!this.relatedSurveySetup) {
        this.bulkStore['autoSavedCollections'][this.protocolId] = {
          relatedSurveySetup: this.selectedSetupSurvey,
        }
      }
      if (this.selectedTrapIndex === -1) {
        const trapNumber = this.getTrapNumber()
        newRecord.trap_number = trapNumber
        this.localRecord.push(newRecord)
      } else {
        this.localRecord[this.selectedTrapIndex] = {
          ...this.localRecord[this.selectedTrapIndex],
          ...newRecord,
        }
      }
      this.$emit('update:modelValue', this.localRecord)
      this.moveToNextTrap(newRecord)
    },
    moveToNextTrap(newRecord) {
      if (this.selectedTrapIndex < this.trapsInitOptions.length - 1) {
        this.cachedTrapStatus[this.currentTrapType] = newRecord.trap_status
        const prevTrap = this.selectedTrap.trap_number
        this.selectedTrap = this.trapsInitOptions[this.selectedTrapIndex + 1]
        // save status of the trap type before moving to next trap for auto fill
        notifyHandler(
          'positive',
          `Trap ${prevTrap} closed, moving to ${this.selectedTrap.trap_number}`,
        )
      } else {
        this.selectedTrapInfo = newRecord
      }
    },
    getTrapNumber() {
      if (!this.selectedTrap) return

      let idToUse = null
      if (this.selectedTrap?.id) {
        idToUse = this.selectedTrap.id
      } else if (this.selectedTrap?.temp_offline_id) {
        idToUse = {
          temp_offline_id: this.selectedTrap.temp_offline_id,
        }
      }

      return idToUse
    },
    updateFields() {
      const pitfallStatus = [
        'Pitfall closed - filled in',
        'Pitfall closed - lid secured',
      ]

      if (this.selectedTrap?.label?.startsWith('P')) {
        this.fields.trap_status.optionsFilter = ({ label }) =>
          pitfallStatus.includes(label)
        this.fields.closed_pitfall_photo.hidden = false
      } else {
        this.fields.trap_status.optionsFilter = ({ label }) =>
          !pitfallStatus.includes(label)
        this.fields.closed_pitfall_photo.hidden = true
      }
    },
  },
  watch: {
    selectedTrap: {
      handler(newVal) {
        if(!newVal) {
          this.selectedTrapInfo = null
          return
        }
        
        const idToUse = this.getTrapNumber()

        const data = this.localRecord.find(
          //use `isEqual` as it might be object (offline collection) with `temp_offline_id`
          (trap) => isEqual(trap.trap_number, idToUse),
        )
        const currentTrapType = newVal.label?.substring(0, 1)
        this.selectedTrapInfo = !data
          ? {
              trap_status: this.cachedTrapStatus[currentTrapType],
            }
          : data

        this.updateFields()
      },
      deep: true,
    },
  },
}
</script>
