<!-- this component is used for both trap line and drift fence(which is basically a trap line) -->
<template>
  <div>
    <TrappingMap class="q-my-md" ref="trapLayout" />
    <q-list separator bordered>
      <q-expansion-item
        v-for="(line, index) in localRecord"
        :key="index"
        :label="getExpansionLabel(line['line_name'])"
        :data-cy="line.line_name + '_expansion'"
        :header-class="`text-${getExpansionLabelColor(line)} text-bold`"
        group="vertebrate"
        v-model="expansionItems[index]"
      >
        <template  v-if="expansionItems[index]">
          <crud
            ref="crud"
            :fields="fields"
            :current-prot-id="protocolId"
            :modelValue="line"
            :conditional-fields="conditionalFields"
            :conditional-field-callback="conditionalFieldsCallback"
            @update:modelValue="(e) => updateModelValue(index, e)"
          />
          <q-card-section class="q-gutter-sm">
            <q-btn
              data-cy="done"
              class="q-my-md"
              label="end trap line"
              rounded
              color="green"
              @click="endTrapLine(index)"
            />
          </q-card-section>
        </template>
      </q-expansion-item>
    </q-list>
  </div>
</template>
<script>
import {
  asyncCrud,
  notifyHandler,
  createDependentFieldCallback,
  makeModelConfig,
} from 'src/misc/helpers'
import { cloneDeep, isEqual } from 'lodash'
import TrappingMap from 'src/components/Vertebrate/TrappingMap.vue'
import { inject } from 'vue'
export default {
  inject: ['doc'],
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      required: true,
    },
    userCoords: {
      required: true,
    },
  },
  components: {
    crud: asyncCrud,
    TrappingMap,
  },
  setup(props) {
    const doc = inject('doc')?.value
    const { fields } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    fields.line_name.disable = true
    fields.traps.type = 'vertebrate_trap'
    fields.start_location.initCurrent = false
    fields.end_location.initCurrent = false

    // drift fences are B and E
    // the others are trap lines
    const fenceNames = ['B', 'E']
    const lineNames = ['A', 'C', 'D', 'F']
    const setupOrder = ['B', 'E', 'A', 'C', 'D', 'F']

    return {
      fenceNames,
      lineNames,
      setupOrder,
      fields,
    }
  },
  mounted() {
    this.expansionItems = !this.modelValue
      ? [true]
      : this.modelValue?.map(() => false)
    this.trapLineCoords = this.$refs.trapLayout.trapLineCoords
    // have to init data in mounted as cannot access ref for trapLineCoords in setup or data
    if (this.modelValue) {
      this.localRecord = cloneDeep(this.modelValue)
    } else {
      for (const line of this.setupOrder) {
        this.localRecord.push({
          line_name: line,
          start_location: this.trapLineCoords[line].start_location,
          end_location: this.trapLineCoords[line].end_location,
        })
      }
    }
  },
  data() {
    // conditional fields that only applicable to fence, as we have fence line and trap line
    this.fields.fence_type.hidden = true
    const conditionalFields = [
      {
        field: 'fence_type',
        dependsOn: 'line_name',
        dependsOnSelection: this.fenceNames,
        fieldCb: ({ newVal, oldVal, inputDef }) => {
          if (isEqual(newVal, oldVal)) return
          if (
            ['B', 'E'].includes(newVal?.line_name?.value) ||
            ['B', 'E'].includes(newVal?.line_name)
          ) {
            const rule = (val) => val || 'This field is required'
            inputDef.rules = [rule]
          } else {
            inputDef.rules = []
          }
          // update start and end location if line name is changed
          const oldLineName = oldVal.line_name?.value || oldVal.line_name
          const newLineName = newVal.line_name?.value || oldVal.line_name
          if (oldLineName !== newLineName) {
            newVal.start_location =
              this.trapLineCoords[newLineName].start_location
            newVal.end_location = this.trapLineCoords[newLineName].end_location
            return newVal
          }
        },
      },
      {
        field: 'fence_height',
        dependsOn: 'line_name',
        dependsOnSelection: this.fenceNames,
      },
    ]

    return {
      expansionItems: [],
      localRecord: [],
      trapLineCoords: null,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  computed: {
    availableFenceNames() {
      const availableFenceNames = this.setupOrder.filter(
        (name) => !this.modelValue?.some((item) => name === item['line_name']),
      )
      return availableFenceNames
    },
  },
  methods: {
    onSubmitFunc() {
      for (const line of this.localRecord) {
        const noTrapsRequiredCheck = this.checkTrapsRecord(line)
        if (!noTrapsRequiredCheck) return false
      }
      return true
    },
    async endTrapLine(index) {
      const res = await this.$refs.crud[0].onSubmitFunc()
      this.checkTrapsRecord(this.localRecord[index])
      if (!res) return
      this.expansionItems[index] = false
    },
    updateModelValue(index, e) {
      this.localRecord[index] = e
      this.$emit('update:modelValue', cloneDeep(this.localRecord))
    },
    checkTrapsRecord(newVal) {
      if (!newVal.traps) return
      const missingTraps = this.calculatingMissingTraps(newVal)
      // validate traps number
      for (const [trapType, numMissing] of Object.entries(missingTraps)) {
        if (numMissing) {
          notifyHandler(
            'warning',
            `${newVal.line_name} is missing ${numMissing} ${trapType}(s)`,
          )
          return false
        }
      }
      return true
    },
    calculatingMissingTraps(record) {
      // number of trap required per drift fence
      const trapPerFence = {
        F: 4, // funnel
        P: 6, // pitfall
      }
      // number of trap required per line
      const trapPerLine = {
        C: 2, // cage
        B: 10, // elliot
      }
      // count and sort based on trap_type
      const count = {}
      if (record.traps) {
        for (const trap of record.traps) {
          if (!count[trap.trap_type]) {
            count[trap.trap_type] = 1
          } else {
            count[trap.trap_type]++
          }
        }
      }

      const missingTraps = ['B', 'E'].includes(record.line_name)
        ? trapPerFence
        : trapPerLine
      for (const line in missingTraps) {
        const currentCount = count[line] || 0
        missingTraps[line] = missingTraps[line] - currentCount
      }
      return missingTraps
    },
    getExpansionLabel(lineName) {
      if (this.fenceNames.includes(lineName)) return `Drift Fence ${lineName}`
      else return `Trap Line ${lineName}`
    },
    getExpansionLabelColor(record) {
      const numMissingTraps = this.calculatingMissingTraps(record)
      let color = 'red'
      for (const missing of Object.values(numMissingTraps)) {
        if (missing == 0) {
          color = 'blue'
          break
        }
      }
      return color
    },
  },
}
</script>
