<!-- This component is used to retrieve trap info from barcode instead of recording barcode -->
<template>
  <q-card bordered :class="`q-pa-md ${bgClass}`">
    <q-banner class="bg-info">
      <q-icon name="info" />
      You can either scan the barcode to get the trap ID or manually
      select/search for it in the dropdown menu below the scanner.
    </q-banner>
    <BarcodeReader
      :class="`q-my-md ${bgClass}`"
      :model-value="selectedTrap?.barcode"
      @update:modelValue="findTrap"
      :rules="[]"
    />
    <q-select
      class="q-mx-sm"
      data-cy="trap_number"
      label="Trap ID"
      v-model="selectedTrap"
      :options="trapOptions"
      map-options
      use-input
      clearable
      @filter="filterFn"
      :hint="hint"
      hide-bottom-space
    />
  </q-card>
</template>
<script>
import { notifyHandler } from 'src/misc/helpers'
import BarcodeReader from '../BarcodeReader.vue'
import isEqual from 'lodash/isEqual'
export default {
  components: {
    BarcodeReader,
  },
  props: {
    trapsInitOptions: {
      type: Array,
      required: true,
    },
    modelValue: {
      required: true,
    },
    hint: {
      type: String,
    },
    modelConfig: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      selectedTrap: this.modelValue,
      trapOptions: this.trapsInitOptions,
    }
  },
  methods: {
    findTrap(barcode) {
      const index = this.trapsInitOptions.findIndex(
        (trap) => trap.barcode === barcode,
      )
      if (index === -1) {
        return notifyHandler(
          'negative',
          'The barcode does not match any trap. Please manually select the trap number.\
           If the trap number cannot be found, it is possible that it has not been marked.',
        )
      }

      this.selectedTrap = this.trapsInitOptions[index]
    },
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.trapOptions = this.trapsInitOptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.trapOptions = this.trapsInitOptions.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1,
        )
      })
    },
  },
  watch: {
    selectedTrap: {
      handler(newVal) {
        if (isEqual(newVal, this.modelValue)) return
        this.$emit('update:modelValue', structuredClone(newVal))
      },
      deep: true,
    },
    modelValue(newVal) {
      this.selectedTrap = newVal
    },
  },
  computed: {
    bgClass() {
      return `bg-grey-${this.$q.dark.isActive ? 10 : 1}`
    },
  },
}
</script>
