<template>
  <div>
    <q-btn
      @click="show = true"
      color="primary"
      class="q-my-auto"
      label="Summary"
    />
    <q-dialog v-model="show">
      <q-card>
        <q-card-actions align="right">
          <q-btn label="back" color="primary" v-close-popup />
        </q-card-actions>
        <q-card-section class="row">
          <div
            v-for="line in Object.keys(lines)"
            :key="line"
            class="col row items-center q-mb-md"
          >
            <q-list class="full-height row items-center">
              <q-item>
                <q-item-section>
                  <div class="">
                    <q-chip
                      v-for="trap in lines[line]"
                      :key="trap"
                      :color="isTrapChecked(trap) ? 'green' : 'red'"
                      style="min-width: 50px"
                    >
                      {{ trap.trap_number }}
                    </q-chip>
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>
        <q-card-section>
          <div class="row q-gutter-md items-center">
            <div>
              <q-chip class="col" color="green" />
            </div>
            <div class="col">
              Traps {{ action === 'check' ? 'checked' : 'removed' }}
            </div>
          </div>
          <div class="row q-gutter-md items-center">
            <div>
              <q-chip class="col" color="red" />
            </div>
            <div class="col">
              Traps not {{ action === 'check' ? 'checked' : 'removed' }}
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { ref } from 'vue'
export default {
  props: {
    trapsData: {
      type: Array,
      required: true,
    },
    checkedTraps: {
      type: Array,
      required: true,
    },
    action: {
      type: String,
      default: 'check',
    },
  },
  setup(props) {
    const lines = props.trapsData.reduce(
      (accum, curr) => {
        if (!accum[curr.line_name]) {
          accum[curr.line_name] = [curr]
        } else {
          accum[curr.line_name].push(curr)
        }
        return accum
      },
      { A: [], B: [], C: [], D: [], E: [], F: [] },
    )

    function isTrapChecked(trapInfo) {
      const isChecked = props.checkedTraps.some(
        (trap) =>
          trap.trap_number === trapInfo.trap_number ||
          (trapInfo.temp_offline_id &&
            trap.trap_number?.temp_offline_id === trapInfo.temp_offline_id),
      )
      return isChecked
    }

    return { lines, show: ref(false), isTrapChecked }
  },
}
</script>
