<template>
  <div>
    <q-btn label="Trap layout" color="secondary" @click="showMap = true" />
    <q-dialog v-model="showMap" maximized>
      <q-card>
        <q-card-actions align="right">
          <q-btn label="close" color="primary" v-close-popup />
        </q-card-actions>
        <q-card-section>
          <div class="text-h6">Trap layout</div>
        </q-card-section>
        <q-card-section>
          <InvertebrateMap
            :trap-points="trapPoints"
            :model-zoom="19"
            :init-to-plot-center="true"
            :mapHeightPercentage="0.7"
            selected-plot="F"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { getMapOrientation, getDestinationPoint } from 'src/misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import InvertebrateMap from '../Invertebrate/InvertebrateMap.vue'
import { ref } from 'vue'
export default {
  components: {
    InvertebrateMap,
  },
  setup() {
    // get plot layout
    const { plotLayoutPoints } = useApiModelsStore()
    const plotLayout = plotLayoutPoints('fauna')
    const [SWplotPoint, NWplotPoint] = plotLayout.latLngs
    const bearing = getMapOrientation(SWplotPoint, NWplotPoint)

    // calculate B1 location
    const lineDistanceFromSBorder = 5 //m
    const lineDistanceFromEborder = 20 //m
    const B1DistanceFromSWCorner = Math.sqrt(
      lineDistanceFromSBorder ** 2 + lineDistanceFromEborder ** 2,
    )

    const B1Bearing =
      bearing + Math.atan(lineDistanceFromEborder / lineDistanceFromSBorder)
    const B1Point = getDestinationPoint(
      SWplotPoint,
      B1Bearing,
      B1DistanceFromSWCorner,
    )
    // get B20 B21 and B40
    const trapLineSpacing = 20 //m
    const B20Point = getDestinationPoint(
      B1Point,
      bearing + Math.PI / 2,
      trapLineSpacing,
    )
    const B21Point = getDestinationPoint(
      B1Point,
      bearing + Math.PI / 2,
      trapLineSpacing * 2,
    )
    const B40Point = getDestinationPoint(
      B1Point,
      bearing + Math.PI / 2,
      trapLineSpacing * 3,
    )

    const fenceDistanceFromSBorder = 25 //m
    const fenceDistanceFromEBorder = 30 //m
    const P1DistanceFromSWCorner = Math.sqrt(
      fenceDistanceFromSBorder ** 2 + fenceDistanceFromEBorder ** 2,
    )
    const P1Bearing =
      bearing + Math.atan(fenceDistanceFromEBorder / fenceDistanceFromSBorder)
    const P1Point = getDestinationPoint(
      SWplotPoint,
      P1Bearing,
      P1DistanceFromSWCorner,
    )
    const fenceSpacing = 40 //m
    const P12Point = getDestinationPoint(
      P1Point,
      bearing + Math.PI / 2,
      fenceSpacing,
    )
    const funnel1_2 = getDestinationPoint(P1Point, bearing, 5)
    const funnel3_4 = getDestinationPoint(P12Point, bearing, 45)
    const funnel7_8 = getDestinationPoint(P12Point, bearing, 5)
    const funnel5_6 = getDestinationPoint(P1Point, bearing, 45)

    // first traps of each trap lines
    const trapLines = [
      { trapId: 'B1', ...B1Point },
      { trapId: 'B20', ...B20Point },
      { trapId: 'B21', ...B21Point },
      { trapId: 'B40', ...B40Point },
      { trapId: 'P1', ...P1Point },
      { trapId: 'P12', ...P12Point },
    ]
    const trapPoints = [
      { trapId: 'F1-F2', ...funnel1_2, color: 'blue' },
      { trapId: 'F3-F4', ...funnel3_4, color: 'blue' },
      { trapId: 'F7-F8', ...funnel7_8, color: 'blue' },
      { trapId: 'F5-F6', ...funnel5_6, color: 'blue' },
    ]
    const trapSpacing = 10 //m
    // other traps locations
    const endLocations = []
    for (const firstTrap of trapLines) {
      // we get the number part from the first trap B1 B20 B21 B40
      const firstTrapNumber = parseInt(firstTrap.trapId.replace(/[^\d]/g, ''))
      const trapType = firstTrap.trapId.replace(firstTrapNumber, '')
      trapPoints.push({
        ...firstTrap,
        color: trapType === 'B' ? 'green' : 'orange',
      })
      const numberOfTraps = trapType === 'B' ? 9 : 5 //per line
      for (let i = 0; i < numberOfTraps; i++) {
        const nextTrapNumber = i + 1
        const trapId =
          firstTrapNumber % 2 === 0
            ? `${trapType}${firstTrapNumber - nextTrapNumber}`
            : `${trapType}${firstTrapNumber + nextTrapNumber}`

        const nextPointLatLng = getDestinationPoint(
          firstTrap,
          bearing,
          trapSpacing * nextTrapNumber,
        )
        if (i === numberOfTraps - 1) {
          endLocations.push(nextPointLatLng)
        }
        const nextPoint = {
          trapId,
          ...nextPointLatLng,
          color: trapType === 'B' ? 'green' : 'orange',
        }
        trapPoints.push(nextPoint)
      }
    }

    // recording fence start and end locations
    const trapLineCoords = {
      A: {
        start_location: B1Point,
        end_location: endLocations[0],
      },
      C: {
        start_location: B20Point,
        end_location: endLocations[1],
      },
      D: {
        start_location: B21Point,
        end_location: endLocations[2],
      },
      F: {
        start_location: B40Point,
        end_location: endLocations[3],
      },
      B: {
        start_location: P1Point,
        end_location: endLocations[4],
      },
      E: {
        start_location: P12Point,
        end_location: endLocations[5],
      },
    }

    return { trapPoints, showMap: ref(false), trapLineCoords }
  },
  exposes: ['trapLineCoords'],
}
</script>
