<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="fields"
      :title="''"
      :row-data-key="rowDataKey"
      :exclude-submit-btn-flag="true"
      :add-btn-label="'Add opportune record'"
      :submit-btn-label="'Save opportune record'"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :collection-survey-flag="true"
      :user-coords="userCoords"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>
<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  notifyHandler,
  generateObservationId,
  getValuesFromUniqueCollections,
} from 'src/misc/helpers'
import { cloneDeep, isEqual } from 'lodash'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import obsMethodT2Map from './obsMethodT2Map'
export default {
  inject: ['doc'],
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    rowDataKey: String,
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    return {
      apiModelsStore,
      bulkStore,
    }
  },
  data() {
    const { fields } = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    //we need a file picker that can accept any files, and also the ability to take
    //pictures, video, and audio from within the app
    fields.media.type = 'opportunistic_media'

    // replace this field with OpportuneFaunaDetails.vue component
    fields.selections_option.type = 'opportune_fauna_details'

    // replace the default barcode reader with OpportuneVoucher.vue
    fields.vouchered_specimens.type = 'opportune_voucher'

    const hideDefault = [
      'species',
      'confident',
      'vouchered_specimens',
      'add_additional_fauna_data',
      'selections_option',
      'observation_method_tier_1',
      'growth_form_and_life_stage',
      'observation_method_tier_2',
      'other_observation_method_tier_2',
      'observation_method_tier_3',
    ]
    for (const field of hideDefault) {
      fields[field].hidden = true
    }

    const conditionalFields = [
      {
        field: 'observation_id',
        fieldCb: this.observationIdCb,
      },
      {
        field: 'taxa_type',
        fieldCb: this.taxaTypeCb,
      },
      {
        field: 'species',
        dependsOn: 'taxa_type',
      },
      {
        field: 'confident',
        dependsOn: 'species',
        fieldCb: this.autoFillConfidentFieldCb,
      },
      {
        field: 'observation_method_tier_2',
        dependsOn: 'observation_method_tier_1',
        fieldCb: this.rulesCbTier2,
      },
      {
        field: 'other_observation_method_tier_2',
        dependsOn: 'observation_method_tier_2',
        dependsOnSelection: ['OT'],
      },
      {
        field: 'observation_method_tier_3',
        dependsOn: 'observation_method_tier_2',
        dependsOnSelection: ['SC', 'WP', 'BU', 'DE', 'NE', 'ED'],
      },
      {
        field: 'vouchered_specimens',
        dependsOn: 'taxa_type',
      },
      {
        field: 'add_additional_fauna_data',
        dependsOn: 'taxa_type',
        dependsOnSelection: ['AM', 'BI', 'INV', 'MA', 'RE'],
      },
      {
        field: 'selections_option',
        dependsOn: 'add_additional_fauna_data',
      },
      {
        field: 'observation_method_tier_1',
        dependsOn: 'taxa_type',
        dependsOnSelection: ['AM', 'BI', 'INV', 'MA', 'RE'],
        fieldCb: this.rulesCbTier1,
      },
      {
        field: 'growth_form_and_life_stage',
        dependsOn: 'taxa_type',
        dependsOnSelection: ['VP'],
      },
    ]

    return {
      fields,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      defaultRulesTier1: cloneDeep(fields.observation_method_tier_1.rules),
    }
  },
  methods: {
    async onSubmitFunc() {
      return true
    },
    removeRules(tier) {
      // duplicate rules exist when save record because of cb functions, so remove them at the beginning to make sure rule is empty by default
      // if use this.fields[tier].rules = [] will trigger mounted situations e.g. hidden fields. So use pop() to remove elements untile empty
      for (let i = this.fields[tier].rules.length; i > 0; i--) {
        this.fields[tier].rules.pop()
        break
      }
    },
    rulesTier1(taxa) {
      const type = ['AM', 'BI', 'INV', 'MA', 'RE']
      if (type.includes(taxa)) {
        if (this.fields.observation_method_tier_1.rules.length === 0) {
          this.fields.observation_method_tier_1.rules.push(
            (value) =>
              (value !== undefined && value !== null && value !== '') ||
              `This field is required`,
          )
        }
      } else {
        this.fields.observation_method_tier_1.rules.pop()
      }
    },
    rulesCbTier1({ newVal }) {
      this.removeRules('observation_method_tier_2')
      if (newVal.observation_method_tier_1) {
        this.fields.observation_method_tier_2.rules.push(
          (value) =>
            (value !== undefined && value !== null && value !== '') ||
            `This field is required`,
        )
      } else {
        this.fields.observation_method_tier_2.rules.pop()
      }
    },
    rulesCbTier2({ newVal }) {
      this.removeRules('observation_method_tier_3')
      const tier2 = ['SC', 'WP', 'BU', 'DE', 'NE', 'ED']
      if (tier2.includes(newVal.observation_method_tier_2?.value)) {
        this.fields.observation_method_tier_3.rules.push(
          (value) =>
            (value !== undefined && value !== null && value !== '') ||
            `This field is required`,
        )
      } else {
        this.fields.observation_method_tier_3.rules.pop()
      }
    },
    observationIdCb({ newVal }) {
      let updatedNewRecord = null
      if (!newVal.observation_id) {
        const savedOpportuneIDs = getValuesFromUniqueCollections(
          this.bulkStore,
          this.rowDataKey,
          'observation_id',
        )
        const recordIndex = this.modelValue?.length || 0
        const currentLength =
          parseInt(Object.keys(savedOpportuneIDs).length) + 1 + recordIndex

        updatedNewRecord = cloneDeep(newVal)
        updatedNewRecord.observation_id = generateObservationId(
          currentLength,
          'OPP',
          true,
        )
      }

      if (updatedNewRecord !== null) {
        return {
          record: updatedNewRecord,
          suppressDependencyHandler: false,
        }
      }
    },
    taxaTypeCb({ newVal, oldVal, inputDefs }) {
      //various measurements fields are included based on taxa
      const selectedTaxa = newVal.taxa_type?.value
        ? newVal.taxa_type.value
        : newVal.taxa_type
      const currentObId = newVal.observation_id
      const oldTaxa = oldVal.taxa_type?.value
        ? oldVal.taxa_type.value
        : oldVal.taxa_type
      const oldObId = oldVal.observation_id
      let updatedNewRecord = null
      if (
        selectedTaxa &&
        newVal.add_additional_fauna_data &&
        oldTaxa &&
        !isEqual(selectedTaxa, oldTaxa) &&
        currentObId === oldObId
      ) {
        let msg = 'Taxa type changed, clearing additional fauna data'
        notifyHandler('info', msg)
        const record = cloneDeep(newVal)
        //resets unsaved child ob
        record.add_additional_fauna_data = false
        //resets saved child ob (both when main ob not saved and when it has been)
        record.selections_option = null
        updatedNewRecord = {
          record,
          suppressDependencyHandler: false,
        }
      }

      // handle observation tier 2 and 3 based on taxa type
      if (selectedTaxa) {
        this.rulesTier1(selectedTaxa)
        const obsMethodT2 = inputDefs.find(
          (item) => item.model === 'observation_method_tier_2',
        )
        const selectedT1 =
          newVal.observation_method_tier_1?.value ||
          newVal.observation_method_tier_1
        // show options based on selected taxa
        obsMethodT2.optionsFilter = (option) => {
          if (!obsMethodT2Map[option.symbol]) {
            console.warn(
              `Cannot find symbol ${option.symbol}, remember to update obsMethodT2Map.js when new vocab is added`,
            )
          }
          const hasSelectedT1 = option.tier_1.some(
            (lut) => lut.symbol === selectedT1,
          )
          return (
            obsMethodT2Map[option.symbol]?.includes(selectedTaxa) &&
            hasSelectedT1
          )
        }
      }

      // return true if updatedNewRecord is null
      return updatedNewRecord == null || updatedNewRecord
    },
    autoFillConfidentFieldCb({ newVal, oldVal }) {
      const confidentTaxonRank = 'species or sp'
      let selectedSpeciesTaxonRank = null

      let updatedNewRecord = null
      if (newVal?.species?.data) {
        //TODO define this as LUT in backend
        const taxonRankMapping = [
          {
            english: 'kingdom',
            latin: 'regnum',
          },
          {
            english: 'subkingdom',
            latin: 'subregnum',
          },
          {
            english: 'division or phylum',
            latin: 'divisio or phylum',
          },
          {
            english: 'subdivision or subphylum',
            latin: 'subdivisio or subphylum',
          },
          {
            english: 'class',
            latin: 'classis',
          },
          {
            english: 'subclass ',
            latin: 'subclassis',
          },
          {
            english: 'superorder',
            latin: 'superordo',
          },
          {
            english: 'order',
            latin: 'ordo',
          },
          {
            english: 'suborder',
            latin: 'subordo',
          },
          {
            english: 'family',
            latin: 'familia',
          },
          {
            english: 'subfamily',
            latin: 'subfamilia',
          },
          {
            english: 'tribe',
            latin: 'tribus',
          },
          {
            english: 'subtribe',
            latin: 'subtribus',
          },
          {
            english: 'genus',
            latin: 'genus',
          },
          {
            english: 'subgenus',
            latin: 'subgenus',
          },
          {
            english: 'section',
            latin: 'sectio',
          },
          {
            english: 'subsection',
            latin: 'subsectio',
          },
          {
            english: 'series',
            latin: 'series',
          },
          {
            english: 'subseries',
            latin: null,
          },
          {
            english: 'superspecies',
            latin: null,
          },
          {
            english: 'species or sp',
            latin: 'species',
          },
          {
            english: 'subspecies or ssp',
            latin: null,
          },
          {
            english: 'variety',
            latin: 'varietas',
          },
          {
            english: 'subvariety ',
            latin: 'subvarietas',
          },
          {
            english: 'form',
            latin: 'forma',
          },
          {
            english: 'subform',
            latin: 'subforma',
          },
        ]
        const taxonCertaintyIndex = taxonRankMapping.findIndex(
          //TODO confirm which taxon rank level is considered 'confident' - going with
          //species or better for now
          (o) => o.english === confidentTaxonRank,
        )

        selectedSpeciesTaxonRank = (() => {
          //check for special case - (sub)division and (sub)phylum are used
          //interchangeably. (sub)species can also be abbreviated
          const selectedSpeciesTaxonRankLower =
            newVal.species.data.taxonRank?.toLowerCase()

          if (!selectedSpeciesTaxonRankLower) {
            //some species list don't have taxon rank (e.g., mammals)
            return null
          }

          if (
            ['division', 'phylum', 'divisio'].includes(
              selectedSpeciesTaxonRankLower,
            )
          ) {
            return 'division or phylum'
          } else if (
            ['subdivision', 'subphylum', 'subdivisio'].includes(
              selectedSpeciesTaxonRankLower,
            )
          ) {
            return 'subdivision or subphylum'
          } else if (
            ['sp', 'species'].includes(selectedSpeciesTaxonRankLower)
          ) {
            return 'species or sp'
          } else if (
            ['ssp', 'subspecies'].includes(selectedSpeciesTaxonRankLower)
          ) {
            return 'subspecies or ssp'
          } else {
            return selectedSpeciesTaxonRankLower
          }
        })()

        let confident = null
        for (const taxonRank of taxonRankMapping) {
          if (
            (taxonRank.english === selectedSpeciesTaxonRank ||
              taxonRank.latin === selectedSpeciesTaxonRank) &&
            isEqual(newVal?.species, oldVal?.species)
          ) {
            //selected species' taxon rank is in the mapping list
            if (taxonRankMapping.indexOf(taxonRank) >= taxonCertaintyIndex) {
              //user is confident because the species they selected is at the
              //same or later index of the certainty value
              confident = true
              if (!newVal.confident && oldVal?.confident) {
                confident = false
              }
            } else {
              confident = false
            }
          }
        }
        updatedNewRecord = cloneDeep(newVal)
        updatedNewRecord.confident = confident
      }

      if (!selectedSpeciesTaxonRank) return null
      if (updatedNewRecord?.confident && oldVal.confident && newVal.confident)
        return
      if (
        updatedNewRecord &&
        updatedNewRecord?.confident != newVal?.confident
      ) {
        if (updatedNewRecord?.confident !== null) {
          if (!isEqual(newVal.confident, oldVal.confident)) {
            //only update on change
            if (newVal.confident != null) {
              if (!updatedNewRecord?.confident) {
                notifyHandler(
                  'info',
                  `Cannot select species as 'confident' as your selected species' taxon rank '${selectedSpeciesTaxonRank}' is not at least '${confidentTaxonRank}'`,
                )
              }
            } else {
              if (updatedNewRecord?.confident) {
                notifyHandler(
                  'info',
                  `Field 'confident' auto-populated based on your selected species taxon rank`,
                )
              }
            }
          }
        }
        return updatedNewRecord
      }
    },
  },
}
</script>
