<template>
  <div>
    <q-separator class="q-ma-md" />
    <h6 class="q-my-sm">Voucher Summary</h6>
    <q-table
      wrap-cells
      :rows="vouchers"
      :columns="columns"
      row-key="voucher_barcode"
      :rows-per-page-options="[50, 25, 15, 10, 5, 0]"
      :visible-columns="visibleColumns"
    >
      <template v-slot:top="props">
        <div class="q-item-section q-item-section--main q-ml-auto">
          <q-btn
            flat
            round
            dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md"
          />
        </div>
      </template>
      <template v-slot:bottom>
        <div v-if="$q.screen.gt.xs" class="col">
          <q-toggle
            v-for="(column, index) in columns"
            :key="index"
            v-model="visibleColumns"
            :val="column.field"
            :label="column.label"
          />
        </div>
        <q-select
          v-else
          v-model="visibleColumns"
          multiple
          borderless
          dense
          options-dense
          :display-value="$q.lang.table.columns"
          emit-value
          map-options
          :options="columns"
          option-value="name"
          style="min-width: 150px"
        />
      </template>
      <!-- replace others T1 type if Other option is selected -->
      <template v-slot:body-cell-voucher_type_tier_1="props">
        <q-td :props="props">
          {{ resolveOtherT1(props.row) }}
        </q-td>
      </template>
      <template v-slot:body-cell-actions="props">
        <q-td :props="props">
          <!-- TODO: add edit feature -->
          <!-- <q-btn
            flat
            dense
            color="primary"
            @click="editRow(props)"
            icon="edit"
          ></q-btn> -->
          <q-btn
            flat
            dense
            color="red"
            @click="$emit('deleteVoucher', props.key)"
            icon="delete"
          ></q-btn>
        </q-td>
      </template>
    </q-table>
  </div>
</template>
<script>
import { prettyFormatFieldName } from 'src/misc/helpers'

export default {
  props: {
    vouchers: Object,
    fields: Object,
  },
  data() {
    const columns = [
      {
        name: 'barcode',
        required: true,
        label: 'Barcode',
        align: 'left',
        field: (row) => row.voucher_barcode,
        sortable: true,
      },
    ]
    Object.keys(this.fields).forEach((name) => {
      if (name === 'voucher_barcode' || name === 'other_voucher_type_tier_1')
        return
      columns.push({
        name,
        label: prettyFormatFieldName(name),
        align: 'right',
        field: name,
        sortable: true,
      })
    })
    // Add delete btn at the end
    columns.push({
      name: 'actions',
      align: 'right',
      label: 'Actions',
      field: 'actions',
    })

    return {
      visibleColumns: columns.map((col) => col.name),
      columns,
    }
  },
  methods: {
    resolveOtherT1(row) {
      return row.other_voucher_type_tier_1 || row.voucher_type_tier_1
    },
  },
}
</script>
