<template>
  <q-card
    :class="`bg-grey-${$q.dark.isActive ? 10 - layersDeep : 1 + layersDeep}`"
    flat
  >
    <paratoo-api-model-crud-ui
      :layersDeep="layersDeep + 1"
      ref="crud"
      :fields="fields"
      title="Additional Fauna Details"
      :current-prot-id="protocolId"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :model-value="modelValue"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </q-card>
</template>
<script>
import { asyncCrud, createDependentFieldCallback } from 'src/misc/helpers'
import { computed } from 'vue'
import { cloneDeep } from 'lodash'
export default {
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
    },
    protocolId: {
      type: Number,
    },
    modelConfig: {
      type: Object,
    },
    layersDeep: {
      type: Number,
    },
    selectedTaxa: {
      type: Object,
    },
  },
  setup(props) {
    const selectedTaxaValue = computed(
      () => props.selectedTaxa?.value || props.selectedTaxa,
    )
    return { selectedTaxaValue }
  },
  data() {
    const { fields } = cloneDeep(this.modelConfig)
    const standardFields = ['sex', 'age_class', 'breeding_code', 'measurements']
    const measurementsFields = this.fieldsBasedOnTaxa()
    // remove unwanted fields, we only want to see standard fields and fields associated with selected taxa
    for (const field in fields) {
      if (standardFields.includes(field) || measurementsFields.includes(field))
        continue
      delete fields[field]
    }

    // create conditional fields
    fields.breeding_code.hidden = true
    const conditionalFields = [
      {
        field: 'breeding_code',
        dependsOn: 'age_class',
        dependsOnSelection: ['AD'],
      },
    ]
    for (const field of measurementsFields) {
      fields[field].hidden = true
      conditionalFields.push({
        field,
        dependsOn: 'measurements',
      })
    }

    return {
      fields,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    fieldsBasedOnTaxa() {
      //these fields are not dependent on taxa type
      let fields = ['weight', 'total_length', 'other(specify)']
      const taxaFields = {
        AM: ['head_body_length'],
        BI: ['head_length', 'head_snout_width'],
        INV: ['head_body_length'],
        MA: [
          'number_in_pouch',
          'testes_size',
          'head_snout_width',
          'tail_length',
          'tail_width',
          'ear_length',
          'hind_foot_length',
          'forearm_length',
          'standing_height',
        ],
        RE: [
          'head_snout_width',
          'tail_width',
          'vent_tail_length',
          'snout_tail_length',
          'carapace_length',
          'snout_length',
          'snout_vent_length',
        ],
      }

      return [...fields, ...taxaFields[this.selectedTaxaValue]]
    },
    /**
     *
     * @param {string} field age_class | breeding_code
     */
    createFilterFunction(field) {
      const map = {
        age_class: {
          AM: ['AD', 'TA', 'EG', 'ME', 'UN'],
          BI: ['AD', 'IM', 'JU', 'EG', 'UN'],
          INV: ['AD', 'EG', 'ME', 'NY', 'LA', 'PU', 'UN'],
          MA: ['AD', 'IM', 'JU', 'UN'],
          RE: ['AD', 'IM', 'JU', 'EG', 'UN'],
        },
        breeding_code: {
          AM: ['BR', 'NB', 'GR', 'UK'],
          BI: ['BR', 'NE', 'NB', 'DE', 'DY', 'UK'],
          INV: ['BR', 'UK'],
          MA: [
            'BR',
            'TL',
            'TD',
            'TB',
            'TS',
            'TA',
            'NE',
            'NB',
            'PR',
            'PM',
            'PNM',
            'DE',
            'DYP',
            'GR',
            'UK',
          ],
          RE: ['BR', 'NB', 'PR', 'UK'],
        },
      }
      const options = map[field][this.selectedTaxaValue]
      const filterFn = (option) => {
        return options.includes(option.symbol)
      }
      return filterFn
    },
  },
}
</script>
