<template>
  <div>
    <q-checkbox
      data-cy="doingVouchering"
      v-model="showVoucher"
      label="Doing vouchering"
    />
    <q-card v-if="showVoucher" class="q-py-md">
      <h5 class="q-my-sm">{{title}}</h5>
      <BarcodeReader
        data-cy="voucher_barcode"
        :title="barcodeField.label"
        ref="barcodeReader"
        :rules="fields.voucher_barcode.rules"
        v-model="currentBarcode"
      />
      <crud
        ref="crud"
        :fields="fields"
        :current-prot-id="protocolId"
        submit-btn-label="Save Voucher"
        :conditional-fields="conditionalFields"
        :conditional-field-callback="conditionalFieldsCallback"
        @update:modelValue="addNewRecord"
      />
      <q-btn
        data-cy="saveVoucher"
        label="Save Voucher"
        outline
        @click="saveVoucher"
      />
      <OpportuneVoucherSummary
        v-if="records.length"
        :vouchers="records"
        :fields="fields"
        @delete-voucher="deleteVoucher"
      />
    </q-card>
  </div>
</template>
<script>
import { computed } from 'vue'
import {
  asyncCrud,
  notifyHandler,
  createDependentFieldCallback,
  setExistingBarcodes,
} from 'src/misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
import { cloneDeep } from 'lodash'
import voucherType from './voucherTierMap'
import BarcodeReader from '../BarcodeReader.vue'
import OpportuneVoucherSummary from './OpportuneVoucherSummary.vue'
export default {
  components: { BarcodeReader, crud: asyncCrud, OpportuneVoucherSummary },
  props: {
    modelValue: {
      required: true,
    },
    modelConfig: {
      type: Object,
      required: true,
    },
    selectedTaxa: {
      type: [String, Object],
      required: false,
      default: 'VP',
    },
    protocolId: Number,
    getOptions: Function,
  },
  setup(props) {
    const selectedTaxaValue = computed(
      () => props.selectedTaxa?.value || props.selectedTaxa,
    )
    const bulkStore = useBulkStore()
    return { 
      selectedTaxaValue,
      bulkStore
     }
  },
  data() {
    const { fields, title } = this.modelConfig
    const barcodeField = cloneDeep(fields.voucher_barcode)

    // have to delete or crud validation will yell
    // delete fields.voucher_barcode (delete required rule instead)
    // TODO: find name of the rules first then delete required rule 
    if (fields.voucher_barcode.rules.length >= 2 ) {
      fields.voucher_barcode.rules = fields.voucher_barcode.rules.slice(1)
    }
    fields.voucher_barcode.hidden = true

    // filter options of voucher type tier 1 based on taxa type
    fields.voucher_type_tier_1.optionsFilter = this.voucherT1OptionsFilter()

    // hide conditional fields
    const conditionalFieldsToHide = [
      'other_voucher_type_tier_1',
      'voucher_type_tier_2',
      'preservation_type',
      'concentration',
      'voucher_condition',
    ]
    conditionalFieldsToHide.forEach((field) => (fields[field].hidden = true))
    const tier2Map = voucherType.tier2[this.selectedTaxaValue]
    const conditionalFields = [
      {
        field: 'other_voucher_type_tier_1',
        dependsOn: 'voucher_type_tier_1',
        dependsOnSelection: ['Other', 'OT'],
      },
      {
        field: 'voucher_type_tier_2',
        dependsOn: 'voucher_type_tier_1',
        fieldCb: function ({ newVal, inputDefs }) {
          const selectedT1 =
            newVal.voucher_type_tier_1?.value || newVal.voucher_type_tier_1
          if (!selectedT1) return
          const t2Config = inputDefs.find(
            (item) => item.model === 'voucher_type_tier_2',
          )
          const t2Options = tier2Map[selectedT1] || []
          t2Config.optionsFilter = (options) =>
            t2Options?.includes(options.symbol)
        },
      },
      {
        field: 'voucher_condition',
        dependsOn: 'voucher_type_tier_1',
        dependsOnSelection: ['Carcass'],
      },
      {
        field: 'preservation_type',
        dependsOn: 'voucher_type_tier_1',
        dependsOnSelection: [
          'AT',
          'Blood',
          'Carcass',
          'PT',
          'Regurgitant',
          'Scat',
          'Other',
        ],
      },
      {
        field: 'concentration',
        dependsOn: 'preservation_type',
      },
    ]
    return {
      fields,
      title,
      barcodeField,
      currentBarcode: null,
      records: cloneDeep(this.modelValue) || [],
      showVoucher: this.modelValue?.length > 0,
      tier2Map,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  mounted() {
    setExistingBarcodes(this.records.map((e)=> e.voucher_barcode))
  },
  methods: {
    voucherT1OptionsFilter() {
      // voucher_type filtered by taxa_type
      const tier1Map = voucherType.tier1
      const filterFn = (option) =>
        tier1Map[this.selectedTaxaValue]?.includes(option.symbol)

      return filterFn
    },
    saveVoucher() {
      if (!this.currentBarcode) {
        return notifyHandler('negative', 'Field: "Voucher Barcode": This field is required')
      } else {
        this.$refs.crud.onSubmitFunc()
      }
    },
    addNewRecord(newRecord) {
      newRecord.voucher_barcode = this.currentBarcode
      this.records.push(newRecord)
      this.currentBarcode = null
    },
    deleteVoucher(barcode) {
      this.records = this.records.filter((r) => r.voucher_barcode !== barcode)
    },
  },
  watch: {
    // clear current record if user select another taxa
    selectedTaxaValue() {
      this.showVoucher = false
      this.records = []
    },
    records: {
      handler(newVal) {
        setExistingBarcodes(this.records.map((e)=> e.voucher_barcode))
        // TODO: put deleted required rule back
        this.$emit('update:modelValue', newVal)
      },
      deep: true,
    },
  },
}
</script>
