<template>
  <div>
    <p>The app that you're running is only for testing use and not for collecting real/production data. Any data collected here will not be permanently stored. If you are having trouble please speak to your program manager.</p>
  </div>
</template>