<template>
  <div>
    <h5>Recording aspect using a compass</h5>
    <p>Aspect is the direction that a slope faces and is recorded in the downslope direction.</p>
    <p>Stand so you are facing directly down the middle of the slope and record the compass bearing (a value from 1 to 360).</p>
    <p>If there is no slope, then aspect will be 0, if you are facing due north then the reading will be 360 degrees.</p>
    <p>Check the compass bearing against the diagram below (i.e. if you are working on an east facing slope, then the degrees should fall between ca. 68 and 112).</p>
    <div>
      <!-- <img alt="Compass Infographic" src="../../assets/HelpScreenshots/compass.png" style="width:100%"/> -->
      <div class="compass">
        <CompassVue custom-size="100%" class="q-mb-sm" />
      </div>
      <img alt="Aspect Compass Infographic" src="../../assets/HelpScreenshots/aspect_compass.png" style="width:100%"/>
    </div>
  </div>
</template>

<script setup>
import CompassVue from '../Compass.vue';

</script>

<style scoped>
.compass {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
</style>