<template>
  <div>
    <h5>Climatic Condition</h5>
    <q-markup-table>
      <tr>
        <th id="col" class="text-left">Climatic condition</th>
        <th id="col" class="text-left">Description</th>
      </tr>
      <tbody>
        <tr>
          <td id="col">Wet</td>
          <td id="col">Reliable data, good rainfall preceding survey, ensuring the presence of seasonal vegetation in addition to perennial vegetation.</td>
        </tr>
        <tr>
          <td id="col">Dry</td>
          <td id="col">Moderately reliable data, recorded during dry conditions making it likely that the seasonal component of vegetation is under represented.</td>
        </tr>
      </tbody>
    </q-markup-table>
  </div>
</template>
