<template>
  <div>
    <div>
      <div
        v-if="
          fieldName === 'coarse_fragments_abundance' ||
          fieldName === 'mottle_abundance' ||
          fieldName === 'coarse_frag_abundance'
        "
      >
        <div>
          <img
            src="../../assets/HelpScreenshots/abundance.png"
            style="width: 100%"
            alt="Abundance"
          />
        </div>
        <div>
          Chart for estimating abundance of mottles, coarse fragments and
          segregations of pedogenic origin. Each quarter of any one square has
          the same area of black.
        </div>
      </div>

      <div v-if="fieldName === 'coarse_fragments_size'">
        <img
          src="../../assets/HelpScreenshots/surface_coarse_fragments_size.png"
          style="width: 100%"
          alt="Surface Coarse Fragments Size"
        />
        <div>Chart for determining surface coarse fragment shape.</div>
      </div>
      <div v-if="fieldName === 'coarse_fragments_shape'">
        <img
          src="../../assets/HelpScreenshots/surface_coarse_fragments_shape.png"
          style="width: 100%"
          alt="Surface Coarse Fragments Shape"
        />
      </div>
      <div
        v-if="
          fieldName === 'coarse_fragments_strength' ||
          fieldName === 'coarse_frag_strength'
        "
      >
        <q-table
          wrap-cells
          title="Strength Class"
          :rows="rows"
          :columns="columns"
          row-key="name"
        />
        <div class="q-pt-md">
          Field estimation of strength class of intact rock material by cutting
          with knife, pick or hammer
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    fieldName: {
      type: String,
    },
  },
  setup() {
    const columns = [
      {
        name: 'Class',
        required: true,
        label: 'Class',
        align: 'left',
        field: 'Class',
      },
      {
        name: 'Strength',
        align: 'left',
        label: 'Strength',
        field: 'Strength',
      },
      {
        name: 'Knife',
        align: 'left',
        label: 'Knife',
        field: 'Knife',
      },
      {
        name: 'Pick',
        align: 'left',
        label: 'Pick',
        field: 'Pick',
      },
      {
        name: 'Hammer',
        align: 'left',
        label: 'Hammer (single blow)',
        field: 'Hammer',
      },
    ]
    const rows = [
      {
        Class: 'VW',
        Strength: 'Very weak rock (1-25 MPa)',
        Knife: 'Deep cut',
        Pick: 'Crumbles',
        Hammer: 'Flatterned or powdered',
      },
      {
        Class: 'W',
        Strength: 'Weak Rock (25-50 MPa)',
        Knife: 'Shallow cut or scratch',
        Pick: 'Indents deeply',
        Hammer: 'Shattered into many small fragments',
      },
      {
        Class: 'M',
        Strength: 'Moderately strong rock (50-100 MPa)',
        Knife: 'Nil or slight mark',
        Pick: 'Indents shallowly ',
        Hammer: 'Breaks readily into a few large and some small fragments ',
      },
      {
        Class: 'S',
        Strength: 'Strong rock (100-200 MPa)',
        Knife: 'Nil',
        Pick: 'Nil',
        Hammer: 'Breaks into one or two large fragments',
      },
      {
        Class: 'VS',
        Strength: 'Very strong rock (>200 MPa)',
        Knife: 'Nil',
        Pick: 'Nil',
        Hammer: 'Nil',
      },
    ]

    return {
      columns,
      rows,
    }
  },
}
</script>
