<template>
  <div v-if="helpInfo.type">
    <q-table
      title="Type"
      :rows="rows"
      :columns="columns"
      row-key="name"
      wrap-cells
    />
    <img
      class="q-pt-md"
      src="../../assets/HelpScreenshots/defoliation.png"
      alt="Defoliatio"
      style="width: 100%"
    />
    <img
      class="q-pt-md"
      src="../../assets/HelpScreenshots/necrosis.png"
      alt="Necrosis"
      style="width: 100%"
    />
    <img
      class="q-pt-md"
      src="../../assets/HelpScreenshots/discolouration.png"
      alt="Discolouration"
      style="width: 100%"
    />
  </div>
  <div v-if="helpInfo.cdi" class="q-pt-md">
    The Crown Damage Index (CDI) is created by visually assessing the incidence
    (extent of damage over the entire canopy), and severity (percentage of each
    leaf affected), of missing, damaged and discoloured foliage (Stone et al.
    2003).
  </div>
</template>
<script>
export default {
  props: {
    helpInfo: {
      required: false,
    },
  },
  setup() {
    const columns = [
      {
        name: 'Type',
        align: 'left',
        label: 'Type',
        field: 'Type',
      },
      {
        name: 'Description',
        align: 'left',
        label: 'Description',
        field: 'Description',
      },
    ]
    const rows = [
      {
        Type: 'Defoliation',
        Description: 'Where entire leaves or parts of leaves are missing',
      },
      {
        Type: 'Necrosis',
        Description: 'Presence of dead leaf tissue',
      },
      {
        Type: 'Discolouration',
        Description:
          'Non-green leaf tissue including yellowing or reddish-purple discolouration, chlorotic spots or margins. Natural variation of leaf colour needs to be considered when assessing discolouration, for example eucalyptus leaves can change colour as they develop.',
      },
    ]
    return {
      columns,
      rows,
    }
  },
}
</script>
