<template>
  <div>
    <p class="tablet">
      <!-- TODO remove this notice when better species lists are implemented -->
      NOTE: invertebrates species list not yet implemented, and the current lists are placeholder.<br>
      If running on Android, we recommend the Microsoft Swiftkey keyboard for best search
      functionality.
    </p>
    <p style="margin-bottom: 0" class="tablet">
      Search by common or scientific name - each word in your search query will be matched against the contents of the species list. For example, typing 'australian magpie' will return results where the common or scientific name contains either 'australian' or 'magpie'.
    </p>
    <p style="margin-bottom: 0" class="tablet">
      You can also input your own field name (<strong
        >press enter to confirm</strong
      >).
    </p>
  </div>
</template>