<template>
  <div>
    Recorded when within the boundary of overstorey canopy (defined as being
    bounded by the outside edge of foliage), but foliage or branches are not
    intercepted by the densitometer crosshairs.
  </div>
</template>
