<template>
  <div class="q-pb-md">
    <img
      src="../../assets/HelpScreenshots/decay_classes.png"
      style="width: 100%"
      alt="Decay classes"
    />
    <img
      src="../../assets/HelpScreenshots/decay_classes2.png"
      alt="Decay classes"
      style="width: 100%"
    />
  </div>
</template>
