<template>
  <div>
    <h5>Landform Pattern Summary (those in bold most commonly observed)</h5>
    <q-markup-table>
      <thead>
        <tr>
          <th id="col" class="text-left">Fractional Cover Responses</th>
          <th id="col" class="text-left">Definition</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th id="col" class="text-left">Photosynthetic vegetation</th>
          <th  id="col" class="text-left">
            Typically green leaves or other plant parts that are
            photosynthetically active.
          </th>
        </tr>
        <tr>
          <th id="col" class="text-left">Non-photosynthetic vegetation</th>
          <th id="col" class="text-left">Dried or dead leaves.</th>
        </tr>
        <tr>
          <th id="col" class="text-left">Branch</th>
          <th id="col" class="text-left">Woody component of the plant.</th>
        </tr>
      </tbody>
    </q-markup-table>
  </div>
</template>