<template>
  <div>
    <p>Select a desktop survey (or specify 'none') that has been synced to the cloud and does not already have a field survey to autofill the below fields (that you can then append if needed).</p>
    <p>Once you select a desktop survey, you cannot change it unless you discard the existing data using the 'change' button.</p>
  </div>
</template>