<template>
  <div>
    Species that cannot be easily distinguished from one another may be combined
    for the basal wedge count. This is only applicable if they are of the same
    genus and growth form (e.g. in mallee) as the basal area equation will be
    the same.
  </div>
</template>
