<!-- NOTE: the generic info button contains basic descriptions, but this table is expanding on that with additional information so it's also kept -->
<template>
  <div>
    <p>Show/hide table columns with checkboxes</p>
    <q-checkbox
      v-for="column in columns.filter(o => o.name !== 'growth_stage')"
      :key="column.name"
      v-model="visibleColumns"
      :val="column.name"
      :label="column.label"
    />
    <q-table
      title="Growth Stage"
      :rows="rows"
      :columns="cols"
      row-key="name"
      dense
      wrap-cells
    />
    <img
      src="../../assets/HelpScreenshots/growth_stage.png"
      alt="Growth Stage"
      style="width: 100%"
    />
  </div>
</template>
<script>
export default {
  mounted() {
    this.cols_ = this.columns
    this.visibleColumns = this.columns
      .map(o => o.name)
  },
  data () {
    const columns = [
      {
        name: 'growth_stage',
        align: 'left',
        label: 'Growth Stage',
        field: 'growth_stage',
      },
      {
        name: 'trees_dominant',
        align: 'left',
        label: 'Trees Dominant',
        field: 'trees_dominant',
      },
      {
        name: 'shrubs_dominant',
        align: 'left',
        label: 'Shrubs dominant',
        field: 'shrubs_dominant',
      },
      {
        name: 'grasses',
        align: 'left',
        label: 'Grasses and herbs dominant',
        field: 'grasses',
      },
      {
        name: 'mosses',
        align: 'left',
        label: 'Cryptograms dominant (mosses and lichens)',
        field: 'mosses',
      },
    ]
    const rows = [
      {
          growth_stage: "Early regeneration",
          trees_dominant: "Dominated by small, juvenile, dense to very sparse regenerating plants, with or without a few older, widely spaced, emergent plants.",
          shrubs_dominant: "Dominated by small, juvenile, dense to very sparse regenerating plants. A few older, widely spaced emergents may be present.",
          grasses: "Plants small and juvenile stages predominate; bare soil or old litter common.",
          mosses: "Thin growth of young plants or widely spaced clumps of young plants."
      },
      {
          growth_stage: "Advanced regeneration",
          trees_dominant: "Dominated by dense to sparse, well-developed, immature plants. Large emergents can be present with crown cover <5% of the total crown cover. However, if the cover is >5%, classify as ‘uneven age’. Trees have well developed stems (poles). Crowns have small branches. The height is below maximum height for the stand type. Apical dominance still apparent in vigorous trees.",
          shrubs_dominant: "Dominated by dense to sparse, well-developed but not mature plants. If large emergent plants are present, then they occupy <5% crown cover of the dominant stratum; if >5%, classify as ‘uneven age’.",
          grasses: "Vegetative growth abundant; plants approaching full mature size but reproductive material absent or in early stages only; soil surface largely obscured in average sites.",
          mosses: "Cover of plants high for the site; some reproduction may be evident."
      },
      {
          growth_stage: "Uneven (mixed) age",
          trees_dominant: "Mixed size and age classes, usually identified by two or more strata dominated by the same species, but can also be sites with different species regenerating in the understorey of an older canopy.",
          shrubs_dominant: "Mixed size and age classes; usually two or more strata dominated by the same species, but includes sites with different species regenerating in the understorey of an older canopy.",
          grasses: "A mixture of mature, perennial and immature annual species present on site.",
          mosses: "A mixture of mature reproductive plants with immature regeneration."
      },
      {
          growth_stage: "Mature phase",
          trees_dominant: "Well-spaced mature-sized plants or densely packed plants with crowns touching, with or without emergent senescent plants. Trees at maximum height for the type and conditions. Crown at full lateral development in unlocked stands. No apical dominance.",
          shrubs_dominant: "May have well-spaced mature-sized plants, or have very densely packed plants with crowns touching, with or without emergent senescent plants.",
          grasses: "Most plants of reproductive age; depending on vegetation type, reproduction evident, or would be if environmental conditions were appropriate (e.g. water availability).",
          mosses: "Swards of plants common; plants of mature physiognomy (clump sizes and forms); reproduction common at appropriate times of year or drought/rain cycle; overall health and vigour high."
      },
      {
          growth_stage: "Senescent phase",
          trees_dominant: "Dominated by overmature plants particularly in the dominant stratum; evidence of senescence in many plants, some without obvious links to disturbance. Tree crowns show signs of contracting: dead branches and decreased crown diameter and leaf area. Distorted branches and burls may be common. Dead trees may be present.",
          shrubs_dominant: "Dominated by old plants (thick stems and primary branches, crowns either extremely dense with much dead wood or thin and open if species sheds dead branches), particularly in the dominant stratum. Many senescent plants, some without obvious links to disturbance.",
          grasses: "In largely annual vegetation, reproduction is complete and plants are dying or mostly dead; in perennial vegetation, plants have lost vigour, are breaking down; large areas of soil are exposed. Litter accumulation may be high.",
          mosses: "Clear evidence of the degeneration of plants or clumps; dead older parts of plants may be conspicuous."
      }
    ]

    return {
      columns,
      rows,
      cols_: [],
      visibleColumns: [],
    }
  },
  computed: {
    cols: {
      // set(val) {
      //   this.cols_ = val
      // },
      get() {
        return this.cols_.filter((col) => this.visibleColumns.includes(col.name))
      },
    },
  },
}
</script>
