<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">Homogeneity Measure</div>
    </q-card-section>
    <q-card-section>
      A record of the visual estimate (in metres) of the shortest distance from
      the survey point to a vegetation association different to the one that you
      are sampling. Where there is uncertainty, it is recommended that this
      measure be an under-estimate, so be conservative in estimating the distance.
      Where it is not possible to directly observe the distance to a different
      association, then estimate the furthest distance that you are sure is the
      same association as the one you are sampling within.
    </q-card-section>
  </q-card>
</template>
<script>
export default {}
</script>
