<template>
  <div>
    Recorded when within the boundary of overstorey canopy (defined as being
    bounded by the outside edge of foliage), but foliage or branches are not
    intercepted by the densitometer crosshairs.
    <div>
      <img
        src="../../assets/HelpScreenshots/in_canopy_sky.jpg"
        style="width: 100%"
        alt="In Canopy Sky Infographic."
      />
    </div>
  </div>
</template>