<template>
  <div>
    <div class="text-h5 q-pb-md q-pt-sm row justify-center">
      Basal Area Factor
    </div>
    <div class="q-pb-md">
      <img
        src="../../assets/HelpScreenshots/basal_area_factor.png"
        style="width: 100%"
        alt="Basal Area Factor"
      />
    </div>
    <ul>
      <li>
        A tree is 'in' and receives a score of 1 when its trunk or stem at 1.3 m
        is wider than the chosen BAF.
      </li>
      <li>
        A tree is 'borderline' and receives a score of 0.5 when its trunk or
        stem at 1.3 m is exactly the same width as the chosen BAF.
      </li>
      <li>
        A tree is 'out' and receives a score of 0 when its trunk or stem at 1.3
        m is narrower than the chosen BAF.
      </li>
    </ul>
  </div>
</template>
