<template>
  <div>
    <h5>Landform Pattern Summary (those in bold most commonly observed)</h5>
    <q-scroll-area style="height: 70vh;" visible >
      <q-markup-table>
        <tr>
          <th id="col" class="text-left">Code</th>
          <th id="col" class="text-left">Name</th>
          <th id="col" class="text-left">Description</th>
        </tr>
        <tbody>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">ALF</td>
            <td class="text-left text-bold">Alluvial Fan</td>
            <td class="text-left text-bold">
              Level (&lt;1% slope) slope to very gently inclined complex landform
              pattern of extremely low relief. The rapidly migrating alluvial
              stream channels are shallow to moderately deep, locally numerous,
              but elsewhere widely spaced. The channels form a centrifugal to
              divergent, integrated, reticulated to distributary pattern.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">ALP</td>
            <td class="text-left text-bold">Alluvial plain</td>
            <td class="text-left text-bold">
              Level landform pattern with extremely low relief. The shallow to
              deep alluvial stream channels are sparse to widely spaced, forming
              an unidirectional integrated network. There may be frequently active
              erosion and aggradation by channelled and overbank stream flow, or
              the landforms may be relict from these processes.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">ANA</td>
            <td class="text-left text-bold">Anastomotic plain</td>
            <td class="text-left text-bold">
              Flood plain with slowly migrating deep alluvial channels, usually
              moderately spaced, forming a divergent to unidirectional integrated
              reticulated network. There is frequently active aggradation by
              over-bank and channelled stream flow.
            </td>
          </tr>
          <tr>
            <td class="text-left">BAD</td>
            <td class="text-left">Badlands</td>
            <td class="text-left">
              Landform pattern of low to extremely low relief (less than 90 cm)
              and steep to precipitous slopes, typically with numerous fixed
              erosional stream channels which form a non-directional integrated
              tributary network. There is continuously active erosion by collapse,
              landslide, sheet flow, creep and channelled stream flow.
            </td>
          </tr>
          <tr>
            <td class="text-left">BAR</td>
            <td class="text-left">Bar plain</td>
            <td class="text-left">
              Flood plain with numerous rapidly migrating shallow alluvial
              channels forming a unidirectional integrated reticulated network.
              There is frequently active aggradation and erosion by channelled
              stream flow.
            </td>
          </tr>
          <tr>
            <td class="text-left">BEA</td>
            <td class="text-left">Beach ridge plain</td>
            <td class="text-left">
              Level to gently undulating landform pattern of extremely low relief
              on which stream channels are absent or very rare: it consists of
              relict parallel beach ridges.
            </td>
          </tr>
          <tr>
            <td class="text-left">CAL</td>
            <td class="text-left">Caldera</td>
            <td class="text-left">
              Rare landform pattern typically of very high relief and steep to
              precipitous slope. It is without stream channels of has fixed
              erosional channels forming a centripetal integrated tributary
              pattern. The landform has subsided or was excavated as a result of
              volcanism.
            </td>
          </tr>
          <tr>
            <td class="text-left">CHE</td>
            <td class="text-left">Chenier plain</td>
            <td class="text-left">
              Level to gently undulating landform pattern of extremely low relief
              on which stream channels are very rare. The pattern consists of
              relict, parallel linear ridges built up by waves, separated by, and
              built over flats (mud flats) aggraded by tides or over-bank stream
              flow.
            </td>
          </tr>
          <tr>
            <td class="text-left">COR</td>
            <td class="text-left">Coral reef</td>
            <td class="text-left">
              Continuously active or relict landform pattern built up to the sea
              level of the present day or of a former time by corals and other
              organisms. It is mainly level, with moderately inclined to
              precipitous slopes below the sea level. Stream channels are
              generally absent, but there may occasionally be fixed deep erosional
              tidal stream channels forming a disintegrated non-tributary pattern.
            </td>
          </tr>
          <tr>
            <td class="text-left">COV</td>
            <td class="text-left">Covered plain</td>
            <td class="text-left">
              Flood plain with slowly migrating deep alluvial channels, usually
              widely spaced and forming a unidirectional integrated non-tributary
              network. There is frequently active aggradation by over-bank stream
              flow.
            </td>
          </tr>
          <tr>
            <td class="text-left">DEL</td>
            <td class="text-left">Delta</td>
            <td class="text-left">
              Flood plain projecting into a sea or lake, with slowly migrating
              deep alluvial channels, usually moderately spaced, typically forming
              a divergent integrated distributary network. This landform is
              aggraded by frequently active over-bank and channelled stream flow
              that is modified by tides.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">DUN</td>
            <td class="text-left text-bold">Dunefield</td>
            <td class="text-left text-bold">
              Level to rolling landform pattern of very low or extremely low
              relief without stream channels, built up or locally excavated,
              eroded or aggraded by wind.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">ESC</td>
            <td class="text-left text-bold">Escarpment</td>
            <td class="text-left text-bold">
              Steep to precipitous landform pattern forming a linearly extensive,
              straight or sinuous inclined surface, which separates terrains at
              different altitudes, that above the escarpment commonly being a
              plateau. Relief within the landform pattern may be high (hilly) or
              low (planar). The upper margin is often marked by an inclined cliff
              or scarp.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">FLO</td>
            <td class="text-left text-bold">Flood plain</td>
            <td class="text-left text-bold">
              Alluvial plain characterised by frequently active erosion and
              aggradation by channelled or over-bank stream flow. Unless otherwise
              specified, ‘frequently active’ is to mean that flow has an Average
              Recurrence Interval of 50 years or less.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">HIL</td>
            <td class="text-left text-bold">Hills</td>
            <td class="text-left text-bold">
              Landform pattern of high relief (90-300 m) with gently inclined to
              precipitous slopes. Fixed, shallow erosional stream channels,
              closely to very widely spaced, form a non-directional or convergent
              integrated tributary network. There is continuously active erosion
              by wash and creep and, in some cases, rarely active erosion by
              landslides.
            </td>
          </tr>
          <tr>
            <td class="text-left">KAR</td>
            <td class="text-left">Karst</td>
            <td class="text-left">
              Landform pattern of unspecified relief and slope typically with
              fixed deep erosional stream channels forming a non-directional
              disintegrated tributary pattern and many closed depressions without
              stream channels. It is eroded by continuously active solution and
              rarely active collapse; the products being removed through
              underground channels.
            </td>
          </tr>
          <tr>
            <td class="text-left">LAC</td>
            <td class="text-left">Lacustrine plain</td>
            <td class="text-left">
              Level landform pattern with extremely low relief formerly occupied
              by a lake by now partly or completely dry. It is relict after
              aggradation by waves and by deposition of material from suspension
              and solution in standing water. The pattern is usually bounded by
              wave-formed features such as cliffs, rock platforms, beaches, berms
              and lunettes.
            </td>
          </tr>
          <tr>
            <td class="text-left">LAV</td>
            <td class="text-left">Lava plain</td>
            <td class="text-left">
              Level to undulating landform pattern of very low to extremely low
              relief typically with widely spaced fixed erosional stream channels
              that form a non-directional integrated or interrupted tributary
              pattern. The landform pattern is aggraded by volcanism (lava flow)
              that is generally relict: it is subject to erosion by continuously
              active sheet flow, creep and channelled stream flow.
            </td>
          </tr>
          <tr>
            <td class="text-left">LON</td>
            <td class="text-left">Longitudinal dunefield</td>
            <td class="text-left">
              Dunefield characterised by long narrow sand dunes and wide flat
              swales. The dunes are orientated parallel with the direction of the
              prevailing wind, an in cross section one slope is typically steeper
              than the other.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">LOW</td>
            <td class="text-left text-bold">Low hills</td>
            <td class="text-left text-bold">
              Landform pattern of low relief (30 - 90 m) and gently to very steep
              slopes, typically with fixed erosional stream channels, closely to
              very widely spaced, which form a non-directional or convergent
              integrated tributary pattern. There is continuous active sheet flow,
              creep, and channelled stream flow.
            </td>
          </tr>
          <tr>
            <td class="text-left">MAD</td>
            <td class="text-left">Made land</td>
            <td class="text-left">
              Landform pattern typically of very low or extremely low relief and
              with slopes in the classes level and very steep. Sparse, fixed deep
              artificial stream channels form a non-directional interrupted
              tributary pattern. The landform pattern is eroded and aggraded, and
              locally built up or excavated, by rarely active human agency.
            </td>
          </tr>
          <tr>
            <td class="text-left">MAR</td>
            <td class="text-left">Marine plain</td>
            <td class="text-left">
              Plain eroded or aggraded by waves, tides or submarine currents, and
              aggraded by deposition of material from suspension and solution in
              sea water, elevated above sea level by earth movements or eustasy,
              and little modified by subaerial agents such as stream flow or wind.
            </td>
          </tr>
          <tr>
            <td class="text-left">MEA</td>
            <td class="text-left">Meander plain</td>
            <td class="text-left">
              Flood plain with widely spaced rapidly migrating, moderately deep
              alluvial stream channels which form a unidirectional integrated
              non-tributary network. There is frequently active aggradation and
              erosion by channelled stream flow with subordinate aggradation by
              over-bank stream flow.
            </td>
          </tr>
          <tr>
            <td class="text-left">MET</td>
            <td class="text-left">Meteor crater</td>
            <td class="text-left">
              Rare landform pattern comprising a circular closed depression with a
              raised margin: it is typically of low to high relief and has a large
              range of slope values, without stream channels, or with a peripheral
              integrated pattern of centrifugal tributary streams. The pattern is
              excavated, heaved up and built up by a meteor impact and now relict.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">MOU</td>
            <td class="text-left text-bold">Mountains</td>
            <td class="text-left text-bold">
              Landform pattern of very high relief (>300 m) with moderate to
              precipitous slopes and fixed erosional stream channels that are
              closely to very widely spaced and form a non-directional or
              diverging integrated tributary network. There is continuously active
              erosion by collapse, landslide, sheet flow, creep and channelled
              stream flow.
            </td>
          </tr>
          <tr>
            <td class="text-left">PAR</td>
            <td class="text-left">Parabolic dunefield</td>
            <td class="text-left">
              Dunefield characterised by sand dunes with a long scoop-shaped form,
              convex in the downwind direction so that its trailing arms point
              upwind: the ground plan when perfectly developed approximates the
              form of a parabola.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">PED</td>
            <td class="text-left text-bold">Pediment</td>
            <td class="text-left text-bold">
              Gently inclined to level (less than 1%) landform pattern of
              extremely low relief, typically with numerous rapidly migrating,
              very shallow incipient stream channels, which form a centrifugal to
              diverging integrated reticulated pattern. It is underlain by
              bedrock, eroded and locally aggraded, by frequently active
              channelled stream flow or sheet flow, with subordinate wind erosion.
              Pediments characteristically lie downslope from adjacent hills with
              markedly steeper slopes.
            </td>
          </tr>
          <tr>
            <td class="text-left">PEP</td>
            <td class="text-left">Pediplain</td>
            <td class="text-left">
              Level to very gently inclined landform pattern with extremely low
              relief and no stream channels, eroded by barely active sheet flow
              and wind. Largely relict from more effective erosion by stream flow
              in incipient stream channels as on a pediment.
            </td>
          </tr>
          <tr>
            <td class="text-left">PNP</td>
            <td class="text-left">Peneplain</td>
            <td class="text-left">
              Level to gently undulating landform pattern with extremely low
              relief and sparse, slowly migrating alluvial stream channels which
              form a non-directional, integrated tributary pattern. It is eroded
              by barely active sheet flow, creep and channelled and overbank
              stream flow.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">PLA</td>
            <td class="text-left text-bold">Plain</td>
            <td class="text-left text-bold">
              Level to undulating or, rarely, rolling landform pattern of
              extremely low relief (less than 9 m).
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">PLT</td>
            <td class="text-left text-bold">Plateau</td>
            <td class="text-left text-bold">
              Level to rolling landform pattern of plains, rises or low hills
              standing above a cliff, scarp or escarpment that extends around a
              large part of its perimeter. A bounding scarp or cliff landform
              element may be included or excluded: a bounding escarpment would be
              an adjacent landform pattern.
            </td>
          </tr>
          <tr>
            <td class="text-left">PLY</td>
            <td class="text-left">Playa plain</td>
            <td class="text-left">
              Level landform pattern with extremely low relief, typically without
              stream channels, aggraded by rarely active sheet flow and modified
              by wind, waves, and soil phenomena.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">RIS</td>
            <td class="text-left text-bold">Rises</td>
            <td class="text-left text-bold">
              Landform pattern of very low relief (9-30 m) and very gently to
              steep slopes. The fixed erosional stream channels are closely to
              widely spaced and form a non-directional to convergent, integrated
              or interrupted tributary pattern. The pattern is eroded by
              continuously active to barely active creep and sheet flow.
            </td>
          </tr>
          <tr class="bg-grey-6">
            <td class="text-left text-bold">SAN</td>
            <td class="text-left text-bold">Sand plain</td>
            <td class="text-left text-bold">
              Level to undulating landform pattern of extremely low relief and
              without channels: formed possibly by sheet flow or stream flow, but
              now relict and modified by wind action.
            </td>
          </tr>
          <tr>
            <td class="text-left">SHF</td>
            <td class="text-left">Sheet-flood fan</td>
            <td class="text-left">
              Level (less than 1% slope) to very gently inclined landform pattern
              of extremely low relief with numerous rapidly migrating very shallow
              incipient stream channels forming a divergent to unidirectional,
              integrated or interrupted reticulated pattern. The pattern is
              aggraded by frequently active sheet flow and channelled stream flow,
              with subordinate wind erosion.
            </td>
          </tr>
          <tr>
            <td class="text-left">STA</td>
            <td class="text-left">Stagnant alluvial plain</td>
            <td class="text-left">
              Alluvial plain on which erosion and aggradation by channelled and
              over-bank stream flow is barely active or inactive because of reduce
              water supply, without apparent incision or channel enlargement that
              would lower the level of stream action.
            </td>
          </tr>
          <tr>
            <td class="text-left">TER</td>
            <td class="text-left">Terrace (alluvial)</td>
            <td class="text-left">
              Landform pattern including one or more terraces and often a flood
              plain. Relief is low or very low (9 to 90 m). Terrace plains or
              terrace flats occur at stated heights above the top of the stream
              bank.
            </td>
          </tr>
          <tr>
            <td class="text-left">TEL</td>
            <td class="text-left">Terraced land (alluvial)</td>
            <td class="text-left">
              Former flood plain on which erosion and aggradation by channelled
              and over-bank stream flow is barely active or inactive because
              deepening or enlargement of the stream channel has lowered the level
              of flooding. A pattern that has both a former flood plain and a
              significant active floodplain, or that has former floodplains at
              more than one level, becomes terraced land.
            </td>
          </tr>
          <tr>
            <td class="text-left">TID</td>
            <td class="text-left">Tidal flat</td>
            <td class="text-left">
              Level landform pattern with extremely low relief and slowly
              migrating, deep alluvial stream channels, which form
              non-directional, integrated tributary patterns; it is aggraded by
              frequently active tides.
            </td>
          </tr>
          <tr>
            <td class="text-left">VOL</td>
            <td class="text-left">Volcano</td>
            <td class="text-left">
              Typically, very high and very steep landform pattern without stream
              channels, or with erosional stream channels forming a centrigugal,
              interrupted tributary pattern. The landform is built up by
              volcanism, and is modified by erosional agents.
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </q-scroll-area>
  </div>
</template>