<template>
  <q-card flat>
    <h5>Landform Pattern Summary (those in bold most commonly observed)</h5>
    <q-card-section>
      <q-scroll-area style="height: 70vh" visible>
        <q-markup-table style="table-layout: fixed" class="wrap-text">
          <thead>
            <tr>
              <th id="col" class="text-left">Code</th>
              <th id="col" class="text-left">Name</th>
              <th id="col" class="text-left">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left">ALC</td>
              <td class="text-left">Alcove</td>
              <td class="text-left">
                Moderately inclined to very steep, short open depression with
                concave cross-section, eroded by collapse, landslides, creep or
                surface wash.
              </td>
            </tr>
            <tr>
              <td class="text-left">BKP</td>
              <td class="text-left">Backplain</td>
              <td class="text-left">
                Large flat resulting from aggradation by overbank stream flow at
                some distance from the stream channel and in some cases
                biological (peat) accumulation; often characterised by a high
                watertable and the presence of swamps or lakes; part of a
                covered plain landform pattern.
              </td>
            </tr>
            <tr>
              <td class="text-left">BAN</td>
              <td class="text-left">Bank (stream bank)</td>
              <td class="text-left">
                Very short, very wide slope, moderately inclined to precipitous,
                forming the marginal upper parts of a stream channel and
                resulting from erosion or aggradation by channelled stream flow.
              </td>
            </tr>
            <tr>
              <td class="text-left">BAR</td>
              <td class="text-left">Bar (stream bar)</td>
              <td class="text-left">
                Elongated, gently to moderately inclined, low ridge built up by
                channelled stream flow; part of a stream bed.
              </td>
            </tr>
            <tr>
              <td class="text-left">DUB</td>
              <td class="text-left">Barchan dune</td>
              <td class="text-left">
                Crescent-shaped dune with tips extending downward, making this
                side concave and the upwind side convex. Barchan dunes tend to
                be arranged in chains extending in the dominant wind direction.
              </td>
            </tr>

            <tr>
              <td class="text-left">BEA</td>
              <td class="text-left">Beach</td>
              <td class="text-left">
                Short, low, very wide slope, gently or moderately inclined,
                built up or eroded by waves, forming the shore of a lake or sea.
              </td>
            </tr>
            <tr>
              <td class="text-left">BRI</td>
              <td class="text-left">Beach ridge</td>
              <td class="text-left">
                Very long, nearly straight, low ridge, built up by waves and
                usually modified by wind. A beach ridge is often a relict
                feature remote from the beach.
              </td>
            </tr>
            <tr>
              <td class="text-left">BEN</td>
              <td class="text-left">Bench</td>
              <td class="text-left">
                Short, gently or very gently inclined minimal mid-slope element
                eroded or aggraded by any agent.
              </td>
            </tr>
            <tr>
              <td class="text-left">BER</td>
              <td class="text-left">Berm</td>
              <td class="text-left">
                Short, very gently inclined to level minimal mid-slope in an
                embankment or cut face, eroded or aggraded by human activity.
                Or, flat build up by waves above a beach.
              </td>
            </tr>

            <tr>
              <td class="text-left">BOU</td>
              <td class="text-left">Blow-out</td>
              <td class="text-left">
                Usually small, open or closed depression excavated by the wind.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">BRK</td>
              <td class="text-left text-bold">Breakaway</td>
              <td class="text-left text-bold">
                Steep maximal mid-slope or upper slope, generally comprising
                both a very short scarp that is often bare rockland, and a stony
                scarp-footslope; often standing above a pediment.
              </td>
            </tr>
            <tr>
              <td class="text-left">CBE</td>
              <td class="text-left">Channel bench</td>
              <td class="text-left">
                Flat at the margin of a stream channel aggraded and partly
                eroded by overbank and channelled stream flow; an incipient
                flood plain.
              </td>
            </tr>
            <tr>
              <td class="text-left">CIR</td>
              <td class="text-left">Cirque</td>
              <td class="text-left">
                Precipitous to gently inclined, typically closed depression of
                concave contour and profile excavated by ice. The closed part of
                the depression may be shallow, the larger part being an open
                depression like an alcove.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">CLI</td>
              <td class="text-left text-bold">Cliff</td>
              <td class="text-left text-bold">
                Very wide, cliffed (greater than 72°) maximal slope, usually
                eroded by gravitational fall as a result of erosion of the base
                by various agencies; sometimes built up by marine organisms.
              </td>
            </tr>
            <tr>
              <td class="text-left">CFS</td>
              <td class="text-left">Cliff-footslope</td>
              <td class="text-left">
                Slope situated below a cliff, with its contours generally
                parallel to the line of the cliff, eroded by sheet wash or
                water-aided mass movement, and aggraded locally by collapsed
                material from above.
              </td>
            </tr>
            <tr>
              <td class="text-left">DOC</td>
              <td class="text-left">Collapse doline</td>
              <td class="text-left">
                Steep-sided, circular or elliptical closed depression, commonly
                funnel-shaped, characterised by subsurface drainage and formed
                by collapse of underlying caves within bedrock.
              </td>
            </tr>
            <tr>
              <td class="text-left">CON</td>
              <td class="text-left">Cone (volcanic)</td>
              <td class="text-left">
                Hillock with a circular symmetry built up by volcanism. The
                crest may form a ring around a crater.
              </td>
            </tr>
            <tr>
              <td class="text-left">CRA</td>
              <td class="text-left">Crater</td>
              <td class="text-left">
                Steep to precipitous closed depression excavated by explosions
                due to volcanism, human action, or impact or an
                extra-terrestrial object.
              </td>
            </tr>
            <tr>
              <td class="text-left">CUT</td>
              <td class="text-left">Cut face</td>
              <td class="text-left">Slope eroded by human activity.</td>
            </tr>
            <tr>
              <td class="text-left">COS</td>
              <td class="text-left">Cut-over surface</td>
              <td class="text-left">Flat eroded by human activity.</td>
            </tr>
            <tr>
              <td class="text-left">DAM</td>
              <td class="text-left">Dam</td>
              <td class="text-left">
                Ridge built up by human activity so as to close a depression.
              </td>
            </tr>
            <tr>
              <td class="text-left">DBA</td>
              <td class="text-left">Deflation basin</td>
              <td class="text-left">
                Basin excavated by wind erosion which removes loose material,
                commonly above a resistant or wet layer.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">DDE</td>
              <td class="text-left text-bold">Drainage depression</td>
              <td class="text-left text-bold">
                Level to gently inclined, long, narrow, shallow open depression
                with smoothly concave cross-section, rising to moderately
                inclined side slopes, eroded or aggraded by sheet wash.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">DUN</td>
              <td class="text-left text-bold">Dune</td>
              <td class="text-left text-bold">
                Moderately inclined to very steep ridge or hillock built up by
                the wind. This element may comprise dunecrest and duneslope.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">DUC</td>
              <td class="text-left text-bold">Dunecrest</td>
              <td class="text-left text-bold">
                Crest built up or eroded by the wind.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">DUS</td>
              <td class="text-left text-bold">Duneslope</td>
              <td class="text-left text-bold">
                Slope built up or eroded by the wind.
              </td>
            </tr>
            <tr>
              <td class="text-left">EMB</td>
              <td class="text-left">Embankment</td>
              <td class="text-left">
                Ridge or slope built up by human activity.
              </td>
            </tr>
            <tr>
              <td class="text-left">EST</td>
              <td class="text-left">Estuary</td>
              <td class="text-left">
                Stream channel close to its junction with a sea or lake, where
                the action of channelled stream flow is modified by tidal and
                waves. The width typically increases downstream.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">FAN</td>
              <td class="text-left text-bold">Fan</td>
              <td class="text-left text-bold">
                Large, gently inclined to level element with radial slope lines
                inclined away from a point, resulting from aggradation, or
                occasionally from erosion, by channelled often braided, stream
                flow, or possibly by sheet flow.
              </td>
            </tr>
            <tr>
              <td class="text-left">FIL</td>
              <td class="text-left">Fill-top</td>
              <td class="text-left">Flat aggraded by human activity.</td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">FLD</td>
              <td class="text-left text-bold">Flood-out</td>
              <td class="text-left text-bold">
                Flat inclined radially away from a point on the margin or at the
                end of a stream channel, aggraded by overbank stream flow, or by
                channelled stream flow associated with channels developed within
                the overbank flow; part of a covered plain landform pattern.
              </td>
            </tr>
            <tr>
              <td class="text-left">FOO</td>
              <td class="text-left">Footslope</td>
              <td class="text-left">
                Moderately to very gently inclined waning lower slope resulting
                from aggradation or erosion by sheet flow, earth flow or creep.
              </td>
            </tr>
            <tr>
              <td class="text-left">FOR</td>
              <td class="text-left">Foredune</td>
              <td class="text-left">
                Very long, nearly straight, moderately inclined to very steep
                ridge built up by the wind from material from an adjacent beach.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">GUL</td>
              <td class="text-left text-bold">Gully</td>
              <td class="text-left text-bold">
                Open depression with short, precipitous walls and moderately
                inclined to very gently inclined floor or small stream channel,
                eroded by channelled stream flow and consequent collapse and
                water-aided mass movement.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">HCR</td>
              <td class="text-left text-bold">Hillcrest</td>
              <td class="text-left text-bold">
                Very gently inclined to steep crest, smoothly convex, eroded
                mainly by creep and sheet wash. A typical element of mountains,
                hills, low hills and rises.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">HSL</td>
              <td class="text-left text-bold">Hillslope</td>
              <td class="text-left text-bold">
                Gently inclined to precipitous slope, commonly simple and
                maximal, eroded by sheet wash, creep or water-aided mass
                movement. A typical element of mountains, hills, low hills and
                rises.
              </td>
            </tr>
            <tr>
              <td class="text-left">DUH</td>
              <td class="text-left">Hummocky (weekly orientated dune)</td>
              <td class="text-left">
                Very gently to moderately inclined rises or hillocks built up or
                eroded by wind and lacking distinct orientation or regular
                pattern.
              </td>
            </tr>
            <tr>
              <td class="text-left">ITF</td>
              <td class="text-left">Intertidal flat</td>
              <td class="text-left">See Tidal flat.</td>
            </tr>
            <tr>
              <td class="text-left">LAG</td>
              <td class="text-left">Lagoon</td>
              <td class="text-left">
                Closed depression filled with water that is typically salt or
                brackish, bounded at least in part by forms aggr
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">LAK</td>
              <td class="text-left text-bold">Lake</td>
              <td class="text-left text-bold">
                Large, water-filled closed depression.
              </td>
            </tr>
            <tr>
              <td class="text-left">LDS</td>
              <td class="text-left">Landslide</td>
              <td class="text-left">
                Moderately inclined to very steep slope, eroded in the upper
                part and aggraded in the lower part by water-aided mass
                movement, characterised by irregular hummocks.
              </td>
            </tr>
            <tr>
              <td class="text-left">LEV</td>
              <td class="text-left">Levee</td>
              <td class="text-left">
                Very long, low, narrow, nearly level, sinuous ridge immediately
                adjacent to a stream channel, built up by overbank glow. Levees
                are built, usually in pairs bounding the two sides of a stream
                channel, at the level reached by frequent floods. For an
                artificial levee, use Embankment.
              </td>
            </tr>
            <tr>
              <td class="text-left">DUF</td>
              <td class="text-left">Linear or longitudinal (seif) dune</td>
              <td class="text-left">
                Large, sharp-crested, elongated, longitudinal dune or chain of
                sand dunes, orientated parallel, rather than transverse, to the
                prevailing wind.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">LUN</td>
              <td class="text-left text-bold">Lunette</td>
              <td class="text-left text-bold">
                Elongated, gently curved, low ridge built up by wind on the
                margin of a playa, typically with a moderate, wave modified
                slope towards the playa and a gentle outer slope.
              </td>
            </tr>
            <tr>
              <td class="text-left">MAA</td>
              <td class="text-left">Maar</td>
              <td class="text-left">
                Level-floored, commonly water-filled closed depression with a
                nearly circular, steep rim, excavated by volcanism.
              </td>
            </tr>
            <tr>
              <td class="text-left">MOU</td>
              <td class="text-left">Mound</td>
              <td class="text-left">Hillock built up by human activity.</td>
            </tr>
            <tr>
              <td class="text-left">OXB</td>
              <td class="text-left">Ox-bow</td>
              <td class="text-left">
                Long, curved, commonly water-filled closed depression eroded by
                channelled stream flow but closed as a result of aggradation by
                channelled or overbank stream flow during the formation of a
                meander plain landform pattern. The floor of an ox-bow may be
                more or less aggraded by overbank stream flow, wind, and
                biological accumulation.
              </td>
            </tr>
            <tr>
              <td class="text-left">DUP</td>
              <td class="text-left">Parabolic dune</td>
              <td class="text-left">
                Sand dune with a long, scoop-shaped form, convex in the downwind
                direction so that its horns point upwind, whose ground plan
                approximates the form of a parabola. The dunes left behind can
                be referred to as trailing arms. Where many such dunes have
                traversed an area, these can give the appearance of linear
                dunes.
              </td>
            </tr>
            <tr>
              <td class="text-left">PED</td>
              <td class="text-left">Pediment</td>
              <td class="text-left">
                Largely, gently inclined to level ((&lt;1%) waning lower slope,
                with slope lines inclined in a single direction, or somewhat
                convergent or divergent, eroded or sometimes slightly aggraded
                by sheet flow. It is underlain by bedrock.
              </td>
            </tr>
            <tr>
              <td class="text-left">PIT</td>
              <td class="text-left">Pit</td>
              <td class="text-left">
                Closed depression excavated by human activity.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">PLA</td>
              <td class="text-left text-bold">Plain</td>
              <td class="text-left text-bold">
                Large, very gently inclined or level element, of unspecified
                geomorphogical agent or mode of activity.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">PLY</td>
              <td class="text-left text-bold">Playa</td>
              <td class="text-left text-bold">
                Large, shallow, level-floored closed depression, intermittently
                water-filled, but mainly dry due to evaporation, bounded as a
                rule by flats aggraded by sheet flow and channelled stream flow.
              </td>
            </tr>
            <tr>
              <td class="text-left">PST</td>
              <td class="text-left">Prior stream</td>
              <td class="text-left">
                Long, generally sinuous, low ridge built up from material
                originally deposited by stream flow along the line of a former
                stream channel. The landform element may include a depression
                marking the old stream bed, and relict levees.
              </td>
            </tr>
            <tr>
              <td class="text-left">REF</td>
              <td class="text-left">Reef flat</td>
              <td class="text-left">
                Flat built up to sea level by marine organisms.
              </td>
            </tr>
            <tr>
              <td class="text-left">RER</td>
              <td class="text-left">Residual rise</td>
              <td class="text-left">
                Hillock of very low to extremely low relief (&lt;30 m) and very
                gentle steep slopes. This term is used to refer to an isolated
                rise surrounded by other landforms.
              </td>
            </tr>
            <tr>
              <td class="text-left">REC</td>
              <td class="text-left">Risecrest</td>
              <td class="text-left">
                Crest of hillock of very low to extremely low relief (&lt;330
                m).
              </td>
            </tr>
            <tr>
              <td class="text-left">RES</td>
              <td class="text-left">Riseslope</td>
              <td class="text-left">
                Slope of hillock of very low to extremely low relief (&lt;30 m).
              </td>
            </tr>
            <tr>
              <td class="text-left">RFL</td>
              <td class="text-left">Rock flat</td>
              <td class="text-left">
                Flat or bare consolidated rock, usually eroded by sheet wash.
              </td>
            </tr>
            <tr>
              <td class="text-left">RPL</td>
              <td class="text-left">Rock platform</td>
              <td class="text-left">
                Flat of consolidated rock eroded by waves.
              </td>
            </tr>
            <tr>
              <td class="text-left">SCD</td>
              <td class="text-left">Scald</td>
              <td class="text-left">
                Flat, bare of vegetation, from which soil has been eroded or
                excavated by surface wash or wind.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">SCA</td>
              <td class="text-left text-bold">Scarp</td>
              <td class="text-left text-bold">
                Very wide, steep to precipitous maximal slope, eroded by
                gravity, water-aided mass movement or sheet flow (cf. Cliff).
              </td>
            </tr>
            <tr>
              <td class="text-left">SFS</td>
              <td class="text-left">Scarp-footslope</td>
              <td class="text-left">
                Waning or minimal slope situated below a scarp, with it contours
                generally parallel to the line of the scarp.
              </td>
            </tr>
            <tr>
              <td class="text-left">SCR</td>
              <td class="text-left">Scroll</td>
              <td class="text-left">
                Long, curved, very low ridge built up by channelled stream flow
                and left relict by channel migration. Part of a meander plain
                landform pattern.
              </td>
            </tr>
            <tr>
              <td class="text-left">SRP</td>
              <td class="text-left">Scroll plain</td>
              <td class="text-left">
                Large flat resulting from aggradation by channelled stream flow
                as a stream migrates from side to side; the dominant element of
                a meander plain landform pattern. This landform element may
                include occurrences of scroll, swale and ox-bow.
              </td>
            </tr>
            <tr>
              <td class="text-left">DOL</td>
              <td class="text-left">Solution doline</td>
              <td class="text-left">
                Steep-sided, circular or elliptical closed depression, commonly
                funnel-shaped, characterised by subsurface drainage and formed
                by dissolution of the surface or underlying bedrock.
              </td>
            </tr>
            <tr>
              <td class="text-left">STB</td>
              <td class="text-left">Stream bed</td>
              <td class="text-left">
                Linear, generally sinuous open depression forming the bottom of
                a stream channel, eroded and locally excavated, aggraded or
                built up by channelled stream flow. Parts that are built up
                include bars.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">STC</td>
              <td class="text-left text-bold">Stream channel</td>
              <td class="text-left text-bold">
                Linear, generally sinuous open depression, in parts eroded,
                excavated, built up and aggraded by channelled stream flow. This
                element comprises stream bed and banks.
              </td>
            </tr>
            <tr>
              <td class="text-left">SUS</td>
              <td class="text-left">Summit surface</td>
              <td class="text-left">
                Very wide, level to gently inclined crest with abrupt margins,
                commonly eroded by water-aided mass movement or sheet wash.
              </td>
            </tr>
            <tr>
              <td class="text-left">STF</td>
              <td class="text-left">Supratidal flat</td>
              <td class="text-left">See Tidal flat.</td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">SWL</td>
              <td class="text-left text-bold">Swale</td>
              <td class="text-left text-bold">
                I) Linear, level-floored open depression excavated by wind, or
                left relict between ridges built up by wind or waves, built up
                to a lesser height than them. II) Long, curved open or closed
                depression left relict between scrolls built up by channelled
                stream flow.
              </td>
            </tr>
            <tr class="bg-grey-6">
              <td class="text-left text-bold">SWP</td>
              <td class="text-left text-bold">Swamp</td>
              <td class="text-left text-bold">
                Almost level, closed or almost closed depression with a seasonal
                or permanent water table at or above the surface, commonly
                aggraded by overbank stream flow and sometimes biological
                accumulation.
              </td>
            </tr>
            <tr>
              <td class="text-left">TAL</td>
              <td class="text-left">Talus</td>
              <td class="text-left">
                Moderately inclined or steep waning lower slope, consisting of
                rock fragments aggraded by gravity.
              </td>
            </tr>
            <tr>
              <td class="text-left">TEF</td>
              <td class="text-left">Terrace flat</td>
              <td class="text-left">
                Small flat aggraded or eroded by channelled or overbank stream
                flow, standing above a scarp and no longer frequently inundated;
                a former valley flat or part of a former flood plain.
              </td>
            </tr>
            <tr>
              <td class="text-left">TEP</td>
              <td class="text-left">Terrace plain</td>
              <td class="text-left">
                Large or very large flat aggraded by channelled or overbank
                stream flow; standing above a scarp and no longer frequently
                inundated; part of a former flood plain.
              </td>
            </tr>
            <tr>
              <td class="text-left">TDC</td>
              <td class="text-left">Tidal creek</td>
              <td class="text-left">
                Intermittently water-filled open depression in parts eroded,
                excavated, built up and aggraded by channelled tide-water flow;
                type of stream channel characterised by a rapid increase in
                width downstream.
              </td>
            </tr>
            <tr>
              <td class="text-left">TDF</td>
              <td class="text-left">Tidal flat</td>
              <td class="text-left">
                Large flat subject to inundation by water that is usually salt
                or brackish, aggraded by tides. An intertidal flat (ITF) is
                frequently inundated; a supratidal flat (STF) is seldom
                inundated.
              </td>
            </tr>
            <tr>
              <td class="text-left">TOR</td>
              <td class="text-left">Tor</td>
              <td class="text-left">
                Steep to precipitous hillock, typically convex, with a surface
                mainly of bare rock, either coherent or comprising subangular to
                rounded, large boulders separated by open fissures; eroded by
                sheet wash or water-aided mass movement.
              </td>
            </tr>
            <tr>
              <td class="text-left">TRE</td>
              <td class="text-left">Trench</td>
              <td class="text-left">
                Open depression excavated by human activity.
              </td>
            </tr>
            <tr>
              <td class="text-left">TUM</td>
              <td class="text-left">Tumulus</td>
              <td class="text-left">
                Hillock heaved up by volcanism (or, elsewhere, built up by human
                activity at a burial site).
              </td>
            </tr>
            <tr>
              <td class="text-left">VLE</td>
              <td class="text-left">Valley flat</td>
              <td class="text-left">
                Small, gently inclined to level flat, aggraded or sometimes
                eroded by channelled or overbank steam flow; typically enclosed
                by hillslopes; a miniature alluvial plain landform pattern.
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </q-scroll-area>
    </q-card-section>
  </q-card>
</template>

<style scoped>
td {
  white-space: normal !important;
}
</style>
