<template>
  <div>
    Leaf litter is all the plant organic matter above the top layer of the
    compacted soil, mostly consisting of decaying and dry leaves, but can also
    include needles, grass, twigs and bark. Does not include coarse woody debris
    or woody debris
  </div>
</template>
