<template>
  <div>
    <div class="text-h5 q-pb-md q-pt-sm row justify-center">
      Diameter of macropores
    </div>
    <div class="q-pb-md">
      <img
        src="../../assets/HelpScreenshots/macropores.png"
        style="width: 100%"
        alt="Basal Area Factor"
      />
    </div>
  </div>
</template>
