<template>
  <div>
    take a photo looking down (into the sample container with the lid off), with
    the barcode label placed alongside the container (not in the container), so
    it is visible in the photo.
  </div>
</template>
