<template>
  <q-table
    wrap-cells
    :rows="slopeData"
    :columns="columns"
    row-key="code"
    class="q-mb-md"
  >
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td v-for="col in props.cols" :key="col.name" :props="props">
          <div v-if="col.name === 'Group'">
            {{ col.value }}
          </div>
          <ul v-else>
            <li v-for="item in props.row[col.name]" :key="item">
              {{ item }}
            </li>
          </ul>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
export default {
  data() {
    return {
      slopeData: [
        {
          Group: 'Rainforest and Vine Thickets (MVG 1)',
          SubGroup: [
            'Cool temperate rainforest',
            'Tropical or sub-tropical rainforests',
            'Dry rainforest',
            'Vine thickets',
          ],
        },
        {
          Group: 'Eucalypt Tall Open Forests (MVG 2)',
          SubGroup: [
            'Eucalyptus tall open forests with a dense broad-leaved and/or tree-fern understorey (wet-sclerophyll)',
            'Eucalyptus tall open forests with a fine-leaved shrubby understorey OR Eucalyptus tall open forests and open forests with ferns, herbs, sedges, rushes or wet tussock grasses',
          ],
        },
        {
          Group: 'Eucalypt Open Forests (MVG 3)',
          SubGroup: [
            'Eucalyptus open forests with a shrubby understorey',
            'Eucalyptus open forests with a grassy understorey',
          ],
        },
        {
          Group: 'Eucalypt Low Open Forests (MVG 4)',
          SubGroup: [''],
        },
        {
          Group: 'Eucalypt Woodlands (MVG 5)',
          SubGroup: [
            'Eucalyptus woodlands with a shrubby understorey OR Eucalyptus woodlands with a chenopod or samphire understorey',
            'Eucalyptus woodlands with a grassy understorey OR Eucalyptus woodlands with ferns, herbs, sedges, rushes or wet tussock grassland OR Eucalyptus woodlands with a hummock grass understorey',
          ],
        },
        {
          Group: 'Acacia Forests and Woodlands (MVG 6)',
          SubGroup: [
            'Brigalow (Acacia harpophylla) forests and woodlands',
            'Other Acacia forests and woodlands',
            'Mulga (Acacia aneura) woodlands and shrublands +/- tussock grass +/- forbs OR Mulga (Acacia aneura) woodlands and shrublands with hummock grass',
          ],
        },
        {
          Group: 'Callitris Forests and Woodlands (MVG 7)',
          SubGroup: [
            'Callitris forests and woodlands (Eastern occurrence)',
            'Callitris forests and woodlands (mallee, arid and semi-arid occurrence)',
          ],
        },
        {
          Group: 'Casuarina Forests and Woodlands (MVG 8)',
          SubGroup: [
            'Casuarina and Allocasuarina forests and woodlands',
            'River Oak forests and woodlands',
          ],
        },
        {
          Group: 'Melaleuca Forests and Woodlands (MVG 9)',
          SubGroup: ['Melaleuca open forests and woodlands'],
        },
        {
          Group: 'Other Forests and Woodlands (MVG 10)',
          SubGroup: [
            'Other forests and woodlands OR Banksia woodlands OR Leptospermum forests and woodlands OR Tropical mixed species forests and woodlands',
          ],
        },
        {
          Group: 'Eucalypt Open Woodlands (MVG 11)',
          SubGroup: [
            'Eucalyptus open woodlands with a grassy understorey OR Eucalyptus open woodlands with shrubby understorey',
            'Eucalyptus low open woodlands with tussock grass OR Eucalyptus low open woodlands with a shrubby understorey OR Eucalyptus low open woodlands with a chenopod or samphire understorey',
          ],
        },
        {
          Group: 'Tropical Eucalypt Woodlands / Grasslands (MVG 12)',
          SubGroup: [
            'Tropical Eucalyptus forests and woodlands with a tall annual grassy understorey',
          ],
        },
        {
          Group: 'Acacia Open Woodlands (MVG 13)',
          SubGroup: [
            'Mulga (Acacia aneura) open woodlands and sparse shrublands +/- tussock grass OR Mulga (Acacia aneura) open woodlands and sparse shrublands with hummock grass',
          ],
        },
        {
          Group: 'Mallee Woodlands and Shrublands (MVG 14)',
          SubGroup: [
            'Mallee with hummock grass OR Mallee with a tussock grass understorey OR Mallee with a dense shrubby understorey OR Mallee with an open shrubby understorey',
          ],
        },
        {
          Group: 'Low Closed Forest and Tall Closed Shrublands (MVG 15)',
          SubGroup: [
            'Low closed forests or tall closed shrublands (including Acacia, Melaleuca and Banksia)',
          ],
        },
        {
          Group: 'Acacia Shrublands (MVG 16)',
          SubGroup: [
            'Acacia (+/- low) open woodlands and sparse shrublands with a shrubby understorey OR Acacia (+/- low) open woodlands and sparse shrublands with hummock grass OR Acacia (+/- low) open woodlands and sparse shrublands with tussock grass OR Acacia (+/- low) open woodlands and sparse shrublands with chenopods.',
          ],
        },
        {
          Group: 'Other Shrublands (MVG 17)',
          SubGroup: [
            'Melaleuca shrublands and open shrublands OR Casuarina/Allocasuarina shrublands (C. equisetifolia, A. littoralis, A. verticillata) OR other shrublands',
            'Lignum shrublands and wetlands',
          ],
        },
        {
          Group: 'Heathlands (MVG 18)',
          SubGroup: ['Heathlands'],
        },
        {
          Group: 'Tussock Grasslands (MVG 19)',
          SubGroup: [
            'Temperate tussock grassland',
            'Mitchell grass (Astrebla) tussock grasslands and Blue grass (Dichanthium) and tall bunch grass (Chrysopogon) tussock grasslands OR Other tussock grasslands',
          ],
        },
        {
          Group: 'Hummock Grasslands (MVG 20)',
          SubGroup: ['Hummock grasslands'],
        },
        {
          Group:
            'Other Grasslands, Herblands, Sedgelands and Rushlands (MVG 21)',
          SubGroup: [
            'Sedgelands, rushes or reeds OR Wet tussock grasslands with herbs, sedges or rushes, herblands or ferns OR Other grasslands',
            'Saline or brackish sedgelands or grasslands',
          ],
        },
        {
          Group:
            'Chenopod Shrublands, Samphire Shrublands and Forblands (MVG 22)',
          SubGroup: [
            'Saltbush and/or Bluebush shrublands',
            'Mixed chenopod, samphire +/- forbs',
          ],
        },
        {
          Group: 'Mangroves (MVG 23)',
          SubGroup: ['Mangroves (Northern)', 'Mangroves (Southern)'],
        },
        {
          Group: 'Other Open Woodlands (MVG 31)',
          SubGroup: [
            'Callitris open woodlands OR Melaleuca open woodlands OR Other open woodlands',
            'Casuarina and Allocasuarina open woodlands with a shrubby understorey OR Casuarina and Allocasuarina open woodlands with a chenopod shrub understorey OR Casuarina and Allocasuarina open woodlands with a tussock grass understorey OR Casuarina and Allocasuarina open woodlands with a hummock grass understorey',
          ],
        },
        {
          Group: 'Mallee Open Woodlands and Sparse Mallee Shrublands (MVG 32)',
          SubGroup: [
            'Open mallee woodlands and sparse mallee shrublands with a dense shrubby understorey OR Open mallee woodlands and sparse mallee shrublands with a sparse shrubby understorey OR Open mallee woodlands and sparse mallee shrublands with a tussock grass understorey OR Open mallee woodlands and sparse mallee shrublands with a hummock grass understorey',
          ],
        },
        {
          Group: 'Inland aquatic - freshwater, salt lakes, lagoons (MVG 24)',
          SubGroup: [
            'Salt lakes and lagoons',
            'Freshwater, dams, lakes, lagoons or aquatic plants',
          ],
        },
        {
          Group: 'Cleared, non-native vegetation, buildings (MVG 25)',
          SubGroup: ['Cleared, non-native vegetation, buildings'],
        },
        {
          Group: 'Unclassified native vegetation (MVG 26)',
          SubGroup: ['Unclassified native vegetation'],
        },
        {
          Group: 'Naturally bare - sand, rock, claypan, mudflat (MVG 27)',
          SubGroup: ['Naturally bare - sand, rock, claypan, mudflat'],
        },
        {
          Group: 'Sea and estuaries (MVG 28)',
          SubGroup: ['Sea, estuaries (includes seagrass)'],
        },
        {
          Group: 'Regrowth, modified native vegetation (MVG 29)',
          SubGroup: [
            'Regrowth or modified forests and woodlands',
            'Regrowth or modified shrublands',
            'Regrowth or modified chenopod shrublands, samphire or forblands',
            'Regrowth or modified graminoids',
          ],
        },
        {
          Group: 'Unclassified Forest (MVG 30)',
          SubGroup: ['Unclassified Forest'],
        },
        {
          Group: 'Unknown/no data (MVG 99)',
          SubGroup: ['Unknown/no data'],
        },
      ],
    }
  },
}
</script>
