<template>
  <div>
    <div>
      <div v-if="fieldName === 'structure_type'">
        <div>
          <div class="row justify-center text-h5 q-pb-sm">Platy Peds</div>
          <img
            src="../../assets/HelpScreenshots/platy_peds.png"
            style="width: 100%"
            alt="Platy Peds"
          />
          <div class="row justify-center text-h5 q-pb-sm">Granular Peds</div>
          <img
            src="../../assets/HelpScreenshots/granular_peds.png"
            style="width: 100%"
            alt="Granular Peds"
          />
          <div class="row justify-center text-h5 q-pb-sm">Lenticular Peds</div>
          <img
            src="../../assets/HelpScreenshots/lenticular_peds.png"
            style="width: 100%"
            alt="Lenticular Peds"
          />
          <div class="row justify-center text-h5 q-pb-sm">Polyhedral Peds</div>
          <img
            src="../../assets/HelpScreenshots/polyhedral_peds.png"
            style="width: 100%"
            alt="Polyhedral Peds"
          />
          <div class="row justify-center text-h5 q-pb-sm">
            Prismatic and Polyhedral Peds
          </div>
          <img
            src="../../assets/HelpScreenshots/prismatic_and_polyhedral_peds.png"
            style="width: 100%"
            alt="Prismatic and Polyhedral Peds"
          />
        </div>
        <div class="row justify-center text-h5 q-pb-sm">
          Angular and Subangular Blocky Peds
        </div>
        <img
          src="../../assets/HelpScreenshots/angular_and_subangular_blocky_peds.png"
          style="width: 100%"
          alt="Angular and Subangular Blocky Peds"
        />
      </div>

      <div v-if="fieldName === 'structure_size'">
        <div>
          <div class="row justify-center text-h5 q-pb-sm">
            Average least dimension of peds
          </div>
          <img
            src="../../assets/HelpScreenshots/angular_and_subangular_blocky_peds_size.png"
            style="width: 100%"
            alt="Angular and Subangular Blocky Peds Size"
          />
          <img
            src="../../assets/HelpScreenshots/granular_peds_size.png"
            style="width: 100%"
            alt="Granular Peds Size"
          />

          <img
            src="../../assets/HelpScreenshots/lenticular_peds_size.png"
            style="width: 100%"
            alt="Lenticular Peds Size"
          />
          <img
            src="../../assets/HelpScreenshots/platy_peds_size.png"
            style="width: 100%"
            alt="Platy Peds Size"
          />
          <img
            src="../../assets/HelpScreenshots/polyhedral_peds_size.png"
            style="width: 100%"
            alt="Polyhedral Peds Size"
          />
          <img
            src="../../assets/HelpScreenshots/prismatic_and_columnar_peds.png"
            style="width: 100%"
            alt=" Size"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    fieldName: {
      type: String,
    },
  },
}
</script>
