<template>
  <div>{{ info[fieldName] }}</div>
</template>
<script>
export default {
  props: {
    fieldName: {
      type: String,
    },
  },
  data() {
    const info = {
      plant_species_life_stage:
        'Add up to 10 plant species at an important life-stage at the time of the survey. Recommended if the Floristics Module is not being conducted as part of the current visit.',
      site_disturbance:
        'Record any disturbance to vegetation observed (e.g. overgrazing by native animals).',
      homogeneity_measure:
        'A visual estimate (in metres) of the shortest distance from the plot centre to a vegetation association different to the one that you are sampling in. Where there is uncertainty, it is recommended that this measure be an under-estimate, so be conservative in estimating the distance. Where it is not possible to directly observe the distance to a different association, then estimate the furthest distance that you are sure is the same association as the one you are sampling within.',
    }
    return { info }
  },
}
</script>
