<template>
  <div>
    Will allow setting your reference point manually, rather than using your
    current location. Only use if:.
    <q-list>
      <q-item> (1) You are using data sheets. </q-item>
      <q-item>
        (2) You are only undertaking monitoring in the fauna plot during the
        current visit, and the core monitoring plot still needs to be
        established to pair the fauna plot to and delineate the biodiversity plot
      </q-item>
    </q-list>
  </div>
</template>
