<template>
  <div>
    <div class="text-h5 q-pb-md q-pt-sm row justify-center">Problem Trees</div>
    <div class="q-pb-md">
      <img
        src="../../assets/HelpScreenshots/problem_trees.png"
        style="width: 100%"
        alt="Problem Trees"
      />
    </div>
    <p>
      a) Trees on a slope: DBH should be measured at 1.3 m on the uphill side of
      the tree.
    </p>
    <p>b) Straightforward trees: DBH measured at 1.3 m.</p>
    <p>
      c) Leaning trees: DBH should be measured at 1.3 m on the inside of the
      lean, starting at the ground next to the base of the tree.
    </p>
    <p>
      d) Multi-stemmed trees (branching above 1.3 m): single DBH measured at 1.3
      m.
    </p>
    <p>
      e) Mutli-stemmed trees (branching below 1.3 m): Treated as single trees
      with mulitple stems (Stem A, B, C, etc.), DBH measured at 1.3 m for each
      individual stem.
    </p>
    <p>
      f) Mallee or Mulga that branch very close to the ground should be measured
      at 30 cm or if branching lower than this, 10 cm and POM recorded
      accordingly g) and h) Deformed trees: DBH should be measured either above
      or below 1.3 m and the POM recorded.
    </p>
    <p>
      i) Buttressed trees: DBH measured at 1.3 m, and diameter measured at the
      highest point you can reach (e.g. approximately 2.2 m) and 50 cm above the
      top of the buttress. Every effort must be made for both the 1.3 m and the
      highest point you can reach during initial surveys.
    </p>
    <p>
      - Dead trees: flagged as 'Dead' in a baseline survey and all other
      attributes are measured as normal.
    </p>
    <p>
      - Tree ferns: the soft texture of tree fern trunks is not conducive to DBH
      measurements and therefore tree ferns are not measured for DBH.
    </p>

    <div class="text-h5 q-pb-md q-pt-sm row justify-center">Tree in or out</div>
    <div class="q-pb-md">
      <img
        src="../../assets/HelpScreenshots/tree_in_or_out.png"
        style="width: 100%"
        alt="Tree in or out"
      />
    </div>
    <p>
      A tree is in the plot or subplot and measured if more than 50% of the base
      of the trunk is within the plot or subplot. Adapted from Wood et al.
      (2015)
    </p>
  </div>
</template>
