<template>
  <h6 class="q-ma-none">
    Optionally select all projects relevant to this plot selection(s)
  </h6>
  <p>
    You can do plot selection without linking plots to projects, but this
    may interfere with some functionality
  </p>
  <p>
    If you are not a Project Admin, you will not be able to link the new
    Plots to the Project(s)
  </p>
  <p>
    Once a project has been associated with a given Plot Selection, the project cannot be deselected and the project area cannot be changed. You will need to remove the Plot Selection in the next step to change the project area or remove the project.
  </p>
</template>