<template>
  <div>
    <h5>Measuring slope using a clinometer</h5>
    <p>A clinometer is the most efficient method for recording slope.</p>
    <p>
      Stand so you are facing directly up or down the slope. We recommend
      measuring the degrees of the downhill slope. If there is no slope, then
      record this as 0.
    </p>
    <p>
      Keep both eyes open and align the clinometer cross hairs with the target
      point in the distance. To minimise the influence of micro-relief on the
      slope reading, the slope measurement should be taken across a distance of
      at least 20 m.
    </p>
    <p>
      The clinometer should be angled so that a consistent height above the
      ground is maintained (i.e. measure eye level of another field member
      standing at least 20 m away or an object that is approximately the same
      height above the ground as eye level).
    </p>
    <p>
      Two scales appear through the clinometer lens (degrees and percent).
      Record the degrees in the app.
    </p>
    <p>
      If a clinometer is not available slope can also be measured with a compass or a suitable app (such
      as Simple Inclinometer).
    </p>
    <img src="../../assets/HelpScreenshots/slope.jpg" alt="Slope infographic." style="width: 100%" />
  </div>
</template>