<template>
  <div>
    <div v-if="fieldName === 'microhabitat'">
      Photograph the microhabitat from which the sample will be taken. Include
      soil surface and microhabitat in the photo
    </div>
    <div v-if="fieldName === 'microhabitat_description'">
      Breifly describe the soil surface (e.g. cryptogam, bare ground, leaf
      litter, coarse fragments), nearby plant species (including distance from
      the species or whether it is underneath a species), and any animal
      activity
    </div>
  </div>
</template>
<script>
export default {
  props: {
    fieldName: {
      type: String,
    },
  },
}
</script>
<style></style>
