<template>
  <div>
    <h5>Structural Formation</h5>
    <q-markup-table>
      <caption class="text-h6">
        Cover characteristics
      </caption>
      <tbody>
        <tr v-for="(row, index) in coverCharacteristics" :key="index">
          <td v-for="(cell, index) in row" :key="index" id="col">{{ cell }}</td>
        </tr>
      </tbody>
    </q-markup-table>
    <q-separator class="q-my-md"></q-separator>
    <q-scroll-area visible style="height: 70vh;">
      <q-markup-table>
        <caption class="text-h6 text-left">
          Classes
        </caption>
        <thead>
          <th id="col" class="text-left bold-text">Growth form</th>
          <th id="col" class="text-left bold-text">Heighth ranges(m)</th>
          <th id="col" class="text-left bold-text" colspan="6">Structural formation classes</th>
        </thead>
        <tbody>
          <tr v-for="(row, index) in formationClasses" :key="index">
            <td v-for="(cell, index) in row" :key="index" id="col">{{ cell }}</td>
          </tr>
        </tbody>
      </q-markup-table>
    </q-scroll-area>
  </div>
</template>
<script setup>
const coverCharacteristics = [
  ['Foliage cover', '70-100', '30-70', '10-30', '<10', 0, '0-5'],
  ['Crown cover', '>80', '50-80', '20-50', '0.25-20', '<0.25', '0-5'],
  ['% Cover', '>80', '50-80', '20-50', '0.25-20', '<0.25', '0-5'],
  ['Cover code', 'D', 'C', 'I', 'R', 'BI', 'BC'],
]

const formationClasses = [
  [
    'Tree, palm',
    '<10, 10-30, >30',
    'Closed forest',
    'Open forest',
    'Woodland',
    'Open woodland',
    'Isolated trees',
    'Isolated clumps of trees',
  ],
  [
    'Tree mallee',
    '<3, <10, 10-30',
    'Closed mallee forest',
    'Open mallee forest',
    'Mallee woodland',
    'Open mallee woodland',
    'Isolated mallee trees',
    'Isolated clumps of mallee trees',
  ],
  [
    'Shrub, cycad, grass-tree, tree-fern',
    '<1, 1-2, >2',
    'Closed shrubland',
    'Shrubland',
    'Open shrubland',
    'Sparse shrubland',
    'Isolated shrubs',
    'Isolated clumps of trees',
  ],
  [
    'Mallee shrub',
    '<3, <10, 10-30',
    'Closed mallee shrubland',
    'Mallee shrubland',
    'Open mallee shrubland',
    'Sparse mallee shrubland',
    'Isolated mallee shrubs',
    'Isolated clumps of mallee shrubs',
  ],
  [
    'Health shrub',
    '<1, 1-2, >2',
    'Closed heathland',
    'Heathland',
    'Open heathland',
    'Sparse heathland',
    'Isolated heath shrubs',
    'Isolated clumps of heath shrubs',
  ],
  [
    'Chenopod shrub',
    '<1, 1-2, >2',
    'Closed chenopod shrubland',
    'Chenopod shrubland',
    'Open chenopod shrubland',
    'Sparse chenopod shrubland',
    'Isolated chenopod shrubs',
    'Isolated clumps of chenopod shrubs',
  ],
  [
    'Samphire shrub',
    '<0.1, >0.5',
    'Closed samphire shrubland',
    'Samphire shrubland',
    'Open samphire shrubland',
    'Sparse samphire shrubland',
    'Isolated samphire shrubland',
    'Isolated clumps of samphire shrubs',
  ],
  [
    'Hummock grass',
    '<2, 2',
    'Closed hummock grassland',
    'Hummock grassland',
    'Open hummock grassland',
    'Sparse hummock grassland',
    'Isolated hummock grasses',
    'Isolated clumps of hummock grasses',
  ],
  [
    'Tussock grass',
    '<0.5, >0.5',
    'Closed tussock grassland',
    'Tussock grassland',
    'Open tussock grassland',
    'Sparse tussock grassland',
    'Isolated tussock grasses',
    'Isolated clumps of tussock grasses',
  ],
  [
    'Other grass',
    '<0.5, >0.5',
    'Closed grassland',
    'Grassland',
    'Open grassland',
    'Sparse grassland',
    'Isolated grasses',
    'Isolated clumps of grasses',
  ],
  [
    'Sedge',
    '<0.5, >0.5',
    'Closed sedgeland',
    'Sedgeland',
    'Open sedgeland',
    'Sparse sedgeland',
    'Isolated sedges',
    'Isolated clumps of sedges',
  ],
  [
    'Rush',
    '<0.5, >0.5',
    'Closed rushland',
    'Rushland',
    'Open rushland',
    'Sparse rushland',
    'Isolated rushes',
    'Isolated clumps of rushes',
  ],
  [
    'Forb',
    '<0.5, >0.5',
    'Closed forbland',
    'Forbland',
    'Open forbland',
    'Sparse forbland',
    'Isolated forbs',
    'Isolated clumps of forbs',
  ],
  [
    'Fern',
    '<1, 1-2, >2',
    'Closed fernland',
    'Fernland',
    'Open fernland',
    'Sparse fernland',
    'Isolated ferns',
    'Isolated clumps of ferns',
  ],
  [
    'Bryophyte',
    '<0.5',
    'Closed bryophyteland',
    'Bryophyteland',
    'Open bryophyteland',
    'Sparse Bryophyteland',
    'Isolated bryophytes',
    'Isolated clumps of bryophytes',
  ],
]
</script>
