<template>
  <div>
    <crud
      ref="crud"
      :fields="fields"
      :title="''"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :row-data-key="modelName"
      :main-survey-flag="true"
      @update:modelValue="(e) => $emit('update:modelValue', e)"
    />
  </div>
</template>
<script>
import { asyncCrud } from 'src/misc/helpers'
import { ref, inject } from 'vue'
import { makeModelConfig } from '../../misc/helpers'
export default {
  inject: ['doc'],
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      required: true,
    },
    splitSurveyStep: Boolean,
  },
  components: {
    crud: asyncCrud,
  },
  setup(props) {
    const doc = inject('doc')?.value
    // fields of crud
    const { fields } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
      false,
      null,
      props.splitSurveyStep,
    )

    return { fields: ref(fields) }
  },
  methods: {
    async onSubmitFunc() {
      return await this.$refs.crud.onSubmitFunc()
    },
  },
}
</script>
