<template>
  <div v-if="selectOptions?.length">
    <q-select
      :label="config.label"
      :data-cy="config.model"
      emit-value
      map-options
      :options="selectOptions"
      v-model="selectedPhoto"
    />
    <PreviewPhoto
      v-if="selectedPhotoInfo"
      class="q-my-md"
      :imgSrc="selectedPhotoInfo.src"
      :description="selectedPhotoInfo.description"
      width="200px"
      height="150px"
    />
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import { date } from 'quasar'
import { computed } from 'vue'
import PreviewPhoto from '../PreviewPhoto.vue'
export default {
  components: {
    PreviewPhoto,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      required: true,
      // type: [String, Null, Undefined],
    },
    config: {
      type: Object,
      required: true,
    },
  },
  setup(props, { emit }) {
    const { collectionGetForProt } = useBulkStore()

    const collectionData = collectionGetForProt({ protId: props.protocolId })
    const photoData =
      collectionData['invertebrate-active-search'].active_search_photos || []
    const selectOptions = photoData.map((photo) => ({
      label: date.formatDate(photo.taken_time, 'HH:mm:ss DD/MM/YY'),
      value: photo.photo_id,
    }))

    const selectedPhoto = computed({
      get() {
        return props.modelValue
      },
      set(value) {
        emit('update:modelValue', value)
      },
    })
    const selectedPhotoInfo = computed(() => {
      const info = photoData.find(
        (photo) => photo.photo_id === selectedPhoto.value,
      )
      if (!info) return undefined
      const description = `
      Taken time: ${date.formatDate(info.taken_time, 'HH:mm:ss DD/MM/YY')}<br/>
      Latitude: ${info.lat}<br/>
      Longitude: ${info.lng}<br/>
      Description: ${info.description}
      `
      return {
        src: info.photo.src,
        description,
      }
    })
    function prettyFormatDate(rawDate) {
      return date.formatDate(rawDate, 'HH:mm:ss DD/MM/YY')
    }
    return { selectOptions, selectedPhoto, selectedPhotoInfo, prettyFormatDate }
  },
}
</script>
