<template>
  <q-card flat>
    <q-card-section>
      <q-chip
        size="lg"
        rounded
        color="secondary"
        icon="alarm"
        :label="`Search time: ${searchTime} min`"
      />
    </q-card-section>
    <q-card-actions align="center" class="q-ma-md">
      <q-btn
        data-cy="startSearchBtn"
        :disable="disableStartBtn"
        class="q-mx-md"
        color="primary"
        rounded
        @click="startSearch"
        >Start Search</q-btn
      >
    </q-card-actions>
    <q-card-section class="q-mt-xs">
      <div class="">
        <DateTimeInput
          class="q-mx-md"
          label="start date/time"
          :model-value="searchStartTime"
          :disabled="true"
        />
        <q-circular-progress
          ref="timer"
          show-value
          class="col text-black q-ma-md fix"
          :value="progressBar"
          size="10rem"
          :thickness="0.2"
          color="red"
          center-color="white"
          track-color="transparent"
        >
          {{ displayedTimeLeft }}
        </q-circular-progress>
      </div>
      <q-page-sticky
        class="timer"
        v-if="showStickyTimer"
        position="bottom-left"
        :offset="[0, 0]"
      >
        <q-circular-progress
          data-cy="stickyTimer"
          ref="timer"
          show-value
          class="col text-black q-ma-md fix"
          :value="progressBar"
          size="5rem"
          :thickness="0.2"
          color="red"
          center-color="white"
          track-color="transparent"
        >
          {{ displayedTimeLeft }}
        </q-circular-progress>
      </q-page-sticky>
    </q-card-section>
    <q-card-section>
      <q-btn
        data-cy="endSearchBtn"
        :disable="!disableStartBtn"
        class="col q-mx-md btn"
        color="primary"
        rounded
        @click="confirm = true"
        >End Search</q-btn
      >
    </q-card-section>
    <!-- confirm dialog -->
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="warning" color="primary" text-color="white" />
          <span class="q-ml-sm">Confirm to end search</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            data-cy="confirmEndBtn"
            flat
            label="Yes"
            color="primary"
            v-close-popup
            @click="endSearch"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script>
import { date } from 'quasar'
import DateTimeInput from '../DateTimeInput.vue'
import { notifyHandler, playSound } from 'src/misc/helpers'
export default {
  components: {
    DateTimeInput,
  },
  props: {
    protocolId: {
      type: Number,
    },
    searchTime: {
      type: Number,
      required: true,
    },
    localRecord: {
      type: Object,
      required: true,
    },
  },
  async mounted() {
    await this.$nextTick()
    const startTime = this.localRecord?.start_time
    const endTime = this.localRecord?.end_time

    if (startTime && !endTime) {
      this.startSearch()
    }
    if (startTime && endTime) {
      this.endSearch()
      this.disableFields()
    }
  },
  data() {
    return {
      disableSearchTime: false,
      disableStartBtn: false,
      timeLeft: null,
      timerInterval: null,
      progressBar: 100,
      sticky: false,
      confirm: false,
      searchStartTime: this.localRecord?.start_time,
    }
  },
  computed: {
    displayedTimeLeft() {
      let unformattedTime
      if (this.timeLeft === null) {
        unformattedTime = this.searchTime * 60
      } else {
        unformattedTime = this.timeLeft
      }
      const second = unformattedTime % 60
      const minute = (unformattedTime - second) / 60
      if (second < 10) {
        return minute + ':' + '0' + second
      }
      return minute + ':' + second
    },
    showStickyTimer() {
      return this.timeLeft > 0
    },
  },
  methods: {
    startSearch() {
      this.disableFields()
      const current = new Date()
      if (!this.searchStartTime) {
        this.searchStartTime = current
        this.$emit('startSearch', current)
      }
      this.startTimer()
    },
    startTimer() {
      const endTime = date.addToDate(this.searchStartTime, {
        minutes: this.searchTime,
      })
      this.timerInterval = setInterval(() => {
        const current = new Date()
        this.timeLeft = date.getDateDiff(endTime, current, 'seconds')
        const timePass = date.getDateDiff(
          this.searchStartTime,
          current,
          'seconds',
        )

        // update track log every 20s
        if (timePass % 20 === 0) {
          this.$emit('update:trackLog')
        }

        this.progressBar = (this.timeLeft / (this.searchTime * 60)) * 100
        if (this.timeLeft === 300) notifyHandler('positive', '5 minute left')
        if (this.timeLeft === 60) notifyHandler('positive', '1 minute left')
        if (this.timeLeft <= 0) {
          playSound('/statics/finish_timer.mp3')
          notifyHandler('positive', 'timeout')
          clearInterval(this.timerInterval)
        }
      }, 1000)
    },
    endSearch() {
      this.timeLeft = 0
      this.progressBar = 0
      clearInterval(this.timerInterval)
    },
    disableFields() {
      this.disableSearchTime = true
      this.disableStartBtn = true
    },
  },
  unmounted() {
    clearInterval(this.timerInterval)
  },
  watch: {
    timeLeft() {
      if (this.timeLeft !== 0) return
      const current = new Date()
      this.$emit('endSearch', current)
    },
  },
}
</script>
<style>
.timer {
  z-index: 9999999;
}
/* .btn {
  z-index: 99999;
} */
</style>
