<template>
  <div>
    <ActiveSearchTimer
      :search-time="searchTime"
      :protocol-id="protocolId"
      :local-record="localRecord"
      @update:track-log="updateTrackLog"
      @start-search="(startTime) => (localRecord.start_time = startTime)"
      @end-search="(endTime) => (localRecord.end_time = endTime)"
    />
    <ActiveSearchPhoto
      :user-coords="userCoords"
      :end-time="localRecord['end_time']"
      v-model="localRecord['active_search_photos']"
    />
    <InvertebrateTrackLog
      :protocol-id="protocolId"
      :userCoords="userCoords"
      :log="localRecord['track_log']"
    />
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { notifyHandler } from 'src/misc/helpers'
import ActiveSearchPhoto from './ActiveSearchPhoto.vue'
import ActiveSearchTimer from './ActiveSearchTimer.vue'
import InvertebrateTrackLog from './InvertebrateTrackLog.vue'
import cloneDeep from 'lodash/cloneDeep'
import { mapState } from 'pinia'
export default {
  components: {
    ActiveSearchPhoto,
    ActiveSearchTimer,
    InvertebrateTrackLog,
  },
  props: {
    modelValue: {
      required: false,
      default: () => ({}),
    },
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
    },
  },
  setup(props) {
    const { collectionGetForProt } = useBulkStore()

    const collectionData = collectionGetForProt({ protId: props.protocolId })

    const surveyModelName = 'invertebrate-active-search-survey'
    // specified in survey setup
    const searchTime = collectionData[surveyModelName].search_time

    return {
      searchTime,
    }
  },
  data() {
    return {
      localRecord: cloneDeep(this.modelValue) || {},
    }
  },
  computed: {
    ...mapState(useEphemeralStore, ['userCoords']),
  },
  methods: {
    async onSubmitFunc() {
      if (!this.localRecord['start_time'] || !this.localRecord['end_time']) {
        notifyHandler('negative', 'The search has not been finished yet')
        return false
      }
      return true
    },
    updateTrackLog() {
      if (!this.localRecord.track_log) {
        this.localRecord.track_log = [this.userCoords]
      } else {
        this.localRecord.track_log.push(this.userCoords)
      }
    },
  },
  watch: {
    localRecord: {
      handler(newVal) {
        this.$emit('update:modelValue', structuredClone(newVal))
      },
      deep: true,
    },
  },
}
</script>
