<template>
  <q-card flat>
    <q-toggle class="text-h6" label="Camera" v-model="show" />
    <q-card-section v-if="show">
      <q-card class="q-pa-sm">
        <h6 class="q-my-md">Active search photo</h6>
        <p v-if="!userCoords">
          Waiting for GPS
          <q-spinner-radio color="primary" />
        </p>
        <latLngPicker
          v-else
          v-model="currentLocation"
          title="Current location"
        />
        <Camera :camera-type="'media'" @update:modelValue="savePhoto" />
      </q-card>
    </q-card-section>
    <ExpandImage
      v-if="tempImgSrc"
      v-model="expandImage"
      :img-src="tempImgSrc"
    />
    <template v-if="localRecord.length">
      <h6 class="q-ma-md">Saved photo(s)</h6>
      <q-scroll-area :visible="true" style="height: 200px">
        <q-list bordered separator>
          <q-item
            class="row"
            v-for="(photo, index) in localRecord"
            :key="index"
          >
            <div class="col">
              <q-btn
                flat
                icon="image"
                @click="expandImageHandler(photo)"
                :label="prettyFormatDate(photo.taken_time)"
              />
            </div>
            <div class="col">
              <q-btn
                flat
                icon="comment"
                @click="toggleDescription(index)"
                label="Description"
              />
            </div>
            <div class="col">
              <q-btn
                data-cy="deletePhotoBtn"
                icon="delete"
                color="red"
                size="md"
                @click="deletePhoto(index)"
              ></q-btn>
            </div>
          </q-item>
        </q-list>
      </q-scroll-area>
    </template>
    <q-dialog v-model="showDescription">
      <q-card class="comment">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Edit photo's description</div>
          <q-space />
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input
            data-cy="addComment"
            autogrow
            dense
            v-model="tempPhotoDescription"
            ref="commentInput"
            counter
          />
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn
            data-cy="saveComment"
            flat
            label="Save"
            @click="saveComment"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script>
import Camera from '../Camera.vue'
import ExpandImage from '../ExpandImage.vue'
import { v4 as uuidv4 } from 'uuid'
import { date } from 'quasar'
import latLngPicker from '../latLngPicker.vue'
export default {
  components: {
    Camera,
    ExpandImage,
    latLngPicker,
  },
  props: {
    endTime: {
      required: false,
    },
    modelValue: {
      required: true,
    },
    userCoords: {
      required: true,
    },
  },
  data() {
    return {
      show: true,
      expandImage: false,
      tempImgSrc: null,
      tempPhotoIndex: null,
      showDescription: false,
      tempPhotoDescription: '',
      localRecord: this.modelValue || [],
      currentLocation: this.userCoords,
    }
  },
  methods: {
    prettyFormatDate(rawDate) {
      return date.formatDate(rawDate, 'HH:mm:ss DD/MM/YY')
    },
    savePhoto(photo) {
      const newPhotoData = {
        photo: photo,
        taken_time: new Date(),
        photo_id: uuidv4(),
        ...this.currentLocation,
      }

      this.localRecord.push(newPhotoData)
      this.photoDescription = ''
      this.photo = null
    },
    expandImageHandler(photo) {
      this.tempImgSrc = photo.photo.src
      this.expandImage = true
    },
    toggleDescription(index) {
      const selectedPhoto = this.localRecord[index]
      this.tempPhotoIndex = index
      this.tempPhotoDescription = selectedPhoto.description
      this.showDescription = true
    },
    saveComment() {
      this.localRecord = this.localRecord.map((photo, index) => {
        if (index === this.tempPhotoIndex) {
          photo.description = this.tempPhotoDescription
        }
        return photo
      })
    },
    deletePhoto(deletedPhotoIndex) {
      this.localRecord = this.localRecord.filter(
        // eslint-disable-next-line
        (_, index) => index !== deletedPhotoIndex,
      )
    },
  },
  watch: {
    endTime() {
      this.show = false
    },
    localRecord: {
      deep: true,
      handler() {
        this.$emit('update:modelValue', this.localRecord)
      },
    },
  },
}
</script>
