<template>
  <div>
    <PitFallTrapGrid
      class="q-my-md"
      :plot-type="plotType"
      @place-grid="placeGrid"
      @remove-grid="removeGridHandler"
      :modelValue="dataToDisplayOnMap"
    />
    <AddTrap
      v-if="plannedTrapsLocations?.length"
      ref="addTrap"
      v-model="localRecord"
      :plannedTrapsLocations="plannedTrapsLocations"
      :protocol-id="protocolId"
      :add-trap-fields="fields"
    />
  </div>
</template>

<script>
import {
  notifyHandler,
  makeModelConfig,
} from 'src/misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
import AddTrap from './AddTrap.vue'
import PitFallTrapGrid from './PitFallTrapGrid.vue'
import { computed, inject } from 'vue'
export default {
  inject: ['doc'],
  components: {
    AddTrap,
    PitFallTrapGrid,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
      default: () => ({
        lat: 0,
        lng: 0,
      }),
    },
    modelName: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const bulkStore = useBulkStore()

    const doc = inject('doc')?.value
    const { fields } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    const savedRecord = computed(
      () =>
        bulkStore.collectionGetForProt({ protId: props.protocolId })[
          props.modelName
        ] || [],
    )
    const { plot_type } = bulkStore.collectionGetForProt({
      protId: props.protocolId,
    })['invertebrate-wet-pitfall-survey']
    const plotTypeLuts = {
      F: 'fauna',
      C: 'core',
    }

    return {
      plotType: plotTypeLuts[plot_type],
      fields,
      savedRecord,
      bulkStore,
    }
  },
  data() {
    const plannedTrapsLocations =
      this.bulkStore.autoSavedCollections[this.protocolId] || []
    return {
      localRecord: this.savedRecord || [],
      plannedTrapsLocations,
    }
  },
  computed: {
    dataToDisplayOnMap() {
      const dataForMap = this.plannedTrapsLocations.map((trap) => {
        const isRecorded = this.savedRecord.some(
          ({ trapId }) => trapId === trap.trapId,
        )
        trap.color = isRecorded ? 'blue' : 'orange'
        return trap
      })
      return dataForMap
    },
  },
  methods: {
    onSubmitFunc() {
      if (this.localRecord.length < 20) {
        notifyHandler('warning', 'All traps have not been opened')
      }
      return true
    },
    placeGrid(trap) {
      this.bulkStore.autoSavedCollections[this.protocolId] = trap
      this.plannedTrapsLocations = trap
    },
    removeGridHandler() {
      this.localRecord = []
      this.plannedTrapsLocations = []
    },
  },
  watch: {
    localRecord: {
      handler(newVal) {
        this.$emit('update:modelValue', newVal)
      },
      deep: true,
    },
  },
}
</script>
