<template>
  <div>
    <q-banner
      v-if="addedTraps.length === plannedTrapsLocations.length"
      class="text-black bg-green"
    >
      All traps are opened
    </q-banner>
    <q-card-section>
      <SelectTrap
        v-model="selectedTrap"
        :local-record="plannedTrapsLocations"
        :recorded-traps="addedTraps"
        hint="Opened traps are shown in blue color"
        hide-bottom-space
      />
    </q-card-section>
    <h6 ref="addTrapHeader" class="q-mt-sm q-mb-md">
      {{ selectedTrapInfo['trapId'] }}
    </h6>
    <q-card-section>
      <div>
        <div class="text-subtitle1">Proposed location</div>
        <p>
          Using lat: {{ selectedTrapInfo.lat.toFixed(7) }}, lng:
          {{ selectedTrapInfo.lng.toFixed(7) }}
        </p>
      </div>
      <q-chip
        v-if="accuracy"
        :color="accuracy > 5 ? 'yellow' : 'green'"
        text-color="black"
        class="q-my-md"
        rounded
        >Estimated distance: {{ accuracy?.toFixed(2) }} m
      </q-chip>
    </q-card-section>
    <q-card-actions class="relative">
      <div class="q-mx-auto">
        <q-btn
          color="green"
          :disable="locationIsRecorded"
          @click="recordTrapLocation"
          data-cy="recordTrapLocationBtn"
          >Record Trap Location</q-btn
        >
        <q-btn color="green" @click="unmarkLocation">undo</q-btn>
      </div>
      <q-btn
        v-if="trapType === 'pan'"
        class="absolute tablet"
        color="secondary"
        @click="scrollToBottom"
        >skip to bottom</q-btn
      >
    </q-card-actions>
    <div v-if="locationIsRecorded">
      Make adjustments to the spatial placement as necessary, e.g. to avoid
      trees, rocks, ant nests or key ant activity areas, areas of foot traffic,
      obvious vertebrate fauna travelways
    </div>
    <q-card-section>
      <DateTimeInput label="Date and time" v-model="selectedTrapInfo.date_time" />
      <paratoo-api-model-crud-ui
        v-if="trapType === 'pan'"
        id="addTrap"
        ref="crud"
        :fields="generalTrapFields"
        :model-value="selectedTrapInfo"
        @update:modelValue="updateRecord"
        :exclude-submit-btn-flag="true"
        submit-btn-label="Save"
        :current-prot-id="protocolId"
        :conditional-fields="conditionalFields"
        :conditional-field-callback="conditionalFieldsCallback"
      />
    </q-card-section>
    <q-card-actions v-if="selectedTrap !== null" class="finish-trap-btn">
      <!-- just an anchor for scroll function -->
      <p ref="addTrapBtn"></p>
      <q-checkbox
        v-if="trapType === 'pan'"
        label="Auto fill responses for the next pan trap"
        v-model="isAutoFilled"
      />
      <q-btn
        @click="finishAddingTrap"
        rounded
        :disable="!locationIsRecorded"
        class="q-my-md q-mx-auto"
        color="green"
        data-cy="done"
        >Finish trap {{ selectedTrapInfo.trapId }} set-up</q-btn
      >
    </q-card-actions>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
import SelectTrap from './SelectTrap.vue'
import DateTimeInput from '../DateTimeInput.vue'
import {
  asyncCrud,
  notifyHandler,
  getDistanceFromLatLonInM,
  createDependentFieldCallback,
} from 'src/misc/helpers'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { useBulkStore } from 'src/stores/bulk'
import { computed } from 'vue'
export default {
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    SelectTrap,
    DateTimeInput,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    addTrapFields: {
      type: Object,
      required: true,
    },
    modelValue: {
      required: true,
    },
    trapType: {
      type: String,
      default: 'pitfall',
    },
    plannedTrapsLocations: {
      required: true,
      type: Array,
    },
  },
  setup() {
    const ephemeral = useEphemeralStore()
    const { collectionGetForProt } = useBulkStore()
    const userCoords = computed(
      () => ephemeral.userCoords || { lat: 0, lng: 0 },
    )
    return { userCoords, collectionGetForProt }
  },
  computed: {
    accuracy() {
      return getDistanceFromLatLonInM(this.selectedTrapInfo, this.userCoords)
    },
    addedTraps() {
      return this.localRecord.map(({ trapId }) => trapId)
    },
  },
  data() {
    const specialFields = ['lat', 'lng', 'trapId', 'date_time']
    let generalTrapFields = {}
    for (const [key, value] of Object.entries(this.addTrapFields)) {
      if (!specialFields.includes(key)) {
        generalTrapFields[key] = value
      }
    }
    if (this.trapType === 'pan') {
      const collectionData = this.collectionGetForProt({
        protId: this.protocolId,
      })
      const monitoringDuration =
        collectionData['invertebrate-pan-trapping'].monitoring_duration
      const liquidToUse = {
        S: 'WDS', //Water-Dishwashing
        L: 'UPG', //Propylene Glycol
      }
      generalTrapFields['pan_placement'].prefer_dropdown = true
      generalTrapFields['liquid_type'].prefer_dropdown = true
      generalTrapFields['liquid_type'].default = liquidToUse[monitoringDuration]
    }

    const selectedTrap = this.plannedTrapsLocations[0]

    const conditionalFields = [
      {
        field: 'dominant_species_in_flower',
        dependsOn: 'has_dominant_species_in_flower',
        dependsOnSelection: [true],
      },
    ]
    return {
      // general trap fields that can be handle by crud component
      generalTrapFields,
      selectedTrap,
      locationIsRecorded: this.modelValue[0]?.lat !== undefined,
      isAutoFilled: true,
      localRecord: cloneDeep(this.modelValue),
      selectedTrapInfo: this.updateSelectedTrapInfo(selectedTrap),
      prevTrapInfo: null,
      currentLocation: this.userCoords,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  watch: {
    selectedTrap: {
      handler(newVal) {
        this.selectedTrapInfo = this.updateSelectedTrapInfo(newVal)

        const index = this.localRecord.findIndex(
          ({ trapId }) => trapId === newVal.trapId,
        )
        this.locationIsRecorded = index !== -1

        if (!this.selectedTrapInfo?.lat) {
          this.$refs['locationPicker'].resetCaptureMethod()
        }
      },
      deep: true,
    },
    userCoords: {
      handler(newVal) {
        this.currentLocation = newVal
      },
      deep: true,
    },
    localRecord: {
      handler(newVal) {
        this.$emit('update:modelValue', newVal)
      },
      deep: true,
    },
  },
  methods: {
    recordTrapLocation() {
      const minDistance = 5 //m

      if (this.accuracy > minDistance) {
        notifyHandler(
          'warning',
          `The current estimated distance is larger than ${minDistance} meter`,
        )
      } else {
        notifyHandler('positive', `Location recorded`)
      }

      this.locationIsRecorded = true
    },
    unmarkLocation() {
      this.locationIsRecorded = false
    },
    async finishAddingTrap() {
      if (!this.$refs['crud']) {
        this.updateRecord()
      } else {
        const result = await this.$refs['crud'].onSubmitFunc()
        if (this.trapType === 'pan' && result) {
          this.scrollToTop()
        }
      }
    },
    updateRecord(newVal) {
      let newRecord = newVal
        ? { ...this.selectedTrapInfo, ...structuredClone(newVal) }
        : this.selectedTrapInfo
      this.prevTrapInfo = newRecord
      const index = this.localRecord.findIndex(
        ({ trapId }) => trapId === newRecord.trapId,
      )
      if (index === -1) {
        this.localRecord.push(newRecord)
        this.nextTrap(this.localRecord.length)
      } else {
        this.localRecord[index] = newRecord
        notifyHandler(
          'positive',
          `Trap ${this.selectedTrapInfo.trapId} updated`,
        )
      }
    },
    scrollToTop() {
      this.$refs['addTrapHeader'].scrollIntoView({ behavior: 'smooth' })
    },
    scrollToBottom() {
      this.$refs['addTrapBtn'].scrollIntoView({
        behavior: 'smooth',
        block: 'center',
      })
    },
    nextTrap(nextIndex) {
      // do nothing if we add all the traps
      if (nextIndex === this.plannedTrapsLocations.length) return
      // const msg = `Trap ${
      //     this.plannedTrapsLocations[nextIndex].trapId
      //   } recorded`
      notifyHandler(
        'positive',
        `Trap ${
          this.plannedTrapsLocations[nextIndex - 1].trapId
        } recorded, moving to trap ${
          this.plannedTrapsLocations[nextIndex].trapId
        }`,
      )
      // find the nearest trap that hasn't been removed
      const record = this.plannedTrapsLocations.find(({ trapId: id }) => {
        const index = this.localRecord.findIndex(({ trapId }) => trapId === id)
        return index === -1
      })
      this.selectedTrap = record
    },
    updateSelectedTrapInfo(selectedTrap) {
      const currentRecord = cloneDeep(this.prevTrapInfo)
      const record = cloneDeep(
        this.modelValue.find(({ trapId }) => selectedTrap['trapId'] === trapId),
      )

      if (record) return record

      let newRecord = {
        trapId: selectedTrap.trapId,
        lat: selectedTrap.lat,
        lng: selectedTrap.lng,
        date_time: new Date(),
      }
      if (this.isAutoFilled && currentRecord) {
        const skipFields = ['trapId', 'lat', 'lng', 'date_time', 'trap_photo']
        for (const [key, value] of Object.entries(currentRecord)) {
          if (skipFields.includes(key)) continue
          newRecord[key] = value
        }
        this.prevTrapInfo = null
      }
      return newRecord
    },
  },
}
</script>

<style scoped>
.finish-trap-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tablet {
  font-size: 0.5rem;
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5) and (pointer: coarse) {
  .tablet {
    font-size: 1rem;
  }
}
</style>
