<template>
  <q-card flat class="q-my-xs q-py-none">
    <l-map
      v-model:center="customCenter"
      v-model:zoom="zoom"
      :minZoom="3"
      :maxZoom="20"
      class="flex"
      :style="`min-height: ${mapHeight}px`"
      @move="moveMapHandler"
    >
      <l-tile-layer :url="url" :attribution="attribution" />
      <div class="compass-container">
        <Compass />
      </div>
      <l-control class="map-btns" position="bottomleft">
        <div class="row justify-start" v-if="userCoords?.lat">
          <q-btn color="grey" data-cy="backToLocation" icon="my_location" @click="backToLocation()" />
        </div>
        <div class="row justify-start">
          <q-btn
            icon="my_location"
            label="Plot"
            color="grey"
            @click="backToLocation('plot')"
          />
        </div>
        <q-btn
          class="row"
          color="grey"
          label="hide/show labels"
          @click="showPointLabel"
        />
      </l-control>
      <l-control position="bottomright">
        <div class="q-pb-sm">
          <q-btn
            color="pink-1"
            text-color="red-14"
            label="Show core plot"
            @click="showCorePlot = !showCorePlot"
          />
        </div>
        <q-btn
          v-if="faunaPlot?.latLngs?.length"
          color="blue-1"
          text-color="blue-10"
          label="Show fauna plot"
          @click="showFaunaPlot = !showFaunaPlot"
        />
      </l-control>
      <l-control-scale
        position="topleft"
        :imperial="false"
        :metric="true"
      ></l-control-scale>
      <l-polyline v-if="trackLog.length" :lat-lngs="trackLog" color="red" />
      <l-marker v-if="userCoords?.lat" :lat-lng="userCoords">
        <l-tooltip>
          <p>Current Location</p>
          <p>lat: {{ userCoords.lat.toFixed(2) }}</p>
          <p>lng: {{ userCoords.lng.toFixed(2) }}</p>
        </l-tooltip>
      </l-marker>

      <template v-if="plotPoints?.length">
        <div v-for="point of plotPoints" :key="point">
          <l-polyline :lat-lngs="Object.values(point)" color="orange" />
          <div v-for="[key, value] of Object.entries(point)" :key="key">
            <l-circle-marker :lat-lng="value" :weight="10">
              <l-tooltip ref="points"> {{ key }} </l-tooltip>
            </l-circle-marker>
          </div>
        </div>
      </template>

      <template v-if="trapPoints?.length">
        <l-circle-marker
          v-for="trap of trapPoints"
          :data-cy="`trap-point-${trap.trapId}`"
          :key="trap.trapId"
          :lat-lng="trap"
          :color="trap.color ?? 'orange'"
          :weight="10"
        >
          <l-tooltip ref="points" :content="trap.trapId" />
        </l-circle-marker>
      </template>
      <template v-if="showCorePlot">
        <l-polygon v-if="corePlot" :lat-lngs="corePlot.latLngs" color="red" />
        <l-circle-marker
          v-for="point of corePlot.latLngs"
          :key="point.id"
          :lat-lng="point"
          :color="'lime'"
          :weight="8"
        >
          <l-tooltip ref="points" :content="point.name.symbol" />
        </l-circle-marker>
      </template>
      <template v-if="showFaunaPlot">
        <l-polygon
          v-if="faunaPlot"
          :lat-lngs="faunaPlot.latLngs"
          :color="faunaPlot.color"
        />
        <l-circle-marker
          v-for="point of faunaPlot.latLngs"
          :key="point.id"
          :lat-lng="point"
          :color="'yellow'"
          :weight="8"
        >
          <l-tooltip ref="points" :content="point.name.symbol" />
        </l-circle-marker>
      </template>
      <l-circle
        v-if="circleBorder"
        color="blue"
        :lat-lng="circleCenter"
        :radius="circleBorderRadius"
      ></l-circle>
      <div v-for="(bird, index) in birdObs" :key="index">
        <l-marker v-if="bird.location?.lat" :lat-lng="bird.location">
          <l-icon icon-url="/icons/bird-icon.png" />
          <l-tooltip>
            {{ bird.species }}
          </l-tooltip>
        </l-marker>
      </div>
    </l-map>
  </q-card>
</template>
<script>
import { cloneDeep } from 'lodash'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { useApiModelsStore } from 'src/stores/apiModels'
import Compass from '../Compass.vue'
import L from 'leaflet'
import { findMidpoint } from 'src/misc/helpers'
import { computed } from 'vue'
import {
  LMap,
  LTileLayer,
  LControl,
  LMarker,
  LTooltip,
  LCircleMarker,
  LPolygon,
  LPolyline,
  LCircle,
  LIcon,
  LControlScale,
} from 'vue-leaflet/src/components'
export default {
  components: {
    LMap,
    LTileLayer,
    LControl,
    LMarker,
    LTooltip,
    LCircleMarker,
    LPolygon,
    Compass,
    LPolyline,
    LCircle,
    LIcon,
    LControlScale,
  },
  props: {
    plotPoints: {
      required: false,
      default: null,
    },
    trapPoints: {
      required: false,
      default: [],
    },
    trackLog: {
      required: false,
      default: [],
    },
    mapHeightPercentage: {
      required: false,
      default: 0.9,
    },
    selectedPlot: {
      default: 'C',
    },
    modelZoom: {
      required: false,
      default: 19,
    },
    initToPlotCenter: {
      required: false,
      default: false,
    },
    circleBorder: {
      default: false,
      type: Boolean,
    },
    circleBorderRadius: {
      type: Number,
      default: 500,
    },
    // Bird observation records
    // as we reused this component for bird
    birdObs: {
      type: Array,
      required: false,
    },
  },
  setup() {
    const url = `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`
    const attribution =
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    const ephemeral = useEphemeralStore()
    const { plotLayoutPoints } = useApiModelsStore()
    const corePlot = plotLayoutPoints('vegetation')
    const faunaPlot = plotLayoutPoints('fauna')

    const userCoords = computed(() => ephemeral.userCoords || null)
    return {
      url,
      attribution,
      ephemeral,
      corePlot,
      faunaPlot,
      userCoords,
    }
  },
  data() {
    let customCenter = L.latLng(this.userCoords || { lat: 0, lng: 0 })
    if (this.initToPlotCenter) {
      customCenter =
        this.selectedPlot === 'C'
          ? this.corePlot['centerCoords']
          : this.faunaPlot['centerCoords']
    }
    return {
      zoom: this.modelZoom,
      customCenter,
      tooltipIsShowed: false,
      locationOptions: {
        CURRENT: 'current',
        PLOT: 'plot',
      },
      showCorePlot: this.selectedPlot === 'C',
      showFaunaPlot: this.selectedPlot === 'F',
    }
  },
  methods: {
    showPointLabel() {
      // show label
      if (!this.tooltipIsShowed) {
        this.$nextTick(() => {
          this.$refs.points.forEach((point) => {
            point.leafletObject._source.openTooltip()
          })
        })
        this.tooltipIsShowed = !this.tooltipIsShowed
        return
      }
      //  hide label
      this.$nextTick(() => {
        this.$refs.points.forEach((point) => {
          point.leafletObject._source.closeTooltip()
        })
        this.tooltipIsShowed = !this.tooltipIsShowed
      })
    },
    backToLocation(location = this.locationOptions.CURRENT) {
      if (location === this.locationOptions.CURRENT) {
        this.customCenter = cloneDeep(this.userCoords)
      }
      if (location === this.locationOptions.PLOT) {
        this.customCenter = this.corePlot['centerCoords']
        // this.showCorePlot = true
      }
      this.zoom = this.modelZoom
    },
    moveMapHandler(event) {
      const newCoords = event.target.getCenter()
      this.$emit('dragMap', cloneDeep(newCoords))
    },
  },
  computed: {
    mapHeight() {
      return Math.round(screen.availHeight * this.mapHeightPercentage)
    },
    circleCenter() {
      console.log(this.faunaPlot)
      const coreCenter = this.corePlot.centerCoords
      const faunaPlot = this.faunaPlot.centerCoords

      return findMidpoint(coreCenter, faunaPlot)
    },
  },
  watch: {
    modelZoom(newVal) {
      this.zoom = newVal
      this.customCenter =
        this.selectedPlot === 'C'
          ? this.corePlot['centerCoords']
          : this.faunaPlot['centerCoords']
    },
    selectedPlot(newVal) {
      this.showCorePlot = newVal === 'C'
      this.showFaunaPlot = newVal === 'F'
    },
  },
}
</script>
<style scoped>
.compass-container {
  position: absolute;
  top: 2%;
  right: 12px;
}
.map-btns {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
</style>
