<template>
  <q-card flat>
    <SelectTrap
      v-model="selectedTrap"
      :local-record="trapRecord"
      :recorded-traps="localRecord.map(({ trapId }) => trapId)"
      action-type="remove"
    />
    <template v-if="trapType === 'pitfall' || malaiseHasSample">
      <Crud
        class="q-my-md"
        ref="crud"
        :fields="fields"
        :current-prot-id="protocolId"
        :modelValue="selectedTrapInfo"
        :row-data-key="rowDataKey"
        @update:modelValue="updateRecord"
      />
    </template>
    <p v-else class="text-h6 text-black bg-yellow q-ma-md">
      The selected trap has no samples
    </p>
    <q-card-actions class="next-trap q-pr-md">
      <q-btn color="secondary" @click="saveTrap" data-cy="saveTrapBarcodeBtn"
        >save</q-btn
      >
      <q-btn
        :disable="selectedTrap === trapRecord.length - 1"
        color="secondary"
        data-cy="nextTrap"
        @click="nextTrap"
        >save & next trap</q-btn
      >
    </q-card-actions>

    <q-separator />
    <p ref="btns" />
  </q-card>
</template>

<script>
import {
  notifyHandler,
  asyncCrud as Crud,
  makeModelConfig,
} from 'src/misc/helpers'
import SelectTrap from './SelectTrap.vue'
import { useBulkStore } from 'src/stores/bulk'
import { inject } from 'vue'
export default {
  inject: ['doc'],
  components: {
    SelectTrap,
    Crud,
  },
  props: {
    trapType: {
      required: false,
      default: 'pitfall',
    },
    modelName: {
      type: String,
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const { collectionGetForProt } = useBulkStore()

    const doc = inject('doc')?.value
    const { fields , rowDataKey} = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    fields.trapId.hidden = true
    console.log(fields)
    fields.sample_photo.modelConfig.fields.single_photo.label = 'voucher photo'

    const collectionData = collectionGetForProt({ protId: props.protocolId })

    const trapModelNames = {
      pitfall: 'invertebrate-wet-pitfall-trap',
      malaise: 'invertebrate-malaise-trap',
    }
    const trapModelName = trapModelNames[props.trapType]

    const trapRecord = collectionData[trapModelName]
    const voucherRecord = collectionData[props.modelName] || []
    // only apply to malaise
    const sampleRecord = collectionData['add-malaise-sample']
    return {
      // voucher data saved in bulk
      voucherRecord,
      // trap data
      trapRecord,
      sampleRecord,
      fields,
      rowDataKey
    }
  },
  data() {
    const selectedTrapInfo = this.updateSelectedTrapInfo(this.trapRecord[0])
    return {
      localRecord: this.voucherRecord,
      selectedTrap: this.trapRecord[0],
      selectedTrapInfo,
    }
  },
  computed: {
    // check if selected trap has any samples
    // only applicable for malaise trap as we collect samples in a different step, not in remove traps
    malaiseHasSample() {
      const hasSample = this.sampleRecord?.some(
        (trap) => trap.trapId === this.selectedTrapInfo.trapId,
      )
      return hasSample
    },
    allTrapRecorded() {
      const trapsWithSample =
        this.sampleRecord?.reduce((acc, { trapId }) => {
          if (!acc.includes(trapId)) {
            acc.push(trapId)
          }
          return acc
        }, []) || []

      const missingBarcodes = trapsWithSample.filter(
        (id) => !this.localRecord.some(({ trapId }) => trapId === id),
      )
      return !missingBarcodes.length
    },
  },
  methods: {
    onSubmitFunc() {
      let trapsWithSample
      if (this.trapType === 'pitfall') {
        trapsWithSample = this.trapRecord.map(({ trapId }) => trapId)
      } else {
        trapsWithSample = this.sampleRecord.reduce((acc, { trapId }) => {
          if (!acc.includes(trapId)) {
            acc.push(trapId)
          }
          return acc
        }, [])
      }
      if (this.localRecord.length < trapsWithSample.length) {
        const missingBarcodes = trapsWithSample.filter(
          (id) => !this.localRecord.some(({ trapId }) => trapId === id),
        )
        notifyHandler(
          'negative',
          `Trap: ${missingBarcodes.toString()} missing barcode(s)`,
        )
        return false
      }

      if (!this.localRecord.length) {
        this.$emit('update:modelValue', [])
      }

      return true
    },
    updateRecord(record) {
      this.selectedTrapInfo = record
      const selectedTrapIndex = this.localRecord.findIndex(
        ({ trapId }) => trapId === record.trapId,
      )
      if (selectedTrapIndex === -1) {
        this.localRecord.push(record)
      } else {
        this.localRecord[selectedTrapIndex] = record
      }
      this.$emit('update:modelValue', this.localRecord)
    },
    async saveTrap() {
      const result = await this.$refs.crud.onSubmitFunc()
      if (result) {
        notifyHandler('positive', 'Saved!')
      }
      return result
    },
    async nextTrap() {
      if(this.$refs.crud) {
        const result = await this.$refs.crud?.onSubmitFunc()
        if (!result) return
      }

      //move to next trap
      const index = this.trapRecord.findIndex(({ trapId }) => {
        return trapId === this.selectedTrapInfo.trapId
      })
      if (this.allTrapRecorded && index === this.trapRecord.length - 1) {
        return notifyHandler('positive', 'Done!')
      } else if (index < this.trapRecord.length - 1) {
        notifyHandler(
          'positive',
          `Saved, moving to next trap ${this.trapRecord[index + 1].trapId}`,
        )
        this.selectedTrap = this.trapRecord[index + 1]
      }
    },
    async scrollToTarget() {
      await this.$nextTick()
      this.$refs['btns'].scrollIntoView({
        behavior: 'smooth',
        block: 'nearest',
      })
    },
    updateSelectedTrapInfo(selectedTrap) {
      const record = this.voucherRecord.find(
        ({ trapId }) => trapId === selectedTrap.trapId,
      )
      if (!record)
        return {
          trapId: selectedTrap.trapId,
        }
      else return record
    },
  },
  watch: {
    selectedTrap: {
      handler(newVal) {
        this.selectedTrapInfo = this.updateSelectedTrapInfo(newVal)
      },
      deep: true,
    },
  },
}
</script>

<style scoped>
.next-trap {
  display: flex;
  justify-content: flex-end;
}
</style>
