<template>
  <div>
    <q-btn color="green" @click="show = true">Track Log</q-btn>
    <q-dialog v-model="show" maximized>
      <q-card>
        <q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Close" v-close-popup />
          </q-card-actions>
          <InvertebrateMap :protocol-id="protocolId" :track-log="trackLog" />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import InvertebrateMap from './InvertebrateMap.vue'

export default {
  components: { InvertebrateMap },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    log: {
      required: true,
    },
  },
  data() {
    return {
      show: false,
    }
  },
  computed: {
    trackLog() {
      const trackLog =
        this.log?.map(({ lat, lng }) => ({
          lat,
          lng,
        })) || []
      return trackLog
    },
  },
}
</script>

<style scoped>
.sticky {
  z-index: 9999999;
}
</style>
