<template>
  <q-card flat>
    <q-card-section>
      <q-select
        data-cy="trap_id"
        label="Trap ID"
        v-model="selectedTrap"
        :options="trapOptions"
      />
    </q-card-section>
    <q-card-section>
      <q-list bordered v-if="localRecord?.length > 0">
        <section v-for="(sample, index) in localRecord" :key="index">
          <q-expansion-item
            v-if="sample.trapId === selectedTrap"
            group="sample"
            v-model="expansionItems[index]"
            :label="'Sample ' + (index + 1)"
            :caption="Object.keys(sample).length > 1 ? 'Saved' : ''"
          >
            <AsyncUI
              :isExpanded="expansionItems[index]"
              ref="AsyncUI"
              :fields="fields"
              submit-btn-label="save"
              :exclude-submit-btn-flag="false"
              :current-prot-id="protocolId"
              :delete-button-flag="Object.keys(sample).length === 1"
              :on-entry-deletion="() => deleteEntry(index)"
              :modelValue="localRecord[index]"
              @update:modelValue="(e) => updateNewValue(e, index)"
            />
          </q-expansion-item>
          <q-separator />
        </section>
      </q-list>
    </q-card-section>
    <q-card-section>
      <q-btn
        rounded
        data-cy="addSampleBtn"
        class="q-my-sm"
        icon="add"
        color="primary"
        @click="addSample"
        >Add sample</q-btn
      >
    </q-card-section>
  </q-card>
</template>
<script>
import {
  asyncCrud,
  makeModelConfig,
} from 'src/misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
export default {
  inject: ['doc'],
  components: {
    AsyncUI: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const { updateStoreProtocol, collectionGetForProt } = useBulkStore()
    const savedRecord = collectionGetForProt({ protId: props.protocolId })
    return {
      updateStoreProtocol,
      savedRecord,
    }
  },
  data() {
    const { fields } = makeModelConfig(
      this.modelName,
      this.doc,
      this.protocolId,
    )
    fields.trapId.hidden = true
    const localRecord = this.savedRecord[this.modelName] || []
    const expansionItems = localRecord.map(() => false)

    const trapOptions = this.savedRecord['invertebrate-malaise-trap'].map(
      (trap) => trap['trapId'],
    )

    return {
      fields,
      localRecord,
      expansionItems,
      trapOptions,
      selectedTrap: trapOptions[0],
    }
  },
  methods: {
    onSubmitFunc() {
      // this.$emit('update:modelValue', this.localRecord)
      return true
    },
    async addSample() {
      if (!this.localRecord.length) {
        this.localRecord = []
      } else {
        //save previous entry
        const lastEntry = this.$refs.AsyncUI.at(-1)
        if (lastEntry) {
          await lastEntry.onSubmitFunc()
        }
      }

      this.localRecord.push({ trapId: this.selectedTrap })
      this.expansionItems.push(true)
    },
    updateNewValue(newVal, index) {
      for (const index in this.expansionItems) {
        this.expansionItems[index] = false
      }
      this.localRecord[index] = newVal
      this.$emit('update:modelValue', this.localRecord)
    },
    deleteEntry(index) {
      this.localRecord.splice(index, 1)
    },
  },
}
</script>
