<template>
  <q-card v-if="trapOptions.length" flat bordered>
    <q-card-section>
      <TrapFromBarcode
        :trapsInitOptions="trapOptions"
        v-model="selectedTrap"
        :model-config="modelConfig"
      />
    </q-card-section>
    <!-- selectedTrap is an array index and can be 0, so compare it directly to null -->
    <q-card-section v-if="selectedTrap !== null">
      <q-banner
        v-if="!sampleOptions.length"
        dense
        inline-actions
        class="text-black bg-yellow"
      >
        Selected trap has no sample
      </q-banner>
      <template v-else>
        <Crud
          :fields="fields"
          :current-prot-id="protocolId"
          :modelValue="selectedTrapInfo"
          @update:modelValue="updateRecord"
          @new-record-changed="calculateBiomass"
          :exclude-submit-btn-flag="false"
          :submit-btn-label="
            selectedTrapInfo?.sample_biomass ? 'Update' : 'Save'
          "
        />
      </template>
    </q-card-section>
  </q-card>
  <p v-else class="text-h6 text-black bg-yellow q-my-lg">
    No samples were collected
  </p>
</template>
<script>
import {
  makeModelConfig,
  notifyHandler,
  asyncCrud as Crud,
} from 'src/misc/helpers'
import TrapFromBarcode from '../Vertebrate/TrapFromBarcode.vue'
import { useBulkStore } from 'src/stores/bulk'
import isEqual from 'lodash/isEqual'
import { inject } from 'vue'
export default {
  inject: ['doc'],
  components: { TrapFromBarcode, Crud },
  props: {
    modelName: {
      type: String,
      required: true,
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const { collectionGetForProt } = useBulkStore()

    const doc = inject('doc')?.value
    const modelConfig = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    modelConfig.fields.barcode.hidden = true
    modelConfig.fields.trapId.hidden = true
    modelConfig.fields.sample_biomass.disable = true

    const savedRecord = collectionGetForProt({ protId: props.protocolId })
    const voucherRecord = savedRecord['malaise-trap-vouchering']
    const sampleRecord = savedRecord['add-malaise-sample']

    // we only display traps with samples
    // as there will be no sample to measure biomass
    const trapOptions = []
    voucherRecord.forEach((trap) => {
      if (trapOptions.includes(trap.trapId)) return
      trap.label = trap.trapId
      trapOptions.push(trap)
    })

    return {
      fields: modelConfig.fields,
      modelConfig,
      savedRecord,
      sampleRecord,
      voucherRecord,
      trapOptions,
    }
  },
  data() {
    return {
      localRecord: this.savedRecord[this.modelName] || [],
      selectedTrap: null,
      selectedTrapInfo: null,
    }
  },
  watch: {
    localRecord: {
      handler(newVal) {
        this.$emit('update:modelValue', newVal)
      },
      deep: true,
    },
    selectedTrap: {
      handler() {
        if (!this.selectedTrap) return
        const index = this.localRecord.findIndex(
          (trap) => trap['barcode'] === this.selectedTrap.barcode,
        )
        this.selectedTrapInfo =
          index === -1
            ? {
                trapId: this.selectedTrap.trapId,
                barcode: this.selectedTrap.barcode,
              }
            : this.localRecord[index]
      },
    },
  },
  computed: {
    sampleOptions() {
      const selectOptions = []

      this.sampleRecord.forEach((sample, index) => {
        if (sample.trapId === this.selectedTrap.trapId) {
          selectOptions.push('Sample ' + (index + 1))
        }
      })

      return selectOptions
    },
  },
  methods: {
    onSubmitFunc() {
      if (this.trapOptions.length === 0) {
        this.$emit('update:modelValue', [])
        return true
      }
      // warning if any traps missing biomass
      if (this.localRecord.length < this.trapOptions.length) {
        const trapsWithBiomass = this.localRecord.map(({ trapId }) => trapId)

        const trapWithNoBiomass = this.trapOptions.filter(
          (trap) => !trapsWithBiomass.includes(trap.trapId),
        )
        notifyHandler(
          'warning',
          `Biomass of the following trap(s) ${trapWithNoBiomass
            .map(({ trapId }) => trapId)
            .toString()} have not been measured`,
        )
      }

      // check if any traps have not been removed
      const trapData = this.savedRecord['invertebrate-malaise-trap']
      const removeTrapData = this.savedRecord['remove-malaise-trap']
      const notRemoved = trapData.length !== removeTrapData.length
      if (notRemoved) {
        notifyHandler('negative', 'All traps need to be removed')
        return false
      } else return true
    },
    calculateBiomass({ newRecord, oldRecord }) {
      if (
        isEqual(newRecord, oldRecord) ||
        !newRecord.empty_filter_weight ||
        !newRecord.filter_weight_with_sample
      )
        return
      const biomass =
        newRecord.filter_weight_with_sample - newRecord.empty_filter_weight
      newRecord.sample_biomass = Number(biomass.toFixed(2)) // biomass
      this.selectedTrapInfo = structuredClone(newRecord)
    },
    updateRecord(e) {
      const index = this.localRecord.findIndex(
        ({ trapId }) => trapId === e.trapId,
      )
      if (index === -1) {
        this.localRecord.push(e)
      } else {
        this.localRecord[index] = e
      }
      this.moveToNextTrap()
    },
    moveToNextTrap() {
      // moving to next trap

      let trapOptionIndex = this.trapOptions.findIndex(
        (option) => option.trapId === this.selectedTrap.trapId,
      )
      if (trapOptionIndex < this.trapOptions.length - 1) {
        this.selectedTrap = this.trapOptions[trapOptionIndex + 1]
      }
    },
  },
}
</script>
