<template>
  <div>
    <q-list bordered separator v-if="localRecord?.length > 0">
      <!-- unsaved object only have a trapId prop -->
      <q-expansion-item
        data-cy="trap"
        v-for="(trap, index) in localRecord"
        :key="trap"
        v-model="expansionItems[index]"
        :label="trap['trapId']"
        :caption="Object.keys(trap).length > 1 ? 'Saved' : ''"
        group="trap"
      >
        <AsyncUI
          :is-expanded="expansionItems[index]"
          ref="AsyncUI"
          :fields="generalFields"
          :exclude-submit-btn-flag="false"
          :title="trap['trapId']"
          submit-btn-label="save"
          :current-prot-id="protocolId"
          :model-value="localRecord[index]"
          @update:modelValue="
            (e) => handleRecordChange(e, trap['trapId'], index)
          "
        />
        <q-btn
          :disable="trapHasSamples[trap['trapId']] !== undefined"
          class="q-ma-sm delete-btn"
          rounded
          icon="delete"
          color="red"
          type="a"
          @click="delteEntry(trap['trapId'], index)"
        >
          <q-tooltip v-if="trapHasSamples[trap['trapId']]"
            >The trap has sample(s) or was removed</q-tooltip
          >
        </q-btn>
      </q-expansion-item>
      <q-separator />
    </q-list>
    <q-btn
      data-cy="addEntry"
      class="q-my-sm"
      icon="add"
      color="primary"
      @click="addTrap"
      >Add Trap</q-btn
    >
  </div>
</template>
<script>
import {
  asyncCrud,
  validateForm,
  notifyHandler,
  makeModelConfig,
} from 'src/misc/helpers'
import { useDataManagerStore } from 'src/stores/dataManager'
import { useBulkStore } from 'src/stores/bulk'

export default {
  inject: ['doc'],
  name: 'MalaiseTrap',
  components: {
    AsyncUI: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      required: true,
      type: String,
    },
  },
  setup(props) {
    const { collectionGetForProt, getPlotLayoutId } = useBulkStore()
    const { plotHasFaunaPlot, cachedModel } = useDataManagerStore()
    const savedRecord = collectionGetForProt({ protId: props.protocolId })
    return {
      savedRecord,
      getPlotLayoutId,
      plotHasFaunaPlot,
      plotLayoutData: cachedModel({ modelName: 'plot-layout' }),
    }
  },
  data() {
    const fields = makeModelConfig(
      this.modelName,
      this.doc,
      this.protocolId,
    )

    // eslint-disable-next-line
    const { trapId, ...generalFields } = fields['fields']
    // we need a custom component to handle trap photo with different direction without duplicate
    generalFields.trap_photo.type = 'trap_photo'

    const plotId = this.getPlotLayoutId
    const selectedPlotLabel = this.plotLayoutData.find(
      ({ id }) => id === plotId,
    ).plot_selection.plot_label

    const newTrapId = `${selectedPlotLabel}-1`
    // get saved record from bulk store
    const localRecord = this.savedRecord[this.modelName] || [
      { trapId: newTrapId },
    ]
    const expansionItems = localRecord.map(() => false) ?? []

    return {
      generalFields,
      selectedPlotLabel,
      localRecord,
      expansionItems,
    }
  },
  watch: {
    localRecord: {
      handler(newVal) {
        let newRecord = structuredClone(newVal)
        if (newRecord.length > 0) {
          newRecord = newRecord.filter((trap) =>
            validateForm(trap, this.generalFields, true),
          )
        }
        this.$emit('update:modelValue', newRecord)
      },
      deep: true,
    },
  },
  methods: {
    onSubmitFunc() {
      const invalid = this.localRecord.some((record) => {
        const result = validateForm(record, this.generalFields)
        return !result
      })
      return !invalid
    },
    delteEntry(trapId, index) {
      this.localRecord = this.localRecord.filter(
        (trap) => trap['trapId'] !== trapId,
      )
      this.expansionItems.splice(index, 1)
    },
    handleRecordChange(newValue, trapId, index) {
      // if(newValue['trap_photo'].length<4)
      // return notifyHandler('negative','Must have at least 4 trap photos')

      if (!validateForm(newValue, this.generalFields)) return

      this.localRecord = this.localRecord.map((trap) => {
        if (trap['trapId'] === trapId) {
          return { ...trap, ...newValue }
        } else return trap
      })
      const check = this.trapValidator(newValue)
      if (check) {
        this.expansionItems[index] = false
      }
    },
    trapValidator(trap) {
      const result = this.validateTrapPhoto(trap['trap_photo'], trap['trapId'])
      return result
    },
    /**
     * @param {array} trapPhotos array of trap photos
     * @param {string} trapId
     */
    validateTrapPhoto(trapPhotos, trapId) {
      let seen = new Set()
      const hasDuplicates = trapPhotos.some(
        (photo) => seen.size === seen.add(photo['direction']).size,
      )

      if (hasDuplicates) {
        notifyHandler(
          'negative',
          `Trap photos in ${trapId} has duplicate direction`,
        )
        return false
      }
      if (trapPhotos.length < 4) {
        notifyHandler(
          'negative',
          `Need at least 4 trap photos for trap ${trapId}`,
        )
        return false
      }
      return hasDuplicates || trapPhotos.length < 4 ? false : true
    },
    async addTrap() {
      const newTrapId =
        this.selectedPlotLabel + '-' + (this.localRecord.length + 1)
      if (!this.localRecord.length) return
      //save previous entry
      const lastEntry = this.$refs.AsyncUI.at(-1)
      const result = await lastEntry.onSubmitFunc()
      if (result) {
        this.localRecord.push({ trapId: newTrapId })
        this.expansionItems.push(true)
      }
    },
  },
  computed: {
    // also include removal info and vouchers
    trapHasSamples() {
      const traps = {}

      for (const [step, value] of Object.entries(this.savedRecord)) {
        if (step === this.modelName) continue
        if (Array.isArray(value) && value?.length) {
          for (const sample of value) {
            const trapName = sample['trapId']
            traps[trapName] = true
          }
        }
      }
      return traps
    },
  },
}
</script>
<style scoped>
.delete-btn {
  margin-right: 2em;
}
</style>
