<template>
  <div>
    <q-btn v-if="isLoading" color="primary" :disable="true"
      ><q-spinner /> Calculating trap's coordination</q-btn
    >
    <q-btn
      v-else
      icon="map"
      color="primary"
      @click="mapOpened = true"
      data-cy="navigate"
    >
      Trap layout
    </q-btn>
    <q-dialog v-model="mapOpened" :maximized="true">
      <q-card class="q-pb-none">
        <q-card-actions align="right">
          <br ref="card" />
          <q-btn data-cy="close" flat v-close-popup>Close</q-btn>
        </q-card-actions>
        <q-card-section>
          <InvertebrateMap
            v-if="displayedPoints.length"
            :trap-points="displayedPoints"
            :selectedPlot="plotType"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { cloneDeep } from 'lodash'
import 'leaflet/dist/leaflet.css'
import { useApiModelsStore } from 'src/stores/apiModels'
import InvertebrateMap from './InvertebrateMap.vue'
import { getDistanceFromLatLonInM, getMapOrientation } from 'src/misc/helpers'
export default {
  components: {
    InvertebrateMap,
  },
  props: {
    modelValue: {
      required: true,
    },
    protocolId: {
      required: true,
    },
    plotType: {
      required: true,
    },
    addedTraps: {
      type: Array,
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    return {
      plotLayoutPoints: apiModelsStore.plotLayoutPoints,
    }
  },
  data() {
    return {
      mapOpened: false,
      isLoading: true,
      trapPoints: cloneDeep(this.modelValue) || [],
    }
  },
  computed: {
    plotLayout() {
      return this.plotLayoutPoints(this.plotType)
    },
    displayedPoints() {
      const addedTraps = this.addedTraps.map(({ trapId, lat, lng }) => ({
        trapId,
        lat,
        lng,
        color: 'blue',
      }))
      const unmarkedTraps = this.trapPoints?.filter((trap) => {
        const index = this.addedTraps.findIndex(
          ({ trapId }) => trapId === trap.trapId,
        )
        return index === -1
      })
      return addedTraps.concat(unmarkedTraps)
    },
  },
  methods: {
    calculateTrapPoint() {
      this.isLoading = true
      if (this.modelValue?.length > 0) return (this.isLoading = false)
      const SWplotPoint = this.plotLayout.latLngs[0]
      const NWplotPoint = this.plotLayout.latLngs[1]
      const NEplotPoint = this.plotLayout.latLngs[2]
      const SEplotPoint = this.plotLayout.latLngs[3]
      //https://stackoverflow.com/questions/7477003/calculating-new-longitude-latitude-from-old-n-meters
      const trapDistance = 5 // (m)
      const lineTotalLength = trapDistance * 11 //12 traps
      const plotLength = getDistanceFromLatLonInM(NWplotPoint, SWplotPoint)
      const borderTopBotDistance = (plotLength - lineTotalLength) / 2
      const borderSideDistance = 10 // (m)
      const Wbearing = getMapOrientation(SWplotPoint, NWplotPoint)
      const Ebearing = getMapOrientation(SEplotPoint, NEplotPoint)
      const WprojectedFirstPoint = this.getDestinationPoint(
        SWplotPoint,
        Wbearing + Math.PI / 2,
        borderSideDistance,
      )
      const EprojectedFirstPoint = this.getDestinationPoint(
        SEplotPoint,
        Ebearing - Math.PI / 2,
        borderSideDistance,
      )
      // find fist point of each trap line
      const WfirstPoint = {
        trapId: 'PT1-1',
        ...this.getDestinationPoint(
          WprojectedFirstPoint,
          Wbearing,
          borderTopBotDistance,
        ),
      }
      const EfirstPoint = {
        trapId: 'PT2-1',
        ...this.getDestinationPoint(
          EprojectedFirstPoint,
          Ebearing,
          borderTopBotDistance,
        ),
      }
      const trapPoints = []

      //find remaning points of each lines
      ;[WfirstPoint, EfirstPoint].forEach((firstTrap, index) => {
        trapPoints.push(firstTrap)
        // calculate row near west border side of the plot
        const lineNumber = index + 1
        for (let trapNumber = 2; trapNumber < 13; trapNumber++) {
          const trapId = 'PT' + lineNumber + '-' + trapNumber
          const angle = lineNumber === 1 ? Wbearing : Ebearing
          const distance = (trapNumber - 1) * trapDistance
          const newCoords = this.getDestinationPoint(firstTrap, angle, distance)
          trapPoints.push({ trapId, ...newCoords, plotType: this.plotType })
        }
      })
      this.trapPoints = trapPoints
      this.$emit('update:modelValue', structuredClone(trapPoints))
      this.isLoading = false
    },
    /**
     *
     * @param {Object} point1 {lat,lng}
     * @param {Number} brng bearing of border line
     * @param {Number} d distance between two points
     */
    getDestinationPoint(point1, brng, d) {
      let { lat: lat1, lng: lng1 } = point1
      lat1 = this.degToRad(lat1)
      lng1 = this.degToRad(lng1)
      let R = 6371e3 // Earth's radius in meters
      let lat = Math.asin(
        Math.sin(lat1) * Math.cos(d / R) +
          Math.cos(lat1) * Math.sin(d / R) * Math.cos(brng),
      )
      let lng =
        lng1 +
        Math.atan2(
          Math.sin(brng) * Math.sin(d / R) * Math.cos(lat1),
          Math.cos(d / R) - Math.sin(lat1) * Math.sin(lat),
        )

      lat = this.radToDeg(lat)
      lng = this.radToDeg(lng)

      return { lat, lng }
    },

    degToRad(deg) {
      return (deg * Math.PI) / 180
    },
    radToDeg(rad) {
      return (rad * 180) / Math.PI
    },
    showPointLabel() {
      // show label
      if (!this.tooltipIsShowed) {
        this.$nextTick(() => {
          this.$refs.points.forEach((point) => {
            point.leafletObject._source.openTooltip()
          })
        })
        this.tooltipIsShowed = !this.tooltipIsShowed
        return this.tooltipIsShowed
      }
      //  hide label
      this.$nextTick(() => {
        this.$refs.points.forEach((point) => {
          point.leafletObject._source.closeTooltip()
        })
      })
      this.tooltipIsShowed = !this.tooltipIsShowed
      return this.tooltipIsShowed
    },
  },
  watch: {
    modelValue: {
      handler() {
        if (this.modelValue?.length) {
          this.trapPoints = cloneDeep(this.modelValue)
        } else {
          this.calculateTrapPoint()
        }
      },
      deep: true,
    },
  },
  async mounted() {
    await this.$nextTick()
    this.calculateTrapPoint()
  },
}
</script>
