<template>
  <q-card flat>
    <q-card-section>
      <PanMap
        ref="panMap"
        :plot-type="selectedPlot"
        :protocolId="protocolId"
        v-model="plannedTrapsLocations"
        :addedTraps="localRecord"
      />
    </q-card-section>
    <q-card-section v-if="isLoading">
      <AddTrap
        ref="addTrap"
        trap-type="pan"
        v-model="localRecord"
        :plannedTrapsLocations="plannedTrapsLocations"
        :protocol-id="protocolId"
        :add-trap-fields="fields"
      />
    </q-card-section>
  </q-card>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import {
  notifyHandler,
  makeModelConfig,
} from 'src/misc/helpers'
import PanMap from './PanMap.vue'
import AddTrap from './AddTrap.vue'
import cloneDeep from 'lodash/cloneDeep'
export default {
  inject: ['doc'],
  name: 'PanTrap',
  components: {
    PanMap,
    AddTrap,
  },
  props: {
    modelValue: {
      required: false,
      default: () => [],
    },
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const bulkStore = useBulkStore()

    const collectionData = bulkStore.collectionGetForProt({
      protId: props.protocolId,
    })
    const savedRecord = collectionData[props.modelName]

    const selectedPlot = 'F'
    return {
      savedRecord,
      selectedPlot,
      bulkStore,
    }
  },
  data() {
    const { fields } = makeModelConfig(
      'invertebrate-pan-trap',
      this.doc,
      this.protocolId,
    )

    let plannedTrapsLocations
    if (this.savedRecord?.length < 24) {
      plannedTrapsLocations =
        cloneDeep(this.bulkStore.autoSavedCollections[this.modelName]) || []

      delete this.bulkStore.autoSavedCollections[this.modelName]
    } else plannedTrapsLocations = cloneDeep(this.savedRecord)

    return {
      fields,
      confirmed: false,
      localRecord: cloneDeep(this.savedRecord) || [],
      plannedTrapsLocations,
      confirmUndo: false,
    }
  },
  computed: {
    isLoading() {
      return this.plannedTrapsLocations?.length > 0
    },
  },
  watch: {
    localRecord: {
      handler(newVal) {
        this.$emit('update:modelValue', newVal)
      },
      deep: true,
    },
  },
  methods: {
    onSubmitFunc() {
      // find trap hasn't been removed which doesn't have end-date
      let missingTraps = this.plannedTrapsLocations.filter((trap) => {
        const index = this.localRecord.findIndex(
          ({ trapId }) => trapId === trap.trapId,
        )
        return index === -1
      })
      if (missingTraps.length > 0) {
        missingTraps = missingTraps.map(({ trapId }) => trapId)
        notifyHandler(
          'warning',
          `The following trap(s) has not been marked: ${missingTraps.toString()}`,
        )
      }
      return true
    },
  },
  unmounted() {
    // temporarily saved planed location, as we they are not final values so we cannot put them in collection yet
    this.bulkStore.autoSavedCollections[this.modelName] = cloneDeep(
      this.plannedTrapsLocations,
    )
  },
}
</script>
