<template>
  <div>
    <Crud
      ref="crud"
      :fields="fields"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :collection-survey-flag="true"
      submit-btn-label="Assign barcode"
      add-btn-label="Add voucher"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      v-model="localRecord"
      :row-data-key="rowDataKey"
    />
  </div>
</template>

<script>
import {
  asyncCrud as Crud,
  createDependentFieldCallback,
  makeModelConfig,
} from 'src/misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
import { cloneDeep, isEqual } from 'lodash'
import { computed, inject } from 'vue'
export default {
  inject: ['doc'],
  components: {
    Crud,
  },
  props: {
    modelName: {
      type: String,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      required: true,
    },
  },
  setup(props, { emit }) {
    const { collectionGetForProt } = useBulkStore()

    const collectionData = collectionGetForProt({ protId: props.protocolId })
    const addTrapModelName = 'invertebrate-pan-trap'
    const savedTrapData = collectionData[addTrapModelName]
    const initTrapOptions = savedTrapData.map((trap) => trap['trapId'])

    const doc = inject('doc')?.value
    const { fields , rowDataKey} = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    fields.assigned_traps.type = 'multiselect'
    fields.assigned_traps.options = initTrapOptions

    const localRecord = computed({
      get() {
        const record = cloneDeep(props.modelValue)?.map((entry) => {
          entry.assigned_traps = entry.assigned_traps?.split(',')
          return entry
        })
        return record
      },
      set(newVal) {
        newVal = newVal.map((entry) => {
          entry.assigned_traps = entry.assigned_traps?.toString()
          return entry
        })
        emit('update:modelValue', newVal)
      },
    })

    // controller for removing traps from dropdown that are already assigned
    const conditionalFields = [
      {
        field: 'assigned_traps',
        fieldCb: function ({ newVal, oldVal, inputDef }) {
          if (isEqual(newVal, oldVal) || !localRecord.value?.length) return
          let trapOptions = structuredClone(initTrapOptions)
          localRecord.value.forEach((entry) => {
            // skip the current entry
            if (entry.barcode !== newVal.barcode) {
              trapOptions = trapOptions.filter(
                (option) => !entry.assigned_traps?.includes(option),
              )
            }
          })
          inputDef.options = trapOptions
        },
      },
    ]

    return {
      fields,
      initTrapOptions,
      localRecord,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      rowDataKey,
    }
  },
}
</script>
