<template>
  <div>
    <p>Please specify your trap grid layout before marking the traps</p>
    <q-btn data-cy="map" icon="map" color="green" @click="openMap">
      Trap Layout
    </q-btn>
    <q-dialog v-model="mapOpened" :maximized="true">
      <q-card flat>
        <q-card-actions align="right">
          <br ref="card" />
          <q-btn data-cy="close" dense color="secondary" v-close-popup
            >Close</q-btn
          >
        </q-card-actions>
        <q-card-actions
          v-if="!checkOnly"
          class="start-point-btn-containter q-my-none"
        >
          <div class="start-point-container">
            <h6 class="q-my-none text-h6">SW(trap 1) coordinate</h6>
            <p class="q-my-none">
              Manually enter SW(1) coordinate or drag the orange circle, and
              press "PLACE & SAVE GRID" to set the the trap grid layout
            </p>
            <p class="q-my-none">
              <small>0.00001deg is approximately 1metre</small>
            </p>
            <section>
              <div class="col row q-my-xs">
                <q-input
                  dense
                  class="col q-mx-md coord-input"
                  v-model.number="manualStartPlanPoint.lat"
                  label="latitude"
                  type="number"
                  step="0.000001"
                ></q-input>
                <q-input
                  dense
                  class="col q-mx-md coord-input"
                  v-model.number="manualStartPlanPoint.lng"
                  label="longtitude"
                  type="number"
                  step="0.000001"
                ></q-input>
              </div>
              <div class="col grid-btn q-my-none">
                <q-btn
                  style="width: 70%"
                  :color="mapBtnLabel !== 'REMOVE GRID' ? 'green' : 'red'"
                  @click="gridBtnHandler"
                  data-cy="gridBtn"
                >
                  {{ mapBtnLabel }}
                </q-btn>
              </div>
            </section>
          </div>
        </q-card-actions>
        <q-card-section class="q-my-none">
          <InvertebrateMap
            :map-height-percentage="0.6"
            :user-coords="userCoords"
            :trap-points="planedPointList"
            @drag-map="dragGrid"
          />
        </q-card-section>

        <!-- confirm dialog -->
        <q-dialog v-model="confirm" persistent>
          <q-card>
            <q-card-section class="row items-center">
              <q-avatar icon="warning" color="primary" text-color="white" />
              <span class="q-ml-sm"
                >Do you want to REMOVE the grid? All data related to the current
                grid will be wiped</span
              >
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat label="Cancel" color="primary" v-close-popup />
              <q-btn
                flat
                label="Yes"
                color="primary"
                v-close-popup
                @click="removeGrid"
              />
            </q-card-actions>
          </q-card>
        </q-dialog>
        <q-separator />
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { cloneDeep } from 'lodash'
import { notifyHandler } from 'src/misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import { useEphemeralStore } from 'src/stores/ephemeral'
import InvertebrateMap from './InvertebrateMap.vue'
import { computed } from 'vue'
import * as turf from '@turf/turf'

export default {
  components: {
    InvertebrateMap,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
    },
    trapPerLine: {
      type: Number,
      default: 5,
    },
    lineDistance: {
      type: Number,
      default: 10,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const ephemeral = useEphemeralStore()
    const userCoords = computed(
      () => ephemeral.userCoords || { lat: 0, lng: 0 },
    )
    return {
      getPlotLayoutId: bulkStore.getPlotLayoutId,
      bulkStore,
      plotLayout: apiModelsStore.plotLayoutPoints('vegetation'),
      userCoords,
      faunaPlot: apiModelsStore.plotLayoutPoints('fauna'),
    }
  },
  async mounted() {
    await this.$nextTick()

    // if (!this.modelValue?.length) return this.calculatePlanPoints()
  },
  data() {
    const R = 6371000 //Earth radius (m)
    const distance = 15 // (m)
    const coord = cloneDeep(this.userCoords) || { lat: 0, lng: 0 }
    const newLng =
      coord.lng -
      ((distance / R) * (180 / Math.PI)) / Math.cos((coord.lat * Math.PI) / 180)
    const newLat = coord.lat - (distance / R) * (180 / Math.PI)
    const startPlanPoint = { lat: newLat, lng: newLng }
    const manualStartPlanPoint = this.modelValue?.length
      ? this.modelValue[0]
      : { lat: newLat, lng: newLng }

    const mapBtnOptions = {
      PLACE: 'PLACE & SAVE GRID',
      REMOVE: 'REMOVE GRID',
    }
    const planedPointList = this.modelValue?.length
      ? this.modelValue
      : [this.userCoords]
    return {
      zoom: 19.5,
      customCenter: cloneDeep(this.userCoords),
      startPlanPoint,
      tooltipIsShowed: false,
      dragable: planedPointList.length <= 1,
      confirm: false,
      enterSWManually: false,
      manualStartPlanPoint,
      planedPointList,
      mapBtnOptions,
      mapBtnLabel: this.modelValue?.length
        ? mapBtnOptions.REMOVE
        : mapBtnOptions.PLACE,
      mapOpened: false,
      checkOnly: false,
    }
  },
  methods: {
    openMap(actions) {
      this.mapOpened = true
      if (actions === 'check') {
        this.checkOnly = true
      }
    },
    toTop() {
      this.$refs['card'].scrollIntoView({ behavior: 'smooth', block: 'end' })
    },
    calculatePlanPoints() {
      const SWplotPoint = this.plotLayout.latLngs[0]
      const NWplotPoint = this.plotLayout.latLngs[1]
      const trapPoints = [
        {
          ...this.startPlanPoint,
          trapId: '1',
        },
      ]
      // // https://stackoverflow.com/questions/7477003/calculating-new-longitude-latitude-from-old-n-meters
      const trapDistance = 10 // (m)
      const bearing = this.getMapOrientation(SWplotPoint, NWplotPoint)
      let trapBearing = bearing
      // calculate first row, then use it to calculate remaining
      for (let i = 1; i < 20; i++) {
        const trapId = i + 1
        let newCoords
        if ((trapId - 1) % 5 === 0) {
          // change to next line which is 90 degree to the right of the previous trap
          newCoords = this.getDestinationPoint(
            trapPoints[i - 1],
            bearing + Math.PI / 2,
            this.lineDistance,
          )
          // change to opposite direction
          trapBearing = trapBearing === bearing ? bearing + Math.PI : bearing
        } else {
          newCoords = this.getDestinationPoint(
            trapPoints[i - 1],
            trapBearing,
            trapDistance,
          )
        }
        trapPoints.push({
          ...newCoords,
          trapId: (i + 1).toString(),
        })
      }

      const faunaPolygonCoords = this.faunaPlot.latLngs.map((coord) => [
        coord.lng,
        coord.lat,
      ])
      faunaPolygonCoords.push(faunaPolygonCoords[0]) // Close the polygon by adding the first point at the end
      const faunaPolygon = turf.polygon([faunaPolygonCoords])
      const bufferFauna = turf.buffer(faunaPolygon, 5, { units: 'meters' })
      // Get polygon of the traps
      const trapPolygon = [
        trapPoints[0],
        trapPoints[4],
        trapPoints[15],
        trapPoints[19],
        trapPoints[0],
      ].map((coord) => [coord.lng, coord.lat])
      const gridPolygon = turf.polygon([trapPolygon])
      const contains = turf.booleanContains(bufferFauna, gridPolygon)
      if (contains) {
        this.planedPointList = trapPoints
        this.mapBtnLabel = this.mapBtnOptions.PLACE
        this.confirmGrid()
      } else {
        notifyHandler('warning', 'Not all traps are within the fauna plot.')
      }
    },
    getDestinationPoint(point1, brng, d) {
      let { lat: lat1, lng: lng1 } = point1
      lat1 = this.degToRad(lat1)
      lng1 = this.degToRad(lng1)
      let R = 6371e3 // Earth's radius in meters
      let lat = Math.asin(
        Math.sin(lat1) * Math.cos(d / R) +
          Math.cos(lat1) * Math.sin(d / R) * Math.cos(brng),
      )
      let lng =
        lng1 +
        Math.atan2(
          Math.sin(brng) * Math.sin(d / R) * Math.cos(lat1),
          Math.cos(d / R) - Math.sin(lat1) * Math.sin(lat),
        )

      lat = this.radToDeg(lat)
      lng = this.radToDeg(lng)

      return { lat, lng }
    },
    getMapOrientation(point1, point2) {
      let { lat: lat1, lng: lng1 } = point1
      let { lat: lat2, lng: lng2 } = point2
      lat1 = this.degToRad(lat1)
      lat2 = this.degToRad(lat2)
      lng1 = this.degToRad(lng1)
      lng2 = this.degToRad(lng2)

      const dLng = lng2 - lng1
      const y = Math.sin(dLng) * Math.cos(lat2)
      const x =
        Math.cos(lat1) * Math.sin(lat2) -
        Math.sin(lat1) * Math.cos(lat2) * Math.cos(dLng)

      const brng = Math.atan2(y, x)
      return brng
    },
    degToRad(deg) {
      return (deg * Math.PI) / 180
    },
    radToDeg(rad) {
      return (rad * 180) / Math.PI
    },
    dragGrid(coords) {
      if (!this.dragable) return
      // // https://stackoverflow.com/questions/7477003/calculating-new-longitude-latitude-from-old-n-meters
      this.startPlanPoint = coords
      this.manualStartPlanPoint = coords
      this.planedPointList = [coords]
    },
    gridBtnHandler() {
      if (this.mapBtnLabel === this.mapBtnOptions.PLACE) {
        this.placeGrid()
        return
      }
      this.confirm = true
    },
    placeGrid() {
      //some how it return a string not number
      this.startPlanPoint = this.manualStartPlanPoint
      // this.customCenter = this.startPlanPoint
      this.calculatePlanPoints()
    },
    confirmGrid() {
      if (this.dragable) {
        notifyHandler('positive', 'Trap grid saved')
        this.dragable = false
        this.mapBtnLabel = this.mapBtnOptions.REMOVE
        return this.$emit('placeGrid', this.planedPointList)
      }
    },
    removeGrid() {
      this.dragable = true
      this.confirm = true
      notifyHandler('warning', 'Trap grid is removed')
      this.mapBtnLabel = this.mapBtnOptions.PLACE
      this.$emit('removeGrid')
      // this.calculatePlanPoints()
    },
  },
  watch: {
    startPlanPoint() {
      // this.calculatePlanPoints()
    },
    mapOpened(newVal) {
      if (!newVal) {
        this.checkOnly = false
      }
    },
  },
}
</script>

<style scoped>
.start-point-container {
  /* display: flex; */
  width: fit-content;
  margin: auto;
}

.start-point-btn-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coord-input {
  /* width: 6rem */
  width: max-content;
}

.grid-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
</style>
