<template>
  <div>
    <q-select
      v-model="selectedPlot"
      :options="options"
      emit-value
      map-options
      :label="config.label"
      :rules="config.rules"
      :data-cy="config.model"
      :disable="config.disable || hasTrapData"
      :hint="config.hint"
      hide-bottom-space
      lazy-rules
    >
      <template #after>
        <q-btn v-if="hasTrapData" dense label="Change" color="red" @click="confirmChange" />
        <InfoButtonForInputs
          v-if="config.optionsKey?.startsWith('lut-')"
          :config="config"
          :mode="'info'"
        />
      </template>
    </q-select>
  </div>
</template>
<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import { computed } from 'vue'
import { Dialog } from 'quasar'
import cloneDeep from 'lodash/cloneDeep'
import InfoButtonForInputs from 'src/components/InfoButtonForInputs.vue'
export default {
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      type: String,
      required: true,
    },
    config: {
      type: Object,
      required: true,
    },
    modelValue: {
      required: true,
    },
    options: {
      type: Array,
      required: true,
    },
  },
  components: {
    InfoButtonForInputs,
  },
  async setup(props) {
    const apiStore = useApiModelsStore()
    const { updateStoreProtocol, collectionGetForProt } = useBulkStore()

    const models = await apiStore.modelsOfProtocol({ protocolId: props.protocolId })

    const collectionData = computed(() =>
      collectionGetForProt({
        protId: props.protocolId,
      }),
    )

    return {
      models,
      collectionData,
      updateStoreProtocol,
    }
  },
  data() {
    return {
      hasTrapData: Object.keys(this.collectionData).length > 3,
    }
  },
  computed: {
    selectedPlot: {
      get() {
        return this.modelValue
      },
      set(newVal) {
        this.$emit('update:modelValue', newVal)
      },
    },
  },
  methods: {
    confirmChange() {
      Dialog.create({
        title: 'Confirm',
        // TODO: make this dynamic
        message: `Changing the plot will invalidate all related trapping information, so all associated data will be wiped. Do you want to continue?`,
        ok: 'Yes',
        cancel: 'No',
      }).onOk(() => {
        this.updateStore()
      })
    },
    updateStore() {
      const newRecord = cloneDeep(this.collectionData)
      const skipModels = ['plot-layout', 'plot-visit', this.rowDataKey]
      this.models.forEach((step) => {
        if (skipModels.includes(step)) return

        delete newRecord[step]
      })
      this.updateStoreProtocol({
        protocolId: this.protocolId,
        value: newRecord,
      })
      this.hasTrapData = false
    },
  },
}
</script>
