<template>
  <q-card flat class="q-my-md q-mx-none q-gutter-sm">
    <crud
      ref="crud"
      :fields="fields"
      :current-prot-id="protocolId"
      :row-data-key="modelName"
      :main-survey-flag="true"
      :model-value="record"
      @new-record-changed="handleRecordChange"
      @update:modelValue="submitToStore"
    />
    <q-card-section>
      <PitFallTrapGrid
        :lineDistance="20"
        :model-value="record['trap_site']"
        @place-grid="(e) => (record['trap_site'] = e)"
        @remove-grid="delete record['trap_site']"
      />
    </q-card-section>
    <q-card-section v-if="record?.trap_site?.length">
      <q-card flat bordered>
        <TrappingEvent
          @update:modelValue="
            (e) => handleTrappingEvent(e, 'start_trapping_event')
          "
          :model-value="record['start_trapping_event']"
          key="start_trapping_event_first"
          event-type="start"
          trap-position="first"
          :submitCrud="submitCrud"
        />
        <TrappingEvent
          v-if="record['start_trapping_event']"
          @update:modelValue="
            (e) => handleTrappingEvent(e, 'start_trapping_event')
          "
          :model-value="record['start_trapping_event']"
          key="start_trapping_event_last"
          event-type="start"
          trap-position="last"
        />
        <TrappingEvent
          v-if="record.start_trapping_event?.last_trap"
          @update:modelValue="
            (e) => handleTrappingEvent(e, 'end_trapping_event')
          "
          :model-value="record['end_trapping_event']"
          key="end_trapping_event_first"
          event-type="end"
          trap-position="first"
        />
        <TrappingEvent
          v-if="record['end_trapping_event']"
          @update:modelValue="
            (e) => handleTrappingEvent(e, 'end_trapping_event')
          "
          :model-value="record['end_trapping_event']"
          key="end_trapping_event_last"
          event-type="end"
          trap-position="last"
        />
      </q-card>
    </q-card-section>
  </q-card>
</template>
<script>
import { asyncCrud, notifyHandler, makeModelConfig } from 'src/misc/helpers'
import { isEqual, cloneDeep } from 'lodash'
import { useBulkStore } from 'src/stores/bulk'
import TrappingEvent from './TrappingEvent.vue'
import PitFallTrapGrid from './PitFallTrapGrid.vue'
import { ref, inject } from 'vue'
export default {
  components: {
    TrappingEvent,
    PitFallTrapGrid,
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    splitSurveyStep: Boolean,
  },
  setup(props) {
    const bulkStore = useBulkStore()
    const doc = inject('doc')
    const { fields } = makeModelConfig(
      props.modelName,
      doc.value,
      props.protocolId,
      false,
      null,
      props.splitSurveyStep,
    )
    const baitOptions = [
      'fish-based cat food',
      'honey',
      'fish-based cat food + honey',
    ]

    fields.number_of_traps.type = 'select'
    fields.number_of_traps.options = [1, 2, 3]
    fields.number_of_traps.default = 1

    // TODO should this be from LUT? If so, need to add info button (#1251)
    fields.bait_type.type = 'multiselect'
    fields.bait_type.options = baitOptions
    // these are custom fields
    fields.start_trapping_event.hidden = true
    fields.end_trapping_event.hidden = true
    fields.trap_site.hidden = true

    const collectionData = bulkStore.collectionGetForProt({
      protId: props.protocolId,
    })

    const recordInAutoSaved = bulkStore.autoSavedCollections[props.protocolId]

    const savedRecord = collectionData[props.modelName]
      ? cloneDeep(collectionData[props.modelName])
      : cloneDeep(recordInAutoSaved)

    if (savedRecord?.bait_type) {
      savedRecord.bait_type = savedRecord.bait_type.split(',')
    }
    if (savedRecord?.trap_site.length) {
      savedRecord.trap_site = savedRecord.trap_site.map((site) => ({
        ...site,
        trapId: site.trap_site_id,
      }))
    }

    return {
      fields: ref(fields),
      savedRecord,
      bulkStore,
      collectionData,
    }
  },
  data() {
    const trapSites = cloneDeep(this.savedRecord?.trap_site) || []

    return {
      record: cloneDeep(this.savedRecord) || { trap_site: [] },
      trapSites,
    }
  },
  methods: {
    async onSubmitFunc() {
      if (!this.record?.trap_site?.length) {
        notifyHandler(
          'negative',
          "Please choose the trap sites' location by click on 'MAP' button",
        )
        return false
      }
      if (!this.record?.end_trapping_event?.last_trap) {
        notifyHandler('negative', 'Please complete all trapping events')
        return false
      }
      const result = await this.$refs['crud'].onSubmitFunc()
      if (!result || !this.record?.end_trapping_event?.last_trap) return false
      else {
        const newRecord = cloneDeep(
          this.bulkStore.autoSavedCollections[this.protocolId],
        )
        if (newRecord) {
          delete this.bulkStore.autoSavedCollections[this.protocolId]
          // this.$emit('update:modelValue', newRecord)
        }
        return true
      }
    },
    handleRecordChange({ newRecord, oldRecord }) {
      if (isEqual(oldRecord, newRecord)) return
      for (const key in newRecord) {
        if (
          ['trap_site', 'start_trapping_event', 'end_trapping_event'].includes(
            key,
          )
        )
          continue
        // remove null fields
        if (newRecord[key] !== null) {
          this.record[key] = newRecord[key]
        }
      }
      if (newRecord?.number_of_traps > 0) {
        this.fields.bait_type.rules = this.baitRule(newRecord)
      }
      if (
        newRecord.number_of_traps !== oldRecord.number_of_traps &&
        oldRecord.number_of_traps > 0
      ) {
        const updatedRecord = cloneDeep(this.record)
        updatedRecord.bait_type = null
        this.record = updatedRecord
      }
    },
    baitRule(newRecord) {
      const numberOfTraps = newRecord['number_of_traps']
      return [
        (value) =>
          value?.length === numberOfTraps ||
          'The number of bait types selected must match the number of traps per trap site',
      ]
    },
    async submitCrud() {
      return await this.$refs['crud'].onSubmitFunc()
    },
    handleTrappingEvent(e, eventType) {
      const newRecord = cloneDeep(this.record)
      newRecord[eventType] = e
      this.record = newRecord
      this.updateStore()
    },
    updateStore() {
      const newRecord = cloneDeep(this.record)
      // eslint-disable-next-line
      newRecord.trap_site = newRecord.trap_site.map(({ trapId, ...site }) => ({
        ...site,
        trap_site_id: trapId,
      }))
      if (Array.isArray(newRecord?.bait_type)) {
        newRecord.bait_type = newRecord?.bait_type.length
          ? newRecord.bait_type.toString()
          : null
      }

      // remove null fields in weather
      if (newRecord.weather) {
        for (const field in newRecord.weather) {
          if (!newRecord.weather[field]) {
            delete newRecord.weather[field]
          }
        }
      }

      if (newRecord?.plot_type?.value) {
        newRecord.plot_type = newRecord.plot_type.value
      }
      this.bulkStore.autoSavedCollections[this.protocolId] = newRecord
    },
    submitToStore(newVal) {
      const newRecord = structuredClone(newVal)
      newRecord.trap_site = newRecord.trap_site.map(({ trapId, ...site }) => ({
        ...site,
        trap_site_id: trapId,
      }))

      if (Array.isArray(newRecord?.bait_type)) {
        newRecord.bait_type = newRecord?.bait_type.length
          ? newRecord.bait_type.toString()
          : null
      }
      this.$emit('update:modelValue', newRecord)
    },
  },
  computed: {
    // we reuse PitFallGrid component , which return trapId but not trap_site_id
    // so we need to map it over
    trapNumber() {
      return this.record.number_of_traps
    },
  },
  watch: {},
}
</script>
