<template>
  <q-card flat>
    <q-card-section>
      <q-select
        label="Trap site ID"
        hint="Finished trap sites are in blue color"
        hide-bottom-space
        v-model="selectedSite"
        :options="filteredTrapOptions"
        @filter="(val, update) => filterFn(val, update)"
        use-input
      >
        <template v-slot:option="scope">
          <q-item v-bind="scope.itemProps">
            <q-item-section>
              <q-item-label
                :style="{
                  color:
                    siteOptionColor(scope.opt) && siteOptionColor(scope.opt),
                }"
                >{{ scope.opt }}</q-item-label
              >
            </q-item-section>
          </q-item>
        </template>
      </q-select>
    </q-card-section>
    <q-card-section>
      <q-select
        label="Bait Type"
        v-model="selectedBait"
        :options="filteredBaitType"
        hint="Finished traps are in blue color"
        hide-bottom-space
      >
        <template v-slot:option="scope">
          <q-item v-bind="scope.itemProps">
            <q-item-section>
              <q-item-label
                :style="{
                  color:
                    trapOptionColor(scope.opt) && trapOptionColor(scope.opt),
                }"
                >{{ scope.opt }}</q-item-label
              >
            </q-item-section>
          </q-item>
        </template>
      </q-select>
    </q-card-section>
    <q-card-section v-if="selectedSite && selectedBait">
      <Crud
        ref="barcode"
        :fields="fields"
        :current-prot-id="protocolId"
        @new-record-changed="updateSelectedTrapInfo"
        :model-value="selectedTrapInfo"
        :rowDatakey="rowDatakey"
      />
    </q-card-section>
    <q-card-actions align="center" class="row justify-between">
      <div class="q-mx-md">
        <q-btn
          data-cy="prevTrap"
          label="Previous Trap"
          @click="nextTrap('-')"
          class="col"
          color="secondary"
          icon="chevron_left"
        />
      </div>
      <div class="q-mx-md">
        <q-btn
          data-cy="nextTrap"
          label="Next Trap"
          @click="nextTrap()"
          class="col"
          color="secondary"
          icon-right="chevron_right"
        />
      </div>
    </q-card-actions>
  </q-card>
</template>
<script>
import {
  notifyHandler,
  asyncCrud as Crud,
  makeModelConfig,
} from 'src/misc/helpers'
import { cloneDeep, isEqual } from 'lodash'
import { useBulkStore } from 'src/stores/bulk'
import { inject } from 'vue';
export default {
  components: {
    Crud,
  },
  props: {
    modelName: {
      type: String,
      required: true,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      required: true,
    },
  },
  setup(props) {
    const { collectionGetForProt } = useBulkStore()
    const collectionData = collectionGetForProt({ protId: props.protocolId })
    const doc = inject('doc')

    const surveyModelName = 'invertebrate-rapid-ground-trapping'
    const trappingData = collectionData[surveyModelName]
    const baitType = trappingData['bait_type']

    const trapSiteId = trappingData.trap_site.map(
      ({ trap_site_id }) => trap_site_id,
    )

    const { fields, rowDatakey } = makeModelConfig(
      props.modelName,
      doc.value,
      props.protocolId,
    )
    delete fields.trap_site_id
    delete fields.bait_type

    return {
      trappingData,
      baitType,
      trapSiteId,
      fields,
      rowDatakey
    }
  },
  data() {
    const baitTypeList = this.baitType.split(',')
    const record = cloneDeep(this.modelValue) || []
    const selectedSite = this.trapSiteId[0]
    const selectedBait = baitTypeList[0]

    let selectedTrapInfo = null
    if (record.length) {
      selectedTrapInfo = record.find(
        ({ trap_site_id, bait_type }) =>
          trap_site_id === selectedSite || bait_type === selectedBait,
      )
    }
    return {
      filteredTrapOptions: cloneDeep(this.trapSiteId),
      filteredBaitType: baitTypeList,
      selectedSite,
      selectedBait,
      record: cloneDeep(this.modelValue) || [],
      selectedTrapInfo,
    }
  },
  methods: {
    onSubmitFunc() {
      if (this.sitesMissingBarcode?.length) {
        notifyHandler(
          'warning',
          `The following sites have traps that have not been assigned a barcode: ${this.sitesMissingBarcode.toString()}`,
        )
      }
      return true
    },
    updateSelectedTrapInfo({ oldRecord, newRecord }) {
      if (isEqual(oldRecord, newRecord) || !newRecord.barcode) return

      if (this.selectedTrapIndex() === -1) {
        if (this.checkUniqueBarcode(newRecord.barcode))
          return notifyHandler('negative', 'Barcode need to be unique')
        newRecord['trap_site_id'] = this.selectedSite
        newRecord['bait_type'] = this.selectedBait
        this.record.push(newRecord)
      } else {
        this.record[this.selectedTrapIndex()] = {
          ...this.record[this.selectedTrapIndex()],
          ...newRecord,
        }
      }
    },
    checkUniqueBarcode(newBarcode) {
      let duplicated = false

      for (const trap of this.record) {
        if (trap.barcode === newBarcode) duplicated = true
        if (duplicated) break
      }
      return duplicated
    },
    /**
     * @param {*} val input value from q-select
     * @param {*} update q-select function, triggered when value changed
     */
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.filteredTrapOptions = this.trapSiteId
        })
        return
      }
      update(() => {
        const needle = val.toLowerCase()
        const newList = this.trapSiteId.filter(
          (v) => v.toLowerCase().indexOf(needle) > -1,
        )
        this.filteredTrapOptions = newList
      })
    },
    siteOptionColor(siteId) {
      const noTrapsRequired = this.filteredBaitType.length
      const noOfTrapsInSite = this.record.reduce(
        (acc, trap) => (trap.trap_site_id === siteId ? acc + 1 : acc),
        0,
      )
      if (noTrapsRequired === noOfTrapsInSite) return 'blue'
    },
    trapOptionColor(baitType) {
      const index = this.record?.findIndex(
        ({ bait_type, trap_site_id }) =>
          bait_type === baitType && trap_site_id === this.selectedSite,
      )
      if (index !== -1) {
        return 'blue'
      }
    },
    nextTrap(position = '+') {
      const selectedBaitIndex = this.filteredBaitType.indexOf(this.selectedBait)
      const selectedSiteIndex = this.trapSiteId.indexOf(this.selectedSite)

      let msg
      // Move to next trap
      if (position === '+') {
        if (selectedBaitIndex < this.filteredBaitType.length - 1) {
          this.selectedBait = this.filteredBaitType[selectedBaitIndex + 1]
          msg = `Moving to next trap with bait type ${this.selectedBait}`
        } else if (selectedSiteIndex < this.trapSiteId.length - 1) {
          // Move to the next trap site if we reach the end of bait types
          this.selectedSite = this.trapSiteId[selectedSiteIndex + 1]
          this.selectedBait = this.filteredBaitType[0] // Set selected bait to the first one
          msg = `Moving to trap site ${this.selectedSite}`
        }
      }
      // Move to previous trap
      else if (selectedBaitIndex > 0) {
        this.selectedBait = this.filteredBaitType[selectedBaitIndex - 1]
        msg = `Moving to next trap with bait type ${this.selectedBait}`
      } else if (selectedSiteIndex > 0) {
        // Move to the previous trap site if we reach the beginning of bait types
        this.selectedSite = this.trapSiteId[selectedSiteIndex - 1]
        this.selectedBait =
          this.filteredBaitType[this.filteredBaitType.length - 1] // Set selected bait to the last one
        msg = `Moving to trap site ${this.selectedSite}`
      }

      if (msg) {
        notifyHandler('positive', msg)
      }
    },
    getSelectedTrapInfo(siteId, baitType) {
      if (!this.record?.length) return null
      const selectedTrapInfo = this.record.find(
        ({ trap_site_id, bait_type }) =>
          siteId === trap_site_id && baitType === bait_type,
      )
      return selectedTrapInfo || {}
    },
    selectedTrapIndex() {
      const index = this.record?.findIndex(
        ({ bait_type, trap_site_id }) =>
          bait_type === this.selectedBait && trap_site_id === this.selectedSite,
      )
      return index
    },
  },
  computed: {
    sitesMissingBarcode() {
      const sites = this.trapSiteId.filter((id) => !this.siteOptionColor(id))
      return sites
    },
    selectedTrapChanged() {
      return `${this.selectedSite}|${this.selectedBait}`
    },
  },
  watch: {
    record: {
      handler() {
        this.$emit('update:modelValue', this.record)
        if (this.sitesMissingBarcode.length === 0) {
          notifyHandler('positive', 'All done!')
        }
      },
      deep: true,
    },
    selectedTrapChanged() {
      this.selectedTrapInfo = this.getSelectedTrapInfo(
        this.selectedSite,
        this.selectedBait,
      )
    },
  },
}
</script>
