<template>
  <q-card flat>
    <q-card-section>
      <h6 class="q-my-md">
        <span v-if="currentTrapIsRemoved" class="text-red">Removed</span>
      </h6>
      <p class="text-h6 text-black bg-green q-my-sm" v-if="allTrapAreRemoved">
        All traps are removed
      </p>
      <p class="text-h6 text-black bg-blue q-my-sm" v-if="currentTrapIsRemoved">
        The selected trap has been removed, if you want to change the data, you
        can submit again
      </p>
      <SelectTrap
        v-if="preSelectedTrap === undefined"
        v-model="selectedTrap"
        :local-record="addedTrapsData"
        :recorded-traps="removedTraps"
        action-type="remove"
        hint="Removed traps are shown in red colour"
        hide-bottom-space
      />
    </q-card-section>

    <p
      v-if="
        typeof proposedDuration !== 'string' &&
        !currentTrapIsRemoved &&
        selectedTrapInfo.duration < proposedDuration
      "
      dense
      inline-actions
      class="text-h6 text-black bg-yellow q-my-sm"
    >
      Warning: the proposed duration is {{ proposedDuration }} day(s), but the
      current duration is {{ selectedTrapInfo.duration }} day(s)
    </p>
    <Camera
      v-if="trapType === 'pan'"
      :camera-type="'media'"
      v-model="selectedTrapInfo['photo']"
    />
    <q-card-section class="q-mx-md">
      <DateTimeInput
        v-model="selectedTrapInfo['start_date']"
        label="Start date"
        readonly
      />
      <DateTimeInput v-model="endDate" label="End date" />
      <q-input
        readonly
        label="Current duration (nights)"
        v-model="currentDuration"
      />
    </q-card-section>
    <q-card-actions v-if="trapType === 'pan'" class="column">
      <q-checkbox
        v-for="[key, value] in Object.entries(checkboxFields)"
        :key="key"
        :label="value.label"
        v-model="selectedTrapInfo[key]"
        :default="false"

        class="col"
        data-cy="key"
      />
    </q-card-actions>
    <q-card-section class="q-mx-md">
      <q-input
        data-cy="comment"
        label="Comments"
        autogrow
        hint="e.g. unforeseen circumstances such as damaged traps, trap interference, inclement weather impacting traps"
        v-model="selectedTrapInfo['comment']"
        counter
      />
    </q-card-section>
    <q-card-actions class="remove-trap-btn" align="center">
      <q-btn
        data-cy="removeTrapBtn"
        @click="confirmHandler(confirmMessageOptions['removeTrap'])"
        rounded
        class="q-my-md"
        color="red"
      >
        Remove trap {{ selectedTrapInfo['trapId'] }}
      </q-btn>
      <q-btn
        v-if="preSelectedTrap === undefined"
        @click="confirmHandler(confirmMessageOptions['removeAllTrap'])"
        rounded
        class="q-my-md"
        color="red"
        data-cy="removeAllTrapsBtn"
      >
        Remove all traps
      </q-btn>
    </q-card-actions>

    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="warning" color="primary" text-color="white" />
          <span class="q-ml-sm">{{ confirmMessage }}</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            flat
            label="Confirm"
            color="primary"
            v-close-popup
            data-cy="confirmRemoveTrapBtn"
            @click="
              () => {
                if (confirmMessage === confirmMessageOptions['removeTrap'])
                  return removeTrap()
                else removeAllTrap()
              }
            "
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-card>
</template>
<script>
import DateTimeInput from '../DateTimeInput.vue'
import { date } from 'quasar'
import {
  notifyHandler,
  makeModelConfig,
} from 'src/misc/helpers'
import SelectTrap from './SelectTrap.vue'
import { useBulkStore } from 'src/stores/bulk'
import { computed, inject } from 'vue'
import Camera from '../Camera.vue'
export default {
  inject: ['doc'],
  name: 'RemoveTrap',
  components: {
    DateTimeInput,
    SelectTrap,
    Camera,
  },
  props: {
    /**
     * wetpit | pan | malaise
     */
    trapType: {
      required: false,
      default: 'wetpit',
    },
    preSelectedTrap: {
      required: false,
    },
    protocolId: {
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    hint: {
      required: false
    }
  },
  async mounted() {
    await this.$nextTick()
  },
  setup(props) {
    const { collectionGetForProt } = useBulkStore()

    // map of model names of add trap step of different protocols based on trap's type
    const addTrapModelNames = {
      wetpit: 'invertebrate-wet-pitfall-trap',
      malaise: 'invertebrate-malaise-trap',
      pan: 'invertebrate-pan-trap',
    }

    const addTrapModelName = addTrapModelNames[props.trapType]

    /**
     * protocol data saved in bulk store
     */
    const collectionData = collectionGetForProt({ protId: props.protocolId })
    const monitoringDuration =
      props.trapType === 'pan' &&
      collectionData['invertebrate-pan-trapping'].monitoring_duration

    let proposedDuration
    switch (props.trapType) {
      case 'wetpit':
        proposedDuration =
          collectionData['invertebrate-wet-pitfall-survey']?.proposed_duration
        break

      case 'pan':
        if (monitoringDuration === 'S' || monitoringDuration === 'Short') {
          proposedDuration = '< 24h'
        } else proposedDuration = 7
        break

      default:
        proposedDuration = 7
        break
    }

    /**
     * added traps data
     */
    const addedTrapsData = collectionData[addTrapModelName]

    /**
     * data of this step
     */
    const savedRecord = computed(
      () =>
        collectionGetForProt({ protId: props.protocolId })[props.modelName] ||
        [],
    )

    const doc = inject('doc')?.value
    const { fields } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    const durationField = fields['duration']

    const checkboxFields = {}
    Object.entries(fields).forEach(([fieldName, value]) => {
      if (value.type === 'boolean') {
        checkboxFields[fieldName] = value
      }
    })

    return {
      addedTrapsData,
      durationField,
      checkboxFields,
      addTrapModelName,
      /**
       * data of this workflow
       */
      savedRecord,
      proposedDuration,
    }
  },
  data() {
    const selectedTrapInfo = this.updateSelectedTrapInfo(this.addedTrapsData[0])
    return {
      localRecord: this.savedRecord,
      selectedTrap: this.addedTrapsData[0],
      selectedTrapInfo,
      endDate: new Date(),
      currentDuration: date.getDateDiff(
        new Date(),
        selectedTrapInfo.start_date,
        'days',
      ),
      confirm: false,
      confirmMessageOptions: {
        removeTrap: 'Confirm to remove the trap',
        removeAllTrap:
          'Confirm to remove all the traps, the same data will be used for the remaining active traps',
      },
      confirmMessage: null,
    }
  },
  computed: {
    removedTraps() {
      return this.localRecord.map(({ trapId }) => trapId)
    },
    allTrapAreRemoved() {
      return this.localRecord.length === this.addedTrapsData.length
    },
    selectedTrapIndex() {
      const index = this.localRecord.findIndex(
        ({ trapId }) => trapId === this.selectedTrapInfo.trapId,
      )
      return index
    },
    currentTrapIsRemoved() {
      return this.selectedTrapIndex !== -1
    },
  },
  watch: {
    selectedTrap: {
      handler(newVal) {
        this.endDate = new Date()
        this.selectedTrapInfo = this.updateSelectedTrapInfo(newVal)
      },
      deep: true,
    },
    // automatically update duration
    // not computed as it can be changed by user
    endDate(newValue) {
      this.currentDuration = this.getDuration(
        newValue,
        this.selectedTrapInfo.start_date,
      )
    },
    preSelectedTrap() {
      this.selectedTrap = this.preSelectedTrap
    },
  },
  methods: {
    onSubmitFunc() {
      if (!this.allTrapAreRemoved) {
        notifyHandler('warning', 'Not all traps have been removed', null, 0.5)
      }
      return true
    },
    updateSelectedTrapInfo(selectedTrap) {
      const record = this.savedRecord.find(
        ({ trapId }) => trapId === selectedTrap.trapId,
      )
      if (!record) {
        const current = new Date()
        const start_date = selectedTrap.start_date || selectedTrap.date_time
        const newRecord = {
          trapId: selectedTrap.trapId,
          start_date,
          end_date: current,
          duration: this.getDuration(start_date, current),
        }
        // initialise checkbox fields
        if (this.trapType === 'pan') {
          for (const field in this.checkboxFields) {
            newRecord[field] = false
          }
        }

        return newRecord
      } else return record
    },
    confirmHandler(message) {
      this.confirmMessage = message
      this.confirm = true
    },
    removeTrap() {
      const index = this.localRecord.findIndex(
        ({ trapId }) => trapId === this.selectedTrapInfo.trapId,
      )

      if (index === -1) {
        this.localRecord.push(this.selectedTrapInfo)
      } else {
        this.localRecord[index] = this.selectedTrapInfo
      }
      this.$emit('update:modelValue',  this.localRecord)
      notifyHandler('positive', `Removed`)

      if (!this.allTrapAreRemoved) {
        // find the nearest trap that hasn't been removed
        const record = this.addedTrapsData.find(({ trapId: id }) => {
          const index = this.localRecord.findIndex(
            ({ trapId }) => trapId === id,
          )
          return index === -1
        })
        this.selectedTrap = record
      }
    },
    removeAllTrap() {
      this.localRecord = this.addedTrapsData.map(({ trapId }) => ({
        ...this.selectedTrapInfo,
        trapId,
      }))

      this.$emit('update:modelValue',  this.localRecord)

      notifyHandler('positive', `All traps are removed`)
    },
    getDuration(date1, date2) {
      return date.getDateDiff(date1, date2, 'days')
    },
  },
}
</script>
<style scoped>
.remove-trap-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
