<template>
  <q-select
    emit-value
    map-options
    class="q-mx-md"
    v-model="selectedTrap"
    label="Trap ID"
    :options="selectOptions"
    use-input
    @filter="filterFn"
    :hint="hint"
    hide-bottom-space
  >
    <template v-if="recordedTraps?.length" v-slot:option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section>
          <q-item-label
            :style="{
              color:
                recordedTraps.includes(scope.opt.label) &&
                color,
            }"
            >{{ scope.opt.label }}</q-item-label
          >
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>
<script>
import cloneDeep from 'lodash/cloneDeep'

export default {
  name: 'SelectTrap',
  props: {
    localRecord: {
      type: Array,
      required: true,
    },
    actionType: {
      type: String,
      default: 'add',
    },
    modelValue: {
      required: true,
    },
    recordedTraps: {
      type: Array
    },
    hint: {
      type: String,
    }
  },
  data() {
    const trapOptions = cloneDeep(
      this.localRecord.map((trap) => ({
        label: trap['trapId'],
        value: trap,
      })),
    )
    return {
      trapOptions,
      selectOptions: trapOptions,
      selectedTrap: this.modelValue
    }
  },
  methods: {
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.selectOptions = this.trapOptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.selectOptions = this.trapOptions.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1,
        )
      })
    },
  },
  computed: {
    color() {
      if (this.actionType === 'add') return 'teal'
      return 'red'
    },
  },
  watch: {
    selectedTrap(newValue) {
      if(!this.selectOptions.find(option => option.value === newValue)) return
      this.$emit('update:modelValue', newValue)
    },
    modelValue() {
      this.selectedTrap = this.modelValue
    }
  },
}
</script>
