<template>
  <q-card class="q-mx-none q-py-md">
    <h6 class="q-ma-md">Trap Photos</h6>
    <div class="q-pb-md">Hint: Take at least four photos (one from each side when looking at the trap), at approximately 5 m so that the surrounding habitat and flyway is also in view</div>
    <q-banner
      v-if="trapPhotos.length > 0 && trapPhotos.length < 4"
      class="text-black bg-yellow"
    >
      Need {{ 4 - trapPhotos.length }} more photo(s)
    </q-banner>
    <q-card-section horizontal>
      <q-list v-if="trapPhotos.length" class="row q-mx-none q-pa-none">
        <q-item v-for="(trapPhoto, index) in trapPhotos" :key="index">
          <q-card>
            <PreviewPhoto
              :img-src="trapPhoto.photo.src"
              width="100%"
              :description="trapPhoto.description"
            >
            </PreviewPhoto>
            <q-card-section horizontal class="row">
              <div class="col-8 q-mx-auto q-my-auto">
                {{ directionLabel[trapPhoto.direction] }}
              </div>
              <q-separator vertical />
              <q-btn
                data-cy="deletePhoto"
                class="col-4"
                flat
                size="md"
                color="red"
                icon="delete"
                @click="deletePhoto(index)"
              />
            </q-card-section>
          </q-card>
        </q-item>
      </q-list>
    </q-card-section>
    <q-separator />
    <q-card-section v-if="showCamera">
      <q-select
        ref="direction"
        :label="fields.direction.label"
        data-cy="direction"
        emit-value
        map-options
        hint="record the direction that the photograph is taken in"
        clearable
        lazy-rules="ondemand"
        :rules="fields.direction.rules"
        :options="directionOptions"
        v-model="direction"
      />
      <q-input
        :label="fields.description.label"
        ref="description"
        v-model="description"
        data-cy="description"
        clearable
        autogrow
        counter
      ></q-input>
      <Camera :camera-type="'media'" @update:modelValue="takePhoto" />
    </q-card-section>
  </q-card>
</template>
<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import Camera from '../Camera.vue'
import PreviewPhoto from '../PreviewPhoto.vue'
import isEqual from 'lodash/isEqual'
import { validateForm } from 'src/misc/helpers'
export default {
  components: {
    Camera,
    PreviewPhoto,
  },
  props: {
    modelValue: {
      required: true,
    },
    fields: {
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const lutDirection = apiModelsStore
      .cachedModel({ modelName: 'lut-direction' })
      .map(({ symbol, label }) => ({
        value: symbol,
        label,
      }))
    return {
      lutDirection,
    }
  },
  data() {
    return {
      direction: null,
      trapPhotos: this.modelValue?.length ? this.modelValue : [],
      description: null,
    }
  },
  computed: {
    directionLabel() {
      const labels = {}
      this.lutDirection.forEach((lut) => {
        labels[lut.value] = lut.label
      })
      return labels
    },
    /**
     * automatically remove selected direction from dropdown options
     */
    directionOptions() {
      const selectedDirection = this.trapPhotos.map(
        ({ direction }) => direction,
      )
      if (!selectedDirection.length) return this.lutDirection

      const options = this.lutDirection.filter(
        ({ value }) => !selectedDirection.includes(value),
      )
      return options
    },
    showCamera() {
      return this.directionOptions.length !== 0
    },
  },
  methods: {
    takePhoto(photo) {
      const newPhotoObj = {
        direction: this.direction,
        photo,
      }
      
      if (this.description !== null) {
        newPhotoObj['description'] = this.description
      }

      const validation = validateForm(newPhotoObj, this.fields)
      if (!validation) {
        // check if photo direction is selected
        this.$refs['direction'].validate()
        this.$refs['description'].validate()
        return
      }
      // update new photo data
      this.trapPhotos.push(newPhotoObj)
      // remove selected direction from dropdown
      // reset selected direction value and description
      this.direction = this.directionOptions[0]?.value
      this.description = null
    },
    deletePhoto(index) {
      this.trapPhotos.splice(index, 1)
    },
  },
  watch: {
    trapPhotos: {
      handler() {
        // TODO: is this necessary ?
        // we only update when we have more than 4 photos
        const updatedValue = this.trapPhotos.map((item) => item)
        this.$emit('update:modelValue', updatedValue)
      },
      deep: true,
    },
    modelValue() {
      if (isEqual(this.trapPhotos, this.modelValue) || !this.modelValue) return
      this.trapPhotos = this.modelValue
    },
  },
}
</script>
<style>
.card__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
</style>
