<template>
  <div>
    <q-card-section v-if="!saved">
      <q-btn data-cy="trappingEvent" @click="confirm = true" color="secondary"
        >{{ capitalise(eventType) }} trapping event - {{ trapPosition }} trap
        {{ action }}</q-btn
      >
    </q-card-section>
    <q-card-section v-else>
      <p v-if="!isEditing" class="q-my-none q-py-none">
        {{ capitalise(trapPosition) }} trap {{ action }} : {{ eventDateTime }}
        <q-btn icon="edit" flat color="primary" @click="startEdit" />
      </p>
      <div v-else class="row justify-center">
        <DateTimeInput
          v-model="tmpValue"
          :label="`${capitalise(trapPosition)} trap ${action}`"
          is-dense
        />
        <q-btn icon="save" flat @click="endEdit()" dense />
        <q-btn icon="cancel" flat @click="endEdit(true)" dense />
      </div>
    </q-card-section>
    <q-dialog v-model="confirm">
      <q-card style="width: 300px">
        <q-card-section> Press OK to proceed </q-card-section>
        <q-card-actions align="right">
          <q-btn data-cy="ok" @click="(e) => updateEvent()" flat color="primary"
            >Ok</q-btn
          >
          <q-btn flat color="red" v-close-popup>Cancel</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import DateTimeInput from '../DateTimeInput.vue'
export default {
  components: {
    DateTimeInput,
  },
  props: {
    modelValue: {
      required: true,
    },
    eventType: {
      type: String,
      required: true,
    },
    trapPosition: {
      type: String,
      required: true,
    },
  },
  computed: {
    action() {
      const action = this.eventType === 'start' ? 'installed' : 'removed'
      return action
    },
    /**
     * Check if there are saved value
     */
    saved() {
      if (!this.modelValue) return false

      return this.modelValue[`${this.trapPosition}_trap`] !== undefined
    },
    eventDateTime() {
      if (!this.modelValue && !this.modelValue[`${this.trapPosition}_trap`])
        return
      const date = new Date(this.modelValue[`${this.trapPosition}_trap`])
      return date.toLocaleString('en-GB')
    },
  },
  data() {
    return {
      confirm: false,
      currentAction: null,
      isEditing: false,
      tmpValue: null,
    }
  },
  methods: {
    updateEvent(newVal = null) {
      const current = newVal ? newVal : new Date()
      const fieldName = `${this.trapPosition}_trap`
      const result = this.modelValue ? this.modelValue : {}
      result[fieldName] = current
      this.$emit('update:modelValue', result)
      this.confirm = false
    },
    capitalise(string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    startEdit() {
      this.tmpValue = this.modelValue[`${this.trapPosition}_trap`]
      this.isEditing = true
    },
    endEdit(cancel = false) {
      if (!cancel) {
        this.updateEvent(this.tmpValue)
      }
      this.tmpValue = null
      this.isEditing = false
    },
  },
}
</script>
