<template>
  <q-layout view="lHr Lpr lFf" class="pageHeight">
    <q-header elevated>
      <div
        class="header row justify-between items-center wrap"
        style="height: 4vh"
      >
        <!-- two divs and a `justify-between` in parent to allow wrapping in groups -->
        <div class="row justify-center items-center">
          <q-btn
            class="menu"
            flat
            dense
            round
            icon="menu"
            aria-label="Menu"
            @click="leftDrawerOpen = !leftDrawerOpen"
          />

          <q-toolbar-title>
            <div v-if="Object.keys(ephemeralStore.apiModelsPopulatingProcesses).length" data-cy="pulling-api-status">
              <p class="q-ma-none text-body2 text-center wrap-text">
                Loading data in background
              </p>
              <q-linear-progress rounded :value="apiModelsPopulatingProcess" color="teal-1"/>
            </div>
            <div v-else class="q-ma-none row items-center">
              <p
                class="q-ma-none q-pr-sm"
                :style="isMobileDevice ? 'font-size: 0.8em' : ''"
              >
                {{ appTitle }}
              </p>
              <div>
                <p
                  v-if="location && location.latitude && location.longitude"
                  class="text-caption q-ma-none"
                >
                  (Lat: {{ location.latitude.toFixed(2) }}, Long:
                  {{ location.longitude.toFixed(2) }})
                </p>
                <q-chip v-else class="q-ma-none text-white" color=red dense> 
                  GPS not available
                </q-chip>
              </div>
            </div>
          </q-toolbar-title>
        </div>

        <div class="row justify-center items-center">
          <PushNotification/>
          <q-btn
            class="fontsize"
            v-if="!authStore.username"
            flat
            dense
            icon="account_circle"
            :label="isMobileDevice ? '' : 'Login'"
            @click="doLogin"
          />
          <div v-if="authStore.username">
            <q-btn-dropdown
              stretch
              flat
              dense
              icon="account_circle"
              data-cy="username"
            > 
              <template v-slot:label>
                <div
                  ref="userLabel"
                  class="q-pl-xs"
                  style="
                    max-width: 15vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                >
                  {{ userName }}
                </div>
              </template>
              <q-list>
                <q-item v-close-popup clickable to="/profile">
                  <q-item-section>
                    <q-item-label>Profile</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item
                  clickable
                  @click="$refs.darkMode.toggle()"
                  class="row justity-between"
                >
                  <q-item-section>
                    <q-item-label>Toggle Dark Mode</q-item-label>
                  </q-item-section>
                  <!-- Adjusted class for alignment -->
                  <q-toggle
                    ref="darkMode"
                    dense
                    :icon="darkMode ? 'dark_mode' : 'light_mode'"
                    v-model="darkMode"
                  />
                </q-item>

                <q-item
                  clickable
                  @click="$refs.showLUTDesc.toggle()"
                  class="row"
                >
                  <q-item-section>
                    <q-item-label>Show field help/info buttons</q-item-label>
                  </q-item-section>
                  <q-toggle
                    ref="showLUTDesc"
                    v-model="ephemeralStore.showLUTDesc"
                  />
                </q-item>

                <q-item
                  data-cy="logout"
                  v-close-popup
                  clickable
                  @click="doLogout"
                >
                  <q-item-section>
                    <q-item-label>Log out</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>

          <div>
            <!-- NOTE: this is temporarily disabled until we can add actual help info (#1418) -->
            <!-- <q-btn
              round
              color="secondary"
              icon="las la-question-circle"
              @click="helpDialog = true"
            ></q-btn> -->
            <q-dialog v-model="helpDialog">
              <q-layout
                view="lhh LpR lff"
                container
                style="height: 500px"
                class="bg-grey-3"
              >
                <q-header class="bg-black">
                  <q-toolbar>
                    <q-toolbar-title class="title"
                      >{{ appTitle }} Help</q-toolbar-title
                    >
                  </q-toolbar>
                </q-header>

                <q-drawer
                  v-model="helpDrawerLeftOpen"
                  :width="200"
                  behavior="mobile"
                  bordered
                >
                  <q-scroll-area class="fit">
                    <div class="q-pa-sm">
                      <div v-for="n in 50" :key="n">Drawer {{ n }} / 50</div>
                    </div>
                  </q-scroll-area>
                </q-drawer>

                <q-drawer
                  v-model="helpDrawerRightOpen"
                  side="right"
                  bordered
                  :width="200"
                  :breakpoint="300"
                >
                  <q-scroll-area class="fit">
                    <div class="q-pa-sm">
                      <div v-for="n in 50" :key="n">Drawer {{ n }} / 50</div>
                    </div>
                  </q-scroll-area>
                </q-drawer>

                <q-page-container>
                  <q-page class="q-pa-md text-black content">
                    Help system coming soon
                    <!-- TODO Add in the help text -->
                  </q-page>

                  <q-page-scroller position="bottom">
                    <q-btn fab icon="keyboard_arrow_up" color="red"></q-btn>
                  </q-page-scroller>
                </q-page-container>
              </q-layout>
            </q-dialog>
          </div>
        </div>
      </div>
      <!-- TODO: using sass variable instead -->
      <div
        v-if="deploymentBannerColour"
        :class="`header bg-${deploymentBannerColour} row items-center justify-center text-weight-medium text-center text-black`"
        style="min-height: 5vh"
        :style="isMobileDevice ? 'font-size: 1.5em' : ' font-size: 2em'"
      >
        <p class="q-ma-none">
          {{ searchEnvVar('deployment') + ' - ' + searchEnvVar('rcNumber') }} - for test use only
        </p>

        <InfoButtonForInputs
          class="q-ml-sm"
          :fileName="'AppInstanceBanner'"
          :mode="'help'"
        />
      </div>
    </q-header>
    <div class="q-py-sm navigate__btns"></div>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
      :breakpoint="$q.screen.lt.xl ? 1200 : 400"
    >
      <div v-if="isDevSpace" class="is-dev-warning">
        {{ deployedEnvNameString }}
      </div>

      <q-list>
        <q-item>
          <q-icon
            name="wifi"
            size="sm"
            :color="ephemeralStore.networkOnline ? 'green' : 'red'"
          />
          <span style="padding-left: 7px; padding-top: 5px">
            <q-item-label
              >Network
              {{
                ephemeralStore.networkOnline ? 'Online' : 'Offline'
              }}</q-item-label
            >
          </span>
        </q-item>
        <q-item>
          <q-icon
            name="dns"
            size="sm"
            :color="ephemeralStore.coreIsAvailable ? 'green' : 'red'"
          />
          <span style="padding-left: 7px; padding-top: 5px">
            <q-item-label
              >Server
              {{
                ephemeralStore.coreIsAvailable ? 'Online' : 'Offline'
              }}</q-item-label
            >
          </span>
        </q-item>
        <q-item>
          <q-icon
            name="location_on"
            size="sm"
            :color="ephemeralStore.locationOnline ? 'green' : 'red'"
          />
          <span style="padding-left: 7px; padding-top: 5px">
            <q-item-label
              >Location
              {{
                ephemeralStore.locationOnline ? 'Online' : 'Offline'
              }}</q-item-label
            >
          </span>
        </q-item>
        <q-item>
          <q-icon
            name="my_location"
            size="sm"
            :color="ephemeralStore.locationOnline ? 'green' : 'red'"
          />
          <span style="padding-left: 7px; padding-top: 5px">
            <q-item-label>Accuracy: {{ locAccuracy }}</q-item-label>
          </span>
        </q-item>
      </q-list>

      <q-list>
        <q-item-label header class="text-grey-8"> Menu </q-item-label>
        <EssentialLink
          v-for="link in linksToShow"
          :key="link.title"
          v-bind="link"
          :data-cy="`essentialLink-${link.title}`"
        />
        <EssentialLink
          v-bind="appPreferences"
          :data-cy="`essentialLink-${appPreferences.title}`"
        />
        <!-- <EssentialLink
          v-bind="submissions"
          :data-cy="`essentialLink-${submissions.title}`"
        /> -->
        <OpportuneQuickBtn v-if="authStore.username" />
      </q-list>
      <!-- Dev Tools -->
      <!-- TODO instead of checking for username, allow access if User's role is above a
                        certain level (additional roles are not yet implemented, see issue #65) -->
      <div
        class="q-px-md"
        v-if="isDevSpace || authStore.username === 'TestUser'"
      >
        <q-btn class="drawer" @click="confirmClearState = true">
          clear ALL Local Data
        </q-btn>
        <br /><br />
        <q-btn
          class="drawer"
          label="Pull the Documentation"
          @click="refreshDoc"
        />
        <br /><br />
        <q-btn
          class="drawer"
          label="make Plot Context"
          @click="makePlotContext"
        />
        <br /><br />

        <div class="q-pb-sm">Upload state</div>
        <input ref="myFile" type="file" @change="overwriteStoreStateWithJSON" />
      </div>
      <div
        class="q-px-md"
        v-if="
          isDevSpace ||
          authStore.username === 'TERNBetaTester' ||
          authStore.username === 'TestUser'
        "
      >
        <br />
        <q-btn
          class="drawer"
          label="Download state as JSON"
          @click="downloadStoreStateAsJSON"
        />
        <br /><br />
        <q-btn
          class="drawer"
          no-wrap
          label="Clear unsent submissions"
          @click="clearSubmissions"
        />
        <br /><br />
        <q-item tag="a" href="mailto:" clickable>
          <q-item-section avatar>
            <q-icon name="mail" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Open Email Client</q-item-label>
            <q-item-label caption>email</q-item-label>
          </q-item-section>
        </q-item>
      </div>
      <!-- <div class="q-pt-lg q-pb-sm q-pl-lg">
        <q-checkbox v-modelValue="localStorage.getItem('isFirstLogin')"
          >Do not show onboarding tour</q-checkbox
        >
      </div> -->
      <div class="q-pt-lg q-pb-md q-pl-lg">
        <strong>Build:</strong> {{ searchEnvVar('deployment') }}
        <br />
        <strong>Version:</strong>
        {{ searchEnvVar('paratooWebAppBuildVersion') }}
        <br />
        <strong>Git Hash:</strong> {{ searchEnvVar('buildGitHash') }}
      </div>
    </q-drawer>

    <!-- <q-drawer
      v-if="this.authStore && this.authStore.token"
      v-model="rightDrawerOpen"
      show-if-above
      bordered
      side="right"
      content-class="bg-grey-1"
      :breakpoint="$q.screen.lt.xl ? 1200 : 400"
    >
      <div v-if="isDevSpace" class="is-dev-warning">
        {{ deployedEnvNameString }}
      </div>

      <div class="status q-pt-lg q-mx-md q-pb-md row items-center">
        <div><q-btn label="Aerial Feral pdf" @click="fetchData()" /></div>
      </div>
    </q-drawer> -->

    <q-dialog v-model="showDialog" :maximized="$q.screen.lt.md">
      <q-card style="min-width: 80vw; width: 100%; height: 100%">
        <div class="fit">
          <q-pdfviewer :src="src" />
        </div>
      </q-card>
    </q-dialog>

    <q-dialog v-model="confirmClearState" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="warning" color="primary" text-color="white" />
          <span class="q-ml-sm"
            >This will clear all site data and log you out. A connection will be
            required to login.</span
          >
        </q-card-section>

        <q-card-actions align="right">
          <q-btn label="Cancel" color="primary" v-close-popup />
          <q-btn
            label="Confirm Wipe"
            color="warning"
            @click="clearState"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer class="notification bg-secondary">
      <div
        v-if="
          ephemeralStore.setLoginFlag &&
          ephemeralStore.SWRegistrationForNewContent &&
          !updateBannerHidden
        "
      >
        <div class="q-pa-md">New content is available. Please update.
          <q-btn flat  @click="dismiss" style="color: white" label="Remind me later" />
          <q-btn outline @click="refresh" style="color: yellow" label="Update" />
        </div>
      </div>
      <div v-if="ephemeralStore.refreshTokenHasExpired && authStore.token">
        <p class="text-subtitle1 q-my-sm">
          Your authentication token has expired. Please re-login when you have a
          stable Internet connection so the Application can operate correctly.
        </p>
      </div>
    </q-footer>
    <ForceLogoutDialog />
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import OpportuneQuickBtn from 'components/OpportuneQuickBtn.vue'
import {
  deployedEnvName,
  notifyHandler,
  paratooErrorHandler,
  supportedBrowserCheck,
  handleError,
  paratooSentryBreadcrumbMessage,
  paratooWarnMessage,
  checkAndUpdatePlotContext,
  createLocationPermissionRejectionMessage,
  getPermissionStatus,
  
} from 'src/misc/helpers'
import { useEphemeralStore } from '../stores/ephemeral'
import { useDocumentationStore } from '../stores/documentation'
import { useAuthStore } from '../stores/auth'
import { useApiModelsStore } from '../stores/apiModels'
import { useBulkStore } from '../stores/bulk'
import { useDataManagerStore } from '../stores/dataManager'

import * as cc from '../misc/constants'
import {
  getDistanceFromLatLonInM,
  refreshLocalResources,
  refreshAndStoreHostInfo,
  checkIsOnline,
  startTimerToSendAppAnalytics,
} from '../misc/helpers'
import { Loading, date } from 'quasar'
import { refreshAccessToken } from '../misc/oidcALA'
import InfoButtonForInputs from 'src/components/InfoButtonForInputs.vue'
import { binary } from '../misc/binary'
import ForceLogoutDialog from 'src/components/ForceLogOutDialog.vue'
import PushNotification from 'src/components/PushNotification.vue'
import { Dialog } from 'quasar'
import {
  historicalDataManagerDb,
} from '../../src-pwa/dexieDb/historical-data-manager'
import {
  dexiePersistPlugin,
} from '../stores/persist'
import { getAccessTokenFromUrlCode } from '../misc/oidcALA'
export default {
  name: 'MainLayout',
  components: {
    EssentialLink,
    OpportuneQuickBtn,
    InfoButtonForInputs,
    ForceLogoutDialog,
    PushNotification
  },
  data() {
    return {
      darkMode: this.$q.dark.mode,
      src: '',
      //  src: 'http://localhost:1337/uploads/Pests_Protocol_Aerial_Surveys_DRAFT_20230623_EK.pdf.pdf'
      showDialog: false,
      width: null,
      constants: Object.keys(cc).map((k) => ({
        key: k,
        value: cc[k],
      })),
      leftDrawerOpen: false,
      rightDrawerOpen: false,
      essentialLinks: [
        {
          title: 'Home',
          caption: 'The main page',
          icon: 'home',
          to: '/home',
        },
        {
          title: 'Profile',
          caption: 'Manage your account',
          icon: 'account_circle',
          to: '/profile',
        },
        {
          title: 'Projects',
          caption: 'Access your projects',
          icon: 'las la-project-diagram',
          to: '/projects',
        },
        {
          title: 'Debug Menu',
          caption: 'Access Debug Menu',
          icon: 'bug_report',
          to: '/zzDebug',
        },
        {
          title: 'Preferences',
          caption: 'App settings',
          icon: 'settings',
          to: '/preferences',
          isAdminOnly: true,
        },
        // {
        //   title: 'Submissions',
        //   caption: 'View my recent submissions',
        //   icon: 'publish',
        //   to: '/profile',
        //   isAdminOnly: true,
        // },
        {
          title: 'Site Management',
          caption: 'Maintain our list of sites',
          icon: 'select_all',
          to: '/site-mgmt',
          isAdminOnly: true,
        },
        {
          title: 'Look up tables',
          caption: 'All our vocabs',
          icon: 'menu_book',
          to: '/luts',
          isAdminOnly: true,
        },
      ],
      currentTime: null,
      isDevSpace: process.env.DEV,
      helpDialog: false,
      helpDrawerLeftOpen: false,
      helpDrawerRightOpen: false,
      confirmClearState: false,
      watcher: null,
      locAccuracy: null,
      location: null,
      watchPositionId: null,
      checkStore: this.ephemeralStore.SWRegistrationForNewContent,
      appTitle: cc.appTitle,
      updateBannerHidden: false,
    }
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    const documentationStore = useDocumentationStore()
    const authStore = useAuthStore()
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const dataManager = useDataManagerStore()
    return {
      ephemeralStore,
      documentationStore,
      authStore,
      apiModelsStore,
      bulkStore,
      dataManager,
    }
  },
  async mounted() {
    //block fetching the docco (don't care about the returned value, just want it to hit
    //the network if it needs to), so that anything a the MainLayout and its children
    //will have docco if they need it
    await this.documentationStore.getDocumentation()

    this.initialiseData()

    this.checkIfNewWeekStarted()
    await binary.init()
    this.apiModelsStore.initModelsIdMap()

    await historicalDataManagerDb.init()
    await this.migrateHistoricalDataManager()

    const historicalSubmitResponses = await historicalDataManagerDb.getAllTableData({
      table: 'submitResponses'
    })
    if (historicalSubmitResponses.length > 0) {
      paratooSentryBreadcrumbMessage(
        `Checking if plot context and in-progress plot-based collections need to be updated/migrated from ${historicalSubmitResponses.length} historical submit responses`,
      )
      checkAndUpdatePlotContext({
        //data manager likely won't have any of this, so just make it empty
        submitResponses: [],
        //`map` to remove extra metadata we don't need here and append flag
        historicalSubmitResponses: historicalSubmitResponses.map(h => {
          return {
            ...h.data,
            isHistorical: true,
          }
        }),
        warnWhenUpdate: true,
      })
    } else {
      paratooSentryBreadcrumbMessage(
        `No historical data manager submit responses, so will not be able to update/migrate context data`,
      )
    }
    
    this.autoHeal()

    // Ensure DOM is updated before accessing elements
    //set onboading tour
    if (!this.ephemeralStore.beepAudioRoute) {
      const context = require.context('../assets/BeepAudios', true, /\.mp3$/)
      const files = context.keys()
      const filePath = files[0]
      this.ephemeralStore.beepAudioRoute = context(filePath)
    }
    if (window.Cypress) {
      window.documentationStore = this.documentationStore
      window.ephemeralStore = this.ephemeralStore
      window.apiModelsStore = this.apiModelsStore
      window.dataManager = this.dataManager
      window.bulkStore = this.bulkStore
      window.authStore = this.authStore
      window.constants = {
        core: cc.coreApiUrlBase,
        org: cc.orgApiUrlBase,
        modeOfOperation: cc.modeOfOperation,
      }
      window.dexiePersistPlugin = dexiePersistPlugin
      window.historicalDataManagerDb = historicalDataManagerDb
      window.dexiePersistPlugin = dexiePersistPlugin
    }
    this.width =
      window.screen.width > 1199 && window.screen.width < 1500 ? 450 : 300

    // check supported browser
    supportedBrowserCheck()
    
    if (this.authStore.permissionStatuses?.geolocation === true) {
      this.startLocationUpdates().then((positionId) => {
        this.watchPositionId = positionId
      })
    } else {
      paratooSentryBreadcrumbMessage(
        'Unable to start location updates as user has not granted permission',
      )
      createLocationPermissionRejectionMessage({
        routerInstance: this.$router,
      })
    }

    await this.authStore.validateToken()

    refreshAndStoreHostInfo()
  },
  beforeUnmount() {
    this.stopLocationUpdates()
    clearTimeout(this.networkCheckTimeoutId)
  },
  computed: {
    userName() {
      return this.isMobileDevice || this.authStore.username.length > 15 ? "" : this.authStore.username
    },
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    isWorkflow() {
      return this.$route.fullPath.split('/').includes('workflow')
    },
    // submissions() {
    //   return this.essentialLinks.find((e) => e.title === 'Submissions')
    // },
    appPreferences() {
      return this.essentialLinks.find((e) => e.title === 'Preferences')
    },
    linksToShow() {
      return this.essentialLinks.filter(
        (e) =>
          !e.isAdminOnly || (this.authStore.isParatooAdmin && e.isAdminOnly),
      )
    },
    deployedEnvNameString() {
      if (deployedEnvName === 'production') {
        return ''
      }
      return `[${deployedEnvName} build]`
    },
    apiModelsArePopulating() {
      return this.ephemeralStore.apiModelsArePopulating
    },
    networkOnline() {
      return this.ephemeralStore.networkOnline
    },
    deploymentBannerColour() {
      let colour = null
      if (deployedEnvName?.includes('beta')) {
        colour = 'orange'
      } else if (
        deployedEnvName !== 'production' &&
        deployedEnvName !== 'prod'
      ) {
        colour = 'red'
      }
      return colour
    },
    apiModelsPopulatingProcess() {
      const processes = Object.values(this.ephemeralStore.apiModelsPopulatingProcesses)
      return Math.min(...processes)
    }
  },
  watch: {
    // Kicks the Network to pull any protocols that failed to load.
    networkOnline: function () {
      if (this.authStore && this.authStore.token) {
        paratooSentryBreadcrumbMessage(
          `Network changed while user logged-in`,
        )
        this.authStore.refreshTokenAndApiListsModels().catch((err) => {
            handleError(err, this.$router)
        })
      }
    },
    darkMode() {
      this.$q.dark.toggle()
    },
  },
  methods: {
    initialiseData() {
      paratooSentryBreadcrumbMessage('Starting init of data')
      // process ANZSRC Fields of Research.
      this.apiModelsStore
        .processStaticAssets(cc.resourceTypes.ANZSRC_FIELDS_OF_RESEARCH)
        .catch((reason) => {
          console.log(`Failed to process dexieDB, reason is: ${reason}`)
        })

      // process GCMD Earth Science Keywords.
      this.apiModelsStore
        .processStaticAssets(cc.resourceTypes.GCMD_EARTH_SCIENCE_KEYWORDS)
        .catch((reason) => {
          console.log(`Failed to process dexieDB, reason is: ${reason}`)
        })

      // process species lists.
      this.apiModelsStore
        .processStaticAssets(cc.resourceTypes.SPECIES_LIST)
        .catch((reason) => {
          console.log(`Failed to process dexieDB, reason is: ${reason}`)
        })

      // process offline map tiles.
      this.apiModelsStore
        .processStaticAssets(cc.resourceTypes.MAP_TILES)
        .catch((reason) => {
          console.log(`Failed to process offline tiles, reason is: ${reason}`)
        })
      // process populated models list
      this.apiModelsStore
        .refreshPopulatedModelsList()
        .then(() => {})
        .catch((reason) => {
          console.log(
            `Failed to refresh populatedModelsList, reason is: ${reason}`,
          )
        })

      startTimerToSendAppAnalytics()

      this.initialsPermissionStatus()
    },
    async initialsPermissionStatus() {
      for (const perm of cc.permissionTypes) {
        const status = await getPermissionStatus({ permissionType: perm })
        this.authStore.setPermissionStatus({
          permissionType: perm,
          status,
        })
      }
    },
    async migrateHistoricalDataManager() {
      for (const table of historicalDataManagerDb.tables) {
        const dexieCount = await historicalDataManagerDb.countHistoricalDmTable({
          table,
        })
        paratooSentryBreadcrumbMessage(`${table} count: ${dexieCount}`)
        if (
          //nothing in dexie but the data manager state (e.g., `responses`) has items that
          //should be moved across
          dexieCount === 0 &&
          this.dataManager?.[table]?.length > 0
        ) {
          paratooWarnMessage(
            `Table '${table}' has ${this.dataManager?.[table]?.length} items in data manager that need to be moved to IndexDB`,
          )
          await this.dataManager.clearHistorical()
        }
      }
    },
    autoHeal() {
       // Check if there was a submission in progress
      // if so trigger the submission again
      if (
        this.dataManager.queueSubmissionProgress !== null &&
        // should only be executed once each session, that why we need this this.ephemeralStore.syncingInProgress
        !this.ephemeralStore.isAutoHealTriggered &&
        this.ephemeralStore.networkOnline &&
        this.$route.path === '/projects'
      ) {
        this.ephemeralStore.isAutoHealTriggered = true
        paratooWarnMessage('auto heal triggered')
        // don't await as don't want to block the UI
        this.dataManager.submitPublicationQueue()
      }
    },
    async checkIfNewWeekStarted() {
      const isOnline = this.ephemeralStore.networkOnline
      if (!isOnline) return
      const now = new Date()
      const lastAccessTime = this.authStore.lastAccessTime
        ? new Date(this.authStore.lastAccessTime)
        : new Date()
      // for freshly installed apps, lastAccessTime will be null
      const currentWeek = date.getWeekOfYear(now)
      const lastWeek = date.getWeekOfYear(lastAccessTime)
      const isDeploymentToWeeklyWipedData = cc.deploymentToWeeklyWipedData === cc.deployment
      const notProd = cc.deployment !== 'prod' && cc.deployment !== 'production'
      if(currentWeek > lastWeek && isDeploymentToWeeklyWipedData && notProd) {
        if(!this.ephemeralStore.networkOnline) return
        const options = {
          title: 'Warning',
          message: 'This is a new week. Our database is wiped every sunday. Some functionality might not work properly due to desynced between the app and our database. Do you want to clear the data to avoid such issue?',
          ok: 'Yes',
          persistent : true
        }
        Dialog.create(options).onOk(async () => {
          this.authStore.lastAccessTime = now
          await this.doLogout()
          this.apiModelsStore.$reset()
          this.bulkStore.$reset()
          this.dataManager.$reset()
          this.ephemeralStore.$reset()
          // auth store will be overridden at when user login back, so we don't need to reset
          //  and also want to persist access time
          this.authStore.previousAuthUserProfile = null
        })
      } else {
        this.authStore.lastAccessTime = now
      }
    },
    makePlotContext() {
      this.bulkStore.staticPlotContext = {
        plotLayout: { id: 1 },
        plotVisit: { id: 1 },
      }
    },
    async fetchData() {
      try {
        this.showDialog = true
        const response = await fetch(
          'http://localhost:1337/uploads/Pests_Protocol_Aerial_Surveys.pdf.pdf',
        )
        if (!response.ok) {
          throw new Error('Request failed')
        }
        // this.src = await response
        const blob = await response.blob()
        this.src = URL.createObjectURL(blob)
      } catch (error) {
        console.error(error)
      }
    },
    /**
     * Searches for an environment variable by its key within a collection of constants.
     * @param {string} keyCheck - the key of the environment variable to search for
     * @returns {any} - the value of the environment variable if found, otherwise null
     */
    searchEnvVar(keyCheck) {
      // Iterate over each item in the collection of constants
      for (let item in this.constants) {
        // Check if the current item's key matches the specified key to search for
        if (this.constants[item].key === keyCheck) {
          // If there's a match, return the value associated with the current item
          return this.constants[item].value
        }
      }
      // If the key was not found in any object, return null
      return null
    },
    dismiss() {
      this.updateBannerHidden = true
    },
    refresh() {
      if (this.dataManager.publicationQueue.length == 0) {
        location.reload()
        //logout to then we can get the fresh documentation
        this.doLogout()
        return
      }
      let msg =
        'Failed to update content, you have in-progress collections which need to be synced.'
      notifyHandler('warning', msg)
    },
    async startLocationUpdates() {
      // lazy load geolocation and watchPosition
      const result = import('@capacitor/geolocation')
        .then(({ Geolocation }) => {
          Geolocation.watchPosition(
            { enableHighAccuracy: true },
            (position) => {
              if (!position?.coords) {
                paratooSentryBreadcrumbMessage('browser gps not working, it might be down for a short moment')
              } else {
                this.ephemeralStore.setLocationOnline(true)
              }
              this.locAccuracy = position?.coords?.accuracy?.toFixed(2)
              this.location = position?.coords
              this.ephemeralStore.gpsAccuracy = Number(
                position?.coords?.accuracy?.toFixed(0),
              )
              this.ephemeralStore.heading = position?.coords?.heading?.toFixed(2)
              const current = Math.floor(Date.now() / 1000)
              const past = this.ephemeralStore.currentTime
              const difference = current - past
              const point1 = this.ephemeralStore.userCoords // old
              const point2 = {
                lat: position?.coords?.latitude,
                lng: position?.coords?.longitude,
              } // new
              if (point1?.lat && point2?.lat && difference > 0) {
                //distance unit is m, time unit is s, speed is m/s
                let speed =
                  getDistanceFromLatLonInM(point1, point2) / difference
                this.ephemeralStore.distance = getDistanceFromLatLonInM(
                  point1,
                  point2,
                )
                if (speed === null || isNaN(speed)) {
                  speed = 0
                }
                this.ephemeralStore.speed = speed
                this.ephemeralStore.currentTime = Math.floor(Date.now() / 1000)
              } else {
                this.ephemeralStore.speed = 0
                this.ephemeralStore.currentTime = Math.floor(Date.now() / 1000)
              }

              if (position?.coords?.latitude) {
                this.ephemeralStore.updateUserCoords({
                  lat: position?.coords?.latitude,
                  lng: position?.coords?.longitude,
                })
              }
            },
            (err) => {
              if (err.code === 1) {
                this.locationPermission = false
              } else if (err.code != 3) {
                paratooErrorHandler('Failed to get geolocation', err)
              }
            },
          ).then((positionId) => {
            return positionId
          })
        })
        .catch((error) => {
          console.log('Failed to load geolocation package', error)
          return null
        })
      return result
    },
    async stopLocationUpdates() {
      import('@capacitor/geolocation')
        .then(({ Geolocation }) => {
          if (this.watchPositionId) {
            Geolocation.clearWatch({ id: this.watchPositionId }).then(() => {
              console.debug('geolocation clear watch')
            })
          }
        })
        .catch((error) =>
          console.log('Failed to load geolocation package', error),
        )
    },
    doLogin() {
      this.$log.debug('Doing login')
      this.$router.push('/login')
    },
    async doLogout() {
      if (this.dataManager.queueSubmissionProgress !== null) {
        let msg =
          'Logout is not possible while an upload is in progress. Please wait for the upload to finish, then try again.'
        notifyHandler('negative', msg)
        return
      }
      // although we have networkOnline status in ephemeral store but this method
      //  but we want a more accurate check for when we can log out, as checkIsOnline try to ping google.com
      // to see if we are online
      const isOnline = await checkIsOnline()
      if (isOnline) {
        this.ephemeralStore.isLogin(false)
        this.updateBannerHidden = true

        this.$log.debug('Doing logout')
        await this.authStore.doLogout()
        await this.$router.push('/login')
        this.ephemeralStore.tokenHasExpired = false
        this.ephemeralStore.refreshTokenHasExpired = false
      } else {
        notifyHandler(
          'negative',
          'Cannot log out without an Internet connection, as you will not be able to log back in',
        )
      }
    },
    async refreshDoc() {
      if (this.dataManager.publicationQueue.length == 0) {
        await refreshLocalResources(cc.resourceTypes.DOCUMENTATION, true)
        return
      }
      let msg =
        'Failed to update content, you have in-progress collections which need to be synced.'
      notifyHandler('warning', msg)

      // testing
      // navigator.serviceWorker.ready.then( registration => {
      //   registration.active.postMessage(cc.customServiceWorkerAction.REFRESH_ASSETS);
      // })
    },
    clearSubmissions() {
      this.ephemeralStore.stopTimer = true
      this.ephemeralStore.transectTime = 0
      clearInterval(this.ephemeralStore.transectTimer)
      this.bulkStore.deleteUnsentSubmissions({}, { root: true })
    },
    downloadStoreStateAsJSON() {
      const store = {
        auth: this.authStore.$state,
        ephemeral: this.ephemeralStore.$state,
        documentation: this.documentationStore.$state,
        apiModels: this.apiModelsStore.$state,
        bulk: this.bulkStore.$state,
      }

      //TODO use `downloadFile` helper
      //https://stackoverflow.com/questions/48611671/vue-js-write-json-object-to-local-file
      const data = JSON.stringify(store, null, 2)
      const blob = new Blob([data], { type: 'text/plain' })
      const e = document.createEvent('MouseEvents'),
        a = document.createElement('a')
      a.download = 'state.json'
      a.href = window.URL.createObjectURL(blob)
      a.dataset.downloadurl = ['text/json', a.download, a.href].join(':')
      e.initEvent(
        'click',
        true,
        false,
        window,
        0,
        0,
        0,
        0,
        0,
        false,
        false,
        false,
        false,
        0,
        null,
      )
      a.dispatchEvent(e)
    },
    async clearState() {
      if (this.dataManager.publicationQueue.length > 0) {
        let msg =
          'Failed to update content, you have in-progress collections which need to be synced.'
        notifyHandler('warning', msg)
        return
      }

      Loading.show()
      // Clear local data
      await refreshLocalResources(cc.resourceTypes.ALL, true)
      Loading.hide()
    },
    overwriteStoreStateWithJSON() {
      const file = this.$refs.myFile.files[0]
      var reader = new FileReader()
      reader.readAsText(file)
      const useThis = this

      reader.onloadend = function () {
        const state = JSON.parse(reader.result)
        useThis.authStore.$state = state.auth
        useThis.ephemeralStore.$state = state.ephemeral
        useThis.documentationStore.$state = state.documentation
        useThis.apiModelsStore.$state = state.apiModels
        useThis.bulkStore.$state = state.bulk
      }
    },
  },
}
</script>

<style scoped>
.pageHeight,
.q-layout {
  min-height: 0 !important;
}
.navigate__btns {
  z-index: 1999;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  gap: 0.5em;
  right: 0;
  top: 3.5em;
}
.navigate__btns > * {
  z-index: 1999;
  width: fit-content;
  /* flex-direction: column; */
}
.version-number {
  color: #747474;
  font-size: 0.8em;
  text-align: center;
}

.is-dev-warning {
  text-align: center;
  color: white;
  background-color: red;
  font-family: monospace;
}
.notification {
  text-align: center;
  font-size: 1.2em;
}

.notification .text {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 400;
}

.wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px)  {
  .q-btn-dropdown::v-deep .q-btn-dropdown__arrow {
    margin-left: 0px !important;
  }
}
</style>
