<template>
  <div class="q-py-md">
    <q-list bordered separator>
      <q-expansion-item
        v-for="(lut, index) in samplingIntervalLuts"
        :key="index"
        v-model="expansionItems[index]"
        :label="lut.label"
        group="expansion"
        :data-cy="lut.label"
        @show="onShow(index)"
        @hide="onHide"
      >
        <crud
          v-if="expansionItems[index]"
          ref="crud"
          :fields="fields"
          :current-prot-id="protocolId"
          :row-data-key="modelName"
          :exclude-submit-btn-flag="false"
          submit-btn-label="Save Sample Data"
          :conditional-fields="conditionalFields"
          :conditional-field-callback="conditionalFieldsCallback"
          :model-value="localRecord[index]"
          @update:modelValue="(e) => updateRecord(e, index)"
        />
      </q-expansion-item>
    </q-list>
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import { useApiModelsStore } from 'src/stores/apiModels'
import {
  asyncCrud as crud,
  createDependentFieldCallback,
  validateForm,
  notifyHandler,
  updateUniqueRule,
  makeModelConfig,
} from 'src/misc/helpers'
import { ref, toRef, inject } from 'vue'
import { isEqual, cloneDeep } from 'lodash'
export default {
  inject: ['doc'],
  components: {
    crud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    fieldsProp: {
      type: Object,
      required: false,
    },
    modelValue: {
      required: true,
    },
  },
  setup(props) {
    const { 
      collectionGetForProt,
      setTemporaryIndexId,
     } = useBulkStore()
    const { cachedModel } = useApiModelsStore()

    let fields
    if (props.fieldsProp) {
      fields = toRef(props.fieldsProp)
    } else {
      const doc = inject('doc')?.value
      fields = ref(makeModelConfig(
        props.modelName,
        doc,
        props.protocolId,
      ).fields)
    }
    const conditionalFields = [
      {
        field: 'not_collected',
        fieldCb: function ({ newVal, oldVal }) {
          if (isEqual(newVal, oldVal)) return
          if (newVal.not_collected) {
            fields.value.barcode.hidden = true
            // reset the barcode
            newVal.barcode = null
            return newVal
          } else {
            fields.value.barcode.hidden = false
          }
        },
      },
    ]

    // hide sampling interval as we gonna autofill instead
    fields.value.sampling_interval.hidden = true
    const samplingIntervalLuts = cachedModel({
      modelName: fields.value.sampling_interval.optionsKey,
    })

    return {
      samplingIntervalLuts,
      fields,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      collectionGetForProt,
      setTemporaryIndexId,
    }
  },
  data() {
    // control the expansion items
    const expansionItems = this.samplingIntervalLuts.map(
      (_, index) => index === 0, //make the fist one expanded
    )
    return {
      expansionItems,
    }
  },
  computed: {
    localRecord() {
      if (Array.isArray(this.modelValue)) {
        return this.modelValue
      } else {
        // autofill the sampling intervals
        const localRecord = this.samplingIntervalLuts.map((interval) => ({
          sampling_interval: interval.symbol,
        }))
        return localRecord
      }
    },
  },
  mounted() {
    this.setTemporaryIndexId(0)
  },
  methods: {
    onShow(i){
      this.setTemporaryIndexId(i)
    },
    onHide(){
      // this.setTemporaryIndexId(null)
    },
    async onSubmitFunc() {
      // we extend the validation as the current one is not intuitive enough in this case
      const incorrect = []
      this.samplingIntervalLuts.forEach((interval, index) => {
        // this.setTemporaryIndexId(index)
        updateUniqueRule(this.modelName, this.fields, index)
        const fields = cloneDeep(this.fields)
        // just bypass the barcode validation, as it got validated when we saved the expansion anyways
        fields.barcode.rules = []
        const result = validateForm(this.localRecord[index], fields, true)
        if (!result) incorrect.push(interval.label)
      })
      if (incorrect.length) {
        notifyHandler('negative', 'Invalid data in: ' + incorrect.join(', '))
      }
      this.setTemporaryIndexId(null)
      return incorrect.length === 0
    },
    updateRecord(newVal, index) {
      if (!isEqual(newVal, this.localRecord[index])) {
        const newDataToUpdate = cloneDeep(this.localRecord)
        newDataToUpdate[index] = newVal
        this.$emit('update:modelValue', newDataToUpdate)
      }
      this.expansionItems[index] = false
    },
  },
}
</script>
