<template>
  <div>
    <!-- TODO: may be make a summary for the selected survey -->
    <crud
      ref="crud"
      :fields="fields"
      :current-prot-id="protocolId"
      :row-data-key="modelName"
      :model-value="localRecord"
      :main-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="updateModelValue"
    />
  </div>
</template>
<script>
import {
  asyncCrud,
  notifyHandler,
  createDependentFieldCallback,
} from 'src/misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { date } from 'quasar'
import cloneDeep from 'lodash/cloneDeep'
export default {
  components: {
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    fields: {
      type: Object,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    splitSurveyStep: Boolean,
  },
  setup(props) {
    const {
      filterSurveyDataFromPlotContext,
      cachedModel,
      soilPitInCurrentPlot,
    } = useApiModelsStore()
    const { workflow } = cachedModel({ modelName: 'protocol' }).find(
      ({ id }) => id === props.protocolId,
    )

    return {
      workflow,
      filterSurveyDataFromPlotContext,
      soilPitInCurrentPlot,
    }
  },
  data() {
    const fieldDataOfCurrentVisit = this.getSurveyDataFromPlotContext()

    const [customFields, conditionalFields] = this.createConditionalFields(
      fieldDataOfCurrentVisit,
    )

    // make local record to track which variant was selected then we can choose which next steps to show/hide
    // also map the field survey id to fit the 'select' field option
    const localRecord = cloneDeep(this.modelValue)
    if (localRecord?.field_survey_id) {
      const selectedSurveyOption = customFields.field_survey_id.options.find(
        (option) => option.value === localRecord.field_survey_id,
      )
      localRecord.field_survey_id = selectedSurveyOption
    }

    return {
      localRecord,
      fieldDataOfCurrentVisit,
      customFields,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  computed: {},
  methods: {
    async onSubmitFunc() {
      return await this.$refs.crud.onSubmitFunc()
    },
    updateModelValue(val) {
      console.log(val)
      // update steps based on variant
      let steps
      if (val.survey_variant === 'F') {
        steps = this.workflow.map((model) => ({
          model: model.modelName,
          hide:
            model.labPhase ||
            ['plot-layout', 'plot-visit'].includes(model.modelName),
        }))
      } else {
        steps = this.workflow.map((model) => ({
          model: model.modelName,
          hide: !model.labPhase && model.modelName !== this.modelName,
        }))
        // remove unrelated fields got populated by default values like date_time, soil_pi_id
        for (const key in val) {
          if (
            ['survey_metadata', 'survey_variant', 'field_survey_id'].includes(
              key,
            )
          )
            continue
          delete val[key]
        }
      }
      console.log(steps)

      this.$emit('setStepVisibility', steps)
      // emit the record to the store
      this.$emit('update:modelValue', val)
    },
    createConditionalFields(fieldDataOfCurrentVisit) {
      const fields = this.fields
      // edge case for soil bulk, we need a drop down for soil_pit_id
      if (this.modelName === 'soil-bulk-density-survey') {
        const soilPitOptions = this.soilPitInCurrentPlot.map((survey) => {
          let value = {
            label: survey.soil_pit_id,
            variant: survey.variant,
          }
          if (survey.id) {
            value.id = survey.id
          } else if (survey.temp_offline_id) {
            value.temp_offline_id = survey.temp_offline_id
          }
          return {
            value,
            label: survey.soil_pit_id,
          }
        })
        fields.associated_soil_pit_id = {
          label: 'Soil pit ID',
          type: 'select',
          options: soilPitOptions,
          prefer_dropdown: true,
        }
      }

      const conditionalFields = []
      // make conditional fields for field variant
      Object.keys(fields).forEach((key) => {
        if (['survey_variant', 'field_survey_id'].includes(key)) return
        fields[key].hidden = true
        const conditionalField = {
          field: key,
          dependsOn: 'survey_variant',
          dependsOnSelection: ['F'],
        }
        conditionalFields.push(conditionalField)
      })

      if (!fieldDataOfCurrentVisit.length) {
        // default to Field collection if no field survey
        fields.survey_variant.default = 'F'
        fields.survey_variant.optionsFilter = (option) => option.symbol === 'F'
      } else {
        // we need a drop down to select the field survey
        fields.field_survey_id = this.makeFieldSurveyField(
          fieldDataOfCurrentVisit,
        )
        // and conditional field
        conditionalFields.push({
          field: 'field_survey_id',
          dependsOn: 'survey_variant',
          dependsOnSelection: ['L'],
        })
      }
      return [fields, conditionalFields]
    },
    // get the submitted survey
    getSurveyDataFromPlotContext() {
      let result = this.filterSurveyDataFromPlotContext(this.modelName)
      result = result.filter((item) => item.survey_variant?.symbol === 'F')
      if (!result?.length) {
        notifyHandler(
          'info',
          'No field data related to current visit was found. Default to Field Collection',
        )
      }
      // map the data to ID, pit I
      return structuredClone(result)
    },
    makeFieldSurveyField(fieldDataOfCurrentVisit) {
      // we need a drop down to select the field survey
      const fieldDataForDropDownOptions = fieldDataOfCurrentVisit.map(
        (item) => {
          let label = date.formatDate(item.start_date_time, 'DD-MM-YY HH:mm')
          const idField = Object.keys(item).find((key) => {
            if (
              [
                'id',
                'survey_metadata',
                'field_survey_id',
                'associated_soil_pit_id_lite',
                'associated_soil_pit_id',
              ].includes(key)
            )
              return false
            return key.match('id')
          })
          const survey = {
            value: item.id,
            label: item[idField] ? item[idField] + ' ' + label : label,
          }
          return survey
        },
      )
      const fieldConfig = {
        type: 'select',
        label: 'Field Survey *',
        options: fieldDataForDropDownOptions,
        prefer_dropdown: true,
        rules: [],
        hint: `The field survey details are in the format '<Survey Id>(if applicable) <survey date>'`,
        hidden: true, // will be controlled by survey_variant
      }
      return fieldConfig
    },
  },
}
</script>
