<template>
  <crud
    ref="crud"
    :fields="fields"
    :row-data-key="modelName"
    :current-prot-id="protocolId"
    :modelValue="modelValue"
    @update:modelValue="
      (e) => {
        $emit('update:modelValue', e)
      }
    "
  />
</template>
<script>
import {
  asyncCrud,
  makeModelConfig,
} from 'src/misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
import { ref, inject } from 'vue'
export default {
  inject: ['doc'],
  components: {
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      required: true,
    },
  },
  setup(props) {
    const { collectionGetForProt } = useBulkStore()

    const doc = inject('doc')?.value
    const { fields } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    // restrict depth to R horizon by soil pit depth
    const soilPitDepth = collectionGetForProt({ protId: props.protocolId })[
      'soil-pit-observation'
    ].soil_pit_depth
    const rule = (val) =>
      val <= soilPitDepth ||
      `Soil horizon depth cannot be higher than soil pit depth (${soilPitDepth}m)`
    fields.depth_r_horizon.rules.push(rule)
    const crud = ref(null)
    function onSubmitFunc() {
      return crud.value.onSubmitFunc()
    }
    return { fields, onSubmitFunc, crud }
  },
}
</script>
