<template>
  <div>
    <crud
      ref="crud"
      :fields="fields"
      :current-prot-id="protocolId"
      :collection-survey-flag="soilSubPitOptions.length > 1"
      :row-data-key="modelName"
      :exclude-submit-btn-flag="soilSubPitOptions.length < 2"
      :model-value="localRecord"
      add-btn-label="Add Sample"
      submit-btn-label="Save Sample Data"
      @update:model-value="updateRecord"
    />
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import {
  asyncCrud,
  notifyHandler,
  makeModelConfig,
} from '../../misc/helpers'
import { ref, computed, inject } from 'vue'
import { useDataManagerStore } from '../../stores/dataManager'
export default {
  inject: ['doc'],
  components: {
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      required: true,
    },
  },
  setup(props) {
    // const { cachedModel } = useApiModelsStore()
    const { cachedModel } = useDataManagerStore()
    const { collectionGetForProt } = useBulkStore()

    const doc = inject('doc')?.value
    let { fields } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    // replace with custom component
    fields.sample.type = 'soil-pit-sample'
    fields.sample.model = 'component'
    fields.sample.fields = fields.sample.modelConfig.fields

    // we need to get the related soil sub pits that were submitted
    const fieldSurveyId = collectionGetForProt({ protId: props.protocolId })[
      'soil-sub-pit-and-metagenomics-survey'
    ].field_survey_id

    const fieldSurveyData = cachedModel({
      modelName: 'soil-sub-pit-and-metagenomics-survey',
    }).find(o => o.id === fieldSurveyId)

    //only collect a meta sample if it was specified during field
    fields.metagenomics_sample.type = 'barcode'
    fields.metagenomics_sample.hidden = !fieldSurveyData?.collect_metagenomics

    // get soil sub pit info
    const soilSubPitData =
      cachedModel({
        modelName: 'soil-sub-pit',
      })?.filter((item) => item.soil_sub_pits_survey.id === fieldSurveyId) || []
    const soilSubPitOptions = soilSubPitData.map((subpit) => ({
      label: subpit.soil_sub_pit_id,
      value: subpit.id,
    }))
    const subpitField = {
      soil_sub_pit: {
        type: 'select',
        label: 'Soil Sub Pit',
        options: soilSubPitOptions,
        prefer_dropdown: true,
        rules: [(val) => Boolean(val) || 'Please select a sub pit'],
      },
    }
    if (soilSubPitOptions.length === 1) {
      // default to the only sub pit if the current variant is standard
      subpitField.soil_sub_pit.default = soilSubPitOptions[0]
    }
    fields = { ...subpitField, ...fields }

    // turn array to single object if standard protocol
    const localRecord = computed(() => {
      if (Array.isArray(props.modelValue) && soilSubPitOptions.length === 1) {
        return props.modelValue[0]
      }
      return props.modelValue
    })
    console.log(localRecord.value)

    return {
      fields: ref(fields),
      soilSubPitOptions,
      subPitId: [],
      localRecord,
    }
  },
  methods: {
    async onSubmitFunc() {
      // lite
      if (this.soilSubPitOptions.length === 1) {
        return await this.$refs.crud.onSubmitFunc()
      } else {
        // full
        if (!this.modelValue?.length) return false
        const missingSubPits = this.soilSubPitOptions
          ?.filter(({ value }) => {
            const index = this.modelValue.findIndex(
              ({ soil_sub_pit }) => soil_sub_pit === value,
            )
            return index === -1
          })
          .map(({ label }) => label)

        if (missingSubPits?.length) {
          notifyHandler(
            'warning',
            `Missing samples for ${missingSubPits.toString()}`,
          )
        }
        return missingSubPits.length === 0
      }
    },
    updateRecord(newVal) {
      if (!newVal) return
      if (!Array.isArray(newVal)) {
        newVal = [newVal]
      }
      this.$emit('newRecord', structuredClone(newVal))
    },
  },
  watch: {
    modelValue: {
      handler(newVal) {
        if (this.soilSubPitOptions.length === 1) return
        const soilSubPitOptions = this.soilSubPitOptions.map((option) => ({
          ...option,
          inactive: newVal.some((pit) => pit.soil_sub_pit === option.value),
        }))
        this.fields.soil_sub_pit.options = soilSubPitOptions
      },
      deep: true,
    },
  },
}
</script>
