<template>
  <div>
    <q-list class="q-mt-md" bordered separator>
      <q-expansion-item
        v-for="(item, index) in expansionItems"
        :key="index"
        v-model="expansionItems[index]"
        :label="
          makeSoilHorizonLabel(newRecord[index]?.horizon) || `Horizon ${index + 1}`
        "
        @before-show="showedRecord = newRecord[index]"
        group="expansion"
      >
        <paratoo-api-model-crud-ui
          ref="crud"
          :fields="displayedFields"
          :exclude-submit-btn-flag="false"
          :current-prot-id="protocolId"
          :modelValue="showedRecord"
          :deleteButtonFlag="
            newRecord?.length > 0 && !sortedSampleData[showedRecord?.horizon]
          "
          :onEntryDeletion="deleteMethod[index]"
          :conditional-fields="conditionalFields"
          :conditional-field-callback="conditionalFieldsCallback"
          submitBtnLabel="Save horizon data"
          @new-record-changed="newRecordChanged"
          @update:modelValue="(e) => updateModelValue(e, index)"
        />
      </q-expansion-item>
    </q-list>
    <q-btn
      icon="add"
      color="primary"
      class="q-my-sm"
      rounded
      label="Add soil horizon"
      data-cy="addEntry"
      @click="addEntry"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  notifyHandler,
  createDependentFieldCallback,
  makeModelConfig,
} from 'src/misc/helpers'
import { cloneDeep, isEqual } from 'lodash'
import { useBulkStore } from 'src/stores/bulk'
import { computed, ref, inject } from 'vue'
export default {
  inject: ['doc'],
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const { collectionGetForProt } = useBulkStore()

    const collectionData = collectionGetForProt({ protId: props.protocolId })

    const sampleData = collectionData['soil-horizon-sample']
    // sorted based on horizon
    const sortedSampleData = !sampleData?.length
      ? {}
      : sampleData.reduce((acc, sample) => {
          if (!acc[sample.horizon]) {
            acc[sample.horizon] = true
          }
          return acc
        }, {})

    const savedData = computed(
      () =>
        collectionGetForProt({ protId: props.protocolId })[props.modelName] ||
        [],
    )

    const doc = inject('doc')?.value
    const { fields } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    // restrict horizon depths by soil pit depth
    const soilPitObsModelName = 'soil-pit-observation'
    const soilPitDepth = collectionData[soilPitObsModelName].soil_pit_depth
    // custom rules for horizon
    const rule1 = (val) =>
      val <= soilPitDepth ||
      `Soil horizon depth cannot be higher than soil pit depth (${soilPitDepth}m)`
    fields.upper_depth.rules.push(rule1)
    fields.lower_depth.rules.push(rule1)
    fields.depth_of_field_test.modelConfig.fields.depth_of_field_test.rules.push(
      rule1,
    )
    // these are optionals fields that are toggle by the checkboxes
    const defaultHiddenFields = [
      'mottles',
      'coarse_fragments',
      'structure',
      'segregation',
      'voids',
      'pans',
      'cutans',
      'roots',
    ]
    defaultHiddenFields.forEach((field) => (fields[field].hidden = true))
    const conditionalFields = defaultHiddenFields.map((field) => ({
      field,
      dependsOn: `has_${field}`,
      dependsOnSelection: [true],
      fieldCb: function ({ newVal, inputDefs }) {
        const checkBoxField = inputDefs.find(
          (item) => item.model === this.dependsOn,
        )
        // we disable related checkboxes if there are more than 1 entries
        // to avoid fat fingering
        checkBoxField.disable = newVal[field]?.length > 1
      },
    }))

    return {
      fields: ref(fields),
      savedData,
      sortedSampleData,
      defaultHiddenFields,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  data() {
    let expansionItems
    if (!this.savedData.length) {
      expansionItems = [true]
    } else {
      expansionItems = this.savedData.map(() => false)
    }
    return {
      displayedFields: cloneDeep(this.fields),
      newRecord: cloneDeep(this.savedData),
      // data to display in active expansion item and is used to controlled optional fields
      // we want to separate it from newRecord which is validated data
      // which is gonna be submitted to bulk
      showedRecord: {},
      expansionItems,
    }
  },
  computed: {
    deleteMethod() {
      const methods = []
      for (const index in this.expansionItems) {
        const deleteFn = () => {
          this.expansionItems.splice(index, 1)
          this.newRecord.splice(index, 1)
        }
        methods.push(deleteFn)
      }
      return methods
    },
  },
  methods: {
    async onSubmitFunc() {
      if (!this.newRecord.length) {
        notifyHandler(
          'negative',
          'No horizon data to submit. Please ensure you have pressed the "SAVE HORIZON DATA" to save the data',
        )
        return false
      }
      return true
    },
    updateModelValue(e, index) {
      const newRecord = structuredClone(e)
      this.showedRecord = newRecord
      if (!this.newRecord[index]) {
        this.newRecord.push(newRecord)
      } else {
        this.newRecord[index] = newRecord
      }
      this.expansionItems[index] = false
      notifyHandler('positive', 'Saved')
    },
    deleteEntry(index) {
      this.expansionItems.splice(index, 1)
      this.newRecord.splice(index, 1)
    },
    async addEntry() {
      await this.$refs['crud'].at(-1).onSubmitFunc()
      this.expansionItems.push(true)
      // set the next upper depth to the previous lower depth
      const prevHorizonLowerDepth = this.newRecord.at(-1).lower_depth
      this.showedRecord = {
        upper_depth: prevHorizonLowerDepth,
      }
    },
    newRecordChanged({ newRecord, oldRecord }) {
      if (!this.showedRecord) return
      this.handleHorizon(newRecord, oldRecord)
      this.handleColour(newRecord)
    },
    handleColour(newRecord) {
      if (newRecord.colour?.length === 1) {
        const filterFn = (option) =>
          option.symbol !== newRecord.colour[0].moisture_status

        this.displayedFields.colour.modelConfig.fields.moisture_status.optionsFilter =
          filterFn
      }
    },
    handleHorizon(newRecord, oldRecord) {
      if (isEqual(newRecord.horizon, oldRecord?.horizon)) return
      const selectedHorizon = newRecord.horizon?.horizon_
      const isM =
        selectedHorizon === 'M' || selectedHorizon?.horizon_lut === 'M'
      this.displayedFields.horizon.modelConfig.fields.deposition_mechanism.hidden =
        !isM
    },
    makeSoilHorizonLabel(horizon) {
      if (!horizon) return null
      let label = ''
      for (const fieldValue of Object.values(horizon)) {
        if (fieldValue.horizon_lut) {
          label += fieldValue.horizon_lut
        } else if (fieldValue.horizon_text) {
          label += fieldValue.horizon_text
        } else {
          label += fieldValue
        }
      }
      return 'Horizon ' + label
    },
  },
  watch: {
    newRecord: {
      handler(newVal) {
        this.$emit('update:modelValue', newVal)
      },
      deep: true,
    },
  },
}
</script>
