<template>
  <div class="q-pa-md">
    <!-- lite(standard) -->
    <crud
      v-if="isLite"
      ref="crud"
      :fields="fields"
      :current-prot-id="protocolId"
      :row-data-key="modelName"
      v-model="localRecord"
    />
    <!-- full(enhanced) -->
    <template v-else>
      <q-list bordered separator>
        <q-expansion-item
          v-for="(record, index) in localRecord"
          :data-cy="`expansion-${index}`"
          :key="index"
          :label="isSaved(record.soil_sub_pit_id, index)"
          group="obs"
          v-model="expansionItems[index]"
        >
          <crud
            v-if="expansionItems[index]"
            data-cy="crud"
            ref="crud"
            :fields="fields"
            :current-prot-id="protocolId"
            :row-data-key="modelName"
            :exclude-submit-btn-flag="false"
            submit-btn-label="Save Sub Pit Record"
            v-model="localRecord[index]"
            @update:modelValue="expansionItems[index] = false"
          />
          <q-btn
            v-if="localRecord.length > 1"
            @click="() => confirmDeletion(index)"
            class="q-ma-sm"
            rounded
            icon="delete"
            color="red"
          />
        </q-expansion-item>
      </q-list>
      <q-btn
        v-if="expansionItems?.length < 9"
        data-cy="addEntry"
        @click="handleAddEntry"
        color="primary"
        rounded
        class="q-ma-md"
        >Add Sub Pit</q-btn
      >
      <p v-else>Maximum 9 sub-pits</p>
      <q-dialog v-model="confirm">
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="red" text-color="white" />
            <span class="q-ml-sm"
              >Deleting this sub pit record will result in the subsequent
              deletion of all associated data related to this pit, including
              metagenomics, observations, and sampling.
            </span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancel" color="primary" v-close-popup />
            <q-btn
              flat
              label="Confirm"
              color="primary"
              v-close-popup
              @click="deleteEntry"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </template>
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import {
  asyncCrud,
  validateForm,
  notifyHandler,
  makeModelConfig,
} from '../../misc/helpers'
import { cloneDeep, isEqual } from 'lodash'
import { computed, inject } from 'vue'
import { useDataManagerStore } from '../../stores/dataManager'

export default {
  inject: ['doc'],
  components: {
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const bulkStore = useBulkStore()

    let savedRecord = computed(
      () =>
        bulkStore.collectionGetForProt({ protId: props.protocolId })[
          props.modelName
        ],
    )

    const doc = inject('doc')?.value
    const { fields } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )

    const surveyName = 'soil-sub-pit-and-metagenomics-survey'
    const protocolVariant = bulkStore.collectionGetForProt({
      protId: props.protocolId,
    })[surveyName]?.variant
    const isLite = protocolVariant === 'lite'

    const { currentPlotLabel } = useDataManagerStore()

    return {
      savedRecord,
      fields,
      isLite,
      currentPlotLabel,
      bulkStore,
    }
  },
  data() {
    let localRecord
    const initData = {
      soil_sub_pit_id: `${this.currentPlotLabel}-1`,
    }
    if (!this.savedRecord) {
      localRecord = this.isLite ? initData : [initData]
    } else {
      localRecord = this.isLite
        ? cloneDeep(this.savedRecord[0])
        : cloneDeep(this.savedRecord)
    }

    // we only need expansion items with the protocol is a full(enhanced) version
    let expansionItems
    if (Array.isArray(localRecord)) {
      expansionItems =
        localRecord.length === 1 ? [true] : localRecord.map(() => false)
    }

    return {
      localRecord,
      expansionItems,
      confirm: false,
      entryToDeleteIndex: null,
    }
  },
  methods: {
    async onSubmitFunc() {
      if (this.isLite) {
        return await this.$refs['crud'].onSubmitFunc()
      } else {
        if (this.localRecord?.length < 9) {
          notifyHandler('negative', 'Minimum 9 sub-pits')
          return false
        }
        for (const record of this.localRecord) {
          const validation = validateForm(record, this.fields)
          if (!validation) return false
        }
      }
      return true
    },
    handleAddEntry() {
      const length = this.expansionItems.length
      this.localRecord.push({
        soil_sub_pit_id: `${this.currentPlotLabel}-${length + 1}`,
      })
      this.expansionItems.push(true)
    },
    deleteEntry() {
      const subPitId =
        this.localRecord[this.entryToDeleteIndex]['soil_sub_pit_id']
      this.localRecord.splice(this.entryToDeleteIndex, 1)
      this.expansionItems.splice(this.entryToDeleteIndex, 1)
      this.entryToDeleteIndex = null

      const associatedSteps = ['soil-metagenomics', 'soil-sub-pit-sampling']
      associatedSteps.forEach((step) => {
        const collectionData = this.bulkStore.collectionGetForProt({
          protId: this.protocolId,
        })[step]
        if (!collectionData) return

        const index = collectionData.findIndex(
          ({ soil_sub_pit_id }) => soil_sub_pit_id === subPitId,
        )

        if (index === -1) return

        //FIXME emit change to `collections` up the component hierarchy
        this.bulkStore.collections[this.protocolId][step].splice(index, 1)
      })
    },
    confirmDeletion(index) {
      this.entryToDeleteIndex = index
      this.confirm = true
    },
    isSaved(id, index) {
      if (!this.savedRecord) return `${id} (Unsaved)`
      return !this.savedRecord[index] ? `${id} (Unsaved)` : `${id} (Saved)`
    },
  },
  watch: {
    localRecord: {
      handler(newVal) {
        const newRecord = structuredClone(newVal)
        if (this.isLite) {
          this.$emit('newRecord', [newRecord])
        } else {
          // we only filter valid record as user may add multiple entries but only complete a few of them
          const validRecord = newRecord.filter((record) =>
            validateForm(record, this.fields, true, this.modelName),
          )
          if (validRecord.length && !isEqual(validRecord, this.savedRecord)) {
            this.$emit('newRecord', validRecord)
          }
        }
      },
      deep: true,
    },
  },
}
</script>
