<template>
  <div>
    <q-banner v-if="!horizonOptions?.length" rounded class="bg-red text-white">
      <strong>Whoops!</strong> Cannot find any soil horizon
    </q-banner>
    <crud
      v-else
      ref="crud"
      :fields="fields"
      :title="''"
      :current-prot-id="protocolId"
      :modelValue="savedData"
      :collectionSurveyFlag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      submitBtnLabel="Save Sample Data"
      addBtnLabel="Add Sample"
      @update:modelValue="updateModelValue"
    />
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import { useApiModelsStore } from 'src/stores/apiModels'
import {
  asyncCrud,
  notifyHandler,
  createDependentFieldCallback,
  makeModelConfig,
} from 'src/misc/helpers'
import { computed, ref, inject } from 'vue'
import isEqual from 'lodash/isEqual'
import { setExistingBarcodes } from '../../misc/helpers'
export default {
  inject: ['doc'],
  components: {
    crud: asyncCrud,
  },
  props: {
    modelName: {
      type: String,
      required: true,
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  async mounted() {
    setExistingBarcodes(this.localRecord.map((e)=> e.barcode))
  },
  setup(props) {
    const bulkStore = useBulkStore()
    const { cachedModel } = useApiModelsStore()

    const protocolData = bulkStore.collections[props.protocolId]
    const surveyID =
      protocolData['soil-pit-characterisation-full']?.field_survey_id
    const savedData = computed(
      () => bulkStore.collections[props.protocolId][props.modelName],
    )

    const doc = inject('doc')?.value
    const modelConfig = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    const fields = ref(modelConfig.fields)

    const horizonModelName = 'soil-horizon-observation'
    const soilHorizonData = cachedModel({
      modelName: horizonModelName,
    }).filter((item) => item.soil_pit_survey.id === surveyID)

    const conditionalFields = [
      {
        field: 'soil_horizon',
        fieldCb: function ({ newVal, oldVal }) {
          if (isEqual(newVal.soil_horizon, oldVal.soil_horizon)) return
          const selectedHorizon = soilHorizonData.find(
            (item) => item.id === newVal.soil_horizon?.value,
          )
          if (!selectedHorizon) return
          // custom rule for sample depth based on selected horizon
          const horizonLowerDepth = selectedHorizon.lower_depth
          const horizonUpperDepth = selectedHorizon.upper_depth
          const depthConstraint = (val) =>
            (val <= horizonLowerDepth && val >= horizonUpperDepth) ||
            `Please type a number with horizon depth (${horizonUpperDepth}m - ${horizonLowerDepth}m)`
          fields.value.upper_depth.rules = [depthConstraint]
          fields.value.lower_depth.rules = [depthConstraint]
        },
      },
    ]

    // add horizon field, as it a relation so it's ignored by makeModelConfig
    // we want to select horizon id from the soil-horizon-observation model
    function makeSoilHorizonLabel(horizon) {
      if (!horizon) return null
      let label = ''
      const horizonFields = [
        'numeric_prefix',
        'horizon_',
        'horizon_subdivision',
        'horizon_suffix',
        'deposition_mechanism',
      ]
      for (const horizonField of horizonFields) {
        console.log(horizon)
        console.log(horizonField,horizon[horizonField])
        if (horizon[horizonField]?.horizon_text) {
          label += horizon[horizonField].horizon_text
        } else if (horizon[horizonField]?.horizon_lut) {
          label += horizon[horizonField].horizon_lut.symbol
        } else if(horizon[horizonField]?.symbol) {
          label += horizon[horizonField]?.symbol
        }
      }
      return label
    }
    const horizonOptions = soilHorizonData.map((horizon) => ({
      label: `${makeSoilHorizonLabel(horizon.horizon)} (upper depth: ${
        horizon.upper_depth
      }m - lower depth: ${horizon.lower_depth}m)`,
      value: horizon.id,
    }))
    const horizonField = {
      soil_horizon: {
        type: 'select',
        label: 'Horizon',
        options: horizonOptions,
        prefer_dropdown: true,
        rules: [(val) => Boolean(val) || 'Please select a horizon'],
      },
    }
    fields.value = { ...horizonField, ...fields.value }

    return {
      fields,
      savedData,
      horizonOptions,
      localRecord: ref(savedData.value || []),
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    async onSubmitFunc() {
      const missing = this.horizonOptions
        .filter(({ value }) => {
          const found = this.localRecord.some(
            ({ soil_horizon }) => soil_horizon === value,
          )
          return !found
        })
        .map(({ label }) => label)

      if (missing.length) {
        notifyHandler(
          'warning',
          `The following horizon(s) are missing samples: ${missing.toString()}`,
        )
      }

      return true
    },
    updateModelValue(newVal) {
      this.localRecord = newVal.map((sample) => {
        sample.horizon = this.horizonOptions.find(
          ({ value }) => value === sample.soil_horizon,
        ).label
        return sample
      })
      setExistingBarcodes(this.localRecord.map((e)=> e.barcode))
      this.$emit('update:modelValue', this.localRecord)
    },
  },
}
</script>
