<template>
  <crud
    ref="crud"
    :fields="fields"
    :row-data-key="modelName"
    :current-prot-id="protocolId"
    :modelValue="modelValue"
    :collection-survey-flag="multipleObs"
    :submitBtnLabel="`Save ${title}`"
    :addBtnLabel="`Add ${title}`"
    :conditional-fields="conditionalFields"
    :conditional-field-callback="conditionalFieldsCallback"
    @update:modelValue="
      (e) => {
        $emit('update:modelValue', e)
      }
    "
  />
</template>
<script>
import {
  asyncCrud,
  createDependentFieldCallback,
  makeModelConfig,
} from 'src/misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { ref, inject } from 'vue'
import isEqual from 'lodash/isEqual'
export default {
  inject: ['doc'],
  components: {
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      required: true,
    },
  },
  setup(props) {
    const { protocolInformation } = useApiModelsStore()
    const protocolInfo = protocolInformation({ protId: props.protocolId })
    const multipleObs =
      protocolInfo.workflow.find((model) => model.modelName === props.modelName)
        ?.multiple || false
    const doc = inject('doc')?.value
    const { fields, title } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    // key fields that will be used to show other fields
    const keyFields = {
      'microrelief-observation': 'microrelief_type',
      'erosion-observation': 'erosion_state',
      'surface-coarse-fragments-observation': 'coarse_fragments_abundance',
      'rock-outcrop-observation': 'rock_outcrop_abundance',
    }
    const keyField = keyFields[props.modelName]
    // hide all conditional fields except the key field
    Object.keys(fields).forEach((field) => {
      if (field === keyField) return
      fields[field].hidden = true
    })

    function showHideConditionalFields({ newVal, oldVal, inputDefs }) {
      const keyFieldValue = newVal[keyField]?.value || newVal[keyField]
      if (isEqual(newVal, oldVal)) return
      inputDefs.forEach((inputDef) => {
        if (inputDef.model === keyField) return
        inputDef.hidden =
          keyFieldValue === 'Z' || keyFieldValue === '0' || !keyFieldValue
        if (inputDef.hidden) {
          delete newVal[inputDef.model]
        }
      })

      // handle microrelief step
      updateMicroreliefFieldFromType(newVal, inputDefs)
      // handle erosion step
      updateErosionFieldFromType(newVal, inputDefs)

      return newVal
    }
    function updateMicroreliefFieldFromType(newVal, inputDefs) {
      if (props.modelName !== 'microrelief-observation') return
      const microreliefType =
        newVal.microrelief_type?.value || newVal.microrelief_type

      const gilgaiSymbols = ['C', 'N', 'L', 'A', 'M', 'G']
      // conditional field for any type in gilgaiSymbols
      const gilgaiProportionField = inputDefs.find(
        ({ model }) => model === 'gilgai_proportion',
      )
      gilgaiProportionField.hidden = !gilgaiSymbols.includes(microreliefType)

      // conditional fields for B type
      const bioticAgent = inputDefs.find(
        ({ model }) => model === 'biotic_relief_agent',
      )
      const reliefComponent = inputDefs.find(
        ({ model }) => model === 'microrelief_component',
      )
      bioticAgent.hidden = microreliefType !== 'B'
      reliefComponent.hidden = microreliefType !== 'B'
      inputDefs.forEach((inputDef) => {
        if (inputDef.hidden) delete newVal[inputDef.model]
      })
    }
    function updateErosionFieldFromType(newVal, inputDefs) {
      if (props.modelName !== 'erosion-observation') return
      const erosionType = newVal.erosion_type?.value || newVal.erosion_type
      const types = {
        G: 'gully_water_erosion_degree',
        M: 'mass_movement_erosion_degree',
        R: 'rill_water_erosion_degree',
        C: 'scald_erosion_degree',
        S: 'sheet_water_erosion_degree',
        B: 'stream_bank_water_erosion_degree',
        T: 'tunnel_water_erosion_degree',
        V: 'wave_water_erosion_degree',
        W: 'wind_erosion_degree',
      }
      inputDefs.forEach((inputDef) => {
        if (inputDef.model === keyField || inputDef.model === 'erosion_type')
          return
        inputDef.hidden = inputDef.model !== types[erosionType]
      })
    }

    const crud = ref(null)
    async function onSubmitFunc() {
      // if (multipleObs && !props.modelValue?.length) return false
      if (!multipleObs) {
        return await crud.value.onSubmitFunc()
      } else return true
    }
    return {
      multipleObs,
      title,
      fields: ref(fields),
      onSubmitFunc,
      crud,
      conditionalFields: ref([
        {
          field: keyField,
          fieldCb: showHideConditionalFields,
        },
      ]),
      conditionalFieldsCallback: ref(createDependentFieldCallback()),
    }
  },
}
</script>
