<template>
  <div class="q-pb-md q-pt-sm">
    <div class="row justify-center q-pb-sm textSize">
      Select Target Species *
    </div>
    <div class="row justify-center">
      <div class="q-pb-lg" style="text-align: left; width: 100%">
        Hint: Select the target species for this project, multiple species may
        be selected. If the target species is not listed then it may be added.
        If there are no target species for this project, select not applicable.
        Observations may still be attributed to species not selected here
      </div>
    </div>

    <div class="flex items-center q-gutter-sm q-pl-sm">
      <div
        v-for="(n, index) in Object.keys(species)"
        :key="index"
      >
        <q-btn
          :color="selected?.includes(n) ? 'secondary' : ''"
          :flat="isButtonFlat(n)"
          @click="selectSpecies(n)"
          :data-cy="`${n}_btn`"
        >
          <div class="justify-center ">
            <img
              v-if="images[`./${n}.jpg`]"
              style="width: 93px; height: auto"
              alt=""
              :src="darkMode ? images[`./${n}_dark.jpg`] : images[`./${n}.jpg`]"
            />
            <div class="name">{{ species[n] }}</div>
          </div>
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  mounted() {
    const requireContext = require.context(
      '../assets/PestSpecies/',
      false,
      /.jpg$/,
    )
    requireContext.keys().forEach((path) => {
      this.images[path] = requireContext(path)
    })
  },
  data() {
    const species = {
      G: 'Goat',
      P: 'Pig',
      CM: 'Camel',
      D: 'Deer',
      H: 'Horse',
      WD: 'Wild Dog',
      F: 'Fox',
      CA: 'Cat',
      R: 'Rabbit',
      O: 'Other',
      NA: 'N/A',
    }
    return {
      images: {},
      darkMode: this.$q.dark.mode,
      species,
      selected: this.modelValue?.target_species?.map((o) => o.lut) || [],
    }
  },
  watch: {
    modelValue(newValue) {
      if (newValue && newValue.target_species) {
        this.selected = newValue?.target_species?.map((o) => o.lut) || []
      } else {
        this.selected = []
      }
    },
  },
  methods: {
    selectSpecies(n) {
      if (this.selected?.includes(n)) {
        this.selected = this.selected.filter((species) => species !== n)
      } else {
        this.selected = [...this.selected, n]
      }
      const res = this.selected.map((item) => ({ lut: item }))
      this.$emit('update:modelValue', res)
    },
    isButtonFlat(n) {
      return !this.selected?.includes(n)
    },
  },
}
</script>
<style scoped>
.textSize {
  font-size: 2em;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px) {
  .textSize {
    font-size: 1.8em;
  }
  .name {
    font-size: 1em;
    line-height: 1em;
  }
}
</style>
