<template lang="">
  <div>
    <div
      v-if="transectType || observationArray.length > 0"
      class="flex items-center"
    >
      <div v-for="(n, index) in newSpeciesList" :key="index">
        <q-btn
          :data-cy="n"
          :color="selected.includes(n) ? 'primary' : ''"
          :flat="isButtonFlat(n)"
          @click="selectSpecies(n)"
        >
          <div class="q-gutter-md">
            <img
              v-if="images[`./${n}.jpg`] !== undefined"
              :style="
                isMobileDevice
                  ? 'width: 80px; height: auto'
                  : 'width: 93px; height: auto'
              "
              alt=""
              class="row justify-center items-center"
              :src="darkMode ? images[`./${n}_dark.jpg`] : images[`./${n}.jpg`]"
            />
            <div class="name">
              {{ speciesMap[n] }}
            </div>
          </div>
        </q-btn>
      </div>
    </div>
    <div v-if="otherSpecies.length > 0" class="flex items-center">
      <div v-for="n in getOtherSpeciesName" :key="n" class="q-pt-sm">
        <q-btn
          :data-cy="
            n.indexOf(' ') >= 0
              ? n
                  .replace(/\s(.)/g, function (match, group) {
                    return group.toUpperCase()
                  })
                  .replace(/\s/g, '')
              : n
          "
          :color="selected.includes(n) ? 'primary' : ''"
          :flat="isButtonFlat(n)"
          @click="selectOtherSpecies(n)"
          class="full-width q-pt-md"
        >
          <div class="justify-center">
            <img
              style="
                max-width: 100px;
                max-height: 120px;
                width: 100%;
                height: 100%;
              "
              alt=""
              :src="
                darkMode
                  ? images[`./other species_dark.jpg`]
                  : images[`./other species.jpg`]
              "
            />
            <div class="name">
              {{ n }}
            </div>
          </div>
        </q-btn>
      </div>
    </div>
    <q-dialog v-model="dialog" persistent>
      <q-card class="q-px-lg">
        <q-toolbar class="q-px-lg q-pt-lg">
          <q-toolbar-title>
            <span class="text-weight-bold size row justify-center">
              {{
                speciesMap[currentSpecies]
                  ? speciesMap[currentSpecies]
                  : 'Other: ' + currentOtherSpecies
              }}
            </span>
          </q-toolbar-title>
        </q-toolbar>
        <q-card-section v-if="speciesMap[currentSpecies] === 'Other'">
          <CSVSelect
            data-cy="Other"
            v-model="newOtherSpecies"
            :config="config.modelConfig.fields.other_species"
          />
        </q-card-section>
        <q-card-section v-if="transectType === 'LT'" class="q-py-none">
          <div
            class="row justify-center size q-py-md"
            data-cy="distanceCategory"
          >
            Distance Category
          </div>
          <div class="row justify-between size q-pt-md">
            <div v-for="n in 5" :key="n" class="q-px-md">
              <q-btn
                :data-cy="'category' + n"
                :outline="selectedCategory == n ? false : true"
                :label="n"
                :color="selectedCategory == n ? 'primary' : ''"
                @click="selectCategory(n)"
                style="margin-bottom: 10px"
              />
            </div>
          </div>
        </q-card-section>
        <q-card-section class="q-py-none">
          <q-select
            v-if="
              speciesMap[currentSpecies] === 'Deer' ||
              speciesMap[currentSpecies] === 'Wild Dog'
            "
            :data-cy="currentSpecies"
            clearable
            v-model="selectedSpecies"
            use-input
            fill-input
            hide-selected
            :options="options"
            :label="'Select ' + speciesMap[currentSpecies]"
            hide-bottom-space
          />
        </q-card-section>
        <q-card-section class="q-px-none q-py-none">
          <div class="row justify-center">
            <q-input
              style="width: 93%"
              label="Comment"
              v-model="comment"
              data-cy="comment"
              counter
            />
          </div>
          <div class="row justify-center q-pb-lg q-pt-md size">
            Count <span v-if="numValue">: {{ numValue }}</span>
          </div>
          <div class="col">
            <div class="row q-col-gutter-lg">
              <div
                class="row col-4 justify-center q-py-md"
                v-for="(n, index) in 9"
                :key="index"
              >
                <q-btn
                  :data-cy="n"
                  :class="isMobileDevice ? 'q-px-md' : 'q-px-xl'"
                  @click="enterNum(n)"
                  outline
                  :label="n"
                />
              </div>
              <div
                class="row col-4 justify-center q-pb-sm"
                v-for="(n, index) in bottomLine"
                :key="index"
              >
                <q-btn
                  :data-cy="n"
                  :class="isMobileDevice ? 'q-px-md' : 'q-px-xl'"
                  outline
                  :label="n"
                  @click="handleBottomLine(n)"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="center" class="q-py-md">
          <q-btn
            @click="emptyDialog"
            flat
            dense
            color="secondary"
            label="back"
            v-close-popup
          ></q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <div class="q-pt-md">
      <q-markup-table
        v-if="observationArray.length !== 0"
        style="width: 100%"
        dense
      >
        <caption class="q-py-sm text-h6">
          Observed species summary
        </caption>
        <thead class="thead">
          <tr>
            <th>Species</th>
            <th>Count</th>
            <th v-if="transectType === 'LT'">Category</th>
            <th>Comment</th>
            <th id="colName">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in observationArray" :key="index">
            <td>{{ speciesLabel(item) }}</td>
            <td>{{ item.count }}</td>
            <td v-if="transectType === 'LT'">{{ item.category }}</td>
            <td>{{ item.comment }}</td>
            <td>
              <q-btn
                color="negative"
                icon="delete"
                no-caps
                flat
                dense
                @click="removeObservation(index)"
              />
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
  </div>
</template>
<script>
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from 'src/stores/apiModels'
import { notifyHandler } from '../misc/helpers'
import { useEphemeralStore } from 'src/stores/ephemeral'
import CSVSelect from './CSVSelect.vue'

export default {
  components: {
    CSVSelect,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    transect_ID: {
      type: String,
    },
    config: {
      required: false,
    },
    csv: {
      required: false,
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()
    const images = {}
    const requireContext = require.context(
      '../assets/PestSpecies/',
      false,
      /.jpg$/,
    )
    requireContext.keys().forEach((path) => {
      images[path] = requireContext(path)
    })

    const { cachedModel } = useApiModelsStore()

    return {
      bulkStore,
      ephemeralStore,
      images,
      cachedModel,
    }
  },
  data() {
    let selected
    const sentSetupSurvey =
      this.cachedModel({
        modelName: 'aerial-setup-desktop',
      }) || []

    const selectedSetupId = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })['aerial-survey'].setup_ID

    const selectedSetup = sentSetupSurvey.find((o) => o.id === selectedSetupId)

    const speciesMap = {
      G: 'Goat',
      P: 'Pig',
      CM: 'Camel',
      D: 'Deer',
      H: 'Horse',
      WD: 'Wild Dog',
      F: 'Fox',
      CA: 'Cat',
      R: 'Rabbit',
      O: 'Other',
      NA: 'N/A',
    }

    const availableSpecies = selectedSetup.target_species.map(
      (o) => o.lut.symbol,
    )
    const species = ['G', 'P', 'CM', 'D', 'H', 'WD', 'F', 'CA', 'R', 'O', 'NA']
    const non_selected_species = species.filter(
      (o) => !availableSpecies?.includes(o),
    )
    const newSpeciesList = availableSpecies?.concat(non_selected_species)
    const selectedCategory = null
    return {
      species,
      newSpeciesList,
      non_selected_species,
      darkMode: this.$q.dark.mode,
      speciesMap,
      transectType: null,
      selectedCategory,
      selected,
      selectedSetup,
      num: '',
      dialog: false,
      bottomLine: ['clear', '0', 'enter'],
      currentSpecies: null,
      currentOtherSpecies: null,
      comment: null,
      observationArray: this.modelValue || [],
      selectedSpecies: null,
      options: [],
      otherSpeciesEmit: [],
      speciesEmit: [],
      newOtherSpecies: null,
    }
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    otherSpecies() {
      let res = []
      if (
        this.selectedSetup?.target_species.some(
          (item) => item.lut.symbol === 'O',
        )
      ) {
        res = this.selectedSetup.other_species.map((item) => item.other_species)
      }
      return res
    },
    getOtherSpeciesName() {
      return this.otherSpecies.map((item) => {
        const startIndex = item.indexOf('(scientific:')
        if (startIndex !== -1) {
          return item.substring(0, startIndex).trim()
        } else {
          return item
        }
      })
    },
    numValue() {
      return this.num
    },
  },
  methods: {
    removeUndefinedKeyValues(objArray) {
      return objArray.map((obj) => {
        let newObj = {}
        for (let key in obj) {
          if (obj[key] !== undefined) {
            newObj[key] = obj[key]
          }
        }
        return newObj
      })
    },
    speciesLabel(item) {
      if (item.species === 'D' || item.species === 'WD') {
        return (
          this.speciesMap[item.species] +
          ' - ' +
          item[this.speciesMap[item.species]?.toLowerCase().replace(/ /g, '_')]
        )
      } else if (item.species === 'O') {
        if (item.other_species) {
          const scientificIndex = item.other_species?.indexOf('(scientific:')
          return (
            this.speciesMap[item.species] +
            ' - ' +
            (scientificIndex !== -1
              ? item.other_species.substring(0, scientificIndex).trim()
              : item.other_species)
          )
        } else {
          return this.speciesMap[item.species] + ' - ' + item.other_species
        }
      } else if (item.other_species) {
        const scientificIndex = item.other_species?.indexOf('(scientific:')
        return scientificIndex !== -1
          ? item.other_species.substring(0, scientificIndex).trim()
          : item.other_species
      } else {
        return this.speciesMap[item.species]
      }
    },
    selectOtherSpecies(n) {
      this.currentOtherSpecies = n
      this.selected = [...this.selected]
      this.dialog = true
    },
    emptyDialog() {
      this.num = ''
      this.selectedCategory = ''
    },
    enterNum(n) {
      this.num += n
    },
    selectSpecies(n) {
      this.currentSpecies = n
      this.dialog = true
      this.selected = [...this.selected]
      let option
      if (n === 'D') {
        option = 'lut-deer-pest'
      } else if (n === 'WD') {
        option = 'lut-pest-wild-dog'
      }
      this.options = this.cachedModel({
        modelName: option,
      })
    },
    isButtonFlat(n) {
      return !this.selected.includes(n)
    },
    removeObservation(index) {
      this.observationArray.splice(index, 1)
      this.observationArray = [...this.observationArray]
      this.$emit('update:modelValue', this.observationArray)
    },
    handleBottomLine(n) {
      let observation = {}
      if (n === 'clear') {
        observation.count = ''
        this.num = ''
        return
      }
      if (n !== 'enter') {
        this.num += n
        return
      }
      if (
        (!this.num || typeof this.selectedCategory !== 'number') &&
        this.transectType === 'LT'
      ) {
        notifyHandler('warning', 'Please enter both count and category')
        return
      }
      if (this.currentSpecies) {
        observation.species = this.currentSpecies
      }
      if (this.currentOtherSpecies) {
        observation.other_species = this.otherSpecies.find((item) =>
          item.includes(this.currentOtherSpecies),
        )
      }
      observation.count = Number(this.num)
      if (this.comment !== null) {
        observation.comment = this.comment
      }
      if (['D', 'WD', 'O'].includes(this.currentSpecies)) {
        if (this.newOtherSpecies) {
          observation.other_species = this.newOtherSpecies.value
        }
        observation[
          this.speciesMap[this.currentSpecies].toLowerCase().replace(/ /g, '_')
        ] = this.selectedSpecies.symbol
      }
      if (this.transectType === 'LT') {
        observation.category = this.selectedCategory
      }
      this.num = ''
      this.selectedCategory = ''
      if (!this.observationArray) {
        this.observationArray = []
      }
      if (this.currentSpecies) {
        this.speciesEmit.push(observation)
      } else {
        this.otherSpeciesEmit.push(observation)
        this.currentOtherSpecies = n
        this.dialog = true
      }
      this.observationArray = this.speciesEmit.concat(this.otherSpeciesEmit)
      this.$emit(
        'update:modelValue',
        this.removeUndefinedKeyValues(this.observationArray),
      )
      this.dialog = false
      this.currentSpecies = null
      this.newOtherSpecies = null
    },
    selectCategory(n) {
      this.selectedCategory = n
    },
  },
  watch: {
    dialog(oldVal) {
      if (oldVal) {
        this.comment = null
        this.selectedSpecies = ''
      }
    },
    modelValue: {
      handler(newValue) {
        if (newValue) {
          const result = newValue.map((item) => {
            if (item.species) {
              return item.species
            } else if (item.other_species && item.species === 'O') {
              return 'O'
            } else if (item.other_species) {
              const startIndex = item.other_species.indexOf('(scientific:')
              if (startIndex !== -1) {
                return item.other_species.substring(0, startIndex).trim()
              } else {
                return item.other_species
              }
            }
          })
          this.selected = [...new Set(result)]
        } else {
          this.selected = []
        }
      },
      immediate: true,
    },
    transect_ID: {
      handler(newVal) {
        const res = this.selectedSetup.transects.find(
          (o) => o.transect_ID === newVal,
        )
        this.transectType = res.survey_type.symbol
      },
      deep: true,
      immediate: true,
    },
  },
}
</script>
<style scoped>
.size {
  font-size: 1rem;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .size {
    font-size: 1.5rem;
  }

  .name {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
</style>
