<template>
  <div class="q-pa-sm">
    <div class="title q-pb-md">
      Categories And Distance
      <q-icon name="help" @mouseover="showPopup" @mouseleave="hidePopup" />
    </div>
    <div v-show="isHovered" class="q-pb-sm">
      You can modify the categories to suit the survey requirement.
    </div>

    <q-list padding>
      <q-item v-for="(item, index) in category" :key="item.label">
        <q-item-section side> Category {{ index + 1 }} </q-item-section>
        <q-item-section>
          <q-item-label>
            <q-input
              :data-cy="'category' + (index + 1)"
              standout
              v-model="category[index]"
            />
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { watch, ref, computed } from 'vue'

export default {
  props: {
    modelValue: {
      type: Object,
      default: () => {},
    },
  },

  setup(props, { emit }) {
    const category = ref([
      'Default distance: 0-20',
      'Default distance: 21-40',
      'Default distance: 41-60',
      'Default distance: 61-80',
      'Default distance: 81-100',
      'Default distance: > 100',
    ])
    const saveInfo = computed({
      get: () => {
        return props.modelValue
      },
    })

    watch(
      saveInfo,
      () => {
        if (props.modelValue?.distance_category) {
          const regex = /Category\s[1-6]:\s*(.*?)(?=Category\s|$)/g
          category.value = props.modelValue.distance_category
            .match(regex)
            .map((match) => match.trim().replace(/^[^:]+:\s*/, ''))
        }
      },
      { deep: true, immediate: true },
    )

    watch(
      category,
      (newVal) => {
        let result = ''
        for (let i = 0; i < newVal.length; i++) {
          result += `Category ${i + 1}: ${newVal[i]}  `
        }
        emit('update:modelValue', result)
      },
      { deep: true, immediate: true },
    )

    return { category }
  },
  data() {
    return {
      isHovered: false,
    }
  },
  methods: {
    showPopup() {
      this.isHovered = true
    },
    hidePopup() {
      this.isHovered = false
    },
  },
}
</script>
<style scoped>
.title {
  font-size: 2em;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px) {
  .title {
    font-size: 1.3em;
  }
  .q-item {
    padding: 8px 0;
  }
}
</style>
