<template>
  <div>
    <div class="q-pa-md">
      <q-banner rounded class="bg-orange text-black">
        Before undertaking a field survey, ensure the setup has been queued and
        synced as setup is a desktop activity. All devices used to collect
        Monitor data must have done 'PREPARE FOR OFFLINE...'
      </q-banner>
    </div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfigs.fields"
      submit-btn-label="Save Record"
      add-btn-label="Add Another"
      :row-data-key="modelConfigs.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="modelConfigs.currentProtId"
      :modelValue="modelValue"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :collection-survey-flag="false"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
          selectType(e['create_setup_or_survey'])
        }
      "
    />
  </div>
</template>
<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'

import {
  asyncCrud,
  createDependentFieldCallback,
  makeModelConfig,
} from '../misc/helpers'
export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
    rowDataKey: {
      required: false,
    },
  },

  setup() {
    const bulkStore = useBulkStore()
    const { cachedModel } = useApiModelsStore()

    return {
      cachedModel,
      bulkStore,
    }
  },

  data() {
    const modelConfigs = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )
    const sentSurveySetup =
      this.cachedModel({ modelName: 'aerial-setup-desktop' }) || []

    if (!sentSurveySetup?.length) {
      modelConfigs.fields.create_setup_or_survey.optionsFilter = (o) => {
        if (o.symbol === 'Setup') {
          return o
        }
      }
    }
    modelConfigs.fields.create_setup_or_survey.default = 'Setup'
    modelConfigs.fields.setup_ID = {
      type: 'select',
      label: 'Setup ID',
      prefer_dropdown: true,
      options: sentSurveySetup.map((o) => ({
        label: o.survey_id,
        value: o.id,
      })),
    }
    modelConfigs.fields.setup_ID.hidden = true
    const conditionalFields = [
      {
        field: 'setup_ID',
        dependsOn: 'create_setup_or_survey',
        dependsOnSelection: ['Survey'],
        fieldCb: this.cb,
      },
    ]
    const label = modelConfigs.fields.setup_ID.label
    return {
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      modelConfigs,
      label,
    }
  },

  mounted() {
    this.$emit('setStepVisibility', [
      {
        model: 'aerial-setup-desktop',
        hide: true,
      },
      {
        model: 'aerial-observation',
        hide: true,
      },
    ])
  },
  methods: {
    cb(e) {
      if (
        e.newVal.create_setup_or_survey === 'Survey' ||
        e.newVal.create_setup_or_survey?.value === 'Survey'
      ) {
        this.modelConfigs.fields.setup_ID.hidden = false
        this.modelConfigs.fields.setup_ID.rules.push(
          (value) =>
            (value !== undefined && value !== null && value !== '') ||
            `This field is required`,
        )
        this.modelConfigs.fields.setup_ID.label = this.label + ' *'
      } else {
        this.modelConfigs.fields.setup_ID.rules = []
        this.modelConfigs.fields.setup_ID.hidden = true
      }
    },
    getSurveyIds(data) {
      if (data.length > 0) {
        const surveyIds = []
        for (const item of data) {
          if (item['aerial-setup-desktop']) {
            surveyIds.push(item['aerial-setup-desktop']['survey_id'])
          }
        }
        return surveyIds
      }
    },
    selectType(val) {
      if (val === 'Setup') {
        this.$emit('setStepVisibility', {
          model: 'aerial-setup-desktop',
          hide: false,
        })
      } else if (val === 'Survey') {
        this.$emit('setStepVisibility', {
          model: 'aerial-observation',
          hide: false,
        })
      }
      return null
    },
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>
