<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      submit-btn-label="Save Record"
      add-btn-label="Add Another"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="localRecord"
      :collection-survey-flag="false"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>
<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from '../stores/bulk'
import { date } from 'quasar'
import { isEqual } from 'lodash'
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  createDependentFieldConfig,
} from '../misc/helpers'

export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      required: false,
      default: () => {},
    },
    userCoords: {
      type: Object,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: false,
    },
  },
  mounted() {
    delete this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })['aerial-observation']
  },
  watch: {
    modelValue(val) {
      this.localRecord = val
      this.clearSpeciesIfNotPresent('deer', 'D', this.localRecord)
      this.clearSpeciesIfNotPresent('wild_dog', 'WD', this.localRecord)
      this.clearSpeciesIfNotPresent('other_species', 'O', this.localRecord)
      for (const key in this.localRecord) {
        if (this.localRecord[key] === null) {
          delete this.localRecord[key]
        }
      }
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()

    return {
      bulkStore,
      apiModelsStore,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )
    modelConfig.fields.target_species.type = 'target_species_pest'
    modelConfig.fields.wild_dog.hidden = true
    modelConfig.fields.deer.hidden = true
    modelConfig.fields.other_species.hidden = true
    modelConfig.fields.transects.modelConfig.fields.fixed_width.hidden = true
    modelConfig.fields.transects.modelConfig.fields.distance_category.hidden = true
    modelConfig.fields.transects.modelConfig.fields.distance_category.type =
      'distance_category'
    modelConfig.fields.survey_id.default = this.idGen()

    modelConfig.fields.status_of_helicopter_doors.hidden = true
    const confCtInfoAircraftType = modelConfig.fields.aircraft_type
    let confCtInfoAircraftModel = modelConfig.fields.aircraft_model
    confCtInfoAircraftType.prefer_dropdown = true
    createDependentFieldConfig(
      confCtInfoAircraftModel,
      confCtInfoAircraftType.optionsKey,
      'aircraft_type',
      'aircraft_type',
      true,
      this.apiModelsStore,
    )

    const conditionalFields = [
      {
        field: 'target_species',
        fieldCb: this.cb,
      },
      {
        field: 'status_of_helicopter_doors',
        dependsOn: 'aircraft_type',
        dependsOnSelection: ['Helicopter'],
      },
      {
        field: 'aircraft_model',
        dependsOn: 'aircraft_type',
      },
      {
        field: 'fixed_width',
        dependsOn: 'survey_type',
        dependsOnSelection: ['ST'],
      },
      {
        field: 'distance_category',
        dependsOn: 'survey_type',
        dependsOnSelection: ['LT'],
      },
      {
        field: 'transect_ID',
        fieldCb: this.IDcb,
      },
    ]
    return {
      modelConfig,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      localRecord: {},
    }
  },
  methods: {
    idGen() {
      const words = this.rowDataKey.split('-')
      let acronym = ''

      for (let i = 0; i < words.length; i++) {
        const word = words[i]
        if (word.toLowerCase() !== 'survey') {
          acronym += word[0].toUpperCase()
        }
      }

      return acronym + date.formatDate(Date.now(), 'HHmmss-DDMMYYYY')
    },
    clearSpeciesIfNotPresent(speciesKey, lutValue, localRecord) {
      if (
        !localRecord?.target_species?.some((item) => item.lut === lutValue) &&
        localRecord?.[speciesKey]
      ) {
        localRecord[speciesKey] = null
      }
    },
    cb({ newVal, oldVal }) {
      if (isEqual(newVal, oldVal)) return
      if (newVal && newVal.target_species) {
        this.modelConfig.fields.deer.hidden = newVal.target_species.find(
          (o) => o.lut === 'D',
        )
          ? false
          : true
        this.modelConfig.fields.wild_dog.hidden = newVal.target_species.find(
          (o) => o.lut === 'WD',
        )
          ? false
          : true
        this.modelConfig.fields.other_species.hidden =
          newVal.target_species.find((o) => o.lut === 'O') ? false : true
      }
    },
    IDcb({ newVal, oldVal }) {
      let updatedModelValue = null
      if (!isEqual(newVal, oldVal) && !newVal?.transect_ID) {
        updatedModelValue = structuredClone(newVal)
        const words = this.rowDataKey.split('-')
        let acronym = ''
        for (let i = 0; i < words.length; i++) {
          const word = words[i]
          if (word.toLowerCase() !== 'survey') {
            acronym += word[0].toUpperCase()
          }
        }
        updatedModelValue.transect_ID =
          acronym + date.formatDate(Date.now(), 'HHmmss-DDMMYYYY')
      }
      return updatedModelValue
    },
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>
<style scoped>
.id {
  font-size: 1rem;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .id {
    font-size: 1.5rem;
  }
}
</style>
