<!-- This is wrapper for quasar q-img to load the image from dexie from its uuid -->
<!-- It can also be used as a normal q-img or with normal img tag with 'native' prop set to 'true' -->
<template>
  <div v-if="!resolvedSrc">
    <q-spinner />
  </div>
  <q-video v-else :src="resolvedSrc" @load="loadHandler" />
</template>

<script>
import { binary } from 'src/misc/binary'
import { validate as isUuid } from 'uuid'
export default {
  props: {
    src: {
      required: true,
    },
  },
  data() {
    return {
      resolvedSrc: null,
      type: null,
    }
  },
  async mounted() {
    await this.setSrc()
  },
  methods: {
    async setSrc() {
      if (this.src instanceof Blob) {
        this.resolvedSrc = URL.createObjectURL(this.src)
      } else if (isUuid(this.src)) {
        const url = await binary.getBinaryInUrl(this.src)
        this.resolvedSrc = url
      } else {
        this.resolvedSrc = this.src
      }
    },
    loadHandler() {
      URL.revokeObjectURL(this.resolvedSrc)
    },
  },
  watch: {
    src() {
      this.setSrc()
    },
  },
}
</script>
