<!-- This is wrapper for quasar q-img to load the image from dexie from its uuid -->
<!-- It can also be used as a normal q-img or with normal img tag with 'native' prop set to 'true' -->
<template>
  <div v-if="!resolvedSrc">
    <q-spinner />
  </div>
  <template v-else>
    <audio controls class="previewAudio" @loadeddata="loadHandler">
      <source
        :src="resolvedSrc"
        :type="type"
      />
    </audio>
  </template>
</template>

<script>
import { binary } from 'src/misc/binary'
import { validate as isUuid } from 'uuid'
export default {
  props: {
    audio: {
      required: true,
    },
  },
  data() {
    return {
      resolvedSrc: null,
      type: null,
    }
  },
  async mounted() {
    await this.setSrc()
  },
  methods: {
    async setSrc() {
      const src = this.audio.src || this.audio.media || this.audio
      if (src instanceof Blob) {
        this.resolvedSrc = URL.createObjectURL(src)
      } else if (isUuid(src)) {
        const url = await binary.getBinaryInUrl(src)
        this.resolvedSrc = url
      } else {
        this.resolvedSrc = src
      }
      this.type = this.audio?.mimeType || this.audio?.src?.type || 'audio/aac'
    },
  },
  watch: {
    src() {
      this.setSrc()
    },
  },
}
</script>
