<!-- This is wrapper for quasar q-img to load the image from dexie from its uuid -->
<!-- It can also be used as a normal q-img or with normal img tag with 'native' prop set to 'true' -->
<template>
  <div v-if="!resolvedSrc">
    <q-spinner />
  </div>
  <template v-else>
    <img v-if="native" v-bind="$attrs" :src="resolvedSrc" />
    <q-img v-else v-bind="$attrs" :src="resolvedSrc" @load="loadHandler">
      <template v-for="(index, name) in $slots" :key="index" #[name]>
        <slot :name="name" />
      </template>
    </q-img>
  </template>
</template>

<script>
import { binary } from 'src/misc/binary'
import { validate as isUuid } from 'uuid'
export default {
  props: {
    src: {
      required: true,
    },
    native: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      resolvedSrc: null,
    }
  },
  mounted() {
    // don't need to await as we don't want to block the UI
    this.setSrc()
  },
  methods: {
    async setSrc() {
      if (this.src instanceof Blob) {
        this.resolvedSrc = URL.createObjectURL(this.src)
      } else if (isUuid(this.src)) {
        const url = await binary.getBinaryInUrl(this.src)
        this.resolvedSrc = url
      } else {
        this.resolvedSrc = this.src
      }
    },
    loadHandler(e) {
      // free up the space after the image loaded
      URL.revokeObjectURL(e)
    },
  },
  watch: {
    src() {
      this.setSrc()
    },
  },
}
</script>
