<template>
  <div>
    <q-select
      class="q-pt-md"
      v-model="selectedSpecies"
      :options="options"
      clearable
      map-options
      emit-value
      lazy-rules
      :rules="attributableSpeciesField.rules"
      :label="title"
      data-cy="attributable_fauna_species"
      :hint="attributableSpeciesField.hint"
      hide-bottom-space
    >
      <template #after>
        <InfoButtonForInputs
          v-if="attributableSpeciesField.description"
          :fileName="attributableSpeciesField.description"
          fieldName="attributable_fauna_species"
          :mode="'help'"
        />
        <InfoButtonForInputs
          :config="attributableSpeciesField"
          :mode="'info'"
        />
      </template>
    </q-select>
    <CSVSelect
      v-if="selectedSpecies === 'O'"
      v-model="otherSpecies"
      :config="otherSpeciesField"
      data-cy="other_attributable_species"
    />
  </div>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import { useEphemeralStore } from 'src/stores/ephemeral'
import InfoButtonForInputs from './InfoButtonForInputs.vue'
import { useApiModelsStore } from 'src/stores/apiModels'
import cloneDeep from 'lodash/cloneDeep'
import CSVSelect from './CSVSelect.vue'
export default {
  components: { InfoButtonForInputs, CSVSelect },
  props: ['modelValue', 'fields', 'protocolId', 'getOptions', 'title'],
  setup() {
    const { collectionGetForProt } = useBulkStore()
    const { selectedTransect } = useEphemeralStore()
    const { resolvedLutSymbol } = useApiModelsStore()

    return {
      collectionGetForProt,
      selectedTransect,
      resolvedLutSymbol,
    }
  },
  data() {
    const attributableSpeciesField = this.fields['attributable_fauna_species']
    const collectionData = this.collectionGetForProt({
      protId: this.protocolId,
    })
    const surveySetupData = Object.values(collectionData).find(
      (stepData) => stepData?.target_species || stepData[0]?.target_species,
    )

    let selectedSurveyData
    if (Array.isArray(surveySetupData)) {
      selectedSurveyData = surveySetupData.find((site) => {
        const id =
          site.transect_setup_ID ||
          site.station_setup_ID ||
          site.select_transect ||
          site.select_vantage_point_ID
        return id === this.selectedTransect
      })
    } else selectedSurveyData = surveySetupData

    // default options for attributable fauna species
    const defaultOptions = this.getOptions(attributableSpeciesField)
    const otherSpecies =
      selectedSurveyData?.other_target_species?.map(({ other_species }) => ({
        value: other_species,
        label: other_species,
      })) || []

    // get specific dog and deer from survey setup
    const { target_wild_dog: targetDogSymbol, target_deer: targetDeerSymbol } =
      this.getTargetDeerAndDog(otherSpecies, selectedSurveyData)

    const options = defaultOptions.concat(otherSpecies)

    const otherSpeciesField = this.fields['other_attributable_species']
    return {
      attributableSpeciesField,
      defaultOptions,
      options,
      targetDogSymbol,
      targetDeerSymbol,
      otherSpeciesField,
      otherSpeciesOptions: [],
    }
  },
  computed: {
    selectedSpecies: {
      get() {
        const selectedSpecies = this.modelValue?.['attributable_fauna_species']
        let model
        // as we hide attributable dog and deer and only show attributable species
        // so it need to be resolve with target_dog and target_deer
        switch (selectedSpecies) {
          case 'WD':
            model = this.modelValue.attributable_wild_dog || selectedSpecies
            break

          case 'D':
            model = this.modelValue.attributable_deer || selectedSpecies
            break

          default:
            model = selectedSpecies
            break
        }
        return model
      },
      set(newVal) {
        let dataToEmit = cloneDeep(this.modelValue) || {}
        //update other fields based on selected value as attributable_deer and attributable_wild_dog are hidden
        switch (newVal) {
          case undefined:
          case '':
          case null:
            dataToEmit = null
            break

          case 'O':
            dataToEmit.attributable_deer = null
            dataToEmit.attributable_wild_dog = null
            dataToEmit['attributable_fauna_species'] = newVal
            break

          default: {
            if (this.targetDeerSymbol.includes(newVal)) {
              dataToEmit['attributable_fauna_species'] = 'D'
              dataToEmit.attributable_deer = newVal
              dataToEmit.attributable_wild_dog = null
              dataToEmit.other_attributable_species = null
            } else if (this.targetDogSymbol.includes(newVal)) {
              dataToEmit['attributable_fauna_species'] = 'WD'
              dataToEmit.attributable_deer = null
              dataToEmit.attributable_wild_dog = newVal
              dataToEmit.other_attributable_species = null
            } else {
              // check if the selected value is a lut or not
              const index = this.defaultOptions.findIndex(
                (option) => option.value === newVal,
              )
              if (index === -1) {
                dataToEmit.other_attributable_species = newVal
                dataToEmit['attributable_fauna_species'] = 'O'
              } else {
                dataToEmit['attributable_fauna_species'] = newVal
                dataToEmit.other_attributable_species = null
              }
              dataToEmit.attributable_deer = null
              dataToEmit.attributable_wild_dog = null
            }
            break
          }
        }
        console.log('==========',dataToEmit)
        this.$emit('update:modelValue', dataToEmit)
      },
    },
    otherSpecies: {
      get() {
        return this.modelValue.other_attributable_species
      },
      set(newVal) {
        const dataToEmit = cloneDeep(this.modelValue) || {}
        dataToEmit.other_attributable_species = newVal?.value || newVal
        this.$emit('update:modelValue', dataToEmit)
      },
    },
  },
  methods: {
    /**
     * get target dog and deer species and push to otherSpecies array
     * @param {*} otherSpecies array of other species include specific deer and wild dog
     * @param {*} selectedSurveyData
     * return { target_dog: targetDogSymbol, target_deer: targetDeerSymbol }
     */
    getTargetDeerAndDog(otherSpecies, selectedSurveyData) {
      //FIXME: shouldn't hardcode this
      const modelNames = {
        target_deer: 'lut-deer-pest',
        target_wild_dog: 'lut-pest-wild-dog',
      }
      const selectedSymbols = {
        target_deer: [],
        target_wild_dog: [],
      }

      for (const [field, modelName] of Object.entries(modelNames)) {
        const data = selectedSurveyData?.[field]
        if (!data?.length) continue
        data.forEach(({ lut }) => {
          const label = this.resolvedLutSymbol({
            symbol: lut,
            modelName,
            // suppressWarnings: true,
          })
          otherSpecies.push({
            value: lut,
            label,
          })
          selectedSymbols[field].push(lut)
        })
      }
      return selectedSymbols
    },
  },
}
</script>
