<!-- TODO reduce code duplication between this component and the video camera. We reuse a lot of
code here that often do the same or similar things -->
<template>
  <p v-if="audioDevices.length == 0" class="text-negative">
    No audio device detected.
  </p>
  <q-card flat>
    <h4 style="margin: 0 0 0.5em 0">
      Record {{ allowMultiple ? 'multiple' : 'single' }} audio
    </h4>
    <q-card-section class="row justify-center" v-show="audioRecords.length">
      <!-- display audio playback for each audio file recorded (will show 1 if doing single) -->
      <q-list bordered class="full-width">
        <q-scroll-area :visible="true" style="height: 200px">
          <q-item
            v-for="(record, index) of audioRecords"
            :id="`${record.file_identifier}`"
            :key="record.file_identifier"
            class="column"
          >
            <async-audio class="previewAudio" :audio="record" />
            <div class="col q-my-sm">
              <p class="mobile-hide" :data-cy="`commentPreview_${index}`">{{ record.comment }}</p>
              <q-btn
                icon="comment"
                class="q-mr-sm col"
                @click="toggleComment(allowMultiple ? record.file_identifier : null)"
                :data-cy="`comment_${index}`"
              />
              <q-btn
                icon="delete"
                class="col"
                @click="clearMedia(allowMultiple ? record.file_identifier : null)"
                data-cy="delete"
              />
            </div>
            <!-- comment dialog -->
            <q-dialog v-model="showComment" :persistent="!disableComment">
              <q-card class="comment">
                <q-card-section class="row items-center q-pb-none">
                  <div class="text-h6">Add/Edit Photo's Comment</div>
                  <q-space />
                  <q-btn
                    icon="close"
                    v-if="disableComment"
                    flat
                    round
                    dense
                    v-close-popup
                  />
                </q-card-section>
                <q-card-section class="q-pt-none">
                  <q-input
                    :data-cy="`addComment_${index}`"
                    autogrow
                    dense
                    v-model="audioComment"
                    ref="commentInput"
                    counter
                  />
                </q-card-section>
                <q-card-actions align="right" class="text-primary">
                  <q-btn
                    :data-cy="`saveComment_${index}`"
                    flat
                    label="Save"
                    @click="editComment(allowMultiple ? record.file_identifier : null)"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>
            <q-separator />
          </q-item>
        </q-scroll-area>
      </q-list>
    </q-card-section>

    <div class="column items-center">
      <q-toggle
        v-model="useFilePicker"
        label="Select Audio File From Device"
        class="row-12"
        data-cy="useFilePicker"
      />
      <q-spinner v-if="isLoading" color="primary" size="6em" class="q-pa-md" data-cy="isLoading" />
      <q-card
        v-if="!useFilePicker"
        bordered
        flat
        class="btn__container row q-pa-md"
      >
        <div class="col">
          <q-btn
            :disable="currentState === 'stop' || isSaving"
            ref="stopButton"
            :color="currentState === 'stop' ? 'grey' : 'red'"
            round
            data-cy="stopRecording"
            @click="stopRecording()"
          >
            <q-spinner v-if='isSaving' data-cy="isSaving"/>
            <q-icon v-else name="stop" />
          </q-btn>
        </div>
        <div class="col q-mx-md">
          <q-btn
            ref="startButton"
            :color="currentState === 'stop' ? 'red' : 'primary'"
            round
            :icon="startBtnLabel"
            data-cy="startRecording"
            :disable='isSaving'
            @click="startRecording"
          />
        </div>
        <div class="col">
          <q-chip
            color="red"
            text-color="white"
            class="q-pa-md"
            :label="timer"
          />
        </div>
      </q-card>
      <File
        v-else
        v-model="newRecord"
        :allow-multiple-files="allowMultiple"
        :file-type="`${allowMultiple ? 'multi_' : ''}audio`"
        :is-camera-child="true"
        class="row-12"
      />
    </div>
  </q-card>
</template>

<script>
import {
  notifyHandler,
  paratooErrorHandler,
  paratooWarnMessage,
} from '../misc/helpers'
import File from './File'
import AsyncAudio from './AsyncAudio.vue'
import { findIndex } from 'lodash'
import { VoiceRecorder } from 'capacitor-voice-recorder'
import { binary } from 'src/misc/binary'
import { downloadFile } from '../misc/helpers'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { isEmpty } from 'lodash'
import { cloneDeep } from 'lodash'

const recordingState = {
  STOP: 'stop',
  RECORDING: 'recording',
  PAUSE: 'pause',
}
export default {
  components: {
    File,
    AsyncAudio,
  },
  props: {
    allowMultiple: {
      type: Boolean,
      required: true,
    },
    modelValue: {
      type: [Array, Object],
      required: false,
      default: () => [],
    },
    allowComment: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  inject: {
    currRowDataKey: { from: 'currRowDataKey' },
    subModuleRowDataKey: { from: 'subModuleRowDataKey', default: undefined },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    return { ephemeralStore }
  },
  data() {
    const protocolId = this.$route.params['protocolId']
    return {
      protocolId,
      mediaStream: null,
      useFilePicker: false,
      currentState: recordingState.STOP,
      recorder: null,
      showComment: false,
      disableComment: false,
      // comment in payload need to be a string
      audioComment: '',
      // q-dialog doesn't receive scoped variable of an iteration in v-for loop
      tempAudioId: null,
      isLoading: false,
      timerInterval: null,
      timer: '00:00:00',
      audioDevices: [],
      isSaving: false
    }
  },
  async mounted() {
    this.isLoading = true
    await this.requestPermission()
    await this.checkAbilityToRecord()
    this.isLoading = false
  },
  async beforeUnmount() {
    if (this.currentState !== recordingState.STOP) {
      //if the recorder is already stopped, attempting to stop it again will throw error
      await VoiceRecorder.stopRecording()
    }
    clearInterval(this.timerInterval)
  },
  computed: {
    newRecord: {
      get() {
         if (!this.modelValue) return []

        if (Array.isArray(this.modelValue)) return this.modelValue
        else {
          return [this.modelValue]
        }
      },
      set(val) {
        if ((Array.isArray(val) && val.length < 1) || isEmpty(val)) {
          // don't save an empty object (when last photo removed)
          this.$emit('update:modelValue', undefined)
          return
        }
        if (this.allowMultiple && !Array.isArray(val)) {
          // multi files should return an array
          this.$emit('update:modelValue', [val])
          return
        }
        this.$emit('update:modelValue', val)
      },
    },
    audioRecords: {
      get() {
        return this.newRecord.filter(
          (record) =>
            record.fileType === 'audio' || record.fileType === 'multi_audio',
        )
      },
    },
    startBtnLabel() {
      let label
      switch (this.currentState) {
        // pause btn
        case recordingState.RECORDING:
          label = 'pause'
          break
        // resume btn
        case recordingState.PAUSE:
          label = 'play_arrow'
          break
        // start btn
        case recordingState.STOP:
          label = 'fiber_manual_record'
          break
      }
      return label
    },
  },
  methods: {
    /**
     * Records the audio when user presses record button. Detects the stop and converts
     * to base64 to add to newRecord
     */
    async startRecording() {
      console.debug('starting recording')
      try {
        switch (this.currentState) {
          // pause
          case recordingState.RECORDING:
            await VoiceRecorder.pauseRecording()
            this.currentState = recordingState.PAUSE
            break
          // resume
          case recordingState.PAUSE:
            await VoiceRecorder.resumeRecording()
            this.currentState = recordingState.RECORDING
            break
          // start recording
          default:
            await VoiceRecorder.startRecording()
            this.currentState = recordingState.RECORDING
            this.startTimer()
            break
        }
      } catch (error) {
        const msg = 'Failed to start recording'
        paratooErrorHandler(msg, error)
        this.useFilePicker = true
        if (this.ephemeralStore.checkMediaNotificationTimer()) {
          notifyHandler('warning', msg, error)
        }
        await VoiceRecorder.stopRecording()
      }
    },
    /**
     * Initiates the stopping of the recording
     */
    async stopRecording() {
      this.currentState = recordingState.STOP
      try {
        const { value } = await VoiceRecorder.stopRecording()

        // clear timeInterval and reset timer
        clearInterval(this.timerInterval)
        this.timer = '00:00:00'

        //we don't have a 'retake' button for audio so clear the media array if doing
        //single media and already have taken a audio
        if (!this.allowMultiple && this.newRecord.length > 0) this.clearAudio()

        // we need add mime type to the returned base64 string so the html can recognise it
        const base64 = `data:${value.mimeType};base64,${value.recordDataBase64}`
        const blob = await (await fetch(base64)).blob()
        try {
          const modelName = this.subModuleRowDataKey || this.currRowDataKey
          this.isSaving = true
          const file_identifier = await binary.saveBinary(blob, this.protocolId, modelName)
          const audioObj = {
            id: this.findUseID(),

            //one of the 10 file types we used (derived from Strapi's media types):
            //  multi_photo, photo, multi_video, video,  multi_audio, audio, multi_file,
            //  file, multi_any_file, any_file.
            fileType: `${this.allowMultiple ? 'multi_' : ''}audio`,
            file_identifier,
            sizeBytes: blob.size,
            comment: this.audioComment,
            mimeType: blob.type,
          }
          // add comment property to new photo object if protocol requires commment to photo
          if (this.allowComment) {
            audioObj.comment = ''
            // src of media in a strapi in payload of post request need to be "media" instead of "src" for single photo or media without comment
            audioObj.media = file_identifier
          } else {
            audioObj.src = file_identifier
          }

          //add to newRecord
          if (this.allowMultiple) {
            this.newRecord = [...this.newRecord, audioObj]
          } else {
            this.newRecord = audioObj
          }

          notifyHandler('positive', 'new audio saved')
        } catch (error) {
          paratooErrorHandler('Failed to save audio', error)
          // save the audio file to the device when fail to save it the indexedDb
          // there's a irreproducible bug when save the audio file to the indexedDb
          // for audio we don't want to lose the audio file when fail to save it
          const backupFilename = downloadFile(blob, 'mp3')
          notifyHandler(
            'negative',
            `Fail to save audio, a backup ${backupFilename} has been saved to your device , please try to upload it again`,
          )
        } finally {
          this.isSaving = false
        }
      } catch (error) {
        paratooErrorHandler('Failed to stop recording', error)
        notifyHandler('negative', error)
        await VoiceRecorder.stopRecording()
      }
    },
    /**
     * Finds a unique ID to set on the audio array object
     */
    findUseID() {
      // use lowest non-duplicate ID
      let useID = 0
      while (
        findIndex(this.newRecord, (o) => {
          return o.id === useID
        }) !== -1
      )
        useID++
      return useID
    },
    /**
     * Clears audio currently stored, or specified index of one
     *
     * @param {Number} [id] optional ID to specify for removal
     */
    clearMedia(id = null) {
      if (id) {
        const index = findIndex(this.newRecord, (o) => {
          return o.file_identifier === id
        })
        let oldRecord = this.newRecord
        oldRecord.splice(index, 1)
        this.newRecord = cloneDeep(oldRecord) 
      } else {
        this.newRecord = undefined
      }
    },
    /**
     * Shows the comment dialog and inits an existing comment (if it has one)
     * 
     * @param {String} id the file_identifier UUID
     */
    toggleComment(id = null) {
      this.showComment = !this.showComment
      this.tempAudioId = id
      const index = findIndex(this.newRecord, (o) => {
        return o.file_identifier === id
      })
      if (index !== -1) {
        let currentComment = this.newRecord[index].comment
        this.audioComment = currentComment
      }
    },
    /**
     * Saves/edits the comment and closes dialog
     */
    editComment() {
      let id = this.tempAudioId
      if (!this.disableComment) {
        const index = findIndex(this.newRecord, (o) => {
          return o.file_identifier === id
        })
        let newComment = this.audioComment
        this.newRecord[index].comment = newComment
        this.showComment = false
        let msg = 'New comment added'
        notifyHandler('positive', msg)
        this.tempAudioId = null
        this.audioComment = ''
      }
      // delay focus as this may be triggered before input field is enabled
      setTimeout(() => {
        this.$refs['commentInput'][0]?.focus()
      }, 20)
    },
    async requestPermission() {
      try {
        const { value } = await VoiceRecorder.requestAudioRecordingPermission()
        if (!value) {
          this.useFilePicker = true
          notifyHandler('negative', 'Permission to record audio required')
        }
      } catch (error) {
        this.useFilePicker = true
        paratooErrorHandler('Failed to request permission', error)
        await VoiceRecorder.stopRecording()
        notifyHandler('negative', 'Permission to record audio required')
      }
    },
    /**
     * Check if the device can record audio
     */
    async checkAbilityToRecord() {
      const { value } = await VoiceRecorder.canDeviceVoiceRecord()
      const devices = await navigator.mediaDevices.enumerateDevices()
      this.audioDevices = devices.filter((d) => d.kind === 'audioinput')
      //audioDevices.length for web and window.Capacitor.isNative && !value for native
      if (
        this.audioDevices.length == 0 ||
        (window.Capacitor.isNative && !value)
      ) {
        this.useFilePicker = true
        const msg =
          'Your current device is unable to record audio. Please connect to an audio recorder or switch to another device.'

        if (this.ephemeralStore.checkMediaNotificationTimer()) {
          notifyHandler('warning', msg)
        }
        paratooWarnMessage(msg)
      }
    },
    startTimer() {
      let timeInSeconds = 0
      this.timerInterval = setInterval(() => {
        if (this.currentState !== recordingState.RECORDING) return
        timeInSeconds++
        const hours = Math.floor(timeInSeconds / 3600)
        const minutes = Math.floor(timeInSeconds / 60)
        const seconds = timeInSeconds % 60

        this.timer = `${hours.toString().padStart(2, '0')}:\
          ${minutes.toString().padStart(2, '0')}:\
          ${seconds.toString().padStart(2, '0')}`
      }, 1000)
    },
  },
}
</script>

<style scoped>
.previewAudio {
  width: 100%;
  max-width: 70vw;
  min-width: 30px;
}
video {
  position: relative;
}
.comment {
  width: 60%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  max-height: 30vh;
  padding: 1em;
}
/* .video-column {
  width: 1%;
  white-space: nowrap;
}
*/
tbody > tr {
  max-height: 20vh;
}

.btn__container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
