<template>
  <q-card>
    <q-card-section class="text-h5">{{ title }}</q-card-section>
    <!-- if camera is not working -->
    <div v-if="cameraNotWorking">
      <p class="text-negative">
        {{ brokenBarcodeReaderMsg }} Falling back to free-text.
      </p>
    </div>

    <!-- loads barcode reader -->
    <div v-else-if="barcodeReaderOpen">
      <!-- #!if capacitor === false -->
      <StreamBarcodeReader
        v-if="!isCap && barcodeReader"
        :code-reader="barcodeReader"
        ref="barcodeReader"
        @decode="(a, b, c) => onDecode(a, b, c)"
      />
      <!-- #!endif -->
      <p class="text-h6">
        {{ barcodeText ? `"${barcodeText}"` : 'No barcode scanned' }}
      </p>
    </div>

    <q-card-section>
      <q-toggle
        v-model="barcodeReaderOpen"
        label="Show Barcode Reader"
        data-cy="toggleBarcodeReaderShow"
      />
    </q-card-section>
    <q-card-section>
      <q-toggle
        v-model="manualBarcodeEntry"
        label="Manual Barcode Entry"
        data-cy="manualBarcodeEntry"
      />
    </q-card-section>

    <!-- if custom model config exists -->
    <!-- e.g. opportune -->
    <div v-if="multiModelConfig">
      <paratoo-api-model-crud-ui
        id="barcode-reader"
        ref="crud"
        :fields="multiModelConfig.fields"
        :title="''"
        :row-data-key="multiModelConfig.rowDataKey"
        :exclude-submit-btn-flag="true"
        :current-prot-id="multiModelConfig.currentProtId"
        :modelValue="modelValue"
        :collection-survey-flag="false"
        @new-record-changed="newRecordChanged"
        @update:modelValue="
          (e) => {
            $emit('update:modelValue', e)
          }
        "
      />
    </div>
    <!-- record button -->
    <div v-if="barcodeReaderOpen" class="q-pb-md">
      <!-- #!if capacitor -->
      <NativeBarcodeReader v-if="isCap" @decode="(code) => onDecode(code)" />
      <!-- #!endif -->
      <q-btn
        v-if="!isCap && !manualBarcodeEntry"
        data-cy="recordBarcode"
        @click="recordBarcode()"
        outline
      >
        Record Barcode
      </q-btn>
    </div>
    <q-card v-else-if="manualBarcodeEntry">
      <q-form class="" @submit="recordBarcode">
        <q-card-section>
          <!-- Right-click, copy and paste are disable for these two inputs -->
          <q-input
            label="Barcode *"
            v-model="barcodeText"
            autofocus
            lazy-rules
            :rules="[(val) => /^[A-Za-z0-9_-]*$/.test(val) || 'Invalid Barcode']"
            hint="Format: AAA12378"
            hide-bottom-space
            @click.right.prevent
            @copy.prevent
          />
          <q-input
            label="Retype Barcode *"
            v-model="retypeBarcodeText"
            lazy-rules
            @click.right.prevent
            :rules="[(val) => val === barcodeText || 'Barcode does not match']"
          />
          <q-btn data-cy="recordBarcode" type="submit" outline>
            Record Barcode
          </q-btn>
        </q-card-section>
      </q-form>
    </q-card>
    <!-- if single barcode we show barcode text -->
    <div v-if="!multi && doingPTV" class="text-h6">
      Saved barcode: {{ savedVoucherBarcode }}
    </div>
    <div v-else-if="!multi" class="text-h6">
      Saved barcode: {{ modelValue }}
    </div>
    <q-card-section v-if="multi && model && model.length > 0">
      <div class="text-h6">Voucher Summary</div>
      <!-- if multi barcode we create table using local records -->
      <q-markup-table class="q-mt-md">
        <thead>
          <!-- add table headers -->
          <th
            v-for="(column, i) in multBarcodeTableColumns"
            :key="i"
            :align="column.align"
          >
            {{ column.label }}
          </th>
        </thead>
        <tbody>
          <!-- show model values -->
          <tr v-for="voucher of model" :key="voucher">
            <td
              v-for="(key, i) in Object.keys(voucher)"
              :key="i"
              :align="multBarcodeTableColumns[i].align"
            >
              {{ voucher[key] }}
            </td>
            <td>
              <q-btn
                color="negative"
                icon-right="delete"
                no-caps
                flat
                dense
                data-cy="removeBarcode"
                @click="removeBarcode(model.indexOf(voucher))"
              />
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </q-card-section>
  </q-card>
</template>

<script>
import { cloneDeep, upperFirst } from 'lodash'
import {
  notifyHandler,
  generateReplicateFromArrMax,
  playSound,
  isNullorEmpty,
  asyncCrud,
  findNullValuesInObject,
} from 'src/misc/helpers'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { useBulkStore } from 'src/stores/bulk'
import * as cc from 'src/misc/constants'
// #!if capacitor
import NativeBarcodeReader from './NativeBarcodeReader.vue'
// #!else
import { StreamBarcodeReader } from 'vue-barcode-reader'
import { BrowserMultiFormatReader } from '@zxing/library'
// #!endif
export default {
  name: 'BarcodeReader',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
    // #!if capacitor
    NativeBarcodeReader,
    // #!else
    StreamBarcodeReader,
    // #!endif
  },
  props: {
    protocolId: {
      type: Number,
      required: false,
      default: undefined,
    },
    title: {
      required: false,
      default: 'Barcode',
    },
    modelValue: {
      type: [String, Array, Object],
      required: false,
      default: () => undefined,
    },
    rowDataKey: {
      required: false,
    },
    rules: {
      required: true,
    },
    /**
     * Edge case for plant tissue
     */
    doingPTV: {
      type: Boolean,
      default: false,
    },
    multi: {
      type: Boolean,
      default: false,
    },
    // we create view using modelConfig if multi flag is on
    modelConfig: {
      type: [String, Array, Object],
      required: false,
      default: () => undefined,
    },
    // if presents we show index/replicate/counter and
    //   remove that field from modelConfig
    //   e.g. index or replicate numbers
    indexHeader: {
      type: String,
      default: undefined,
    },
    selectedTaxa: {
      type: String,
      required: false,
      default: undefined,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()
    return { 
      ephemeralStore,
      bulkStore
     }
  },
  data() {
    const filteredConfig = this.filterModelConfig()
    const configFields = filteredConfig.config
      ? Object.keys(filteredConfig.config.fields)
      : []
    const multBarcodeTableColumns = this.filterColumns(configFields)
    this.ephemeralStore.setBarcodeOpen(true)

    return {
      table: null,
      // configs
      multiModelConfig: filteredConfig.config,
      multiModelConfigFields: configFields,
      multBarcodeTableColumns: multBarcodeTableColumns,
      // keys to save values
      // e.g. genetic_voucher_barcode in plant tissue
      modelBarcodeKey: filteredConfig.barcodeKey,
      modelReplicateKey: filteredConfig.replicateKey,
      modelConditionKey: filteredConfig.conditionKey,
      // update record
      newLocalRecord: null,
      // update UI
      barcodeText: '',
      retypeBarcodeText: '',
      brokenBarcodeReaderMsg:
        'Failed to start the barcode reader. Could not get device.',
      cameraNotWorking: false,
      // open/close barcode scanner
      openScanner: false,
      // barcodeReaderOpen: true,
      manualBarcodeEntry: false,
    }
  },
  async mounted() {
    //check if barcode reader is working - we can't catch the DOMExceptions thrown by the
    //vue component, so need to manually check for media devices here. The barcode reader
    //apparently exposes an '@error' method, but it doesn't seem to work
    if (this.isCap) return

    try {
      if (!this.ephemeralStore.userMedia.camera) {
        this.ephemeralStore.userMedia.camera =
          await navigator.mediaDevices.getUserMedia({
            video: {
              facingMode: 'environment',
            },
          })
        }
      } catch (err) {
        this.cameraNotWorking = true
        this.manualBarcodeEntry = true
        return
      }

    // only called once
    if (!this.ephemeralStore.userMedia.barcodeReader && !this.isCap) {
      this.ephemeralStore.userMedia.barcodeReader =
        new BrowserMultiFormatReader()
    }
  },

  // stop barcode scanner when the component is unmounted
  // otherise the scanner keeps running even when unmounted
  // FIXME: the barcode MediaObject will be deleted if we stop the barcode
  // and creating the this instance multiple can cause memory leak
  // but let it keep running will consume a lot of energy
  unmounted() {
    this.ephemeralStore.setBarcodeOpen(false)
    // this.$refs.barcodeReader.codeReader.stream
    //   .getTracks()
    //   .forEach((track) => track.stop())
  },
  computed: {
    savedVoucherBarcode() {
      if (this.doingPTV && !this.modelValue?.length) return null
      if (typeof this.modelValue === 'string') return this.modelValue
      else return this.modelValue[0]['genetic_voucher_barcode']
    },
    barcodeReader() {
      return this.ephemeralStore.userMedia.barcodeReader
    },
    model: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.table = value
        playSound('/statics/barcode_complete.mp3')
        this.$emit('update:modelValue', value)
      },
    },
    isCap() {
      return process.env.MODE === 'capacitor'
    },
    barcodeReaderOpen: {
      get() {
        return this.ephemeralStore.barcodeOpen
      },
      set(val) {
        this.ephemeralStore.setBarcodeOpen(val)
        if (val) {
          this.manualBarcodeEntry = false
        }
      },
    },
  },
  watch: {
    modelValue(newVal) {
      if (!newVal) {
        this.barcodeReaderOpen = true
      }
    },
    manualBarcodeEntry(newVal) {
      if (newVal) {
        this.barcodeReaderOpen = false
      }
    },
  },
  methods: {
    newRecordChanged({ newRecord }) {
      // current record to update payload
      this.newLocalRecord = cloneDeep(newRecord)
    },
    filterModelConfig() {
      let customConfig = {
        config: null,
        // default keys
        barcodeKey: 'genetic_voucher_barcode',
        replicateKey: 'replicate_number',
        conditionKey: null,
      }

      if (!this.modelConfig) return customConfig

      // filter config
      const rawModelConfig = this.modelConfig
      const fields = Object.keys(rawModelConfig.fields)
      fields.forEach((field) => {
        // we delete fields, if barcode/index/replicate
        //   field present, as we generate these values
        if (field.includes('barcode')) {
          customConfig.barcodeKey = field
          delete rawModelConfig.fields[field]
          // in foreach return means continue
          return
        }
        if (field.includes(this.indexHeader)) {
          customConfig.replicateKey = field
          delete rawModelConfig.fields[field]
          return
        }

        // we remove condition if taxa is fauna
        if (this.taxaIsFauna() && field.includes('condition')) {
          customConfig.conditionKey = field
          delete rawModelConfig.fields[field]
        }
      })

      customConfig.config =
        Object.keys(rawModelConfig.fields).length > 0 ? rawModelConfig : null

      return customConfig
    },
    filterColumns(fields) {
      let updatedColumns = []

      // initially, we add two columns
      updatedColumns.push(this.createBarcodeColumn('voucher_barcode', 'left'))
      if (this.indexHeader) {
        updatedColumns.push(
          this.createBarcodeColumn(this.indexHeader, 'center'),
        )
      }

      // if no field found, we add delete and return
      //   e.g. plantTissue voucher table has only barcode,
      //   replicate and delete columns
      if (fields.length == 0) {
        updatedColumns.push(this.createBarcodeColumn('delete', 'center'))
        return updatedColumns
      }

      // if custom fields found, we add more columns
      //   e.g. voucher type, voucher comments
      fields.forEach((field) => {
        updatedColumns.push(this.createBarcodeColumn(field, 'center'))
      })

      // finally, we add delete
      updatedColumns.push(this.createBarcodeColumn('delete', 'center'))
      return updatedColumns
    },
    createBarcodeColumn(name, align) {
      return {
        name: name,
        label: upperFirst(name.replace('_', ' ')),
        align: align,
        field: name,
      }
    },
    /**
     * Determines if the selected taxa is fauna, i.e., not `vascular plant` or
     * `non-vascular plant`
     *
     * @returns {Boolean} true/false whether the selected taxa is fauna
     */
    taxaIsFauna() {
      return !(this.selectedTaxa === 'VP' || this.selectedTaxa === 'NVP')
    },
    /**
     * Barcode function which gets the read variables by the barcode component
     * and stores them as barcodeText
     *
     * @param {Number} barcode the received barcode
     */
    onDecode(barcode) {
      if (!barcode || this.barcodeText == barcode) {
        return
      }

      if (this.checkDuplicates(barcode)) {
        notifyHandler('negative', `Barcode '${barcode}' must be unique, already scanned once`)
        return
      }

      // barcode scanning successful
      this.barcodeText = barcode
      playSound('/statics/barcode_complete.mp3')

      if (this.isCap) {
        this.recordBarcode()
      }

      if (this.id) clearTimeout(this.id)
      this.id = setTimeout(() => {
        if (this.barcodeText === barcode) {
          this.barcodeText = ''
        }
      }, 5000)
    },
    /**
     * Saves barcodeText to the model
     */
    recordBarcode() {
      let tempBarcodeText
      tempBarcodeText = this.barcodeText
      // in dev spaces we want to be able to insert a 'dummy' barcode without having
      // to manually scan them ourselves
      if (cc.spoofBarcode && !this.isCap) {
        const modifier = Math.floor(Date.now())
        tempBarcodeText = tempBarcodeText
          ? tempBarcodeText
          : `dev_foo_barcode_${modifier}`
      }

      // if none was scanned
      if (!tempBarcodeText) {
        notifyHandler('negative', 'No barcode scanned, please try again')
        return
      }

      // if duplicates
      if (this.checkDuplicates(tempBarcodeText)) {
        notifyHandler(
          'negative',
          'Barcode already exists. Please enter a new one.',
        )
        return
      }

      // save barcode
      this.saveBarcode(tempBarcodeText)
      console.log(tempBarcodeText)

      // hide barcode view
      this.barcodeReaderOpen = !this.multi ? false : true
    },
    checkDuplicates(barcodeText) {
      // if model does'nt exist
      if (this.model) {
        // if single barcode
        if (!this.multi && this.model == barcodeText) {
          return true
        }
        // if multi barcode
        for (const barcodeObject of this.model) {
          if (barcodeObject[this.modelBarcodeKey] == barcodeText) return true
        }
      }
      // checks existing barcodes if found
      if (this.bulkStore.currentBarcodes) {
        if (this.bulkStore.currentBarcodes.includes(barcodeText)) return true
      }

      for (const r of this.rules) {
        const result = r(barcodeText)
        if (result !== true) return true
      }
      return false
    },
    saveBarcode(barcodeObj) {
      // if single barcode
      if (!this.multi) {
        this.model = barcodeObj
        return
      }

      // if multi barcode
      barcodeObj = this.createMultiBarcode(barcodeObj)

      // if null field exists
      const nullField = findNullValuesInObject(barcodeObj)
      if (nullField) {
        notifyHandler(
          'negative',
          'Please add ' + nullField.replace('_', ' ') + ' to save barcode',
        )
        return
      }

      // save multi barcode
      this.model = !this.model ? [barcodeObj] : [...this.model, barcodeObj]
    },
    createMultiBarcode(barcodeText) {
      let currBarcodeObj = {}

      // uses updated record to create new object
      currBarcodeObj[this.modelBarcodeKey] = barcodeText
      if (this.indexHeader) {
        currBarcodeObj[this.modelReplicateKey] = this.generateReplicateNumber()
      }

      this.multiModelConfigFields.forEach((field) => {
        currBarcodeObj[field] = !isNullorEmpty(
          this.newLocalRecord[field],
          'value',
        )
          ? this.newLocalRecord[field].value
          : this.newLocalRecord[field]
      })

      return currBarcodeObj
    },
    generateReplicateNumber() {
      // if multi barcode && index header present,
      //   we generate replicate/counter/index number
      if (!this.multi && !this.indexHeader) return

      // if no barcode or model not found we start
      //   counting index/replicate numbers
      if (!this.model) return 1

      let maxReplicateNumber = generateReplicateFromArrMax(
        this.model,
        this.modelReplicateKey,
      )

      return maxReplicateNumber
    },
    resetModels(isSaved = true) {
      // make a copy before reset - lodash clone is probably overkill so we construct a
      // new string and retrieve the primitive value to preserve the data (else it'll just
      // create a reference)
      const clonedBarcode = new String(this.barcodeText).valueOf()
      this.barcodeText = ''
      // notify user
      if (!isSaved) {
        notifyHandler(
          'negative',
          'Barcode must be unique, already scanned once',
        )
        return
      }

      const msg = (() => {
        let baseMsg = 'Successfully scanned barcode value'
        // if it's not empty then we can append the actual value (can be empty if, for
        // example, we let it auto-gen a dev barcode which doesn't require explicitly
        // scanning)
        if (clonedBarcode) {
          baseMsg += `: ${clonedBarcode}`
        }
        return baseMsg
      })()

      notifyHandler('positive', msg)
    },
    /**
     * Removes barcode from the model at the given index
     *
     * @param {Number} index the array index to remove from
     */
    removeBarcode(index) {
      this.model.splice(index, 1)
      if (!this.indexHeader) return

      // if index header found, we update replicate number
      this.resetReplicateNumbers()
    },
    /**
     * Reset replicate numbers after deleting in the middle of the array
     */
    resetReplicateNumbers() {
      // if model doesnt exist
      if (!this.model) return
      if (this.model.length == 0) return

      // reset replicate numbers using the index of the array
      for (let index in Object.entries(this.model)) {
        // as the type of index is string
        let i = parseInt(index)
        this.model[i].replicate_number = i + 1
      }
    },
  },
  expose: ['recordBarcode'],
}
</script>
<style>
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .tablet {
    font-size: 1.5rem;
  }
}
</style>
