<template>
  <div>
    <paratoo-api-model-crud-ui
      id="basal-wedge-observation"
      ref="crud"
      :fields="modelConfig.fields"
      :title="'Basal Wedge Observation'"
      :hide-title="true"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="false"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :collection-survey-flag="true"
      @update:modelValue="updateModelValue"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  notifyHandler,
  makeModelConfig,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'

export default {
  inject: ['doc'],
  name: 'BasalWedgeObservation',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    protocolVariant: {
      type: String,
      required: true,
    },
  },
  setup() {
    const { cachedModel } = useApiModelsStore()
    return {
      cachedModel,
    }
  },
  data() {
    const rawModelConfig = makeModelConfig(
      'basal-wedge-observation',
      this.doc,
      this.protocolId,
    )

    return {
      modelConfig: rawModelConfig,
    }
  },
  methods: {
    async onSubmitFunc() {
      // check missing sampling points
      const modelName =
        this.modelConfig.fields.basal_sweep_sampling_point.optionsKey
      const samplingPoints = this.cachedModel({ modelName }).map(
        (_) => _.symbol,
      )
      const currentRecord = this.modelValue || []
      currentRecord.forEach((obs) => {
        const index = samplingPoints.indexOf(obs.basal_sweep_sampling_point)
        if (index !== -1) {
          samplingPoints.splice(index, 1)
        }
      })
      if (samplingPoints.length > 0) {
        notifyHandler(
          'negative',
          `Missing sampling point(s): ${samplingPoints.join(', ')}`,
        )
        return false
      } else return await this.$refs['crud'].onSubmitFunc()
    },
    updateModelValue(value) {
      this.disableSelectedPoint(value)
      this.$emit('update:modelValue', value)
    },
    disableSelectedPoint(newVal) {
      this.modelConfig.fields.basal_sweep_sampling_point.optionsMapper =
        function (option) {
          const newOption = {
            value: option.symbol,
            label: option.label,
          }
          const isSelected = newVal.some(
            (obs) => obs.basal_sweep_sampling_point === option.symbol,
          )
          if (isSelected) {
            newOption.inactive = true
          }
          return newOption
        }
    },
  },
}
</script>
