<!-- FIXME clean up code for dynamic width of elements -->

<template>
  <div v-if="ellipse">
    <div>
      <q-input
        data-cy="ellipse_DBH"
        v-model.number="ellipseInput"
        :label="names.dbh"
        type="integer"
        autogrow
        bottom-slots
        clearable
        hide-bottom-space
      >
        <template v-slot:hint>
          Record a second DBH at a 90° angle to the first DBH measurement to
          account for the ellipse. The app will automatically calculate the
          square root of the product of the two diameters to determine the
          measure of trunk or stem diameter and display the diameter measurement
          in the calculated DBH field below.
        </template>
      </q-input>
      <q-input
        data-cy="calculated_DBH"
        v-model.number="CalculatedDBH"
        :label="names.calculated_dbh"
        type="integer"
        autogrow
        clearable
        hide-bottom-space
      >
      </q-input>
      <!-- <div v-if="CalculatedDBH" class="text-h6">
        Calculated DBH = {{ CalculatedDBH }}
      </div> -->
    </div>
  </div>
</template>
<script>
import { isNullorEmpty } from '../misc/helpers'

export default {
  name: 'BasalAreaTreeEllipse',
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    ellipse: {
      type: Boolean,
      required: true,
    },
    names: {
      type: Object,
      required: true,
    },
  },
  watch: {
    modelValue(val) {
      if (!val) {
        this.tempRecord = {}
        return
      }
      this.tempRecord = val
    },
  },
  data() {
    return {
      tempRecord_: {},
    }
  },
  computed: {
    tempRecord: {
      get() {
        return this.tempRecord_
      },
      set(val) {
        this.tempRecord_ = val
      }
    },
    ellipseInput: {
      get() {
        return !isNullorEmpty(this.tempRecord, 'DBH')
          ? this.tempRecord['DBH']
          : null
      },
      set(e) {
        if (this.tempRecord['DBH'] != e) {
          this.tempRecord['DBH'] = e
          this.$emit('update:modelValue', this.tempRecord)
        }
      },
    },
    CalculatedDBH: {
      get() {
        return !isNullorEmpty(this.tempRecord, 'calculated_DBH')
          ? this.tempRecord['calculated_DBH']
          : null
      },
    },
  },
  methods: {
    allRules() {
      return [
        (val) =>
          (val !== null && val !== '' && !isNaN(parseInt(val))) ||
          'Please type a number',
        (val) => val > 0 || 'Please type a real number',
      ]
    },
  },
}
</script>
