<template>
  <div>
    <paratoo-api-model-crud-ui
      id="basal-area-dbh-measure-observation"
      ref="crud"
      :fields="modelConfig.fields"
      :title="'Basal Area DBH Measure Observation'"
      :hide-title="true"
      submit-btn-label="Save Tree"
      add-btn-label="Add Tree"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="false"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :collection-survey-flag="true"
      @update:modelValue="(e) => { $emit('update:modelValue', e) }"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  removeFieldFromModelConfig,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from 'src/stores/ephemeral'

export default {
  inject: ['doc'],
  name: 'BasalAreaDbhMeasureObservationTree',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    protocolVariant: {
      type: String,
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    return {
      apiModelsStore,
      ephemeralStore,
    }
  },
  data() {
    // get dbh type and model name
    const dbhInstrumentType = this.ephemeralStore.basalDbhInstrumentType

    const rawModelConfig = makeModelConfig(
      'basal-area-dbh-measure-observation',
      this.doc,
      this.protocolId,
    )

    // if not regular tape, dont need to show circumference fields
    if (dbhInstrumentType !== 'TAP') {
      rawModelConfig.fields = removeFieldFromModelConfig(
        rawModelConfig,
        'circumference',
      )
    }

    // if not tree caliper, dont need to show ellipse fields
    if (dbhInstrumentType !== 'CAL') {
      rawModelConfig.fields = removeFieldFromModelConfig(
        rawModelConfig,
        'ellipse',
      )
    }
    // default values
    // TODO need x-paratoo field to handle from schema
    rawModelConfig.fields.stem_1.modelConfig.fields.POM_single['default'] = 1.3
    rawModelConfig.fields.stem.modelConfig.fields.POM_multi['default'] = 1.3

    return {
      modelConfig: rawModelConfig,
    }
  },
}
</script>
