<template>
  <div v-if="data.length">
    <p>
      Your Observations:
      {{ Object.keys(data).length }} records
    </p>
    <div v-if="$q.screen.gt.xs" class="col">
      <q-toggle
        v-model="visibleColumns"
        checked-icon="check"
        unchecked-icon="clear"
        val="count"
        label="Count"
      />
      <q-toggle
        v-model="visibleColumns"
        checked-icon="check"
        unchecked-icon="clear"
        val="observation_type"
        label="Observation Type"
      />
      <q-toggle
        v-model="visibleColumns"
        checked-icon="check"
        unchecked-icon="clear"
        val="activity_type"
        label="Activity Type"
      />
      <q-toggle
        v-model="visibleColumns"
        checked-icon="check"
        unchecked-icon="clear"
        val="observation_location_type"
        label="Observation Location Type"
      />
      <q-toggle
        v-model="visibleColumns"
        checked-icon="check"
        unchecked-icon="clear"
        val="breeding_type"
        label="Breeding Type"
      />
      <q-toggle
        v-model="visibleColumns"
        checked-icon="check"
        unchecked-icon="clear"
        val="age_class"
        label="Age Class"
      />
    </div>
    <q-table
      title="Bird Observations"
      wrap-cells
      :rows="data"
      :columns="birdObservationColumn"
      row-key="species"
      :rows-per-page-options="[50, 25, 15, 10, 5, 0]"
      :visible-columns="visibleColumns"
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="species" :props="props">
            {{ props.row.species }}
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-banner>
                {{ props.row.species }}
              </q-banner>
            </q-popup-proxy>
          </q-td>
          <q-td key="count" :props="props">
            {{ props.row.count }}
          </q-td>
          <q-td key="observation_type" :props="props">
            {{
              getOptions(
                {
                  optionsKey: 'lut-fauna-observation-type',
                  type: 'select',
                  optionsMapper: (e) => ({
                    value: e.symbol,
                    label: e.label,
                  }),
                },
                props.row.observation_type,
              )
            }}
          </q-td>
          <q-td key="activity_type" :props="props">
            {{
              getOptions(
                {
                  optionsKey: 'lut-fauna-bird-activity-type',
                  type: 'select',
                  optionsMapper: (e) => ({
                    value: e.symbol,
                    label: e.label,
                  }),
                },
                props.row.activity_type,
              )
            }}
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-banner>
                {{
                  getOptions(
                    {
                      optionsKey: 'lut-fauna-bird-activity-type',
                      type: 'select',
                      optionsMapper: (e) => ({
                        value: e.symbol,
                        label: e.label,
                      }),
                    },
                    props.row.activity_type,
                  )
                }}
              </q-banner>
            </q-popup-proxy>
          </q-td>

          <q-td key="observation_location_type" :props="props">
            {{
              getOptions(
                {
                  optionsKey: 'lut-fauna-bird-observation-location-type',
                  type: 'select',
                  optionsMapper: (e) => ({
                    value: e.symbol,
                    label: e.label,
                  }),
                },
                props.row.observation_location_type,
              )
            }}
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-banner>
                {{
                  getOptions(
                    {
                      optionsKey: 'lut-fauna-bird-observation-location-type',
                      type: 'select',
                      optionsMapper: (e) => ({
                        value: e.symbol,
                        label: e.label,
                      }),
                    },
                    props.row.observation_location_type,
                  )
                }}
              </q-banner>
            </q-popup-proxy>
          </q-td>
          <q-td key="breeding_type" :props="props">
            {{
              getOptions(
                {
                  optionsKey: 'lut-fauna-bird-breeding-type',
                  type: 'select',
                  optionsMapper: (e) => ({
                    value: e.symbol,
                    label: e.label,
                  }),
                },
                props.row.breeding_type,
              )
            }}
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-banner>
                {{
                  getOptions(
                    {
                      optionsKey: 'lut-fauna-bird-breeding-type',
                      type: 'select',
                      optionsMapper: (e) => ({
                        value: e.symbol,
                        label: e.label,
                      }),
                    },
                    props.row.breeding_type,
                  )
                }}
              </q-banner>
            </q-popup-proxy>
          </q-td>
          <q-td key="age_class" :props="props">
            {{
              getOptions(
                {
                  optionsKey: 'lut-fauna-age-class',
                  type: 'select',
                  optionsMapper: (e) => ({
                    value: e.symbol,
                    label: e.label,
                  }),
                },
                props.row.age_class,
              )
            }}
          </q-td>
          <q-td key="clone" :props="props">
            <q-btn
              color="primary"
              icon-right="content_copy"
              no-caps
              flat
              dense
              @click="$emit('clone', data.indexOf(props.row))"
              data-cy="copy"
            />
          </q-td>
          <q-td key="edit" :props="props">
            <q-btn
              color="primary"
              icon-right="edit"
              no-caps
              flat
              dense
              @click="$emit('edit', data.indexOf(props.row))"
              data-cy="edit"
            />
          </q-td>
          <q-td key="delete" :props="props">
            <q-btn
              color="primary"
              icon-right="delete"
              no-caps
              flat
              dense
              @click="$emit('delete', data.indexOf(props.row))"
              data-cy="delete"
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>
<script>
import { prettyFormatFieldName } from 'src/misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
export default {
  props: {
    data: {
      required: true,
    },
  },
  setup() {
    const { cachedModel } = useApiModelsStore()
    return {
      cachedModel,
    }
  },
  data() {
    const visibleColumns = [
      'species',
      'count',
      'observation_type',
      'activity_type',
      'observation_location_type',
      'breeding_type',
      'age_class',
      'clone',
      'edit',
      'delete',
    ]

    const birdObservationColumn = [
      {
        name: 'species',
        required: true,
        label: 'Bird Species',
        align: 'left',
        field: (row) => row.species,
        format: (val) => `${val}`,
        sortable: true,
        classes: 'ellipsis',
        style: 'max-width: 150px',
        headerClasses: 'ellipsis',
        headerStyle: 'max-width: 150px',
      },
    ]
    visibleColumns.forEach((name) => {
      if (name === 'species') return
      birdObservationColumn.push({
        name,
        label: prettyFormatFieldName(name),
        align: 'right',
        field: 'count',
        sortable: true,
        classes: 'ellipsis',
        style: 'max-width: 100px',
        headerClasses: 'ellipsis',
        headerStyle: 'max-width: 100px',
      })
    })
    return {
      visibleColumns,
      birdObservationColumn,
    }
  },
  methods: {
    getOptions(inputDef, symbol) {
      if (inputDef.options) {
        return inputDef.options
      }
      const key = inputDef.optionsKey

      const mapper = inputDef.optionsMapper
      const data = this.cachedModel({ modelName: key })

      if (!data) {
        throw new Error(`Could not find data for key=${key} in store/apiModels`)
      }
      for (let i = 0; i < data.map(mapper).length; i++) {
        if (data.map(mapper)[i].value === symbol) {
          return data.map(mapper)[i].label
        }
      }
    },
  },
}
</script>
