<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfigSurvey.fields"
      :row-data-key="modelConfigSurvey.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="protocolId"
      @new-record-changed="newRecordChanged"
      :modelValue="localRecord"
      @update:modelValue="updateSurvey"
    />
    <template v-if="localRecord">
      <div>
        <h5 class="q-my-sm">{{ localRecord.survey_type?.label }}</h5>

        <h5 v-if="localRecord.end_date" data-cy="timeInMinutes">
          Time Remaining: {{ displayedTimeLeft }}
        </h5>
        <q-btn
          color="primary"
          label="Start Timer"
          @click="startTimer"
          :disable="Boolean(localRecord.end_date) || !localRecord.survey_type"
          data-cy="startTimer"
          type="a"
        >
          <q-tooltip v-if="!localRecord.survey_type">
            Please select a survey type
          </q-tooltip>
          <q-tooltip v-if="localRecord.end_date">
            The search has been ended
          </q-tooltip>
        </q-btn>
      </div>
      <p class="q-my-md" v-if="userCoords?.lat">
        Using lat: {{ userCoords.lat.toFixed(4) }}, lng:
        {{ userCoords.lng.toFixed(4) }}
      </p>
      <q-banner class="q-my-md bg-yellow text-black" v-else>
        Gps not available, cannot record current location
      </q-banner>
      <InvertebrateMap
        v-if="localRecord.survey_type"
        class="q-my-md"
        :mapHeightPercentage="0.5"
        :model-zoom="selectedSurveyType === '202' ? 19 : 16"
        :initToPlotCenter="true"
        :circleBorder="selectedSurveyType !== '202'"
        :birdObs="localObsRecord"
      />
      <template v-if="localRecord.end_date">
        <q-card flat>
          <q-card-section>
            <q-btn
              label="Add Bird Observation"
              color="primary"
              data-cy="addBirdObservation"
              @click="alert = true"
            />
          </q-card-section>
          <q-card-section>
            <BirdObsSummary
              :data="localObsRecord"
              @edit="editObservation"
              @clone="cloneObservation"
              @delete="handleObservationDelete"
            />
          </q-card-section>
          <q-card-section>
            <q-btn
              v-if="timeLeft"
              class="q-my-md"
              label="End search early"
              color="red"
              data-cy="endSurvey"
              @click="endSearchEarly"
            />
          </q-card-section>
        </q-card>
      </template>
    </template>

    <q-dialog v-model="alert" persistent maximized>
      <q-card class="q-pa-md">
        <q-card-section>
          <div class="text-h6 row justify-between">Bird Observation  
            <q-btn
            label="Back"
            color="primary"
            wrap
            class="q-ml-sm"
            v-close-popup
          /></div>
        </q-card-section>
        <q-card-section>
          <div>
            <div
              :class="`text-h4 text-center text-black ${
                timeLeft <= 0
                  ? 'bg-red'
                  : timeLeft <= 300
                  ? 'bg-green'
                  : 'bg-yellow'
              } `"
            >
              Time Left: {{ displayedTimeLeft }}
            </div>
          </div>
        </q-card-section>
        <q-card-section>
          <q-card flat bordered>
            <q-expansion-item
              :header-style="{ textAlign: 'center', fontWeight: 'bold' }"
              class="bold"
              label="Map"
              icon="map"
              v-model="showModelMap"
            >
              <InvertebrateMap
                v-if="localRecord.survey_type && showModelMap"
                class="q-my-md"
                :mapHeightPercentage="0.5"
                :selectedPlot="selectedPlotType"
                :model-zoom="selectedSurveyType === '202' ? 19 : 16"
                :initToPlotCenter="true"
                :circleBorder="selectedSurveyType !== '202'"
                :birdObs="localObsRecord"
              />
            </q-expansion-item>
          </q-card>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <paratoo-api-model-crud-ui
            :fields="modelConfigObservation.fields"
            :row-data-key="modelConfigObservation.rowDataKey"
            :exclude-submit-btn-flag="false"
            :current-prot-id="protocolId"
            :modelValue="observationModelValue"
            :conditional-fields="obsConditionalFields"
            :conditional-field-callback="conditionalFieldsCallback"
            @update:modelValue="
              (e) => {
                handleObservationSubmission(e, obsIndexForEditing)
              }
            "
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {
  asyncCrud,
  notifyHandler,
  playSound,
  createDependentFieldCallback,
  makeModelConfig,
} from '../misc/helpers'
import { date, Dialog } from 'quasar'
import { cloneDeep, isEqual } from 'lodash'
import { useBulkStore } from '../stores/bulk'
import { useDataManagerStore } from 'src/stores/dataManager'
import { computed } from 'vue'
import InvertebrateMap from './Invertebrate/InvertebrateMap.vue'
import BirdObsSummary from './BirdObsSummary.vue'
export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    InvertebrateMap,
    BirdObsSummary,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
    },
    rowDataKey: {
      type: String,
    },
  },
  setup(props) {
    const { collectionGetForProt, recvGeneral } = useBulkStore()
    const { plotHasFaunaPlot, cachedModel } = useDataManagerStore()

    const collectionData = computed(() =>
      collectionGetForProt({ protId: props.protocolId }),
    )

    const obsModelName = 'bird-survey-observation'
    return {
      recvGeneral,
      collectionData,
      obsModelName,
      plotHasFaunaPlot,
      cachedModel,
    }
  },
  data() {
    const modelConfigObservation = makeModelConfig(
      this.obsModelName,
      this.doc,
      this.protocolId,
    )

    const modelConfigSurvey = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    const obsConditionalFieldsList = [
      'activity_type',
      'sex',
      'breeding_type',
      'age_class',
    ]
    obsConditionalFieldsList.forEach(
      (field) => (modelConfigObservation.fields[field].hidden = true),
    )
    // hide conditional fields if observation type is 'Heard (S)' and set them to 'Unknown (U)'
    const obsConditionalFields = obsConditionalFieldsList.map((field) => {
      const optionKey = modelConfigObservation.fields[field].optionsKey
      const lutData = this.cachedModel({ modelName: optionKey })
      const autoFillSymbol = lutData?.find((o) => o.label === 'Unknown' || o.label === 'NA')

      return {
        field,
        dependsOn: 'observation_type',
        dependsOnSelection: ['S', 'H'],
        fieldCb: function ({ newVal, oldVal }) {
          if (
            newVal[this.dependsOn] === 'H' &&
            newVal[this.dependsOn] !== oldVal[this.dependsOn]
          ) {
            const newRecord = structuredClone(newVal)
            newRecord[this.field] = {
              value: autoFillSymbol?.symbol,
              label: autoFillSymbol?.label
            }
            return structuredClone(newRecord)
          }
        },
      }
    })

    modelConfigSurvey.fields.end_date.hidden = true

    return {
      alert: false,
      // decides whether to show or hide bird map
      isShowMap: false,

      localRecord: cloneDeep(this.collectionData[this.rowDataKey]) || {},
      localObsRecord: cloneDeep(this.collectionData[this.obsModelName]) || [],
      observationModelValue: null,
      timeLeft: null,

      modelConfigSurvey,
      modelConfigObservation,

      obsConditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      searchTime: 0,

      // custom location if gps not available
      customLocation: null,

      timerInterval: null,
      obsConditionalFieldsList,
      showModelMap: false,
    }
  },
  methods: {
    warn() {
      notifyHandler(
        'warning',
        'Bird Observation Location was not recorded, Default: 0,0',
      )
    },
    /**
     * Handles the submission of an observation.
     *
     * @param {any} newVal - The new value to be submitted.
     * @param {number} index - The index of the observation to be updated.
     *                         Defaults to null if a new observation is added.
     */
    handleObservationSubmission(newVal, index = null) {
      if (!newVal?.location) {
        this.warn()
      }
      if (index !== null) {
        this.localObsRecord[index] = newVal
        // reset the index for editing
        this.obsIndexForEditing = null
      } else {
        this.localObsRecord.push(newVal)
      }
      // we're not going through workflow so the summary won't update
      // unless something else is submitted
      this.recvGeneral({
        modelName: this.obsModelName,
        content: this.localObsRecord,
        protocolId: this.protocolId,
      })
      this.alert = false
      this.observationModelValue = null
    },

    editObservation(index) {
      this.obsIndexForEditing = index
      this.observationModelValue = cloneDeep(this.localObsRecord[index])
      this.alert = true
    },
    cloneObservation(index) {
      const clonedRecord = cloneDeep(this.localObsRecord[index])
      delete clonedRecord.location
      this.observationModelValue = clonedRecord
      this.alert = true
    },
    handleObservationDelete(index) {
      this.localObsRecord.splice(index, 1)
      this.recvGeneral({
        modelName: this.obsModelName,
        content: this.localObsRecord,
        protocolId: this.protocolId,
      })
    },
    async startTimer() {
      // submit survey then trigger the update:modelValue of the crud
      await this.$refs['crud'].onSubmitFunc()
    },

    /**
     * Updates the survey with a new value.
     *
     * @param {Object} newVal - The new value to update the survey with.
     */
    updateSurvey(newVal) {
      // Get the survey type from the new value
      const surveyType = newVal.survey_type

      // Return early if survey type is already defined
      if (!surveyType) return

      // Set the search time based on survey type
      this.searchTime =
        surveyType === '202' || surveyType.value === '202' ? 20 : 60

      // Set the end date of the survey based on search time
      let date = new Date()
      const endTime = new Date(date.getTime() + this.searchTime * 60 * 1000)
      if (!newVal.end_date) {
        newVal.end_date = endTime

        // Update local record to control the fields
        this.localRecord = newVal

        // Disable the fields
        this.disableFields()

        // Start the timer
        this.updateDateTime(endTime)
      }

      // Emit event to update the model value
      this.$emit('update:modelValue', newVal)
    },
    /**
     * Updates the date and time of the timer.
     *
     * @param {Date} endTime - the end time to calculate the time left
     */
    updateDateTime(endTime) {
      // Check if the time has already elapsed
      if (date.getDateDiff(endTime, new Date(), 'seconds') <= 0) return

      // Start the timer interval
      this.timerInterval = setInterval(() => {
        const current = new Date()
        // Calculate the time left
        this.timeLeft = date.getDateDiff(endTime, current, 'seconds')

        // Notify when there are 5 or 1 minutes left
        if (this.timeLeft === 300 || this.timeLeft === 60) {
          const canVibrate = window?.navigator?.vibrate
          if (canVibrate) {
            navigator.vibrate(200)
          }
          notifyHandler(
            'warning',
            `${this.timeLeft / 60} minutes left`,
            null,
            5,
            'center',
          )
        }

        // Finish the timer and notify when the time is up
        if (this.timeLeft <= 0) {
          playSound('/statics/finish_timer.mp3')
          notifyHandler('positive', 'Timeout')
          clearInterval(this.timerInterval)
        }
      }, 1000)
    },
    disableFields() {
      this.modelConfigSurvey.fields.start_date.disable = true
      this.modelConfigSurvey.fields.survey_type.disable = true
      this.modelConfigSurvey.fields.playback_used.disable = true
    },
    async onSubmitFunc() {
      if (this.timeLeft > 0) {
        notifyHandler('negative', 'The search has not ended')
        return false
      }
      return await this.$refs['crud'].onSubmitFunc()
    },
    /**
     * Handle changes to the new record.
     * @param {Object} newRecord - The new record object.
     */
    async newRecordChanged({ newRecord }) {
      // Check if the new record is equal to the local record
      if (isEqual(newRecord, this.localRecord)) return
      // Update the local record
      this.localRecord = newRecord
    },
    endSearchEarly() {
      Dialog.create({
        title: 'Confirm',
        // TODO: make this dynamic
        message: `Do you want to end the search early?`,
        'no-focus': true,
        ok: {
          flat: true,
          label: 'Yes',
        },
        cancel: 'No',
      }).onOk(() => {
        const newRecord = cloneDeep(this.localRecord)
        newRecord.end_date = new Date()
        this.localRecord = newRecord
        this.timeLeft = 0
        clearInterval(this.timerInterval)
      })
    },
  },
  mounted() {
    if (this.localRecord.end_date) {
      this.disableFields()
      this.updateDateTime(this.localRecord.end_date)
    }
  },
  unmounted() {
    clearInterval(this.timerInterval)
  },
  computed: {
    /**
     * Returns the formatted time left to be displayed.
     *
     * @return {string} The formatted time left in the format "minute:second".
     */
    displayedTimeLeft() {
      let unformattedTime
      if (this.timeLeft === null) {
        unformattedTime = this.searchTime * 60
      } else {
        unformattedTime = this.timeLeft
      }
      const second = unformattedTime % 60
      const minute = (unformattedTime - second) / 60
      if (minute <= 0 && second <= 0) {
        return 'timeout'
      } else if (second < 10) {
        return minute + ':' + '0' + second + ' minutes'
      } else return minute + ':' + second + ' minutes'
    },
    selectedSurveyType() {
      if (!this.localRecord) return null

      return this.localRecord.survey_type?.value || this.localRecord.survey_type
    },
  },
  watch: {
    localRecord(newVal) {
      this.modelConfigObservation.fields.location.circleBorder =
        newVal.survey_type !== '202'
    },
  },
}
</script>
