<template>
  <div>
    <div v-if="ephemeralStore.barcodeOpen">
      Please hide barcode reader to open camera
    </div>
    <div v-else>
      <!-- #!if capacitor -->
      <Camera_NATIVE
        v-if="isCap"
        ref="camera"
        :cameraType="cameraType"
        :allowMultipleMedia="allowMultipleMedia"
        :modelValue="modelValue"
        :allowComment="allowComment"
        @update:modelValue="(e) => $emit('update:modelValue', e)"
      />
      <!-- #!else -->
      <Camera_WEB
        v-if="!isCap"
        ref="camera"
        :cameraType="cameraType"
        :allowMultipleMedia="allowMultipleMedia"
        :modelValue="modelValue"
        :allowComment="allowComment"
        @update:modelValue="(e) => $emit('update:modelValue', e)"
      />
      <!-- #!endif -->
    </div>
  </div>
</template>

<script>
// #!if capacitor
import Camera_NATIVE from './Camera_NATIVE.vue'
// #!else
import Camera_WEB from './Camera_WEB.vue'
// #!endif
import { useEphemeralStore } from 'src/stores/ephemeral'
export default {
  components: {
    // #!if capacitor
    Camera_NATIVE,
    // #!else
    Camera_WEB,
    // #!endif
  },
  props: {
    //crud passes the model of the media to be used as the media type
    //e.g., plant/bark/etc (floristics lite), photos (floristics full),
    //media (opportunistic)
    cameraType: {
      type: String,
      required: false,
      default: undefined,
    },
    //flag to determine if media is stored in an array, or separate entries. Strapi
    //will expect these if the model is multiple or single media
    allowMultipleMedia: {
      type: Boolean,
      required: false,
      default: false,
    },
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    allowComment: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    return { ephemeralStore }
  },
  computed: {
    isCap() {
      return process.env.MODE === 'capacitor'
    },
  },
}
</script>
