<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import { 
  asyncCrud,
  makeModelConfig,
  getCameraTrapRelevantDeployments,
  createCameraTrapRelevantDeploymentOptions,
  getCameraTrapVariant,
  createDependentFieldCallback,
  notifyHandler,
  prettyFormatFieldName,
} from '../misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import {
  isEqual,
  cloneDeep,
} from 'lodash'

export default {
  inject: ['doc'],
  name: 'CameraTrapRetrieval',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    return {
      apiModelsStore,
      bulkStore,
    }
  },
  data() {
    let modelConfig = makeModelConfig(
      `camera-trap-${getCameraTrapVariant(this.protocolId)}-point`,
      this.doc,
      this.protocolId,
    )

    const relevantDeployments = getCameraTrapRelevantDeployments(this.protocolId)
    createCameraTrapRelevantDeploymentOptions(modelConfig, relevantDeployments)

    const hideDefault = ['retrieval_date', 'deployment_period']
    for (const field of hideDefault) {
      modelConfig.fields[field].hidden = true
    }    

    const conditionalFields = [
      {
        field: 'retrieval_date',
        dependsOn: 'deployment_id'
      },
      {
        field: 'deployment_period',
        fieldCb: this.deploymentPeriodCallback,
        dependsOn: 'retrieval_date',
      }
    ]

    return {
      modelConfig,
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      relevantDeployments,
    }
  },
  methods: {
    /**
     * Auto-calculates the deployment period based on the deployment and retrieval dates
     * 
     * @param {Object} newVal the `newVal` value of Crud's newRecordWatcher
     * @param {Object} oldVal  the `newVal` value of Crud's newRecordWatcher
     * @param {Object} field the relevant field
     * @param {Object} inputDef the field's input (field) definition
     * 
     * @returns {Object} the updated new record with the auto-filled fields
     */
    deploymentPeriodCallback({ newVal, oldVal, field }) {
      /**
       * Calculates the difference between two `Date`s
       * 
       * Source: https://stackoverflow.com/a/543152
       * 
       * @param {Date} first the first date
       * @param {Date} second the second date
       */
      function dateDiff(first, second) {
        return Math.round((second - first) / (1000 * 60 * 60 * 24))
      }
      const firstPopulated = (
        !oldVal.retrieval_date &&
        newVal.retrieval_date
      )
      const changed = (
        oldVal.retrieval_date &&
        newVal.retrieval_date &&
        !isEqual(oldVal.retrieval_date, newVal.retrieval_date)
      )

      let updatedNewRecord = null
      //if we've changed the retrieval date (rather than first populate), then don't
      //allow the dependency handler clear the field. Rather, this callback re-populates
      let suppressDependencyHandler = changed

      if (firstPopulated || changed) {
        const selectedDeploymentId = newVal.deployment_id?.label || newVal.deployment_id
        const relevantDeployment = this.relevantDeployments.find(o => o.deployment_id === selectedDeploymentId)

        updatedNewRecord = cloneDeep(newVal)
        updatedNewRecord.deployment_period = dateDiff(new Date(relevantDeployment.deployment_start_date), new Date(newVal.retrieval_date))

        notifyHandler('info', `Field '${prettyFormatFieldName(field.field)}' ${firstPopulated && !changed ? 'auto-filled' : 're-calculated'} for your convenience`)
      }

      return { record: updatedNewRecord, suppressDependencyHandler: suppressDependencyHandler }
    },
  },
}
</script>