<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import { 
  asyncCrud, 
  makeModelConfig, 
  getCameraTrapVariant,
  getCameraTrapRelevantDeployments,
  createCameraTrapRelevantDeploymentOptions,
  createDependentFieldConfig,
  createDependentFieldCallback,
  notifyHandler,
  prettyFormatFieldName,
  paratooSentryBreadcrumbMessage,
} from '../misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import { useDataManagerStore } from 'src/stores/dataManager'
import {
  cloneDeep,
  isEmpty,
} from 'lodash'

export default {
  inject: ['doc'],
  name: 'CameraTrapReequipping',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const dataManager = useDataManagerStore()
    return {
      apiModelsStore,
      bulkStore,
      dataManager,
    }
  },
  data() {
    let modelConfig = makeModelConfig(
      `camera-trap-${getCameraTrapVariant(this.protocolId)}-point`,
      this.doc,
      this.protocolId,
    )

    const relevantDeployments = getCameraTrapRelevantDeployments(this.protocolId)
    console.log('relevantDeployments:', relevantDeployments)
    createCameraTrapRelevantDeploymentOptions(modelConfig, relevantDeployments)

    //camera trap info camera model
    const confCtInfoCameraMake = modelConfig.fields.camera_trap_information.modelConfig.fields.make
    let confCtInfoCameraModel = modelConfig.fields.camera_trap_information.modelConfig.fields.model
    createDependentFieldConfig(confCtInfoCameraModel, confCtInfoCameraMake.select.optionsKey, 'make', 'make', true, this.apiModelsStore)

    //camera trap settings
    const ctSettingsHideDefault = ['images_per_trigger', 'image_interval', 'image_quality', 'video_length', 'video_resolution', 'time_lapse_interval']
    for (const field of ctSettingsHideDefault) {
      modelConfig.fields.camera_trap_settings.modelConfig.fields[field].hidden = true
    }

    //camera lure variety
    const confLureType = modelConfig.fields.lure_type
    let confLureVariety = modelConfig.fields.lure_variety
    createDependentFieldConfig(confLureVariety, confLureType.optionsKey, 'lure_type', 'lure_type', true, this.apiModelsStore)

    //don't show checkbox - if they select anything other than 'operational', will show
    //(handled by `conditionalFields` below)
    modelConfig.fields.camera_needs_replacing.hidden = true

    modelConfig.fields.carcass_species.hidden = true

    const maskFields = ['quiet_period']
    for (const field of maskFields) {
      modelConfig.fields.camera_trap_settings.modelConfig.fields[field].mask = '##:##'
    }

    const hideDefault = ['number_of_images', 'replacement_SD_card_number', 'replacement_camera_trap_number', 'replacement_battery_type']
    for (const field of hideDefault) {
      modelConfig.fields[field].hidden = true
    }

    const conditionalFields = [
      {
        field: 'number_of_images',
        dependsOn: 'operational_status',
        dependsOnSelection: ['Operational', 'SD card full', 'SD card failure', 'Batteries flat'],
      },
      //only allow replacing camera if it is not operational
      {
        field: 'camera_needs_replacing',
        dependsOn: 'operational_status',
        dependsOnSelection: ['Hardware failure', 'Unknown failure', 'Vandalism', 'Missing/theft'],
      },
      {
        //have to record this regardless of the selected `operational_status`
        field: 'replacement_SD_card_number',
        dependsOn: 'operational_status',
        // dependsOnSelection: ['Operational', 'SD card full', 'SD card failure', 'Batteries flat'],
      },
      {
        field: 'replacement_camera_trap_number',
        dependsOn: 'operational_status',
        dependsOnSelection: ['Hardware failure', 'Unknown failure', 'Vandalism', 'Missing/theft'],
      },
      {
        field: 'replacement_battery_type',
        dependsOn: 'operational_status',
        dependsOnSelection: ['Operational', 'SD card full', 'SD card failure', 'Batteries flat'],
      },
      {
        //only show if the selected point ID has a carcass or carcass feature
        //don't specify `dependsOn` as that will trigger the generic show/hide handler
        field: 'carcass_species',
        fieldCb: this.carcassCallback,
      },
      //camera trap information
      {
        field: 'model',
        dependsOn: 'make',
      },
      {
        field: 'lure_variety',
        dependsOn: 'lure_type',
      },
      {
        field: 'camera_trap_information',
        fieldCb: this.autoFillCb,
        dependsOn: 'camera_needs_replacing',
      },
      //camera trap settings
      {
        field: 'images_per_trigger',
        dependsOn: 'media_type',
        dependsOnSelection: ['I', 'IV'],
      },
      {
        field: 'image_interval',
        dependsOn: 'media_type',
        dependsOnSelection: ['I', 'IV'],
      },
      {
        field: 'image_quality',
        dependsOn: 'media_type',
        dependsOnSelection: ['I', 'IV'],
      },
      {
        field: 'video_length',
        dependsOn: 'media_type',
        dependsOnSelection: ['V', 'IV'],
      },
      {
        field: 'video_resolution',
        dependsOn: 'media_type',
        dependsOnSelection: ['V', 'IV'],
      },      
      {
        field: 'camera_trap_settings',
        fieldCb: this.autoFillCb,
        dependsOn: 'camera_needs_replacing',
      },
    ]


    return {
      modelConfig,
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      relevantDeployments: relevantDeployments,
    }
  },
  methods: {
    /**
     * Handles auto-filling for Camera Trap Information or Settings
     * 
     * When we check 'camera needs replacing', the CT info and CT settings will show
     * (triggered by `x-paratoo-has-dependencies`), and thus we want to autofill the
     * fields like we do for deployment
     * 
     * @param {Object} newVal the `newVal` value of Crud's newRecordWatcher
     * @param {Object} oldVal  the `newVal` value of Crud's newRecordWatcher
     * @param {Object} field the relevant field
     * 
     * @returns {Object} the updated new record with the auto-filled fields
     */
    autoFillCb({ newVal, oldVal, field, inputDef }) {
      let updatedNewRecord = null

      let deploymentIdForReequipping = null
      if (
        typeof newVal?.deployment_id === 'object' &&
        newVal.deployment_id?.value
      ) {
        deploymentIdForReequipping = newVal.deployment_id.value
      } else if (typeof newVal?.deployment_id === 'string') {
        deploymentIdForReequipping = newVal.deployment_id
      } else {
        paratooSentryBreadcrumbMessage(`Unable to determine the deployment ID for reequipping (they might have not selected one yet, or something went wrong). newVal: ${JSON.stringify(newVal)}`)
      }
      paratooSentryBreadcrumbMessage(`deploymentIdForReequipping: ${deploymentIdForReequipping}`)

      if (
        (
          isEmpty(newVal?.camera_trap_information) ||
          isEmpty(newVal?.camera_trap_settings)
        ) &&
        newVal?.camera_needs_replacing === true
      ) {
        paratooSentryBreadcrumbMessage(`Camera for Deployment ID '${deploymentIdForReequipping}' needs replacing, auto-filling fields`)
        paratooSentryBreadcrumbMessage('relevantDeployments:', JSON.stringify(this.relevantDeployments, null, 2))
        //even though deployments have the settings, all fields are not populated by 
        //Strapi so we need to do that here
        const deploymentToAutofillFrom = (() => {
          if (deploymentIdForReequipping) {
            //if they already specified point ID, use that point's CT settings and info
            return this.relevantDeployments.find(o => o.deployment_id === deploymentIdForReequipping)
          } else {
            //if no point ID, just pick the first and autofill from tha
            return this.relevantDeployments[0]
          }
        })()
        paratooSentryBreadcrumbMessage(`deploymentToAutofillFrom: ${JSON.stringify(deploymentToAutofillFrom)}`)
        let deploymentToAutofillFromCtInfoId = null
        if (deploymentToAutofillFrom?.camera_trap_information?.id) {
          deploymentToAutofillFromCtInfoId = deploymentToAutofillFrom.camera_trap_information.id
        } else if (deploymentToAutofillFrom?.camera_trap_information?.temp_offline_id) {
          deploymentToAutofillFromCtInfoId = deploymentToAutofillFrom.camera_trap_information.temp_offline_id
        }
        let deploymentToAutofillFromCtSettingsId = null
        if (deploymentToAutofillFrom?.camera_trap_settings?.id) {
          deploymentToAutofillFromCtSettingsId = deploymentToAutofillFrom.camera_trap_settings.id
        } else if (deploymentToAutofillFrom?.camera_trap_settings?.temp_offline_id) {
          deploymentToAutofillFromCtSettingsId = deploymentToAutofillFrom.camera_trap_settings.temp_offline_id
        }

        if (
          field.field === 'camera_trap_information' &&
          deploymentToAutofillFromCtInfoId !== null
        ) {
          const infoToAutofillFrom = cloneDeep(this.dataManager.cachedModel({
            modelName: 'camera-trap-information',
            childObData: {
              parentModel: 'camera-trap-deployment-point',
              childObFieldName: 'camera_trap_information',
            },
          })).find(o => {
            let currInfoId = null
            if (o.id) {
              currInfoId = o.id
            } else if (o.temp_offline_id) {
              currInfoId = o.temp_offline_id
            }
            return currInfoId === deploymentToAutofillFromCtInfoId
          })
          for (const [key, value] of Object.entries(infoToAutofillFrom)) {
            if (['make', 'model'].includes(key)) {
              //special case - custom LUT.
              //check for object as info collected offline will just be the LUT symbol
              //(and thus doesn't need to be resolved)
              if (value[`${key}_lut`] && typeof value[`${key}_lut`] === 'object') {
                infoToAutofillFrom[key] = {
                  [`${key}_lut`]: value[`${key}_lut`].symbol,
                }
              } else if (value[`${key}_lut`] && typeof value[`${key}_lut`] === 'string') {
                infoToAutofillFrom[key] = {
                  [`${key}_lut`]: value[`${key}_lut`],
                }
              }
              if (value[`${key}_text`]) {
                //only want to add the free text if it's defined, else the LUT won't be
                //selected from this autofill
                infoToAutofillFrom[key][`${key}_text`] = value[`${key}_text`]
              }
              continue
            }
            //cast LUT objects to just their symbols
            if (value && typeof value === 'object' && value.id) {
              infoToAutofillFrom[key] = value.symbol
            }
          }
          
          updatedNewRecord = cloneDeep(newVal)
          updatedNewRecord.camera_trap_information = infoToAutofillFrom
        }
        
        if (
          field.field === 'camera_trap_settings' &&
          deploymentToAutofillFromCtSettingsId !== null
        ) {
          //clone as we don't want to modify store
          const settingToAutofillFrom = cloneDeep(this.dataManager.cachedModel({
            modelName: 'camera-trap-setting',
            childObData: {
              parentModel: 'camera-trap-deployment-point',
              childObFieldName: 'camera_trap_settings',
            },
          })).find(o => {
            let currSettingsId = null
            if (o.id) {
              currSettingsId = o.id
            } else if (o.temp_offline_id) {
              currSettingsId = o.temp_offline_id
            }
            return currSettingsId === deploymentToAutofillFromCtSettingsId
          })
          for (const [key, value] of Object.entries(settingToAutofillFrom)) {
            //cast LUT objects to just their symbols
            if (value && typeof value === 'object' && value.id) {
              settingToAutofillFrom[key] = value.symbol
            }
          }

          updatedNewRecord = cloneDeep(newVal)
          updatedNewRecord.camera_trap_settings = settingToAutofillFrom
        }

        notifyHandler('info', `Field '${prettyFormatFieldName(field.field)}' auto-filled for your convenience`)
        
        if (updatedNewRecord?.camera_trap_settings?.time_lapse_schedule) {
          const dataWithoutId = updatedNewRecord.camera_trap_settings.time_lapse_schedule.map(({ id, ...rest }) => rest)
          updatedNewRecord.camera_trap_settings.time_lapse_schedule = dataWithoutId
        }
      } else if (oldVal.camera_needs_replacing && !newVal.camera_needs_replacing) {
        //box unchecked so remove autofill
        updatedNewRecord = cloneDeep(newVal)
        updatedNewRecord.camera_trap_settings = null
        updatedNewRecord.camera_trap_information = null
      }

      if (inputDef?.model === 'camera_trap_settings') {
        const hasTimeLapse = updatedNewRecord?.camera_trap_settings?.time_lapse
        if (hasTimeLapse !== undefined) {
          for (const field of ['time_lapse_interval', 'time_lapse_schedule']) {
            inputDef.modelConfig.fields[field].hidden = !hasTimeLapse
          }
        }
      }

      console.log('updatedNewRecord:', updatedNewRecord)
      return updatedNewRecord
    },
    /**
     * Determines whether to show the carcass species field based on if the selected
     * point ID contains a relevant feature
     * 
     * @param {Object} newVal the `newVal` value of Crud's newRecordWatcher
     * @param {Object} oldVal  the `newVal` value of Crud's newRecordWatcher
     * @param {Object} field the relevant field
     * @param {Object} inputDef the field's input (field) definition
     * 
     * @returns {Boolean} whether to refresh the fields (used by consumer of this CB)
     */
    carcassCallback({ newVal, field, inputDef }) {
      if (newVal.deployment_id) {
        const selectedDeploymentId = newVal.deployment_id?.label || newVal.deployment_id
        const relevantDeployment = this.relevantDeployments.find(o => o.deployment_id === selectedDeploymentId)

        const cachedFeatures = this.dataManager.cachedModel({
          modelName: 'camera-trap-feature',
          childObData: {
            parentModel: 'camera-trap-deployment-point',
            childObFieldName: 'features',
          },
        })
        const resolvedFeatures = (() => {
          const resolved = []
          for (const dFeature of relevantDeployment.features) {
            let currDFeatureId = null
            if (dFeature.id) {
              currDFeatureId = dFeature.id
            } else if (dFeature.temp_offline_id) {
              currDFeatureId = dFeature.temp_offline_id
            }

            if (currDFeatureId !== null) {
              for (const feature of cachedFeatures) {
                let currCachedFeatureId = null
                if (feature.id) {
                  currCachedFeatureId = feature.id
                } else if (feature.temp_offline_id) {
                  currCachedFeatureId = feature.temp_offline_id
                }

                if (currDFeatureId === currCachedFeatureId) {
                  resolved.push(feature)
                }
              }
            }
            
          }
          return resolved
        })()

        if (
          resolvedFeatures.some(
            o => o.feature.feature_lut &&
              ['CN', 'CP'].some(
                //check with and without property `symbol`, as this won't be present if
                //the feature was collected offline
                f => f === o.feature.feature_lut || o.feature.feature_lut.symbol
              )
          )
        ) {
          console.debug(`showing field '${field.field}'`)
          inputDef.hidden = false
          return true   //trigger field refresh
        } else {
          console.debug(`hiding field '${field.field}'`)
          inputDef.hidden = true
          return true   //trigger field refresh
        }
      }
    },
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  }
}
</script>