<!-- Based upon https://github.com/pierresaid/vue-pwa-camera -->
<template>
  <!-- Only display this if we have a cameraType set,
However, this component will only be loaded if a cameraType is selected in any case -->
  <p v-if="videoDevices.length == 0" class="text-negative">
    No camera detected.
  </p>
  <div v-if="cameraType">
    <div>
      <q-toggle v-model="useFilePicker" label="Select Photo From Device" data-cy="useFilePicker"/>
    </div>
    <!-- if we can take multiple media, display these in a gallery -->
    <div
      v-show="photoRecords.length"
      class="row justify-center"
      style="margin: 0.5em 0 0.5em 0"
      wrap
    >
      <table v-if="allowMultipleMedia">
        <caption class="text-h5">
          Preview
        </caption>
        <thead>
          <tr>
            <th scope="col">photo</th>
            <th scope="col" v-if="allowComment">comment</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(record, index) of photoRecords"
            :id="`${record.file_identifier}`"
            :key="record.file_identifier"
          >
            <td class="photo-column">
              <div id="preview-photo">
                <async-img
                  alt="preview photo"
                  :src="record.src || record.media"
                  @click="useExpandImage(record.src || record.media)"
                  class="galleryImg"
                  style="max-width: 250px"
                />
              </div>
            </td>
            <td v-show="allowComment" class="comment-column">
              <p class="mobile-hide" :data-cy="`commentPreview_${index}`">{{ record.comment }}</p>
              <div>
                <q-btn
                  :data-cy="`comment_${index}`"
                  icon="comment"
                  class="q-mr-sm"
                  @click="
                    toggleComment(
                      allowMultipleMedia ? record.file_identifier : null,
                    )
                  "
                />
              </div>
            </td>
            <td class="delete-button">
              <div>
                <q-btn
                  data-cy="delete"
                  icon="delete"
                  class="row-1"
                  @click="
                    clearMedia(
                      allowMultipleMedia ? record.file_identifier : null,
                    )
                  "
                />
              </div>
            </td>
            <!-- comment dialog -->
            <q-dialog v-model="showComment" :persistent="!disableComment">
              <q-card class="comment">
                <q-card-section class="row items-center q-pb-none">
                  <div class="text-h6">Add/Edit Photo's Comment</div>
                  <q-space />
                  <q-btn
                    icon="close"
                    v-if="disableComment"
                    flat
                    round
                    dense
                    v-close-popup
                  />
                </q-card-section>
                <q-card-section class="q-pt-none">
                  <q-input
                    :data-cy="`addComment_${index}`"
                    autogrow
                    dense
                    v-model="photoComment"
                    ref="commentInput"
                    counter
                  />
                </q-card-section>
                <q-card-actions align="right" class="text-primary">
                  <q-btn
                    :data-cy="`saveComment_${index}`"
                    flat
                    label="Save"
                    @click="editComment(allowMultipleMedia ? record.file_identifier : null)"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>
          </tr>
        </tbody>
      </table>
      <!-- display image to dialog -->
      <ExpandImage
        v-if="tempImgSrc"
        v-model="expandImage"
        :img-src="tempImgSrc"
      />
    </div>
    <!-- the video feed from the camera -->
    <!-- We set the display to none to keep it loaded and initialised (rather than v-if) -->
    <q-spinner v-if="isLoading" color="primary" size="6em" class="q-pa-md" data-cy="isLoading"/>
    <video
      v-if="!useFilePicker"
      v-show="!isLoading"
      ref="video"
      :style="
        (`${!showTakenMedia ? '' : 'display:none;'}  max-height: 85vh`,
        $q.screen.lt.sm ? { width: '80%' } : { width: '50%' })
      "
      :class="facingMode === 'user' ? 'front' : ''"
      data-cy="cameraIsReady"
    />
    <div v-if="!useFilePicker">
      <!-- Used as  intermediary component to draw from video, scale, and save -->
      <canvas ref="canva" style="display: none; width: 50%" />
      <!-- switch between cameras -->
      <q-btn
        v-if="videoDevices.length > 1"
        class="button is-rounded is-outlined switch-button"
        :disabled="switchingCamera"
        @click="switchCamera"
      >
        <q-icon name="las la-sync-alt" />
      </q-btn>

      <!-- takes the photo -->
      <div class="photo-button-container">
        <q-btn
          v-if="!isLoading"
          data-cy="takePhoto"
          color="primary"
          :disable='isSavingPhoto'
          @click="TakePhoto()"
        >
          <q-icon v-if='!isSavingPhoto' name="las la-camera"/>
          <q-spinner v-else data-cy="isSaving"/>
        </q-btn>
      </div>

      <!-- clears taken photo -->
      <div
        v-if="!allowMultipleMedia && newRecord.length > 0"
        class="photo-button-container"
      >
        <q-btn color="primary" outline @click="clearMedia()">
          Retake photo
        </q-btn>
      </div>

      <!-- prepares camera to take another photo (if doing multiple media) -->
      <!-- <div
        v-if="allowMultipleMedia && showTakenMedia"
        class="photo-button-container"
      >
        <q-btn color="primary" outline @click="showTakenMedia = false">
          Take another photo
        </q-btn>
      </div> -->
    </div>
    <File
      v-if="useFilePicker"
      :model-value="newRecord"
      :allow-multiple-files="allowMultipleMedia"
      :file-type="`${allowMultipleMedia ? 'multi_' : ''}photo`"
      :is-camera-child="true"
      @update:modelValue="
        (e) => {
          newRecord = e
        }
      "
    />
    <!-- <q-input v-if="useComments" label="Photo comment" v-model="photoComment" /> -->
  </div>
</template>

<script>
import File from './File'
import {
  notifyHandler,
  paratooWarnHandler,
  paratooWarnMessage,
  checkStorageAvailability,
  paratooErrorHandler,
} from '../misc/helpers'
import { isEmpty, findIndex } from 'lodash'
import { useEphemeralStore } from 'src/stores/ephemeral'
import ExpandImage from 'src/components/ExpandImage.vue'
import { binary } from 'src/misc/binary'
import { cloneDeep } from 'lodash'

export default {
  components: {
    File,
    ExpandImage,
  },
  props: {
    //crud passes the model of the media to be used as the media type
    //e.g., plant/bark/etc (floristics lite), photos (floristics full),
    //media (opportunistic)
    cameraType: {
      type: String,
      required: false,
      default: undefined,
    },
    //flag to determine if media is stored in an array, or separate entries. Strapi
    //will expect these if the model is multiple or single media
    allowMultipleMedia: {
      type: Boolean,
      required: false,
      default: false,
    },
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    allowComment: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    return { ephemeralStore }
  },
  inject: {
    currRowDataKey: { from: 'currRowDataKey' },
    subModuleRowDataKey: { from: 'subModuleRowDataKey', default: undefined },
  },
  data() {
    const protocolId = this.$route.params['protocolId']
    return {
      protocolId,
      videoDevices: [],
      facingMode: 'environment',
      counter: 0,
      switchingCamera: false,
      showCamera: false,
      useFilePicker: false,
      showTakenMedia: false,
      // control comment dialog
      showComment: false,
      disableComment: true,
      // expand preview image
      expandImage: false,
      tempImgSrc: null,
      // comment in payload need to be a string
      photoComment: '',
      // q-dialog doesn't receive scoped variable of an iteration in v-for loop
      tempPhotoId: null,
      isLoading: false,
      isSavingPhoto: false,
    }
  },
  computed: {
    newRecord: {
      get() {
        if (!this.modelValue) return []

        if (Array.isArray(this.modelValue)) return this.modelValue
        else {
          return [this.modelValue]
        }
      },
      set(val) {
        if ((Array.isArray(val) && val.length < 1) || isEmpty(val)) {
          // don't save an empty object (when last photo removed)
          this.$emit('update:modelValue', undefined)
          return
        }
        if (this.allowMultipleMedia && !Array.isArray(val)) {
          // multi files should return an array
          this.$emit('update:modelValue', [val])
          return
        }
        this.$emit('update:modelValue', val)
      },
    },
    photoRecords: {
      get() {
        return this.newRecord.filter(
          (record) =>
            record.fileType === 'photo' || record.fileType === 'multi_photo',
        )
      },
    },
  },
  watch: {
    cameraType: function () {
      this.useFilePicker = false
      this.showTakenMedia = false
    },
    useFilePicker: function () {
      this.showTakenMedia = false
      this.showCameraComputed = false

      if (!this.useFilePicker) {
        this.setupCamera()
      }
    },
  },
  async mounted() {
    this.isLoading = true
    await this.setupCamera()
    this.isLoading = false
  },
  methods: {
    /**
     * Finds a unique ID to set on the media array object
     */
    findUseID() {
      // use lowest non-duplicate ID
      let useID = 0
      while (
        findIndex(this.newRecord, (o) => {
          return o.id === useID
        }) !== -1
      )
        useID++
      return useID
    },
    /**
     * Prepares the camera for use and starts recording
     */
    async setupCamera() {
      //TODO: for apple device when mounted it will not show switch button
      //camera is already shown, so clicking the camera button will close it
      if (this.showCameraComputed) {
        //close the camera
        this.showCameraComputed = false
      } else {
        //show the camera and set it up
        this.showCameraComputed = true
        const devices = await navigator.mediaDevices.enumerateDevices()
        this.videoDevices = devices.filter((d) => d.kind === 'videoinput')
        // console.debug('videoDevices', this.videoDevices)
        // console.debug('videoDevices.length', this.videoDevices.length)

        if (this.videoDevices.length === 0) {
          const msg = 'Failed to start the camera'
          if (this.ephemeralStore.checkMediaNotificationTimer()) {
            notifyHandler('warning', msg)
          }
          paratooWarnMessage(msg)
          this.useFilePicker = true
        } else {
          // setdefault camera
          await this.StartRecording('environment')
        }
      }
    },
    /**
     * Records using the camera via the built-in browser `navigator` interface
     */
    async StartRecording(facingMode) {
      this.facingMode = facingMode
      let video = this.$refs.video
      if (!video) return
      try {
        // only called once
        if (!this.ephemeralStore.userMedia.camera) {
          this.ephemeralStore.userMedia.camera =
            await navigator.mediaDevices.getUserMedia({
              video: {
                facingMode: facingMode,
              },
            })
        }
      } catch (err) {
        let msg = 'Failed to start the camera'
        if (this.ephemeralStore.checkMediaNotificationTimer()) {
          notifyHandler('warning', msg, err)
        }
        this.useFilePicker = true
        paratooWarnHandler(msg, err)
        return
      }
      video.srcObject = this.ephemeralStore.userMedia.camera
      return await video.play()
    },
    /**
     * Takes the photo based on the current video screen and adds it to component's
     * local storage for sending to parent
     */
    async TakePhoto() {
      let video = this.$refs.video
      let canva = this.$refs.canva

      let width = video.videoWidth //FIXME make width of camera resolution
      let height = video.videoHeight //FIXME make height of camera resolution
      canva.width = width
      canva.height = height
      let ctx = canva.getContext('2d')

      if (this.facingMode === 'user') {
        ctx.scale(-1, 1)
        ctx.drawImage(video, width * -1, 0, width, height)
      } else {
        ctx.drawImage(video, 0, 0)
      }
      this.showTakenMedia = true

      //TODO test that this try/catch will work on certain incompatible browsers.
      //See: https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL#browser_compatibility
      let src
      try {
        //TODO confirm that this is defaulting to lossless when compatible (it should try
        //lossless but fallback to lossy if not compatible).
        //See: https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types#webp_image
        src = await new Promise((res) => canva.toBlob(res, 'image/webp'))
      } catch (err) {
        let msg =
          'Tried to use WebP image format but could. Device might not be ' +
          'compatible so falling back to JPEG. See error: ' +
          `${err}`
        paratooWarnMessage(msg)
        //TODO do we want to fallback to PNG or JPEG?
        src = await new Promise((res) => canva.toBlob(res, 'image/jpeg'))
      }

      // check if storage is available
      const isStorageAvailable = await checkStorageAvailability(src.size)
      if (!isStorageAvailable) {
        notifyHandler(
          'negative',
          'Your device is out of storage space, please delete some files and try again.',
        )
        return
      }

      // save the photo to indexedDb
      try {
        const modelName = this.subModuleRowDataKey || this.currRowDataKey
        this.isSavingPhoto = true
        const file_identifier = await binary.saveBinary(
          src,
          this.protocolId,
          modelName,
        )
        const newPhoto = {
          id: this.findUseID(),
          //one of the 10 file types we used (derived from Strapi's media types):
          //  multi_photo, photo, multi_video, video,  multi_audio, audio, multi_file,
          //  file, multi_any_file, any_file.
          fileType: `${this.allowMultipleMedia ? 'multi_' : ''}photo`,
          file_identifier,
          mimeType: src.type,
        }
        // add comment property to new photo object if protocol requires commment to photo
        if (this.allowComment) {
          newPhoto.comment = ''
          // src of media in a strapi in payload of post request need to be "media" instead of "src" for single photo or media without comment
          newPhoto.media = file_identifier
        } else {
          newPhoto.src = file_identifier
        }

        if (this.allowMultipleMedia) {
          let oldRecord = [...this.newRecord]
          oldRecord.push(newPhoto)
          this.newRecord = oldRecord
          this.photoComment = ''
        } else {
          // for single photo in post request to strapi
          this.newRecord = newPhoto
        }
      } catch (error) {
        paratooErrorHandler(`Failed to save photo in Camera_WEB.vue`, error)
        notifyHandler('negative', 'Failed to save photo, please try again')
        return
      } finally {
        this.isSavingPhoto = false
      }
    },
    /**
     * Clears photo currently in canvas, or specified index of one
     */
    clearMedia(id = null) {
      if (id) {
        const index = findIndex(this.newRecord, (o) => {
          return o.file_identifier === id
        })
        let oldRecord = this.newRecord
        oldRecord.splice(index, 1)
        this.newRecord = cloneDeep(oldRecord) 
      } else {
        // this.newRecord.pop()
        this.newRecord = undefined
      }

      // make sure we're not displaying any taken images
      this.showTakenMedia = false
    },
    /**
     * Changes camera if there are more than one camera devices, e.g., selfie camera and
     * main back camera on phones/tablets
     */
    async switchCamera() {
      this.switchingCamera = true
      const tracks = this.ephemeralStore.userMedia.camera.getVideoTracks()
      tracks.forEach((track) => {
        track.stop()
      })
      this.ephemeralStore.userMedia.camera = null
      await this.StartRecording(
        this.facingMode === 'environment' ? 'user' : 'environment',
      )
      this.switchingCamera = false
    },
    /**
     * Shows the comment dialog and inits an existing comment (if it has one)
     * 
     * @param {String} id the file_identifier UUID
     */
    toggleComment(id = null) {
      this.showComment = !this.showComment
      this.tempPhotoId = id
      const index = findIndex(this.newRecord, (o) => {
        return o.file_identifier === id
      })
      if (index !== -1) {
        let currentComment = this.newRecord[index].comment
        this.photoComment = currentComment
      }
    },
    useExpandImage(src) {
      this.expandImage = !this.expandImage
      this.tempImgSrc = src
    },
    /**
     * Saves/edits the comment and closes dialog
     */
    editComment() {
      let id = this.tempPhotoId
      const recordIndex = findIndex(this.newRecord, (o) => {
        return o.file_identifier === id
      })
      let newComment = this.photoComment
      this.newRecord = this.newRecord.map((element, index) => {
        if (recordIndex === index) {
          element.comment = newComment
        }
        return element
      })
      this.showComment = false
      let msg = 'New comment added'
      notifyHandler('positive', msg)
      this.tempPhotoId = null
    },
  },
}
</script>

<style scoped>
.galleryImg {
  border-radius: 2px;
  border: 1px solid #666;
  width: 100%;
  max-width: 15em;
  height: auto;
}
video {
  position: relative;
}
.comment {
  width: 90vw;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  max-height: 30vh;
}
tbody > tr {
  max-height: 20vh;
}
.comment-column {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}
.photo-column {
  width: 33%;
  white-space: nowrap;
}
.comment-column > p {
  padding: 1em;
  word-break: break-all;
  overflow: auto;
  max-height: 15vh;
}

.delete-button {
  width: 10%;
}

.img-dialog {
  /* height: 80vh;
  width: 80vw; */
  padding: 1em;
  background: rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.close-img-btn {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
}
</style>
