<template>
  <div>
    <!-- TODO enforce locking selection once they start collecting data in the next step -->
    <p>
      Note: once you select a survey type, it cannot be changed due to
      conditional fields present.
    </p>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :disable="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @new-record-changed="validatePlannedPointsFileStructure"
      @update:modelValue="(e) => $emit('update:modelValue', e)"
    />
  </div>
</template>
<script>
import {
  asyncCrud,
  makeModelConfig,
  getCameraTrapVariant,
  createDependentFieldCallback,
  paratooWarnHandler,
  paratooWarnMessage,
  notifyHandler,
} from '../misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useDataManagerStore } from 'src/stores/dataManager'
import { latLng } from 'leaflet'
export default {
  inject: ['doc'],
  name: 'CameraTrapSurvey',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const dataManager = useDataManagerStore()
    return {
      apiModelsStore,
      dataManager,
    }
  },
  data() {
    const ctVariant = getCameraTrapVariant(this.protocolId)
    console.log('ctVariant:', ctVariant)
    let modelConfig = makeModelConfig(
      `camera-trap-${ctVariant}-survey`,
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )

    const conditionalFields = []

    if (ctVariant !== 'deployment') {
      /* const FILTER_DISTANCE_THRESHOLD = window.Cypress
        ? 10000000 //FIXME not the best solution for dealing with location flake, but good enough for now
        : 100000 // 100 km */
      //survey labels are so we can grab the deployment points - so override the text entry to be dropdown
      //TODO should filter on the project (#337), i.e., the user selects their project before starting collection so only the deployment points for that survey should be shown. Will require Org to implement the 'get ID for collection' requirement
      modelConfig.fields.survey_label.type = 'filteredSelect'
      const deployments =  this.dataManager.cachedModel({ modelName: 'camera-trap-deployment-point' })
      const retrievals = this.dataManager.cachedModel({ modelName: 'camera-trap-retrieval-point' })
      // keep track of trap id per survey to determine if all the deployments have been collected
      const trapIdsPerSurvey = {}
      const getCurrSurveyId = (survey) => {
        let currSurveyId = null
        if (survey.id && !survey.temp_offline_id) {
          currSurveyId = survey.id
        } else {
          currSurveyId = survey.temp_offline_id
        }
        return currSurveyId
      }
      modelConfig.fields.survey_label.options = this.dataManager
        .cachedModel({ modelName: 'camera-trap-deployment-survey' })
        .filter((s) => {
          let surveyIsRelevant = false

          const currSurveyId = getCurrSurveyId(s)

          trapIdsPerSurvey[currSurveyId] = {}

          deployments.filter((p) => {
              //p => p.camera_trap_survey.id === s.id
              let currPointsSurveyId = null
              if (p?.camera_trap_survey?.id) {
                currPointsSurveyId = p.camera_trap_survey.id
              } else if (p?.camera_trap_survey?.temp_offline_id) {
                //point was collected offline so a temporary copy of the (offline) survey
                //is included
                currPointsSurveyId = p.camera_trap_survey.temp_offline_id
              }
              const isRelevant = currPointsSurveyId === currSurveyId
              if(isRelevant) {
                trapIdsPerSurvey[currSurveyId][p.deployment_id]=true
              }
              return isRelevant
            })
            .forEach((p) => {
              //FIXME put this back in or properly remove it for #337. This is a temp hotfix for #1756
              /* const distanceFromSurveyLocation = getDistanceFromLatLonInM(
                this.userCoords,
                p.camera_location,
              )
              if (
                //can't just check if the variable exists, as if it's 0, it will be falsy
                Number.isInteger(Math.round(distanceFromSurveyLocation)) &&
                distanceFromSurveyLocation < FILTER_DISTANCE_THRESHOLD
              ) {
                surveyIsRelevant = true
              } */
             if (p) surveyIsRelevant = true
            })
          if (surveyIsRelevant) return s
        })
        .map((o) => {
          const currSurveyId = getCurrSurveyId(o)
          
          const currTrapIds = trapIdsPerSurvey[currSurveyId]
          const numDeployments = Object.values(currTrapIds)?.length

          let retrievalCount = 0
          for(const retrieval of retrievals) {
            if(currTrapIds[retrieval.deployment_id]) {
              retrievalCount++
            }
          }
          const allCameraAreRetrieved = retrievalCount === numDeployments
          const option = {
            label: o.survey_label, 
            value: o.survey_label,
            inactive: allCameraAreRetrieved
          }
          if(allCameraAreRetrieved) {
            option.label = option.label + ' (All Cameras Retrieved)'
          }
          return option
        })
      // modelConfig.fields.survey_label.hint = `Select the survey label recorded during deployment (filtered by deployments less than ${
      //   FILTER_DISTANCE_THRESHOLD / 1000
      // }km from current location)`
      modelConfig.fields.survey_label.hint = `Select the survey label recorded during deployment, survey that has all cameras retrieved won't be able to be selected again`
    } else {
      modelConfig.fields.planned_points.hidden = true
      //TODO support other file types (using similar logic for GrassyWeedsMap); had to remove JSON (which is actually GeoJSON) due to the convoluted process of getting it - better to properly support GeoJSON (and KML), so just support CSV for now
      modelConfig.fields.planned_points.fileTypeOverride = ['text/csv']
      conditionalFields.push({
        field: 'planned_points',
        dependsOn: 'survey_type',
        dependsOnSelection: ['AG', 'AT'],
      })
    }

    const currProtInfo = this.apiModelsStore.protocolInformation({
      protId: this.protocolId,
    })
    if (currProtInfo.workflow.some((o) => o.modelName.includes('deploy'))) {
      //survey type only needs to be set in deployment, so make it required
      modelConfig.fields.survey_type.rules.push(
        (value) =>
          (value !== undefined && value !== null && value !== '') ||
          `This field is required`,
      )
    }

    return {
      modelConfig,
      conditionalFieldsCallback: createDependentFieldCallback(),
      conditionalFields: conditionalFields,
      invalidFileStructure: false,
    }
  },
  methods: {
    async onSubmitFunc() {
      if (this.invalidFileStructure) {
        notifyHandler(
          'negative',
          'The planned points file is not structured correctly.',
        )
        return false
      }
      return await this.$refs['crud'].onSubmitFunc()
    },
    async validatePlannedPointsFileStructure({ newRecord }) {
      const fileMetadata = newRecord?.planned_points
      if (!fileMetadata) return
      const fileType = fileMetadata.src.type
      if (!(fileMetadata.src instanceof File)) return
      const rawData = await fileMetadata.src.text()
      switch (fileType) {
        case 'text/csv':
          this.validateCsvFileStructure(rawData)
          break

        case 'application/json':
          this.validateJsonFileStructure(rawData)
          break

        default:
          // this.invalidFileStructure = true

          break
      }
      if (this.invalidFileStructure) {
        notifyHandler(
          'negative',
          'The planned points file is not structured correctly.',
        )
      }
    },
    async validateJsonFileStructure(rawData) {
      const rawPlannedPoints = JSON.parse(rawData).features
      for (const point of rawPlannedPoints) {
        const lat = point.geometry.coordinates[1]
        const lng = point.geometry.coordinates[0]
        if (!this.validateLatLng(lat, lng)) break
        else {
          this.invalidFileStructure = false
        }
      }
    },
    validateCsvFileStructure(rawPlannedPoints) {
      const plannedPoints = rawPlannedPoints.split('\n').slice(1)
      for (const row of plannedPoints) {
        const cells = row.split(',')
        const lat = cells[1]
        const lng = cells[2]
        if (!this.validateLatLng(lat, lng)) break
        else {
          this.invalidFileStructure = false
        }
      }
    },
    validateLatLng(lat, lng) {
      try {
        const validLatLng = latLng(lat, lng)
        if (!validLatLng) {
          paratooWarnMessage('invalid lat lng')
          this.invalidFileStructure = true
          return false
        }
        return true
      } catch (error) {
        paratooWarnHandler('invalid lat lng', error)
        this.invalidFileStructure = true
        return false
      }
    },
  },
}
</script>
