<template>
  <div v-if="userCoords && plannedPoints !== null">
    <l-map
      :min-zoom="minZoom"
      :max-zoom="maxZoom"
      :style="isMobileDevice ? 'height: 350px; width: 100%' : 'height: 500px; width: 100%'"
      :center="currentCenter"
      :zoom="currentZoom"
      ref="theMap"
      @ready="makeMapRef()"
    >
      <l-tile-layer :url="url" :attribution="attribution" />

      <l-control position="bottomleft">
        <q-btn color="grey" icon="my_location" @click="backToLocation" />
      </l-control>
      <l-control-scale
      position="bottomright"
      :imperial="true"
      :metric="true"
      />

      <l-marker :lat-lng="userCoords || { lat: 0, lng: 0 }">
        <l-tooltip>
          <div>Current Location</div>
        </l-tooltip>
      </l-marker>

      <l-circle-marker
        v-for="coord of plannedPoints"
        :key="coord.name"
        :lat-lng="coord"
        :color="plannedPointMarkerColour(coord)"
        :weight="10"
      >
        <l-tooltip> {{ coord.name }} </l-tooltip>
      </l-circle-marker>
    </l-map>
    <q-btn label="Mark Closest Camera Point" data-cy="mark_closest_camera_point" color="primary" class="q-mt-sm" @click="markCameraPoint()" />
  </div>
  <div v-else>
    <h4 v-if="!userCoords">Waiting for GPS...</h4>
    <h4 v-else-if="plannedPoints === null && plannedPointsLoading">Getting planned points...</h4>
    <p v-else>No planned points list</p>
  </div>
</template>

<script>
import {
  LMap,
  LTileLayer,
  LMarker,
  LTooltip,
  LCircleMarker,
  LControl,
  LControlScale,
} from 'vue-leaflet/src/components'
import { useBulkStore } from 'src/stores/bulk'
import {
  getCameraTrapVariant,
  checkEligibleLocationPoint,
  notifyHandler,
} from 'src/misc/helpers'
import { binary } from 'src/misc/binary'
import {
  cloneDeep,
} from 'lodash'

export default {
  name: 'CameraTrapArrayMap',
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
    LCircleMarker,
    LControl,
    LControlScale
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const url = `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`
    const attribution =
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    const bulkStore = useBulkStore()
    return {
      bulkStore,
      url,
      attribution,
    }
  },
  async mounted() {
    //start a 5s timer, which should be enough to construct the points list if provided
    setTimeout(() => {
      this.plannedPointsLoading = false
    }, 5000)

    await this.plannedPointsList()
  },
  data() {    
    return {
      map: null,
      minZoom: 1,
      maxZoom: 20,
      currentZoom: 11.5,
      currentCenter: this.userCoords,
      plannedPointsLoading: true,
      plannedPoints: null,
      points: [],
    }
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
  methods: {
    /**
     * Creates a reference to the map so we can access it programmatically
     * 
     * https://vue2-leaflet.netlify.app/quickstart/#accessing-leaflet-api
     */
    makeMapRef() {
      this.map = this.$refs.theMap.leafletObject
    },
    /**
     * Constructs the list of planned points - converts the base64 in the store back to GeoJSON or CSV
     */
    async plannedPointsList() {
      const ctVariant = getCameraTrapVariant(this.protocolId)
      const currCollection = this.bulkStore.collectionGetForProt({ protId: this.protocolId })[`camera-trap-${ctVariant}-survey`]

      if (
        !currCollection ||
        (currCollection && !currCollection.planned_points) ||
        (currCollection && currCollection.planned_points && !currCollection.planned_points.src)
      ) {
        return null
      }

      //store has GeoJSON as base64, so convert back to `File` and read the actual text
      //  data (which is stringified JSON)
      //or the store has CSV, in which we just need to convert back to `File` and parse
      //  CSV strings
      const plannedPointsFile = await binary.getRawBinary(currCollection.planned_points.src)
      let plannedPoints = null
      if (currCollection.planned_points.fileName.endsWith('.json')) {
           //https://stackoverflow.com/a/67479344
          plannedPoints = JSON.parse(await plannedPointsFile.text()).features.map(o => {
          return {
            name: o.properties['Name'],
            lat: o.geometry.coordinates[1],
            lng: o.geometry.coordinates[0],
          }
        })
      } else if (currCollection.planned_points.fileName.endsWith('.csv')) {
        const rawPlannedPoints = await plannedPointsFile.text()
        plannedPoints = rawPlannedPoints
          //each row separated by newline
          .split('\n')
          //removes 0th row (CSV column headings)
          .slice(1)
          .map(o => {
            //each column separated by comma
            const currRowAsArr = o.split(',')
            return {
              name: currRowAsArr[0],
              lat: currRowAsArr[1],
              lng: currRowAsArr[2],
            }
          })
      }
      
      console.debug('plannedPoints: ', plannedPoints)
      this.plannedPoints = plannedPoints
    },
    /**
     * Moves the map back to the user's location
     */
    backToLocation() {
      this.map.panTo(this.userCoords)
    },
    /**
     * Finds the closest planned point and autofills it and some other relevant fields
     */
    markCameraPoint() {
      const meterMinimum = 50  //default 50
      const currentLocation = this.userCoords
      let eligiblePoint = checkEligibleLocationPoint(this.plannedPoints, this.points, meterMinimum, currentLocation)

      if (!eligiblePoint) {
        notifyHandler(
          'negative',
          `Point not recorded. GPS must detect less than ${meterMinimum} meter range from any planned point.`,
        )
        return
      }
      let updatedModelValue = cloneDeep(this.modelValue)
      updatedModelValue.camera_location = {
        lat: this.userCoords.lat,
        lng: this.userCoords.lng,
        name: eligiblePoint.name,
      }
      updatedModelValue.distance_to_closest_point = Math.floor(eligiblePoint.distanceToCurrent)
      updatedModelValue.camera_trap_point_id = eligiblePoint.name
      this.$emit('update:modelValue', updatedModelValue)
      notifyHandler(
        'info',
        `Auto-filled 'point ID', 'distance to closest point' and 'camera location' for camera '${eligiblePoint.name}'. You can change/override these if desired.`,
      )
    },
    /**
     * Determines the marker colour for the planned points on the map
     * 
     * @param {Object} coord the coordinates object with keys: `lat`, `lng`, `name`
     * @param {Number} coord.lat the planned point's latitude
     * @param {Number} coord.lng the planned point's longitude
     * @param {String} coord.name the name of the planned point
     * 
     * @returns {'green'|'yellow'} 'yellow' for unmarked, 'green' for marked
     */
    plannedPointMarkerColour(coord) {
      const currCollection = this.bulkStore.collectionGetForProt({ protId: this.protocolId })
      if (
        coord?.name &&
        currCollection?.['camera-trap-deployment-point'] &&
        Array.isArray(currCollection['camera-trap-deployment-point']) &&
        currCollection['camera-trap-deployment-point']
          .some(o => o?.camera_location?.name && o.camera_location.name === coord.name)
      ) {
        return 'green'
      }

      return 'yellow'
    },
  }
}
</script>