<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :collection-survey-flag="true"
      :user-coords="userCoords"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @collection-entry-added="collectionEntryAdded"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>
<script>
import { 
  asyncCrud, 
  makeModelConfig, 
  getCameraTrapVariant ,
  createDependentFieldConfig,
  createDependentFieldCallback,
  prettyFormatFieldName,
  notifyHandler,
} from '../misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import {
  cloneDeep,
  isEqual,
} from 'lodash'

export default {
  inject: ['doc'],
  name: 'CameraTrapDeployment',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    return {
      apiModelsStore,
      bulkStore,
    }
  },
  mounted() {
    if (window.Cypress) {
      //exposes `data()` to Cypress (for accessing things like `featuresHideDefault`)
      //source: https://stackoverflow.com/a/62306039
      window.CameraTrapDeployment = this
    }
  },
  data() {
    let modelConfig = makeModelConfig(
      `camera-trap-${getCameraTrapVariant(this.protocolId)}-point`,
      this.doc,
      this.protocolId,
    )

    //set fields that depend on survey type to hidden, then determine if they should be shown
    const hideDefault = ['distance_to_closest_point', 'transect_number', 'fauna_plot']
    for (const field of hideDefault) {
      modelConfig.fields[field].hidden = true
    }
    const featuresHideDefault = ['carcass_species', 'plant_species', 'sign_species', 'bait_station_mount', 'lure_height', 'lure_type', 'lure_variety']
    for (const field of featuresHideDefault) {
      modelConfig.fields.features.modelConfig.fields[field].hidden = true
    }

    const survey = this.bulkStore.collectionGetForProt({ protId: this.protocolId })['camera-trap-deployment-survey']
    const selectedSurveyType = survey.survey_type
    switch (selectedSurveyType) {
      case 'AG':
        modelConfig.fields.distance_to_closest_point.hidden = false
        break
      case 'AT':
        modelConfig.fields.distance_to_closest_point.hidden = false
        modelConfig.fields.transect_number.hidden = false
        break
      case 'F':
        modelConfig.fields.fauna_plot.hidden = false
        modelConfig.fields.fauna_plot.optionsFilter = (item) => {
          return item?.fauna_plot_point?.length > 0
        }
        break
    }

    modelConfig.fields.camera_trap_information.modelConfig.title = modelConfig.fields.camera_trap_information.label
    modelConfig.fields.features.modelConfig.title = modelConfig.fields.features.modelConfig.title + ' *'
    modelConfig.fields.camera_trap_settings.modelConfig.title = modelConfig.fields.camera_trap_settings.modelConfig.title + ' *'

    //camera trap info camera model
    const confCtInfoCameraMake = modelConfig.fields.camera_trap_information.modelConfig.fields.make
    let confCtInfoCameraModel = modelConfig.fields.camera_trap_information.modelConfig.fields.model
    createDependentFieldConfig(confCtInfoCameraModel, confCtInfoCameraMake.select.optionsKey, 'make', 'make', true, this.apiModelsStore)

    //camera lure variety
    const confLureType = modelConfig.fields.features.modelConfig.fields.lure_type
    let confLureVariety = modelConfig.fields.features.modelConfig.fields.lure_variety
    createDependentFieldConfig(confLureVariety, confLureType.optionsKey, 'lure_type', 'lure_type', true, this.apiModelsStore)

    //camera trap settings
    const ctSettingsHideDefault = ['images_per_trigger', 'image_interval', 'image_quality', 'video_length', 'video_resolution', 'time_lapse_interval']
    for (const field of ctSettingsHideDefault) {
      modelConfig.fields.camera_trap_settings.modelConfig.fields[field].hidden = true
    }

    const maskFields = ['time_lapse_interval', 'quiet_period']
    for (const field of maskFields) {
      modelConfig.fields.camera_trap_settings.modelConfig.fields[field].mask = '##:##'
    }

    modelConfig.fields.deployment_id.disable = true

    const conditionalFields = [
      {
        field: 'deployment_id',
        fieldCb: this.createDeploymentIdCb,
      },
      {
        field: 'lure_variety',
        dependsOn: 'lure_type',
      },
      //camera trap information
      {
        field: 'model',
        dependsOn: 'make',
      },
      //camera trap settings
      {
        field: 'images_per_trigger',
        dependsOn: 'media_type',
        dependsOnSelection: ['I', 'IV'],
      },
      {
        field: 'image_interval',
        dependsOn: 'media_type',
        dependsOnSelection: ['I', 'IV'],
      },
      {
        field: 'image_quality',
        dependsOn: 'media_type',
        dependsOnSelection: ['I', 'IV'],
      },
      {
        field: 'video_length',
        dependsOn: 'media_type',
        dependsOnSelection: ['V', 'IV'],
      },
      {
        field: 'video_resolution',
        dependsOn: 'media_type',
        dependsOnSelection: ['V', 'IV'],
      },
      //features
      {
        field: 'carcass_species',
        dependsOn: 'feature',
        dependsOnSelection: ['CN', 'CP'],
      },
      {
        field: 'plant_species',
        dependsOn: 'feature',
        dependsOnSelection: ['PP', 'FP'],
      },
      {
        field: 'sign_species',
        dependsOn: 'feature',
        dependsOnSelection: ['ST', 'SSCA', 'SSCR', 'SB', 'SN', 'SPR'],
      },
      {
        field: 'bait_station_mount',
        dependsOn: 'feature',
        dependsOnSelection: ['BS', 'BSPC'],
      },
      {
        field: 'lure_height',
        dependsOn: 'feature',
        dependsOnSelection: ['BS', 'BSPC'],
      },
      {
        //`lure_variety` already handled above
        field: 'lure_type',
        dependsOn: 'feature',
        dependsOnSelection: ['BS', 'BSPC'],
      },
      {
        field: 'time_lapse_interval',
        dependsOn: 'time_lapse',
      },
      {
        field: 'time_lapse_schedule',
        dependsOn: 'time_lapse',
      }
    ]

    if (selectedSurveyType === 'AG' || selectedSurveyType === 'AT') {
      const newModelConfigFields = {
        array_map: {
          type: 'ct_array_map',
        },
        ...modelConfig.fields,
      }
      modelConfig.fields = newModelConfigFields
      modelConfig.fields.camera_location.initCurrent = false
    }

    if (selectedSurveyType === 'AT') {
      const existingEntries = this.bulkStore.collectionGetForProt({ protId: this.protocolId })[`camera-trap-${getCameraTrapVariant(this.protocolId)}-point`]
      if (!existingEntries) {
        //no existing modelValue so need to set it (use array since collectionSurveyFlag is on)
        this.$emit('update:modelValue', [{ transect_number: 1 }])
        notifyHandler('info', "Field 'transect number' auto-filled for your convenience")
      }
    }

    modelConfig.fields.camera_location.latLngPickerBtnLabel = 'Record camera trap point location'

    return {
      modelConfig,
      conditionalFieldsCallback: createDependentFieldCallback(),
      conditionalFields: conditionalFields,
      survey: survey,
      //data exposed for Cypress
      featuresHideDefault,
      ctSettingsHideDefault,
    }
  },
  methods: {
    createDeploymentIdCb({ newVal, oldVal }) {
      // console.log('createDeploymentIdCb', newVal, oldVal)

      let updatedNewRecord = null
      if (
        newVal.camera_trap_point_id &&
        newVal.deployment_start_date &&
        !isEqual(
          {
            camera_trap_point_id: newVal.camera_trap_point_id,
            deployment_start_date: newVal.deployment_start_date
          },
          {
            camera_trap_point_id: oldVal.camera_trap_point_id,
            deployment_start_date: oldVal.deployment_start_date
          },
        )
      ) {
        updatedNewRecord = cloneDeep(newVal)
        updatedNewRecord.deployment_id = `${newVal.camera_trap_point_id}-${newVal.deployment_start_date}`
      }

      return updatedNewRecord
    },
    collectionEntryAdded() {
      const fieldsToAutofill = ['transect_number', 'camera_trap_information', 'camera_trap_settings']
      if (this.survey.survey_type !== 'AG') {
        fieldsToAutofill.push('distance_to_closest_point')
      }
      //the entry we autofill from
      const firstEntry = this.bulkStore.collectionGetForProt({ protId: this.protocolId })[`camera-trap-${getCameraTrapVariant(this.protocolId)}-point`][0]
      let autoFilledRecord = {}
      for (const field of fieldsToAutofill) {
        if (!this.modelConfig.fields[field].hidden) {
          //only do fields that are not hidden
          autoFilledRecord[field] = firstEntry[field]
        }
      }

      //grab the existing model value as a base (can assume it's an array as collection
      //  survey flag is set).
      //clone as we don't want our modifications to take effect until we emit
      const modifiedRecord = cloneDeep(this.modelValue)
      //push the new auto-filled data to it, while maintaining the old data
      modifiedRecord.push(autoFilledRecord)
      
      //we emit up the component hierarchy, which will trigger the props going down the
      //hierarchy to the fields we want to auto-fill
      this.$emit('update:modelValue', modifiedRecord)
      
      const autofilledFields = Object.keys(autoFilledRecord).map(o => prettyFormatFieldName(o))
      notifyHandler('info', `Some fields have been auto-filled for your convenience: ${autofilledFields.join(', ')}`)

      const hasTimeLapse = autoFilledRecord?.camera_trap_settings?.time_lapse
      for (const field of ['time_lapse_interval', 'time_lapse_schedule']) {
        this.modelConfig.fields.camera_trap_settings.modelConfig.fields[field].hidden = !hasTimeLapse
      }
    },
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>