<template>
  <q-dialog>
    <div id="camera" class="camera"></div>
  </q-dialog>
</template>
<script>
import { CameraPreview } from '@capacitor-community/camera-preview'
const mediaType = {
  PHOTO: 'photo',
  VIDEO: 'video'
}
export default {
  props: {
    modelValue: {
      type: Boolean,
      required: true,
    },
    mediaType: {
      type: String,
      default: mediaType.PHOTO
    }
  },
  data() {
    return {
      videoData: null,
    }
  },
  methods: {
    setupCamera() {
      const ratio = 4/3 
      const width = screen.availWidth
      const height = width/ratio
      const cameraPreviewOptions = {
        position: 'rear',
        height: height,
        width: width,
        enableZoom:true 
      }
      CameraPreview.start(cameraPreviewOptions);
    },
  },
  mounted() {
    this.setupCamera()
  },
  beforeUnmount() {
    CameraPreview.stop();
  }
}
</script>
