<template>
  <div>
    <paratoo-api-model-crud-ui
      id="coarse-woody-debris"
      ref="crud"
      :fields="modelConfig.fields"
      submit-btn-label="Save Record"
      add-btn-label="Add Another"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="false"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import { isEqual } from 'lodash'

export default {
  inject: ['doc'],
  name: 'CoarseWoodyDebris',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    return {
      apiModelsStore,
      bulkStore,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      'coarse-woody-debris-observation',
      this.doc,
      this.protocolId,
    )

    const survey = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })['coarse-woody-debris-survey']

    modelConfig.fields.CWD_section.hidden = true
    modelConfig.fields.tree_stump.hidden = true


    const conditionalFields = [
      {
        field: 'CWD_section',
        dependsOn: 'CWD',
        fieldCb: this.cb,
      },
      {
        field: 'tree_stump',
        dependsOn: 'tree_stumps',
      },
    ]

    return {
      survey,
      modelConfig,
      newRecord: {},
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    regex(val) {
      return parseInt(val.match(/\d+/)[0])
    },
    addRuleToField(field, threshold) {
      field.rules.push((value) =>
        value >= threshold ? true : `Minimum : ${threshold}`,
      )
    },

    cb({ newVal, oldVal, inputDefs }) {
      if (isEqual(newVal, oldVal)) return
      const diameterThreshold = this.regex(this.survey.sampling_survey_cut_off)
      const lengthThreshold = this.regex(
        this.survey.sampling_survey_cut_off_length,
      )
      const fields = this.modelConfig.fields.CWD_section.modelConfig.fields

      this.addRuleToField(fields.widest_diameter_cm, diameterThreshold)
      this.addRuleToField(fields.narrowest_diameter_cm, diameterThreshold)
      this.addRuleToField(fields.length_cm, lengthThreshold)

      if(newVal?.CWD === true && oldVal?.CWD === false) {
        newVal.tree_stumps = false
      }
      if(newVal?.tree_stumps === true && oldVal?.tree_stumps === false) {
        newVal.CWD = false
      }

      if(newVal?.CWD_section?.length || newVal?.tree_stump?.length) {
        const cwdCheckboxField = inputDefs.find(
          (field) => field.model === 'CWD',
        )
        cwdCheckboxField.disable = true
        const treeStumpCheckboxField = inputDefs.find(
          (field) => field.model === 'tree_stumps',
        )
        treeStumpCheckboxField.disable = true
      }
      return structuredClone(newVal)
    },
  },
}
</script>
