<template>
  <div class="compass-container" :style="compassSize">
    <div v-if="!status" class="compass">
      <!-- Arrow -->
      <svg
        ref="compass__arrow"
        class="compass__arrow"
        width="37px"
        height="36px"
        viewBox="0 0 37 36"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        :style="{ transform: `rotate(${dir}deg)` }"
      >
        <g
          id="Page-1"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <g
            id="spot-search-copy-10"
            transform="translate(-236.000000, -796.000000)"
          >
            <g id="Group" transform="translate(236.000000, 796.000000)">
              <polygon
                id="Rectangle"
                fill="#bdb9b9"
                points="14 18 18.5 7 23 18 18.5292306 29"
              ></polygon>
              <polygon
                id="Rectangle"
                fill="#FF0000"
                transform="translate(18.500000, 12.500000) scale(1, -1) translate(-18.500000, -12.500000) "
                points="14 7 23 7 18.5292306 18"
              ></polygon>
              <circle
                id="Oval"
                fill="#000000"
                cx="18.5"
                cy="18"
                r="1.5"
              ></circle>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    customSize: {
      type: String,
      default: '3em',
    },
  },
  data() {
    return {
      status: null,
      dir: 0,
    }
  },
  computed: {
    compassSize() {
      return { '--size': this.customSize }
    },
  },
  mounted() {
    this.initializeDeviceOrientation()
  },
  methods: {
    initializeDeviceOrientation() {
      if (window.DeviceOrientationEvent) {
        if (typeof DeviceOrientationEvent.requestPermission === 'function') {
          DeviceOrientationEvent.requestPermission()
            .then((permissionState) => {
              if (permissionState === 'granted') {
                window.addEventListener(
                  'deviceorientation',
                  this.handleDeviceOrientation,
                  false,
                )
              } else {
                this.notice = 'Permission denied'
              }
            })
            .catch((error) => {
              console.error(
                'Error requesting device orientation permission:',
                error,
              )
              this.notice = 'Error requesting permission'
            })
        } else {
          // Legacy browsers without requestPermission method
          this.notice = 'Working API detected'
          window.addEventListener(
            'deviceorientation',
            this.handleDeviceOrientation,
            false,
          )
        }
      } else {
        this.notice = 'No API detected'
      }
    },
    handleDeviceOrientation(eventData) {
      this.dir = Math.ceil(eventData.alpha)
    },
  },
}
</script>

<style scoped>
.compass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: var(--size);
}

.compass {
  background-image: url('../assets/compass_bg.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 100%;
}
.compass__arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
