<template>
  <div>
    <paratoo-api-model-crud-ui
      id="condition-tree-survey"
      ref="crud"
      :fields="modelConfig.fields"
      :title="'Condition tree survey'"
      :hide-title="true"
      submit-btn-label="Save Record"
      add-btn-label="Add Another"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="false"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="updateModelValue"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  setRequiredRule,
  paratooWarnMessage,
  removeFieldFromModelConfig,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import {
  cloneDeep,
  isEmpty,
} from 'lodash'
import { useBulkStore } from '../stores/bulk'
import { useEphemeralStore } from '../stores/ephemeral'

export default {
  inject: ['doc'],
  name: 'ConditionTreeSurvey',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => { },
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()
    return {
      apiModelsStore,
      bulkStore,
      ephemeralStore,
    }
  },
  data() {
    const dbhInstrumentType = this.ephemeralStore.basalDbhInstrumentType

    const rawModelConfig = makeModelConfig(
      'condition-tree-survey',
      this.doc,
      this.protocolId,
    )

    // if not tree caliper, dont need to show ellipse fields
    if (dbhInstrumentType !== 'CAL') {
      rawModelConfig.fields.record_dbh.modelConfig.fields = removeFieldFromModelConfig(
        rawModelConfig.fields.record_dbh.modelConfig,
        'ellipse',
      )
    }

    rawModelConfig.fields.tree_record.modelConfig.fields.partially_downed_tree.hidden = true
    rawModelConfig.fields.tree_record.modelConfig.fields.intensity.hidden = true
    rawModelConfig.fields.tree_health.modelConfig.fields.crown_damage.type = "condition-crown-damage-index"

    rawModelConfig.fields.record_dbh.modelConfig.fields.stem.hidden = true

    const conditionalFields = [
      {
        field: 'partially_downed_tree',
        dependsOn: 'dead',
      },
      {
        field: 'intensity',
        dependsOn: 'life_stage',
        dependsOnSelection: ['FLO'],
      },
      {
        field: 'dead',
        fieldCb: this.deadCb,
      },
      {
        field: 'multi_stemmed',
        fieldCb: this.stemCb,
      },
    ]

    const selectedDbhCutoff = this.bulkStore.collectionGetForProt({
      protId: this.protocolId
    })?.['condition-survey']?.dbh_cut_off
    const dbhCutoffMap = {
      C10: 10,
      C5: 5,
    }
    if (dbhCutoffMap[selectedDbhCutoff]) {
      for (const stem of ['stem_1', 'stem']) {
        rawModelConfig.fields.record_dbh.modelConfig.fields[stem].modelConfig.fields.DBH.minimum = dbhCutoffMap[selectedDbhCutoff]
        //TODO don't squash existing rules, instead call `makeValidationRules` and add this updated `minimum` rule to it
        rawModelConfig.fields.record_dbh.modelConfig.fields[stem].modelConfig.fields.DBH.rules = [
          (value) =>
            value == null ||
            value >= dbhCutoffMap[selectedDbhCutoff] ||
            value?.length >= dbhCutoffMap[selectedDbhCutoff] ||
            `Minimum: ${dbhCutoffMap[selectedDbhCutoff]}`,
        ]
      }
    } else {
      paratooWarnMessage('Couldn\'t map the selected DBH Cutoff to a minimum value for stem DBH. If the LUT has changed the mapper needs to be updated')
    }
    

    const leafLitterFields = Object.keys(rawModelConfig.fields.leaf_litter.modelConfig.fields)
    for (const field of leafLitterFields) {
      if (field !== 'leaf_litter_present') {
        rawModelConfig.fields.leaf_litter.modelConfig.fields[field].hidden = true
        conditionalFields.push({
          field: field,
          dependsOn: 'leaf_litter_present',
        })
      }
    }

    let modelConfig = { ...rawModelConfig }

    return {
      modelConfig: modelConfig,
      newRecord: {},
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    /**
     * When `dead` is checked, `life_stage` is not required and `growth_stage` should
     * default to 'dead' option
     */
    deadCb({ newVal, oldVal, inputDefs }) {
      const growthStageDef = inputDefs.find(i => i.model === 'growth_stage')
      const lifeStageDef = inputDefs.find(i => i.model === 'life_stage')

      let updatedNewRecord = null
      //check boolean values, else might cast truthy/falsy
      if (typeof newVal?.dead === 'boolean') {
        setRequiredRule(
          newVal.dead,
          lifeStageDef,
          'life_stage',
        )

        if (newVal?.dead === true && oldVal?.dead === false) {
          updatedNewRecord = cloneDeep(newVal)

          if (newVal?.dead === true) {
            const growthStageLut = this.apiModelsStore.cachedModel({
              modelName: growthStageDef.optionsKey
            })
            const deadLutEntry = growthStageLut.find(o => o.symbol === 'D')
            updatedNewRecord.growth_stage = {
              value: deadLutEntry.symbol,
              label: deadLutEntry.label,
            }
          }
          
        } else if (newVal?.dead === false && oldVal?.dead === true) {
          updatedNewRecord = cloneDeep(newVal)
          updatedNewRecord.growth_stage = null
        }
      }
      return updatedNewRecord
    },
    stemCb({ newVal, oldVal, inputDefs }) {
      let updatedNewRecord = null

      const multiDef = inputDefs.find(i => i.model === 'stem')
      const singleDef = inputDefs.find(i => i.model === 'stem_1')

      //check boolean values, else might cast truthy/falsy
      if (typeof newVal?.multi_stemmed === 'boolean') {
        multiDef.hidden = !newVal.multi_stemmed
        singleDef.hidden = newVal.multi_stemmed

        if (newVal?.dead === true && oldVal?.dead === false) {
          updatedNewRecord = cloneDeep(newVal)

          //remove invalid record multi_stemmed changes
          if (newVal.multi_stemmed === true) {
            updatedNewRecord.stem_1 = null
          } else if (newVal.multi_stemmed === false) {
            updatedNewRecord.stem = null
          }
        }
      }

      return updatedNewRecord
    },
    updateModelValue(value) {
      let updatedRecord = cloneDeep(value)

      for (const ob of updatedRecord) {
        if (
          //might be null/undefined or false
          ob?.record_dbh?.ellipse !== true
        ) {
          //workaround - these fields (Strapi components) get set to null when `ellipse` is not checked, which Strapi will reject, so remove them from the record entirely
          if (!isEmpty(ob?.record_dbh?.buttressed_tree)) {
            delete ob.record_dbh.buttressed_tree.ellipse_DBH_50_CM_above_buttress
            delete ob.record_dbh.buttressed_tree.ellipse_DBH_measurement
          }
          
          if (!isEmpty(ob?.record_dbh?.stem_1)) {
            delete ob?.record_dbh.stem_1.ellipse_DBH_measurement
          }

          if (
            !isEmpty(ob?.record_dbh?.stem) &&
            Array.isArray(ob.record_dbh.stem)
          ) {
            for (const stem of ob.record_dbh.stem) {
              delete stem.ellipse_DBH_measurement
            }
          }
        }
      }

      this.$emit('update:modelValue', updatedRecord)
    }
  },
}
</script>
