<template>
  <div>
    <div v-if="floristicsVouchers.length === 0" class="q-pt-md">
      <NoVouchersErrMsg />
    </div>
    <div v-else>
      <paratoo-api-model-crud-ui
        ref="crud"
        :fields="modelConfigs.fields"
        :row-data-key="modelConfigs.rowDataKey"
        :exclude-submit-btn-flag="true"
        :current-prot-id="modelConfigs.currentProtId"
        :modelValue="modelValue"
        @update:modelValue="
          (e) => {
            $emit('update:modelValue', e)
          }
        "
      />
    </div>
  </div>
</template>
<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import NoVouchersErrMsg from './NoVouchersErrMsg.vue'
import {
  asyncCrud,
  makeModelConfig,
  getVouchersForProjectArea,
  notifyHandler,
} from '../misc/helpers'
export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    NoVouchersErrMsg,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: false,
    },
  },

  async setup() {
    const bulkStore = useBulkStore()
    const { cachedModel } = useApiModelsStore()
    const floristicsVouchers = await getVouchersForProjectArea()
    return {
      cachedModel,
      floristicsVouchers,
      bulkStore,
    }
  },
  data() {
    const modelConfigs = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )
    return {
      modelConfigs,
    }
  },
  methods: {
    async onSubmitFunc() {
      if (this.floristicsVouchers.length === 0) {
        notifyHandler('negative', 'No vouchers detected')
      } else {
        return await this.$refs['crud'].onSubmitFunc()
      }
    },
  },
}
</script>
