<!-- FIXME clean up code for dynamic width of elements -->

<template>
  <div>
    <div>
      <div>
        <div class="row items-center">
          <h6 class="q-ma-none q-pr-sm">Crown Damage Index</h6>
          <q-icon
            name="help"
            class="cursor-pointer"
            @click="toggleHelpInfo('cdi')"
          />
        </div>
        <q-table
          :dense = "isMobileDevice ? true : false"
          :rows="rows"
          :columns="columns"
          row-key="name"
        >
        </q-table>
      </div>
      <div>
        <div data-cy="totalCdi" class="text-h6 q-pb-sm">Total CDI = {{ totalCdi }}</div>
      </div>
      <q-btn
        data-cy="cdiAddItem"
        rounded
        icon="add"
        color="primary"
        @click="createItem()"
      ></q-btn>
    </div>
    <q-dialog v-model="alert" persistent>
      <q-card class="no-margin full-width">
        <q-card-section>
          <div class="text-h6">Crown Damage Index</div>
        </q-card-section>
        <q-card-section>
          <q-select
            data-cy="cdiType"
            v-model="currType"
            :options="types"
            label="Type"
            emit-value
          >
            <template #after>
              <q-icon
                name="help"
                class="cursor-pointer"
                @click="toggleHelpInfo('type')"
              />
            </template>
          </q-select>
        </q-card-section>
        <q-card-section>
          <q-input
            dense
            :label="column2"
            v-model="currIncidence"
            type="number"
            ref="incidenceInput"
            :rules="[isNumeric]"
            data-cy="cdiIncidence"
            lazy-rules
            :hint="'Select the extent of damage over the entire canopy'"
          />
        </q-card-section>
        <q-card-section>
          <q-input
            dense
            :label="column3"
            v-model="currSeverity"
            type="number"
            ref="severityInput"
            :rules="[isNumeric]"
            data-cy="cdiSeverity"
            lazy-rules
            :hint="'Select the percentage of each leaf affected'"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            flat
            label="Close"
            color="Blue"
            wrap
            class="q-ml-sm"
            @click="alert = false"
          />

          <q-btn
            flat
            label="Done"
            color="Blue"
            wrap
            class="q-ml-sm"
            data-cy="cdiDone"
            @click="addValues()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <div v-for="col in columns" :key="col.name">
      <q-dialog v-model="helpInfo[col.name]">
        <q-card class="no-margin full-width">
          <q-card-section>
            <div v-if="col.name === 'type'">
              Hint: Select the type of damage present
              <CrownDamageIndex :helpInfo="helpInfo" />
            </div>
            <div v-if="col.name === 'cdi'">
              Hint: {{ hint?.total_cdi.hint }}
              <CrownDamageIndex :helpInfo="helpInfo" />
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>
<script>
import { isNullorEmpty, notifyHandler } from '../misc/helpers'
import CrownDamageIndex from '../components/helpInfo/CrownDamageIndex.vue'
export default {
  components: {
    CrownDamageIndex,
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    hint: {
      required: false,
    },
  },
  watch: {
    modelValue(val) {
      if (isNullorEmpty(val, 'crown_damage_values')) return

      // update values
      this.rows = val['crown_damage_values']
      this.totalCdi = val['total_cdi']
      this.newRecord = val
    },
  },
  data() {
    const columns = [
      { name: 'type', align: 'left', label: 'Type', field: 'type' },
      {
        name: 'incidence',
        align: 'center',
        label: 'Incidence (%)',
        field: 'incidence',
      },
      {
        name: 'severity',
        align: 'center',
        label: 'Severity (%)',
        field: 'severity',
      },
      { name: 'cdi', align: 'right', label: 'CDI', field: 'cdi' },
    ]
    // TODO should this be from LUT? If so, need to add info button (#1251)
    const types = [
      { value: 'Defoliation', label: 'Defoliation' },
      { value: 'Necrosis', label: 'Necrosis' },
      { value: 'Discolouration', label: 'Discolouration' },
    ]
    return {
      columns: columns,
      types: types,
      rows: [],
      totalCdi: 0.0,

      column1: 'type',
      column2: 'Incidence',
      column3: 'Severity',

      currType: '',
      currIncidence: '',
      currSeverity: '',
      // helpInfo: false,
      alert: false,
      helpInfo: {}, // 用于保存每个列的对话框状态
      // titleTemplate: null,
    }
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    newRecord: {
      get() {
        if (!this.modelValue) return {}
        return this.modelValue
      },
      set(e) {
        this.$emit('update:modelValue', e)
      },
    },
  },
  mounted() {},
  methods: {
    toggleHelpInfo(colName) {
      this.helpInfo[colName] = !this.helpInfo[colName]
    },
    addValues() {
      // if any value is missing
      const missingValue = this.checkMissingValues()
      if (missingValue != false) {
        notifyHandler(
          'warning',
          `Please insert ${missingValue} to calculate CDI`,
        )
        return
      }

      this.alert = false

      // update cdi table
      this.rows.push({
        type: this.currType,
        incidence: this.currIncidence,
        severity: this.currSeverity,
        // cdi = incidence * severity
        cdi: (this.currIncidence * this.currSeverity) / 100,
      })

      // caculate cdi and reset values
      this.calculateCDI()
      this.resetValues()

      this.newRecord['crown_damage_values'] = this.rows
      this.newRecord['total_cdi'] = parseFloat(this.totalCdi)

      this.$emit('update:modelValue', this.newRecord)
    },

    // new item
    createItem() {
      this.alert = true
    },

    // reset values
    resetValues() {
      this.currType = ''
      this.currIncidence = ''
      this.currSeverity = ''
    },

    // whether all values exit or not
    checkMissingValues() {
      if (!this.currType) return 'Type'
      if (!this.currIncidence) return 'Incidence'
      if (!this.currSeverity) return 'Severity'

      return false
    },

    // cdi = sum of all the cdis.
    calculateCDI() {
      const total = this.rows.reduce((accum, item) => accum + item.cdi, 0)
      this.totalCdi = total.toFixed(2)
    },

    // validate numbers
    isNumeric(val) {
      if (!val) {
        return true
      }
      return parseInt(val) > 0 ? true : 'Must be a number'
    },
  },
}
</script>
