<template>
  <div v-if="userCoords && JSON.stringify(userCoords) !== '{}'">
    <q-btn
      class="q-mt-lg"
      v-if="!modelValue?.start_date_time"
      outline
      data-cy="startSurvey"
      label="Start"
      @click="recordTransect('start')"
    />
    <div v-if="modelValue?.start_date_time">
      <l-map
        :min-zoom="minZoom"
        :max-zoom="maxZoom"
        :style="isMobileDevice ? 'height: 350px; width: 100%' : 'height: 500px; width: 100%'"
        :center="currentCenter"
        :zoom="currentZoom"
        ref="theMap"
        data-cy="polygonMap"
        @ready="makeMapRef()"
      >
        <l-tile-layer :url="url" :attribution="attribution" />
        <l-control position="bottomright">
          <q-btn color="grey" icon="my_location" @click="backToLocation" />
        </l-control>
        <l-control-scale :imperial="imperial" />
        <div v-for="(item, index) in transectPoints" :key="index">
          <l-circle-marker
            color="yellow"
            :lat-lng="[item.lat, item.lng]"
            :weight="Number(12)"
          >
          </l-circle-marker>
        </div>

        <div v-for="(point, index) in prevPoints" :key="index">
          <l-circle-marker color="lime" :lat-lng="point.location" :weight="12">
          </l-circle-marker>
        </div>

        <l-circle-marker
          color="orange"
          :lat-lng="this.userCoords"
          :weight="Number(12)"
        />
        <l-circle-marker
          color="red"
          :lat-lng="this.startLocation"
          :weight="Number(13)"
        />
        <l-polygon
          v-if="transectPoints"
          color="salmon"
          :lat-lngs="transectPoints.map((p) => [p.lat, p.lng])"
        ></l-polygon>
      </l-map>
      <div class="q-py-md">
        <strong>Lat: </strong>{{ userCoords.lat }} <br />
        <strong>Lng: </strong>{{ userCoords.lng }} <br />
        <strong>Speed: </strong>{{ speed.toFixed(3) }} m/s<br />
      </div>
    </div>
    <div v-if="modelValue?.start_date_time && userCoords.lat && userCoords.lng">
      <paratoo-api-model-crud-ui
        id="control-activity-observationp"
        ref="crud"
        :fields="modelConfig.fields"
        :title="'Control Activity Observation'"
        :hide-title="true"
        :user-coords="userCoords"
        :row-data-key="modelConfig.rowDataKey"
        :current-prot-id="modelConfig.currentProtId"
        :modelValue="newRecord"
        @new-record-changed="newRecordChanged"
        :conditional-fields="conditionalFields"
        :conditional-field-callback="conditionalFieldsCallback"
        @update:modelValue="
          (e) => {
            $emit('update:modelValue', e)
          }
        "
      />
    </div>
    <q-btn
      v-if="modelValue?.start_date_time && !modelValue?.end_date_time"
      outline
      label="End"
      data-cy="endSurvey"
      @click="recordTransect('end')"
    />
  </div>
  <div v-else><h4>Waiting for GPS...</h4></div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  notifyHandler,
  isValidUserCoords,
  assignValidUserCoords,
  createDependentFieldCallback,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from '../stores/ephemeral'
import { useBulkStore } from '../stores/bulk'
import cloneDeep from 'lodash/cloneDeep'
import isEqual from 'lodash/isEqual'
import {
  LMap,
  LTileLayer,
  LControl,
  LControlScale,
  LPolygon,
  LCircleMarker,
} from 'vue-leaflet/src/components'
export default {
  inject: ['doc'],
  name: 'ControlActivityObservation',
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    LMap,
    LTileLayer,
    LControl,
    LControlScale,
    LPolygon,
    LCircleMarker,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    zoom: {
      type: Number,
      required: false,
      default: 1,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    rowDataKey: {
      required: true,
    },
  },
  async mounted() {
    this.startLocation = this.userCoords

    this.modelConfig.fields.start_date_time.hidden =
      !this.collection?.start_date_time

    this.modelConfig.fields.start_location.hidden =
      !this.collection?.start_location
    this.modelConfig.fields.end_location.hidden = !this.collection?.end_location

    this.modelConfig.fields.end_date_time.hidden =
      !this.collection?.end_date_time
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()

    return {
      apiModelsStore,
      ephemeralStore,
      bulkStore,
    }
  },
  data() {
    const rawModelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    let modelConfig = { ...rawModelConfig }
    const sentObservation = this.apiModelsStore.cachedModel({
      modelName: this.rowDataKey,
    })

    const fieldsToHide = [
      'deer',
      'wild_dog',
      'other_species',
      'point_repeat_id',
    ]

    fieldsToHide.forEach((fieldName) => {
      modelConfig.fields.observations.modelConfig.fields[
        fieldName
      ].hidden = true
    })

    const prevPoints = sentObservation.flatMap((o) => o.observations)
    const repeatIdOptions = prevPoints.map((point) => point.point_unique_id)
    if (prevPoints?.map((o) => o.observations).length === 0) {
      modelConfig.fields.observations.modelConfig.fields.repeat.hidden = true
    }

    // modelConfig.fields.observations.type = 'pest-fauna-control-activity-map'

    const collection = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })[this.rowDataKey]

    const species = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })['pest-fauna-control-activity'].target_species
    modelConfig.fields.observations.modelConfig.fields.target_species.optionsFilter = (o) => {
      return species.some(s => s.lut === o.symbol)
    }

    const conditionalFields = [
      {
        field: 'point_repeat_id',
        dependsOn: 'repeat',
        fieldCb: this.cb,
      },
      {
        field: 'deer',
        dependsOn: 'target_species',
        dependsOnSelection: ['D'],
      },
      {
        field: 'wild_dog',
        dependsOn: 'target_species',
        dependsOnSelection: ['WD'],
      },
      {
        field: 'other_species',
        dependsOn: 'target_species',
        dependsOnSelection: ['O'],
        fieldCb: this.speciesCb,
      },
    ]

    return {
      species,
      transectPoints: [],
      startLocation: null,
      prevPoints,
      collection,
      imperial: false,
      currentCenter: assignValidUserCoords(this.userCoords),
      minZoom: 1,
      maxZoom: 20,
      currentZoom: 11.5,
      modelConfig,
      newRecord: cloneDeep(this.modelValue),
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      repeatIdOptions,
    }
  },
  watch: {
    modelValue: {
      handler(val) {
        this.newRecord = val
      },
    },
  },
  computed: {
    speed() {
      return this.ephemeralStore.speed
    },
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
  methods: {
    speciesCb({ newVal, inputDef }) {
      if (newVal?.target_species?.value == 'O') {
        const other = this.species.find((o) => o.other_species).other_species
        inputDef.type = 'select'
        inputDef.options = other.map((o) => o.other_species)
      }
    },
    cb({ newVal, inputDef }) {
      if (newVal.repeat) {
        inputDef.type = 'select'
        inputDef.options = this.repeatIdOptions
      }
    },
    makeMapRef() {
      this.map = this.$refs.theMap.leafletObject
    },
    backToLocation() {
      this.currentZoom = 13
      this.currentCenter = assignValidUserCoords(this.userCoords)
    },
    newRecordChanged(e) {
      if (isEqual(e.newRecord, e.oldRecord)) return
      this.transectPoints = e.newRecord.observations?.map((o) => o.location)
      this.newRecord = e.newRecord
    },
    isValidUserCoords() {
      return isValidUserCoords(this.userCoords)
    },
    recordTransect(status) {
      const time = new Date()
      let updatedModelValue = {}
      if (status === 'start') {
        updatedModelValue = {
          start_date_time: time,
          start_location: this.userCoords,
        }
        this.modelConfig.fields.start_date_time.hidden = false
        this.modelConfig.fields.start_location.hidden = false
      }
      if (status === 'end') {
        updatedModelValue = {
          ...this.newRecord,
          end_date_time: time,
          end_location: this.userCoords,
        }
        this.modelConfig.fields.end_date_time.hidden = false
        this.modelConfig.fields.end_location.hidden = false
      }

      this.newRecord = updatedModelValue
      this.$emit('update:modelValue', updatedModelValue)
    },
    async onSubmitFunc() {
      if (!this.newRecord?.end_date_time) {
        notifyHandler('negative', 'The survey has not ended')
        return false
      } else if (!this.newRecord?.start_date_time) {
        notifyHandler('negative', 'The survey has not started')
        return false
      } else return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>
