<template>
  <q-btn
    label="completed transects summary"
    @click="showModelMap = true"
    color="info"
  />
  <q-dialog v-model="showModelMap">
    <q-card flat :style="`width: ${width}px`">
      <q-card-actions align="right">
        <q-btn color="primary" label="Close" v-close-popup />
      </q-card-actions>
      <l-map
        ref="map"
        :center="centerCoords"
        :zoom="19"
        :minZoom="3"
        :maxZoom="99"
        :style="`height: ${height * 0.6}px`"
      >
        <l-tile-layer :url="url" />
        <div class="compass-container">
          <Compass />
        </div>
        <div class="legend">
          <q-card style="opacity: 80%" flat>
            <q-expansion-item label="Legend" flat dense>
              <q-card-section class="row q-pa-xs q-pb-sm">
                <div class="col-3 center">
                  <div class="red-dot" />
                </div>
                <div class="col-8 text-right">Not started</div>
              </q-card-section>
              <q-card-section class="row q-pa-xs q-pb-sm">
                <div class="col-3 center">
                  <div class="yellow-dot" />
                </div>
                <div class="col-8 text-right">In progress</div>
              </q-card-section>
              <q-card-section class="row q-pa-xs">
                <div class="col-3 center">
                  <div class="green-dot" />
                </div>
                <div class="col-8 text-right">Completed</div>
              </q-card-section>
            </q-expansion-item>
          </q-card>
        </div>
        <l-control class="map-btns" position="bottomleft">
          <div class="row justify-start">
            <q-btn icon="my_location" color="grey" @click="backToLocation" />
          </div>
        </l-control>
        <l-control-scale
          position="bottomright"
          :imperial="false"
          :metric="true"
        />
        <l-marker
          v-if="ephemeral.userCoords?.lat"
          :lat-lng="ephemeral.userCoords"
        >
          <l-tooltip>
            <p>Current Location</p>
            <p>lat: {{ ephemeral.userCoords.lat.toFixed(2) }}</p>
            <p>lng: {{ ephemeral.userCoords.lng.toFixed(2) }}</p>
          </l-tooltip>
        </l-marker>
        <l-polygon :lat-lngs="cornerPointsCoords" color="white" />
        <l-polyline
          v-for="(line, index) in transectLines"
          :key="index"
          :lat-lngs="line.latLng"
          :color="line.color"
        />
        <l-circle-marker
          v-for="(point, index) in transectStartPoints"
          :key="index"
          :lat-lng="point"
          :color="'orange'"
          :weight="10"
        >
          <l-tooltip ref="points" :content="point.name" />
        </l-circle-marker>
      </l-map>
    </q-card>
  </q-dialog>
</template>
<script>
import { useDataManagerStore } from 'src/stores/dataManager'
import { useBulkStore } from 'src/stores/bulk'
import { useEphemeralStore } from 'src/stores/ephemeral'
import {
  LMap,
  LTileLayer,
  LControl,
  LMarker,
  LTooltip,
  LCircleMarker,
  LPolygon,
  LPolyline,
  LControlScale,
} from 'vue-leaflet/src/components'
import Compass from './Compass.vue'

export default {
  props: ['protocolVariant', 'transectRecord', 'transectMaxPoint'],
  components: {
    LMap,
    LTileLayer,
    LControl,
    LMarker,
    LTooltip,
    LCircleMarker,
    LPolygon,
    LPolyline,
    LControlScale,
    Compass,
  },
  setup() {
    const { cachedModel } = useDataManagerStore()
    const layout = cachedModel({ modelName: 'plot-layout' })
    const ephemeral = useEphemeralStore()

    const { getPlotLayoutId: id } = useBulkStore()

    const selectedPlot = layout.find((layout) => {
      if (layout?.id) {
        return layout.id === id
      }
      if (layout.temp_offline_id && id.temp_offline_id) {
        return layout.temp_offline_id === id.temp_offline_id
      }
      if (layout.temp_offline_id && !id.temp_offline_id && id) {
        return layout.temp_offline_id === id
      }
    })

    const plotPoints = selectedPlot['plot_points']

    const cornerPoints = ['SW', 'NW', 'NE', 'SE']
    const cornerPointsCoords = cornerPoints.map((point) =>
      plotPoints.find((plotPoint) => {
        if (plotPoint.name?.symbol) {
          return point === plotPoint.name.symbol
        }
        return point === plotPoint.name
      }),
    )
    const centerCoords = plotPoints.find((plotPoint) => {
      if (plotPoint.name?.symbol) {
        return plotPoint.name.symbol === 'C'
      }
      return plotPoint.name === 'C'
    })

    return {
      url: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
      cornerPointsCoords,
      ephemeral,
      plotPoints,
      centerCoords,
    }
  },
  data() {
    const transectLines = this.makeTransectLines(this.countPointsInTransect())
    const transectStartPoints = transectLines.flatMap((line) => line.latLng)
    return {
      transectLines,
      transectStartPoints,
      showModelMap: false,
    }
  },
  methods: {
    backToLocation() {
      this.$refs.map.leafletObject.flyTo(this.centerCoords, 19, { duration: 1 })
    },
    /**
     * The transect line preview. Returns an array of lines (2 latLongs each)
     */
    makeTransectLines(transectCount) {
      const lines = []
      // opposite point name is just the number
      const oppositePointDirections = {
        W: 'E',
        N: 'S',
        E: 'W',
        S: 'N',
      }
      const added = {}
      for (const point of this.plotPoints) {
        const currentPointName = point.name.symbol || point.name // offline plot won't have symbol
        if (
          ['SW', 'NW', 'NE', 'SE', 'C'].includes(currentPointName) ||
          added[currentPointName]
        )
          continue
        const currentPointIndex = currentPointName.substring(1)
        if (this.protocolVariant === 'lite' && currentPointIndex % 2 !== 0)
          continue
        added[currentPointName] = true
        // Point valid, find second point and add line
        const oppositeDirection = oppositePointDirections[currentPointName[0]]
        const oppositePointName = `${oppositeDirection}${currentPointIndex}`
        added[oppositePointName] = true
        const oppositePoint = this.plotPoints.find(
          ({ name }) =>
            name === oppositePointName || name.symbol === oppositePointName,
        )
        point.name = currentPointName
        oppositePoint.name = oppositePointName
        let color = 'red'
        if (
          transectCount[currentPointName] ||
          transectCount[oppositePointName]
        ) {
          const count =
            transectCount[currentPointName] || transectCount[oppositePointName]
          if (count === this.transectMaxPoint + 1) {
            color = 'green'
          } else if (count > 0) {
            color = 'yellow'
          }
        }
        const startPoints = [currentPointName, oppositePointName]
        lines.push({ latLng: [point, oppositePoint], color, startPoints })
      }
      return lines
    },
    countPointsInTransect() {
      if (!this.transectRecord) return {}
      const transectCount = this.transectRecord.reduce((acc, point) => {
        const transectName = point.cover_transect_start_point
        if (!acc[point.cover_transect_start_point]) {
          acc[transectName] = 1
        } else acc[transectName]++
        return acc
      }, {})
      return transectCount
    },
  },
  computed: {
    transectCount() {
      return this.countPointsInTransect()
    },
    width() {
      return Math.round(screen.width)
    },
    height() {
      return Math.round(screen.height)
    },
  },
  watch: {
    transectCount(newVal) {
      this.transectLines = this.makeTransectLines(newVal)
    },
  },
  exposes: ['transectCount', 'transectLines'],
}
</script>

<style scoped>
.compass-container {
  position: absolute;
  top: 2%;
  right: 12px;
}
.legend {
  position: absolute;
  bottom: 2%;
  left: 40%;
  z-index: 9999;
}
.map-btns {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.yellow-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: yellow;
}

.red-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.green-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
</style>
