<template>
  <q-select
    v-model="model"
    clearable
    bottom-slots
    use-input
    fill-input
    hide-selected
    input-debounce="500"
    :options="options"
    :label="config.label"
    :rules="config.rules"
    lazy-rules
    @filter="(val, update) => filterFn(val, update)"
    @input-value="(e) => (model = e)"
    :data-cy="config.model"
    :disable="config.disable"
  >
    <!-- FIXME removed code (below) from CSV q-select (above) as it causes
                visual bugs on mobile. It's supposed to make long text in the dropdown
                wrap-around -->
    <!-- 
                :popup-content-style="`width: ${customSelectWidth}px; word-break: break-all;`"
                style="word-break: break-all"
                @popup-show="setFilteredSelectWithCustomInputWidth()"
                -->
    <template v-slot:hint>
      <p>Label format: Canonical Name [taxon rank]</p>
      <p v-if="config.hint">{{ config.hint }}</p>
    </template>
    <template v-slot:option="o">
      <q-item clickable v-bind="o.itemProps">
        <q-item-section data-cy="options">
          <q-item-label>{{ o.opt.label }}</q-item-label>
          <q-item-label caption>{{ o.opt.data.scientificName }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
    <template #after>
      <InfoButtonForInputs :fileName="'CSVDropdown'" :mode="'help'" />
    </template>
  </q-select>
</template>
<script>
import InfoButtonForInputs from './InfoButtonForInputs.vue'
import { queryDexieFromTaxa } from 'src/misc/helpers'
export default {
  components: { InfoButtonForInputs },
  props: ['modelValue', 'config', 'selectedTaxaType'],

  data() {
    return {
      options: [],
    }
  },
  methods: {
    async createOptionsList(searchString, number) {
      //query only first 10 to improve performance, which we'll override when user
      //  starts making input
      const selectedTaxaType = this.selectedTaxaType || this.config.csv
      const list = await queryDexieFromTaxa(
        selectedTaxaType,
        number,
        searchString,
      )
      const initialOptions = list.map((o) => {
        const label = o.taxonRank
          ? `${o.canonicalName} [${o.taxonRank}]`
          : o.canonicalName
        return {
          label: label,
          data: o,
          value: `${label} (scientific: ${o.scientificName})`,
        }
      })
      return initialOptions
    },
    async filterFn(val, update) {
      //only start filtering if we've received enough input to filter on (at least 1
      //character)
      if (val.length > 0) {
        const needle = val.toLowerCase().trim()
        this.options = await this.createOptionsList(needle)
      } else {
        this.options = await this.createOptionsList(null, 10)
      }
      update()
    },
  },
  computed: {
    model: {
      get() {
        return this.modelValue
      },
      set(newVal) {
        this.$emit('update:modelValue', newVal)
      },
    },
  },
}
</script>
