<template>
  <!-- strange view of the input name -->
  <q-select
    :data-cy="config.model"
    class="tablet"
    @clear="selectedText = ''"
    clearable
    :input-debounce="100"
    v-model="selectedText"
    use-input
    fill-input
    hide-selected
    :options="localOptions"
    @filter="filterFn"
    @input-value="setModel"
    :label="config.label"
    :hint="hint"
    hide-bottom-space
    :type="config.input.type"
    lazy-rules
    :rules="config.rules"
    :disable="config.disable"
  >
    <template v-slot:selected v-if="localModel !== selectedText">
      <!-- update selected value text to be label -->
      <!-- hide-selected will make this template invalid so it needs to be false-->
      {{ selectedText }}
    </template>
    <template #after>
      <InfoButtonForInputs
        v-if="config.description"
        :fileName="config.description"
        :fieldName="config.model"
        :mode="'help'"
      />
      <InfoButtonForInputs
        v-if="config?.select?.optionsKey?.startsWith('lut-')"
        :config="config"
        :mode="'info'"
        :is-custom-lut="true"
      />
    </template>
  </q-select>
</template>
<script>
import cloneDeep from 'lodash/cloneDeep'
import { useApiModelsStore } from 'src/stores/apiModels'
import InfoButtonForInputs from 'src/components/InfoButtonForInputs.vue'
export default {
  props: {
    config: {
      required: true,
    },
    modelValue: {
      required: true,
    },
    options: {
      required: true,
    },
  },
  components: {
    InfoButtonForInputs,
  },
  setup() {
    const { resolvedLutSymbol } = useApiModelsStore()
    return { resolvedLutSymbol }
  },
  data() {
    return {
      localOptions: cloneDeep(this.options),
    }
  },
  computed: {
    selectedText: {
      get() {
        return (
          this.resolvedLutSymbol({
            symbol: this.localModel,
            modelName: this.config.select.optionsKey,
            suppressWarnings: true,
          }) || this.modelValue
        )
      },
      set(newRecord) {
        const res = !newRecord ? newRecord : newRecord.value
        this.$emit('update:modelValue', res)
      },
    },
    localModel: {
      get() {
        return this.modelValue || ''
      },
      set(newRecord) {
        !newRecord || (newRecord && !newRecord.value)
          ? this.$emit('update:modelValue', newRecord)
          : null
      },
    },
    hint() {
      const base = 'Select an option, search for one, or input your own'
      if (this.config.hint) {
        return base + `. ${this.config.hint}`
      }
      return base
    },
  },
  methods: {
    filterFn(val, update) {
      update(() => {
        const needle = val.toLowerCase()
        this.localOptions = this.options.filter(
          (option) => option.value.toLowerCase().indexOf(needle) > -1,
        )
      })
    },
    setModel(val) {
      if (
        val &&
        //it's a custom input if there is no LUT match
        !this.localOptions.some((o) => o.value === val || o.label === val)
      ) {
        this.localModel = val
      }
    },
  },
}
</script>
<style>
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px)  {
  /* .tablet{} */
}
</style>
