<template>
  <div>
    <q-input
      :modelValue="input"
      filled
      :label="config.label"
      :rules="config.rules"
      :hint="config.hint"
      hide-bottom-space
      lazy-rules
      @click="() => $refs.popup.show()"
    >
      <template #append>
        <q-icon
          :name="config.type === 'time' ? 'access_time' : 'event'"
          class="cursor-pointer"
          :data-cy="`${config.model}_${config.type}Btn`"
        >
          <q-popup-proxy
            ref="popup"
            transition-show="scale"
            transition-hide="scale"
          >
            <q-time
              v-if="config.type === 'time'"
              v-model="input"
              :mask="timeMask"
              format24h
              :data-cy="`${config.model}_timeInput`"
              :disable="config.disable"
            >
              <div class="row items-center justify-end">
                <q-btn
                  v-close-popup
                  label="Close"
                  color="primary"
                  flat
                  :data-cy="`${config.model}_timeClose`"
                ></q-btn>
              </div>
            </q-time>
            <q-date
              v-else
              v-model="input"
              :mask="dateMask"
              :data-cy="`${config.model}_dateInput`"
            >
              <div class="row items-center justify-end">
                <q-btn
                  v-close-popup
                  label="Close"
                  color="primary"
                  flat
                  :data-cy="`${config.model}_dateClose`"
                ></q-btn>
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
  </div>
</template>

<script>
export default {
  props: {
    modelValue: {
      required: true,
    },
    timeMask: {
      type: String,
    },
    dateMask: {
      type: String,
    },
    config: {
      type: Object,
    },
  },
  computed: {
    input: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      },
    },
  },
}
</script>
