<template>
  <q-input
    :dense="isDense"
    :disable="disabled"
    class="q-ma-sm date-input"
    v-model="dateInput"
    filled
    :label="label"
    :rules="rules"
    :hint="hint"
    hide-bottom-space
    :readonly="!isCypress"
    @click="() => isCypress ? null : $refs.popup.show()"
  >
    <template v-if="!readonly && !disabled" #append>
      <q-icon
        size="2rem"
        name="event"
        class="cursor-pointer"
        :data-cy="`${modelVal.replace(/\s+/g, '_').toLowerCase()}_dateBtn`"
      >
        <q-popup-proxy ref="popup" transition-show="scale" transition-hide="scale">
          <q-date
            :readonly="readonly"
            minimal
            v-model="dateInput"
            :mask="dateMask"
            no-unset
            :data-cy="`${modelVal.replace(/\s+/g, '_').toLowerCase()}_dateInput`"
          >
            <div class="row items-center justify-end">
              <q-btn
                v-close-popup
                label="Close"
                color="primary"
                flat
                :data-cy="`${modelVal
                  .replace(/\s+/g, '_')
                  .toLowerCase()}_dateClose`"
              ></q-btn>
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
      <q-icon
        v-if="type === 'datetime'"
        size="2rem"
        name="access_time"
        class="cursor-pointer"
        :data-cy="`${modelVal.replace(/\s+/g, '_').toLowerCase()}_timeBtn`"
      >
        <q-popup-proxy transition-show="scale" transition-hide="scale">
          <q-time
            :readonly="readonly"
            v-model="dateInput"
            :mask="dateMask"
            format24h
            :data-cy="`${modelVal.replace(/\s+/g, '_').toLowerCase()}_timeInput`"
          >
            <div class="row items-center justify-end">
              <q-btn
                v-close-popup
                label="Close"
                color="primary"
                flat
                :data-cy="`${modelVal
                  .replace(/\s+/g, '_')
                  .toLowerCase()}_timeClose`"
              ></q-btn>
            </div>
          </q-time>
        </q-popup-proxy>
      </q-icon>
    </template>
    <!-- Give a warning when the time is initialized to the current time -->
    <template v-if="dateInput === initDateTime" #hint>
      Using Current Time
    </template>
  </q-input>
</template>

<script>
import { date as qDate } from 'quasar'
export default {
  props: {
    modelValue: {
      required: true,
    },
    label: {
      type: String,
    },
    model: {
      type: String,
      default: 'date'
    },
    rules: {
      required: false,
    },
    disabled: {
      required: false,
      default: false,
    },
    isDense: {
      type: Boolean,
      default: false,
    },
    hint: {
      type: String,
      required: false,
    },
    readonly: {
      type: Boolean,
    },
    dateMask: {
      default: 'YYYY-MM-DD HH:mm:ss',
    },
    type: {
      default: 'datetime',
    },
  },
  data() {
    const now = new Date()
    const initDateTime = new Date(now.getTime())
    return {
      initDateTime,
    }
  },
  computed: {
    dateInput: {
      get() {
        return qDate.formatDate(this.modelValue, this.dateMask) || null
      },
      set(newValue) {
        try {
          this.$emit('update:modelValue', new Date(newValue).toISOString())
        } catch (error) {
          console.warn('Invalid date')
        }
      },
    },
    modelVal() {
      if (this.model) {
        return this.model
      } else {
        try {
          return this.label.replaceAll(' *', '')
        } catch {
          //in case replaceAll fails for some reason
          return this.label
        }
      }
    },
    isCypress() {
      const isCypress = window?.Cypress
      console.debug(`isCypress? ${isCypress}`)
      return isCypress
    },
  },
}
</script>
