<template>
  <q-dialog
    ref="dialogRef"
    @hide="onDialogHide"
    persistent
    full-width
  >
    <q-card class="q-dialog-plugin">
      <q-table
        :title="tableTitle || null"
        :rows="tableRows"
        wrap-cells
      />

      <q-card-actions align="right">
        <q-btn label="Cancel" @click="onCancelClick" />
        <q-btn label="OK" @click="onOKClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { useDialogPluginComponent } from 'quasar'

export default {
  name: 'DialogTable',
  emits: [
    ...useDialogPluginComponent.emits,
  ],
  props: {
    tableRows: {
      type: Array,
      required: true,
    },
    tableTitle: {
      type: String,
      required: false,
    },
  },
  setup () {
    const {
      dialogRef,
      onDialogHide,
      onDialogOK,
      onDialogCancel,
    } = useDialogPluginComponent()

    return {
      dialogRef,
      onDialogHide,
      onOKClick: onDialogOK,
      onCancelClick: onDialogCancel
    }
  }
}
</script>