<template>
  <div>
    <q-select v-model="model" :options="options" label="Drone Sensor" />

    <!-- TODO get flexbox working so it creates as many columns as it can fix -->
    <div
      v-for="[sensor, data] of Object.entries(staticData)"
      :key="sensor"
      class="q-pt-sm row justify-center text-left"
      data-cy="droneSensorStaticInfo"
    >
      <ul v-if="sensor === selectedSensorSymbol">
        <li
          v-for="item of data"
          :key="item"
        >
          {{item}}
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { makeModelConfig } from '../misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'

export default {
  inject: ['doc'],

  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: false,
    },
  },
  setup() {
    const { cachedModel } = useApiModelsStore()
    return {
      cachedModel,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    //TODO should this be from backend? not as a LUT description (i.e., definition), but as an additional attribute
    const staticData = {
      'P1REMXD': [
        "Mode: M",
        "ISO: Auto",
        "Shutter Speed: 1/1000s",
        "Aperture: f/5.6",
        "EV: 0",
        "Image Ratio: 3:2",
        "Image Format: .JPG",
      ],
      'LI2': [
        "Shutter Speed: 1/1000 seconds",
        "Aperture: Auto",
        "ISO: Auto",
        "Image Ratio: 3:2",
        "Image Format: .JPG",
        "Mechanical Shutter: Enabled",
        "Dewarping: Enabled",
      ],
    }
    
    if (window.Cypress) {
      window.droneSensorStaticData = staticData
    }

    const optionKey = modelConfig.fields.drone_sensor.select.optionsKey
    const options = this.cachedModel({ modelName: optionKey })
    return {
      modelConfig,
      options,
      staticData,
    }
  },
  computed: {
    model: {
      get() {
        return (
          this.options.find(
            (o) => o.symbol === this.modelValue.drone_sensor?.drone_sensor_lut,
          )?.label || null
        )
      },
      set(val) {
        this.$emit('update:modelValue', { drone_sensor_lut: val.symbol })
      },
    },
    selectedSensorSymbol() {
      return this.modelValue?.drone_sensor?.drone_sensor_lut
    },
  },
}
</script>
