<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="modelConfig.currentProtId"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :modelValue="modelValue"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>
<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
} from '../misc/helpers'
export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: false,
    },
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    const hideDefault = ['end_date_time', 'base_station_location']
    for (const field of hideDefault) {
      modelConfig.fields[field].hidden = true
    }

    const conditionalFields = [
      {
        field: 'base_station_location',
        dependsOn: 'drone_base_station_location',
        dependsOnSelection: ['O'],
      },
    ]
    return {
      modelConfig,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>
