<template>
  <div>
    <paratoo-api-model-crud-ui
      :fields="modelConfig.fields"
      :row-data-key="modelConfig.rowDataKey"
      :collection-survey-flag="true"
      :exclude-submit-btn-flag="true"
      :current-prot-id="modelConfig.currentProtId"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :modelValue="modelValue"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>
<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  notifyHandler,
} from '../misc/helpers'
import { isEqual, isEmpty } from 'lodash'
export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: false,
    },
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )
    modelConfig.fields.drone_sensor.type = 'drone_sensor'

    //Published Dataset Location regex comes from: https://bhomaramjangid.medium.com/how-to-validate-url-using-regular-expression-in-javascript-db0afcd12efd

    const conditionalFields = [
      {
        field: 'drone_sensor',
        fieldCb: this.autoFillCb,
      },
    ]
    return {
      modelConfig,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    autoFillCb({ newVal, oldVal, inputDefs }) {
      if (newVal.drone_sensor === undefined) return
      if (isEqual(newVal, oldVal)) return
      if (isEmpty(newVal.drone_sensor?.drone_sensor_lut)) return
      if (
        newVal.drone_sensor?.drone_sensor_lut ===
        oldVal.drone_sensor?.drone_sensor_lut
      )
        return

      const hideDefault = [
        'drone_return_mode',
        'drone_sampling_rate',
        'drone_scanning_mode',
        'RGB_colouring',
      ]
      const flightPlanHideFields = inputDefs.filter(
        (o) => o.model === 'flight_plan',
      )[0]

      const sensorSettingsHideFields = inputDefs.filter(
        (o) => o.model === 'sensor_settings',
      )[0]

      flightPlanHideFields.modelConfig.fields['IMU_calibration'].hidden =
        newVal.drone_sensor.drone_sensor_lut !== 'LI2'

      for (const field of hideDefault) {
        sensorSettingsHideFields.modelConfig.fields[field].hidden =
          newVal.drone_sensor.drone_sensor_lut === 'P1REMXD'
      }

      const multispecHideFields = inputDefs.filter(
        (o) => o.model === 'multispec_settings',
      )[0]

      multispecHideFields.hidden = newVal.drone_sensor.drone_sensor_lut !== 'P1REMXD'
      const condition =
        isEqual(newVal.flight_plan, oldVal.flight_plan) ||
        isEqual(newVal.sensor_settings, oldVal.sensor_settings) ||
        isEqual(newVal.multispec_settings, oldVal.multispec_settings)
      if (newVal.drone_sensor.drone_sensor_lut === 'P1REMXD' && condition) {
        newVal.flight_plan = {
          IMU_calibration: false,
          flight_altitude: 80,
          elevation_optimisation: true,
          frontal_overlap_ratio: 80,
          side_overlap_ratio: 80,
          margin: 100,
          flight_speed: 8,
          course_angel: 0,
          target_surface_takeoff_point: '0',
        }
        newVal.sensor_settings = {
          drone_white_balance: 'SU',
          RGB_colouring: false,
        }
        newVal.multispec_settings = {
          drone_micasense_crp: 'P1',
          altitude_tolerance: 20,
          drone_capture_mode: 'T',
          timer_interval: 1,
          target_alt: 80,
        }
        notifyHandler(
          'info',
          `'${newVal.drone_sensor.drone_sensor_lut}' related data has been auto-filled for your convenience`,
        )
      }
      if (newVal.drone_sensor.drone_sensor_lut === 'LI2' && condition) {
        newVal.flight_plan = {
          flight_altitude: 50,
          elevation_optimisation: true,
          frontal_overlap_ratio: 70,
          side_overlap_ratio: 52,
          margin: 100,
          flight_speed: 5,
          course_angel: 0,
          IMU_calibration: true,
          target_surface_takeoff_point: '0',
        }
        newVal.sensor_settings = {
          drone_white_balance: 'SU',
          drone_return_mode: 'PR',
          drone_sampling_rate: '240000',
          drone_scanning_mode: 'R',
          RGB_colouring: true,
        }
        delete newVal.multispec_settings
        notifyHandler(
          'info',
          `'${newVal.drone_sensor.drone_sensor_lut}' related data has been auto-filled for your convenience`,
        )
      }
      return newVal
    },
  },
}
</script>
