<template>
  <div class="q-py-sm" v-if="!modelValue && !isUsingDataSheet">
    <q-btn data-cy="endSurvey" outline @click="recordEnd">End survey</q-btn>
  </div>
  <crud
    v-if="showCrud"
    ref="crud"
    :fields="customFields"
    :row-data-key="config.modelConfig.rowDataKey"
    :current-prot-id="config.modelConfig.currentProtId"
    :modelValue="modelValue"
    @new-record-changed="newRecordChangedHandler"
  />
</template>
<script>
import { asyncCrud as crud } from 'src/misc/helpers'
export default {
  props: {
    modelValue: {
      type: Object,
      required: false,
    },
    userCoords: {
      type: Object,
      required: false,
    },
    config: {
      type: Object,
      required: true,
    },
  },
  components: {
    crud,
  },
  inject: {
    isUsingDataSheet: { from: 'isUsingDataSheet', default: false },
  },
  data() {
    const customFields = this.config.modelConfig.fields
    customFields.end_location.initCurrent = !this.isUsingDataSheet
    customFields.end_time.notInitDateTime = this.isUsingDataSheet

    return {
      time: null,
      location: null,
      customFields,
      showCrud: this.isUsingDataSheet || Boolean(this.modelValue),
    }
  },
  emits: ['endSurvey', 'update:modelValue'],
  methods: {
    recordEnd() {
      this.$emit('update:modelValue', {
        end_time: new Date(),
        end_location: this.userCoords,
      })
      this.showCrud = true
    },
    newRecordChangedHandler(data) {
      this.localRecord = data
      const valid = this.$refs['crud'].checkFormValid(true)
      // allow user to adjust the details if they ended the survey
      if ((this.isUsingDataSheet || this.showCrud) && valid) {
        this.$emit('endSurvey', data, this.config)
      }
    },
  },
}
</script>
