<template>
  <q-item clickable tag="div" :to="to" :active="isActive">
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>
        {{ caption }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true,
    },
    caption: {
      type: String,
      default: '',
    },
    to: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      default: '',
    },
  },
  computed: {
    isActive() {
      return this.$route.path === this.to
    },
  },
}
</script>


<style scoped>
.q-item.q-router-link--active, .q-item--active{
  color: var(--q-secondary);
}
</style>