<template>
  <q-dialog v-model="expandImg">
    <q-card class="img-dialog" style="width: 80vw;">
      <div class="close-img-btn">
        <q-btn icon="close" flat round dense v-close-popup />
      </div>
      <async-img alt="expaned summary image" :src="imgSrc" class="expandedImg" />
      <q-card-section v-if="description" v-html="description" />
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: {
    modelValue: {
      type: Boolean,
      required: true,
    },
    imgSrc: {
      required: true,
    },
    description: {
      type: String,
    },
  },
  computed: {
    expandImg: {
      get() {
        return this.modelValue
      },
      set(newValue) {
        this.$emit('update:modelValue', newValue)
      },
    },
  },
}
</script>
