<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :user-coords="userCoords"
      :collection-survey-flag="true"
      :exclude-submit-btn-flag="true"
      :row-data-key="modelConfig.rowDataKey"
      :current-prot-id="modelConfig.currentProtId"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :modelValue="modelValue"
      @collection-entry-added="collectionEntryAdded"
      :startRecordFlag="
        !!bulkStore.collectionGetForProt({
          protId: this.protocolId,
        })['fauna-ground-counts-observation']?.start
      "
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  createSiteSetupFieldDef,
  createSurveySetupIdCb,
  makeConditionFieldForTargetSpecies,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from '../stores/ephemeral'
import { useBulkStore } from '../stores/bulk'

export default {
  inject: ['doc'],
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
    },
    rowDataKey: {
      required: false,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()

    return {
      apiModelsStore,
      ephemeralStore,
      bulkStore,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      'fauna-ground-counts-observation',
      this.doc,
      this.protocolId,
    )

    modelConfig.fields.select_transect.prefer_dropdown = true
    modelConfig.fields.transect_width.hidden = true
    modelConfig.fields.survey_setup_ID.hidden = true
    modelConfig.fields.survey_setup_ID.disable = true

    createSiteSetupFieldDef(
      this.protocolId,
      modelConfig.fields,
      this.rowDataKey,
      'field-reconnaissance-and-transect-set-up',
      'select_transect',
    )

    let conditionalFields = [
      {
        field: 'transect_width',
        dependsOn: 'sampling_type',
        dependsOnSelection: ['FW'],
      },
      {
        field: 'survey_setup_ID',
        dependsOn: 'select_transect',
        fieldCb: this.cb,
      },
    ]

    conditionalFields = makeConditionFieldForTargetSpecies(modelConfig.fields, conditionalFields)
    return {
      modelConfig,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    collectionEntryAdded() {
      createSiteSetupFieldDef(
        this.protocolId,
        this.modelConfig.fields,
        this.rowDataKey,
        'field-reconnaissance-and-transect-set-up',
        'select_transect',
      )
    },
    cb({ newVal, oldVal }) {
      return createSurveySetupIdCb(newVal, oldVal, 'select_transect')
    },
  },
}
</script>
