<template>
  <div>
    <paratoo-api-model-crud-ui
      :id="rowDataKey"
      ref="crud"
      :fields="modelConfig.fields"
      :hide-title="true"
      :collection-survey-flag="true"
      :user-coords="userCoords"
      :row-data-key="modelConfig.rowDataKey"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      @disable-fields="disableFields"
      @update:modelValue="
        (e) => {
          e.forEach((item) => {
            item.outlook_zones?.forEach((zone, index) => {
              zone.outlook_zone_name = 'Outlook zone ' + (index + 1)
            })
          })
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  disableFields,
  makeModelConfig,
} from '../misc/helpers'

export default {
  inject: ['doc'],
  name: 'FaunaGroundCountsSurvey',
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
    },
    rowDataKey: {
      required: true,
    },
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    if (this.rowDataKey === 'ground-counts-vantage-point') {
      modelConfig.fields.outlook_zones.modelConfig.fields.outlook_zone_name.hidden = true
    }
    return {
      modelConfig,
    }
  },
  methods: {
    disableFields(fields) {
      //NOTE: temp. workaround - auto-fill photos is difficult, so just don't auto-fill and re-take the photos. Need to confirm a proper solution w/ Mark, but probably just hide the photo fields and make not required (which will require custom rule as we'll need to remove the `required` in the schema)
      const newFields = fields?.filter(o => !o.includes('photo')) || null
      disableFields(newFields, this.modelConfig.fields)
    },
  },
}
</script>
