<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :user-coords="userCoords"
      :row-data-key="modelConfig.rowDataKey"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :exclude-submit-btn-flag="true"
      :collection-survey-flag="true"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
} from '../misc/helpers'
import { useEphemeralStore } from '../stores/ephemeral'
import { useBulkStore } from '../stores/bulk'
import { isEqual } from 'lodash'

export default {
  inject: ['doc'],
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
    },
    rowDataKey: {
      required: false,
    },
  },
  setup(props) {
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()

    const collection = bulkStore.collectionGetForProt({
      protId: props.protocolId,
    })

    const isUsingDataSheet = Object.values(collection).find(
      (record) => 'x_using_datasheet' in record,
    )?.x_using_datasheet

    return {
      ephemeralStore,
      bulkStore,
      isUsingDataSheet
    }
  },
  provide() {
    return {
      isUsingDataSheet: this.isUsingDataSheet
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      'fauna-ground-counts-conduct-survey',
      this.doc,
      this.protocolId,
    )

    const setupData = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })?.['fauna-ground-counts-observation']

    modelConfig.fields.track_log.type = 'fauna-observation-count-map'
    modelConfig.fields.start.type = 'record_start'
    modelConfig.fields.end.type = 'record_end'

    const transectCollection = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })['field-reconnaissance-and-transect-set-up']

    const surveyCollection = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })['fauna-ground-counts-observation']

    modelConfig.fields.transect_ID.type = 'select'

    modelConfig.fields.transect_ID.options = transectCollection.map(
      (o) => o.new_or_existing.site_id,
    )

    modelConfig.fields.setup_ID.hidden = true
    modelConfig.fields.setup_ID.prefer_dropdown = true
    modelConfig.fields.transect_ID.prefer_dropdown = true

    modelConfig.fields.start.hidden = true
    modelConfig.fields.track_log.hidden = true
    modelConfig.fields.observation.hidden = true
    modelConfig.fields.end.hidden = true
    modelConfig.fields.survey_duration_seconds.hidden = !this.isUsingDataSheet
    modelConfig.fields.observation.modelConfig.fields.cat_coat_colour.hidden = true

    const conditionalFields = [
      {
        field: 'setup_ID',
        dependsOn: 'transect_ID',
        fieldCb: this.cb,
      },
      {
        field: 'start',
        dependsOn: 'setup_ID',
      },
      {
        field: 'track_log',
        dependsOn: 'setup_ID',
      },
      {
        field: 'end',
        dependsOn: 'start',
      },
      {
        field: 'observation',
        dependsOn: 'start',
      },
      {
        field: 'cat_coat_colour',
        fieldCb: this.catCoatColor,
      },
    ]
    return {
      modelConfig,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      surveyCollection,
      setupData,
    }
  },
  methods: {
    catCoatColor({ newVal }) {
      if (
        newVal &&
        newVal.species &&
        newVal.species.attributable_fauna_species === 'CA'
      ) {
        this.modelConfig.fields.observation.modelConfig.fields.cat_coat_colour.hidden = false
      } else {
        this.modelConfig.fields.observation.modelConfig.fields.cat_coat_colour.hidden = true
      }
    },
    cb({ newVal, oldVal, inputDefs }) {
      this.ephemeralStore.selectedTransect =
        newVal.transect_ID?.value || newVal.transect_ID

      if (isEqual(newVal, oldVal)) return

      if (newVal && newVal.transect_ID) {
        const transect = this.surveyCollection.filter(
          (item) => item.select_transect === newVal.transect_ID,
        )

        const setupID = inputDefs.find((o) => o.model === 'setup_ID')
        setupID.type = 'select'
        setupID.options = transect.map((item) => item.survey_setup_ID)
        setupID.hidden = false
      }

      if (newVal && newVal.start) {
        const survey = this.surveyCollection.filter(
          (item) => item.survey_setup_ID === newVal.setup_ID,
        )

        const distance = inputDefs.find((o) => o.model === 'observation')
          .modelConfig.fields.distance
        const direction = inputDefs.find((o) => o.model === 'observation')
          .modelConfig.fields.direction

        distance.hidden = survey[0]?.sampling_type === 'FW' ? true : false
        direction.hidden = survey[0]?.sampling_type === 'FW' ? true : false
      }
    },
  },
}
</script>
