<template>
  <div v-if="isUsingDataSheet">
    <q-card :class="bgClass" bordered class="q-mt-md">
      <crud
        :title="config.modelConfig.title"
        :fields="trackLogFields"
        :row-data-key="config.modelConfig.rowDataKey"
        :current-prot-id="protocolId"
        :collection-survey-flag="true"
        :layersDeep="2"
        :modelValue="modelValue"
        @update:modelValue="updateTrackLogDataSheetMode"
      />
    </q-card>
  </div>
  <template v-else-if="startSurveyFlag">
    <div v-if="isValidUserCoords()">
      <div>
        <strong>Lat: </strong>{{ userCoords.lat }} <br />
        <strong>Lng: </strong>{{ userCoords.lng }} <br />
        <strong>Speed: </strong>{{ (speed * 1000) / 3600 }} km/h<br />
      </div>
      <div class="q-py-md">
        <div v-if="startSurveyFlag">Counter: {{ formatTime(timerCount) }}</div>
      </div>
      <l-map
        :min-zoom="1"
        :max-zoom="20"
        :style="
          isMobileDevice
            ? 'height: 350px; width: 100%'
            : 'height: 500px; width: 100%'
        "
        :center="currentCenter"
        :zoom="currentZoom"
        ref="theMap"
        data-cy="polygonMap"
        @ready="makeMapRef()"
      >
        <l-tile-layer :url="url" />
        <l-control position="bottomright">
          <q-btn color="grey" icon="my_location" @click="backToLocation" />
        </l-control>
        <l-control-scale :imperial="false" />
        <l-circle-marker
          color="orange"
          :lat-lng="this.userCoords"
          :weight="Number(12)"
        />
        <LPolyline
          v-if="modelValue?.length"
          color="seaShell"
          :lat-lngs="modelValue.map((p) => [p.lat, p.lng])"
        ></LPolyline>
      </l-map>
    </div>
    <div v-else><h4>Waiting for GPS...</h4></div>
  </template>
</template>
<script>
import { useEphemeralStore } from '../stores/ephemeral'
import { useBulkStore } from 'src/stores/bulk'
import { date } from 'quasar'
import {
  assignValidUserCoords,
  isValidUserCoords,
  asyncCrud as crud,
} from '../misc/helpers'

import {
  LMap,
  LTileLayer,
  LControl,
  LControlScale,
  LPolyline,
  LCircleMarker,
} from 'vue-leaflet/src/components'

export default {
  components: {
    LMap,
    LTileLayer,
    LControl,
    LPolyline,
    LCircleMarker,
    LControlScale,
    crud,
  },
  props: {
    endSurveyFlag: {
      required: false,
    },
    startSurveyFlag: {
      required: false,
    },
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    indexId: {
      type: Number,
    },
    config: {
      type: Object,
      required: true,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()
    const url = `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`
    return {
      ephemeralStore,
      bulkStore,
      url,
    }
  },
  inject: {
    currRowDataKey: { from: 'currRowDataKey' },
    isUsingDataSheet: { from: 'isUsingDataSheet', default: false },
  },
  data() {
    const protocolId = this.config.modelConfig.currentProtId
    const collection = this.bulkStore.collectionGetForProt({
      protId: protocolId,
    })

    const timerCount = collection?.[this.indexId]?.survey_duration_seconds

    const trackLogFields = this.config.modelConfig.fields
    const fieldsToHide = [
      'lat',
      'lng',
    ]
    for(const field of fieldsToHide) {
      trackLogFields[field].hidden = true
      trackLogFields[field].rules = []
    }
    if(trackLogFields.speed) {
      trackLogFields.speed.label = 'Speed (m/s)'
    }
    // a fake fields to use lat lng picker for the track log
    trackLogFields.location = {
      model: 'location',
      parentModel: 'track_log',
      label: 'Location *',
      // as lat and lng are required so we need this rule
      rules: [(val) => val !== null || 'This field is required'],
      type: 'location',
      initCurrent: false,
    }
    return {
      trackLogFields,
      recordDone: false,
      recordStart: false,
      timerEnabled: false,
      timerCount,
      currentZoom: 11.5,
      currentCenter: assignValidUserCoords(this.userCoords),
      newRecord: this.modelValue?.length ? this.modelValue : [],
      path: this.modelValue?.length || [],
      timerIntervalId: null,
      startTime: this.startSurveyFlag?.[0]?.start_time,
      endTime: this.endSurveyFlag?.[0]?.end_time,
      protocolId,
    }
  },
  watch: {
    endSurveyFlag(val) {
      if (val && !this.isUsingDataSheet) {
        this.finishSurvey()
      }
    },
    startSurveyFlag(val) {
      if (val && !this.isUsingDataSheet) {
        this.ephemeralStore.startSurveyFlag = val
        this.startRecording()
      }
    },
    userCoords(val) {
      if (this.startSurveyFlag && !this.endSurveyFlag && !this.isUsingDataSheet) {
        this.path.push({ ...val, speed: this.speed })
        this.$emit('update:trackLog', this.path)
      }
    },
    newRecord: {
      handler() {
        this.$emit('update:modelValue', this.newRecord)
      },
      deep: true,
    },
    modelValue() {
      if (!this.modelValue) return []

      this.newRecord = Array.isArray(this.modelValue)
        ? this.modelValue
        : [this.modelValue]
    },
  },
  computed: {
    speed: {
      get() {
        const speed = this.ephemeralStore.speed
        return isNaN(speed) ? 0 : speed
      },
    },
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    bgClass() {
      return `bg-grey-${this.$q.dark.isActive ? 9 : 2}`
    },
  },
  unmounted() {
    clearInterval(this.timerInterval)
  },
  methods: {
    makeMapRef() {
      this.map = this.$refs.theMap.leafletObject
    },
    isValidUserCoords() {
      return isValidUserCoords(this.userCoords)
    },
    backToLocation() {
      this.currentZoom = 13
      this.currentCenter = assignValidUserCoords(this.userCoords)
    },
    startRecording() {
      this.recordStart = true
      this.timerEnabled = true

      // remove endTime if we start recording again
      if (this.endTime && this.startTime) {
        delete this.bulkStore.autoSavedCollections[this.protocolId].endTime
      }

      let timeInSeconds = 0
      if (!this.startTime) {
        this.startTime = new Date()
        this.bulkStore.autoSavedCollections[this.protocolId] = {
          startTime: this.startTime,
        }
      } else {
        timeInSeconds = date.getDateDiff(new Date(), this.startTime, 'seconds')
      }
      this.timerInterval = setInterval(() => {
        timeInSeconds++
        this.timerCount = timeInSeconds
      }, 1000)
    },
    finishSurvey() {
      // set flags
      this.timerEnabled = false
      this.recordDone = true
      this.recordStart = false

      this.endTime = new Date()
      this.bulkStore.autoSavedCollections[this.protocolId].endTime =
        this.endTime

      clearInterval(this.timerInterval)
      this.$emit('update:timerCount', this.timerCount?.toString())
    },
    formatTime(seconds) {
      // Function to format the time into HH:mm:ss format
      const hrs = Math.floor(seconds / 3600)
      const mins = Math.floor((seconds % 3600) / 60)
      const secs = seconds % 60
      return `${hrs.toString().padStart(2, '0')}:${mins
        .toString()
        .padStart(2, '0')}:${secs.toString().padStart(2, '0')}`
    },
    updateTrackLogDataSheetMode(data) {
      // flatten location objects
      data = data.map((d) => {
        d.lat = d.location.lat
        d.lng = d.location.lng
        return d
      })
      this.$emit('update:trackLog', data)
    },
  },
}
</script>
