<template>
  <!-- <div class="q-pt-md">
    <table class="table">
      <tbody>
        <tr v-for="(value, key) in setupObj" :key="key">
          <td>
            <strong>{{ formatString(key) }}</strong>
          </td>
          <td v-if="isObject(value)">
            <table class="sub-table">
              <tbody>
                <tr v-for="(subValue, subKey) in value" :key="subKey">
                  <td>{{ formatString(subKey) }}</td>
                  <td>{{ subValue }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td v-else-if="Array.isArray(value)">
            <table class="sub-table">
              <tbody v-for="(subValue, subKey) in value" :key="subKey">
                <tr>
                  <td>{{ subKey + 1 }}</td>
                  <td>
                    <table class="sub-table">
                      <tbody>
                        <tr v-for="(val, key) in subValue" :key="key">
                          <td style="width: 40%">{{ formatString(key) }}</td>
                          <td>{{ val }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td v-else>{{ value }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div v-if="userCoords && JSON.stringify(userCoords) !== '{}'">
    <l-map
      :min-zoom="minZoom"
      :max-zoom="maxZoom"
      :style="isMobileDevice ? 'height: 350px; width: 100%' : 'height: 500px; width: 100%'"
      v-model:center="currentCenter"
      v-model:zoom="currentZoom"
    >
      <l-tile-layer :url="url" :attribution="attribution" />
      <l-control position="bottomright">
        <q-btn color="grey" icon="my_location" @click="backToLocation" />
      </l-control>
      <l-control-scale :imperial="imperial" />
      <l-circle-marker
        color="orange"
        :lat-lng="this.userCoords"
        :weight="Number(12)"
      />
      <l-polygon
        color="seaShell"
        :lat-lngs="ephemeralStore.aerialPoints"
      ></l-polygon>
      <l-polygon
        color="salmon"
        :lat-lngs="ephemeralStore.transectPoints"
      ></l-polygon>
    </l-map>
    <div
      class="q-pt-md"
      v-if="userCoords && JSON.stringify(userCoords) !== '{}'"
    >
      <strong>Lat: </strong>{{ userCoords.lat }} <br />
      <strong>Lng: </strong>{{ userCoords.lng }} <br />
      <strong>Speed: </strong>{{ speed }} m/s<br />
    </div>
    <paratoo-api-model-crud-ui
      id="aerial-observation"
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :user-coords="userCoords"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
  <div v-else class="q-pt-md"><h4>Waiting for GPS...</h4></div>
</template>
<script>
import {
  makeModelConfig,
  asyncCrud,
  createDependentFieldCallback,
  notifyHandler,
} from '../misc/helpers'
import { useBulkStore } from '../stores/bulk'
import { useEphemeralStore } from '../stores/ephemeral'
import { useApiModelsStore } from 'src/stores/apiModels'
import { watch, ref, inject } from 'vue'
import cloneDeep from 'lodash/cloneDeep'

import {
  LMap,
  LTileLayer,
  LControl,
  LControlScale,
  LPolygon,
  LCircleMarker,
} from 'vue-leaflet/src/components'
export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    LMap,
    LTileLayer,
    LControl,
    LPolygon,
    LCircleMarker,
    LControlScale,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      type: Object,
      // required: true,
      required: false,
      default: () => {},
    },
    userCoords: {
      type: Object,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    zoom: {
      type: Number,
      required: false,
      default: 1,
    },
  },
  computed: {
    speed() {
      return this.ephemeralStore.speed
    },
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
  setup(props) {
    const doc = inject('doc')?.value
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()
    const { cachedModel } = useApiModelsStore()
    const aerialPoints = ref(ephemeralStore.aerialPoints)
    const survey = bulkStore.collectionGetForProt({
      protId: props.protocolId,
    })['aerial-survey']
    const sentSetup = cachedModel({ modelName: 'aerial-setup-desktop' })
    const setupObj = sentSetup.find((o) => o.id === survey.setup_ID)
    watch(
      () => ephemeralStore.aerialPoints,
      (newValue) => {
        aerialPoints.value = newValue
      },
    )
    const modelConfig = makeModelConfig(
      'aerial-observation',
      doc,
      props.protocolId,
    )

    modelConfig.fields.ferals_aerial_count_survey.modelConfig.submitBtnLabel =
      'Save and Complete Transect'

    modelConfig.fields.ferals_aerial_count_survey.modelConfig.fields.start.type =
      'record_start'
    modelConfig.fields.ferals_aerial_count_survey.modelConfig.fields.end.type =
      'record_end'

    modelConfig.fields.ferals_aerial_count_survey.modelConfig.fields.transect_ID.type =
      'select'

    modelConfig.fields.ferals_aerial_count_survey.modelConfig.fields.transect_ID.options =
      setupObj.transects.map((o) => o.transect_ID)

    modelConfig.fields.ferals_aerial_count_survey.modelConfig.fields.available_species.type =
      'aerial_filtered_species'

    modelConfig.fields.observer_name.type = 'select'
    modelConfig.fields.observer_name.prefer_dropdown = true
    modelConfig.fields.observer_name.options = setupObj.observer_details.map(
      (o) => o.observer,
    )

    const hideDefault = ['start', 'available_species', 'end']

    for (const field of hideDefault) {
      modelConfig.fields.ferals_aerial_count_survey.modelConfig.fields[
        field
      ].hidden = true
    }

    return {
      bulkStore,
      ephemeralStore,
      modelConfig,
      setupObj,
      cachedModel,
      survey,
    }
  },
  watch: {
    end(newValue) {
      if (newValue) {
        this.ephemeralStore.aerialPoints = [
          ...this.ephemeralStore.aerialPoints,
          this.ephemeralStore.transectPoints,
        ]
        this.ephemeralStore.transectPoints = []
      }
    },
    userCoords(newValue) {
      if (this.start && !this.end) {
        this.ephemeralStore.transectPoints = [
          ...this.ephemeralStore.transectPoints,
          newValue,
        ]
      }
    },
  },
  data() {
    const conditionalFields = [
      {
        field: 'available_species',
        dependsOn: 'start',
        fieldCb: this.cb,
      },
      {
        field: 'start',
        dependsOn: 'transect_ID',
      },
      {
        field: 'end',
        dependsOn: 'start',
      },
    ]
    return {
      minZoom: 1,
      maxZoom: 20,
      imperial: false,
      currentZoom: 11.5,
      currentCenter: cloneDeep(this.userCoords),
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      start: false,
      end: false,
    }
  },
  methods: {
    cb({ newVal }) {
      if (newVal && newVal.start) {
        this.start = true
        this.end = false
      }
      if (newVal && newVal.end) {
        this.start = false
        this.end = true
      }
    },
    formatString(str) {
      const words = str.split('_')
      const formattedWords = words.map(
        (word) => word.charAt(0).toUpperCase() + word.slice(1),
      )
      return formattedWords.join(' ')
    },
    isObject(value) {
      return typeof value === 'object' && !Array.isArray(value)
    },
    backToLocation() {
      this.currentZoom = 13
      this.currentCenter = cloneDeep(this.userCoords) //have to click twice to go back to current location
    },
    async onSubmitFunc() {
      if (this.userCoords && JSON.stringify(this.userCoords) !== '{}') {
        return await this.$refs['crud'].onSubmitFunc()
      } else {
        notifyHandler('warning', 'Location is unavailable. Waiting for GPS....')
      }
    },
  },
}
</script>
<style>
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.sub-table {
  width: 100%;
  border-collapse: collapse;
}

.sub-table td {
  padding: 4px 8px;
  border: 1px solid #ccc;
}
</style>
