<!-- Component for file choosing -->
<!-- TODO JSDoc -->
<template>
  <div>
    <p
      v-if="additionalLabel"
      class="tablet"
      style="color: #666666; text-align: left"
    >
      {{ additionalLabel }}
    </p>
    <q-file
      data-cy="uploadFile"
      :modelValue="file"
      @update:model-value="setFile"
      :label="`Pick File${allowMultipleFiles ? 's' : ''}`"
      outlined
      :multiple="allowMultipleFiles"
      :clearable="!isCameraChild"
      bottom-slots
      :accept="acceptableFiles"
      :append="allowMultipleFiles"
      :for="`${model}_${fileType}`"
      ref="fileInput"
    >
      <template #prepend>
        <q-icon name="attach_file" />
      </template>
      <template #append v-if="loading !== LOADING_STATE.IDLE" >
        <q-spinner v-if='loading === LOADING_STATE.LOADING' data-cy="file-loading"/>
        <q-icon v-else name="done" color='green' data-cy="file-loaded"/>
      </template>
      <template #hint>
        <!-- TODO make more human-readable -->
        Acceptable types: {{ acceptableFiles }}
      </template>
    </q-file>
  </div>
</template>

<script>
import { binary } from 'src/misc/binary'
import { useEphemeralStore } from 'src/stores/ephemeral'
import {
  checkStorageAvailability,
  notifyHandler,
  paratooErrorHandler,
} from 'src/misc/helpers'

export default {
  props: {
    modelValue: {
      type: [Array, Object],
      required: false,
    },
    allowMultipleFiles: {
      type: Boolean,
      required: false,
      default: false,
    },
    fileType: {
      type: String,
      required: true,
    },
    //string for single, or array of strings for multiple
    fileTypeOverride: {
      type: [String, Array],
      required: false,
      default: null,
    },
    //if we're a child of a camera component, don't allow the file picker to be
    //clearable, as the camera takes care of that
    isCameraChild: {
      type: Boolean,
      required: false,
      default: false,
    },
    additionalLabel: {
      type: String,
      required: false,
      default: null,
    },
    model: {
      type: String,
      required: false,
      default: null,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    return {
      ephemeralStore,
    }
  },
  inject: {
    currRowDataKey: { from: 'currRowDataKey' },
    subModuleRowDataKey: { from: 'subModuleRowDataKey', default: undefined },
  },
  data() {
    const LOADING_STATE = {
      'IDLE': 'IDLE',
      'LOADING': 'LOADING',
      'LOADED': 'LOADED',
    }
    const protocolId = this.$route.params['protocolId']
    return {
      file: null,
      useID: 0,
      protocolId,
      loading: LOADING_STATE.IDLE,
      LOADING_STATE
    }
  },
  computed: {
    acceptableFiles() {
      if (this.fileTypeOverride) {
        if (Array.isArray(this.fileTypeOverride)) {
          return this.fileTypeOverride.join(', ')
        }
        return this.fileTypeOverride
      }
      //resolve to the media types defined by Strapi (images, videos, and files).
      //the array values are defined by the IANA media types:
      //  https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types
      //media files are any file that isn't images or videos.
      //we have a special case for audio, so we need to treat it as such.
      const mediaFiles = ['application/*', 'text/*']
      const jsonFiles = ['application/json']
      const mediaAudio = ['audio/*']
      const mediaVideos = ['video/*']
      const mediaImages = ['image/*']
      let valueToReturn
      switch (this.fileType) {
        case 'json':
          valueToReturn = jsonFiles.join(', ')
          break

        case 'file':
        case 'multi_file':
          valueToReturn = mediaFiles.join(', ')
          break

        case 'photo':
        case 'multi_photo':
          valueToReturn = mediaImages.join(', ')
          break

        case 'video':
        case 'multi_video':
          valueToReturn = mediaVideos.join(', ')
          break

        case 'audio':
        case 'multi_audio':
          valueToReturn = mediaAudio.join(', ')
          break

        case 'any_file':
        case 'multi_any_file':
          valueToReturn = mediaFiles
            .concat(mediaVideos)
            .concat(mediaImages)
            .join(', ')
          break
      }
      return valueToReturn
    },
  },
  methods: {
    async setFile(newFile) {
      // check if storage is available
      const isStorageAvailable = await this.checkStorageAvailability(newFile)
      if (!isStorageAvailable) {
        notifyHandler(
          'negative',
          'Your device is out of storage space, please delete some files and try again.',
        )
        return
      }

      this.file = newFile
      let valueToAssign
      if (Array.isArray(this.file)) {
        valueToAssign = []
        for (const f of this.file) {
          this.loading = this.LOADING_STATE.LOADING
          const isAdded = this.modelValue.some(
            (file) => file.fileName === f.name,
          )
          if (isAdded) continue
          try {
            const metadata = await this.createFileMetaData(f)
            valueToAssign.push(metadata)
          } catch {
            this.file = this.file.filter((file) => file.name !== f.name)
          }
        }
      }
      //have to explicitly check for null, as when this.file is null `typeof this.file`
      //  returns 'object'.
      //null case is for when removing all files from file picker using
      //  clearing 'x' button
      else if (this.file === null) {
        valueToAssign = null
      } else {
        try {
          this.loading = this.LOADING_STATE.LOADING
          valueToAssign = await this.createFileMetaData(this.file)
        } catch {
          this.file = null
        }
      }
      if (this.allowMultipleFiles) {
        this.$emit('update:modelValue', [...this.modelValue, ...valueToAssign])
      } else {
        this.$emit('update:modelValue', valueToAssign)
      }
      if(this.loading === this.LOADING_STATE.LOADING) {
        this.loading = this.LOADING_STATE.LOADED
        setTimeout(() => {
          this.loading = this.LOADING_STATE.IDLE
        }, 2000)
      }
    },
    async createFileMetaData(file) {
      try {
        const modelName = this.subModuleRowDataKey || this.currRowDataKey
        const file_identifier = await binary.saveBinary(
          file,
          this.protocolId,
          modelName,
        )
        const metadata = {
          src: file_identifier,
          file_identifier,
          //one of the 10 file types we used (derived from Strapi's media types):
          //  multi_photo, photo, multi_video, video,  multi_audio, audio, multi_file,
          //  file, multi_any_file, any_file.
          fileType: this.fileType,
          fileName: file.name,
          mimeType: file.type,
        }
        return metadata
      } catch (error) {
        paratooErrorHandler(`Failed to upload ${file.name}`,error)
        notifyHandler(
          'negative',
          `Failed to upload ${file.name}, please try again.`,
        )
        throw error
      }
    },

    checkStorageAvailability(newFile) {
      if (Array.isArray(newFile)) {
        const totalSize = newFile.reduce((acc, file) => acc + file.size, 0)
        return checkStorageAvailability(totalSize)
      } else if (newFile instanceof File) {
        return checkStorageAvailability(newFile.size)
      } else return true
    },
    /**
     * retrieves File from the indexedDB by uuid if it's stored there
     * otherwise just return the file itself
     */
    async resolveBinary(file) {
      const src = file.src || file.media
      if (src instanceof File) {
        return src
      } else {
        return await binary.getRawBinary(src)
      }
    },
    async resolveLocalBinary(newVal) {
      if (!newVal) return
      if (Array.isArray(newVal)) {
        const acceptedFile = newVal.filter((file) => {
          const type = file.mimeType.split('/')[0]
          if (this.acceptableFiles.includes(type)) return file
        })
        const promises = acceptedFile.map(
          async (file) => await this.resolveBinary(file),
        )
        const blobs = await Promise.all(promises)
        // as blobs is an array of Blob but we only want File from file picker
        this.file = blobs.filter((blob) => blob instanceof File)
      } else {
        this.file = await this.resolveBinary(newVal)
      }
    },
  },
  watch: {
    modelValue(newVal) {
      this.resolveLocalBinary(newVal)
    },
  },
  mounted() {
    this.resolveLocalBinary(this.modelValue)
  },
}
</script>
