<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="fireProtocolEntry.id"
      :model-value="savedValues"
      :user-coords="userCoords"
      :collection-survey-flag="true"
      :use-observation-picker-override="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          handleFireCharOb(e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  getSubPlot,
  getIntersectionPoint,
  notifyHandler,
} from '../misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'

import * as L from 'leaflet'

export default {
  inject: ['doc'],
  name: 'FireCharObservation',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    userCoords: {
      type: Object,
    },
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const url = `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`
    const attribution =
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    return {
      apiModelsStore,
      bulkStore,
      url,
      attribution,
    }
  },
  data() {
    const fireProtocolEntry = this.apiModelsStore.cachedModel({ modelName: 'protocol' }).find(o => o.name === 'Fire Survey')
    let modelConfig = makeModelConfig(
      'fire-char-observation',
      this.doc,
      fireProtocolEntry.id,
    )

    modelConfig.fields.maximum_trunk_char_height.hidden = true
    modelConfig.fields.trunk_char_height_location.hidden = true

    const conditionalFields = [
      {
        field: 'maximum_trunk_char_height',
        dependsOn: 'char_present',
      },
    ]
    //don't allow selecting a sample location that has already been recorded
    modelConfig.fields.fire_char_sample_location.optionsFilter = (o) => {
      if (
        !this.savedValues.some((s) => s.fire_char_sample_location === o.symbol)
      ) {
        return o
      }
    }
    return {
      conditionalFields,
      sub: null,
      ratio1: 0.3,
      ratio2: 0.4,
      conditionalFieldsCallback: createDependentFieldCallback(),
      modelConfig,
      fireProtocolEntry,
      SWplotPoint: null,
      NWplotPoint: null,
      NEplotPoint: null,
      SEplotPoint: null,
      selectedPoint: null,
      newRecord: {},
      searchAreaCenter: null,
      res: null,
    }
  },
  computed: {
    //need to make this computed so it is reactive enough when a child crud instance
    //attempts to init the existing data
    savedValues() {
      const fireCollection = this.bulkStore.collectionGetForProt({
        protId: this.fireProtocolEntry.id,
      }) //['fire-char-observation']
      if (fireCollection['fire-char-observation']) {
        return fireCollection['fire-char-observation']
      }
      return []
    },
    plotLayoutPoints() {
      return this.apiModelsStore.plotLayoutPoints('vegetation')
    },
  },
  watch: {
    plotLayoutPoints: {
      immediate: true, // This makes the watch handler run immediately after the component is created
      handler() {
        const SWplotPoint = this.plotLayoutPoints.latLngs[0]
        const NWplotPoint = this.plotLayoutPoints.latLngs[1]
        const NEplotPoint = this.plotLayoutPoints.latLngs[2]
        const SEplotPoint = this.plotLayoutPoints.latLngs[3]

        this.SWplotPoint = SWplotPoint
        this.NWplotPoint = NWplotPoint
        this.NEplotPoint = NEplotPoint
        this.SEplotPoint = SEplotPoint
        // veg plot points
        const vegPlot = [
          [SWplotPoint.lat, SWplotPoint.lng],
          [NWplotPoint.lat, NWplotPoint.lng],
          [NEplotPoint.lat, NEplotPoint.lng],
          [SEplotPoint.lat, SEplotPoint.lng],
        ]

        const subPlot = getSubPlot(vegPlot, this.ratio1, this.ratio2)

        const points18 = getSubPlot(vegPlot, 0.1, 0.8)

        const points5 = getSubPlot(vegPlot, 0.5, 0)

        const uniqueArray = []
        const seen = new Set()

        for (const obj of points5) {
          const str = JSON.stringify(obj)
          if (!seen.has(str)) {
            seen.add(str)
            uniqueArray.push(obj)
          }
        }

        this.points = subPlot
        const intersectionB_D = getIntersectionPoint(
          subPlot[1],
          subPlot[4],
          subPlot[3],
          subPlot[6],
        )

        const intersectionB_C = getIntersectionPoint(
          subPlot[1],
          subPlot[4],
          subPlot[2],
          subPlot[7],
        )
        const intersectionA_D = getIntersectionPoint(
          subPlot[0],
          subPlot[5],
          subPlot[3],
          subPlot[6],
        )
        const intersectionA_C = getIntersectionPoint(
          subPlot[0],
          subPlot[5],
          subPlot[2],
          subPlot[7],
        )

        this.sub = [
          intersectionB_D,
          intersectionA_D,
          intersectionA_C,
          intersectionB_C,
        ]

        const polyline = L.polyline(this.plotLayoutPoints.latLngs) //array: [lat, lng]

        this.searchAreaCenter = [
          polyline.getBounds().getCenter().lat,
          polyline.getBounds().getCenter().lng,
        ]

        const plot = [
          { lat: SWplotPoint.lat, lng: SWplotPoint.lng },
          { lat: NWplotPoint.lat, lng: NWplotPoint.lng },
          { lat: NEplotPoint.lat, lng: NEplotPoint.lng },
          { lat: SEplotPoint.lat, lng: SEplotPoint.lng },
        ]
        this.res = [
          ...points18,
          ...subPlot,
          ...uniqueArray,
          ...this.sub,
          ...plot,
        ]
        this.res = [
          ...this.res,
          { lat: this.searchAreaCenter[0], lng: this.searchAreaCenter[1] },
        ]
      },
    },
  },
  methods: {
    handleFireCharOb(e) {
      e.map((o) => {
        o['trunk_char_height_location'] = this.res
      })
      this.$emit('updateSubmodule', {
        data: e,
        submoduleProtocolId: this.fireProtocolEntry.id,
        rowDataKey: 'fire-char-observation',
      })
    },
    onSubmitFunc() {
      if(this.savedValues?.length !== 4) {
        notifyHandler('negative', 'Require 4 observations')
        return false
      }
      return true
    },
  },
}
</script>
