<template>
  <q-card>
    <div class="text-h6">Fire History</div>
    <q-card-section>
      <q-radio v-model="known" :val="true" label="Known" data-cy="Known" />
      <q-radio v-model="known" :val="false" label="Unknown" data-cy="Unknown" />
    </q-card-section>
    <q-card-section v-if="known">
      <q-input
        label="Year of fire (YYYY)"
        v-model="fireYear"
        :rules="[yearRule]"
        :lazy-rules="true"
        data-cy="year_of_fire"
      />
    </q-card-section>
  </q-card>
</template>
<script>
export default {
  props: {
    modelValue: {
      type: [String, undefined],
    },
  },
  data() {
    const currentDate = new Date()
    const currentYear = parseInt(currentDate.getFullYear())
    return {
      known: typeof this.modelValue === 'string',
      // for year format validation
      yearRule: (val) =>
        (/\b\d{4}\b/.test(val) && parseInt(val) <= currentYear) ||
        'Invalid year format',
    }
  },
  computed: {
    fireYear: {
      get() {
        return this.modelValue
      },
      set(newVal) {
        this.$emit('update:modelValue', newVal)
      },
    },
  },
  watch: {
    modelValue(newVal) {
      this.known = typeof newVal === 'string'
    },
    known(newVal) {
      if (!newVal) {
        this.fireYear = null
      }
    },
  },
}
</script>
