<!-- displays a simple summary of the selected floristics voucher
 - used by PlantGeneticVouchering and FloristicsLiteVoucher -->

 <template>
  <div class="column items-center" v-if="voucher">
    <h6 v-if="label" class="q-ma-none q-px-md q-pb-md">{{ label }}</h6>
    <div class="row">
      <p class="heading">Field name:</p>
      <p>{{ voucher.field_name }}</p>
    </div>
    <div class="row">
      <p class="heading">Growth form 1:</p>
      <p>{{ voucherGrowthForm(voucher, 1) }}</p>
    </div>
    <div
      v-if="voucher.growth_form_2"
      class="row"
    >
      <p class="heading">Growth form 2:</p>
      <p>{{ voucherGrowthForm(voucher, 2) }}</p>
    </div>
    <div v-if="voucher?.host_species" class="row">
      <p class="heading">Growth form 2:</p>
      <p>{{ voucher?.host_species }}</p>
    </div>
    <div v-if="voucher.habit?.length" class="row">
      <p class="heading">Habit:</p>
      <p>{{ voucher.habit.map((o) => o.lut.label).join(', ') }}</p>
    </div>
    <div v-if="voucher.phenology?.length" class="row">
      <p class="heading">Phenology:</p>
      <p>{{ voucher.phenology.map((o) => o.lut.label).join(', ') }}</p>
    </div>
    <div class="row">
      <p class="heading">Floristics voucher barcode:</p>
      <p>{{ voucher?.voucher_barcode }}</p>
    </div>
    <div>
      <div v-for="(im, index) of voucher.photo" :key="index">
        <div v-if="im">
          <!-- <q-img :src="resolvePhoto(im.single_photo)" /> -->
          <preview-photo :img-src="resolvePhoto(im.single_photo)" :description="im.comment" />
          <div class="row justify-center">Image {{ index + 1 }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import { useDataManagerStore } from '../stores/dataManager'
import PreviewPhoto from './PreviewPhoto.vue'
import {
  resolveFileFromUrl,
} from 'src/misc/helpers'
import { validate as isUuid } from 'uuid'
export default {
  name: 'FloristicsVoucherSummary',
  components: {
    PreviewPhoto,
},
  props: {
    voucherInfo: {
      type: Object,
      required: true,
    },
    label: {
      type: String,
      required: false,
      default: null,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const dataManager = useDataManagerStore()
    return {
      apiModelsStore,
      dataManager,
    }
  },
  computed: {
    voucher() {
      const necessaryKeys = ['field_name', 'growth_form_1', 'voucher_barcode']
      const providedVoucherInfoKeys = Object.keys(this.voucherInfo)
      if (necessaryKeys.every(o => providedVoucherInfoKeys.includes(o))) {
        //the passed voucher has all the information we need to don't need to resolve
        return this.voucherInfo
      }
      const floristicsVouchers = this.dataManager.cachedModel({
        modelName: `floristics-veg-voucher-${this.voucherInfo.voucherVariant}`
      })
      let selectedVoucher = null
      if (this.voucherInfo.value?.temp_offline_id) {
        selectedVoucher = floristicsVouchers.find(
          (v) => v.temp_offline_id === this.voucherInfo.value.temp_offline_id,
        )
      } else {
        selectedVoucher = floristicsVouchers.find(({ id }) => {
          let voucherInfoId = null
          if (this.voucherInfo.value.id) {
            voucherInfoId = parseInt(this.voucherInfo.value.id)
          } else {
            voucherInfoId = parseInt(this.voucherInfo.value)
          }
          return id === voucherInfoId
        })
      }
      return selectedVoucher
    },
  },
  methods: {
    voucherGrowthForm(voucher, number) {
      if (
        voucher[`growth_form_${number}`] &&
        !voucher[`growth_form_${number}`].label &&
        typeof voucher[`growth_form_${number}`] === 'string'
      ) {
        return this.apiModelsStore.resolvedLutSymbol({
          symbol: voucher[`growth_form_${number}`],
          modelName: 'lut-veg-growth-form',
        })
      } else {
        return voucher[`growth_form_${number}`].label
      }
    },
    resolvePhoto(im) {
      if(isUuid(im.src)) {
        return im.src
      }
      return resolveFileFromUrl(im)
    },
  },
}
</script>

<style>
.heading {
  font-weight: bold;
  padding-right: 5px;
}
</style>
