<template>
  <div>
    <paratoo-api-model-crud-ui
      id="floristics"
      ref="crud"
      :protocol-variant="protocolVariant"
      :fields="modelConfig.fields"
      :title="''"
      submit-btn-label="Save Species Record"
      add-btn-label="Add Another Species"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="false"
      :current-prot-id="protocolId"
      :modelValue="modelValue"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="updateModelValue"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  makeHostSpeciesOptions,
  makeHostSpeciesOptionsMapper,
  savePtvSubmodule,
  paratooSentryBreadcrumbMessage,
  paratooWarnMessage,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import {
  isEmpty,
} from 'lodash'
import { useBulkStore } from '../stores/bulk'

export default {
  inject: ['doc'],
  name: 'Floristics',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  async setup() {
    const options = await makeHostSpeciesOptions()
    const vouchers = options.voucherOptions

    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    return {
      apiModelsStore,
      bulkStore,
      vouchers,
    }
  },
  data() {
    //floristics protocol variant
    const protocolVariant = this.apiModelsStore.protocolVariant({
      protocolId: this.protocolId,
    })
    let modelConfig = makeModelConfig(
      'floristics-veg-voucher-full',
      this.doc,
      this.protocolId,
    )
    const conditionalFields = [
      {
        field: 'host_species',
        dependsOn: 'growth_form_1',
        dependsOnSelection: ['K'], //Epiphyte
      },
      {
        field: 'host_species',
        dependsOn: 'growth_form_2',
        dependsOnSelection: ['K'], //Epiphyte
      },
    ]

    modelConfig.fields.host_species.hidden = true
    modelConfig.fields.host_species.type = 'select'
    modelConfig.fields.host_species.prefer_dropdown = true

    modelConfig.fields.host_species.storeOverride = 'bulk'
    modelConfig.fields.host_species.optionsKeyUseDifferentProtId = {
      ['floristics-veg-voucher-lite']: this.apiModelsStore.protIdFromModelName('floristics-veg-voucher-lite'),
      //virtual vouchers same protocol ID as lite, so use the same model
      ['floristics-veg-virtual-voucher']: this.apiModelsStore.protIdFromModelName('floristics-veg-voucher-lite'),
    }
    modelConfig.fields.host_species.optionsKey = ['floristics-veg-voucher-full', 'floristics-veg-voucher-lite', 'floristics-veg-virtual-voucher']
    modelConfig.fields.host_species.optionsMapper = makeHostSpeciesOptionsMapper()
    modelConfig.fields.host_species.additionalOptions = this.vouchers

    // a hidden read-only field to keep track of sub module
    modelConfig.fields.unique_id = { hidden: true }
    
    console.log('modelConfig:', modelConfig)

    // plant tissue protocol id
    const currSurvey = this.bulkStore.collectionGetForProt({ protId: this.protocolId })['floristics-veg-survey-full']
    console.log('currSurvey:', currSurvey)
    let selectedPtvVariant = null
    let plantVoucheringId = null
    if (currSurvey?.collect_ptv_submodule) {
      selectedPtvVariant = this.apiModelsStore.resolvedLutSymbol({
        symbol: currSurvey.ptv_protocol_variant,
        modelName: 'lut-select-protocol-variant',
      })

      if (!selectedPtvVariant) {
        paratooWarnMessage(`Unable to resolve the selected PTV variant with symbol=${currSurvey.ptv_protocol_variant}`)
      }

      plantVoucheringId = this.apiModelsStore.cachedModel({ modelName: 'protocol' })
        .find(
          (o) =>
            o.name === `Plant Tissue Vouchering - ${selectedPtvVariant}`,
        )?.id
      
      if (!plantVoucheringId) {
        paratooWarnMessage(`Unable to resolve the protocol ID for PTV submodule with symbol=${currSurvey.ptv_protocol_variant} and resolved variant=${selectedPtvVariant}`)
      }
    } else {
      paratooSentryBreadcrumbMessage(
        `No PTV submodule, so skipping getting submodule protocol info`,
        'Floristics',
      )
    }
    console.log('selectedPtvVariant:', selectedPtvVariant)
    console.log('plantVoucheringId:', plantVoucheringId)
    
    modelConfig.fields = {
      ...modelConfig.fields,
      vouchering: {
      	variant: selectedPtvVariant,
      },
    }
    console.log('modelConfig: ', modelConfig)
    
    let convertedPtvVariant = null
    if (selectedPtvVariant === 'Standard') {
    	convertedPtvVariant = 'lite'
    } else if (selectedPtvVariant === 'Enhanced') {
    	convertedPtvVariant = 'full'
    }

    return {
      modelConfig: modelConfig,
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      protocolVariant,
      plantVoucheringId,
      selectedPtvVariant,
      convertedPtvVariant,
    }
  },
  methods: {
    capitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    updateModelValue(newVal) {
      //get handle on the state of the store before emitting
      const storeFloristicsVouchers = this.bulkStore.collectionGetForProt({ protId: this.protocolId })['floristics-veg-voucher-full']
      this.$emit('update:modelValue', newVal)
      if (Array.isArray(newVal.data)) return

      const idSet = newVal.map((record) => record.unique_id)
      
      let removedVoucher = null
      for (const storeVoucher of storeFloristicsVouchers || []) {
        if (!idSet.includes(storeVoucher.unique_id)) {
          removedVoucher = storeVoucher
          break
        }
      }

      for (const id of idSet) {
        const resp = savePtvSubmodule(
          id,
          this.protocolId,
          this.plantVoucheringId,
          this.convertedPtvVariant,
          removedVoucher,
        ) || []

        const emitObjs = resp.filter(obj => !isEmpty(obj))
        this.$emit('updateSubmodule', emitObjs)
      }

      // remove that PTV voucher that doesn't match any floristics voucher
      this.cleanUpTmpPTVData(idSet)
    },
    cleanUpTmpPTVData(idSet) {
      for (let uniqueId of Object.keys(this.bulkStore.tmpPTVData)) {
        if (!idSet.includes(uniqueId)) {
          this.bulkStore.clearTmpPTVData(uniqueId)
        }
      }
    },
  },
}
</script>
