<template>
  <div v-if="vouchers">
    <p>Collect new data for voucher(s) you've seen before, or create new one(s) below</p>
    <!-- TODO need a better way to set the height when no vouchers defined - 100px (or even something like 10vh has inconsistent heights depending on the type of device (screen size, resolution, etc.)) -->
    <FloristicsVoucherPicker
      type="searchOnly" 
      @voucherLabelOptions="(e) => (voucherLabelOptions = e)" 
      @filter="filterVouchers"
      :protocolId="protocolId"
    />
    <q-dialog v-model="helpAlert">
      <q-card>
        <q-card-section>
          <FloristicsVoucherSummary :voucher-info="selectedVoucherForCollectAgain"/>
        </q-card-section>
        <q-card-actions align="center" class="q-px-none q-pt-none">
          <q-btn flat label="Back" v-close-popup data-cy="closeVoucherInfo"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-scroll-area
      :style="{ height: vouchersForProjectAreaDefined ? 40 + 'vh' : 100 + 'px' }"
    >
      <q-markup-table wrap-cells id="tbl">
        <thead>
          <tr>
            <th id="colName">Floristics Voucher    
              (Click <q-icon name="help"/> for more info)
            </th>
            <th v-if="voucherLabelOptions.plotName" id="colName">Plot</th>
            <th v-if="voucherLabelOptions.barcode" id="colName">Barcode</th>
            <th id="colButton"><!-- empty for 'show more' button --></th>
          </tr>
        </thead>
        <tbody v-if="vouchersForProjectAreaDefined">
          <tr v-for="voucher of filteredVoucherObjs" :key="voucher" :data-cy="`collectAgainRow_${voucher.field_name.replaceAll(' ', '_')}`">
            <td>
              {{ getVoucherVariant(voucher) }}{{ voucher.field_name }}
              <q-icon name="help" class="cursor-pointer" @click="helpAlert = !helpAlert;selectedVoucherForCollectAgain = voucher"/>
            </td>
            <td v-if="findVoucher(voucher) &&  voucherLabelOptions.plotName">{{findVoucher(voucher).relatedPlotLabel}}</td>
            <td  v-if="voucherLabelOptions.barcode">{{ voucher.voucher_barcode }}</td>
            <td>
              <q-btn
                :label="collectAgainBtnLabel(voucher)"
                @click="
                  voucherCollectAgainOpen = true;
                  selectedVoucherForCollectAgain = voucher
                "
                data-cy="collectAgain"
              />
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="2">No vouchers for the {{ projAreaTermMap() }} are available for re-collection</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </q-markup-table>
    </q-scroll-area>

    <!-- need `no-esc-dismiss` as the Cypress tests will hit the escape key to defocus a
      multi-select dropdown, which will also cause this dialog to close -->
    <q-dialog v-model="voucherCollectAgainOpen" :no-esc-dismiss="isCypress">
      <q-card>
        <h6 class="q-my-sm q-mx-md">Collect additional data for voucher: {{ selectedVoucherForCollectAgain.field_name }}</h6>
        <q-expansion-item label="Expand for existing voucher data" style="border: 1px solid; border-radius: 3px;" data-cy="expandVouchInfo">
          <!-- TODO add offline support for images (using prepare for visit workflow); will require us to solve issue #35 -->
          <!-- TODO more info: determinations, collector (from collection identifier) -->
          <q-card-section>
            <h5 class="q-ma-none q-pa-none">
              More info for voucher: {{ selectedVoucherForCollectAgain.field_name }}
            </h5>
          </q-card-section>
          <q-card-section>
            <FloristicsVoucherSummary :voucher-info="selectedVoucherForCollectAgain"/>
          </q-card-section>
          <q-card-actions align="center" class="q-pa-none">
            <q-btn flat label="Back" v-close-popup data-cy="closeTempVoucher"/>
          </q-card-actions>
        </q-expansion-item>
        
        <!-- collection form for existing vouchers -->
        <q-card-section>
          <paratoo-api-model-crud-ui
            id="floristics_virtual_voucher"
            ref="crudv"
            :fields="virtualVoucherModelConfig.fields"
            :title="''"
            protocol-variant="lite"
            submit-btn-label="Save Species Record"
            add-btn-label="Add Another Species"
            :row-data-key="virtualVoucherModelConfig.rowDataKey"
            :exclude-submit-btn-flag="false"
            :current-prot-id="virtualVoucherModelConfig.currentProtId"
            :modelValue="collectAgainModelValue"
            :collection-survey-flag="false"
            :conditional-fields="conditionalFields"
            :conditional-field-callback="conditionalFieldsCallback"
            @update:modelValue="
              (e) => {
                saveVirtualVoucher(e)
              }
            "
          />
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- collection form for new vouchers -->
    <paratoo-api-model-crud-ui
      id="floristics"
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      protocol-variant="lite"
      submit-btn-label="Save Species Record"
      add-btn-label="Add Another Species"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="false"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="updateModelValue"
    />
  </div>
  <div v-else>
    Loading...
  </div>
</template>

<script>
import { useApiModelsStore } from '../stores/apiModels'
import { useAuthStore } from '../stores/auth'
import { useBulkStore } from '../stores/bulk'
import { useDataManagerStore } from '../stores/dataManager'
import { useEphemeralStore } from 'src/stores/ephemeral'
import {
  asyncCrud,
  makeModelConfig,
  notifyHandler,
  createDependentFieldCallback,
  voucherVariantFromVoucher,
  makeHostSpeciesOptions,
  makeHostSpeciesOptionsMapper,
  savePtvSubmodule,
  projAreaTermMap,
  getVouchersForProjectArea,
  makeSelectableVoucherOptionsMapper,
  checkFloristicsVoucherInfo,
} from '../misc/helpers'
import FloristicsVoucherSummary from '../components/FloristicsVoucherSummary.vue'
import * as c from 'src/misc/constants'
import {
  cloneDeep,
  isEmpty,
  isEqual,
} from 'lodash'
import FloristicsVoucherPicker from './FloristicsVoucherPicker.vue'

export default {
  inject: ['doc'],
  provide() {
    return {
      subModuleRowDataKey: this.virtualVoucherModelConfig.rowDataKey,
    }
  },
  name: 'FloristicLiteVoucher',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
    FloristicsVoucherSummary,
    FloristicsVoucherPicker
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  async setup(props) {
    const options = await makeHostSpeciesOptions()
    const vouchers = options.voucherOptions
    const vouchersFullObjs = options.vouchersFullObjs.sort((a, b) => a.field_name.localeCompare(b.field_name))

    const apiModelsStore = useApiModelsStore()
    const authStore = useAuthStore()
    const bulkStore = useBulkStore()
    const dataManager = useDataManagerStore()
    const { setBarcodeOpen } = useEphemeralStore()
    const floristicsVouchers = await getVouchersForProjectArea()
    return {
      apiModelsStore,
      authStore,
      bulkStore,
      dataManager,
      setBarcodeOpen,
      vouchersFullObjs,
      vouchers,
      floristicsVouchers,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      'floristics-veg-voucher-lite',
      this.doc,
      this.protocolId,
    )

    const conditionalFields = [
      {
        field: 'host_species',
        dependsOn: 'growth_form_1',
        dependsOnSelection: ['K']   //Epiphyte
      },
      {
        field: 'host_species',
        dependsOn: 'growth_form_2',
        dependsOnSelection: ['K']   //Epiphyte
      },
    ]

    modelConfig.fields.unique_id.hidden = true

    const hostSpeciesOptionsMapper = makeHostSpeciesOptionsMapper()

    const optionsKeyUseDifferentProtId = {
      ['floristics-veg-voucher-full']: this.apiModelsStore.protIdFromModelName('floristics-veg-voucher-full')
    }

    modelConfig.fields.host_species.hidden = true
    modelConfig.fields.host_species.type = 'select'
    modelConfig.fields.host_species.prefer_dropdown = true
    modelConfig.fields.host_species.storeOverride = 'bulk'
    modelConfig.fields.host_species.optionsKeyUseDifferentProtId = optionsKeyUseDifferentProtId
    modelConfig.fields.host_species.optionsKey = ['floristics-veg-voucher-full', 'floristics-veg-voucher-lite', 'floristics-veg-virtual-voucher']
    modelConfig.fields.host_species.optionsMapper = hostSpeciesOptionsMapper
    modelConfig.fields.host_species.additionalOptions = this.vouchers

    const virtualVoucherModelConfig = makeModelConfig(
      'floristics-veg-virtual-voucher',
      this.doc,
      this.protocolId,
    )
    virtualVoucherModelConfig.fields.host_species.hidden = true
    virtualVoucherModelConfig.fields.host_species.type = 'select'
    virtualVoucherModelConfig.fields.host_species.prefer_dropdown = true
    virtualVoucherModelConfig.fields.host_species.storeOverride = 'bulk'
    virtualVoucherModelConfig.fields.host_species.optionsKeyUseDifferentProtId = optionsKeyUseDifferentProtId
    virtualVoucherModelConfig.fields.host_species.optionsKey = ['floristics-veg-voucher-full', 'floristics-veg-voucher-lite', 'floristics-veg-virtual-voucher']
    virtualVoucherModelConfig.fields.host_species.optionsMapper = hostSpeciesOptionsMapper
    virtualVoucherModelConfig.fields.host_species.additionalOptions = this.vouchers

    //floristics protocol variant
    const protocolVariant = this.apiModelsStore.protocolVariant({
      protocolId: this.protocolId,
    })

    // plant tissue protocol id
    let convertedVariant = null
    if (protocolVariant === 'full') {
      convertedVariant = 'Enhanced'
    } else if (protocolVariant === 'lite') {
      convertedVariant = 'Standard'
    }
    const plantVoucheringId = this.apiModelsStore.cachedModel({ modelName: 'protocol' })
      .find(
        (o) =>
          o.name === `Plant Tissue Vouchering - ${convertedVariant}`,
      )?.id
    
    modelConfig.fields = {
      ...modelConfig.fields,
      vouchering: {
      	variant: convertedVariant,
      },
    }
    const voucherMapper = this.floristicsVouchers.map(
      makeSelectableVoucherOptionsMapper(true),
    )
    return {
      modelConfig,
      virtualVoucherModelConfig,
      voucherCollectAgainOpen: false,
      selectedVoucherForCollectAgain: null,
      coreApiUrl: c.coreApiUrlBase,
      loading: false,
      loadingErr: null,
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      protocolVariant: protocolVariant,
      plantVoucheringId: plantVoucheringId,
      isCypress: !!window.Cypress,
      filteredVoucherObjs: cloneDeep(this.vouchersFullObjs),
      voucherMapper,
      helpAlert: false,
      voucherLabelOptions: (() => {
        const { uuid, ...rest } = checkFloristicsVoucherInfo(
          this.apiModelsStore.protUuidFromId(this.protocolId)?.uuid
        );
        return rest; // This will only contain `barcode` and `plotName`
      })(),
    }
  },
  computed: {
    vouchersForProjectAreaDefined() {
      return Array.isArray(this.vouchersFullObjs) && this.vouchersFullObjs.length > 0
    },
    voucherInfo() {
      if(!this.selectedVoucherForCollectAgain) return null
      const voucherId = (() => {
        if (this.selectedVoucherForCollectAgain.id) {
          return this.selectedVoucherForCollectAgain.id
        } else if (
          !this.selectedVoucherForCollectAgain.id &&
          this.selectedVoucherForCollectAgain.temp_offline_id
        ) {
          //re-collecting voucher that was collected offline
          return this.selectedVoucherForCollectAgain.temp_offline_id
        }
      })()
      return `${voucherId} ${voucherVariantFromVoucher(
        this.selectedVoucherForCollectAgain,
      ).toLowerCase()}`
    },
    /**
     * Obtains the list of virtual vouchers (re-collections of existing vouchers) from
     * the store, performing checks for null/undefined access
     * 
     * @returns {Array.<Object>} the virtual vouchers from the store, or empty array
     */
    selectedVouchers() {
      //check store before initing to empty array
      const currCollection = this.bulkStore.collectionGetForProt({
        protId: this.protocolId,
      })
      if (
        Object.keys(currCollection).includes(
          'floristics-veg-virtual-voucher',
        ) &&
        Array.isArray(currCollection['floristics-veg-virtual-voucher']) &&
        currCollection['floristics-veg-virtual-voucher'].length > 0
      ) {
        return currCollection['floristics-veg-virtual-voucher']
      }
      return []
    },
    /**
     * Constructs the model value for the virtual voucher's crud instance to be passed.
     * Based off `selectedVoucherForCollectAgain` (one of the `vouchersForProjectArea`),
     * which is set when the user specifies the voucher they are re-collecting for. Used
     * when initialising existing re-collections for editing
     * 
     * TODO reduce code duplication between this function and `collectAgainBtnLabel()`
     * 
     * @returns {Object} the voucher object
     */
    collectAgainModelValue() {
      const voucherVariant = voucherVariantFromVoucher(this.selectedVoucherForCollectAgain).toLowerCase()

      for (const v of this.selectedVouchers) {
        const selectedVoucherVariant = voucherVariantFromVoucher(v).toLowerCase()
        if (
          (
            !this.selectedVoucherForCollectAgain[`floristics_veg_survey_${voucherVariant}`] ||
            this.selectedVoucherForCollectAgain[`floristics_veg_survey_${voucherVariant}`].temp_offline_id
          ) &&
          v[`voucher_${selectedVoucherVariant}`].temp_offline_id
        ) {
          //we've re-collected a voucher that was also collected offline
          let voucherResolvedSurvey = null
          this.dataManager.publicationQueue.forEach(o => {
            for (const v of o.collection[`floristics-veg-voucher-${voucherVariant}`] || []) {
              if (isEqual(v, this.selectedVoucherForCollectAgain)) {
                voucherResolvedSurvey = o.collection[`floristics-veg-survey-${voucherVariant}`]
                break
              }
            }
          })
          if (
            voucherResolvedSurvey &&
            v[`voucher_${selectedVoucherVariant}`].temp_offline_id === this.selectedVoucherForCollectAgain.temp_offline_id &&
            v.survey.temp_offline_id === voucherResolvedSurvey.temp_offline_id &&
            selectedVoucherVariant === voucherVariant
          ) {
            return v
          }
        } else if (
          v[`voucher_${selectedVoucherVariant}`] === this.selectedVoucherForCollectAgain.id &&
          v.survey === this.selectedVoucherForCollectAgain[`floristics_veg_survey_${voucherVariant}`]?.id &&
          selectedVoucherVariant === voucherVariant
        ) {
          return v
        }
      }

      return {}
    },
  },
  methods: {
    findVoucher(voucher) {
      return this.voucherMapper.find(o => 
        o.label.includes(voucher.field_name) && 
        o.label.includes(voucher.voucher_barcode)
      )
    },
    getVoucherVariant(voucher) {
      const variant = this._voucherVariantFromVoucher(voucher);
      if (variant === 'Full') return '(E) ';
      if (variant === 'Lite') return '(S) ';
    },
    async onSubmitFunc() {
      //since this wrapper component is essentially just 'passing on' the data to the
      //store when obs are saved, all we need to do here is check that the store contains
      //at least *some* data. This is similar behaviour/checks to the
      //`floristics-veg-survey-lite` controller

      const storeData = this.bulkStore.collectionGetForProt({
        protId: this.protocolId,
      })
      const storeDataKeys = Object.keys(storeData)

      const hasNewVouchers = storeDataKeys.includes('floristics-veg-voucher-lite') &&
        storeData['floristics-veg-voucher-lite'].length > 0
      const hasRecollectedVouchers = storeDataKeys.includes('floristics-veg-virtual-voucher') &&
        storeData['floristics-veg-virtual-voucher'].length > 0

      return hasNewVouchers || hasRecollectedVouchers
    },
    //wrapper to access in the template
    projAreaTermMap() {
      return projAreaTermMap(c.enableOIDC)
    },
    /**
     * Wrapper for helper `voucherVariantFromVoucher()`
     */
    _voucherVariantFromVoucher(voucher) {
      return voucherVariantFromVoucher(voucher)
    },
    /**
     * Determines the button label for the 'Collect Again' button, as we may want to edit
     * one of these re-collections
     * 
     * TODO reduce code duplication between this function and `collectAgainModelValue()`
     * 
     * @param {Object} voucher the voucher object
     * 
     * @returns {'Collect Again'|'Edit Repeat Collection'} the button label
     */
    collectAgainBtnLabel(voucher) {
      const voucherVariant = voucherVariantFromVoucher(voucher).toLowerCase()
      for (const v of this.selectedVouchers) {
        const selectedVoucherVariant = voucherVariantFromVoucher(v).toLowerCase()
        if (
          (
            !voucher[`floristics_veg_survey_${voucherVariant}`] ||
            voucher[`floristics_veg_survey_${voucherVariant}`]?.temp_offline_id
          ) &&
          v[`voucher_${selectedVoucherVariant}`].temp_offline_id
        ) {
          //we've re-collected a voucher that was also collected offline
          let voucherResolvedSurvey = null
          this.dataManager.publicationQueue.forEach(o => {
            for (const v of o.collection[`floristics-veg-voucher-${voucherVariant}`] || []) {
              if (isEqual(v, voucher)) {
                voucherResolvedSurvey = o.collection[`floristics-veg-survey-${voucherVariant}`]
                break
              }
            }
          })
          if (
            voucherResolvedSurvey &&
            v[`voucher_${selectedVoucherVariant}`].temp_offline_id === voucher.temp_offline_id &&
            v.survey.temp_offline_id === voucherResolvedSurvey.temp_offline_id &&
            selectedVoucherVariant === voucherVariant
          ) {
            return 'Edit Repeat Collection'
          }
        } else if (
          v[`voucher_${selectedVoucherVariant}`] === voucher.id &&
          v.survey === voucher[`floristics_veg_survey_${voucherVariant}`]?.id &&
          selectedVoucherVariant === voucherVariant
        ) {
          return 'Edit Repeat Collection'
        }
      }
      return 'Collect Again'
    },
    /**
     * Handles adding the re-collected (virtual) voucher to the store
     * 
     * @param {Object} e the new voucher, obtained from the virtual voucher's crud
     * instance emitting the `update:modelValue` event
     */
    saveVirtualVoucher(e) {
      let combined = cloneDeep(this.selectedVouchers)

      const variant = voucherVariantFromVoucher(this.selectedVoucherForCollectAgain).toLowerCase()
      let survey, voucher
      if (
        !this.selectedVoucherForCollectAgain[`floristics_veg_survey_${variant}`]?.id &&
        this.selectedVoucherForCollectAgain?.temp_offline_id
      ) {
        //this voucher has no link to a survey and has a temp ID, so the voucher and
        //survey were collected offline
        let relevantCollection = null
        this.dataManager.publicationQueue.forEach(o => {
          for (const voucher of o.collection[`floristics-veg-voucher-${variant}`] || []) {
            if (isEqual(voucher, this.selectedVoucherForCollectAgain)) {
              relevantCollection = o
              break
            }
          }
        })
        survey = {
          temp_offline_id: relevantCollection.collection[`floristics-veg-survey-${variant}`].temp_offline_id
        }
      } else {
        survey = this.selectedVoucherForCollectAgain[`floristics_veg_survey_${variant}`].id
      }
      if (
        !this.selectedVoucherForCollectAgain.id &&
        this.selectedVoucherForCollectAgain.temp_offline_id
      ) {
        voucher = {
          temp_offline_id: this.selectedVoucherForCollectAgain.temp_offline_id
        }
      } else {
        voucher = this.selectedVoucherForCollectAgain.id
      }
      const surveyAndVoucherToUse = {
        ...e,
        //this survey is for de-serialising but isn't used in the backend models (those
        //link to the current survey being done)
        survey: survey,
        [`voucher_${variant}`]: voucher,
      }

      const collectAgainModelValue = this.collectAgainModelValue
      if (!isEmpty(collectAgainModelValue)) {
        //we're editing the repeat collection, so find the one we're editing and replace
        //it, rather than pushing new to `combined`
        const indexToReplace = combined.findIndex(o => isEqual(o, collectAgainModelValue))
        combined[indexToReplace] = surveyAndVoucherToUse
      } else {
        combined.push(surveyAndVoucherToUse)
      }
      
      this.$emit('update:modelValue', {
        overrideModelName: 'floristics-veg-virtual-voucher',
        data: combined,
      })

      this.voucherCollectAgainOpen = false
      notifyHandler('positive', 'Successfully created voucher re-collection')
    },
    updateModelValue(newVal) {
      //get handle on the state of the store before emitting
      const storeFloristicsVouchers = this.bulkStore.collectionGetForProt({ protId: this.protocolId })['floristics-veg-voucher-lite']
      this.$emit('update:modelValue', newVal)
      if (Array.isArray(newVal.data)) return

      const idSet = newVal.map((record) => record.unique_id)

      let removedVoucher = null
      for (const storeVoucher of storeFloristicsVouchers || []) {
        if (!idSet.includes(storeVoucher.unique_id)) {
          removedVoucher = storeVoucher
          break
        }
      }

      for (const id of idSet) {
        const resp = savePtvSubmodule(
          id,
          this.protocolId,
          this.plantVoucheringId,
          //PTV submodule can only be lite when doing floristics lite, so just use the
          //parent module's variant
          this.protocolVariant,
          removedVoucher,
        ) || []

        const emitObjs = resp.filter(obj => !isEmpty(obj))
        this.$emit('updateSubmodule', emitObjs)
      }

      // remove that PTV voucher that doesn't match any floristics voucher
      this.cleanUpTmpPTVData(idSet)
    },
    cleanUpTmpPTVData(idSet) {
      for (let uniqueId of Object.keys(this.bulkStore.tmpPTVData)) {
        if (!idSet.includes(uniqueId)) {
          this.bulkStore.clearTmpPTVData(uniqueId)
        }
      }
    },
    filterVouchers(newVal) {
      this.filteredVoucherObjs = cloneDeep(this.vouchersFullObjs).filter(
        (voucher) => {
          return newVal.some(
            (filteredVoucher) =>
              filteredVoucher.barcode === voucher.voucher_barcode &&
              filteredVoucher.relatedPlotLabel ===
                this.findVoucher(voucher)?.relatedPlotLabel,
          )
        },
      )
    },
  },
  watch: {
    voucherCollectAgainOpen(newVal) {
      this.setBarcodeOpen(!newVal)
    }
  }
}
</script>
