<template>
	<div>
		<paratoo-api-model-crud-ui
			ref="crud"
      id="floristics"
      :protocol-variant="protocolVariant"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :current-prot-id="protocolId"
      :modelValue="modelValue"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
	</div>
</template>

<script>
import { useApiModelsStore } from '../stores/apiModels'
import { useBulkStore } from '../stores/bulk'
import { useAuthStore } from '../stores/auth'
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
} from '../misc/helpers'
import  {
	cloneDeep,
} from 'lodash'

export default {
  inject: ['doc'],
	name: 'FloristicsSurvey',
	components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const authStore = useAuthStore()
    
    return {
      apiModelsStore,
      bulkStore,
      authStore,
    }
  },
  data() {
  	const protocolVariant = this.apiModelsStore.protocolVariant({
      protocolId: this.protocolId,
    })
    let modelConfig = makeModelConfig(
      `floristics-veg-survey-${protocolVariant}`,
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )
    
    // let convertedVariant = null
    // if (protocolVariant === 'full') {
    //   convertedVariant = 'Enhanced'
    // } else if (protocolVariant === 'lite') {
    //   convertedVariant = 'Standard'
    // }

    modelConfig.fields.ptv_protocol_variant.hidden = true
    if (protocolVariant === 'lite') {
    	modelConfig.fields.ptv_protocol_variant.disable = true
    	modelConfig.fields.ptv_protocol_variant.hint = "'Standard' protocol variant for Floristics selected, so only this variant can be done for PTV"
    }
    
    const currCollection = this.bulkStore.collectionGetForProt({ protId: this.protocolId })
    if (
    	currCollection[`floristics-veg-voucher-${protocolVariant}`] &&
    	//don't want to squash this hint text as the field cannot be edited anyway
    	protocolVariant !== 'lite'
    ) {
    	modelConfig.fields.ptv_protocol_variant.disable = true
    	modelConfig.fields.ptv_protocol_variant.hint = 'Cannot change the PTV submodule protocol variant when the parent module has already been started. Please discard this collection to change the PTV submodule protocol variant'
    }

    const variantMapper = {
      'S': this.apiModelsStore.cachedModel({ modelName: 'protocol' })
        .find(
          (o) =>
            o.name === 'Plant Tissue Vouchering - Standard',
        ),
      'E': this.apiModelsStore.cachedModel({ modelName: 'protocol' })
        .find(
          (o) =>
            o.name === 'Plant Tissue Vouchering - Enhanced',
        ),
    }
    modelConfig.fields.ptv_protocol_variant.optionsMapper = (e) => {

      const disableOption = !this.authStore.selectedProject?.protocols.some(
        o => variantMapper[e.symbol]?.id === o.id
      )
      
      return {
        value: e.symbol,
        label: e.label,
        inactive: disableOption,
      }
    }
    
    console.log('modelConfig: ', modelConfig)
    
    const conditionalFields = [
    	{
    		field: 'ptv_protocol_variant',
    		dependsOn: 'collect_ptv_submodule',
    		fieldCb: this.handlePtvVariant,
    	},
    ]
    
  	return {
  		modelConfig,
  		protocolVariant,
  		conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
  	}
  },
  methods: {
  	handlePtvVariant({ newVal, inputDef }) {
  		let updatedNewRecord = null
  		if (
  			//case to autofill
  			newVal.collect_ptv_submodule &&
  			this.protocolVariant === 'lite' &&
  			//don't make change if already
  			newVal.ptv_protocol_variant !== 'S'
			) {
  			updatedNewRecord = cloneDeep(newVal)
  			updatedNewRecord.ptv_protocol_variant = 'S'
  		}
  		
  		if (newVal.collect_ptv_submodule) {
  			inputDef.hidden = false
  		} else {
  			inputDef.hidden = true
  		}
  		
  		return {
  			record: updatedNewRecord,
  			suppressDependencyHandler: true,
  		}
  	},
  	async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>
