<!-- TODO extend to include info about vouchers - #324 -->

<template>
  <div v-if="Array.isArray(vouchers) && vouchers.length > 0">
    <q-select
      v-if="type === 'dropdown'"
      class="q-pb-lg"
      color="secondary"
      :data-cy="componentKey"
      v-model="modelVoucher"
      :options="vouchersToDisplay"
      :label="label()"
      :multiple="multiple"
      :hint="`Select ${multiple ? 'one or many' : 'a'} voucher${
        multiple ? 's' : ''
      }`"
      :rules="rules"
      hide-bottom-space
      clearable
      use-input
      input-debounce="200"
      @filter="
        (val, update) => {
          greedySearch(val)
          update()
        }
      "
    >
      <template v-slot:append>
        <VoucherSearchFilter
          is-dropdown
          :plotsAssociatedWithVouchers="plotsAssociatedWithVouchers"
          @filter="(e) => greedySearch(searchQuery || '', e)"
          @voucherLabelOptions="(e) => (voucherLabelOptions = e)"
          :protocolId="protocolId"
        />
      </template>
    </q-select>
    <template v-else>
      <div
        v-show="!hideVoucherSelection"
        style="display: flex; justify-content: center"
      >
        <q-input
          dense
          label="Search voucher"
          style="width: 100%"
          class="q-mx-md"
          v-model="searchQuery"
          @clear='searchQuery = ""'
          clearable
          hint="You can also use barcode to search for vouchers"
          hide-bottom-space
        >
          <template v-slot:append>
            <VoucherSearchFilter
              :plotsAssociatedWithVouchers="plotsAssociatedWithVouchers"
              @filter="(e) => greedySearch(searchQuery || '', e)"
              @voucherLabelOptions="(e) => (voucherLabelOptions = e)"
              :protocolId="protocolId"
            />
            <q-icon name="search" />
          </template>
        </q-input>
      </div>
      <q-scroll-area
        v-if='type !== "searchOnly"'
        v-show="!hideVoucherSelection"
        :visible="true"
        style="height: 140px"
      >
        <q-card-section
          class="row q-gutter-sm q-pa-sm items-center align-center justify-center"
        >
          <q-btn
            v-for="(voucher, index) in vouchersToDisplay"
            :key="index"
            class="voucher-btn"
            :data-cy="voucher.fieldName"
            color="grey-9"
            dense
            @click="selectVoucher(voucher)"
          >
            <div>
              <div style="font-size: 0.7rem; line-height: 0.9rem">
                {{ voucher.fieldName }}
              </div>
              <div
                v-if="voucherLabelOptions.barcode"
                style="font-size: 0.6rem; line-height: 0.9rem"
              >
                Barcode: {{ voucher.label.match(/\[([^\]]+)\]/)[1] }}
              </div>
              <div
                v-if="voucherLabelOptions.plotName"
                style="font-size: 0.6rem; line-height: 0.9rem"
              >
                Plot: {{ voucher.relatedPlotLabel }}
              </div>
            </div>
          </q-btn>
        </q-card-section>
      </q-scroll-area>
    </template>
    <p v-if="type !== 'dropdown' && type !=='searchOnly'" class="q-ma-none q-pb-sm">
      Selected: {{ modelVoucher?.label || 'none' }}
    </p>
    <q-btn
      v-if="showBtn && rowDataKey != 'recruitment-survivorship-survey'"
      class="q-my-none"
      dense
      label="Voucher info"
      icon="info"
      @click="showSummary = true"
    />
    <q-dialog v-model="showSummary">
      <q-card style="width: 75vw">
        <q-card-section align="right">
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <FloristicsVoucherSummary
            v-if="!multiple"
            :voucherInfo="voucherInfoFromVoucherModel(modelVoucher)"
            label="Selected voucher info"
          />
          <template v-else>
            <q-card-section>
              <h6 class="q-ma-none q-pa-md">Selected vouchers info</h6>
            </q-card-section>
            <q-carousel
              transition-prev="scale"
              transition-next="scale"
              v-model="slide"
              swipeable
              animated
              navigation
              arrows
              infinite
            >
              <FloristicsVoucherSummary
                v-for="(voucher, index) in modelVoucher"
                :key="index"
                :name="index"
                :voucherInfo="voucherInfoFromVoucherModel(voucher)"
              />
            </q-carousel>
          </template>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
  <div v-else>
    <NoVouchersErrMsg />
  </div>
</template>

<script>
import {
  getVouchersForProjectArea,
  makeSelectableVoucherOptionsMapper,
  prettyFormatFieldName,
} from 'src/misc/helpers'
import { isEqual } from 'lodash'
import FloristicsVoucherSummary from './FloristicsVoucherSummary.vue'
import NoVouchersErrMsg from './NoVouchersErrMsg.vue'
import VoucherSearchFilter from './VoucherSearchFilter.vue'
import { useDataManagerStore } from '../stores/dataManager'

export default {
  name: 'FloristicsVoucherPicker',
  components: {
    FloristicsVoucherSummary,
    NoVouchersErrMsg,
    VoucherSearchFilter,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    //the field name from the schema that is consuming the
    //`vegetation.floristics-voucher` component.
    //used as the label in the dropdown unless `fieldLabel` is defined
    componentKey: {
      type: String,
      required: false,
      default: 'floristics_voucher',
    },
    fieldLabel: {
      type: String,
      required: false,
      default: null,
    },
    type: {
      type: String,
      default: 'dropdown',
    },
    hideVoucherSelection: {
      type: Boolean,
      default: false,
    },
    rowDataKey: {
      type: String,
      required: false,
    },
    rules: {
      required: false,
    },
    protocolId: {
      type: Number,
    },
  },
  async setup() {
    const floristicsVouchers = await getVouchersForProjectArea()
    const { currentPlotLabel } = useDataManagerStore()

    return {
      floristicsVouchers,
      currentPlotLabel,
    }
  },
  data() {
    const vouchers = this.floristicsVouchers.map(
      makeSelectableVoucherOptionsMapper(true),
    )
    // find all the plots associated with the vouchers
    // and move the current plot to the top
    let plotsAssociatedWithVouchers = []
    vouchers.forEach((voucher, index) => {
      if (!plotsAssociatedWithVouchers.includes(voucher.relatedPlotLabel)) {
        plotsAssociatedWithVouchers.push(voucher.relatedPlotLabel)
      }
      if (voucher.relatedPlotLabel === this.currentPlotLabel) {
        vouchers.splice(index, 1)
        vouchers.unshift(voucher)
      }
    })

    let modelVoucherToUse = null
    if (this.modelValue?.[this.componentKey]) {
      if (
        Array.isArray(this.modelValue?.[this.componentKey]) &&
        this.multiple
      ) {
        modelVoucherToUse = []
        for (const voucher of this.modelValue[this.componentKey]) {
          modelVoucherToUse.push(this.getVoucherFromModelVal(voucher, vouchers))
        }
      } else {
        modelVoucherToUse = this.getVoucherFromModelVal(
          this.modelValue[this.componentKey],
          vouchers,
        )
      }
    }
    return {
      modelVoucher: modelVoucherToUse || null,
      vouchers,
      vouchersToDisplay: vouchers,
      searchQuery: null,
      showSummary: false,
      slide: 0,
      plotsAssociatedWithVouchers,
      voucherLabelOptions: {
        barcode: false,
        plotName: false,
      },
      selectedPlot: [],
    }
  },
  methods: {
    label() {
      if (this.fieldLabel) {
        return this.fieldLabel
      }
      return prettyFormatFieldName(this.componentKey)
    },
    determineVoucherValAndKey(voucher) {
      const result = {
        valueToUse: null,
        keyToUse: null,
      }
      if (voucher !== null) {
        result.valueToUse = voucher.value.id
        result.keyToUse = `voucher_${voucher.voucherVariant}`
      }
      return result
    },
    voucherInfoFromVoucherModel(voucher) {
      if (voucher) {
        const voucherInfo = this.floristicsVouchers.find((v) => {
          if (v.temp_offline_id) {
            return v.temp_offline_id === voucher?.value?.id?.temp_offline_id
          }
          return v.id === voucher?.value?.id
        })
        return voucherInfo
      } else return {}
    },
    getVoucherFromModelVal(modelVal, vouchers) {
      let variant = null
      if (modelVal?.voucher_full) {
        variant = 'full'
      } else if (modelVal?.voucher_lite) {
        variant = 'lite'
      }
      let voucher = null
      if (variant !== null) {
        voucher = vouchers.find(
          //use `isEqual` as might have been collected offline and thus will be object
          (o) =>
            isEqual(o.value.id, modelVal[`voucher_${variant}`]) &&
            o.voucherVariant === variant,
        )
      }
      return voucher
    },
    selectVoucher(voucher) {
      if (this.multiple) {
        if (!this.modelVoucher) {
          this.modelVoucher = []
        }
        const isSelected = this.modelVoucher?.some(({ value }) =>
          isEqual(value, voucher.value),
        )
        if (!isSelected) {
          this.modelVoucher.push(voucher)
        } else {
          this.modelVoucher = this.modelVoucher.filter(({ value }) =>
            isEqual(value, voucher.value),
          )
        }
      } else {
        this.modelVoucher = voucher
      }
    },
    isSelected(voucher) {
      if (!this.modelVoucher) return false
      if (this.multiple) {
        const isSelected = this.modelVoucher?.some(({ value }) =>
          isEqual(value, voucher.value),
        )
        return isSelected
      } else {
        return isEqual(this.modelVoucher?.value, voucher?.value)
      }
    },
    /**
     * Performs a greedy search on an array of strings to find the best match for a given query.
     *
     * @param {string} query - The query string to search for.
     * @param {string[]} arr - The array of plots.
     * @return {string|null} The best match found, or null if no match is found.
     */
    greedySearch(query = '', selectedPlot) {
      if (selectedPlot) {
        this.selectedPlot = selectedPlot
      }
      if (!query && !this.selectedPlot?.length) {
        this.vouchersToDisplay = this.vouchers
        this.$emit('filter', this.vouchersToDisplay)
        return
      }
      let bestMatches = []
      let bestMatchScore = 0

      for (const voucher of this.vouchers) {
        if (
          this.selectedPlot?.length &&
          !this.selectedPlot.includes(voucher.relatedPlotLabel)
        )
          continue
        const currentScore = this.calculateMatchScore(query || '', voucher.label)
        if (currentScore > bestMatchScore) {
          bestMatchScore = currentScore
          bestMatches = [] // Clear previous best matches
          bestMatches.push(voucher)
        } else if (currentScore === bestMatchScore) {
          bestMatches.push(voucher)
        }
      }
      this.vouchersToDisplay = bestMatches
      this.$emit('filter', this.vouchersToDisplay)
    },
    /**
     * Calculates the match score between a query string and a target string.
     * The match score is based on the number of characters in the query that appear consecutively in the target.
     *
     * @param {string} query - The query string.
     * @param {string} target - The target string.
     * @return {number} The match score.
     */
    calculateMatchScore(query, target) {
      let score = 0
      let queryIndex = 0
      let targetIndex = 0

      target = target.toLowerCase()
      query = query.toLowerCase()

      while (queryIndex < query.length && targetIndex < target.length) {
        if (query[queryIndex] === target[targetIndex]) {
          score++
          queryIndex++
        }

        targetIndex++
      }

      return score
    },
    removeVoucher(newVal) {
      delete newVal[`voucher_lite`]
      delete newVal[`voucher_full`]
    },
  },
  watch: {
    voucherLabelOptions: {
      handler(newVal) {
        this.$emit('voucherLabelOptions', newVal);
      },
      immediate: true
    },
    modelVoucher() {
      const newVal = {
        //`modelValue` must go before `componentKey` (set below) as the former
        //might already have the latter key and thus will get squashed
        ...this.modelValue,
      }
      let newValChanged = false
      if (Array.isArray(this.modelVoucher) && this.multiple) {
        newVal[this.componentKey] = []
        for (const selectedVoucher of this.modelVoucher) {
          const { keyToUse, valueToUse } =
            this.determineVoucherValAndKey(selectedVoucher)

          if (valueToUse && keyToUse) {
            newValChanged = true
            newVal[this.componentKey].push({
              [keyToUse]: valueToUse,
            })
          } else this.removeVoucher(newVal)
        }
      } else {
        const { keyToUse, valueToUse } = this.determineVoucherValAndKey(
          this.modelVoucher,
        )
        if (valueToUse && keyToUse) {
          newValChanged = true
          newVal[this.componentKey] = {
            [keyToUse]: valueToUse,
          }
        } else this.removeVoucher(newVal)
      }
      if (newValChanged) {
        this.$emit('update:modelValue', newVal)
      }
    },
    searchQuery(newVal) {
      this.greedySearch(newVal)
    },
    modelValue(newVal) {
      if (!newVal) {
        this.modelVoucher = null
      }
    },
  },
  computed: {
    showBtn() {
      let show = false
      if (this.multiple && this.modelVoucher?.length) {
        show = true
      } else if (!this.multiple && this.modelVoucher) {
        show = true
      }
      return show
    },
  },
}
</script>
