<template>
  <div>
    <q-dialog v-model="forceLogOutDialog" persistent>
      <q-card
        style="max-width: max-content; max-height: max-content; padding: 2em"
      >
        <q-card-section>
          <div class="text-h6">
            User <span class="text-red text-bold">{{ userName }}</span> has
            {{ msg }}! Please log in as
            <span class="text-red text-bold">{{ userName }}</span>
            to complete and sync the collections. Once done, you can log in as a
            different user.
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <q-btn data-cy="logoutBtn" color="primary" @click="logout">
            Logout
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script setup>
import { ref, onMounted } from 'vue'
import { useAuthStore } from 'src/stores/auth'
import { useRouter } from 'vue-router'
const authStore = useAuthStore()
const router = useRouter()

const forceLogOutDialog = ref(false)
// check if previous user have pending collections after login
const currUserProfile = authStore.userProfile
const previousUserProfile = authStore.previousAuthUserProfile
const userName = previousUserProfile?.username || previousUserProfile?.email
let msg = ''
onMounted(async () => {
  if (
    (previousUserProfile?.hasPendingCollection.bulk ||
      previousUserProfile?.hasPendingCollection.queue) &&
    currUserProfile
  ) {
    if (currUserProfile?.id !== previousUserProfile?.id) {
      forceLogOutDialog.value = true
      if (previousUserProfile?.hasPendingCollection.queue) {
        msg = 'collections that have not been synced to the cloud'
      }
      if (previousUserProfile?.hasPendingCollection.bulk) {
        if (msg) msg += ' and '
        msg += 'collections that have not been queued'
      }
    }
  }
})
async function logout() {
  await authStore.doLogout(true)
  router.push('/login')
}
</script>
