<template>
  <div>
    <div
      v-if="
        rowDataKey === 'sign-based-vehicle-track-set-up' &&
        userCoords &&
        JSON.stringify(userCoords) !== '{}'
      "
      class="q-pt-md q-pb-lg"
    >
      <q-btn
        v-if="!modelValue?.start_time && (!start || end)"
        outline
        :data-cy="!start || end ? 'startTrackDrag' : 'endTrackDrag'"
        label="Start Track Drag"
        @click="startTrack"
      />
      <q-btn
        v-else-if="start && (!end || !modelValue?.end_time)"
        outline
        :data-cy="!end ? 'endTrackDrag' : 'startTrackDrag'"
        label="End Track Drag"
        @click="endTrack"
      />
    </div>
    <div v-if="userCoords && JSON.stringify(userCoords) !== '{}'">
      <l-map
        style="min-height: 23vh"
        ref="map"
        :center="currentCenter"
        :zoom="currentZoom"
        :minzoom="3"
        :maxZoom="19"
        @ready="makeMapRef()"
      >
        <l-tile-layer :url="url" :attribution="attribution" />

        <l-polyline :lat-lngs="formattedCoordinates(trackDrag)" />

        <l-polyline :lat-lngs="formattedCoordinates(trackLog)" />

        <l-control position="bottomright">
          <q-btn icon="my_location" @click="backToLocation" />
        </l-control>
        <l-control-scale :imperial="true" />
      </l-map>
    </div>
    <div v-if="!userCoords"><h4>Waiting for GPS...</h4></div>
  </div>
</template>

<script>
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from '../stores/ephemeral'
import { useBulkStore } from '../stores/bulk'
import {
  LMap,
  LTileLayer,
  LControl,
  LControlScale,
  LPolyline,
} from 'vue-leaflet/src/components'
import { ref } from 'vue'
export default {
  name: 'GeneralBasedTrackLog',

  components: {
    LMap,
    LTileLayer,
    LControl,
    LPolyline,
    LControlScale,
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    zoom: {
      type: Number,
      required: false,
      default: 1,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    flag: {
      required: false,
    },
    rowDataKey: {
      required: false,
    },
    signBasedTrackLog: {
      type: Array,
      required: false,
    },
    startRecordFlag: {
      type: Boolean,
      required: false,
    },
  },
  setup(props) {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()
    const trackDrag = ref(props.modelValue?.route_taken) || []
    const trackLog = ref(props.modelValue) || []
    return {
      apiModelsStore,
      ephemeralStore,
      bulkStore,
      trackDrag,
      trackLog,
    }
  },
  data() {
    return {
      map: null,
      currentCenter: this.userCoords,
      currentZoom: 11.5,
      start: false,
      end: false,
      newRecord: this.modelValue || {},
    }
  },
  watch: {
    'modelValue.route_taken': {
      handler(val) {
        if (Array.isArray(val) && !this.trackDrag?.length) {
          this.trackDrag = val
        }
      },
    },
    modelValue: {
      handler(val) {
        if (Array.isArray(val) && !this.trackLog?.length) {
          this.trackLog = val
        }
      },
    },
    userCoords(val) {
      if (this.startRecordFlag) {
        if (!Array.isArray(this.trackLog)) {
          this.trackLog = []
        }
        this.trackLog = [...this.trackLog, val]
        this.$emit('update:modelValue', this.trackLog)
      }
      if (this.start && !this.end) {
        if (!Array.isArray(this.trackDrag)) {
          this.trackDrag = []
        }
        this.trackDrag = [...this.trackDrag, val]
      }
    },
  },
  methods: {
    startTrack() {
      this.start = true
      const date = new Date()
      this.newRecord = {
        start_time: date,
        start_location: this.userCoords,
      }
      this.$emit('update:modelValue', this.newRecord)
    },
    endTrack() {
      this.end = true
      const date = new Date()
      this.newRecord = {
        ...this.newRecord,
        route_taken: this.trackDrag,
        end_time: date,
        end_location: this.userCoords,
      }
      this.$emit('update:modelValue', this.newRecord)
    },
    formattedCoordinates(arr) {
      if (Array.isArray(arr)) {
        return arr?.map((coord) => [coord.lat, coord.lng])
      } else return []
    },
    makeMapRef() {
      this.map = this.$refs.map.leafletObject
    },
    backToLocation() {
      this.map.panTo(this.userCoords)
    },
  },
}
</script>
