<template lang="">
  <div>
    <div v-if="userCoords && JSON.stringify(userCoords) !== '{}'">
      <p class="q-pt-sm">
        Use the mapping interface to record four bounding box coordinates for
        the monitoring area
      </p>
      <l-map
        :style="
          isMobileDevice
            ? 'height: 350px; width: 100%'
            : 'height: 500px; width: 100%'
        "
        ref="map"
        :center="currentCenter"
        :zoom="currentZoom"
        :minzoom="3"
        :maxZoom="19"
        @ready="makeMapRef"
        @move="dropMarker"
      >
        <l-tile-layer :url="url" :attribution="attribution" />
        <l-marker :lat-lng="dragMarkerLoc">
          <l-popup>
            <div>Current Location</div>
          </l-popup>
        </l-marker>

        <l-control position="bottomright">
          <q-btn icon="my_location" @click="backToLocation" />
        </l-control>
        <l-control-scale :imperial="true" />
        <l-circle-marker
          v-for="point of points"
          :key="point"
          :lat-lng="point"
          :color="'yellow'"
          :weight="8"
        >
          <l-popup ref="points"
            >Lat:{{ point.lat }} <br />
            Lng:{{ point.lng }}</l-popup
          >
        </l-circle-marker>
      </l-map>
      <div class="q-pt-md" v-if="points?.length < 4 || !points">
        <q-btn outline data-cy="recordLocation" @click="recordCoordinates">
          Record coordinates
        </q-btn>
      </div>
      <div v-if="points?.length > 0" class="q-pt-md">
        <q-markup-table wrap-cells dense class="q-pt-xs">
          <thead>
            <tr>
              <th>Index</th>
              <th>Lat</th>
              <th>Lng</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody dense>
            <tr v-for="(item, index) in points" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.lat.toFixed(5) }}</td>
              <td>{{ item.lng.toFixed(5) }}</td>
              <td>
                <q-btn>
                  <q-icon
                    data-cy="deleteCoordinate"
                    size="sm"
                    name="delete"
                    color="red"
                    @click="deleteCoordinates(index)"
                  />
                </q-btn>
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
    </div>
    <div v-if="!userCoords"><h4>Waiting for GPS...</h4></div>
  </div>
</template>
<script>
import {
  LMap,
  LTileLayer,
  LControl,
  LControlScale,
  LMarker,
  LPopup,
  LCircleMarker,
} from 'vue-leaflet/src/components'
export default {
  components: {
    LMap,
    LTileLayer,
    LControl,
    LControlScale,
    LMarker,
    LPopup,
    LCircleMarker,
  },
  props: {
    modelValue: {
      required: false,
    },
    userCoords: {
      required: false,
    },
    zoom: {
      type: Number,
      required: false,
      default: 1,
    },
    center: {
      required: false,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    rowDataKey: {
      required: false,
    },
  },
  data() {
    return {
      currentCenter: this.userCoords,
      currentZoom: 19,
      dragMarkerLoc: this.userCoords,
      points: this.modelValue || [],
    }
  },
  watch: {
    modelValue(newVal) {
      this.points = newVal
    },
    points(newVal) {
      this.$emit('update:modelValue', newVal)
    },
  },
  methods: {
    deleteCoordinates(index) {
      this.points.splice(index, 1)
      if (this.points.length === 0) {
        this.points = null
      }
    },
    recordCoordinates() {
      if (!this.points) {
        this.points = []
      }
      this.points.push(this.dragMarkerLoc)
    },
    makeMapRef() {
      this.map = this.$refs.map.leafletObject
    },
    backToLocation() {
      this.map.panTo(this.userCoords)
    },
    dropMarker(event) {
      const coords = event.target.getCenter()
      this.dragMarkerLoc = coords
    },
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
}
</script>
<style></style>
