<template>
  <div>
    <q-select
      v-model="selectedSetup"
      :options="config.options"
      emit-value
      map-options
      :label="config.label"
      :rules="config.rules"
      :data-cy="config.model"
      :disable="!!modelValue.desktop_setup"
      :hint="config.hint"
      lazy-rules
    >
      <template #after class="row justify-center">
        <q-btn
          v-if="modelValue.desktop_setup"
          dense
          label="Change"
          color="red"
          @click="confirmChange"
        />
        <InfoButtonForInputs
          :fileName="config.description"
          :mode="'help'"
        />
      </template>
    </q-select>
  </div>
</template>

<script>
import InfoButtonForInputs from 'src/components/InfoButtonForInputs.vue'
import { Dialog } from 'quasar'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { computed } from 'vue'
import {
  cloneDeep,
} from 'lodash'

export default {
  name: 'GrassyWeedsDesktopSetupSelect',
  components: {
    InfoButtonForInputs,
  },
  props: {
    config: {
      type: Object,
      required: true,
    },
    modelValue: {
      required: true,
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  computed: {
    selectedSetup: {
      get() {
        if (!this.modelValue.desktop_setup) {
          return null
        }
        const setup = {
          value: this.modelValue.desktop_setup,
          label: this.config.options.find(o => o.value === this.modelValue.desktop_setup)?.label,
        }
        return setup
      },
      set(newVal) {
        this.ephemeralStore.grassyWeedsSurveyIsAutofilled = false

        const opt = this.config.options.find(o => o.value === newVal)
        this.$emit('update:modelValue', {
          desktop_setup: opt.value,
        })
      },
    },
  },
  async setup(props) {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()

    const models = await apiModelsStore.modelsOfProtocol({ protocolId: props.protocolId })
    const collectionData = computed(() =>
      bulkStore.collectionGetForProt({
        protId: props.protocolId,
      }),
    )
    return {
      bulkStore,
      ephemeralStore,
      models,
      collectionData,
    }
  },
  methods: {
    confirmChange() {
      Dialog.create({
        title: 'Confirm',
        message: 'To update the desktop setup you wil need to discard the fields below. Do you want to continue?',
        ok: 'Yes',
        cancel: 'No',
      }).onOk(() => {
        const newRecord = cloneDeep(this.collectionData)
        this.models.forEach((step) => {
          delete newRecord[step]
        })
        this.bulkStore.updateStoreProtocol({
          protocolId: this.protocolId,
          value: newRecord,
        })
      })
    },
  },
}
</script>