<template>
  <div v-if="isValidUserCoords()" data-cy="coordsValid">
    <l-map
      :min-zoom="minZoom"
      :max-zoom="maxZoom"
      :style="{ 'min-height': mapHeight + 'vh' }"
      :center="currentCenter"
      :zoom="currentZoom"
      ref="theMap"
      data-cy="polygonMap"
      @ready="makeMapRef()"
    >
      <l-tile-layer :url="url" :attribution="attribution" />
      <l-control-scale position="bottomright" :imperial="true" :metric="true" />
      <l-control position="bottomleft">
        <q-btn color="grey" icon="my_location" @click="backToLocation" />
      </l-control>
      <l-control position="bottomleft" v-if="geojson">
        <q-btn color="grey" icon="local_airport" @click="panToFeatures" />
      </l-control>

      <l-circle-marker
        v-if="isValidUserCoords()"
        :lat-lng="userCoords || { lat: 0, lng: 0 }"
        color="red"
        :weight="10"
      >
        <l-tooltip>
          <div>
            Current Location (Lat: {{ userCoords.lat.toFixed(4) }}, Long:
            {{ userCoords.lng.toFixed(4) }})
          </div>
        </l-tooltip>
      </l-circle-marker>
      <l-geo-json v-if="geojson" :geojson="geojson" />

      <l-polyline
        color="seaShell"
        :lat-lngs="
          grassyWeeds?.map((point) => [
            point.location?.lat,
            point.location?.lng,
          ])
        "
      />
      <div v-for="point in grassyWeeds" :key="point">
        <l-circle-marker
          :weight="Number(4)"
          :radius="Number(point.density_category)"
          :color="color[6 - point.density_category]"
          :lat-lng="point.location"
        ></l-circle-marker>
      </div>
    </l-map>
  </div>
  <div v-else>
    <h4>Waiting for GPS...</h4>
  </div>
</template>

<script>
import {
  LMap,
  LTileLayer,
  LControl,
  LCircleMarker,
  LTooltip,
  LControlScale,
  LGeoJson,
  LPolyline,
} from 'vue-leaflet/src/components'
import {
  isValidUserCoords,
  assignValidUserCoords,
  notifyHandler,
  findValForKey,
  paratooWarnMessage,
} from '../misc/helpers'
import { useEphemeralStore } from 'src/stores/ephemeral'
import tj from '@mapbox/togeojson'
import * as zip from '@zip.js/zip.js'
import * as mime from 'mime-types'
import { binary } from 'src/misc/binary'

export default {
  name: 'PolygonMap',
  components: {
    LMap,
    LTileLayer,
    LCircleMarker,
    LControl,
    LTooltip,
    LControlScale,
    LGeoJson,
    LPolyline,
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => [],
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    flightLines: {
      type: String,
    },
    grassyWeeds: {
      required: false,
    },
    mapHeight: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()

    return {
      ephemeralStore,
    }
  },
  async mounted() {
    if (this.flightLines) {
      const data = await binary.getRawBinary(this.flightLines)
      this.createGeoJSON({
        data,
      })
    }
  },
  data() {
    return {
      map: null,
      mapIsReady: false,
      minZoom: 1,
      maxZoom: 20,
      currentZoom: 11.5,
      currentCenter: assignValidUserCoords(this.userCoords),
      customCenter: assignValidUserCoords(this.userCoords),
      geojson: null,
      color: ['cyan', 'orange', 'yellow', 'blue', 'lime', 'grey'],
    }
  },
  methods: {
    isValidUserCoords() {
      return isValidUserCoords(this.userCoords)
    },
    makeMapRef() {
      this.map = this.$refs.theMap.leafletObject
    },
    backToLocation() {
      if (isValidUserCoords(this.userCoords)) {
        this.map.panTo(this.userCoords)
      }
    },
    /**
     * Converts (unzips) KMZ to KML string
     *
     * @param {Blob} kmz the KMZ file
     *
     * @returns {String} the KML as a string
     */
    async kmzToKml({ kmz }) {
      const zipReader = new zip.ZipReader(new zip.BlobReader(kmz))
      const entries = await zipReader.getEntries()
      const kmlEntry = entries.find((entry) => entry.filename === 'doc.kml')
      const text = await kmlEntry.getData(new zip.TextWriter())
      return text
    },
    /**
     * Converts a KML string into GeoJSON and applies it to the map
     *
     * @param {String} kmlString the KML as a string
     */
    parseKmlString({ kmlString }) {
      const kml = new DOMParser().parseFromString(kmlString, 'application/xml')
      const converted = tj.kml(kml)
      this.geojson = converted
      this.panToFeatures()
    },
    /**
     * Handles creating GeoJSON from file picker input.
     * Currently supports KMZ and KML - extend as-needed and add to `fileTypeOverride` in
     * the survey's modelConfig
     *
     * @param {File} data the File blob object
     */
    createGeoJSON({ data }) {
      const loadKml = (data) => {
        const reader = new FileReader()
        reader.readAsBinaryString(data)
        reader.onload = () => {
          this.parseKmlString({
            kmlString: reader.result,
          })
        }
      }

      const loadKmz = (data) => {
        const kmlStringPromise = Promise.resolve(
          this.kmzToKml({
            kmz: data,
          }),
        )

        kmlStringPromise.then((kmlString) => {
          this.parseKmlString({
            kmlString,
          })
        })
      }

      const extension = mime.extension(data.type)
      switch (extension) {
        case 'kmz':
          loadKmz(data)
          break
        case 'kml':
          loadKml(data)
          break
        default:
          notifyHandler('negative', `Unsupported type '.${extension}'`)
      }
    },
    panToFeatures() {
      const geometry = findValForKey(this.geojson, 'geometry')
      //https://stackoverflow.com/a/16282685
      const center = function (arr) {
        const x = arr.map((xy) => xy[0])
        const y = arr.map((xy) => xy[1])
        const cx = (Math.min(...x) + Math.max(...x)) / 2
        const cy = (Math.min(...y) + Math.max(...y)) / 2
        return {
          lat: cy,
          lng: cx,
        }
      }
      let coords = null
      switch (geometry.type) {
        case 'LineString':
          coords = geometry.coordinates
          break
        case 'Polygon':
          coords = geometry.coordinates[0]
          break
        default:
          paratooWarnMessage(
            `Unhandled geometry type '${geometry.type}' when trying to center the map on the uploaded features`,
          )
      }
      if (isValidUserCoords(this.userCoords)) {
        this.map.panTo(center(coords))
      }

      //`fitBounds` needs two corners, so find the most south-west and most north-east
      //point (doesn't have to be the same lat/lng pair)
      let maxLat = null
      let maxLng = null
      let minLat = null
      let minLng = null
      coords.forEach((coord) => {
        if (maxLat === null || maxLat < coord[1]) {
          maxLat = coord[1]
        }
        if (maxLng === null || maxLng < coord[0]) {
          maxLng = coord[0]
        }
        if (minLat === null || minLat > coord[1]) {
          minLat = coord[1]
        }
        if (minLng === null || minLng > coord[0]) {
          minLng = coord[0]
        }
      })

      if (this?.userCoords?.lat) {
        this.map.fitBounds([
          [minLat, minLng],
          [maxLat, maxLng],
        ])
      }
    },
  },
  watch: {
    async flightLines() {
      if (this.flightLines) {
        const data = await binary.getRawBinary(this.flightLines)
        this.createGeoJSON({
          data,
        })
      } else {
        this.geojson = null
      }
    },
  },
}
</script>
