<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :user-coords="userCoords"
      :collection-survey-flag="false"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
      @fileAdded="fileAdded"
    />
    <GrassyWeedsMap
      v-if="fileData"
      :user-coords="userCoords"
      :flight-lines="fileData"
      :mapHeight="50"
    />
  </div>
</template>

<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  notifyHandler,
  prettyFormatFieldName,
  paratooWarnMessage,
  paratooErrorHandler,
} from '../misc/helpers'
import { cloneDeep, isEmpty, isEqual } from 'lodash'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { useBulkStore } from 'src/stores/bulk'
import GrassyWeedsMap from './GrassyWeedsMap.vue'
import { ref } from 'vue'
import * as mime from 'mime-types'
import { useDataManagerStore } from 'src/stores/dataManager'

export default {
  inject: ['doc'],
  name: 'GrassyWeedsSurvey',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
    GrassyWeedsMap,
  },
  props: {
    userCoords: {
      type: Object,
    },
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  async setup(props) {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()
    const dataManager = useDataManagerStore()

    const currCollection = bulkStore.collectionGetForProt({
      protId: props.protocolId,
    })
    if (isEmpty(currCollection)) {
      //need to reset this flag here so that the autofill / showing of fields will work
      //in cases when we did an autofill and edited data, but may have then cleared the
      //collection
      ephemeralStore.grassyWeedsSurveyIsAutofilled = false
    }

    let fileData = null
    const modelValueRef = ref(props.modelValue)
    if (modelValueRef.value?.flight_lines) {
      fileData = modelValueRef.value.flight_lines.src
    } else if (currCollection?.['grassy-weeds-survey']?.flight_lines) {
      fileData = currCollection['grassy-weeds-survey'].flight_lines.src
    }

    return {
      apiModelsStore,
      ephemeralStore,
      bulkStore,
      currCollection,
      fileData: ref(fileData),
      dataManager,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      'grassy-weeds-survey',
      this.doc,
      this.protocolId,
    )

    const surveyType = this.getSurveyType(modelConfig)
    modelConfig.fields.archived.hidden = true

    const requiredRule = (value) =>
      (value !== undefined && value !== null && value !== '') ||
      `This field is required`

    //auto-set based on the protocol
    modelConfig.fields.survey_type.default = surveyType
    modelConfig.fields.survey_type.hidden = true

    modelConfig.fields.flight_lines.fileTypeOverride = [
      mime.lookup('kmz'),
      mime.lookup('kml'),
    ]

    if (surveyType !== 'F') {
      modelConfig.fields.desktop_setup.hidden = true

      modelConfig.fields.field_survey_observer.hidden = true

      modelConfig.fields.planned_observers.required = true
      modelConfig.fields.planned_observers.label += ' *'
      modelConfig.fields.planned_observers.rules.push(requiredRule)

      modelConfig.fields.observer_aircraft_position.hidden = true

      modelConfig.fields.survey_name.required = true
      modelConfig.fields.survey_name.label += ' *'
      modelConfig.fields.survey_name.rules.push(requiredRule)
    }

    //always hide this - will show if doing field survey
    modelConfig.fields.field_survey_name.hidden = true
    const fieldSurveyNameRules = modelConfig.fields.field_survey_name.rules

    const allTargetSpeciesFields = [
      'target_species_1',
      'target_species_2',
      'target_species_3',
      'target_species_4',
      'target_species_5',
    ]

    //these fields we hide/autofill when doing the field survey (not desktop setup)
    const fieldsToHideOrAutofill = [
      'field_survey_name',
      'visit_start_date_time',
      'visit_end_date_time',
      'flight_lines',
      'field_survey_observer',
      'observer_aircraft_position',
      ...allTargetSpeciesFields,
    ]

    const secondaryTargetSpeciesFields = [
      'target_species_2',
      'target_species_3',
      'target_species_4',
      'target_species_5',
    ]

    for (const field of secondaryTargetSpeciesFields) {
      modelConfig.fields[field].hidden = true
    }

    //add filter that removes target species options from subsequent dropdowns as a given
    //target species is selected
    //e.g., if the user selects 'Gamba grass' as target species 1, then it won't be
    //selectable in any of the other target species dropdowns
    for (const secondaryTargetSpeciesField of secondaryTargetSpeciesFields) {
      modelConfig.fields[
        secondaryTargetSpeciesField
      ].optionsFilterNeedsNewRecord = true
      modelConfig.fields[secondaryTargetSpeciesField].optionsFilter = (
        newRecord,
      ) => {
        return (o) => {
          for (const field of allTargetSpeciesFields.filter(
            (f) => f !== secondaryTargetSpeciesField,
          )) {
            if (newRecord?.[field]?.value === o.symbol) {
              return false
            }
          }
          return o
        }
      }
    }

    const conditionalFields = [
      {
        field: 'target_species_2',
        dependsOn: 'target_species_1',
      },
      {
        field: 'target_species_3',
        dependsOn: 'target_species_2',
      },
      {
        field: 'target_species_4',
        dependsOn: 'target_species_3',
      },
      {
        field: 'target_species_5',
        dependsOn: 'target_species_4',
      },
      {
        field: 'survey_name',
        fieldCb: this.cb,
      },
      {
        field: 'field_survey_name',
        fieldCb: this.cb,
      },
    ]

    if (surveyType === 'F') {
      modelConfig.fields.desktop_setup.type = 'grassyWeesDesktopSetupSelect'

      //user must select desktop setup to show the fields (which we might auto-fill
      //depending on the selection)
      for (const field of fieldsToHideOrAutofill) {
        modelConfig.fields[field].hidden = true
      }

      modelConfig.fields.planned_observers.hidden = true
      modelConfig.fields.field_survey_observer.required = true
      modelConfig.fields.field_survey_observer.label += ' *'
      modelConfig.fields.field_survey_observer.rules.push(requiredRule)

      modelConfig.fields.observer_aircraft_position.required = true
      modelConfig.fields.observer_aircraft_position.label += ' *'
      modelConfig.fields.observer_aircraft_position.rules.push(requiredRule)

      modelConfig.fields.survey_name.hidden = true

      //TODO add a prefix that is the survey name specified during the desktop setup (but make sure they don't submit just the prefix; i.e., they add more text after the prefix)
      modelConfig.fields.field_survey_name.required = true
      modelConfig.fields.field_survey_name.label += ' *'
      modelConfig.fields.field_survey_name.rules.push(requiredRule)

      conditionalFields.push({
        field: 'desktop_setup',
        fieldCb: this.handleDesktopSurveySelectionCb,
      })
    }

    return {
      modelConfig,
      fieldsToHideOrAutofill,
      secondaryTargetSpeciesFields,
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      surveyType,
      fileMetaData: null,
      currentFieldSurveyName: null,
      fieldSurveyNameRules,
      nameCollides: false,
    }
  },
  methods: {
    cb({ newVal, oldVal, inputDef }) {
      // Skip if no change
      if (isEqual(newVal, oldVal)) return

      // Determine survey name to validate
      const surveyName = newVal.survey_name || newVal.field_survey_name

      if (surveyName) {
        this.currentFieldSurveyName = surveyName
        inputDef.rules = [this.createValidationRules(newVal, inputDef)]
      } else {
        inputDef.rules = this.fieldSurveyNameRules
      }
    },

    // Extracted function to handle common validation logic
    createValidationRules(newVal, inputDef) {
      return (value) => {
        if (value === undefined || value === null || value === '') {
          return 'Field survey name cannot be empty.'
        }

        try {
          const collides = this.detectCollides(newVal)
          this.nameCollides = collides
          if (collides) {
            let surveyType = null
            if (this.surveyType === 'F') {
              surveyType = 'Conducted Field Survey'
            } else if (this.surveyType === 'D') {
              surveyType = 'Desktop Survey Setup'
            } else {
              paratooWarnMessage(`Unable to determine the survey type from provided value: ${this.surveyType}`)
              surveyType = 'Survey'
            }
            return `The input name collides with an existing ${prettyFormatFieldName(inputDef.model)} in a previous ${surveyType}. Please ensure the name is unique.`
          }
          return true
        } catch (error) {
          paratooErrorHandler('Error during validation', error)
          return 'An error occurred during validation.'
        }
      }
    },

    // Detect collisions based on survey type
    detectCollides(newVal) {
      const existingData = this.dataManager.cachedModel({
        modelName: 'grassy-weeds-survey',
      })

      const fieldSurveyName = this.currentFieldSurveyName

      // Adjust the collision check based on the survey type
      const surveyType = newVal.survey_type?.value || newVal.survey_type

      if (surveyType === 'D') {
        return existingData.find((o) => o.survey_name === fieldSurveyName)
      } else if (surveyType === 'F') {
        return existingData.find((o) => o.field_survey_name === fieldSurveyName)
      }
      return false
    },

    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
    fileAdded(val) {
      this.fileData = val?.src
    },
    getSurveyType(modelConfig) {
      let surveyType = null
      const currProt = this.apiModelsStore.protocolInformation({
        protId: this.protocolId,
      })
      const surveyTypesLut = this.apiModelsStore.cachedModel({
        modelName: modelConfig.fields.survey_type.optionsKey,
      })
      switch (currProt.identifier) {
        case '9a0aab22-19b8-49e9-b0fa-262b4cf58e8e':
          //desktop protocol
          surveyType = surveyTypesLut.find((o) => o.symbol === 'D')?.symbol
          break
        case '75600f67-49f2-4c9a-98af-9cde2d020680':
          //field protocol
          surveyType = surveyTypesLut.find((o) => o.symbol === 'F')?.symbol
          break
      }

      return surveyType
    },
    /**
     * Handle show/hiding fields based on the desktop setup selection
     *
     * FIXME 'changing' the desktop setup to 'none' when we previously selected a setup behaves weird:
     *  - if we don't move to next step then no fields are shown
     *  - if we moved to next step then back the changing will show fields but also the
     *    number of target species that we originally auto-filled from (it should only
     *    show target species 1 initially)
     * The output of `determineFieldsToShow` seems correct, but the fields it correctly
     * outputs are still not showing even when the relevant `inputDef` is set
     */
    handleDesktopSurveySelectionCb({ newVal, oldVal, inputDefs }) {
      let updatedNewRecord = null
      const setupData = this.apiModelsStore
        .cachedModel({
          modelName: this.modelConfig.fields.desktop_setup.optionsKey,
        })
        .find((o) => o.id === newVal?.desktop_setup)

      const fieldSurveyObserverInputDef = inputDefs.find(
        (o) => o.model === 'field_survey_observer',
      )
      if (setupData) {
        const observerOptions = setupData.planned_observers.map(
          (o) => o.observer,
        )
        fieldSurveyObserverInputDef.type = 'observer'
        fieldSurveyObserverInputDef.overrideOptions = observerOptions
        fieldSurveyObserverInputDef.hint =
          'Select from one of the planned observers done during the desktop setup, or input a new observer'
        fieldSurveyObserverInputDef.rowDataKey = 'grassy-weeds-survey'
      } else {
        fieldSurveyObserverInputDef.hint = 'Specify the field observer'
      }

      if (newVal?.desktop_setup === 'none') {
        console.debug('none selected; show fields')
        const fieldsToShow = this.determineFieldsToShow()

        for (const field of fieldsToShow) {
          inputDefs.find((o) => o.model === field).hidden = false
          // this.modelConfig.fields[field].hidden = false
        }
      } else if (
        newVal.desktop_setup &&
        !oldVal.desktop_setup &&
        !this.ephemeralStore.grassyWeedsSurveyIsAutofilled
      ) {
        console.debug('setup selected; show fields and autofill')
        updatedNewRecord = cloneDeep(newVal)

        if (setupData) {
          // console.log('setupData:', setupData)
          for (const [key, value] of Object.entries(setupData)) {
            // console.log(`key=${key}. value:`, value)
            //only want to autofill these specific fields (i.e., not the desktop survey
            //they just selected)
            if (
              //don't want `null` values to autofill (they're wrapped in a data object);
              //happens when we init from store sometimes
              !(
                value &&
                Object.keys(value).includes('data') &&
                value?.data === null
              ) &&
              //only autofill certain fields
              this.fieldsToHideOrAutofill.includes(key)
            ) {
              if (
                value &&
                typeof value === 'object' &&
                value.url &&
                value.name
              ) {
                const identifier = value.name.replace(value.ext, '')

                //TODO - update the file in the binary store to be associated with this survey (maybe with onSubmitFunc). But we need to be careful, as if we autofill file but then change or delete it, we'll end up with a file in the binary store that is associated with this survey but shouldn't be
                updatedNewRecord[key] = {
                  fileName: value.name,
                  fileType: 'file',
                  file_identifier: identifier,
                  mimeType: value.mime,
                  src: identifier,
                  originalFileName: value.originalFileName,
                }
              } else if (value && typeof value === 'object' && value.id) {
                //map LUTs to ensure they display correctly in the dropdown
                updatedNewRecord[key] = {
                  value: value.symbol,
                  label: value.label,
                }
              } else {
                updatedNewRecord[key] = value
              }
            }

            //to ensure it doesn't get squashed when we autofill
            updatedNewRecord.survey_type = this.surveyType
          }
        }
      } else if (oldVal.desktop_setup && !newVal.desktop_setup) {
        console.debug('cleared; hide fields')
        this.ephemeralStore.grassyWeedsSurveyIsAutofilled = false
        this.fileData = null
        this.fileMetaData = null
        //we've cleared the desktop setup so need to remove the autofilled data
        for (const def of inputDefs) {
          if (this.fieldsToHideOrAutofill.includes(def.model)) {
            def.hidden = true
          }
        }
      } else if (this.ephemeralStore.grassyWeedsSurveyIsAutofilled) {
        console.debug('already autofilled; show fields')
        //we've already autofilled fields so just need to make sure they're not hidden
        const fieldsToShow = this.determineFieldsToShow()
        for (const def of inputDefs) {
          if (
            fieldsToShow.includes(def.model) &&
            !(
              this.secondaryTargetSpeciesFields.includes(def.model) &&
              setupData?.[def.model] === null
            )
          ) {
            def.hidden = false
          }
        }
      }

      if (updatedNewRecord !== null) {
        for (const def of inputDefs) {
          if (
            this.fieldsToHideOrAutofill.includes(def.model) &&
            !(
              this.secondaryTargetSpeciesFields.includes(def.model) &&
              updatedNewRecord[def.model] === null
            )
          ) {
            def.hidden = false
          }
        }

        this.ephemeralStore.grassyWeedsSurveyIsAutofilled = true
        notifyHandler(
          'info',
          `Data collected during the desktop protocol '${setupData.survey_name}' auto-filled for your convenience. Append new data as needed`,
        )
      }
      console.log('updatedNewRecord:', updatedNewRecord)

      if (updatedNewRecord?.flight_lines?.src) {
        //watcher will trigger to resolve this (can't do it here due to async issues)
        this.fileMetaData = updatedNewRecord.flight_lines
      }

      return updatedNewRecord
    },
    /**
     * Handles determining which fields to show while taking into account the target
     * species. Users should only be able to select each target species sequentially
     * (e.g., 1, 2, 3; not 1, 3) but need to handle cases when they don't autofill from a
     * desktop survey or they are autofilling from the store (regardless of whether there
     * was a desktop survey)
     */
    determineFieldsToShow() {
      const fieldsToShow = []
      for (const [index, field] of this.fieldsToHideOrAutofill.entries()) {
        if (
          //check stuff is defined before determining whether to show the field
          !isEmpty(this.currCollection) &&
          //the current target species is defined so show
          ((this.currCollection?.['grassy-weeds-survey'] &&
            Object.keys(this.currCollection['grassy-weeds-survey']).includes(
              field,
            ) &&
            !isEmpty(this.currCollection['grassy-weeds-survey'][field])) ||
            //we're at a target species that isn't defined but the previous is so need
            //to show so that user can make input
            (this.currCollection?.['grassy-weeds-survey'] &&
              Object.keys(this.currCollection['grassy-weeds-survey']).includes(
                this.fieldsToHideOrAutofill[index - 1],
              ) &&
              !isEmpty(
                this.currCollection['grassy-weeds-survey'][
                  this.fieldsToHideOrAutofill[index - 1]
                ],
              )))
        ) {
          fieldsToShow.push(field)
          continue
        }

        if (!this.secondaryTargetSpeciesFields.includes(field)) {
          fieldsToShow.push(field)
        }
      }
      console.debug('fieldsToShow:', fieldsToShow)
      return fieldsToShow
    },
  },
  watch: {
    fileMetaData(newVal) {
      if (newVal?.src && !(newVal.src instanceof File)) {
        this.fileData = newVal.src
      }
    },
  },
}
</script>
