<template>
  <div>
    <div>
      <div class="q-pt-lg">
        <div v-if="!userCoords">
          <h4>Waiting for GPS...</h4>
        </div>
        <div v-else>
          <!-- <div> -->
          <div class="text-h5 q-pb-lg">
            Please download the English(Australia) Male as the default language.
          </div>
          <p v-if="!pwa" class="bg-red q-pa-sm">
            You are not using the PWA app. Please use the PWA version to get the
            optimal experience.
          </p>
          <div class="q-pt-sm">
            <q-btn
              :disable="startBtn && bulkStore.grassyEndObs"
              :label="starObsLabel"
              outline
              @click="startObs"
            />
          </div>
        </div>
      </div>
      <div v-if="startBtn" class="row justify-center q-pt-lg">
        <q-table
          title="Observations"
          :rows="observations"
          :columns="columns"
          wrap-cells
        />
      </div>

      <q-dialog
        v-model="flag"
        maximized
        @show="lockOrientation"
        @hide="unlockOrientation"
      >
        <q-card v-if="!userCoords" class="row justify-center items-center">
          <q-card-section style="text-align: center">
            <h4>Waiting for GPS...</h4>
            <q-card-actions align="center">
              <q-btn outline v-close-popup>Back</q-btn>
            </q-card-actions>
          </q-card-section>
        </q-card>
        <q-card v-else>
          <!-- <q-card> -->
          <q-card-section
            :horizontal="!hideMap ? true : false"
            class="q-px-none q-py-none"
          >
            <div style="width: 100%" v-if="!hideMap">
              <GrassyWeedsMap
                v-if="displayMap"
                :model-value="modelValue"
                :user-coords="userCoords"
                :grassy-weeds="points"
                :flight-lines="fileData"
                :mapHeight="23"
              />
              <q-table
                v-if="!displayMap"
                dense
                style="height: 23vh"
                :rows="observations"
                :columns="summaryTable"
                wrap-cells
              />
              <div class="row justify-evenly items-center" style="height: 2vh">
                <div>Point number: {{ bulkStore.pointNumber }}</div>
                <div>{{ formattedTime }}</div>
              </div>
            </div>
            <div
              :style="!hideMap ? 'width: 40%;display: flex;' : 'display: flex'"
            >
              <q-card-actions
                :vertical="!hideMap ? true : false"
                class="q-px-none q-py-none no-margin"
                :style="!hideMap ? 'width: 100%; height: 25vh' : null"
              >
                <q-btn
                  v-if="!hideMap"
                  outline
                  :style="
                    !hideMap
                      ? 'height: calc(25vh / 3); width: 100%'
                      : 'width: calc(100vw / 5);height: 10vh'
                  "
                  class="no-margin q-px-none q-py-none"
                  :label="displayMap ? 'Show summary' : 'Show map'"
                  @click="switchMapAndSummary"
                />
                <q-btn
                  outline
                  :style="
                    !hideMap
                      ? 'height: calc(25vh / 3); width: 100%'
                      : 'width: calc(100vw / 5);height: 10vh'
                  "
                  class="no-margin q-px-none q-py-none"
                  @click="controlNav"
                  :label="hideMap ? 'Show Navigator' : 'Hide Navigator'"
                />
                <q-toggle
                  v-if="hasOther && speciesSelected && !hideMap"
                  class="justify-center no-margin q-px-none q-py-none"
                  style="height: calc(25vh / 3); width: 100%"
                  label="Hide/Show other"
                  checked-icon="check"
                  unchecked-icon="clear"
                  color="secondary"
                  v-model="showOther"
                />
              </q-card-actions>
              <q-card-actions
                v-if="!hasOther"
                :vertical="!hideMap ? true : false"
                class="q-px-none q-py-none no-margin"
                :style="!hideMap ? 'width: 100%' : null"
              >
                <q-btn
                  class="no-margin"
                  outline
                  :style="
                    !hideMap
                      ? 'height: calc(25vh / 3); width: 100%'
                      : 'width: calc(100vw / 5);height: 10vh'
                  "
                  :label="timerPaused ? 'Resume' : 'Pause'"
                  @click="toggleTimer"
                />
                <q-btn
                  outline
                  class="no-margin"
                  :style="
                    !hideMap
                      ? 'height: calc(25vh / 3); width: 100%'
                      : 'width: calc(100vw / 5);height: 10vh'
                  "
                  label="End Survey"
                  @click="endSurvey"
                />
                <q-btn
                  v-if="otherSpecies.length"
                  class="no-margin"
                  outline
                  :style="
                    !hideMap
                      ? 'height: calc(25vh / 3); width: 100%'
                      : 'width: calc(100vw / 5);height: 10vh'
                  "
                  label="Score other species"
                  @click="scoreOther"
                />
              </q-card-actions>
              <q-card-actions
                v-else-if="hasOther && speciesSelected"
                :vertical="!hideMap ? true : false"
                class="q-px-none q-py-none"
                :style="!hideMap ? 'width: 100%' : null"
              >
                <q-btn
                  class="no-margin"
                  outline
                  :style="
                    !hideMap
                      ? 'height: calc(25vh / 3); width: 100%'
                      : 'width: calc(100vw / 5);height: 10vh'
                  "
                  :label="timerPaused ? 'Resume' : 'Pause'"
                  @click="toggleTimer"
                />
                <q-btn
                  outline
                  class="no-margin"
                  :style="
                    !hideMap
                      ? 'height: calc(25vh / 3); width: 100%'
                      : 'width: calc(100vw / 5);height: 10vh'
                  "
                  label="End Survey"
                  @click="endSurvey"
                />
                <q-btn
                  class="no-margin"
                  outline
                  :style="
                    !hideMap
                      ? 'height: calc(25vh / 3); width: 100%'
                      : 'width: calc(100vw / 5);height: 10vh'
                  "
                  label="Change species"
                  @click="changeSpecies"
                />
                <q-toggle
                  v-if="hasOther && speciesSelected && hideMap"
                  class="justify-center"
                  style="width: calc(100vw / 6); height: 10vh"
                  label="Hide/Show other"
                  checked-icon="check"
                  unchecked-icon="clear"
                  color="secondary"
                  v-model="showOther"
                />
              </q-card-actions>
              <q-card-actions
                v-else
                :vertical="!hideMap ? true : false"
                class="q-px-none q-py-none q-mt-none"
                :style="!hideMap ? 'width: 100%' : null"
              >
                <q-btn
                  class="no-margin"
                  outline
                  :style="
                    hideMap
                      ? 'height: 100%; width: calc(100vw / 5)'
                      : 'height: 25vh;width: 100%'
                  "
                  label="Cancel"
                  @click="cancelSelectOtherSpecies"
                />
              </q-card-actions>
            </div>
          </q-card-section>
          <q-card-section class="q-px-none q-py-none">
            <div>
              <table
                v-if="!speciesSelected && hasOther"
                style="width: 100%; border-collapse: collapse"
                :style="{ height: `calc(75vh / 4 * ${otherSpecies.length})` }"
              >
                <tbody v-for="n in otherSpecies.length + 1" :key="n">
                  <tr v-if="n > 1">
                    <td :class="'text-white bg-' + `${color[n - 1]} `">
                      <q-btn
                        flat
                        class="text-h3"
                        :style="{
                          height: '100%',
                          width: showOther
                            ? speciesSelected
                              ? '50%'
                              : '100%'
                            : '100%',
                        }"
                        :label="otherSpecies[n - 2]"
                        @click="selectOtherSpecies(n)"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                v-else-if="
                  (speciesSelected && hasOther) ||
                  (!speciesSelected && !hasOther)
                "
                :style="{
                  width: '100%',
                  'border-collapse': 'collapse',
                  height: hideMap ? '87vh' : '72vh',
                }"
              >
                <tbody>
                  <template v-for="n in 7" :key="n">
                    <tr>
                      <td style="padding: 0; margin: 0">
                        <template v-if="n === 1">
                          <div class="row items-center justify-center">
                            <div
                              :class="
                                'row items-center justify-center text-white col-8 bg-' +
                                `${color[0]}` +
                                '-7'
                              "
                              :style="{
                                width: showOther ? '66.666%' : '100%',
                                height: '3vh',
                              }"
                            >
                              Primary species: {{ speciesName[0] }}
                            </div>
                            <div
                              v-if="showOther"
                              :class="
                                'row items-center justify-center text-white col-auto bg-' +
                                `${color[speciesIndex]}` +
                                '-7'
                              "
                              :style="{
                                width: showOther ? '33.333%' : '100%',
                                height: '3vh',
                              }"
                            >
                              species: {{ otherSpecies[speciesIndex - 1] }}
                            </div>
                          </div>
                        </template>
                        <template v-else>
                          <q-btn
                            v-touch-hold.mouse="() => handleHold(n)"
                            :class="`bg-red-${8 - n} text-h4`"
                            :style="{
                              height: !hideMap
                                ? 'calc(72vh / 6)'
                                : 'calc(87vh / 6)',
                              width: showOther ? '66.666%' : '100%',
                            }"
                            @click="selectPrimaryDC(n - 1)"
                          >
                            <div v-if="n == 7">
                              No {{ this.speciesName[0].split(' ')[0] }}&nbsp;
                            </div>
                            <div v-else>
                              {{ this.speciesName[0].split(' ')[0] }}
                              {{ 8 - n }}&nbsp;
                            </div>
                            <div v-if="n == 2">
                              {{ reverseOptions[n - 2] }}
                            </div>
                            <img :src="images[`./${8 - n}.png`]" />
                          </q-btn>
                          <q-btn
                            v-touch-hold.mouse="() => handleHold(n)"
                            :class="`bg-${color[speciesIndex]}-${
                              8 - n
                            } text-h4`"
                            v-if="showOther"
                            :style="{
                              height: !hideMap
                                ? 'calc(72vh / 6)'
                                : 'calc(87vh / 6)',
                              width: showOther ? '33.333%' : '100%',
                            }"
                            @click="selectOtherDC(n - 1)"
                          >
                            <div>
                              <div v-if="n == 7">
                                No
                                {{
                                  this.speciesName[this.speciesIndex].split(
                                    ' ',
                                  )[0]
                                }}&nbsp;
                              </div>
                              <div v-else>
                                {{
                                  this.speciesName[this.speciesIndex].split(
                                    ' ',
                                  )[0]
                                }}
                                {{ 8 - n }} &nbsp;
                              </div>
                              <div v-if="n == 2">
                                {{ reverseOptions[n - 2] }}
                              </div>
                            </div>
                          </q-btn>
                        </template>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog
        v-model="endConfirmation"
        persistent
        transition-show="scale"
        transition-hide="scale"
      >
        <q-card style="width: 300px">
          <q-card-section>
            <div class="text-h6">Confirmation</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            You are now ending the survey, you will no longer be able to add
            observations. Once you have finished the survey, you will still need
            to submit the collected data to the server, using the buttons at the
            bottom-right.
          </q-card-section>
          <q-card-actions align="center" class="q-pb-md">
            <q-btn flat label="End" @click="endConfirm"></q-btn>
            <q-btn
              color="secondary"
              label="Cancel"
              v-close-popup
              @click="speak('cancel')"
            ></q-btn>
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { makeModelConfig } from '../misc/helpers'
import GrassyWeedsMap from './GrassyWeedsMap.vue'
import { useBulkStore } from 'src/stores/bulk'
import { useApiModelsStore } from 'src/stores/apiModels'
import { ref } from 'vue'
import { cloneDeep } from 'lodash'
import { useEphemeralStore } from '../stores/ephemeral'
import { notifyHandler } from '../misc/helpers'
export default {
  inject: ['doc'],
  name: 'GrassyWeedsObservation',
  components: {
    GrassyWeedsMap,
  },
  props: {
    userCoords: {
      type: Object,
    },
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: false,
    },
  },
  async setup(props) {
    const { collectionGetForProt } = useBulkStore()
    const { resolvedLutSymbol } = useApiModelsStore()
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()

    const currCollection = collectionGetForProt({
      protId: props.protocolId,
    })

    let fileData = null
    const modelValueRef = ref(props.modelValue)
    if (modelValueRef.value?.flight_lines) {
      fileData = modelValueRef.value.flight_lines.src
    } else if (currCollection?.['grassy-weeds-survey']?.flight_lines) {
      fileData = currCollection['grassy-weeds-survey'].flight_lines.src
    }

    return {
      bulkStore,
      collectionGetForProt,
      resolvedLutSymbol,
      apiModelsStore,
      fileData: ref(fileData),
      ephemeralStore,
      currCollection,
    }
  },
  mounted() {
    clearInterval(this.bulkStore.intervalId)
    clearInterval(this.bulkStore.timerInterval)
    document.addEventListener('visibilitychange', () => {
      this.documentHidden = document.hidden
    })
    const context = require.context('../assets/Categories', false, /\.png$/)
    this.images = context.keys().reduce((images, path) => {
      images[path] = context(path)
      return images
    }, {})
  },
  data() {
    const modelConfig = makeModelConfig(
      'grassy-weeds-observation',
      this.doc,
      this.protocolId,
    )

    const survey = this.collectionGetForProt({
      protId: this.protocolId,
    })['grassy-weeds-survey']

    const speciesList = {}
    for (let key in survey) {
      if (key.includes('species')) {
        speciesList[key] = survey[key]
      }
    }

    const speciesSymbols = Object.values(speciesList)

    let speciesName = []
    for (let index = 0; index < speciesSymbols.length; index++) {
      speciesName[index] = this.resolvedLutSymbol({
        symbol: speciesSymbols[index],
        modelName: 'lut-nesp-weed-target',
        suppressWarnings: true,
      })
    }

    const DCoptions = cloneDeep(
      this.apiModelsStore.cachedModel({
        modelName: 'lut-nesp-weed-density-category',
      }),
    )
    const dcOrder = ['Present', '>50%', '10-50%', '1-10%', '<1%', 'None']

    const reverseOptions = DCoptions.sort(
      (a, b) => dcOrder.indexOf(a.label) - dcOrder.indexOf(b.label),
    ).map((o) => o.label)

    const otherSpecies = speciesName.slice(1) // thefirst species is primary so remove it
    const summaryTable = [
      {
        name: 'observation_number',
        label: 'Observation Number',
        align: 'center',
        field: (row) => row.observation_number,
        format: (val) => `${val}`,
      },
      {
        name: 'species',
        label: 'Species',
        align: 'center',
        field: (row) => row.species,
        format: (val) => {
          return this.resolvedLutSymbol({
            symbol: val,
            modelName: 'lut-nesp-weed-target',
            suppressWarnings: true,
          })
        },
      },
      {
        name: 'density_category',
        label: 'Density Category',
        align: 'center',
        field: (row) => row.density_category,
        format: (val) => {
          return this.resolvedLutSymbol({
            symbol: `${val}`,
            modelName: 'lut-nesp-weed-density-category',
            suppressWarnings: true,
          })
        },
      },
      {
        name: 'speed',
        label: 'Speed',
        align: 'center',
        field: (row) => row.speed,
      },
      {
        name: 'accuracy',
        label: 'Accuracy',
        align: 'center',
        field: (row) => row.accuracy,
      },
      {
        name: 'heading',
        label: 'Heading',
        align: 'center',
        field: (row) => row.heading,
      },
    ]
    const columns = [
      ...summaryTable,
      {
        name: 'location',
        label: 'Location',
        align: 'center',
        field: (row) => row.location,
        format: (val) => 'lat: ' + `${val?.lat}` + ', lng: ' + `${val?.lng}`,
      },
    ]

    const synth = window.speechSynthesis
    return {
      documentHidden: false,
      hideMap: false,
      displayMap: true,
      modelConfig,
      flag: false,
      speciesSelected: false,
      end: false,
      hasOther: false,
      showOther: false,
      color: ['red', 'indigo', 'light-blue', 'teal', 'light-green'],
      speciesIndex: 0,
      speciesName,
      otherSpecies,
      observations:
        this.collectionGetForProt({
          protId: this.protocolId,
        })[this.rowDataKey] || [],
      speciesSymbols,
      DCoptions,
      reverseOptions,
      endConfirmation: false,
      timerPaused: false,
      displayTime: null,
      points: [],
      columns,
      summaryTable,
      hasGB: false,
      synth,
      images: {},
      audio: new Audio(this.ephemeralStore.beepAudioRoute) || null,
      pwa: window.matchMedia('(display-mode: standalone)').matches,
    }
  },
  computed: {
    starObsLabel() {
      return this.startBtn && this.bulkStore.grassyEndObs
        ? 'End'
        : this.startBtn
        ? 'Resume'
        : 'Start Survey'
    },
    formattedTime() {
      const minutes = Math.floor(this.bulkStore.time / 60)
      // const minutes = Math.floor(this.time / 60)
      const seconds = this.bulkStore.time % 60
      return `${minutes.toString().padStart(2, '0')}:${seconds
        .toString()
        .padStart(2, '0')}`
    },
    startBtn() {
      return !!this.collectionGetForProt({
        protId: this.protocolId,
      })[this.rowDataKey]
    },
  },
  watch: {
    flag(newValue) {
      if(!newValue){
        this.audio?.pause()
      }
    },
    documentHidden(newValue) {
      if (newValue) {
        if (this.audio) {
          this.timerPaused = true
          clearInterval(this.bulkStore.intervalId)
        }
      } else {
        this.timerPaused = false
        this.setInverval()
      }
    },
    observations() {
      this.$emit('update:modelValue', this.observations)
    },
  },
  methods: {
    async lockOrientation() {
      if (!this.$q.platform.is.desktop) {
        await document.documentElement.requestFullscreen()
        if (screen.orientation) {
          await screen.orientation.lock('portrait')
        }
      }
    },
    unlockOrientation() {
      if (!this.$q.platform.is.desktop) {
        if (document.fullscreenElement) {
          document.exitFullscreen()
        }
        if (screen.orientation) {
          screen.orientation.unlock()
        }
      }
    },
    handleHold(n) {
      if (n && this.observations.length > 0) {
        this.observations[this.observations.length - 1].density_category = (
          n - 1
        ).toString()
        const selectedSpeciesLabel = this.speciesName[this.speciesIndex]
        const selectedDc = this.DCoptions.find(
          (o) => o.label === this.reverseOptions[n - 2],
        )
        this.speak(`${selectedSpeciesLabel.split(' ')[0]} ${selectedDc.symbol}`)
      }
    },
    controlNav() {
      this.hideMap = !this.hideMap
      this.speak(!this.hideMap ? 'Show Navigator' : 'Hide Navigator')
    },
    switchMapAndSummary() {
      this.speak(this.displayMap ? 'Show summary' : 'Show map')
      this.displayMap = !this.displayMap
    },
    scoreOther() {
      this.hasOther = true
      this.speak('Score Other Species')
    },
    speak(text) {
      const utterance = new SpeechSynthesisUtterance(text)
      utterance.lang = 'en-AU'
      utterance.rate = 1.5
      this.synth.cancel()
      this.synth.speak(utterance)
    },
    setInverval() {
      this.bulkStore.intervalId = setInterval(() => {
        this.bulkStore.pointNumber++
        // this.audio = new Audio(this.ephemeralStore.beepAudioRoute)
        if (this.ephemeralStore.vibrate) {
          if ('vibrate' in navigator) {
            // Vibrate for 200ms
            navigator.vibrate(200)
          } else {
            notifyHandler('warning', 'Vibration not supported on this device')
          }
        } else {
          if (
            this.ephemeralStore.beepAudio !== 'mute' &&
            this.ephemeralStore.beepAudio !== null
          ) {
            this.audio.play()
          }
        }
      }, 7000)
    },
    startTimer() {
      this.bulkStore.timerInterval = setInterval(() => {
        if (!this.timerPaused) {
          this.bulkStore.time++
        }
      }, 1000)
      this.setInverval()
    },
    toggleTimer() {
      if (this.timerPaused) {
        this.speak('Resume')
        // resume the timer
        this.timerPaused = false
        this.setInverval()
      } else {
        this.speak('Paused')
        // pause the timer
        this.timerPaused = true
        clearInterval(this.bulkStore.intervalId)
      }
    },
    selectPrimaryDC(n) {
      const index = n - 1
      const selectedSpeciesSymbol = this.speciesSymbols[0]
      const selectedSpeciesLabel = this.speciesName[0]
      const selectedDc = this.DCoptions.find(
        (o) => o.label === this.reverseOptions[index],
      )
      if (selectedDc.symbol == 1) {
        this.speak(`No ${selectedSpeciesLabel.split(' ')[0]}`)
      } else {
        this.speak(`${selectedSpeciesLabel.split(' ')[0]} ${selectedDc.symbol}`)
      }

      this.observations = [
        ...this.observations,
        {
          species: selectedSpeciesSymbol,
          density_category: selectedDc.symbol,
          observation_number: this.observations.length + 1,
          location: this.userCoords,
          date_time: new Date(),
          speed: this.ephemeralStore.speed,
          accuracy: !isNaN(this.ephemeralStore.gpsAccuracy ?? 0)
            ? this.ephemeralStore.gpsAccuracy
            : 0,
          heading:
            this.ephemeralStore.heading != null
              ? this.ephemeralStore.heading
              : 0,
        },
      ]
      if (!this.timerPaused) {
        this.points.push({
          density_category: selectedDc.symbol,
          location: this.userCoords,
        })
      }
    },
    selectOtherDC(n) {
      const selectedSpeciesSymbol = this.speciesSymbols[this.speciesIndex]
      const selectedSpeciesLabel = this.speciesName[this.speciesIndex]
      const selectedDc = this.DCoptions.find(
        (o) => o.label === this.reverseOptions[n - 1],
      )
      if (selectedDc.symbol == 1) {
        this.speak(`No ${selectedSpeciesLabel.split(' ')[0]}`)
      } else {
        this.speak(`${selectedSpeciesLabel.split(' ')[0]} ${selectedDc.symbol}`)
      }
      this.observations = [
        ...this.observations,
        {
          species: selectedSpeciesSymbol,
          density_category: this.DCoptions.find(
            (o) => o.label === this.reverseOptions[n - 1],
          ).symbol,
          observation_number: this.observations.length + 1,
          location: this.userCoords,
          date_time: new Date(),
          speed: this.ephemeralStore.speed,
          accuracy: !isNaN(this.ephemeralStore.gpsAccuracy ?? 0)
            ? this.ephemeralStore.gpsAccuracy
            : 0,
          heading:
            this.ephemeralStore.heading != null
              ? this.ephemeralStore.heading
              : 0,
        },
      ]
      if (!this.timerPaused) {
        this.points.push({
          density_category: selectedDc.symbol,
          location: this.userCoords,
        })
      }
    },
    changeSpecies() {
      this.speak('change species')
      this.hasOther = true
      this.speciesSelected = false
    },
    cancelSelectOtherSpecies() {
      this.speak('cancel')
      this.hasOther = false
      this.speciesSelected = false
      this.showOther = false
    },
    selectOtherSpecies(n) {
      this.speciesIndex = n - 1
      this.speak(this.otherSpecies[n - 2])
      this.speciesSelected = true
      this.showOther = true
    },
    endConfirm() {
      this.speak('End')
      this.flag = false
      this.end = true
      this.bulkStore.grassyEndObs = true
      this.endConfirmation = false
      this.points = []
      this.bulkStore.time = 0
      this.bulkStore.pointNumber = 1
      this.audio?.pause()
      clearInterval(this.bulkStore.intervalId)
      clearInterval(this.bulkStore.timerInterval)
    },
    endSurvey() {
      this.speak('End Survey')
      this.endConfirmation = true
    },
    startObs() {
      this.speak(this.starObsLabel)
      if (this.starObsLabel === 'Start Survey') {
        this.bulkStore.pointNumber = 1
        this.bulkStore.time = 0
        clearInterval(this.bulkStore.intervalId)
        clearInterval(this.bulkStore.timerInterval)
      }
      this.startTimer()
      this.flag = true
      this.bulkStore.grassyEndObs = false
      this.speciesSelected = false
      this.hasOther = false
      this.showOther = false
    },
  },
}
</script>
