<template>
  <div class="q-ma-md column">
    <div class="row justify-between">
      <div>
        <q-toggle
          v-if="options.length > 0"
          class="self-start"
          v-model="showArchived"
          label="Show archived surveys"
          data-cy="toggleArchive"
        />
      </div>
      <div>
        <q-btn
          class="self-end"
          flat
          color="secondary"
          label="back"
          @click="backBtnHandler"
        />
      </div>
    </div>
    <div v-if="options.length === 0">No completed field surveys.</div>
    <div v-if="fieldSurveyOptions.length === 0" data-cy="allSurveysArchived">
      All surveys have been exported and archived.
    </div>
    <div v-else>
      <q-select
        label="Survey"
        :hint="'The Field Survey you wish to export/download to your device'"
        :options="fieldSurveyOptions"
        v-model="selectedFieldSurvey"
        clearable
        data-cy="selectSurveyToExport"
      />
      <q-btn
        v-if="selectedFieldSurvey"
        class="q-mt-sm full-width"
        label="Export Survey (Download CSV file to your device)"
        color="primary"
        @click="exportSurvey"
        icon="file_download"
      />
    </div>
  </div>
</template>

<script>
import {
  getGrassyWeedsDesktopSurveys,
  notifyHandler,
  paratooErrorHandler,
} from '../misc/helpers'
import { coreApiUrlBase, coreApiPrefix } from 'src/misc/constants'
import { useAuthStore } from '../stores/auth'
import { useApiModelsStore } from '../stores/apiModels'
import axios from 'axios'
import fileDownload from 'js-file-download'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { doCoreApiGet } from 'src/misc/api'

export default {
  name: 'GrassyWeedsExport',
  setup() {
    const authStore = useAuthStore()
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()

    return {
      authStore,
      ephemeralStore,
      apiModelsStore,
    }
  },
  data() {
    return {
      fieldSurveyOptionsLoading: true,
      selectedFieldSurvey: null,
      showArchived: false,
      options:
        getGrassyWeedsDesktopSurveys('grassy-weeds-survey', 'F', true) || [],
      fieldSurveyOptions: [],
    }
  },
  watch: {
    // everytime user reopen the page, it check if the network is online. if offline, it will not fetch the data
    'ephemeralStore.networkOnline': async function (newValue) {
      if (newValue) {
        this.fieldSurveyOptions = getGrassyWeedsDesktopSurveys(
          'grassy-weeds-survey',
          'F',
          true,
          await this.getUpdatedSurveyData(),
        )
      } else {
        notifyHandler('warning', 'You are not connected to the internet!')
      }
    },
    showArchived: {
      immediate: true,
      handler: async function (newValue) {
        this.fieldSurveyOptions = newValue
          ? this.options
          : getGrassyWeedsDesktopSurveys(
              'grassy-weeds-survey',
              'F',
              true,
              await this.getUpdatedSurveyData(),
            )
      },
    },
  },
  methods: {
    backBtnHandler() {
      this.$router.push('/')
    },
    async exportSurvey() {
      const url = `${coreApiUrlBase}${coreApiPrefix}/grassy-weeds-exports/${this.selectedFieldSurvey.value}`
      const fieldSurveyResp = await axios
        .get(url, {
          headers: {
            Authorization: 'Bearer ' + this.authStore.token,
          },
        })
        .catch((err) => {
          let msg = 'Failed to export data'
          paratooErrorHandler(msg, err)
          notifyHandler('negative', msg, err)
        })
      fileDownload(
        fieldSurveyResp.data,
        `${this.selectedFieldSurvey.full_data.field_survey_name}_${this.selectedFieldSurvey.full_data.field_survey_observer}_${this.selectedFieldSurvey.full_data.observer_aircraft_position.label}.csv`,
      )
      if (!this.showArchived) {
        this.selectedFieldSurvey = null
      }
      this.fieldSurveyOptions = getGrassyWeedsDesktopSurveys(
        'grassy-weeds-survey',
        'F',
        true,
        await this.getUpdatedSurveyData(),
      )
    },
    async getUpdatedSurveyData() {
      const getUpdatedSurveyData = await doCoreApiGet({
        urlSuffix: `${coreApiPrefix}/grassy-weeds-surveys`,
      })
        .then((data) => {
          return data
            ?.filter((o) => o.survey_type.symbol === 'F')
            ?.filter((o) => o.archived === false)
        })
        .catch((err) => {
          let msg = 'Failed to get data'
          paratooErrorHandler(msg, err)
          notifyHandler('negative', msg, err)
        })

      return getUpdatedSurveyData
    },
  },
}
</script>
