<template>
  <div>
    <div
      v-if="userCoords && JSON.stringify(userCoords) !== '{}'"
      class="q-py-md"
    >
      <l-map
        :min-zoom="minZoom"
        :max-zoom="maxZoom"
        :style="
          isMobileDevice
            ? 'height: 350px; width: 100%'
            : 'height: 500px; width: 100%'
        "
        v-model:center="currentCenter"
        v-model:zoom="currentZoom"
      >
        <l-tile-layer :url="url" :attribution="attribution" />

        <l-control position="bottomleft">
          <q-btn color="grey" icon="my_location" @click="backToLocation" />
        </l-control>

        <l-control-scale :imperial="imperial" />
        <l-polygon :lat-lngs="plotLayoutPoints.latLngs" :color="'OrangeRed'" />

        <l-polygon :lat-lngs="sub" :color="'lime'" />

        <!-- points of ratios -->
        <!-- <div v-for="(item, index) in points" :key="item">
          <l-circle-marker :weight="Number(11)" :lat-lng="item">
            <l-popup>{{ index }}</l-popup>
          </l-circle-marker>
        </div> -->

        <!-- points of subplots -->
        <!-- <div v-for="item in sub" :key="item">
          <l-circle-marker color="lime" :weight="Number(11)" :lat-lng="item">
            <l-popup>{{ item }}</l-popup>
          </l-circle-marker>
        </div> -->

        <l-polyline :lat-lngs="trackLog" color="seaShell" />
      </l-map>
      <br />
    </div>
    <div v-else><h4>Waiting for GPS...</h4></div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :collection-survey-flag="false"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :disable-buttons="maxTransectsReached"
      @update:modelValue="
        (e) => {
          e = {
            ...e,
            track_log: trackLog,
          }
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  getIntersectionPoint,
  getSubPlot,
  assignValidUserCoords,
} from '../misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
import { useEphemeralStore } from '../stores/ephemeral'
import { useApiModelsStore } from '../stores/apiModels'
import { useDataManagerStore } from '../stores/dataManager'
import cloneDeep from 'lodash/cloneDeep'

import {
  LMap,
  LTileLayer,
  LControl,
  LControlScale,
  LPolygon,
  LPolyline,
} from 'vue-leaflet/src/components'
export default {
  inject: ['doc'],
  name: 'HerbivoryAndPhysicalDamageActiveSearchTransect',
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    LMap,
    LTileLayer,
    // LPopup,
    LControl,
    LControlScale,
    LPolygon,
    // LCircleMarker,
    LPolyline,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()
    const apiModelsStore = useApiModelsStore()

    const url = `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`
    const attribution =
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    return {
      bulkStore,
      url,
      attribution,
      ephemeralStore,
      apiModelsStore,
    }
  },
  computed: {
    plotLayoutPoints() {
      return this.apiModelsStore.plotLayoutPoints('vegetation')
    },
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
  watch: {
    modelValue(newVal) {
      for (const field of this.defaultHiddenSetUp) {
        this.modelConfig.fields[field].hidden =
          newVal && newVal.start_date ? false : true
      }
    },
    'ephemeralStore.startTransect': {
      handler(newVal) {
        if (newVal) {
          for (const field of this.defaultHiddenSetUp) {
            this.modelConfig.fields[field].hidden = false
          }

          this.ephemeralStore.trackLogInterval = setInterval(() => {
            let newRecord = cloneDeep(this.trackLog)
            newRecord.push(cloneDeep(this.userCoords))
            this.trackLog = newRecord
          }, 60000)
          //60000 1 min
        }
      },
    },
    plotLayoutPoints: {
      immediate: true, // This makes the watch handler run immediately after the component is created
      handler() {
        const SWplotPoint = this.plotLayoutPoints.latLngs[0]
        const NWplotPoint = this.plotLayoutPoints.latLngs[1]
        const NEplotPoint = this.plotLayoutPoints.latLngs[2]
        const SEplotPoint = this.plotLayoutPoints.latLngs[3]
        // veg plot points
        const vegPlot = [
          [SWplotPoint.lat, SWplotPoint.lng],
          [NWplotPoint.lat, NWplotPoint.lng],
          [NEplotPoint.lat, NEplotPoint.lng],
          [SEplotPoint.lat, SEplotPoint.lng],
        ]

        const subPlot = getSubPlot(vegPlot, this.ratio1, this.ratio2)
        this.points = subPlot
        const intersectionB_D = getIntersectionPoint(
          subPlot[1],
          subPlot[4],
          subPlot[3],
          subPlot[6],
        )

        const intersectionB_C = getIntersectionPoint(
          subPlot[1],
          subPlot[4],
          subPlot[2],
          subPlot[7],
        )
        const intersectionA_D = getIntersectionPoint(
          subPlot[0],
          subPlot[5],
          subPlot[3],
          subPlot[6],
        )
        const intersectionA_C = getIntersectionPoint(
          subPlot[0],
          subPlot[5],
          subPlot[2],
          subPlot[7],
        )
        this.sub = [
          intersectionB_D,
          intersectionA_D,
          intersectionA_C,
          intersectionB_C,
        ]
      },
    },
  },
  data() {
    let modelConfig = makeModelConfig(
      'herbivory-and-physical-damage-active-search-transect',
      this.doc,
      this.protocolId,
    )

    modelConfig.fields.start_date.type = 'herbivory_start_transect'
    // modelConfig.fields.start_date.label = 'start active search'
    modelConfig.fields.end_location.type = 'herbivory_end_transect'
    // modelConfig.fields.end_location.label = 'end active search'

    const setupData = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })?.['herbivory-and-physical-damage-active-search-setup']

    modelConfig.fields.start_location.hidden = true
    modelConfig.fields.track_log.hidden = true
    modelConfig.fields.end_date.hidden = true

    const defaultHiddenSetUp = ['start_location_photo', 'hapd_observed']

    const quadratsHideDefault = [
      'type_of_damage',
      'type_of_physical_damage',
      'affected_plant_species',
      'growth_form',
      'damage_lowest_point',
      'damage_highest_point',
      'extent_of_damage',
      'additional_physical_damage',
      'grazing_severity',
      'herbivory_attributable_fauna_species',
      'physical_damage_attributable_fauna_species',
      'seedling_or_sapling',
    ]

    for (const field of quadratsHideDefault) {
      modelConfig.fields.hapd_observed.modelConfig.fields[field].hidden = true
    }

    const otherSpecies = setupData?.target_species?.find(
      (species) => species.other_species?.length,
    )?.other_species
    if (otherSpecies) {
      const otherSpeciesOptions = otherSpecies.map(({ other_species: o }) => ({
        label: o,
        value: o,
      }))
      const speciesFields = [
        'herbivory_attributable_fauna_species',
        'physical_damage_attributable_fauna_species',
      ]
      // console.log(modelConfig.fields)
      speciesFields.forEach((field) => {
        const speciesField =
          modelConfig.fields.hapd_observed.modelConfig.fields[field]
        const modelName = speciesField.select.optionsKey
        let defaultOptions = useDataManagerStore()
          .cachedModel({ modelName })
          .map(({ symbol, label }) => ({ label, value: symbol }))
        defaultOptions = defaultOptions.filter(
          ({ value }) => value !== 'Other' && value !== 'O',
        )
        speciesField.select.options = [
          ...defaultOptions,
          ...otherSpeciesOptions,
        ]
      })
    }

    const conditionalFields = [
      //TODO we shouldn't need to use conditional fields for these sorts of LUTs (`createDependentFieldCallback()` should be sufficient if we set the relations up correctly). Don't want to mess with this now though, as other pest modules also use these LUTs
      //attributable fauna species
      {
        field: 'herbivory_attributable_fauna_species',
        dependsOn: 'herbivory_or_damage_encountered',
        dependsOnSelection: ['H'],
      },
      {
        field: 'physical_damage_attributable_fauna_species',
        dependsOn: 'herbivory_or_damage_encountered',
        dependsOnSelection: ['D'],
      },
      {
        field: 'type_of_physical_damage',
        dependsOn: 'herbivory_or_damage_encountered',
        dependsOnSelection: ['D'],
      },
      {
        field: 'type_of_damage',
        dependsOn: 'herbivory_or_damage_encountered',
        dependsOnSelection: ['H'],
      },
      {
        field: 'affected_plant_species',
        dependsOn: 'herbivory_or_damage_encountered',
        dependsOnSelection: ['H'],
      },
      {
        field: 'growth_form',
        dependsOn: 'herbivory_or_damage_encountered',
        dependsOnSelection: ['H'],
      },
      //growth form
      //TODO confirm these `dependsOnSelection`s are correct
      {
        field: 'damage_lowest_point',
        dependsOn: 'growth_form',
        //shrubs and trees
        dependsOnSelection: ['X', 'Z', 'T', 'D', 'C', 'S', 'Y', 'M', 'U'],
      },
      {
        field: 'damage_highest_point',
        dependsOn: 'growth_form',
        //shrubs and trees
        dependsOnSelection: ['X', 'Z', 'T', 'D', 'C', 'S', 'Y', 'M', 'U'],
      },
      {
        field: 'extent_of_damage',
        dependsOn: 'growth_form',
        //shrubs and trees
        dependsOnSelection: ['X', 'Z', 'T', 'D', 'C', 'S', 'Y', 'M', 'U'],
      },
      {
        field: 'additional_physical_damage',
        dependsOn: 'growth_form',
        //shrubs and trees
        dependsOnSelection: ['X', 'Z', 'T', 'D', 'C', 'S', 'Y', 'M', 'U'],
      },
      {
        field: 'grazing_severity',
        dependsOn: 'growth_form',
        //seedlings, saplings, sedges, rushes, and grasses
        dependsOnSelection: ['V', 'X', 'R', 'H', 'G', 'O', 'SG'],
      },
      {
        field: 'grazing_severity',
        dependsOn: 'seedling_or_sapling',
      },
      {
        field: 'seedling_or_sapling',
        dependsOn: 'growth_form',
        dependsOnSelection: [
          'Z',
          'A',
          'TP',
          'D',
          'CY',
          'FU',
          'NC',
          'F',
          'B',
          'C',
          'K',
          'E',
          'S',
          'Y',
          'M',
          'L',
          'U',
          'SS',
          'LI',
          'P',
        ],
      },
    ]

    return {
      defaultHiddenSetUp,
      points: [],
      ratio1: 0.3,
      ratio2: 0.4,
      sub: null,
      subPlotPolygon: null,
      polyline: [],
      currentCenter: this.userCoords,
      minZoom: 1,
      maxZoom: 20,
      imperial: false,
      currentZoom: 11.5,
      modelConfig,
      conditionalFieldsCallback: createDependentFieldCallback(),
      conditionalFields,
      maxTransectsReached: false,
      trackLog:
        this.bulkStore.collectionGetForProt({
          protId: this.protocolId,
        })?.['herbivory-and-physical-damage-transect']?.track_log || [],
    }
  },
  methods: {
    backToLocation() {
      this.currentZoom = 13
      this.currentCenter = assignValidUserCoords(this.userCoords)
    },
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>
