<template>
  <div>
    <q-btn
      v-if="modelValue.start_date && !modelValue.end_date"
      class="q-py-sm"
      data-cy="endTransect"
      outline
      @click="endTransect"
      >End active search</q-btn
    >
    <div v-if="end.end_date" class="q-py-sm id">
      <div>
        <strong>End Date: </strong>
        {{ end.end_date }}
      </div>
      <div>
        <strong>End Location: </strong>
        Lat: {{ end.end_location.lat }}, Lng: {{ end.end_location.lng }}
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { useBulkStore } from 'src/stores/bulk'
import cloneDeep from 'lodash/cloneDeep'
import { notifyHandler, determineModeOfOperation } from 'src/misc/helpers'
import { date, Dialog } from 'quasar'
export default {
  props: {
    modelValue: {
      type: Object,
      required: false,
    },
    userCoords: {
      type: Object,
    },
    protocolId: {
      type: Number,
    },
  },
  setup(props, { emit }) {
    const ephemeralStore = useEphemeralStore()
    const newRecord = cloneDeep(props.modelValue)
    const bulkStore = useBulkStore()

    const end = computed({
      get: () => {
        return {
          end_location: props.modelValue.end_location,
          end_date: props.modelValue.end_date,
        }
      },
      set: (newVal) => {
        newRecord.end_location = newVal.end_location
        newRecord.end_date = newVal.end_date
      },
    })

    const formatTime = (seconds) => {
      const totalSeconds = Math.floor(seconds)
      const h = Math.floor(totalSeconds / 3600)
      const m = Math.floor((totalSeconds % 3600) / 60)
      const s = totalSeconds % 60
      const pad = (num) => String(num).padStart(2, '0')
      return `${pad(h)}:${pad(m)}:${pad(s)}`
    }

    function getTransectTime() {
      const curr = new Date()
      const transectTime = date.getDateDiff(
        curr.toLocaleString().replace(/,/g, ''),
        props.modelValue.start_date,
        'seconds',
      )
      return transectTime
    }

    const endTransect = () => {
      const maxTime = determineModeOfOperation('herbivoryActive')
      const transectTime = getTransectTime() //seconds
      const setupData = bulkStore.collectionGetForProt({
        protId: props.protocolId,
      })?.['herbivory-and-physical-damage-active-search-setup']

      if (
        setupData &&
        //we're doing 40x40 subplot so no minimum time requirements
        setupData?.plot_size !== 'S' &&
        //we're doing 100x100 so need minimum effort
        transectTime * 1000 < maxTime
      ) {
        notifyHandler(
          'warning',
          `Transect time is ${formatTime(transectTime)}, minimum of ${
            determineModeOfOperation('herbivoryActive') / 60000
          } minutes survey effort is required.`,
        )
      } else {
        Dialog.create({
          title: 'Confirm',
          message: `Are you sure you want to end the search. Current effort is ${formatTime(transectTime)}`,
          'no-focus': true,
          ok: {
            flat: true,
            label: 'Yes',
          },
          cancel: 'No',
        }).onOk(() => {
          ephemeralStore.startTransect = false
          clearInterval(ephemeralStore.transectTimer)
          clearInterval(ephemeralStore.trackLogInterval)
          if (ephemeralStore.userCoords) {
            end.value.end_location = {
              lat: ephemeralStore.userCoords?.lat,
              lng: ephemeralStore.userCoords?.lng,
            }
            const date = new Date()
            const formattedDate = date.toLocaleString().replace(/,/g, '')
            end.value.end_date = formattedDate
            emit('update:modelValue', {
              ...props.modelValue,
              end_location: end.value.end_location,
              end_date: end.value.end_date,
            })
          }
        })
      }
    }

    return {
      newRecord,
      ephemeralStore,
      bulkStore,
      end,
      endTransect,
    }
  },
}
</script>
