<template>
  <div>
    <q-btn
      class="q-py-sm"
      v-if="!modelValue.start_date || !start"
      data-cy="startTransect"
      outline
      @click="startTransect"
      >Start active search *
    </q-btn>
    <div v-else class="q-py-sm id">
      <div
        v-if="collectionsActiveSearch"
        class="text-h5"
        id="time"
        data-cy="timeInMinutes"
      >
        <p :data-cy="formattedTime">Time Elapsed: {{ formattedTime }}</p>
      </div>
      <table style="width: 100%">
        <thead>
          <tr>
            <th style="width: 50%">Start Date / Transect Id</th>
            <th style="width: 50%">Start Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ modelValue.start_date }}</td>
            <td>
              Lat: {{ modelValue.start_location.lat }}<br />
              Lng: {{ modelValue.start_location.lng }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import { computed, ref, onMounted } from 'vue'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import { notifyHandler } from '../misc/helpers'
import { date } from 'quasar'
export default {
  props: {
    modelValue: {
      type: Object,
      required: false,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: false,
    },
    fields: {
      type: Object,
    },
  },
  setup(props, { emit }) {
    const ephemeralStore = useEphemeralStore()
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()

    const collectionsActiveSearch = bulkStore.collectionGetForProt({
      protId: props.protocolId,
    })?.['herbivory-and-physical-damage-active-search-setup']

    const collection = bulkStore.collectionGetForProt({
      protId: props.protocolId,
    })?.['herbivory-and-physical-damage-active-search-transect']

    const start_date = ref(props.modelValue.start_date)
    const start_location = ref(props.modelValue.start_location)
    const start = computed(() => {
      return props.modelValue.start_date && props.modelValue.start_location
    })

    let timeDifference = ref(0)
    const startTimer = () => {
      ephemeralStore.startTransect = true
      ephemeralStore.stopTimer = false
      ephemeralStore.transectTime = ephemeralStore.transectTime / 1000
      ephemeralStore.transectTimer = setInterval(() => {
        if (!ephemeralStore.stopTimer) {
          ephemeralStore.transectTime += 1 // Increment the timer value by 1 second
        }
      }, 1000) // Set the interval to 1000 milliseconds (1 second)
    }

    onMounted(() => {
      if (collection?.start_date && !collection?.end_date) {
        clearInterval(ephemeralStore.transectTimer)
        let startTime = collection.start_date
        let [startDateStr, startTimeStr] = startTime?.split(' ')
        let [day, month, year] = startDateStr.split('/')
        let [hours, minutes, seconds] = startTimeStr.split(':')
        let startDate = new Date(
          `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`,
        )
        let endDate = new Date()
        timeDifference.value = endDate - startDate
        ephemeralStore.transectTime = timeDifference.value
        startTimer()
      }
    })

    const startTransect = () => {
      const date = new Date()
      const formattedDate = date.toLocaleString().replace(/,/g, '')
      start_date.value = formattedDate
      if (
        ephemeralStore.userCoords?.lat &&
        ephemeralStore.userCoords?.lat != 'undefined'
      ) {
        start_location.value = {
          lat: ephemeralStore.userCoords?.lat,
          lng: ephemeralStore.userCoords?.lng,
        }
        collectionsActiveSearch ? startTimer() : null
        emit('update:modelValue', {
          ...props.modelValue,
          start_date: start_date.value,
          start_location: start_location.value,
        })
      } else {
        notifyHandler('warning', 'Location is not available')
      }
    }
    return {
      collectionsActiveSearch,
      apiModelsStore,
      bulkStore,
      //TODO should be from the model - schema `herbivory-and-physical-damage-active-search-transect` is where this data ends up but it's stored as a string, not relation to the LUT - see #1413
      ephemeralStore,
      start,
      start_location,
      start_date,
      startTransect,
      startTimer,
      collection,
    }
  },
  data() {
    let formattedTime
    if(this.collection?.end_date) {
      const timeDiff = date.getDateDiff(this.collection?.end_date, this.collection?.start_date, 'second')
      formattedTime = this.formatDate(timeDiff, 'HH:mm:ss')
    } else  if(this.collection?.start_date) {
        const timeDiff = date.getDateDiff(new Date(), this.collection?.start_date, 'second')
        formattedTime = this.formatDate(timeDiff, 'HH:mm:ss')
    } else formattedTime = '00:00:00'
    return {
      formattedTime
    }
  },
  watch: {
    'ephemeralStore.transectTime'(val) {
      this.formattedTime = this.formatDate(val)
    },
  },
  methods: {
    formatDate(val) {
      const totalSeconds = Math.floor(val)
      const hours = Math.floor(totalSeconds / 3600)
      const minutes = Math.floor((totalSeconds % 3600) / 60)
      const seconds = totalSeconds % 60
      const pad = (num) => String(num).padStart(2, '0')
      return `${pad(hours)}:${pad(minutes)}:${pad(seconds)}`
    },
  },
}
</script>
<style scoped>
.id {
  font-size: 1rem;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .id {
    font-size: 1.5rem;
  }
}
</style>
