<template>
  <div v-if="ephemeralStore.showLUTDesc && mode === 'help'">
    <q-icon name="help" class="cursor-pointer" @click="helpAlert = !helpAlert"/>
    <q-dialog v-model="helpAlert">
      <q-card>
        <q-card-section>
          <component
            v-if="fileName !== null"
            :is="fileName"
            :fieldName="fieldName"
            :rowDataKey="rowDataKey"
          >
          </component>
          <p
            v-else-if="overrideTextOnly !== null"
          >
            {{ overrideTextOnly }}
          </p>
          <p
            v-else
          >
            Info button missing input
          </p>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
  <div v-else-if="ephemeralStore.showLUTDesc && mode === 'info'">
    <q-icon name="info" class="cursor-pointer" @click="infoAlert = !infoAlert"/>
    <q-dialog v-model="infoAlert">
      <q-card>
        <q-card-section>
          <h6 class="q-ma-none">Summary of values and definitions for LUT {{ this.config?.label?.replaceAll('*', '')?.trim() }}</h6>
        </q-card-section>
        <q-card-section>
          <!-- TODO filter on 'other' fields (e.g., 'state' in lut-bioregion) -->
          <q-input
            label="Filter table"
            v-model="filterInput"
          />
        </q-card-section>
        <q-card-section>
          <!-- TODO add checkboxes to show/hide certain columns (like `GrowthStage` help button).  -->
          <q-table
            :rows="infoButtonLutTableData()"
            :rows-per-page-options="[10, 20, 30, 40, 50, 0]"
            row-key="symbol"
            wrap-cells
            dense
            :filter="filterInput"
          />
        </q-card-section>
        <q-card-actions>
          <q-btn
            flat
            label="Close"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import components from '../components/helpInfo/index'
import {
  paratooErrorHandler,
  paratooWarnMessage,
  prettyFormatFieldName
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import {
  potentialOtherValues
} from 'src/misc/constants'
import { useEphemeralStore } from '../stores/ephemeral'

export default {
  props: {
    fileName: {
      type: String,
      required: false,
      default: null,
    },
    fieldName: {
      type: String,
    },
    overrideTextOnly: {
      type: String,
      default: null,
    },
    rowDataKey: {
      type: String,
    },
    /**
     * generally the `curr` config object from Crud (i.e., keys 'label', 'optionsKey',
     * etc.), but can also be the wrapper config of a custom LUT (i.e., keys 'select',
     * 'input'), where 'select' contains the 'label', 'optionsKey', etc.
     */
    config: {
      type: Object,
      required: false,
      default: () => {}
    },
    mode: {
      //see `validModes`
      type: String,
      required: true,
    },
    isCustomLut: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  components: {
    ...components
  },
  mounted() {
    this.handleModeError()
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    return {
      apiModelsStore,
      ephemeralStore,
    }
  },
  data() {
    return {
      helpAlert: false,
      infoAlert: false,
      validModes: [
        'info',
        'help',
      ],
      filterInput: null,
    }
  },
  methods: {
    handleModeError() {
      if (!this.validModes.some(mode => mode === this.mode)) {
        paratooErrorHandler(`Programmer error - invalid mode for field '${this.fieldName}'`, new Error(
          `Info button mode must be one of: ${this.validModes.join(', ')}`
        ))
      }
    },
    infoButtonLutTableData() {
      if (!this.parsedConfig) {
        paratooErrorHandler('Programmer error - missing config for info button',
          new Error('Config prop must be passed to InfoButtonForInputs.vue')
        )
        return []
      }
      let lutData = this.apiModelsStore.cachedModel({
        modelName: this.parsedConfig.optionsKey,
      })

      if (this.isCustomLut) {
        lutData = lutData.filter(l => !potentialOtherValues.includes(l.label.toLowerCase()))
      }

      const baseLutFields = [
        'id',
        'symbol',
        'label',
        'description',
        'uri',
      ]

      //TODO add toggle to table to show/hide columns (but only when we have added other fields, not base LUTs with just symbol/label/description)
      let hasSortOrder = false
      const otherLutFields = []
      for (const data of lutData) {
        const currDataKeys = Object.keys(data)
        for (const key of currDataKeys) {
          if (
            key !== 'sort_order' &&
            !baseLutFields.includes(key) &&
            !otherLutFields.includes(key)
          ) {
            otherLutFields.push(key)
          }
          if (key === 'sort_order') hasSortOrder = true
        }
      }
      if (hasSortOrder) {
        lutData = lutData.sort((a, b) => a.sort_order - b.sort_order)        
      }

      const symbolAndLabelAreSame = lutData.every(l => l.symbol === l.label)

      return lutData.map(o => {
        let base = {}
        if (symbolAndLabelAreSame) {
          base['symbol/label'] = o.label
        } else {
          base.symbol = o.symbol
          base.label = o.label
        }
        base.definition = o.description

        if (otherLutFields.length > 0) {
          for (const field of otherLutFields) {
            if (o?.[field]) {
              if (
                Array.isArray(o[field]) &&
                o[field].some(f => f?.symbol && f?.label)
              ) {
                //LUT has a 1..* relation to another LUT
                base[prettyFormatFieldName(field)] = o[field]
                  .map(
                    f => this.parseLutRowRelation(f)
                  )
                  .join(', ')
              } else if (o[field]?.symbol && o[field]?.label) {
                //LUT has a 1..* relation to another LUT
                base[prettyFormatFieldName(field)] = this.parseLutRowRelation(o[field])
              } else if (typeof o[field] === 'string') {
                base[prettyFormatFieldName(field)] = o[field]
              } else {
                paratooWarnMessage(`Unhandled type of LUT field '${field}' in info button for field '${this.fieldName}'`)
              }
            } else {
              //LUTs that have relations to other LUTs don't always have data defined
              base[prettyFormatFieldName(field)] = 'n/a'
            }
          }
        }

        return base
      })
    },
    parseLutRowRelation(row) {
      let base = row.label
      if (row.symbol !== row.label) {
        //don't duplicate if the symbol/label are the same.
        //this shouldn't really happen, as it means the LUT isn't well-configured, but
        //it's still bad UX to show
        base += ` (${row.symbol})`
      }
      return base
    },
  },
  computed: {
    parsedConfig() {
      if (this.isCustomLut) {
        return this.config.select
      }

      return this.config
    },
  },
}
</script>
