<template>
  <div>
    <paratoo-api-model-crud-ui
      id="interventions"
      ref="crud"
      :fields="modelConfig.fields"
      :title="'Interventions'"
      :hide-title="true"
      submit-btn-label="Save Intervention"
      add-btn-label="Add Intervention"
      :user-coords="userCoords"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="false"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from '../stores/ephemeral'

export default {
  inject: ['doc'],
  name: 'Intervention',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    return {
      apiModelsStore,
      ephemeralStore,
    }
  },
  data() {
    const rawModelConfig = makeModelConfig(
      'interventions',
      this.doc,
      this.protocolId,
    )

    let modelConfig = { ...rawModelConfig }
    const hideDefault = [
      'weight_of_debris_removed',
      'erosion_control_structures',
      'activity_type',
      'newly_established_or_maintained',
      'control_type',
      'species',
      'number_of_structures_installed',
      'control_objective',
      'pest_control_type',
      'individuals_or_group',
      'location_type',
      'number_of_pests_destroyed',
      'treatment_objective',
      'debris_removal_type',
      'erosion_treatment_type',
      'number_of_breeding_sites_created',
      'number_of_groups_or_individuals_in_breeding_program',
      'number_of_individuals_released_or_established_in_the_wild',
      'breeding_program_technique',
      'fire_management_type',
      'habitat_augmentation_type',
      'number_of_treatments',
      'treatment_management_type',
      'hydrological_treatment_objective',
      'treatment_type',
      'management_method_or_treatment_objective',
      'remediation_type',
      'industry_type',
      'action_type',
      'Threatened_ecological_community',
      'target_species',
      'number_of_seedlings_planted_per_species',
      'number_of_days_collecting_seed',
      'objective_of_revegetation_activity',
      'planting_method',
      'target_weed_species',
      'number_of_days_maintaining_feral_free_enclosures',
      'number_of_individuals_or_groups_protected',
      'number_of_days_spent_preparing_sites',
      'aim_of_site_preparation',
      'number_of_interventions',
      'intervention_goal',
      'targeted_individuals',
      'time_of_intervention',
    ]

    for (const field of hideDefault) {
      modelConfig.fields[field].hidden = true
    }
    const conditionalFields = [
      {
        field: 'activity_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: [
          'CPA',
          'DR',
          'EM',
          'IFM',
          'HA',
          'IHR',
          'MD',
          'RRAA',
          'RH',
          'SP',
          'UEI',
        ],
      },
      {
        field: 'location_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EM', 'IFM', 'HA', 'IHR', 'MD', 'RH'],
      },
      {
        field: 'newly_established_or_maintained',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EMF', 'EMB'],
      },
      {
        field: 'species',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['RH'],
      },
      {
        field: 'control_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['CA'],
      },
      {
        field: 'number_of_structures_installed',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['CA', 'RRAA', 'HA'],
      },
      {
        field: 'control_objective',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['CA'],
      },
      {
        field: 'pest_control_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['CPA'],
      },
      {
        field: 'individuals_or_group',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['CPA', 'EMF'],
      },
      {
        field: 'number_of_pests_destroyed',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['CPA'],
      },
      {
        field: 'treatment_objective',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['CPA', 'RW', 'EM'],
      },
      {
        field: 'target_species',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['CPA', 'EMF', 'UEI'],
      },
      {
        field: 'debris_removal_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['DR'],
      },
      {
        field: 'weight_of_debris_removed',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['DR'],
      },
      {
        field: 'erosion_control_structures',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EM'],
      },
      {
        field: 'erosion_treatment_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EM'],
      },
      {
        field: 'number_of_breeding_sites_created',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EMB'],
      },
      {
        field: 'breeding_program_technique',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EMB'],
      },
      {
        field: 'number_of_groups_or_individuals_in_breeding_program',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EMB'],
      },
      {
        field: 'number_of_individuals_released_or_established_in_the_wild',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EMB'],
      },
      {
        field: 'fire_management_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['IFM'],
      },
      {
        field: 'habitat_augmentation_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['HA'],
      },
      {
        field: 'number_of_treatments',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['IHR'],
      },
      {
        field: 'treatment_management_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['IHR'],
      },
      {
        field: 'hydrological_treatment_objective',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['IHR'],
      },
      {
        field: 'treatment_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['MD'],
      },
      {
        field: 'management_method_or_treatment_objective',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['MD'],
      },
      {
        field: 'remediation_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['RRAA'],
      },
      {
        field: 'Threatened_ecological_community',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['RW', 'RH', 'SP', 'EM'],
      },
      {
        field: 'number_of_seedlings_planted_per_species',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['RH'],
      },
      {
        field: 'number_of_days_collecting_seed',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EM'],
      },
      {
        field: 'planting_method',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['RH'],
      },
      {
        field: 'objective_of_revegetation_activity',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['RH'],
      },
      {
        field: 'industry_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['SP'],
      },
      {
        field: 'number_of_days_spent_preparing_sites',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['SP'],
      },
      {
        field: 'aim_of_site_preparation',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['SP'],
      },
      {
        field: 'action_type',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['SP', 'RW'],
      },
      {
        field: 'target_weed_species',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['RW'],
      },
      {
        field: 'number_of_days_maintaining_feral_free_enclosures',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EMF'],
      },
      {
        field: 'number_of_individuals_or_groups_protected',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['EMF'],
      },
      {
        field: 'number_of_interventions',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['UEI'],
      },
      {
        field: 'intervention_goal',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['UEI'],
      },
      {
        field: 'targeted_individuals',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['UEI'],
      },
      {
        field: 'time_of_intervention',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['UEI'],
      },
      {
        field: 'type_of_structures_installed',
        dependsOn: 'intervention_type',
        dependsOnSelection: ['RRAA'],
      },
    ]

    modelConfig.fields.intervention_points.type = 'intervention_map'

    return {
      modelConfig: modelConfig,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
}
</script>
