<!-- FIXME clean up code for dynamic width of elements -->

<template>
  <q-card v-if="isValidUserCoords()">
    <q-card-section padding style="min-height: 550px">
      <q-card style="flex: 1">
        <l-map
        v-if="mapIsReady"
        :style="isMobileDevice ? 'height: 350px; width: 100%' : 'height: 600px; width: 100%'"
        ref="map"
        data-cy="interventionsMap"
        v-model:zoom="customZoom"
        :minzoom="3"
        :maxZoom="19"
        v-model:center="customCenter">
          <l-tile-layer :url="url" :attribution="attribution" />
          <l-control-scale
            position="bottomright"
            :imperial="true"
            :metric="true"
          />
          <l-control position="bottomright">
            <q-btn icon="my_location" @click="backToCurrentLocation" />
          </l-control>
          <!-- if marked points found -->
          <div v-if="points.length > 0">
            <l-marker
              v-for="(point, index) in points"
              :key="index"
              :icon="redIcon"
              :lat-lng="[point.lat, point.lng]"
              :draggable="true"
              :name="index.toString()"
              @dragend="onDragEnd"
            >
              <l-tooltip>
                <div>{{ markerTitle(index) }}</div>
              </l-tooltip>
            </l-marker>
          </div>
          <!-- draw polygon -->
          <div v-if="this.points.length > 0">
            <l-polygon 
              :lat-lngs="[this.points]"
              :color="'yellow'"
              :opacity="1"
              :fill="true"
              :fill-opacity="0.3"
              :fill-color="'#3388ff'"
            >
            </l-polygon>
          </div>
          <div v-for="(intervention, index) in otherInterventions" :key="index">
            <l-polygon 
              v-if="showOtherIntervention[index]"
              :lat-lngs="[intervention.intervention_points.points]"
              :color="'green'"
              :opacity="1"
              :fill="true"
              :fill-opacity="0.3"
              :fill-color="'#3388ff'"
            >
              <l-tooltip>
                  <div>{{intervention.intervention_id}}</div>
                </l-tooltip>
            </l-polygon>
          </div>
          <!-- current location to save as new point -->
          <div v-if="!recordDone">
            <l-marker :lat-lng="userCoords">
              <l-tooltip>
                <div>current Location</div>
              </l-tooltip>
            </l-marker>
          </div>
        </l-map>
        <q-card-section>
            <p v-if="otherInterventions.length" class="q-my-none">
              Tick on checkboxes to show the associated intervention
            </p>
            <q-checkbox
              v-for="(intervention, index) in otherInterventions"
              :key="index"
              :label="intervention.intervention_id"
              v-model="showOtherIntervention[index]"
            />
          </q-card-section>
      </q-card>
    </q-card-section>
    <q-card style="margin-top: 1em">
      <p>{{ generateInfo() }}</p>
      
      <div v-if="!recordStart && !recordDone">
        <q-btn
          label="Start Recording Corner"
          :disable="recordDone"
          color="black"
          data-cy="startRecordingCorner"
          @click="startRecording"
        />
      </div>
      <div v-else-if="recordStart && !recordDone">
        <q-btn
          label="Add Point"
          :disable="recordDone"
          color="black"
          data-cy="addPoint"
          @click="addPoint"
        />
        <q-btn
          label="Finish Sketch"
          :disable="recordDone"
          color="black"
          data-cy="finishSketch"
          @click="addLastPoint"
        />
      </div>
    </q-card>
    <div style="margin-top: 2em">
        <p data-cy="polygonArea" style="color:orange">Area (ha): {{ generateArea() }}</p>
    </div>
    <div v-if="this.points.length > 0" class="q-pa-md">
      <q-markup-table>
        <thead>
          <tr>
            <th id="colName">Points</th>
            <th id="colName">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(point, index) in points" :key="index">
            <td>point {{ index + 1 }}</td>
            <td>
              <q-btn
                color="negative"
                icon-right="delete"
                no-caps
                flat
                dense
                @click="removePoint(index)"
              />
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
  </q-card>
  <div v-else><h4>Waiting for GPS...</h4></div>
</template>
<script>
import * as L from 'leaflet/dist/leaflet-src.esm'
import 'leaflet/dist/leaflet.css'
import _ from 'lodash'
import { notifyHandler,
  assignValidUserCoords,
  isValidUserCoords,
  calculateAreaInHectare,
   } from 'src/misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
import {
  LMap,
  LTileLayer,
  LMarker,
  LTooltip,
  LPolygon,
  LControl,
  LControlScale
} from 'vue-leaflet/src/components'
import { computed } from 'vue'
export default {
  name: 'InterventionMap',
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
    LControl,
    LPolygon,
    LControlScale
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
    },
    // various variables used by ApiModelCrudUi map component
    zoom: {
      type: Number,
      required: false,
      default: 1,
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    protocolId: {
      type: Number,
      required: true
    },
    interventionId: {
      type: [String, null]
    }
  },
  data() {
    return {
      mapIsReady: false,
      redIcon: new L.Icon({
        iconUrl: require('../assets/markers/marker-icon-red.png'),
        shadowUrl: require('../assets/markers/marker-shadow.png'),
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41],
      }),
      points: [],
      area: 0,
      customPoints: [],
      randomPointsForDev: [],

      customZoom: 17,
      customCenter: assignValidUserCoords(this.userCoords),
      recordDone: false,
      recordStart: false,
      showOtherIntervention : this.otherInterventions.map(() => false)
    }
  },
  computed: {
    newRecord: {
      get() {
        if (!this.modelValue) return {}
        return this.modelValue
      },
      set(e) {
        this.$emit('update:modelValue', e)
      },
    },
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
  setup(props) {
    const {collectionGetForProt} = useBulkStore()
    const savedIntervention = collectionGetForProt({protId: props.protocolId})?.interventions || []
    const otherInterventions = computed(() => savedIntervention.filter(i => i.intervention_id !== props.interventionId)) 
    return { otherInterventions }
  },
  async beforeMount() {
    // the markers want to be removed after 
    //   the map is unmounted if we use v-for with l-markers.
    // a simple hack to avoid the error "blueprint.leafletRef.remove is not a function"
    //   we enable map component here
    // it can be revisited
    // eslint-disable-next-line 
    const { LeafletMap } = await import("leaflet/dist/leaflet-src.esm")
    console.log('Intervention map is ready')
    this.mapIsReady = true
  },
  mounted() {
    // set marker if there's points already stored in newRecord
    this.$nextTick(() => {
      if (this.newRecord.points) {
        console.log('Intervention newRecord ' + JSON.stringify(this.newRecord))
        this.points = this.newRecord.points
        this.area = this.newRecord.area
        this.recordDone = this.newRecord.points.length > 2 ? true : false
      }
    })
  },
  methods: {
    isValidUserCoords() {
      return isValidUserCoords(this.userCoords)
    },
    onDragEnd(e) {
      const index = parseInt(e.target.options.name)
      let latLng = e.target.getLatLng()

      // new position of the point to reload polygon
      console.log(
        'after dragging point ' +
          index +
          ' lat: ' +
          latLng.lat +
          ' lng: ' +
          latLng.lng,
      )

      // in DragEnd event listener, updating whole object doest work
      // Ex. this.points[index] = { lat: latLng.lat, lng: latLng.lng }
      // creates null latLngToLayerPoint error
      // see https://github.com/Leaflet/Leaflet/issues/8270
      // but updating items seem working
      this.points[index].lat = latLng.lat
      this.points[index].lng = latLng.lng
    },
    startRecording() {
      this.recordStart = true
    },
    addPoint() {
      // set current location as a new point
      this.insertPoint(_.cloneDeep(this.userCoords))
    },
    addLastPoint() {
      // set current location as a last point
      if (!this.insertPoint(_.cloneDeep(this.userCoords))) return

      // set flags
      this.recordDone = true
      this.recordStart = false
    },
    insertPoint(point) {
      // check whether the point is already added or not
      const index = this.points.findIndex(
          (x) => JSON.stringify(point) === JSON.stringify(x),
        )

      if (index != -1) {
        notifyHandler(
          'negative',
          `Position must be new, change your current location or drag point ${index + 1} marker to a different place`,
        )
        return false
      }

      // update record
      this.points.push(point)
      this.updateRecord()
      return true
    },
    markerTitle(index) {
      return 'point ' + (index + 1)
    },
    generateInfo() {
      return this.points.length > 0
        ? 'Points are draggable. Use mouse to change the position of the markers to edit the polygon. Add at least 3 points to calculate the area of the polygon'
        : 'Start recording to add points. Add at least 3 points to calculate the area of the polygon.'
    },
    generateArea() {
      // if less than 3 points
      let newArea = 0
      if (this.points.length > 2) {
        newArea = calculateAreaInHectare(_.cloneDeep(this.points)).toFixed(2)
      }

      // if new area
      if (newArea != this.area) {
        this.area = newArea
        this.updateRecord()
      }
      return this.area
    },
    backToCurrentLocation() {
      this.customZoom = 17
      this.customCenter = _.cloneDeep(this.userCoords)
    },
    updateRecord() {
      this.newRecord = {
        points: this.points,
        area: parseFloat(this.area)
      }
    },
    removePoint(index) {
      this.points.splice(index, 1)
      // update record
      this.updateRecord()
    },
  },
}
</script>
