<!--  TODO: UI needs to be more resilient when GPS unavailable
But should still show location if already recorded
Possible remove option to select "Current Location" radio button -->

<template>
  <div :data-cy="model">
    <!-- hide map if GPS unavailable, and trying to use current location, and no
    location already recorded -->
    <div class="text-subtitle1 tablet">{{ title }}</div>
    <q-chip
      v-if="recordLocationOutOfBounds"
      class="bg-warning text-black text-bold dense"
      style="height: min-content"
      data-cy="recordedLocationOutOfBoundsWarning"
    >
      <div style="white-space: wrap">
        {{
          projectArea?.length
            ? `Warning: Your recorded location is outside of ${recordLocationOutOfBounds}`
            : noProjectAreaMessage
        }}
      </div>
    </q-chip>
    <p class="tablet" v-if="isValidModelValue()" data-cy="usingCoords">
      Using lat: {{ modelValue.lat.toFixed(4) }}, lng:
      {{ modelValue.lng.toFixed(4) }}
    </p>
    <p v-else-if="initializeToCurrent">
      Auto recording your location
      <q-spinner color="primary" />
      <br />
      <br />
      Or
    </p>
      <q-btn
        outline
        data-cy="choosePosition"
        @click="showFull = true"
        :disable="disable"
      >
        {{ buttonLabel !== null ? buttonLabel : 'Choose on map' }}
      </q-btn>
    <q-dialog v-model="showFull" persistent>
      <q-card style="min-width: 90%">
        <q-card-section data-cy="latLngPickerDialogSection">
          <div v-if="captureMethod === 'dragMap' || isValidUserCoords()">
            <l-map
              class="mapHeight"
              ref="map"
              :center="customCenter"
              :zoom="customZoom"
              :maxZoom="19"
              :minZoom="3"
              @move="dropMarker"
            >
              <l-tile-layer :url="url" :attribution="attribution" />
              <l-control-scale
                position="bottomright"
                :metric="true"
                :imperial="false"
              />
              <l-control position="topright">
                <q-card style="opacity: 80%" flat>
                  <q-expansion-item label="Legend" flat dense>
                    <q-card-section class="row q-pa-xs">
                      <div class="col-3 center">
                        <q-img
                          class="q-ma-auto"
                          src="/icons/marker.png"
                          style="width: 1rem; max-width: 1rem"
                        />
                      </div>
                      <div class="col-8 text-right">
                        Drag this pin to choose location on map
                      </div>
                    </q-card-section>
                    <q-card-section class="row q-pa-xs">
                      <div class="col-3 center">
                        <div class="blue-dot" />
                      </div>
                      <div class="col-8 text-right">Current location</div>
                    </q-card-section>
                    <q-card-section class="row q-pa-xs q-pb-sm">
                      <div class="col-3 center">
                        <div class="red-dot" />
                      </div>
                      <div class="col-8 text-right">Marked location</div>
                    </q-card-section>
                    <q-card-section class="row q-pa-xs q-pb-sm">
                      <div class="col-3 center">
                        <div class="yellow-line" />
                      </div>
                      <div class="col-8 text-right">Project area</div>
                    </q-card-section>
                  </q-expansion-item>
                </q-card>
              </l-control>
              <l-marker
                v-if="isValidUserCoords()"
                :lat-lng="userCoords || { lat: 0, lng: 0 }"
              >
                <l-icon icon-url="/icons/bluedot.svg" :icon-size="[16, 16]" />
                <l-tooltip>
                  <div>Current Location</div>
                </l-tooltip>
              </l-marker>
              <l-control position="bottomleft">
                <q-btn
                  v-if="projectArea?.length"
                  style="opacity: 50%"
                  label="project"
                  dense
                  color="black"
                  @click="
                   backToLocation({
                      lat: projectArea[0][1],
                      lng: projectArea[0][0],
                    })
                  "
                />
                <q-btn
                  v-if="corePlot?.latLngs"
                  style="opacity: 50%"
                  label="Plot"
                  color="black"
                  dense
                  @click="backToLocation(corePlot.latLngs[0])"
                />
                <q-btn
                  v-if="isValidUserCoords()"
                  style="opacity: 50%"
                  data-cy="backToCurrentLocation"
                  icon="my_location"
                  color="black"
                  dense
                  @click="backToLocation(userCoords)"
                />
              </l-control>
              <!-- draggable marker -->
              <l-marker
                v-if="captureMethod === 'dragMap'"
                :lat-lng="dragMarkerLoc || { lat: -34.936075, lng: 138.617835 }"
              >
                <l-tooltip>Drag Marker</l-tooltip>
              </l-marker>

              <!-- indication of where manual entry marker is -->
              <l-marker
                v-if="captureMethod === 'manualCoords'"
                :lat-lng="manualEntry"
              >
                <l-tooltip>Manually set position</l-tooltip>
              </l-marker>

              <!-- Indication of where recorded point is -->
              <l-circle-marker
                v-if="isValidModelValue()"
                :lat-lng="modelValue"
                :weight="8"
                color="red"
                ><l-tooltip>Recorded Point</l-tooltip></l-circle-marker
              >
              <template v-if="showCorePlot && corePlot?.latLngs">
                <l-polygon
                  v-if="corePlot"
                  :lat-lngs="corePlot.latLngs"
                  :color="corePlot.color"
                />
                <l-circle-marker
                  v-for="point of corePlot.latLngs"
                  :key="point.id"
                  :lat-lng="point"
                  :color="'yellow'"
                  :weight="8"
                >
                  <l-tooltip ref="points" :content="point.name.symbol" />
                </l-circle-marker>
              </template>
              <template v-if="showFaunaPlot && faunaPlot.latLngs">
                <l-polygon
                  v-if="faunaPlot"
                  :lat-lngs="faunaPlot.latLngs"
                  :color="faunaPlot.color"
                />
                <l-circle-marker
                  v-for="point of faunaPlot.latLngs"
                  :key="point.id"
                  :lat-lng="point"
                  :color="'yellow'"
                  :weight="8"
                >
                  <l-tooltip ref="points" :content="point.name.symbol" />
                </l-circle-marker>
              </template>

              <template
                v-if="
                  rowDataKey === 'plot-selection' && ephemeralStore.projectArea
                "
              >
                <l-polygon
                  v-for="area of ephemeralStore.projectArea"
                  :key="area"
                  :lat-lngs="area"
                  color="salmon"
                />
              </template>

              <l-circle
                v-if="circleBorder"
                color="blue"
                :lat-lng="
                  selectedPlot === 'C'
                    ? corePlot.centerCoords
                    : faunaPlot.centerCoords
                "
                :radius="circleBorderRadius"
              />
              <l-polygon
                v-if='projectArea?.length'
                :lat-lngs="projectArea.map((coord) => [coord[1], coord[0]]) /** projectArea is an array of lng lat, so we need to reverse */"
                color="yellow"
              />
            </l-map>
            <div class="q-pt-sm">
              <q-checkbox
                v-if="
                  corePlot?.latLngs?.length && rowDataKey !== 'plot-selection'
                "
                class="q-mr-lg"
                label="Core monitor plot"
                v-model="showCorePlot"
              />
              <q-checkbox
                v-if="
                  faunaPlot?.latLngs?.length && rowDataKey !== 'plot-selection'
                "
                class="q-mr-lg"
                label="Fauna plot"
                v-model="showFaunaPlot"
              />
            </div>
          </div>
          <div v-else><h4 data-cy="waitForGPS">Waiting for GPS...</h4></div>

          <input
            data-cy="currentLocation"
            id="currentLocation"
            v-model="captureMethod"
            type="radio"
            value="currentLocation"
            :disabled='!isValidUserCoords()'
          />
          <label for="currentLocation"
            >Current Location
            {{
              userCoords && userCoords.lat && userCoords.lng
                ? `(Lat: ${userCoords.lat}, Long: ${userCoords.lng})`
                : '(GPS unavailable)'
            }}</label
          >
          <br />
          <input
            id="dragMap"
            v-model="captureMethod"
            type="radio"
            value="dragMap"
          />
          <label for="dragMap"
            >Choose on Map
            {{
              captureMethod === 'dragMap'
                ? `(Lat: ${dragMarkerLoc.lat.toFixed(
                    6,
                  )}, Long: ${dragMarkerLoc.lng.toFixed(6)})`
                : ''
            }}
          </label>
          <br />
          <input
            id="manualCoords"
            v-model="captureMethod"
            type="radio"
            value="manualCoords"
            data-cy="manualCoords"
          />
          <label for="manualCoords">Enter Specific Coordinates</label>
          <br />
          <!-- Manual LatLng input -->
          <div v-if="captureMethod === 'manualCoords'">
            <q-banner class='bg-yellow text-black q-py-none' data-cy="manualCoordsWarning">
              Warning! Please note that this will overwrite the current
              location. Any incorrect location may not be detected by the app
              and could be irreversible.
            </q-banner>
            <q-input
              v-model.number="manualEntryLat"
              label="Latitude"
              type="number"
              data-cy="Latitude"
            />
            <q-input
              v-model.number="manualEntryLng"
              label="Longitude"
              type="number"
              data-cy="Longitude"
            />
          </div>
          <q-card-actions align="right">
            <q-btn flat label="Cancel" v-close-popup />
            <q-btn
              data-cy="recordLocation"
              label="Record Location"
              color="primary"
              @click="setCurrentPoint"
            />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import * as L from 'leaflet/dist/leaflet-src.esm'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { useApiModelsStore } from 'src/stores/apiModels'
import {
  LMap,
  LTileLayer,
  LMarker,
  LTooltip,
  LCircleMarker,
  LControl,
  LPolygon,
  LCircle,
  LControlScale,
  LIcon,
} from 'vue-leaflet/src/components'
import 'leaflet/dist/leaflet.css'
import {
  paratooErrorHandler,
  notifyHandler,
  assignValidUserCoords,
  isValidUserCoords,
  insideProjectBoundary,
  projAreaTermMap,
  findValForKey,
  getProjectAreaFromContext,
  promiseDialog,
} from '../misc/helpers'
import { enableOIDC, australiaOutline } from 'src/misc/constants'
import { useBulkStore } from 'src/stores/bulk'
import { cloneDeep } from 'lodash'
import {
  point as turfPoint,
  polygon as turfPolygon,
  booleanContains,
} from '@turf/turf'
import { isEqual } from 'lodash'

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
    LCircleMarker,
    LControl,
    LPolygon,
    LCircle,
    LControlScale,
    LIcon,
  },
  props: {
    model: {
      type: String,
    },
    // v-model value
    modelValue: {
      type: Object,
      required: false,
      default: null,
    },
    // various variables used by ApiModelCrudUi map component
    zoom: {
      type: Number,
      required: false,
      default: 13,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
      // default: 'https___b.tiles.mapbox.com_v4_mapbox.satellite_{z}_{x}_{y}.jpg_access_token=pk.eyJ1IjoidG9rbWFrb2ZmIiwiYSI6ImNsZHY4bXRnZDA1NGgzcG8zam9hNW94YjMifQ.IMxMlbc2fPTzMc-bDKBtDQ.png'
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    center: {
      type: Object,
      required: false,
      default: L.latLng(-25.165173, 133.941743),
    },
    // Upon load, use current coordinates if available
    initializeToCurrent: {
      type: Boolean,
      default: true,
    },
    title: {
      type: String,
      required: true,
    },
    buttonLabel: {
      type: String,
      required: false,
      default: 'Choose on map',
    },
    circleBorder: {
      type: Boolean,
      default: false,
    },
    circleBorderRadius: {
      type: Number,
      default: 500,
    },
    selectedPlot: {
      type: String,
      default: 'C',
    },
    rowDataKey: {
      required: false,
    },
    disable: {
      type: Boolean,
      default: false,
    },
    protocolId: {
      type: Number,
      required: false,
    },
  },
  setup(props) {
    const ephemeralStore = useEphemeralStore()
    const { plotLayoutPoints, cachedModel } = useApiModelsStore()
    const bulkStore = useBulkStore()

    let pointData = null
    if (props.protocolId) {
      const collectionData = bulkStore.collectionGetForProt({
        protId: props.protocolId,
      })
      pointData = cloneDeep(findValForKey(collectionData, 'plot-layout'))
      if (pointData?.id) {
        //must be existing plot layout, so need to resolve points
        pointData = cachedModel({
          modelName: 'plot-layout',
        })?.find((p) => p.id === pointData.id)
      }
    }
    const corePlot = plotLayoutPoints(
      'vegetation',
      null,
      ['SW', 'NW', 'NE', 'SE'],
      //grab from `bulkStore.collections` if doing fauna plot layout.
      //in this case, we might be getting reference point from lat/lng picker.
      //TODO also show the boundary that the fauna plot is allowed to be in, ("the outer bounds that the fauna plot can be in")
      props.rowDataKey === 'fauna_plot_point' && pointData ? pointData : null,
    )
    const faunaPlot =
      props.rowDataKey !== 'fauna_plot_point' ? plotLayoutPoints('fauna') : null
    return { ephemeralStore, corePlot, faunaPlot, australiaOutline }
  },
  data() {
    let customCenter
    if (isValidUserCoords(this.modelValue)) {
      customCenter = L.latLng(this.modelValue)
    } else if (isValidUserCoords(this.ephemeralStore.userCoords)) {
      customCenter = L.latLng(this.ephemeralStore.userCoords)
    } else customCenter = L.latLng({ lat: -34.930275, lng: 138.601455 })

    const projectArea = getProjectAreaFromContext(undefined, false)
    if (projectArea) {
      // turf polygon method require first and last point to be equivalent
      if (!isEqual(projectArea[0], projectArea.at(-1))) {
        projectArea.push(projectArea[0])
      }
    }
    return {
      projectArea,
      captureMethod: this.initializeToCurrent ? 'currentLocation' : 'dragMap',
      dragMarkerLocPos: null,
      useTheseCoords: null,
      manualEntry: {
        lat: 0,
        lng: 0,
      },
      showFull: false,
      customZoom: this.zoom,

      // if userCoords are null we use manualEntry
      customCenter,
      showCorePlot: this.corePlot?.latLngs && true,
      showFaunaPlot: false,
      noProjectAreaMessage: `Your project currently does not have a predefined "${projAreaTermMap()}". Please note that without this, we cannot verify the accuracy of the recorded location. Please contact you project admin if you are not aware of this.`
    }
  },
  computed: {
    userCoords() {
      console.debug('store coords', this.ephemeralStore.userCoords)
      return this.ephemeralStore.userCoords
    },
    recordLocationOutOfBounds() {
      if (!isValidUserCoords(this.modelValue)) {
        return false
      }
      const australiaArea = australiaOutline.map((point) => [
        point.lng,
        point.lat,
      ])
      const inAustralia = this.checkRecordedLocation(
        this.modelValue,
        australiaArea,
      )
      if (!inAustralia) return 'Australia'
      if(!this.projectArea) return 'no project area'
      const inProjectArea = this.checkRecordedLocation(
        this.modelValue,
        this.projectArea,
      )
      if (!inProjectArea) return 'project area'

      return false
    },
    dragMarkerLoc: {
      get() {
        return assignValidUserCoords(this.dragMarkerLocPos)
      },
      set(val) {
        this.dragMarkerLocPos = val
      },
    },
    // We separate the lat/lng out because we can't detect nested value changes
    manualEntryLat: {
      get() {
        return (this.manualEntry || {}).lat
      },
      set(val) {
        const value = parseFloat(val)
        if (value || value === 0) this.manualEntry.lat = value
      },
    },
    manualEntryLng: {
      get() {
        return (this.manualEntry || {}).lng
      },
      set(val) {
        const value = parseFloat(val)
        if (value || value === 0) this.manualEntry.lng = value
      },
    },
  },
  watch: {
    userCoords(val) {
      // if we need to default to current location, use the first time the GPS is detected
      if (this.initializeToCurrent && !this.modelValue && val) {
        this.recordLocation(this.userCoords.lat, this.userCoords.lng)
      }
    },
    modelValue(val) {
      if (
        this.initializeToCurrent &&
        !val &&
        this.isValidUserCoords(this.userCoords)
      ) {
        this.recordLocation(this.userCoords.lat, this.userCoords.lng)
      }
    },
  },
  async mounted() {
    // function in this method seem like trigged when created not mounted
    // so use nextTick to wait until this component is mounted
    await this.$nextTick()
    // update model with user current coordiate
    if (!this.modelValue && this.initializeToCurrent) {
      setTimeout(() => {
        this.$emit('update:modelValue', this.userCoords)
      }, 500)
    }
  },
  methods: {
    isValidUserCoords(coordinates = null) {
      if (!coordinates) return isValidUserCoords(this.userCoords)
      return isValidUserCoords(coordinates)
    },
    isValidModelValue() {
      return isValidUserCoords(this.modelValue)
    },
    backToCurrentLocation() {
      // this.customZoom = 13
      // this.customCenter = assignValidUserCoords(this.userCoords)
      this.$refs.map.leafletObject.flyTo(this.userCoords, 19, { duration: 1 })
    },
    backToLocation(coords) {
      this.$refs.map.leafletObject.flyTo(coords, 17, { duration: 1 })
    },
    dropMarker(event) {
      const coords = event.target.getCenter()
      this.dragMarkerLoc = coords
    },
    recordLocation(lat, lng) {
      const saveCoords = {
        lat: lat,
        lng: lng,
      }
      this.customCenter = L.latLng(lat, lng)

      if (this.rowDataKey === 'plot-selection') {
        const allInsideBoundary = this.ephemeralStore.projectArea.every(
          (area) => {
            const coordinates = area.map((point) => [point.lng, point.lat])
            return insideProjectBoundary([saveCoords], coordinates)
          },
        )
        if (!allInsideBoundary) {
          notifyHandler(
            'negative',
            `Recommended location is not in the ${projAreaTermMap(
              enableOIDC,
            )}! Please try another start point.`,
          )
        } else {
          this.$emit('update:modelValue', saveCoords)
          this.showFull = false
        }
      } else {
        this.$emit('update:modelValue', saveCoords)
        notifyHandler(
          'positive',
          `Successfully Recorded Location as ${JSON.stringify(saveCoords)}`,
        )
        this.showFull = false
      }
    },
    async setCurrentPoint() {
      try {
        const validCoords = assignValidUserCoords(this.userCoords)
        switch (this.captureMethod) {
          case 'currentLocation':
            this.useTheseCoords = {
              lat: validCoords.lat,
              lng: validCoords.lng,
            }
            break
          case 'dragMap':
            this.useTheseCoords = {
              lat: this.dragMarkerLoc.lat,
              lng: this.dragMarkerLoc.lng,
            }
            break
          case 'manualCoords':
            this.useTheseCoords = {
              lat: this.manualEntry.lat,
              lng: this.manualEntry.lng,
            }
            break

          default:
            paratooErrorHandler(
              `setCurrentPoint: switch fell through for captureMethod: ${this.captureMethod}`,
              new Error('Failed to set current point'),
            )
            break
        }
      } catch (error) {
        // FIXME - who throws "error"?  Is this unreachable code?
        paratooErrorHandler(
          `setCurrentPoint: coords couldn't be saved because they are not set correctly for method: ${this.captureMethod}`,
          error,
        )
        notifyHandler(
          'negative',
          `Invalid LatLong input: ${JSON.stringify(
            this.useTheseCoords,
            null,
            2,
          )}`,
        )
        throw error
      }
      // Ensure valid LatLng
      try {
        L.latLng(this.useTheseCoords.lat, this.useTheseCoords.lng)
      } catch (error) {
        notifyHandler(
          'negative',
          `Invalid LatLong input: ${JSON.stringify(
            this.useTheseCoords,
            null,
            2,
          )}`,
        )
        return
      }

      if (this.projectArea) {
        const inProjectArea = this.checkRecordedLocation(
          this.useTheseCoords,
          this.projectArea,
        )
        if (!inProjectArea) {
          const res = await promiseDialog({
            title: 'Warning! Location out of bounds',
            message:
              'Your selected location is outside of your project area. Are you sure you want to record it?',
            cancel: 'No',
            'no-focus': true,
          })
          if (!res) return
        }
      } else {
        const res = await promiseDialog({
            title: 'Warning! Cannot determine project area',
            message: this.noProjectAreaMessage,
            cancel: 'No',
            'no-focus': true,
          })
        if (!res) return
      }
      const australiaArea = australiaOutline.map((point) => [
        point.lng,
        point.lat,
      ])
      const inAustralia = this.checkRecordedLocation(
        this.useTheseCoords,
        australiaArea,
      )
      if (!inAustralia) {
        const res = await promiseDialog({
          title: 'Warning! Location out of bounds',
          message:
            'Your selected location is outside of Australia. Are you sure you want to record it?',
          cancel: 'No',
          'no-focus': true,
        })
        if (!res) return
      }

      this.recordLocation(this.useTheseCoords.lat, this.useTheseCoords.lng)
    },
    resetCaptureMethod() {
      this.captureMethod = 'currentLocation'
    },
    /**
     * check if the location is within an defined area
     * @param location - {lat, lng}
     * @param area - [{lat, lng}, ...]
     */
    checkRecordedLocation(location, area) {
      const point = turfPoint([location.lng, location.lat])
      const polygon = turfPolygon([area])
      const withinArea = booleanContains(polygon, point)
      return withinArea
    },
  },
}
</script>

<style scoped>
.mapHeight {
  min-height: 600px;
}
.blue-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}

.red-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
.yellow-line {
  width: 20px;
  height: 5px;
  /* border-radius: 50%; */
  background-color: yellow;
}

.center {
  display: grid;
  place-items: center;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px) {
  .mapHeight {
    min-height: 400px;
  }
  .tablet {
    font-size: 1.2em;
  }
}
</style>
