<template>
  <q-card
    bordered
    :data-cy="model"
  >
    Plot Name: <h5 data-cy="plotName">{{ plotName || 'XX X XXX XXXX' }}</h5>
    <crud
      ref="crud"
      :model-value="modelValue"
      :fields="fields"
      :excludeSubmitBtnFlag="true"
      title=""
      :current-prot-id="currentProtId"
      submit-btn-label="Confirm Name"
      @new-record-changed="setPlotName"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </q-card>
</template>

<script>
import { asyncCrud, serializePlotLocationName } from '../misc/helpers'
import {
  isEqual,
  find,
} from 'lodash'

export default {
  name: 'LocationNamePicker',
  components: {
    crud: asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    modelConfig: {
      type: Object,
      required: true,
    },
    currentProtId: {
      type: Number,
      required: true,
    },
    model: {
      type: String,
    }
  },
  data() {
    return {
      plotName: null,
      fields: this.modelConfig.fields,
    }
  },
  methods: {
    setPlotName({ newRecord, oldRecord }) {
      // cancel validation popups etc
      if (
        isEqual(newRecord, oldRecord) ||
        !newRecord ||
        typeof newRecord !== 'object'
      )
        return
      // bioregions are associated with states, (and have a list of them inside)
      // so we can just apply a filter because we also select a state here
      if (newRecord.state && newRecord.state.value) {
        this.fields['bioregion'].optionsFilter = (e) => {
          return find(e.states, (state) => {
            return state.symbol === newRecord.state.value
          })
        }
      }
      // cancel doing anything else if user hasn't entered everything
      // so that the user isn't spammed with validation messages (values default to null)
      // and we don't send invalid data to the store
      if (Object.values(newRecord).some(o => !o)) {
        return
      } else if (newRecord.unique_digits.length !== 4) {
        //they've input some of the digits, but not all - so don't want to validate yet
        return
      }

      let accPlotName = serializePlotLocationName(newRecord)

      if (this.$refs.crud.checkFormValid()) {
        this.plotName = accPlotName
        this.$refs.crud.onSubmitFunc()
      }
    },
  },
}
</script>
