<template>
  <div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfigs.fields"
      :row-data-key="modelConfigs.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="modelConfigs.currentProtId"
      :modelValue="modelValue"
      :user-coords="userCoords"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          if (
            e.spatial_information?.geographic_extent &&
            Object.keys(e.spatial_information.geographic_extent).length === 0
          ) {
            delete e.spatial_information.geographic_extent

            if (Object.keys(e.spatial_information).length === 0) {
              delete e.spatial_information
            }
          }
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>
<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import isEqual from 'lodash/isEqual'
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
} from '../misc/helpers'
export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: false,
    },
    userCoords: {
      required: false,
    },
  },

  setup() {
    const bulkStore = useBulkStore()
    const { cachedModel } = useApiModelsStore()

    return {
      cachedModel,
      bulkStore,
    }
  },

  data() {
    const modelConfigs = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )
    const collection = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })[this.rowDataKey]
    if (
      modelConfigs.fields.data_identification.modelConfig.fields.published_date
    ) {
      modelConfigs.fields.data_identification.modelConfig.fields.published_date.hidden = true
    }
    if (
      modelConfigs.fields.data_identification.modelConfig.fields
        .published_dataset_location
    ) {
      modelConfigs.fields.data_identification.modelConfig.fields.published_dataset_location.hidden = true
    }
    if (modelConfigs.fields.methods_summary.modelConfig.fields.trap_type) {
      modelConfigs.fields.methods_summary.modelConfig.fields.trap_type.hidden = true
    }
    const validateEmail = (value) =>
      /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(value) ||
      'Invalid email format'

    modelConfigs.fields.data_provider.modelConfig.fields.provider_email.rules.push(
      validateEmail,
    )

    modelConfigs.fields.data_provider.modelConfig.fields.submitter_contact_email.rules.push(
      validateEmail,
    )

    modelConfigs.fields.spatial_information.modelConfig.fields.geographic_extent.type =
      'geographic_extent'

    const map = {
      BW: ['Birds', 'Mammals', 'Reptiles', 'Frogs', 'Invertebrates'],
      BM: ['Birds', 'Mammals', 'Reptiles', 'Frogs', 'Invertebrates'],
      Height: ['VF', 'NF'],
      SW: ['VF', 'NF'],
      CW: ['VF', 'NF'],
      LOIRT: ['Birds', 'Mammals', 'Reptiles', 'Frogs', 'Invertebrates'],
      Observations: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
      Species: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
      COI: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
      MIINN: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
      CH: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
      RS: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
      AC: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
      SSC: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
      PT: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
      Other: [
        'VF',
        'NF',
        'Birds',
        'Mammals',
        'Reptiles',
        'Frogs',
        'Invertebrates',
      ],
    }

    const conditionalFields = [
      {
        field: 'published_date',
        dependsOn: 'published_status',
        dependsOnSelection: ['Published'],
      },
      {
        field: 'published_dataset_location',
        dependsOn: 'published_status',
        dependsOnSelection: ['Published'],
      },
      {
        field: 'trap_type',
        dependsOn: 'methods_employed',
        fieldCb: this.cb,
      },
    ]

    return {
      modelConfigs,
      collection,
      map,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    cb({ newVal, oldVal }) {
      if (isEqual(newVal, oldVal)) return
      if (newVal) {
        this.modelConfigs.fields.methods_summary.modelConfig.fields.trap_type.hidden =
          !newVal.methods_employed?.some((item) => item.lut === 'Trapping')
      }
    },
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>
