<template>
  <div>
    <q-select
      v-model="lutRecord"
      clearable
      :options="filteredOptions"
      :label="config.label"
      :rules="config.rules"
      :data-cy="config.model"
      :disable="config.disable"
      multiple
      use-chips
      :option-disable="(option) => option.disabled"
      :emit-value="getOptions ? true : false"
      map-options
      :hint="config.hint"
      hide-bottom-space
      use-input
      lazy-rules
      :input-debounce="100"
      @filter="filterFn"
      bottom-slots
    >
      <template #after>
        <InfoButtonForInputs
          v-if="config.description"
          :fileName="config.description"
          :mode="'help'"
        />
        <InfoButtonForInputs
          v-if="
            config?.modelConfig?.fields?.lut?.optionsKey?.startsWith('lut-')
          "
          :config="config.modelConfig.fields.lut"
          :mode="'info'"
        />
      </template>
    </q-select>
    <!-- Input field for multi lut with "Other" option -->
    <!-- TODO: may extend this to allow custom input -->
    <div class="q-pa-md" v-if="showOtherInput && otherFieldConfig">
      <q-input
        data-cy="other"
        v-model="otherRecord"
        class="q-my-md"
        :label="otherFieldConfig.label"
        :hint="otherFieldConfig.hint"
        hide-bottom-space
        :disable="otherFieldConfig.disable"
        :type="otherFieldConfig.type"
        lazy-rules
        :rules="config.rules"
        clearable
        :debounce="100"
      />
    </div>
  </div>
</template>
<script>
import { cloneDeep } from 'lodash'
import InfoButtonForInputs from './InfoButtonForInputs.vue'
import { dexieDB } from '../misc/dexieDB'
import { notifyHandler } from '../misc/helpers'
import { useEphemeralStore } from '../stores/ephemeral'

export default {
  components: {
    InfoButtonForInputs,
  },
  props: {
    config: {
      type: Object,
      required: true,
    },
    getOptions: {
      type: Function,
      required: false,
    },
    modelValue: {
      required: false,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    return {
      ephemeralStore,
    }
  },
  computed: {
    showOtherInput() {
      const hasOtherLut = this.lutRecord?.some(
        (record) => record.lut === 'O' || record.lut === 'Other',
      )
      return hasOtherLut
    },
    /**
     *  combine lutRecord with otherRecord before emit
     *  */
    localRecord() {
      const localRecord = cloneDeep(this.lutRecord)
      if (this.otherFieldName) {
        for (const record of localRecord) {
          if (
            record.lut === 'O' ||
            record.lut === 'OT' ||
            record.lut === 'Other'
          ) {
            if (this.otherRecord) {
              record[this.otherFieldName] = this.otherRecord
            } else delete record[this.otherFieldName]
          }
        }
      }
      return localRecord
    },
  },
  watch: {
    localRecord(newValue) {
      if (this.getOptions) {
        this.$emit('update:modelValue', newValue)
      }
    },
    lutRecord: {
      handler(newVal) {
        if (!this.getOptions) {
          const res = newVal?.map((o) => ({
            option: typeof o === 'object' ? o.label : o,
          }))
          this.filteredOptions.forEach(
            (o) => (o.disabled = this.lutRecord?.includes(o.label)),
          )
          this.$emit('update:modelValue', res)
        }
      },
      deep: true,
    },
    modelValue: {
      handler(newVal) {
        if (!this.getOptions) {
          const modelOptions = this.lutRecord?.map((o) =>
            typeof o === 'object' ? o.label : o,
          )
          const newModelOptions = newVal?.map((o) =>
            typeof o === 'object' ? o.option : o,
          )
          const isDifferent = !newModelOptions?.every(
            (val, index) => val === modelOptions?.[index],
          )
          if (isDifferent) {
            this.lutRecord = newModelOptions
          }
        }
      },
      immediate: true,
      deep: true,
    },
  },
  mounted() {
    if (!this.getOptions) {
      this.lutRecord = this.modelValue?.map((o) => o.option)
    }
  },
  data() {
    const lutConfig = this.lutFieldConfig()

    let otherFieldName
    if (this.config.modelConfig?.fields != undefined && this.getOptions) {
      otherFieldName = Object.keys(this.config.modelConfig?.fields).find(
        (field) => /^other/.test(field) || /^custom/.test(field),
      )
    }
    const otherFieldConfig = this.config.modelConfig?.fields[otherFieldName]

    // if the species is other, update init value
    let initOptions = []
    if (this.getOptions) {
      initOptions = this.getOptions(lutConfig)
    }

    // we keep the lut select and free text input separately, and only combined them at emit
    // so we can avoid using a value that is different from the related option in the q-select
    // and we can avoid keeping updating the q-select options
    let initValue = this.modelValue?.length ? cloneDeep(this.modelValue) : []
    let lutRecord
    lutRecord = this.getOptions
      ? initValue.map((lut) => {
          if (lut.lut === 'O' || lut.lut === 'OT' || lut.lut === 'Other') {
            delete lut[otherFieldName]
          }
          return lut
        })
      : this.modelValue?.map((o) => o.option)

    const otherRecord = this.getOtherRecord(otherFieldName)

    return {
      initOptions,
      filteredOptions: initOptions,
      otherFieldConfig,
      otherFieldName,
      lutRecord,
      otherRecord,
      tableName: this.config.label.replace(/\s+/g, ''),
    }
  },
  methods: {
    /**
     * Retrieves the configuration for a Lookup Table (LUT) field.
     *
     * @returns {Object} The LUT field configuration object.
     */
    lutFieldConfig() {
      if (
        this.config?.modelConfig &&
        this.config?.modelConfig.title != 'Responsible Outlook Zone'
      ) {
        const { fields } = this.config.modelConfig
        const lutConfig = {}

        // Find the first field that has an optionsKey defined
        for (const field in fields) {
          if (fields[field].optionsKey) {
            lutConfig[field] = fields[field]
            break
          }
        }

        // Get the name of the lut field
        const lutField = Object.keys(lutConfig)[0]

        // Define the optionsMapper function
        const optionsMapper = (option) => ({
          // we need an array of object {[fieldName]: [lut symbol]}
          value: { [lutField]: option.symbol },
          label: option.label,
        })

        // Set the optionsMapper for the lut field
        lutConfig[lutField].optionsMapper = optionsMapper

        return lutConfig[lutField]
      } else return this.config
    },
    async filterFn(val, update) {
      if (this.getOptions) {
        if (val === '') {
          update(() => {
            this.filteredOptions = cloneDeep(this.initOptions)
          })
          return
        }
        const needle = val.toLowerCase()
        this.filteredOptions = this.initOptions.filter(
          (v) => v.label?.toLowerCase().indexOf(needle) > -1,
        )
      } else {
        if (val.length > 0) {
          const needle = val.toLowerCase().trim()
          this.filteredOptions = await this.createOptionsList(needle)
        } else {
          // only show 10 filteredOptions when user click it at the first time
          this.filteredOptions = await this.createOptionsList(null, 10)
        }
        this.filteredOptions.forEach(
          (o) => (o.disabled = this.lutRecord?.includes(o.label)),
        )
      }
      update()
    },
    getOtherRecord(otherFieldName) {
      let otherRecord = null
      if (this.modelValue?.length) {
        const otherRecordObj = this.modelValue.find(
          (record) =>
            record.lut === 'O' || record.lut === 'OT' || record.lut === 'Other',
        )
        otherRecord = otherRecordObj?.[otherFieldName] || null
      }

      return otherRecord
    },
    async queryDexie(limit = undefined, searchString = undefined, tableName) {
      //reference: queryDexieFromTaxa() in helpers.js
      if (this.ephemeralStore.dexieDbIsLoading) {
        notifyHandler('warning', 'Lists are still loading')
        return []
      }

      const hardLimit = 200
      let list = []
      const indexes = await dexieDB[tableName].schema.indexes

      let searchStrSplit = searchString ? searchString.split(' ') : null
      let anzsrcid = 'anzsrcid'
      let option = 'option'
      let keyword = 'keyword'

      const tableHasIndexedWords =
        indexes.some((o) => o.name === `${anzsrcid}_`) &&
        indexes.some((o) => o.name === `${option}_`)

      const tableHasIndexedWordsKeyword = indexes.some(
        (o) => o.name === `${keyword}_`,
      )

      if (tableHasIndexedWords) {
        anzsrcid = `${anzsrcid}_`
        option = `${option}_`
      } else if (tableHasIndexedWordsKeyword) {
        keyword = `${keyword}_`
      } else {
        console.debug(
          `Table '${tableName}' doesn't have indexed words so search will be slow`,
        )
      }

      let query = dexieDB[tableName]

      if (searchString) {
        if (tableName === 'GCMDScienceKeywords') {
          query = query.where(keyword).startsWithAnyOfIgnoreCase(searchStrSplit)
        } else {
          query = query
            .where(anzsrcid)
            .startsWithAnyOfIgnoreCase(searchStrSplit)
            .or(option)
            .startsWithAnyOfIgnoreCase(searchStrSplit)
        }
      }
      if (limit) {
        query = query.limit(limit < hardLimit ? limit : hardLimit)
      } else {
        query = query.limit(hardLimit)
      }
      list = await query.toArray()
      return list
    },
    async createOptionsList(searchString, number) {
      //query only first 10 to improve performance, which we'll override when user
      //  starts making input, reference: CSVSelect.vue
      const list = await this.queryDexie(number, searchString, this.tableName)
      const initialOptions = list.map((o) => {
        // return o.option ? o.option : o.keyword
        return {
          label: o.option ? o.option : o.keyword,
          value: o.anzsrcid ? o.anzsrcid : o.id,
          data: o,
        }
      })

      this.initOptions = initialOptions
      return initialOptions
    },
  },
}
</script>
