<template>
  <div>
    <q-banner class="bg-grey-9" v-if="permissionDenied">
      Please enable camera access in device
      <q-btn color="teal" dense flat @click="openSettings">settings</q-btn>
      to use barcode scanner.
    </q-banner>
    <q-btn v-else data-cy="recordBarcode" outline @click="isOpened = true"
      >Start Scan
    </q-btn>
    <q-dialog
      v-model="isOpened"
      @show="startScan"
      @before-hide="stopScan"
      persistent
      :transition-duration="600"
      transition-hide="slide-down"
      :maximized="true"
      ref="dialog"
    >
      <q-card>
        <div class="scan__box"></div>
        <q-footer class="row q-pa-md">
          <q-btn
            class="q-ml-md"
            ref="closeCameraBtn"
            icon="arrow_back_ios"
            round
            dense
            color="primary"
            @click="stopScan"
          />
        </q-footer>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { notifyHandler, paratooErrorHandler } from 'src/misc/helpers'
import { BarcodeScanner } from '@capacitor-mlkit/barcode-scanning'
export default {
  async mounted() {
    await this.requestPermission()
    await this.$nextTick()
  },
  beforeUnmount() {
    this.stopScan()
  },
  data() {
    return {
      isOpened: false,
      permissionDenied: false,
    }
  },
  methods: {
    async requestPermission() {
      const { camera } = await BarcodeScanner.requestPermissions()
      this.permissionDenied = camera === 'denied'
      // check if user already granted permission
      if (camera === 'denied') {
        notifyHandler(
          'negative',
          'We need your permission to use your camera to be able to scan barcode, please enable it in your device settings.',
        )
      }
    },
    async startScan() {
      await this.requestPermission()
      if (this.permissionDenied) return
      // Add the `barcodeScanned` listener
      BarcodeScanner.addListener('barcodeScanned', async (result) => {
        if (result.barcode.rawValue) {
          this.$emit('decode', result.barcode.rawValue)
          notifyHandler('positive', 'Scanned successfully')
          await this.stopScan()
        }
      })

      // Start the barcode scanner
      try {
        await BarcodeScanner.startScan()
        this.makeTransparent()
      } catch (error) {
        paratooErrorHandler('Failed to start scanning', error)
      }
    },
    async stopScan() {
      // Remove all listeners
      await BarcodeScanner.removeAllListeners()
      // Stop the barcode scanner
      await BarcodeScanner.stopScan()
      this.undoTransparent()
      if (this.$refs.dialog) {
        this.$refs.dialog.hide()
      }
    },
    // the camera lie under the DOM, so we need to make them transparent to see it
    makeTransparent() {
      document.body.style.background = 'rgba(0, 0, 0, 0)'
      document.querySelector('#q-app').style.opacity = 0
      document.querySelector('.q-dialog').style.background = 'rgba(0, 0, 0, 0)'
    },
    undoTransparent() {
      document.body.style.background = ''
      const app = document.querySelector('#q-app')
      const dialog = document.querySelector('.q-dialog')
      if (app) {
        app.style.opacity = ''
      }
      if (dialog) {
        dialog.style.background = ''
      }
    },
    // TODO: this one is super useful, need to use this for other native components
    //as it's open device setting when permission is denied
    async openSettings() {
      await BarcodeScanner.openSettings()
    },
  },
}
</script>
<style scoped>
.q-portal--dialog--1 {
  background: rgba(255, 255, 255, 0) !important;
}
.q-portal--dialog--1 > * {
  background: rgba(255, 255, 255, 0) !important;
}

.q-card {
  background: rgba(255, 255, 255, 0) !important;
}
.scan__box {
  border: 2px solid #ff0000;
  background: rgba(255, 255, 255, 0) !important;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 75vw;
  width: 75vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
</style>
