<!-- handles 'create new'/'select existing' transect/point/station/etc -->
<template>
  <div>
    <div class="column items-center">
      <q-radio
        v-model="new_"
        :val="true"
        label="Create new"
        data-cy="createNew"
      />
      <q-radio
        v-model="new_"
        :val="false"
        label="Select existing"
        data-cy="selectExisting"
      />
    </div>
    <div class="q-mx-xs">
      <q-input
        v-if="new_"
        :rules="modelConf.fields.site_id.rules"
        :label="modelConf.fields.site_id.label"
        :model-value="siteId"
        clearable
        @update:model-value="updateSiteId"
        data-cy="site_id"
        counter
      />
      <q-select
        v-else
        :rules="modelConf.fields.site_id.rules"
        :label="modelConf.fields.site_id.label"
        :options="filteredExistingSiteIDs"
        :model-value="siteId"
        clearable
        @update:model-value="updateSiteId"
        data-cy="site_id"
        use-input
        @filter="filterFn"
      />
    </div>
  </div>
</template>

<script>
import { findValForKey } from '../misc/helpers'
import { date } from 'quasar'
import { cloneDeep, isEqual, isNil } from 'lodash'
import { useApiModelsStore } from '../stores/apiModels'
import { useDocumentationStore } from '../stores/documentation'
import pluralize from 'pluralize'
import { potentialOtherValues } from 'src/misc/constants'
import { useDataManagerStore } from '../stores/dataManager'
import { inject } from 'vue'

export default {
  inject: ['doc'],
  name: 'NewOrExisting',
  // components: {
  //   //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
  //   'paratoo-api-model-crud-ui': asyncCrud,
  // },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    fullModelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    modelConfig: {
      type: Object,
      required: true,
    },
    //the `attribute` in the schema that calls the component: new-or-existing
    fieldName: {
      type: String,
      required: true,
    },
    parentFields: {
      type: Object,
      required: true,
    },
  },
  async setup(props) {
    //don't have access to `this` yet, so can access injected `doc`: https://stackoverflow.com/a/72253376
    const doc = inject('doc')?.value

    const apiModelsStore = useApiModelsStore()
    const documentationStore = useDocumentationStore()
    const dataManager = useDataManagerStore()

    const protocolModels = await apiModelsStore.modelsOfProtocol({
      protocolId: props.protocolId,
    })

    //search the this work step's model name so that `idGen` can have something to create
    //prefix from
    //TODO confirm if right approach - maybe we want the prefix to be the protocol name, as, for example, sign-based off-plot makes prefix of 'OPBTS' (off-plot-belt-transect-survey, which might not be that indicative of the protocol)
    //also search for the parent field (if it's applicable); sometimes the stepModelName
    //is not where the site IDs are, but they are nested in a component
    let stepModelName = null
    let parentField = null
    for (const model of protocolModels) {
      const schemaName = documentationStore.formattedNewSchema({
        modelName: model,
      })
      const schema = doc.components.schemas[schemaName]
      const found = findValForKey(schema, props.fieldName)

      if (found) {
        stepModelName = pluralize.singular(schema['x-paratoo-endpoint-prefix'])

        if (found['x-paratoo-new-or-existing-parent-field']) {
          parentField = found['x-paratoo-new-or-existing-parent-field']
        }
      }
    }

    return {
      apiModelsStore,
      dataManager,
      stepModelName,
      parentField,
    }
  },
  data() {
    const updatedModelConfig = cloneDeep(this.modelConfig)
    delete updatedModelConfig.fields.new

    const { existingSiteIDs, existingSiteData } = this.makeSiteDataOptions()

    const initData = cloneDeep(this.modelValue?.new_or_existing) || {}
    let initSiteId = null
    if (initData.site_id) {
      initSiteId = initData.site_id
    } else {
      initSiteId = this.idGen()
      initData.site_id = initSiteId
      Object.assign(initData, { site_id: initSiteId })
    }

    let initNew = true
    if (initData.new !== undefined && initData.new !== null) {
      initNew = initData.new
    } else {
      Object.assign(initData, { new: initNew })
    }

    return {
      modelConf: updatedModelConfig,
      new_: initNew,
      siteId: initSiteId,
      existingSiteIDs,
      filteredExistingSiteIDs: existingSiteIDs,
      existingSiteData,
      localRecord: initData,
    }
  },
  mounted() {
    //when data initialises a 'create new', need to ensure it is emit up the component
    //hierarchy
    this.$emit('update-site-info', this.localRecord)

    if (
      this.new_ === false ||
      this.modelValue?.new_or_existing?.new === false
    ) {
      const fieldToDisable = this.parentFields.reduce((accum, curr) => {
        // console.log('curr: ', curr)
        if (!['id', 'new_or_existing'].includes(curr.model)) {
          accum.push(curr.model)
        }

        return accum
      }, [])

      this.$emit('disable-fields', fieldToDisable)
    } else {
      this.$emit('disable-fields', null)
    }
  },
  methods: {
    makeSiteDataOptions() {
      const submittedSurveys =
        this.dataManager.cachedModel({ modelName: this.stepModelName }) || []

      const mappedSites = []
      for (const survey of submittedSurveys) {
        if (this.parentField) {
          mappedSites.push(...survey[this.parentField])
        } else {
          mappedSites.push(survey)
        }
      }

      const existingSiteIDs = []
      const existingSiteData = []
      for (const site of mappedSites) {
        let currentSiteAlreadySelected = false
        if (this.fullModelValue?.length > 0) {
          currentSiteAlreadySelected = this.fullModelValue.some(
            (o) =>
              o?.new_or_existing?.site_id === site?.new_or_existing?.site_id,
          )
        }

        //TODO rather than filter out options, disable sites that are already selected so that the behaviour is consistent with survey setup (which will require `existingSiteIDs` to be an object so that `inactive` can be added with `value` and `label`, which will possibly break logic in next steps - rather get tests working then do this refactor)
        if (
          !currentSiteAlreadySelected &&
          site?.new_or_existing?.new === true
        ) {
          existingSiteData.push(site)
          existingSiteIDs.push(site.new_or_existing.site_id)
        }
      }
      return {
        existingSiteIDs,
        existingSiteData,
      }
    },
    idGen() {
      const words = this.stepModelName.split('-')
      let acronym = ''

      for (let i = 0; i < words.length; i++) {
        const word = words[i]
        if (word.toLowerCase() !== 'survey') {
          acronym += word[0].toUpperCase()
        }
      }

      return acronym + date.formatDate(Date.now(), 'HHmmss-DDMMYYYY')
    },
    updateSiteId(e) {
      //prevents custom inputs of the transect ID (i.e., don't want to use
      //auto-generated) from being squashed
      this.siteId = e
    },
    autofillExistingSiteData() {
      const selectedSiteInfo = this.existingSiteData.find(
        (site) => site.new_or_existing.site_id === this.siteId,
      )

      const fieldToDisable = []
      if (selectedSiteInfo) {
        const updatedNewRecord = cloneDeep(this.modelValue) || {}
        for (const [field, value] of Object.entries(selectedSiteInfo)) {
          // console.log(`field=${field}, value:`, value)
          if (['id'].includes(field)) continue
          if (field === 'new_or_existing') {
            //by setting the local record, we also set the model values (`new_`,
            //`site_id`) in the template
            this.localRecord = {
              new: false, //need to override, as the `value` is `true`
              site_id: value.site_id,
            }
            updatedNewRecord[field] = this.localRecord
          } else if (value?.symbol) {
            // normal lut
            updatedNewRecord[field] = value.symbol
            fieldToDisable.push(field)
          } else if (
            // normal field like string or number or boolean
            typeof value !== 'object' &&
            value
          ) {
            updatedNewRecord[field] = value
            fieldToDisable.push(field)
          } else if (
            // multi lut case
            Array.isArray(value)
          ) {
            updatedNewRecord[field] = value.map((item) => {
              const result = {}
              for (const key in item) {
                if (!isNil(item[key]) && key !== 'id') {
                  result[key] = item[key]?.symbol || item[key]
                }
              }
              return result
            })
            fieldToDisable.push(field)
          } else if (typeof value === 'object') {
            if (value?.lat && value?.lng) {
              updatedNewRecord[field] = value
              fieldToDisable.push(field)
            } else {
              // custom lut case
              for (const key in value) {
                // console.log(`value[${key}]: `, value[key])
                //if we manage to resolve a symbol to a label, it's a custom lut
                //collected offline (the entire LUT object has not been resolved and thus
                //there is no `symbol` property)
                const resolvedSymbol = this.apiModelsStore.resolvedLutSymbol({
                  symbol: value[key],
                  modelName: this.parentFields.find((f) => f.model === field)
                    ?.select?.optionsKey,
                  suppressWarnings: true,
                })
                console.log('resolvedSymbol:', resolvedSymbol)
                if (
                  //typical case
                  (typeof value[key] === 'object' && value[key]?.symbol) ||
                  //collection offline, so not fully-resolved
                  (typeof value[key] === 'string' && resolvedSymbol)
                ) {
                  updatedNewRecord[field] = {
                    [key]: value?.[key]?.symbol || value[key],
                  }

                  if (
                    (resolvedSymbol &&
                      potentialOtherValues.includes(
                        resolvedSymbol?.toLowerCase(),
                      )) ||
                    (value?.[key]?.label &&
                      potentialOtherValues.includes(
                        value[key].label.toLowerCase(),
                      ))
                  ) {
                    const otherKey = Object.keys(value).find((k) =>
                      /text/g.test(k),
                    )

                    updatedNewRecord[field][otherKey] = value[otherKey]
                  }
                }
              }
              fieldToDisable.push(field)
            }
          }
        }

        const filteredData = {}
        const notAutoFill = [
          'transect_start_point',
          'vantage_point_location',
          'location',
        ]
        const key = Object.keys(updatedNewRecord).filter((key) =>
          notAutoFill.includes(key),
        )
        for (const item in updatedNewRecord[key]) {
          if (item !== 'id') {
            filteredData[item] = updatedNewRecord[key][item]
          }
        }
        updatedNewRecord[key] = filteredData
        // console.log('updatedNewRecord.key', updatedNewRecord[key])
        this.$emit('update:modelValue', updatedNewRecord)
        this.$emit('disable-fields', fieldToDisable)
      }
    },
    filterFn(val, update) {
      update(() => {
        const needle = val.toLowerCase()
        this.filteredExistingSiteIDs = this.existingSiteIDs.filter(
          (option) => option.toLowerCase().indexOf(needle) > -1,
        )
      })
    },
  },
  watch: {
    modelValue(val) {
      this.localRecord = val
    },
    new_(val) {
      this.localRecord.new = val
    },
    siteId(val) {
      this.localRecord.site_id = val
    },
    'localRecord.new'(newVal, oldVal) {
      if (!isEqual(newVal, oldVal)) {
        let updatedNewRecord = null
        if (newVal) {
          updatedNewRecord = cloneDeep(this.localRecord)
          updatedNewRecord.site_id = this.idGen()

          if (newVal && !oldVal) {
            //this resets the other form data in case we've selected existing which was
            //auto-filled
            this.$emit('update:modelValue', {})
            //if we swapped from auto-filled existing, need to re-enable fields
            this.$emit('disable-fields', null)
          }
        } else {
          updatedNewRecord = cloneDeep(this.localRecord)
          updatedNewRecord.site_id = null
        }

        if (updatedNewRecord !== null) {
          this.localRecord = updatedNewRecord
          this.new_ = this.localRecord.new
          this.siteId = this.localRecord.site_id
          this.$emit('update-site-info', updatedNewRecord)
        }
      }
    },
    'localRecord.site_id'(newVal) {
      if (newVal) {
        this.autofillExistingSiteData()
      }
    },
  },
}
</script>
