<template>
  <q-tooltip v-if="!ephemeralStore.networkOnline">
    Your device is offline
  </q-tooltip>
  <q-tooltip v-else-if="!ephemeralStore.coreIsAvailable">
    {{ serverUnavailableMsg }}
  </q-tooltip>
</template>
<script setup>
import { useEphemeralStore } from 'src/stores/ephemeral'
import { serverUnavailableMsg } from 'src/misc/constants'

const ephemeralStore = useEphemeralStore()
</script>
