<!-- Use this single component for displaying this error message, so it's easier to
  modify the message and any other aspects without going though every protocol -->

<template>
  <q-banner rounded class="bg-red text-white">
    <strong>Whoops!</strong> There are no floristics vouchers for the
    selected Project's Plots. Please submit some first, or select a different
    Project to continue.
  </q-banner>
</template>

<script>
export default {
  name: 'NoVouchersErrMsg',
}
</script>