<template>
  <div>
    <q-select
      class="q-pa-none q-ma-none"
      ref="observerSelect"
      :label="label"
      v-model="selectedValue"
      use-input
      :use-chips="type === 'observer' ? false : true"
      :multiple="type !== 'observer'"
      :rules="rules"
      input-debounce="0"
      :options="filterOptions"
      @filter="filterFn"
      :hint="
        rowDataKey === 'invertebrate-rapid-ground-trapping' ||
        rowDataKey === 'invertebrate-pan-trapping'
          ? 'Select an option, search for one, or input your own'
          : rowDataKey === 'invertebrate-malaise-trapping'
          ? 'Person setting up the trap '
          : hint
      "
      @new-value="newObserver"
      data-cy="observerName"
    >
      <template
        v-if="filterOptions.length > 0"
        v-slot:option="{ itemProps, opt }"
      >
        <q-item v-bind="itemProps">
          <q-item-section>
            <q-item-label v-html="opt" />
          </q-item-section>
          <q-item-section side v-if="!useOverrideOptions && opt.length > 0">
            <q-btn flat @click.stop="showDialog(opt)">
              <q-icon name="clear" outline />
            </q-btn>
          </q-item-section>
        </q-item>
      </template>

      <template v-slot:no-option="scope">
        <q-item v-if="scope.inputValue">
          <q-item-section avatar>
            <q-btn
              data-cy="addObserver"
              @click="newObserver(scope.inputValue, scope)"
              icon="add"
              dense
              color="secondary"
              flat
            />
          </q-item-section>
          <q-item-section @click="newObserver(scope.inputValue)">
            <q-item-label>
              Add "{{ scope.inputValue }}" as a new observer
            </q-item-label>
          </q-item-section>
        </q-item>
      </template>
    </q-select>

    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          Are you sure to remove observer {{ opt }}?
        </q-card-section>
        <q-card-actions align="center">
          <div class="q-pb-sm">
            <q-btn
              label="Delete"
              color="red"
              v-close-popup
              data-cy="deleteObserver"
              @click="
                removeOption(opt, type === 'observer' ? observers_model : model)
              "
            />
            <q-btn flat label="Cancel" color="secondary" v-close-popup />
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { ref, watch, computed, toRef } from 'vue'
import { useBulkStore } from 'src/stores/bulk'
import { isEmpty } from 'lodash'

export default {
  props: {
    modelValue: {
      required: false,
      default: () => [],
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: true,
    },
    type: {
      required: true,
    },
    customRules: {
      type: Array,
      default: () => [],
    },
    maximum: {
      required: false,
    },
    label: {
      type: String,
      required: false,
    },
    fieldModel: {
      type: String,
      required: true,
    },
    record: {
      type: Object,
      required: false,
      default: () => {},
    },
    overrideOptions: {
      type: Array,
      required: false,
      default: () => [],
    },
    hint: {
      type: String,
      required: false,
      default: '',
    },
  },

  setup(props, { emit }) {
    const bulkStore = useBulkStore()
    let stringOptions = null
    const useOverrideOptions =
      Array.isArray(props.overrideOptions) && props.overrideOptions.length > 0
    if (useOverrideOptions) {
      stringOptions = ref(props.overrideOptions)
    } else {
      stringOptions = ref(localStorage.observers?.split(',') || [])
    }

    const confirm = ref(false)
    const filterOptions = ref(stringOptions.value)

    const baseModel =
      bulkStore.collections[props.protocolId]?.[props.rowDataKey]
    let model = null
    if (baseModel && Array.isArray(baseModel) && !isEmpty(props.record)) {
      //the parent of the observers is an array (i.e., observations), so fallback to
      //the specifically-passed-in record (the specific observation)
      model = ref(props.record[props.fieldModel]?.map((o) => o.observer))
    } else if (
      baseModel?.[props.fieldModel] &&
      Array.isArray(baseModel?.[props.fieldModel])
    ) {
      model = ref(baseModel[props.fieldModel].map((o) => o.observer))
    } else if (
      baseModel?.[props.fieldModel] &&
      !Array.isArray(baseModel?.[props.fieldModel])
    ) {
      model = ref(baseModel[props.fieldModel])
    } else {
      model = ref()
    }

    const observers_model = ref(props.modelValue) || ref()

    const selectedValue = computed({
      get: () =>
        props.type === 'observer' ? observers_model.value : model.value,
      set: (value) => {
        if (props.type === 'observer') {
          observers_model.value = value
        } else {
          model.value = value
        }
      },
    })

    const saveInfo = computed({
      get: () => {
        return props.modelValue
      },
    })

    watch(saveInfo, () => {
      observers_model.value = props.modelValue
    })

    watch(model, (val) => {
      emit(
        'update:modelValue',
        structuredClone(val).map((o) => ({
          observer: o,
        })),
      )
    })

    watch(observers_model, (val) => {
      emit('update:modelValue', val)
    })

    const observerSelect = ref(null)
    const opt = ref(null)
    const rules = toRef(props.customRules)

    watch(
      () => props.maximum,
      async (newVal) => {
        if (newVal) {
          const newRule = (val) =>
            val?.length === newVal || `Number of observer need to be ${newVal}`
          rules.value.pop()
          rules.value.push(newRule)
          if (selectedValue.value) {
            await observerSelect.value.validate()
          }
        }
      },
    )

    watch(
      stringOptions,
      (newVal) => {
        const temp = localStorage.getItem('observers')?.split(',') || []
        if (newVal.length > temp.length) {
          observerSelect.value.updateInputValue('', true) // update model
          observerSelect.value.add(newVal.at(-1), true) // add new input to dropdown
          observerSelect.value.hidePopup() // hide dropdown
        }
        localStorage.setItem('observers', newVal)
        if (localStorage.observers === '') {
          localStorage.removeItem('observers')
          model.value = []
          observers_model.value = ''
        }
      },
      { deep: true },
    )
    return {
      selectedValue,
      opt,
      observers_model,
      bulkStore,
      filterOptions,
      model,
      observerSelect,
      confirm,
      showDialog(o) {
        confirm.value = true
        opt.value = o
      },
      removeOption(option, model) {
        confirm.value = false
        const index = stringOptions.value.indexOf(option)

        if (typeof model === 'string' && model === option) {
          emit('update:modelValue', null)
        } else {
          if (model?.includes(option)) {
            model.splice(model.indexOf(option), 1)
          }
        }
        stringOptions.value.splice(index, 1)
      },

      filterFn(val, update) {
        update(() => {
          if (val === '') {
            filterOptions.value = stringOptions.value
          } else {
            const needle = val.toLowerCase()
            filterOptions.value = stringOptions.value.filter(
              (v) => v.toLowerCase().indexOf(needle) > -1,
            )
          }
        })
      },

      newObserver(newVal) {
        if (!stringOptions.value.includes(newVal)) {
          stringOptions.value.push(newVal)
          filterOptions.value.push(newVal)
        }
      },
      rules,
      useOverrideOptions,
    }
  },
}
</script>
