<template>
  <div>
    <l-map
      :min-zoom="1"
      :max-zoom="20"
      :style="isMobileDevice ? 'height: 350px; width: 100%' : 'height: 500px; width: 100%'"
      :center="currentCenter"
      :zoom="currentZoom"
      ref="map"
      @ready="makeMapRef"
    >
      <l-tile-layer :url="url" :attribution="attribution" />

      <l-control position="bottomright">
        <q-btn
          v-if="userCoords?.lat"
          icon="my_location"
          @click="backToLocation"
        />
        <div v-else>GPS not available</div>
      </l-control>
      <l-control-scale :imperial="true" />
      <l-circle-marker
        v-if="userCoords?.lat"
        :lat-lng="userCoords"
        color="blue"
        :weight="Number(12)"
      >
        <l-popup
          :content="`Current lat: ${userCoords.lat}, lng: ${userCoords.lng}`"
        />
      </l-circle-marker>
      <template v-if="transects?.length">
        <div v-for="(transect, index) of transects" :key="index">
          <template v-if="getStartPoint(transect)">
            <l-circle-marker
              color="lime"
              :weight="11"
              :lat-lng="getStartPoint(transect)"
            >
              <l-popup
                >Start point lat: {{ getStartPoint(transect).lat }}, lng:{{
                  getStartPoint(transect).lng
                }}
              </l-popup>
            </l-circle-marker>

            <l-circle-marker
              color="yellow"
              :weight="12"
              :lat-lng="getEndPoint(transect)"
            >
              <l-popup>
                lat: {{ getStartPoint(transect).lat }}, lng:{{
                  getStartPoint(transect).lng
                }}
                <br />
                Bearing: {{ transect.bearing }}° <br />
                Quadrat Length: {{ transect.quadrat_length }} m Transect Length:
                {{ transect.transect_length }} m
              </l-popup>
            </l-circle-marker>
            <l-polyline :lat-lngs="getPolyLineCoords(transect)" />
          </template>
        </div>
      </template>
    </l-map>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="(e) => $emit('update:modelValue', e)"
      @new-record-changed="newRecordChanged"
      @disable-fields="disableFields"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  disableFields,
  getDestinationPoint,
  createDependentFieldCallback,
  degToRad,
} from '../misc/helpers'
import { useBulkStore } from '../stores/bulk'
import isEqual from 'lodash/isEqual'
import {
  LMap,
  LTileLayer,
  LPopup,
  LControl,
  LControlScale,
  LCircleMarker,
  LPolyline,
} from 'vue-leaflet/src/components'
import { cloneDeep } from 'lodash'
export default {
  inject: ['doc'],
  components: {
    LMap,
    LTileLayer,
    LControl,
    LCircleMarker,
    LPopup,
    LPolyline,
    LControlScale,
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    rowDataKey: {
      required: false,
    },
    url: {
      type: String,
      required: false,
    },
    attribution: {
      type: String,
      required: false,
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    return {
      bulkStore,
    }
  },
  data() {
    let modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )
    const transectFields = modelConfig.fields.transect.modelConfig.fields
    const transectLengthField = transectFields.transect_length
    const defaultTransectLengthRule = cloneDeep(transectLengthField.rules)

    return {
      modelConfig,
      currentZoom: 19,
      currentCenter: this.userCoords || { lat: -34.971863, lng: 138.637756 },
      defaultTransectLengthRule,
      conditionalFieldsCallback: createDependentFieldCallback(),
      transectLengthField,
      conditionalFields: [
        { field: 'transect_length', fieldCb: this.updateTransectLengthRule },
      ],
    }
  },
  methods: {
    //================= crud=================
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
    // TODO: remove this when we have autosave as this will become redundant, and might be an issue when we want to add new field
    // emit the transect for the map to display
    // and also it's the main thing in this step so we don't want lost it
    // if user haven't submit but accident close the app or go back to main menu
    newRecordChanged({ newRecord, oldRecord }) {
      if (isEqual(newRecord, oldRecord)) return
      const transectData = newRecord?.transect?.filter(
        (transect) => transect.new_or_existing,
      )
      const newValueToEmit = {
        ...this.modelValue,
        transect: transectData,
      }
      if(newRecord.x_using_datasheet) {
        newValueToEmit.x_using_datasheet = newRecord.x_using_datasheet
      }
      if (transectData?.length) {
        this.$emit('update:modelValue', newValueToEmit)
      }
    },
    /**
     * custom rule for transect length
     * @param {*} param0
     */
    updateTransectLengthRule({ newVal, oldVal }) {
      if (isEqual(newVal, oldVal)) return
      const quadratLength = newVal.quadrat_length
      const transectLength = newVal.transect_length
      this.transectLengthField.rules = cloneDeep(this.defaultTransectLengthRule)
      if (quadratLength && transectLength) {
        this.transectLengthField.rules.push(() => {
          if (transectLength % quadratLength !== 0)
            return `Transect length must be a multiple of quadrat length`
          else return true
        })
      }
    },
    disableFields(fields) {
      disableFields(fields, this.modelConfig.fields.transect.modelConfig.fields)
    },
    // =========== for map ===========================
    backToLocation() {
      this.map.panTo(this.userCoords)
    },
    makeMapRef() {
      this.map = this.$refs.map.leafletObject
    },
    getPolyLineCoords(transect) {
      const startPoint = this.getStartPoint(transect)
      const endPoint = this.getEndPoint(transect)
      return [startPoint, endPoint]
    },
    getStartPoint(transect) {
      return transect.transect_start_point
    },
    getEndPoint(transect) {
      return getDestinationPoint(
        this.getStartPoint(transect),
        degToRad(transect.bearing || 0),
        transect.transect_length,
      )
    },
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    transects() {
      return this.modelValue?.transect || []
    },
  },
}
</script>
