<template>
  <div>
    <crud
      ref="transect"
      :modelValue="modelValue"
      :fields="modelConfig.fields"
      :current-prot-id="protocolId"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :row-data-key="modelConfig.rowDataKey"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
      @collection-entry-added="collectionEntryAdded"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  createSiteSetupFieldDef,
  createSurveySetupIdCb,
  makeConditionFieldForTargetSpecies,
} from 'src/misc/helpers'
import { useBulkStore } from 'src/stores/bulk'

export default {
  inject: ['doc'],
  components: {
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      type: Array,
      default: () => [],
    },
    defaultModelConfig: {
      type: Object,
      required: false,
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    return {
      bulkStore,
    }
  },
  data() {
    let modelConfig
    if (this.defaultModelConfig) {
      modelConfig = this.defaultModelConfig
    } else {
      modelConfig = makeModelConfig(
        this.modelName,
        this.doc,
        this.protocolId,
      )
    }

    //TODO derive this mapper from backend - leverage `x-paratoo-new-or-existing-parent-field`?
    const surveyModelNames = {
      'herbivory-off-plot-belt-survey-setup':
        'herbivory-off-plot-belt-transect-setup',
      'off-plot-belt-transect-survey-setup': 'off-plot-belt-transect-survey',
      'sign-based-vehicle-track-set-up': 'sign-based-vehicle-track-survey',
    }
    const surveyModelName = surveyModelNames[this.modelName]
    const siteSetupOptionsKey = `${surveyModelName}.transect`
    createSiteSetupFieldDef(
      this.protocolId,
      modelConfig.fields,
      this.modelName,
      siteSetupOptionsKey,
      'transect_setup_ID',
    )

    modelConfig.fields.survey_setup_ID.hidden = true
    modelConfig.fields.survey_setup_ID.disable = true

    let conditionalFields = [
      {
        field: 'survey_setup_ID',
        dependsOn: 'transect_setup_ID',
        fieldCb: this.cb,
      },
    ]
    conditionalFields = makeConditionFieldForTargetSpecies(
      modelConfig.fields,
      conditionalFields,
    )

    return {
      modelConfig,
      conditionalFieldsCallback: createDependentFieldCallback(),
      conditionalFields,
      siteSetupOptionsKey,
    }
  },
  methods: {
    cb({ newVal, oldVal }) {
      return createSurveySetupIdCb(newVal, oldVal, 'transect_setup_ID')
    },
    collectionEntryAdded() {
      //need to re-compute the options (specifically so that the mapper that disables the
      //already-selected transect is re-computed)
      createSiteSetupFieldDef(
        this.protocolId,
        this.modelConfig.fields,
        this.modelName,
        this.siteSetupOptionsKey,
        'transect_setup_ID',
      )
    },
  },
}
</script>
