<template>
  <div>
    <q-item v-if="!isDisabled" clickable tag="div" @click="projectSelection" :active="isDisabled">
      <q-item-section avatar>
        <q-icon name="visibility" />
      </q-item-section>
      <q-item-section>
        <q-item-label> Opportune </q-item-label>
        <q-item-label caption> Quick access to opportune </q-item-label>
      </q-item-section>
    </q-item>

    <q-dialog v-model="selectCurrentContext" persistent full-width>
      <q-card>
        <q-card-section class="row justify-center">
          <span class="q-ml-sm">
            Please select the project you with to perform a collection for
          </span>
        </q-card-section>
        <q-card-section class="row justify-center">
          <ProjectSelection
            :workflow-nav="true"
            :current-protocol-id="opportuneId"
            @hide-select-dialog="toOpportune"
          />
        </q-card-section>
        <q-card-section class="row justify-center">
          <q-btn label="Cancel" v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useAuthStore } from 'src/stores/auth'
import { useEphemeralStore } from 'src/stores/ephemeral'
import ProjectSelection from '../components/ProjectSelection.vue'
export default {
  components: {
    ProjectSelection,
  },
  data() {
    return {
      isDisabled: false,
      opportuneId: undefined,
      selectCurrentContext: false,
    }
  },
  setup() {
    const router = useRouter()
    const authStore = useAuthStore()
    const ephemeralStore = useEphemeralStore()
    return {
      router,
      authStore,
      ephemeralStore,
    }
  },
  mounted() {
    // protocol id seem to regularly change
    // we should dynamically get opportune id
    // instead of hard coded it
    // let opportuneId
    if (this.authStore.projAndProt) {
      this.authStore.projAndProt.forEach((project) => {
        let opportune = project.protocols.find(
          (protocol) => protocol.name === 'Opportune',
        )
        if (opportune) return (this.opportuneId = opportune.id)
      })

      let currentUrl = this.router.currentRoute.value.fullPath
      currentUrl = currentUrl.split('/')
      const currentProjId = currentUrl[currentUrl.length - 1]

      if (
        this.opportuneId == undefined ||
        currentProjId === this.opportuneId.toString()
      ) {
        this.isDisabled = true
      }
    }
  },
  methods: {
    // select project to do collection
    projectSelection() {
      const projectCount = this.authStore.projects.length
      if (projectCount === 1) {
        this.toOpportune()
      } else {
        this.selectCurrentContext = true
      }
    },
    // store current protocols
    toOpportune() {
      this.selectCurrentContext = false
      this.ephemeralStore.setPrevProtocol(
        this.router.currentRoute.value.fullPath,
      )
      this.router.push('/workflow/' + this.opportuneId)
    },
  },
}
</script>

<style scoped>
.q-item.q-router-link--active,
.q-item--active {
  color: var(--q-primary);
}
</style>
