<template>
  <q-card
    v-if="newRecord?.is_the_plot_permanently_marked"
    bordered
    class="q-pa-md"
  >
    <h5 class="q-my-sm">{{ title }}</h5>
    <CustomSelectInput
      data-cy="marker"
      :model-value="localRecordMaker"
      :config="fields.marker"
      :options="markerOptions"
      @update:modelValue="
        (e) => {
          updatedModelValue(e)
        }
      "
    />
    <h6 class="q-mt-sm q-mb-none">Marked where:</h6>
    <div v-for="(field, index) in fields" :key="index">
      <q-checkbox
        :data-cy="field"
        v-if="field.type === 'boolean'"
        v-model="localRecord[field.label]"
        :label="field.label"
      />
    </div>
    <q-checkbox v-model="selectAllCheckbox" label="All" data-cy="All" />
  </q-card>
</template>
<script>
import { ref, watch } from 'vue'
import { isEmpty, isEqual } from 'lodash'
import CustomSelectInput from 'src/components/CustomSelectInput.vue'
import { useApiModelsStore } from 'src/stores/apiModels'
import {
  autofillCustomLutOtherIfRequired,
} from 'src/misc/helpers'

export default {
  props: {
    modelValue: {
      required: true,
    },
    markerOptions: {
      type: Array,
      required: true,
    },
    fields: {
      type: Object,
      required: true,
    },
    newRecord: {
      type: Object,
      required: true,
    },
    title: {
      type: String,
    },
  },
  components: {
    CustomSelectInput,
  },
  setup(props, { emit }) {
    const { resolvedLutSymbol } = useApiModelsStore()

    const initValues = Object.keys(props.fields).reduce((acc, curr) => {
      if (props.fields[curr].type === 'boolean') {
        acc[curr] = false
      }
      return acc
    }, {})

    const localRecord = ref(initValues)
    const selectAllCheckbox = ref(false)

    watch(
      () => props.modelValue,
      (newVal) => {
        if (!isEqual(localRecord.value, newVal) && !isEmpty(newVal))
          localRecord.value = newVal
      },
    )

    watch(
      localRecord,
      (newVal) => {
        for (const key in newVal) {
          if (key === 'marker') continue
          if (!newVal[key] && selectAllCheckbox.value) {
            selectAllCheckbox.value = false
            break
          }
        }

        if (!isEmpty(newVal)) {
          emit('update:modelValue', newVal)
        }
      },
      { deep: true },
    )

    watch(selectAllCheckbox, (newVal) => {
      if (newVal) {
        for (const key in localRecord.value) {
          if (key === 'marker') continue
          localRecord.value[key] = true
        }
      }
    })
    const markerField = Object.values(props.fields).find(
      (value) => value?.select?.optionsKey === 'lut-plot-layout-marker'
    )
    return {
      localRecord,
      selectAllCheckbox,
      markerField,
      resolvedLutSymbol,
    }
  },
  computed: {
    localRecordMaker() {
      if (this.modelValue?.marker && typeof this.modelValue.marker === 'object') {
        if (this.markerField.input.fieldName in this.modelValue.marker) {
          return this.modelValue.marker[this.markerField.input.fieldName]
        } else if (this.markerField.select.fieldName in this.modelValue.marker) {
          return this.modelValue.marker[this.markerField.select.fieldName]
        }
      }

      return this.modelValue?.marker
    },
  },
  methods: {
    updatedModelValue(e) {
      if (e) {
        const rec = { ...this.localRecord }
        rec.marker = e
        this.localRecord.marker = autofillCustomLutOtherIfRequired(
          rec,
          'marker',
          this.markerField,
        )
      } else {
        this.localRecord.marker = null
      }
    },
  },
}
</script>
