<template>
  <div>
    <p>Manually setting permissions via the browser's settings may not automatically update here</p>
    <div
      v-for="perm of permissionTypes"
      :key="perm"
      class="row items-center"
    >
      <p v-if="permissionStatuses[perm] === 'error'">Error with {{ perm }} permission</p>
      <div v-else>
        <q-btn
          icon="help"
          class="q-pa-none"
          @click="() => {
            showPermHelpDialog = !showPermHelpDialog
            selectedPermHelp = perm
          }"
        />
        <q-toggle
          :model-value="permissionStatuses[perm]"
          :label="perm"
          size="xl"
          @update:modelValue="
            (e) => {
              handlePermissionChange({ newVal: e, permissionType: perm })
            }
          "
        />
        <q-spinner
          v-if="permissionLoading?.[perm]"
          size='2em'
          :thickness="10"
          class="q-ml-sm"
        />
      </div>
    </div>

    <!-- 
      dialog is scoped to a particular permission type - even though there's a lot of
      overlap, we keep it separate to allow easy extending
     -->
    <q-dialog v-model="showPermHelpDialog">
      <q-card>
        <!-- permissions -->
        <q-card-section>
          <h6 class="q-ma-none">Setting browser permissions</h6>
        </q-card-section>
        <q-card-section
          style="word-wrap: break-word; white-space: pre-wrap"
          class="text-body1 q-py-none"
        >
          {{ getPermissionsEnableInstructions(selectedPermHelp) }}
        </q-card-section>

        <!-- why we need permissions -->
        <q-card-section>
          <h6 class="q-ma-none">Why we need permissions</h6>
        </q-card-section>
        <q-card-section
          style="word-wrap: break-word; white-space: pre-wrap"
          class="text-body1 q-py-none"
        >
          {{ getPermissionReasonMessage(selectedPermHelp) }}
        </q-card-section>

        <!-- actions -->
        <q-card-actions align="right">
          <q-btn label="dismiss" flat v-close-popup data-cy="dismiss" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {
  paratooWarnHandler,
  paratooWarnMessage,
  paratooSentryBreadcrumbMessage,
  notifyHandler,
  createLocationPermissionRejectionMessage,
  getPermissionStatus,
  getPermissionsEnableInstructions,
  getPermissionReasonMessage,
} from '../misc/helpers'
import {
  appTitle,
  permissionTypes,
} from '../misc/constants'
import {
  reactive,
  ref,
} from 'vue'
import {
  upperFirst,
} from 'lodash'
import { useAuthStore } from '../stores/auth'
import { useEphemeralStore } from '../stores/ephemeral'

export default {
  name: 'Permissions',
  async setup() {
    const authStore = useAuthStore()
    const ephemeralStore = useEphemeralStore()

    const permissionLoading = {}
    for (const perm of permissionTypes) {
      permissionLoading[perm] = false
    }

    return {
      authStore,
      ephemeralStore,
      permissionTypes,    //expose this constant for the template
      permissionStatuses: reactive(authStore.permissionStatuses),
      permissionLoading: reactive(permissionLoading),
      showPermHelpDialog: ref(false),
      selectedPermHelp: ref(null),
    }
  },
  methods: {
    getPermissionsEnableInstructions: getPermissionsEnableInstructions,
    getPermissionReasonMessage: getPermissionReasonMessage,
    async handlePermissionChange({ newVal, permissionType }) {
      //TODO handle when the user sets permissions with browser settings and the toggles aren't reactive (current workaround is to check if it's already set when they click the toggle)
      this.permissionLoading[permissionType] = true

      //if they manually set the permission via the browser while on this page, it won't
      //update, so if they clock the toggle again we might be weird behaviour, so check
      //the status again
      const existingPermissionStatus = await getPermissionStatus({ permissionType })

      if (
        newVal === true &&
        existingPermissionStatus !== newVal
      ) {
        paratooSentryBreadcrumbMessage(
          `Requesting ${permissionType} permission`,
        )
        switch (permissionType) {
          case 'geolocation': {
            if (process.env.MODE === 'capacitor') {
              const { Geolocation } = await import('@capacitor/geolocation')
              try {
                const status = Geolocation.requestPermissions()
                this.locationProcessStatus({
                  status,
                })
              } catch (error) {
                this.handlePermissionRejection({
                  permissionType,
                  error,
                })
              }
            } else {
              navigator.geolocation.getCurrentPosition(
                //success callback
                () => {
                  this.locationProcessStatus({
                    status: 'granted',
                  })
                  paratooSentryBreadcrumbMessage(
                    'User granted geolocation permission',
                  )
                  this.authStore.setPermissionStatus({
                    permissionType,
                    status: true,
                  })
                  this.permissionLoading[permissionType] = false
                },
                //failure callback
                (error) => {
                  this.handlePermissionRejection({
                    permissionType,
                    error,
                  })
                }
              )
            }
            break
          }
          case 'camera':
          case 'microphone': {
            try {
              await navigator.mediaDevices.getUserMedia({
                video: permissionType === 'camera',
                audio: permissionType === 'microphone',
              })
              paratooSentryBreadcrumbMessage(
                `User granted ${permissionType} permission`,
              )
              this.authStore.setPermissionStatus({
                permissionType,
                status: true,
              })
              this.permissionLoading[permissionType] = false
            } catch (error) {
              this.handlePermissionRejection({
                permissionType,
                error,
              })
            }
            break
          }
          case 'notifications': {
            try {
              const result = await Notification.requestPermission()
              if (result === 'granted') {
                this.authStore.setPermissionStatus({
                  permissionType,
                  status: true,
                })
                this.permissionLoading[permissionType] = false
              } else {
                throw new Error(
                  `Permission not granted, prompt was likely ignored. Got result: ${result}`,
                )
              }
            } catch (error) {
              this.handlePermissionRejection({
                permissionType,
                error,
              })
            }
            break
          }
          default: {
            paratooWarnMessage(
              `Programmer error: unregistered case '${permissionType}' when trying to handle permission change`,
            )
          }
        }
      } else if (
        existingPermissionStatus === newVal
      ) {
        paratooSentryBreadcrumbMessage(
          `Tried to set ${permissionType} but it was already set`,
        )
        this.authStore.setPermissionStatus({
          permissionType,
          status: newVal,
        })
        this.permissionLoading[permissionType] = false
      } else {
        this.permissionLoading[permissionType] = false
        paratooSentryBreadcrumbMessage(
          `User wants to disable ${permissionType} permissions, but that's not possible to do programmatically`,
        )
        notifyHandler(
          'warning',
          `${appTitle} is unable to remove ${permissionType} permissions. You must do this yourself in your browser's settings`,
        )
      }
    },
    handlePermissionRejection({ permissionType, error }) {
      paratooWarnHandler(
        `Failed to get ${permissionType}, user likely rejected permission`,
        error,
      )
      this.authStore.setPermissionStatus({
        permissionType,
        status: false,
      })
      this.permissionLoading[permissionType] = false

      const errMsgLower = error.message.toLowerCase()

      //don't handle rejection of location here; `locationProcessStatus` takes care of it
      if (
        [
          'User denied Geolocation',
          'Permission denied',
          //we generate this error
          'Permission not granted, prompt was likely ignored',
        ].some(
          p =>
            errMsgLower.includes(p.toLowerCase()) ||
            p.toLocaleLowerCase().includes(errMsgLower)
        )
      ) {
        notifyHandler(
          'negative',
          `${upperFirst(permissionType)} permission was ignored or outright denied. You will need to set this manually in the browser's settings`
        )
      } else if (
        [
          'Not found',
          'NotFound',
        ].some(
          p =>
            errMsgLower.includes(p.toLowerCase()) ||
            p.toLocaleLowerCase().includes(errMsgLower)
        )
      ) {
        notifyHandler(
          'negative',
          `Cannot set permissions for ${permissionType} as there was an issue getting the device.`,
        )
      }
    },
    locationProcessStatus({ status }) {
      if (status == 'granted') {
        this.ephemeralStore.setLocationOnline(true)
      } else if (status == 'denied') {
        createLocationPermissionRejectionMessage({
          routerInstance: this.$router,
        })
        this.ephemeralStore.setLocationOnline(false)
      } else if (status == 'prompt') {
        createLocationPermissionRejectionMessage({
          routerInstance: this.$router,
        })
        this.ephemeralStore.setLocationOnline(false)
      } else {
        paratooWarnMessage(
          `Fallthrough - unhandled Geolocation permission request status: ${status.state}`,
        )
      }
      
    },
  }
}
</script>