<template>
  <div>
    <div v-if="interventionIDs?.length">
      <paratoo-api-model-crud-ui
        id="pest-fauna-control-activity"
        ref="crud"
        :fields="modelConfig.fields"
        :user-coords="userCoords"
        :row-data-key="modelConfig.rowDataKey"
        :current-prot-id="modelConfig.currentProtId"
        :modelValue="modelValue"
        :collection-survey-flag="false"
        :conditional-fields="conditionalFields"
        :conditional-field-callback="conditionalFieldsCallback"
        @update:modelValue="
          (e) => {
            $emit('update:modelValue', e)
          }
        "
      />
    </div>
    <q-banner rounded class="bg-red text-white" v-else>
      Please Complete Interventions with Intervention Type: Controlling Pest
      Animals.
    </q-banner>
  </div>
</template>

<script>
import {
  asyncCrud,
  createDependentFieldCallback,
  notifyHandler,
  makeModelConfig,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useBulkStore } from '../stores/bulk'
import { isEqual } from 'lodash'

export default {
  inject: ['doc'],
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
    },
    rowDataKey: {
      required: true,
    },
  },
  setup() {
    const { cachedModel } = useApiModelsStore()
    const bulkStore = useBulkStore()

    return {
      cachedModel,
      bulkStore,
    }
  },
  mounted() {
    if (!this.existingInterventions) {
      this.$emit('setStepVisibility', {
        model: 'control-activity-observation',
        hide: true,
      })
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )

    modelConfig.fields.target_species.hidden = true
    modelConfig.fields.control_activity_type.hidden = true

    let existingInterventions = this.cachedModel({
      modelName: 'interventions',
    })
    // we only need CPA (controllling pest animals) type
    existingInterventions = existingInterventions.filter(
      (i) =>
        i.intervention_type?.symbol === 'CPA' || i.intervention_type === 'CPA',
    )
    const interventionIDs = existingInterventions.map((i) => i.intervention_id)
    if (existingInterventions.length) {
      modelConfig.fields = {
        ['interventions']: {
          label: 'Intervention ID',
          rules: [],
          hint: 'Select the Intervention ID that corrosponds to the control activity recorded in the Interventions Module for the project',
          options: existingInterventions.map((o) => ({
            label: o.intervention_id,
            value: o.id,
          })),
          type: 'filteredSelect',
        },
        ...modelConfig.fields,
      }
    }

    const conditionalFields = [
      {
        field: 'target_species',
        dependsOn: 'interventions',
        fieldCb: this.cb,
      },
      {
        field: 'control_activity_type',
        dependsOn: 'interventions',
      },
    ]

    return {
      interventionIDs,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      modelConfig,
      existingInterventions,
    }
  },
  methods: {
    cb(e) {
      if (e.newVal.interventions) {
        if (isEqual(e.oldVal, e.newVal)) return

        this.modelConfig.fields.target_species.hidden = false
        this.modelConfig.fields.control_activity_type.hidden = false
        const selectedIntervention = this.existingInterventions.find(
          (i) => i.intervention_id === e.newVal.interventions.label,
        )
        this.modelConfig.fields.control_activity_type.disable = true
        this.modelConfig.fields.target_species.disable = true
        this.modelConfig.fields.control_activity_type.disable = true
        this.modelConfig.fields.target_species.disable = true
        const targetSpecies = selectedIntervention?.target_species.map((t) =>
          t.other_species?.length > 0
            ? {
                lut: t.lut.symbol,
                other_species: t.other_species,
              }
            : {
                lut: t.lut.symbol,
              },
        )

        const controlType =
          selectedIntervention.pest_control_type?.pest_control_lut

        const dataToUpdate = {
          interventions: selectedIntervention.id,
          control_activity_type: {
            pest_control_lut: controlType?.symbol,
          },
          target_species: targetSpecies,
        }
        if (controlType?.symbol === 'O') {
          dataToUpdate.control_activity_type.pest_control_text =
            selectedIntervention.pest_control_type?.pest_control_text
        }

        if (e.newVal.comments) {
          dataToUpdate.comments = e.newVal.comments
        }

        this.$emit('update:modelValue', dataToUpdate)
      }
    },

    async onSubmitFunc() {
      if (this.interventionIDs.length) {
        return await this.$refs['crud'].onSubmitFunc()
      } else {
        notifyHandler(
          'warning',
          'Please Complete Interventions with Intervention Type: Controlling Pest Animals.',
        )
      }
    },
  },
}
</script>
