<!-- TODO handle temp persisting (#98) (e.g., if start a point and then back to projects screen, that point hasn't been saved; it will only save when we move to the next step). Will also need to persist the 'is center post positioned field by checking if this temp persisted value is not undefined/empty -->

<template>
  <!-- Show generic crud components for this -->
  <div>
    <!-- this section isn't recorded in schema as it's just to check that they have placed the centre post before collecting the 3 points -->
    <p class="q-my-sm text-body1">Is the centre post positioned?</p>
    <q-radio
      v-model="centrePostPositioned"
      :disable="recordExists"
      :val="true"
      label="Yes"
      data-cy="centrePostPositionedYes"
    />
    <q-radio
      v-model="centrePostPositioned"
      :disable="recordExists"
      :val="false"
      label="No"
      data-cy="centrePostPositionedNo"
    />
  </div>
  <paratoo-api-model-crud-ui
    ref="crud"
    :fields="modelConfig.fields"
    :title="''"
    :row-data-key="modelConfig.rowDataKey"
    :main-survey-flag="modelConfig.mainSurveyFlag"
    :current-prot-id="modelConfig.currentProtId"
    :exclude-submit-btn-flag="true"
    :model-value="crudRecord"
    @update:modelValue="updateModelValue"
    @new-record-changed="newRecordChanged"
  />
  <div v-if="centrePostPositioned === true">
    <div>
      <span class="tablet"> Click the help button to see the picture </span>
      <q-icon
        name="help"
        class="cursor-pointer"
        @click="alert = !alert"
        style="font-size: 2em"
      />
      <q-dialog v-model="alert">
        <q-card>
          <q-card-section>
            <img src="~assets/Protocols/photoPoints.png" alt="" />
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
    <div>
      <q-card-section
        v-if="
          (currentPoint >= 1 &&
            currentPoint <= 3 &&
            centrePostLocationRecorded) ||
          modelValue
        "
      >
        <div style="font-size: 1.5em">
          PhotoPoint Position {{ currentPoint }}: {{ protocolVariant }}
        </div>
        <lat-lng-picker
          v-model="currentLocation"
          @update:modelValue="saveBarcode"
          title="Recorded location"
          :initialize-to-current="false"
          data-cy="recordLocation"
        />
        <q-banner v-if="!barcode" class="bg-secondary text-black q-my-md">
          <q-icon name="info" color="info" />
          Record your current location to generate a barcode
        </q-banner>
        <template v-else-if="barcode">
          <p style="margin-bottom: 0"><strong>Barcode text:</strong></p>
          <p
            v-for="[key, value] of Object.entries(JSON.parse(barcode))"
            :key="key"
            style="margin: 0"
          >
            {{ formatFieldName(key) }}: {{ value }}
          </p>
          <br />
          <qrcode-vue
            data-cy="qrcode"
            :value="barcode"
            :size="qrSize"
          ></qrcode-vue
          ><br />
        </template>
      </q-card-section>
    </div>
  </div>
  <paratoo-api-model-crud-ui
    v-if="
      protocolVariant === 'On-device Lite' &&
      ((centrePostLocationRecorded && barcode) || modelValue)
    "
    ref="photos"
    :fields="
      Object.fromEntries(
        Object.entries(photoConfig.fields).filter(([key]) =>
          key.includes('panorama'),
        ),
      )
    "
    :title="''"
    :row-data-key="photoConfig.rowDataKey"
    :main-survey-flag="photoConfig.mainSurveyFlag"
    :current-prot-id="photoConfig.currentProtId"
    :exclude-submit-btn-flag="true"
    :model-value="crudRecord"
    @new-record-changed="newPhotosChanged"
  />
  <div
    v-if="
      (centrePostPositioned === true &&
        currentPoint >= 1 &&
        currentPoint <= 3 &&
        centrePostLocationRecorded &&
        barcode) ||
      modelValue
    "
  >
    <q-btn
      :outline="currentPoint <= 1"
      rounded
      color="primary"
      label="Previous Point"
      :disable="currentPoint <= 1"
      @click="onPreviousPoint"
    ></q-btn>
    <q-btn
      data-cy="nextPoint"
      :outline="currentPoint >= 3"
      rounded
      color="primary"
      label="Next Point"
      :disable="currentPoint >= 3"
      @click="onNextPoint"
    ></q-btn>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'
import {
  makeModelConfig,
  asyncCrud,
  prettyFormatFieldName,
  notifyHandler,
} from '../misc/helpers'
import { find, cloneDeep, isEmpty } from 'lodash'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import LatLngPicker from './latLngPicker.vue'
import { useDataManagerStore } from 'src/stores/dataManager'
import { isEqual } from 'lodash'
export default {
  inject: ['doc'],
  name: 'PhotoPoints',
  components: {
    QrcodeVue,
    'paratoo-api-model-crud-ui': asyncCrud,
    LatLngPicker,
  },
  props: {
    currentProtId: {
      type: Number,
      required: true,
    },
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolVariant: {
      type: String,
      required: true,
    },
    userCoords: {
      type: Object,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    const MC = makeModelConfig(
      'photopoints-survey',
      this.doc,
      this.currentProtId,
      false,
      null,
      this.splitSurveyStep,
    )
    const photoConfig = makeModelConfig(
      'photopoints-survey',
      this.doc,
      this.currentProtId,
      false,
      null,
      this.splitSurveyStep,
    )
    // don't display variant because it's added with THIS custom component
    delete MC.fields['photopoints_protocol_variant']
    delete MC.fields.steps

    MC.fields.plot_centre_post_location.initCurrent = false
    MC.fields.plot_centre_post_location.hidden = true
    const variantMap = {
      'DSLR Full': 'full',
      'Compact Lite': 'lite',
      'On-device Lite': 'ODL',
    }
    const variant = variantMap[this.protocolVariant]

    const recordExists =
      !isEmpty(this.modelValue) ||
      !isEmpty(this.collection['photopoints-survey'])

    for (let p = 1; p <= 3; p++) {
      MC.fields[`photopoint_${p}_panorama`].hidden = true
      photoConfig.fields[`photopoint_${p}_panorama`].hidden = true
    }
    return {
      alert: false,
      currentPoint: 0,
      qrSize: 300,
      confirmDialogVisible: false,
      modelName: 'photopoints-survey',
      modelConfig: MC,
      photoConfig,
      crudRecord: cloneDeep(this.modelValue),
      currentLocation: null,
      barcode: null,
      record: this.collection['photopoints-survey']?.steps || [],
      variant,
      centrePostPositioned: recordExists,
      recordExists,
      displayImg: null,
      centrePostLocationRecorded: null,
    }
  },
  watch: {
    currentPoint(pointNum) {
      this.showAssociatedPhotoInput(this.protocolVariant, pointNum)
      const barcodeContent = this.record[pointNum - 1]?.barcode_content
      this.barcode = barcodeContent
      this.currentLocation = barcodeContent
        ? {
            lat: JSON.parse(barcodeContent).lat,
            lng: JSON.parse(barcodeContent).lng,
          }
        : null
    },
    protocolVariant(variant) {
      this.showAssociatedPhotoInput(variant, this.currentPoint)
    },
    modelValue(val) {
      this.crudRecord = val
    },
    centrePostPositioned(val) {
      this.displayImg = val
      this.modelConfig.fields.plot_centre_post_location.hidden = !val
      this.showAssociatedPhotoInput(this.protocolVariant, this.currentPoint)
    },
    barcode(val) {
      this.photoConfig.fields[
        `photopoint_${this.currentPoint}_panorama`
      ].hidden = !val
    },
  },
  mounted() {
    this.currentPoint = 1
    this.showAssociatedPhotoInput(this.protocolVariant, this.currentPoint)
  },
  setup(props) {
    const { collectionGetForProt } = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const collection = collectionGetForProt({
      protId: props.currentProtId,
    })
    const { currentPlotLabel } = useDataManagerStore()
    return {
      collection,
      apiModelsStore,
      currentPlotLabel,
    }
  },
  methods: {
    newPhotosChanged({ newRecord, oldRecord }) {
      if (isEqual(newRecord, oldRecord)) return
      const photo = [`photopoint_${this.currentPoint}_panorama`]
      this.crudRecord = {
        ...this.crudRecord,
        [photo]: newRecord[photo],
      }
    },
    newRecordChanged({ newRecord, oldRecord }) {
      if (isEqual(newRecord, oldRecord)) return
      this.crudRecord = newRecord
      if (newRecord?.plot_centre_post_location) {
        this.centrePostLocationRecorded = true
      }
    },
    async onSubmitFunc() {
      const res = await this.$refs['crud'].onSubmitFunc()
      const photos = await this.$refs['photos']?.onSubmitFunc()
      if (res) {
        const nonEmptySteps = this.record?.filter((step) => !isEmpty(step))
        if (!nonEmptySteps || nonEmptySteps.length < 3) {
          notifyHandler('negative', 'Require 3 photopoint positions')
          return false
        }
      }
      if (photos && this.protocolVariant === 'On-device Lite') {
        const haveAtLeastOnePanorama = Object.fromEntries(
          Object.entries(this.crudRecord).filter(([key]) =>
            key.includes('panorama'),
          ),
        )
        const expectedKeys = [
          'photopoint_1_panorama',
          'photopoint_2_panorama',
          'photopoint_3_panorama',
        ]

        const keysWithMissingOrEmptyValues = expectedKeys.filter(
          (key) =>
            !(key in haveAtLeastOnePanorama) ||
            haveAtLeastOnePanorama[key].length === 0,
        )

        const numbers = keysWithMissingOrEmptyValues.map(
          (key) => key.match(/\d+/)[0],
        )
        const message = `Missing photos for point ${numbers.join(' and ')}`
        if (numbers.length > 0) {
          notifyHandler('negative', message)
          return false
        }
      }
      return res
    },
    onNextPoint() {
      this.currentPoint++
    },
    onPreviousPoint() {
      this.currentPoint--
    },
    showAssociatedPhotoInput(protocolVariant, step) {
      // show panorama field if variant is "On-device Lite"
      // and the step matches the attribute name
      let accModelConfig = cloneDeep(this.photoConfig)
      // iterate through panorama fields
      for (let p = 1; p <= 3; p++) {
        const setHidden = this.displayImg
          ? protocolVariant !== 'On-device Lite' || p !== step
          : true
        accModelConfig.fields[`photopoint_${p}_panorama`].hidden = setHidden
      }
      this.photoConfig = accModelConfig
    },
    /**
     * Formats a field name using the `prettyFormatFieldName()` helper function. We must
     * wrap this helper in a method as it cannot be directly accessed from HTML
     *
     * @param {String} field a field name
     * @returns {String} the formatted field name
     */
    formatFieldName(field) {
      return prettyFormatFieldName(field)
    },
    barcodeGen() {
      if (!this.currentLocation) return null
      // use protocol number to find associated plot-location in bulk/collection
      // we can resolve the ID to cached api-models if they are using an existing one

      let plotLocationName = {}
      let plotVisitStartDate = undefined

      if (
        this.collection['plot-layout'].id &&
        Number.isInteger(this.collection['plot-layout'].id)
      ) {
        // resolving existing ID from the api-models
        // grab all plot locations and find the relevant one
        const allPlots = this.apiModelsStore.cachedModel({
          modelName: 'plot-layout',
        })
        const targetPlot = find(allPlots, (e) => {
          return this.collection['plot-layout'].id === e.id
        })

        plotLocationName = targetPlot.plot_selection['plot_label']
      } else {
        plotLocationName = this.currentPlotLabel
      }

      if (
        this.collection['plot-visit'].id &&
        Number.isInteger(this.collection['plot-visit'].id)
      ) {
        //resolve plot visit ID to the start date
        plotVisitStartDate = this.apiModelsStore
          .cachedModel({ modelName: 'plot-visit' })
          .find((o) => o.id === this.collection['plot-visit'].id).start_date
      } else {
        plotVisitStartDate = this.collection['plot-visit'].start_date
      }
      return JSON.stringify({
        plot_name: plotLocationName,
        visit_start_date: plotVisitStartDate,
        photopoint_position: this.currentPoint,
        lat: this.currentLocation.lat,
        lng: this.currentLocation.lng,
      })
    },
    saveBarcode() {
      this.barcode = this.barcodeGen()
      if (!this.record[this.currentPoint - 1] && this.barcode) {
        this.record[this.currentPoint - 1] = { barcode_content: this.barcode }
      }
    },
    updateModelValue(e) {
      e.steps = this.record
      e.photopoints_protocol_variant = this.variant
      this.$emit('update:modelValue', e)
    },
  },
}
</script>
<style scoped>
.tablet {
  font-size: 1rem;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .tablet {
    font-size: 1.5rem;
  }
}
</style>
