<!-- Custom component to handle genetic vouchering protocol. We use a custom component
as additional attributes need to be added to the model config -->
<template>
  <div>
    <!-- need to also check `floristicsArrayIndex`, so that we don't fallback to the
      error message when doing PTV as submodule in Floristics -->
    <paratoo-api-model-crud-ui
      v-if="floristicsVouchers?.length || floristicsArrayIndex !== null"
      ref="crud"
      :fields="fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="false"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :collection-survey-flag="modelConfig.collectionSurveyFlag"
      :protocol-variant="modelConfig.protocolVariant"
      @update:modelValue="(e) => {$emit('update:modelValue', e)}"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :maximum="modelConfig.maximum"
    />
    <div v-else>
      <NoVouchersErrMsg/>
    </div>
  </div>
</template>
<script>
import {
  asyncCrud,
  getVouchersForProjectArea,
  notifyHandler,
  createDependentFieldCallback,
  makeModelConfig,
  changeModelConfigFieldOrder,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import { useDataManagerStore } from 'src/stores/dataManager'
import NoVouchersErrMsg from './NoVouchersErrMsg.vue'

export default {
  inject: ['doc'],
  name: 'PlantTissueVouchering',
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    NoVouchersErrMsg,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      type: [Array, Object],
      required: false,
      default: () => [],
    },
    excludeSubmitBtnFlag: {
      type: Boolean,
      required: false,
      default: false,
    },
    floristicsArrayIndex: {
      type: Number,
      required: false,
      default: null,
    },
  },
  async setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const dataManager = useDataManagerStore()
    const floristicsVouchers = await getVouchersForProjectArea()
    return {
      apiModelsStore,
      bulkStore,
      dataManager,
      floristicsVouchers,
    }
  },
  data() {
    const currCollection = this.bulkStore.collectionGetForProt({ protId: this.protocolId })
    // get protocol variant from survey in bulkstore
    const workFlows = Object.keys(currCollection)
    const survey = workFlows.find((key) => key.includes('survey'))
    const floristicsVoucherVariant = currCollection[survey]['protocol_variant']

    const rawModelConfig = makeModelConfig(
      'floristics-veg-genetic-voucher',
      this.doc,
      this.protocolId,
    )

    let modelConfig = {
      ...rawModelConfig,
      collectionSurveyFlag: true,
    }

    //add some custom config
    modelConfig.fields = {
      // FIXME gets uploaded to core, but is not in schema.
      has_replicate: {
        label: 'Have you collected replicates?',
        rules: [],
        type: 'boolean',
      },
      ...modelConfig.fields,
    }
    modelConfig.fields.replicate.type = 'voucher_barcode'
    modelConfig.fields.replicate.multi = true
    // modelConfig.fields.replicate.rules = [val => val?.length > 4 || 'Minimum 5 per voucher']
    modelConfig.fields.min_distance_between_replicates.hidden = true

    console.log('modelConfig: ', modelConfig)

    if (this.floristicsArrayIndex !== null) {
      //submodule cases
      //only allow one 'ob' (PTV) per floristics voucher
      modelConfig.maximum = 1

      // we only want this dropdown list when doing it as a standalone protocol
      modelConfig.fields.floristics_voucher.hidden = true
      modelConfig.fields.floristics_voucher.required = false
      modelConfig.fields.floristics_voucher.rules = []
    }

    modelConfig.fields = changeModelConfigFieldOrder(modelConfig, [
      'floristics_voucher',
      'has_replicate',
      'min_distance_between_replicates',
      'replicate',
      'date_time',
    ])

    const conditionalFields = [
      {
        field: 'min_distance_between_replicates',
        dependsOn: 'has_replicate',
      },
      {
        field: 'has_replicate',
        fieldCb: this.handleReplicateCb,
      },
    ]

    return {
      modelConfig,
      fields: modelConfig.fields,
      floristicsVoucherVariant: floristicsVoucherVariant,
      floristicsField: `floristics_voucher_${floristicsVoucherVariant}`,
      expansionItems: [true],
      record: [{}],
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    /**
     * Handles toggling the `replicate` barcode reader to multi (if `has_replicate` is
     * true) and disabling `has_replicate`
     * 
     * Showing/hiding `min_distance_between_replicates` handled by generic helper
     * `createDependentFieldCallback()`
     * 
     * CustomRules are used for enforcing number of replicates
     */
    handleReplicateCb({ newVal, inputDefs }) {
      let hasReplicateInputDef = inputDefs.find(o => o.model === 'has_replicate')
      let replicateBarcodeInputDef = inputDefs.find(o => o.model === 'replicate')

      if (newVal['has_replicate']) {
        replicateBarcodeInputDef.multi = true
        
        //only add the hint if the box is checked
        hasReplicateInputDef.hint = 'Record a barcode for each replicate'
      } else {
        replicateBarcodeInputDef.multi = false
        
        hasReplicateInputDef.hint = null
      }

      // disable "Have you collected replicates?" checkbox if current record has more than one rep
      if (Array.isArray(newVal['replicate'])) {
        hasReplicateInputDef.disable =
          newVal['replicate']?.length > 1
      } else {
        hasReplicateInputDef.disable = false
      }
    },
    async onSubmitFunc() {
      console.log('PTV onSubmitFunc this.savedRecord: ', this.savedRecord)
      if (!this.savedRecord) {
        notifyHandler(
          'negative',
          'No data has been collected',
        )
        return false
      }

      const missingFloristics = []
      const missingBarcode = []
      if (!this.savedRecord) return false
      this.savedRecord.forEach((voucher, index) => {
        if (
          !voucher?.floristics_voucher &&
          (
            !voucher?.floristics_voucher?.voucher_full ||
            !voucher?.floristics_voucher?.voucher_lite
          )
        ) {
          missingFloristics.push(`Plant tissue voucher ${index + 1}`)
        }
        if (voucher && !voucher['replicate']) {
          missingBarcode.push(`Plant tissue voucher ${index + 1}`)
        }
      })
      if (missingFloristics.length > 0) {
        notifyHandler(
          'negative',
          `Missing floristics voucher(s) in ${missingFloristics.toString()}`,
        )
        return false
      }
      if (missingBarcode.length > 0) {
        notifyHandler(
          'negative',
          `Missing floristics barcode(s) in ${missingBarcode.toString()}`,
        )
        return false
      }

      return true
    },
    addVoucher() {
      this.record.push({})
      this.expansionItems.push(true)
    },
    deleteVoucher(index) {
      this.record.splice(index, 1)
    },
  },
  computed: {
    savedRecord() {
      const protId = this.protocolId
      const collectionRecord = this.bulkStore.collectionGetForProt({ protId })
      const voucherRecord = collectionRecord['floristics-veg-genetic-voucher']
      return voucherRecord
    },
  },
  watch: {
    record: {
      handler() {
        const nonEmptyRecords = this.record.filter(
          (voucher) => Object.keys(voucher).length > 0,
        )
        this.$emit('update:modelValue', nonEmptyRecords)
      },
      deep: true,
    },
  },
}
</script>
