<template>
  <div v-if="specifiedDoingPtv">
    <q-separator class="q-my-md"></q-separator>
    <q-btn
      v-if="!isSubmittingFloristics"
      @click="openPTV"
      rounded
      size="md"
      outline
      style="color: primary"
      data-cy="openPtvModal"
      >plant tissue voucher ({{ localRecord?.length }})</q-btn
    >
    <q-spinner v-else color="primary" size="5em" class="q-pa-md" />
    <q-dialog
      v-model="doingVouchering"
      maximized
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card>
        <q-card-actions align="right">
          <q-btn
            flat
            label="Back"
            color="primary"
            wrap
            class="q-ml-sm"
            v-close-popup
          />
        </q-card-actions>
        <q-card-section class="dialog_title">
          <h6 class="text-h6 q-my-xs q-mx-auto">
            Plant tissue voucher {{ protocolVariant }}
          </h6>
        </q-card-section>
        <q-card-section>
          <Suspense>
            <PlantTissueVouchering
              v-if="doingVouchering"
              :protocol-id="protocolId"
              :model-value="localRecord"
              :floristics-array-index="floristicsArrayIndex"
              @update:modelValue="updateVouchering"
            />
          </Suspense>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            flat
            label="Back"
            color="primary"
            wrap
            class="q-ml-sm"
            v-close-popup
            data-cy="closePtvModal"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-separator class="q-my-md"></q-separator>
  </div>
</template>
<script>
import cloneDeep from 'lodash/cloneDeep'
import { notifyHandler } from 'src/misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import { useAuthStore } from 'src/stores/auth'
import PlantTissueVouchering from './PlantTissueVouchering.vue'

export default {
  components: {
    PlantTissueVouchering,
  },
  props: {
    /** protocol id and variant of floristics but not PTV */
    protocolId: {
      type: Number,
      required: true,
    },
    protocolVariant: {
      type: String,
      required: true,
    },
    ptvProtocolVariant: {
			type: String,
      required: true,
		},
    /** floristics unique id */
    modelValue: {
      required: true,
    },
    floristicsArrayIndex: {
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const authStore = useAuthStore()
    return {
      apiModelsStore,
      bulkStore,
      authStore,
    }
  },
  data() {
    const plantVoucheringId = this.apiModelsStore.cachedModel({ modelName: 'protocol' })
      .find(
        (o) =>
          o.name === `Plant Tissue Vouchering - ${this.ptvProtocolVariant}`,
      )?.id
    return {
      doingVouchering: false,
      plantVoucheringId,
      //doesn't matter what PTV variant we're doing, it will relate to the floristics
      //voucher's variant
      floristicsField: `voucher_${this.protocolVariant}`,
      isSubmittingFloristics: false,
    }
  },
  computed: {
    /**
     * return and create a unique id to link floristics and PTV if not exist
     */
    floristicsUniqueId() {
      const unique_id = Math.floor(Date.now() / 1000)
      return this.modelValue ?? unique_id.toString()
    },
    existingGeneticVoucherData() {
      const result = this.bulkStore.collectionGetForProt({ protId: this.plantVoucheringId })
      if (!result) {
        return []
      }
      const relatedPTV = result['floristics-veg-genetic-voucher']?.filter(
        (record) => record.floristics_voucher[this.floristicsField] === this.floristicsUniqueId,
      )
      if (!relatedPTV) {
        return []
      }
      return cloneDeep(relatedPTV)
    },
    localRecord() {
      return (
        this.bulkStore.tmpPTVData[this.floristicsUniqueId] ||
        this.existingGeneticVoucherData
      )
    },
    specifiedDoingPtv() {
    	const currCollection = this.bulkStore.collectionGetForProt({ protId: this.protocolId })
    	return currCollection[`floristics-veg-survey-${this.protocolVariant}`]?.collect_ptv_submodule
    }
  },
  methods: {
    /**
     * This function is used to update floristics_voucher_ field of PTV
     * @param {Array} newDataArray
     * @returns Array with updated floristics_voucher.voucher_<this.protocolVariant> field
     */
    updateFloristicField(newDataArray) {
      const newRecord = newDataArray.map((record) => {
        Object.assign(record, {
          floristics_voucher: {
            [this.floristicsField]: this.floristicsUniqueId,
          },
        })
        return record
      })
      // we remove the old data of the editing PTV with the new one
      let clonedPTVdata = cloneDeep(this.existingGeneticVoucherData)
      clonedPTVdata = clonedPTVdata.filter(
        (record) => record.floristics_voucher[this.floristicsField] !== this.floristicsUniqueId,
      )
      clonedPTVdata = clonedPTVdata.concat(newRecord)
      return clonedPTVdata
    },
    // emit to api-crud-model the floristics unique Id
    saveFloristicsUniqueIdToBulk() {
      if (!this.modelValue) {
        this.$emit('update:modelValue', this.floristicsUniqueId)
      }
    },
    updateVouchering(newVal) {
      const updatedRecord = this.updateFloristicField(newVal)
      this.bulkStore.tmpPTVData[this.floristicsUniqueId] = updatedRecord
      this.saveFloristicsUniqueIdToBulk()
      this.bulkStore.setDoingSubmodule(
        this.protocolId,
        this.plantVoucheringId,
        this.ptvProtocolVariant === 'Standard' ? 'lite' : 'full',
        [
          {
            modelName: 'floristics-veg-genetic-voucher',
          },
        ],
      )

      notifyHandler(
        'info',
        'Please submit the floristics voucher to save changes associated with plant tissue vouchers.',
      )
    },
    capitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    async openPTV() {
      // this.isSubmittingFloristics = true
      // const result = await this.submitFloristics(true)
      // this.isSubmittingFloristics = false
      // if (!result) return
      this.doingVouchering = true
    },
  },
}
</script>
<style scoped>
.dialog_title {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
