<!-- select existing or create a new plot location -->
<!-- TODO: create superclass for PlotLocation and PlotVisit to reduce code duplication -->
<template>
  <div style="margin-top: 2em">
    <q-banner
      rounded
      class="bg-red text-white"
      v-if="isEmpty(enhancedPastRecords) && protocolVariant === 'lite'"
    >
      The current plot '{{ currentPlotLabel }}' has no past record. Please complete the Enhanced protocol first.
    </q-banner>
    <q-banner
      rounded
      class="bg-red text-white"
      v-else-if="!isEmpty(enhancedPastRecords) && protocolVariant === 'full'"
    >
      The current plot '{{ currentPlotLabel }}' already has a record for the Enhanced protocol, so this must be a revisit. Only the Standard protocol can be completed for re-visits.
    </q-banner>
    <template v-else>
      <template v-if="protocolVariant === 'lite'">
        <q-btn
          label="Past record(s)"
          color="secondary"
          @click="showPastRecord = true"
          data-cy="pastRecordBtn"
        />
        <q-dialog v-model="showPastRecord">
          <q-card >
            <q-carousel
              v-model="pastRecordCarousel"
            >
              <q-carousel-slide
                v-for="(value, key) in pastRecordSummary"
                :key="key"
                :name="key"
              >
                <q-card-section class="q-pa-none">
                  <q-table
                    dense
                    wrap-cells
                    :rows="value.rows"
                    :columns="pastRecordTableCols"
                    row-key="name"
                    :rows-per-page-options="[10, 20]"
                    :data-cy="`pastRecordTable_${key}`"
                  />
                </q-card-section>
              </q-carousel-slide>
            </q-carousel>
            
            <q-card-section>
              <div class="row justify-center">
                <q-btn
                  v-for="option in pastRecordCarouselNavOptions"
                  :key="option.value"
                  :label="option.label"
                  :color="pastRecordCarousel === option.value ? 'primary' : 'secondary'"
                  dense
                  @click="pastRecordCarousel = option.value"
                  :data-cy="`pastRecordCarouselNavBtn_${option.value}`"
                />
              </div>
            </q-card-section>
            <q-card-section>
              <q-btn
                flat
                label="Close"
                color="primary"
                v-close-popup
                data-cy="pastRecordDialogClose"
              />
            </q-card-section>
          </q-card>
        </q-dialog>
      </template>
      <paratoo-api-model-crud-ui
        ref="crud"
        :fields="fields"
        :title="''"
        :current-prot-id="protocolId"
        :modelValue="localRecord"
        :main-survey-flag="true"
        :conditional-fields="conditionalFields"
        :conditional-field-callback="conditionalFieldsCallback"
        @new-record-changed="newRecordChanged"
        @update:modelValue="updateStore"
      />
    </template>
  </div>
</template>

<script>
import {
  asyncCrud,
  generateSlopeClassFromSlopeDegree,
  isEqualObjects,
  createDependentFieldCallback,
  prettyFormatDateTime,
  makeModelConfig,
  paratooWarnMessage,
} from '../misc/helpers'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from 'src/stores/bulk'
import { cloneDeep, isEmpty } from 'lodash'
import { useDataManagerStore } from '../stores/dataManager'
import {
  potentialOtherValues,
} from 'src/misc/constants'
import { useAuthStore } from '../stores/auth'

export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    protocolVariant: {
      type: String,
      required: true,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup(props) {
    const {
      protIdFromModelName,
      resolvedLutSymbol,
    } = useApiModelsStore()
    const {
      collectionGetForProt,
      getPlotLayoutId,
      getStaticPlotContext,
    } = useBulkStore()
    const {
      cachedModel,
      surveyDataFromPlot,
      currentPlotLabel,
    } = useDataManagerStore()

    const { getCurrentContext } = useAuthStore()

    const modelValue = collectionGetForProt({ protId: props.protocolId })[
      props.modelName
    ]

    return {
      cachedModel,
      modelValue,
      protIdFromModelName,
      resolvedLutSymbol,
      surveyDataFromPlot,
      getPlotLayoutId,
      currentPlotLabel,
      getStaticPlotContext,
      getCurrentContext,
    }
  },
  wathch: {
    modelValue: {
      handler(newValue) {
        this.localRecord = newValue
      },
    },
  },
  data() {
    const { fields } = makeModelConfig(
      this.modelName,
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )

    // some field names need to be changed due to change in documentation
    // but we don't want change it in the schema
    fields.veg_growth_stage.label = 'Growth stage *'

    // change type to the custom component name as we want to conditionally render it
    fields.year_of_fire.type = 'year_of_fire'

    const localRecord = cloneDeep(this.modelValue) || {}

    //there should only be 1 enhanced record for each plot (is asserted in the template)
    const plotId = this.getPlotLayoutId
    const enhancedPastRecords = this.surveyDataFromPlot({
      modelName: 'plot-description-enhanced',
      plotLayoutId: plotId?.temp_offline_id
        ? plotId.temp_offline_id
        : plotId,
    })

    if(enhancedPastRecords.length > 1) {
      const msg = `More than 1 enhanced records found with ${JSON.stringify(this.getCurrentContext)}, ${JSON.stringify(this.getStaticPlotContext)}, will return the latest one.`
      paratooWarnMessage(msg)
    }

    //there will potentially be many standard records for the plot
    const standardPastRecords = this.surveyDataFromPlot({
      modelName: 'plot-description-standard',
      plotLayoutId: plotId?.temp_offline_id
        ? plotId.temp_offline_id
        : plotId,
    })

    const pastRecordSummary = {
      initialVisit: {
        // after updating the data in strapi, the length of enhancedPastRecords will increase after PREPARE FOR OFFLINE(get the updated data. so always return the last element which is the latest data)
        rows: this.makePastRecordSummary(
          enhancedPastRecords.at(-1),
          fields,
        ),
      },
    }

    const pastRecordCarouselNavOptions = [
      { label: 'Initial Visit', value: 'initialVisit' },
    ]
    
    for (const [index, standardPastRecord] of standardPastRecords.entries()) {
      pastRecordSummary[`revisit_${index+1}`] = {
        rows: this.makePastRecordSummary(
          standardPastRecord,
          fields,
        ),
      }
      pastRecordCarouselNavOptions.push({
        label: `Revisit ${index + 1}`,
        value: `revisit_${index+1}`,
      })
    }

    fields.plant_species_life_stage.modelConfig.fields.mass_flowering_event.hidden = true
    const conditionalFields = [
      {
        field: 'mass_flowering_event',
        dependsOn: 'life_stage',
        dependsOnSelection: ['FLO'],
      }
    ]
    const customRule = (val) => {
      if (val === null || val === '' || val === undefined) {
        return 'This field is required'
      }
      return true
    }
    
    const label = fields.aspect?.label
    if (this.protocolVariant === 'full') {
      fields.slope_class.label = 'Slope (class)'
      fields.slope_class.disable = true

      fields.coarse_fragments.modelConfig.fields.lithology.type =
        'multiLutSelect'

      fields.aspect.rules.push(customRule)
      fields.aspect.label = label + ' *'
    }

    const pastRecordTableCols = [
      {
        name: 'field',
        align: 'center',
        label: 'Attributes',
        field: 'field',
      },
      {
        name: 'value',
        align: 'center',
        label: 'Value',
        field: 'value',
      },
    ]

    return {
      showPastRecord: false,
      fields,
      localRecord,
      enhancedPastRecords,
      pastRecordSummary,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      customRule,
      label,
      pastRecordTableCols,
      pastRecordCarousel: 'initialVisit',
      pastRecordCarouselNavOptions,
    }
  },
  methods: {
    isEmpty(obj) {
      return isEmpty(obj)
    },
    newRecordChanged({ newRecord, oldRecord }) {
      // if no changes found
      if (isEqualObjects(newRecord, oldRecord)) return

      // if slope is changed
      if (newRecord['slope'] !== oldRecord['slope']) {
        let updatedNewRecord = structuredClone(newRecord)
        // auto-fill `slope_class` from `slope`
        Object.assign(updatedNewRecord, {
          slope_class: generateSlopeClassFromSlopeDegree(newRecord.slope),
        })
        // update values
        this.localRecord = updatedNewRecord
      }
      if (this.protocolVariant === 'full') {
        if (newRecord['slope_not_uniform']) {
          this.fields.aspect.rules = this.fields.aspect.rules.filter(
            (rule) => rule?.name !== 'customRule',
          )
          this.fields.aspect.label = this.label
        } else {
          this.fields.aspect.rules.push(this.customRule)
          this.fields.aspect.label = this.label + ' *'
        }
      }
    },
    /**
     * Called from parent to attempt to save currently entered data (e.g. when changing step)
     */
    async onSubmitFunc() {
      if (!this.$refs['crud']) return false
      return await this.$refs['crud'].onSubmitFunc()
    },
    updateStore(newVal) {
      this.$emit('update:modelValue', structuredClone(newVal))
    },
    makePastRecordSummary(record, fields) {
      console.log('fields:', fields)
      if (!record) return []
      // TODO: includes the components in the summary?
      const componentFields = [
        'coarse_fragments',
        'land_use_history',
        'plant_species_life_stage',
      ]

      const generalRows = []
      // non nested fields
      //TODO should strip the '*' and units from required fields (they're appended to the label so we'll need a 'raw' label without these appended)
      for (const [field, config] of Object.entries(fields)) {
        if (componentFields.includes(field)) continue
        // normal input field
        let value = record[field] || 'Not recorded'

        if (field === 'year_of_fire') {
          value = record[field] || 'Unknown'
        } else if (config.type === 'datetime') {
          if (record[field]) {
            value = prettyFormatDateTime(record[field]).toString()
          } else {
            value = null
          }
        } else if (
          config.lutFlag ||
          config.type === 'filteredSelectWithCustomInput'
        ) {
          // for lut
          if (record[field]?.label) {
            //simple LUT case
            value = record[field].label
          } else {
            //luts from offline or custom LUTs (online and offline)
            let resolvedLut = null
            if (record[field]?.[config?.select?.fieldName]?.label) {
              //custom lut that has been submit (not collected offline / waiting in the
              //queue)
              value = record[field][config.select.fieldName].label
              resolvedLut = value
            } else {
              //resolve offline-collected collection's LUTs (custom and normal)
              let modelName = config.optionsKey
              let symbol = record[field]

              if (config.type === 'filteredSelectWithCustomInput') {
                modelName = config.select.optionsKey
                symbol = record[field]?.[config.select.fieldName]
              }

              resolvedLut = this.resolvedLutSymbol({
                symbol: symbol,
                modelName: modelName,
                suppressWarnings: true,
              })
              value = resolvedLut
            }

            if (potentialOtherValues.includes(resolvedLut?.toLowerCase())) {
              value += ` (${record[field][config.input.fieldName]})`
            }
          }
        }

        const row = {
          field: config.label,
          value: value,
        }

        generalRows.push(row)
      }

      return cloneDeep(generalRows)
    },
  },
}
</script>
