<!-- TODO: JSDoc and comments -->

<template>
  <div>
    <div>
      <p class="q-my-sm text-body1">Would you like create a Fauna Plot?</p>
      <q-radio
        color="secondary"
        v-model="createFaunaPlot"
        :val="true"
        label="Yes"
        data-cy="faunaPlotYes"
      />
      <q-radio
        color="secondary"
        v-model="createFaunaPlot"
        :val="false"
        label="No"
        data-cy="faunaPlotNo"
      />
    </div>
    <paratoo-api-model-crud-ui
      v-if="createFaunaPlot"
      ref="crud"
      :model-value="modelValue"
      :fields="fields"
      :title="`Create New ${title}`"
      :row-data-key="modelName"
      :current-prot-id="protocolId"
      :user-coords="userCoords"
      @update:modelValue="handleObservationSubmission"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  changeModelConfigFieldOrder,
  createDependentFieldCallback,
  makeModelConfig,
} from '../misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
import { ref, inject } from 'vue'

export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    currProt: {
      type: Number,
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    modelName: {
      type: String,
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const currCollection = useBulkStore().collectionGetForProt({
      protId: props.protocolId,
    })

    const doc = inject('doc')?.value

    const modelConfig = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )
    // hide all other fields as we only want to update the fauna plot point
    for (const field in modelConfig.fields) {
      if (field === 'fauna_plot_not_walked') continue
      modelConfig.fields[field].hidden = true
    }
    // need a to add these fields otherwise the select existing will be removed
    const specialFields = ['id', 'plot_selection', 'markedPoints']
    for (const field of specialFields) {
      modelConfig.fields[field] = { hidden: true }
    }
    modelConfig.fields.fauna_plot_point = {
      label: 'Fauna Plot Point',
      rules: [],
      type: 'plot-layout-gps',
    }
    const fields = ref(
      changeModelConfigFieldOrder(
        modelConfig,
        ['fauna_plot_not_walked', 'fauna_plot_point'],
        true,
      ),
    )

    const plotPointRule = (val) =>
      val == null ||
      val.length === 4 ||
      'You need mark all 4 points of the fauna plot'

    const conditionalFields = [
      {
        field: 'fauna_plot_point',
        fieldCb: function ({ newVal }) {
          if (newVal?.fauna_plot_point?.length) {
            fields.value.fauna_plot_not_walked.disable = true
          }
        },
      },
    ]
    return {
      fields,
      title: modelConfig.title,
      plotPointRule,
      currCollection,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback()
    }
  },
  data() {
    let createFaunaPlot
    if (
      Object.keys(this.currCollection).includes('plot-layout') &&
      Object.keys(this.currCollection['plot-layout']).includes(
        'fauna_plot_point',
      ) &&
      Array.isArray(this.currCollection['plot-layout'].fauna_plot_point)
    ) {
      createFaunaPlot = true
    } else {
      createFaunaPlot = false
    }
    return {
      createFaunaPlot,
    }
  },
  methods: {
    handleObservationSubmission(body) {
      for (const key in body) {
        if (body[key]?.value) {
          body[key] = body[key].value
        }
      }
      this.$emit('update:modelValue', body)
    },
    async onSubmitFunc() {
      if (this.createFaunaPlot) {
        return await this.$refs.crud.onSubmitFunc()
      } else return true
    },
  },
}
</script>

<style>
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5) and (pointer: coarse) {
  .size,
  .text-h5 {
    font-size: 2rem;
  }
}
</style>
