<template>
  <q-card flat>
    <!-- need to give `scroll-margin-top` so that `scrollIntoView` will not scroll just
      before this element. There might be a better way to set this dynamically based on
      the screen, as this element might not always be 56px height -->
    <q-select
      ref="scrollToRef"
      v-model="selectedTransect"
      :options="transectOptions"
      data-cy="transect_number"
      emit-value
      map-options
      :label="
        protocolType === 'within' ? 'Transect start point' : 'Transect ID'
      "
      style="scroll-margin-top: 56px"
    />
    <q-select
      v-if="selectedTransect && protocolType === 'off'"
      v-model="selectedSetupId"
      :options="setupIdOptions"
      data-cy="setup_ID"
      emit-value
      map-options
      :label="'Setup ID'"
    />
    <!-- `selectedTransectCoords` is derived from the `transectLines`, which is
      within-plot only -->
    <Map
      v-if="selectedTransect && selectedTransectCoords?.length"
      class="q-my-md"
      :mapHeightPercentage="0.5"
      :model-zoom="18"
      :initToPlotCenter="true"
      :plotPoints="selectedTransectCoords"
    />
    <crud
      v-if="protocolType === 'within' ? !!selectedTransect : !!selectedSetupId"
      ref="transect"
      :modelValue="selectedTransectRecord"
      :title="
        protocolType === 'within'
          ? `Transect: ${selectedTransect || 'not selected'}`
          : `Survey setup: ${selectedSetupId || 'not selected'}`
      "
      :fields="transectFields"
      :current-prot-id="protocolId"
      :exclude-submit-btn-flag="false"
      :submit-btn-label="
        selectedTransectRecord?.transect_start_date_time !== undefined
          ? 'Update Transect Start'
          : 'Start Transect'
      "
      @update:modelValue="updateTransect"
    />
    <template
      v-if="
        selectedTransectRecord && Object.keys(selectedTransectRecord).length > 1
      "
    >
      <q-select
        v-if="quadratSelectShouldShow()"
        v-model="selectedQuadrat"
        :options="quadratOptions"
        emit-value
        map-options
        :use-input="quadratOptions?.length > 1"
        @filter="filterFn"
        data-cy="quadrat_number"
        label="Quadrat Number"
      />
      <crud
        v-if="selectedQuadrat"
        ref="quadrat"
        :title="`Quadrat ${selectedQuadrat}`"
        :fields="quadratFields"
        :current-prot-id="protocolId"
        :model-value="selectedQuadratRecord"
        :conditional-fields="conditionalFields"
        :conditional-field-callback="conditionalFieldsCallback"
        @update:modelValue="updateQuadrat"
      />
      <div class="row justify-center" v-if="selectedQuadrat">
        <q-btn
          v-if="
            selectedTransectRecord?.quadrat?.length > 0 && selectedQuadrat !== 1
          "
          label="Previous Quadrat"
          color="secondary"
          class="col-3 q-mx-sm"
          @click="nextQuadrat(-1)"
        />
        <q-btn
          :label="
            selectedQuadrat === noQuadratRequired
              ? 'Save Quadrat Data'
              : 'Save & Next Quadrat'
          "
          color="primary"
          class="col-3 q-mx-sm"
          data-cy="nextPointBtnLabel"
          @click="nextQuadrat(1)"
        />
      </div>
    </template>
    <q-card-section v-if="localRecord?.length">
      <q-table
        :dense="$q.screen.lt.md"
        :grid="$q.screen.xs"
        flat
        bordered
        title="Summary"
        :columns="tableColumns"
        :rows="modelValue"
        row-key="transect_number"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="transect_number" :props="props">
              {{ props.row.transect_number }}
            </q-td>
            <q-td key="setup_ID" :props="props">
              {{ props.row.setup_ID }}
            </q-td>
            <q-td
              v-if="props?.row?.transect_line"
              key="transect_line"
              :props="props"
            >
              {{ props.row.transect_line }}
            </q-td>
            <q-td key="number_of_quadrat" :props="props">
              {{ props.row.quadrat?.length || 0 }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </q-card-section>
    <crud
      v-if="canEndTransect"
      ref="endTransect"
      :modelValue="selectedTransectRecord"
      :title="''"
      :fields="endTransectFields"
      :current-prot-id="protocolId"
      :exclude-submit-btn-flag="false"
      :submit-btn-label="
        selectedTransectRecord?.transect_end_date_time !== undefined
          ? 'Update Transect End'
          : 'End Transect'
      "
      @update:modelValue="updateTransect"
    />
  </q-card>
</template>
<script>
import { useBulkStore } from 'src/stores/bulk'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { useDataManagerStore } from 'src/stores/dataManager'
import Map from 'src/components/Invertebrate/InvertebrateMap.vue'
import thirdSetConditionalFields from 'src/misc/thirdSetConditionalFields'

import {
  asyncCrud,
  notifyHandler,
  createDependentFieldCallback,
  determineModeOfOperation,
  paratooErrorHandler,
  makeModelConfig,
} from 'src/misc/helpers'
import cloneDeep from 'lodash/cloneDeep'
export default {
  inject: ['doc'],
  components: { crud: asyncCrud, Map },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      type: Array,
      default: () => [],
    },
  },
  setup(props) {
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()
    const { cachedModel } = useDataManagerStore()

    const modelNameMap = {
      'within-plot-belt-transect': {
        type: 'within',
        transectSetup: 'within-plot-belt-transect-survey',
        conditionalFieldsList: 'sign_based_sign',
        quadratChildObs: 'sign_observed',
      },
      'off-plot-belt-transect': {
        type: 'off',
        transectSetup: 'off-plot-belt-transect-survey',
        surveySetup: 'off-plot-belt-transect-survey-setup',
        conditionalFieldsList: 'sign_based_sign',
        quadratChildObs: 'sign_observed',
      },
      'herbivory-and-physical-damage-transect': {
        type: 'within',
        transectSetup: 'herbivory-and-physical-damage-belt-transect-setup',
        conditionalFieldsList: 'herbivory_observation',
        quadratChildObs: 'quadrat_observation',
      },
      'herbivory-off-plot-transect': {
        type: 'off',
        conditionalFieldsList: 'herbivory_observation',
        transectSetup: 'herbivory-off-plot-belt-transect-setup',
        surveySetup: 'herbivory-off-plot-belt-survey-setup',
        quadratChildObs: 'quadrat_observation',
      },
    }
    const modelNameInfo = modelNameMap[props.modelName]
    if (!modelNameInfo) {
      paratooErrorHandler(
        `Model name ${props.modelName} not found. Maybe you need to add it to the model name map?`, 
        new Error('Failed to find model'),
      )
    }
    return {
      bulkStore,
      ephemeralStore,
      cachedModel,
      modelNameInfo,
      protocolType: modelNameInfo.type,
    }
  },
  methods: {
    async onSubmitFunc() {
      const noQuadratRequired = (transect) => {
        return this.protocolType === 'off'
          ? this.offPlotMaximumQuadratMap[transect.transect_number]
          : this.noQuadratRequired
      }
      for (const transect of this.localRecord) {
        if (!transect.quadrat) {
          notifyHandler(
            'negative',
            `Transect ${transect.transect_number}${
              transect.setup_ID ? ` (${transect.setup_ID})` : ''
            } does not have any quadrat`,
          )
          return false
        } else if (
          noQuadratRequired(transect) - transect.quadrat.length !==
          0
        ) {
          notifyHandler(
            'negative',
            ` Transect ${transect.transect_number}${
              transect.setup_ID ? ` (${transect.setup_ID})` : ''
            } is missing ${
              noQuadratRequired(transect) - transect.quadrat.length
            } quadrat`,
          )
          return false
        } else if (!transect?.transect_end_date_time) {
          notifyHandler(
            'warning',
            `Transect ${transect.transect_number}${
              transect.setup_ID ? ` (${transect.setup_ID})` : ''
            } has not been ended (does not have transect start date time)`,
          )
          return false
        }
      }
      return true
    },
    makeTransectOptions(fields, collectionData) {
      const startPointDict = {
        1: ['N3', 'S3'],
        2: ['N2', 'S2', 'N4', 'S4'],
        4: ['N2', 'S2', 'N4', 'S4', 'E2', 'W2', 'E4', 'W4'],
      }
      const transectSetupModelName = this.modelNameInfo.transectSetup
      const transectSetupData = collectionData[transectSetupModelName]
      let transectDetail
      let transectOptions
      let transectLine
      if (this.protocolType === 'off') {
        transectDetail = transectSetupData.transect
        transectOptions = transectDetail.map(
          ({ new_or_existing }) => new_or_existing.site_id,
        )
      } else {
        const transectNumber = transectSetupData?.number_of_transects
        transectOptions = startPointDict[transectNumber]
        transectLine = this.ephemeralStore.transectLines.map((obj) =>
          Object.keys(obj).join(' - '),
        )
      }

      fields.transect_number.type = 'select'
      fields.transect_number.options = transectOptions
      return { transectDetail, transectOptions, transectLine }
    },

    makeSetupIdOptions(collectionData) {
      const setupIdOptions = []
      const transectSetupSurveySetupMapper = {}

      if (this.protocolType === 'off') {
        const surveySetups = collectionData?.[this.modelNameInfo.surveySetup]
        for (const surveySetup of surveySetups) {
          setupIdOptions.push(surveySetup.survey_setup_ID)

          if (
            !Object.keys(transectSetupSurveySetupMapper).includes(
              surveySetup.transect_setup_ID,
            )
          ) {
            transectSetupSurveySetupMapper[surveySetup.transect_setup_ID] = [
              surveySetup.survey_setup_ID,
            ]
          } else {
            transectSetupSurveySetupMapper[surveySetup.transect_setup_ID].push(
              surveySetup.survey_setup_ID,
            )
          }
        }
      }

      return {
        setupIdOptions,
        transectSetupSurveySetupMapper,
      }
    },
    makeQuadratOptions(initData) {
      let quadratOptions
      if (!initData?.quadrat) {
        quadratOptions = [
          {
            label: 'Quadrat 1',
            value: 1,
          },
        ]
      } else {
        const options = initData.quadrat.map((quadrat) => {
          const value = quadrat.quadrat_number
          const label = `Quadrat ${quadrat.quadrat_number}`
          return {
            label,
            value,
          }
        })
        quadratOptions = options
      }
      return quadratOptions
    },
    initialiseData(
      transectOptions,
      setupIdOptions,
      transectSetupSurveySetupMapper,
    ) {
      const initData = this.modelValue.find((m) => {
        if (this.protocolType === 'within') {
          return m.transect_number === transectOptions[0]
        } else if (this.protocolType === 'off') {
          return (
            m.transect_number === transectOptions[0] &&
            m.setup_ID === setupIdOptions[0]
          )
        }
      })
      let selectedTransectRecord = null
      if (initData) {
        selectedTransectRecord = initData
      }

      if (selectedTransectRecord?.transect_number) {
        //this filter is also done in the `selectedTransect` watcher, but is also done here
        //for when we initialise data from the store and auto-fill the transect ID and
        //setup ID
        setupIdOptions = setupIdOptions.filter((s) =>
          transectSetupSurveySetupMapper[
            selectedTransectRecord.transect_number
          ].includes(s),
        )
      }
      return { initData, selectedTransectRecord }
    },
    getOffPlotMaximumQuadratMap(collectionData) {
      if (this.protocolType !== 'off') return null

      const offPlotTransect = collectionData[this.modelNameInfo.transectSetup]
      if (offPlotTransect) {
        let maxQuadratMap = {}
        offPlotTransect.transect?.forEach((transect) => {
          maxQuadratMap[transect.new_or_existing.site_id] = Math.floor(
            transect.transect_length / transect.quadrat_length,
          )
        })
        return maxQuadratMap
      }
    },
    defineMaximumQuadratRequired(offPlotMaximumQuadratMap, selectedTransect) {
      if (this.protocolType === 'off') {
        return offPlotMaximumQuadratMap[selectedTransect]
      } else
        return determineModeOfOperation('herbivoryNumberOfQuadratsRequired')
    },
    quadratSelectShouldShow() {
      if (this.protocolType === 'within') {
        return (
          this.selectedTransect &&
          this.modelValue?.some(
            (m) => m.transect_number === this.selectedTransect,
          )
        )
      } else if (this.protocolType === 'off') {
        return (
          this.selectedTransect &&
          this.selectedSetupId &&
          this.modelValue?.some(
            (m) =>
              m.transect_number === this.selectedTransect &&
              m.setup_ID === this.selectedSetupId,
          )
        )
      }
    },
    updateTransect(newVal) {
      let updatedRecord = null
      if (newVal.transect_end_date_time) {
        updatedRecord = structuredClone(this.selectedTransectRecord)
        for (const field of Object.keys(this.endTransectFields)) {
          updatedRecord[field] = newVal[field]
        }

        //https://www.andrewzamora.tech/scroll-to-element-in-vue/
        this.$refs['scrollToRef'].$el.scrollIntoView({
          behavior: 'smooth',
        })
      } else {
        updatedRecord = structuredClone(newVal)
      }

      // update local record and value in bulkstore
      this.selectedTransectRecord = updatedRecord
      this.updateModelValue(updatedRecord)
    },
    updateQuadrat(newVal) {
      const newRecord = !newVal
        ? { quadrat_number: this.selectedQuadrat }
        : structuredClone(newVal)

      // // update local record
      // this.selectedQuadratRecord = newRecord

      // init
      if (!this.selectedTransectRecord.quadrat) {
        this.selectedTransectRecord.quadrat = [newRecord]
      }

      const index = this.selectedTransectRecord.quadrat.findIndex(
        ({ quadrat_number }) => quadrat_number === newVal.quadrat_number,
      )
      // push new record
      if (index === -1) {
        this.selectedTransectRecord.quadrat.push(newRecord)
      }
      // update existing
      else {
        this.selectedTransectRecord.quadrat[index] = newRecord
      }
      this.updateModelValue(this.selectedTransectRecord)
    },
    updateModelValue(newVal) {
      const entries = Object.entries(newVal)
      // FIXME transect_line is uploaded to strapi but isnt in the schema so it is ignored as junk data when uploaded.
      // Don't remove it in this file, it should just be updated to not be sent off. happens in PlotBeltTransect as well
      entries.splice(1, 0, ['transect_line', this.linkedLine])
      this.row = Object.fromEntries(entries)
      // push new record
      const index = this.transectIndex
      if (index === -1) {
        this.localRecord.push(this.row)
      }
      // update existing
      else {
        this.localRecord[index] = this.row
      }
      this.$emit('update:modelValue', this.localRecord)
    },
    checkQuadratNumber() {
      const currentNumber = this.selectedTransectRecord.quadrat?.length || 0
      notifyHandler(
        'positive',
        `${currentNumber} of ${this.noQuadratRequired} quadrats have been added`,
      )
    },
    async nextQuadrat(position) {
      const result = await this.$refs['quadrat'].onSubmitFunc()
      if (!result) return
      if (position === 1) {
        if (this.selectedQuadrat >= this.noQuadratRequired) return
        const nextNumber = this.selectedQuadrat + 1

        const index = this.quadratOptions.findIndex(
          ({ value }) => value === nextNumber,
        )

        if (index === -1) {
          this.quadratOptions.push({
            label: `Quadrat ${nextNumber}`,
            value: nextNumber,
          })
        }

        this.selectedQuadrat = nextNumber
      } else if (this.selectedQuadrat > 1) {
        this.selectedQuadrat -= 1
      }
    },
    filterFn(val, update) {
      const initOptions = this.selectedTransectRecord?.quadrat?.map(
        ({ quadrat_number: value }) => ({ label: `Quadrat ${value}`, value }),
      ) || [{ label: 'Quadrat 1', value: 1 }]
      if (val === '') {
        update(() => {
          this.quadratOptions = initOptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.quadratOptions = initOptions.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1,
        )
      })
    },
  },
  data() {
    const currCollection = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })

    const { fields } = makeModelConfig(
      this.modelName,
      this.doc,
      this.protocolId,
    )

    // ====== transect crud =======================
    // hide these two fields as we have two custom select fields for them outside the cruds
    fields.transect_number.hidden = true
    // for case with transect setup + survey setup we have an extra field : 'setup_ID'
    if (this.protocolType === 'off') fields.setup_ID.hidden = true
    // make options list for these two fields
    const { transectDetail, transectOptions, transectLine } =
      this.makeTransectOptions(fields, currCollection)
    let { setupIdOptions, transectSetupSurveySetupMapper } =
      this.makeSetupIdOptions(currCollection)

    // ======  end transect fields ================
    // also in a separate crud as we only want to show it when finishing the transect
    const endTransectFields = ['transect_end_date_time']
    if (this.protocolType === 'off')
      endTransectFields.push('transect_end_location')
    const endFields = {}
    for (const field of endTransectFields) {
      if (fields[field]) {
        endFields[field] = cloneDeep(fields[field])
      }
      delete fields[field]
    }

    // ===== quadrat crud =====
    // split quadrat fields to a separate crud
    const { quadrat } = cloneDeep(fields)
    fields.quadrat.hidden = true

    const quadratFields = quadrat.modelConfig.fields
    // similarly we also have a custom select field for quadrat number outside the crud
    quadratFields.quadrat_number.hidden = true

    const { initData, selectedTransectRecord } = this.initialiseData(
      transectOptions,
      setupIdOptions,
      transectSetupSurveySetupMapper,
    )
    this.ephemeralStore.selectedTransect =
      selectedTransectRecord?.transect_number
    //
    const quadratOptions = this.makeQuadratOptions(initData)

    // ===== conditional fields ===========================
    // edge case for sign based as sign_observed is also conditional fields control by a check box
    if (quadratFields.sign_observed) {
      quadratFields.sign_observed.hidden = true
    }
    const conditionalFields =
      thirdSetConditionalFields[this.modelNameInfo.conditionalFieldsList]
    const quadratChildObs = this.modelNameInfo.quadratChildObs
    for (const { field } of conditionalFields) {
      const quadratChildObsFields =
        quadratFields[quadratChildObs].modelConfig.fields
      if (quadratChildObsFields[field]) {
        quadratChildObsFields[field].hidden = true
      }
    }


    // ======  summary table ================
    const tableColumns = [
      {
        name: 'transect_number',
        required: true,
        label: 'Transect ID',
        align: 'left',
        field: (row) => row.transect_number,
        sortable: true,
      },
      {
        name: this.protocolType === 'off' ? 'setup_ID' : 'transect_line',
        required: true,
        label:
          this.protocolType === 'off' ? 'Survey Setup ID' : 'Transect line',
        align: 'left',
        field: (row) => row.setup_ID || row.transect_line,
        sortable: true,
      },
      {
        name: 'number_of_quadrat',
        required: true,
        label: 'Number of quadrat',
        align: 'center',
        field: (row) => row.quadrat?.length || 0,
        sortable: true,
      },
    ]

    // define the default maximum noQuadratRequired
    const offPlotMaximumQuadratMap =
      this.getOffPlotMaximumQuadratMap(currCollection)
    const noQuadratRequired = this.defineMaximumQuadratRequired(
      offPlotMaximumQuadratMap,
      transectOptions[0],
    )

    return {
      row: null,
      linkedLine: this.transectLine?.find((item) => {
        return item.includes(this.transectOptions[0])
      }),
      selectedTransect: selectedTransectRecord?.transect_number
        ? selectedTransectRecord.transect_number
        : null,
      selectedTransectRecord,
      selectedSetupId: selectedTransectRecord?.setup_ID
        ? selectedTransectRecord.setup_ID
        : null,
      quadratOptions,
      selectedQuadrat: null,
      selectedQuadratRecord: null,
      tableColumns,
      localRecord: cloneDeep(this.modelValue) || [],
      transectLine,
      transectCoords: this.ephemeralStore.transectLines,
      transectDetail,
      quadratFields,
      transectFields: fields,
      endTransectFields: endFields,
      transectOptions,
      setupIdOptions,
      transectSetupSurveySetupMapper,
      noQuadratRequired,
      offPlotMaximumQuadratMap,
      conditionalFieldsCallback: createDependentFieldCallback(),
      conditionalFields,
      currCollection,
    }
  },
  computed: {
    transectIndex() {
      const index = this.localRecord?.findIndex((record) => {
        if (this.protocolType === 'within') {
          return record.transect_number === this.selectedTransect
        } else if (this.protocolType === 'off') {
          return (
            record.transect_number === this.selectedTransect &&
            record.setup_ID === this.selectedSetupId
          )
        }
      })
      return index
    },
    selectedTransectCoords() {
      const result = this.transectCoords?.filter((transect) =>
        Object.keys(transect).includes(this.selectedTransect),
      )
      return result
    },
    //can only end a transect if completed all required quadrats
    canEndTransect() {
      if (
        this.selectedTransectRecord?.quadrat &&
        Array.isArray(this.selectedTransectRecord.quadrat)
      ) {
        return (
          this.selectedTransectRecord.quadrat.length === this.noQuadratRequired
        )
      }
      return false
    },
  },
  watch: {
    selectedTransect(newVal, oldVal) {
      this.ephemeralStore.selectedTransect = newVal
      const data = this.localRecord.find(
        ({ transect_number }) => transect_number === newVal,
      )
      this.selectedTransectRecord = data || {
        transect_number: newVal,
        // setup_ID: this.selectedSetupId,
      }
      this.selectedQuadrat = null
      this.linkedLine = this.transectLine?.find((item) => {
        return item.includes(newVal)
      })

      if (oldVal !== newVal) {
        // recompute maximum noQuadratRequired
        this.noQuadratRequired = this.defineMaximumQuadratRequired(
          this.offPlotMaximumQuadratMap,
          newVal,
        )
        //need to re-compute the survey setup options when the transect ID changes, as
        //the options are initially created in `data`, and are thus static at runtime
        //unless we update them
        let { setupIdOptions, transectSetupSurveySetupMapper } =
          this.makeSetupIdOptions(this.currCollection)
        this.setupIdOptions = setupIdOptions
        this.transectSetupSurveySetupMapper = transectSetupSurveySetupMapper

        this.quadratOptions = this.makeQuadratOptions(
          this.selectedTransectRecord,
        )
        this.selectedQuadrat = null

        //if we change the transect ID we need to select a setup ID, else the record
        //get's squashed, so just select the first one, which the user can override
        const firstSetupForTransect = this.setupIdOptions?.find((o) =>
          this.transectSetupSurveySetupMapper[newVal]?.includes(o),
        )
        this.selectedSetupId = firstSetupForTransect || null
        this.selectedTransectRecord.setup_ID = firstSetupForTransect || null
      }
      this.setupIdOptions = this.setupIdOptions.filter((s) =>
        this.transectSetupSurveySetupMapper[newVal]?.includes(s),
      )
    },
    selectedSetupId(newVal) {
      const data = this.localRecord.find(({ setup_ID }) => setup_ID === newVal)
      this.selectedTransectRecord = data || {
        transect_number: this.selectedTransect,
        setup_ID: newVal,
      }

      this.quadratOptions = this.makeQuadratOptions(this.selectedTransectRecord)
      this.selectedQuadrat = null
    },
    selectedQuadrat(newVal) {
      this.selectedQuadratRecord = cloneDeep(
        this.selectedTransectRecord?.quadrat?.find(
          ({ quadrat_number }) => quadrat_number === newVal,
        ),
      ) || { quadrat_number: newVal }
    },
    selectedTransectRecord: {
      handler(newVal) {
        if (!newVal.quadrat) {
          this.quadratOptions = [
            {
              label: 'Quadrat 1',
              value: 1,
            },
          ]
          return
        }
        const options = newVal.quadrat.map((quadrat) => {
          const value = quadrat.quadrat_number
          const label = `Quadrat ${quadrat.quadrat_number}`
          return {
            label,
            value,
          }
        })
        this.quadratOptions = options

        this.checkQuadratNumber()
      },
      deep: true,
    },
  },
  unmounted() {
    this.ephemeralStore.selectedTransect = null
  },
}
</script>
