<template>
  <div>
    <ProjectArea
      :model-value="modelValue"
      :protocol-id="protocolId"
      :user-coords="userCoords"
      :stored-selected-projects="selectedProjects"
      @confirm-projects="
        (e) => {
          handleSelectedProjects(e)
        }
      "
      @invalid-project-areas="
        (e) => {
          invalidProjectAreas = e
        }
      "
    />
  </div>
</template>

<script>
import ProjectArea from '../components/ProjectArea.vue'
import {
  noProjectAreaCb,
  emptyProjectAreas,
  notifyHandler,
  projAreaTermMap,
} from '../misc/helpers'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useAuthStore } from '../stores/auth'
import {
  isEmpty,
} from 'lodash'
import {
  enableOIDC,
} from 'src/misc/constants'

export default {
  name: 'PlotSelectionProjInfo',
  components: {
    ProjectArea,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const authStore = useAuthStore()

    return {
      bulkStore,
      apiModelsStore,
      authStore,
    }
  },
  data() {
    return {
      relevantProjectsValid: false,
      invalidProjectAreas: [],
    }
  },
  methods: {
    handleSelectedProjects(projects) {
      this.selectedProjects = projects

      if (
        (
          this.selectedProjects !== null &&
          Array.isArray(this.selectedProjects) &&
          this.selectedProjects.length > 0 &&
          !this.selectedProjects.some(o => noProjectAreaCb(o))
        ) ||
        (
          this.selectedProjects !== null &&
          //empty `newProjectAreas` are valid, so also check length
          this.bulkStore.projectAreasAreValid() === true &&
          this.selectedProjects.length > 0 &&
          this.bulkStore.getNewProjectAreas().length > 0 &&
          emptyProjectAreas().length === 0
        ) ||
        !this.authStore.isProjectAdmin
      ) {
        this.relevantProjectsValid = true
      } else {
        this.relevantProjectsValid = false
      }
    },
    onSubmitFunc() {
      this.$emit('update:modelValue', {})
      if (!this.relevantProjectsValid) {
        let msg = null
        if (this.invalidProjectAreas.length > 0) {
          //we say 'missing' as any partial (incomplete project areas are handled by the
          //`ProjectArea` component)
          msg = `You have missing ${projAreaTermMap(enableOIDC)}s for at least one of your selected projects`
        } else if (isEmpty(this.selectedProjects)) {
          msg = 'Please specify at least one project'
        } else {
          msg = `Some unknown error occurred checking if your selected projects' ${projAreaTermMap(enableOIDC)}s are valid`
        }
        notifyHandler('negative', msg)
      }
      return this.relevantProjectsValid
    },
  },
  computed: {
    selectedProjects: {
      get() {
        return this.bulkStore.getPlotSelectionRelevantProjects
      },
      set(val) {
        this.bulkStore.setPlotSelectionRelevantProjects(val)
      },
    },
  },
}
</script>