<!-- select existing or create a new plot visit -->
<!-- TODO: create superclass for PlotLocation and PlotVisit to reduce code duplication -->
<template>
  <div style="margin-top: 2em">
    <div class="row justify-center items-center">
      <q-btn
        :class="btnCol"
        :outline="!createNew"
        color="secondary"
        data-cy="visitNew"
        @click="
          () => {
            createNew = true
            selectExisting = false
            $emit('createNewVisit', true)
          }
        "
      >
        Create New
      </q-btn>

      <h6
        v-if="showVisitExisting"
        style="margin: 0"
        :class="textCol"
      >
        or
      </h6>
      <q-btn
        v-if="showVisitExisting"
        :class="btnCol"
        :outline="!selectExisting"
        color="secondary"
        data-cy="visitExisting"
        @click="
          () => {
            selectExisting = true
            createNew = false
            modelConfig[0].fields.id.options = visitOptions
            $emit('createNewVisit', false)
          }
        "
      >
        Select Existing
      </q-btn>
    </div>
    <div v-if="selectExisting">
      <paratoo-api-model-crud-ui
        ref="existing"
        :modelValue="modelValue"
        :fields="modelConfig[0].fields"
        :title="modelConfig[0].title"
        :row-data-key="modelConfig[0].rowDataKey"
        :exclude-submit-btn-flag="true"
        :current-prot-id="modelConfig[0].currentProtId"
        @update:modelValue="
          (e) => {
            e['plot_layout'] =
              bulkStore.collectionGetForProt({ protId: this.currProt })['plot-layout'].id
            $emit('update:modelValue', e)
          }
        "
      />
    </div>
    <div v-if="createNew">
      <paratoo-api-model-crud-ui
        ref="new"
        :modelValue="modelValue"
        :fields="modelConfig[1].fields"
        :title="`Create New ${modelConfig[1].title}`"
        :row-data-key="modelConfig[1].rowDataKey"
        :exclude-submit-btn-flag="true"
        :current-prot-id="modelConfig[1].currentProtId"
        @update:modelValue="
          (e) => {
            e['plot_layout'] =
              bulkStore.collectionGetForProt({ protId: this.currProt })['plot-layout'].id
            $emit('update:modelValue', e)
          }
        "
      />
    </div>
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  makeValidationRules,
  handleError,
  notifyHandler,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useBulkStore } from '../stores/bulk'
import { useEphemeralStore } from '../stores/ephemeral'
import { useDataManagerStore } from '../stores/dataManager'

export default {
  inject: ['doc'],
  name: 'PlotVisit',
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    currProt: {
      type: Number,
      required: true,
    },
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  data() {
    const currCollection = this.bulkStore.collectionGetForProt({ protId: this.currProt })
    // Initialise button state based on data in the collection store
    // TODO remove duplication from PlotLocation.vue
    let newSelectExisting
    // Try/catch because if any layer doesn't exist, an error is thrown
    try {
      newSelectExisting = currCollection['plot-visit'].id !== undefined
    } catch {
      newSelectExisting = false
    }
    let newCreateNew
    try {
      // We know already it should be off if the existing is already selected
      if (newSelectExisting) newCreateNew = false
      else {
        newCreateNew = currCollection['plot-visit'] !== undefined
      }
    } catch {
      newCreateNew = false
    } 
    const modelConfigNew = makeModelConfig(
      'plot-visit',
      this.doc,
      this.currProt,
    )
    modelConfigNew.fields.plot_layout.hidden = true
    //note: this is hidden to address #1438, but should be properly addressed in #867
    modelConfigNew.fields.end_date.hidden = true

    const visitOptions = this.createVisitsOptions()
    // Hide Plot Layout on Visit
    return {
      selectExisting: newSelectExisting,
      createNew: newCreateNew,
      visitOptions: visitOptions,
      showVisitExisting: visitOptions.length > 0,
      modelConfig: [
        {
          title: 'Select Existing Plot Visit',
          rowDataKey: 'plot-visit',
          excludeSubmitBtnFlag: true,
          currentProtId: this.currProt,
          fields: {
            id: {
              type: 'filteredSelect',
              optionsKey: 'plot-visit',
              options: visitOptions,
              rules: makeValidationRules('id', {}, ['id']),
            },
          },
        },
        modelConfigNew,
      ],
    }
  },
  async mounted() {
    if (this.visitOptions.length === 0) {
      this.createNew = true
      this.selectExisting = false
      this.$emit('createNewVisit', true)
    }
    // It's additional functionality to select existing, so make sure we refresh for latest
    //TODO check if this call is necessary
    try {
      // Initially we show select existing with current plot-visits or an empty-array if nothing
      //   as we are going to update UI after refreshing.
      this.showVisitExisting = true
      await this.apiModelsStore.populateVerifiedModels({
        modelNames: ['plot-visit']
      })
    } catch (err) {
      handleError(err, this.$router)
    }
    // update ui options after refreshing plot visit 
    this.updateVisitsOptions()
  },
  computed: {
    btnCol() {
      if (this.$q.screen.lt.sm) {
        return 'col-5'
      }
      return 'col-3'
    },
    textCol() {
      return 'col-1'
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()
    const dataManager = useDataManagerStore()
    return {
      apiModelsStore,
      bulkStore,
      ephemeralStore,
      dataManager,
    }
  },
  methods: {
    async onSubmitFunc() {
      if (this.selectExisting) {
        return await this.$refs['existing'].onSubmitFunc()
      } else if (this.createNew) {
        return await this.$refs['new'].onSubmitFunc()
      } 
      else {
        notifyHandler('negative','Please select an existing visit or create a new one')
      }
      return false
    },
    updateVisitsOptions() {
      this.visitOptions = this.createVisitsOptions()
      this.modelConfig[0].fields.id.options = this.visitOptions
      this.showVisitExisting = this.visitOptions.length > 0
    },
    /**
     * Creates options array for modelConfig to supply to ApiModelConfig
     *
     * @returns {Array} array of objects containing the visits for the selected location, in the
     * format: `[{ 'value': i, 'label': <visit-label-start-date> }, ...]`
     */
    createVisitsOptions() {
      let selectedLocation = this.bulkStore.collectionGetForProt({ protId: this.currProt })['plot-layout']
      const visits = this.dataManager.cachedModel({ modelName: 'plot-visit' })
      if (!visits) return []
      const visitsForLocation = visits
        .filter((visit) => {
          //TODO implement existing layout with new visit (offline collection)
          if (
            !visit?.plot_layout?.id &&
            visit?.plot_layout?.temp_offline_id &&
            selectedLocation?.id?.temp_offline_id
          ) {
            //visit and layout collected offline
            return visit.plot_layout.temp_offline_id === selectedLocation.id.temp_offline_id && !visit.end_date
          } else if (
            selectedLocation.id &&
            visit?.plot_layout?.id
          ) {
            //both collected online and already submit
            return visit.plot_layout.id === selectedLocation.id && !visit.end_date
          } else if (
            selectedLocation.id &&
            !visit?.plot_layout?.id &&
            //just have the ID storred
            Number.isInteger(visit.plot_layout)
          ) {
            //existing layout (collected online) with visit collected offline
            return visit.plot_layout === selectedLocation.id && !visit.end_date
          }
          // return (
          //   (visit.plot_layout.id === selectedLocation && !visit.end_date) ||
          //   ()
          // )
        })
        .map((vis) => {
          //NOTE: this will convert the GMT time stored by Strapi to the time for the
          //current timezone; `toUTCString()` will convert it back to GMT
          const datetime = new Date(vis.start_date)
          const formattedDate = datetime.toUTCString()
          return {
            value: (() => {
              if (
                !vis?.id &&
                vis?.temp_offline_id
              ) {
                return {
                  temp_offline_id: vis.temp_offline_id,
                }
              } else {
                return vis['id']
              }
            })(),
            label: `${vis.visit_field_name} (${formattedDate})`,
          }
        })
      return visitsForLocation
    },
  },
}
</script>
