<template lang="">
  <div class="font">Plot Type</div>
  <div>
    <q-checkbox
      name="Control"
      v-model="genreControl"
      true-value="Control"
      label="Control"
    />

    <q-checkbox
      name="Impact"
      v-model="genreImpact"
      true-value="Impact"
      label="Impact"
    />

    <q-checkbox
      name="Permanent"
      v-model="genrePermanent"
      true-value="Permanent"
      label="Permanent"
    />
  </div>
</template>
<script>
import { ref } from 'vue'

export default {
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      type: Object,
      // required: true,
      required: false,
      default: () => {},
    },
    userCoords: {
      type: Object,
    },
  },
  setup() {
    return {
      genreControl: ref('Control'),
      genrePermanent: ref('Permanent'),
      genreImpact: ref('Impact'),
    }
  },
}
</script>
<style scoped>
.font {
  font-size: 1.5rem;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .font {
    font-size: 1rem;
  }
}
</style>
