<template>
  <div>
    <paratoo-api-model-crud-ui
      v-if="relevantProjectsValid"
      id="plotSelection"
      ref="crud"
      :model-value="localRecord"
      :fields="modelConfig.fields"
      :title="`Create New ${modelConfig.title}`"
      :submit-btn-label="'Save Plot Selection'"
      :submit-btn-label-add-index="true"
      :row-data-key="modelConfig.rowDataKey"
      :main-survey-flag="modelConfig.mainSurveyFlag"
      :collection-survey-flag="true"
      :exclude-submit-btn-flag="true"
      :current-prot-id="modelConfig.currentProtId"
      :user-coords="userCoords"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="(e) => updateRecord(e)"
    />
    <div v-else>
      <!-- TODO refactor to be table with columns: project, project area (defined already from backend, defined by user now, partial, empty), valid (bool) -->
      <p v-if="projectAreasAreValid() !== true" class="q-my-sm text-subtitle1">
        Some {{ projAreaTermMap() }}s are not valid:
        {{ projectAreasAreValid().join(', ') }}.<br />
        Please make sure they are valid before starting plot selection
      </p>
      <p
        v-else-if="_emptyProjectAreas().length > 0"
        class="q-my-sm text-subtitle1"
      >
        You've selected projects but not started their {{ projAreaTermMap() }}s:
        {{
          _emptyProjectAreas()
            .map((o) => o.label)
            .join(', ')
        }}.<br />
        Please define {{ projAreaTermMap() }}s before starting plot selection
      </p>
    </div>
  </div>
</template>

<script>
import {
  asyncCrud,
  generateUUIDAndPlotLabel,
  makeModelConfig,
  safeObjectCopy,
  noProjectAreaCb,
  emptyProjectAreas,
  notifyHandler,
  paratooWarnMessage,
  unreservePlotName,
} from '../misc/helpers'

import { cloneDeep, isEqual } from 'lodash'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useAuthStore } from '../stores/auth'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { enableOIDC } from 'src/misc/constants'
import {
  createDependentFieldCallback,
  changeModelConfigFieldOrder,
  projAreaTermMap,
} from '../misc/helpers'
export default {
  inject: ['doc'],
  name: 'PlotSelection',
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const authStore = useAuthStore()
    const ephemeralStore = useEphemeralStore()

    return {
      bulkStore,
      apiModelsStore,
      authStore,
      ephemeralStore,
    }
  },
  mounted() {
    if (this.selectedProjects.length > 0) {
      if (enableOIDC) {
        //see `updateRecord` on why we hide this
        this.modelConfig.fields.projects_for_plot.hidden = true
      } else {
        //if we've defined the project areas but not started plot selection we need to
        //ensure these options are set
        this.modelConfig.fields.recommended_location.hidden = true
        this.modelConfig.fields.recommended_location_point.hidden = true
        this.modelConfig.fields.projects_for_plot.options = this.selectedProjects
      }

      this.relevantProjectsValid = true
    }
  },
  data() {
    let modelConfig = makeModelConfig(
      'plot-selection',
      this.doc,
      this.protocolId,
    )

    // we auto generate uuid and plot_label
    modelConfig.fields.uuid.hidden = true
    modelConfig.fields.plot_label.hidden = true

    modelConfig.fields.projects_for_plot = {
      label: 'Current Project(s) for Plot',
      type: 'multiselect',
      hidden: false,
      options: [], //will get set when user completes selection
      disable: !this.authStore.isProjectAdmin,
      hint: !this.authStore.isProjectAdmin
        ? 'You are not a Project Admin so you do not have permission to assign Plots to Projects'
        : 'Assign the plot to one or more project(s).',
    }
    //don't allow auto-record as it can interfere with validating if the point is in the
    //project area
    modelConfig.fields.recommended_location.initCurrent = false

    const fields = [
      'plot_label',
      'plot_name',
      'projects_for_plot',
      'recommended_location',
      'recommended_location_point',
      'uuid',
      'comments',
      'date_time',
    ]
    // console.log(JSON.stringify(modelConfig, null, 2))
    modelConfig.fields = changeModelConfigFieldOrder(modelConfig, fields)

    let conditionalFields = []
    if (enableOIDC) {
      conditionalFields = [
        {
          field: 'recommended_location',
          fieldCb: this.cb,
        },
      ]
    } else {
      conditionalFields = [
        {
          field: 'recommended_location',
          dependsOn: 'projects_for_plot',
          fieldCb: this.cb,
        },
        {
          field: 'recommended_location_point',
          dependsOn: 'projects_for_plot',
        }
      ]
    }

    console.log('modelConfig:', modelConfig)

    return {
      modelConfig,
      relevantProjectsValid: false,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    cb({ newVal }) {
      if (newVal.projects_for_plot) {
        const projAreasToSet = []
        //might be new project areas (if not, then `getNewProjectAreas` will return empty
        //array and we can move on to grabbing the existing project area)
        for (const newProjArea of this.bulkStore.getNewProjectAreas()) {
          if (
            newVal.projects_for_plot.some(
              pfp => pfp.project.id === newProjArea.project.project.id
            )
          ) {
            projAreasToSet.push(newProjArea.points)
          }
        }

        for (const projArea of newVal.projects_for_plot) {
          if (
            projArea?.project?.project_area?.coordinates &&
            Array.isArray(projArea.project.project_area.coordinates) &&
            projArea.project.project_area.coordinates.length > 0
          ) {
            projAreasToSet.push(projArea.project.project_area.coordinates)
          }
        }

        this.ephemeralStore.projectArea = projAreasToSet
      } else if (
        //`newVal.projects_for_plot` technically doesn't exist on the record as it's
        //hidden, so need to handle a bit differently
        !newVal.projects_for_plot &&
        enableOIDC
      ) {
        const currProjArea = []
        if (this.authStore.selectedProject?.project_area?.coordinates) {
          currProjArea.push(this.authStore.selectedProject?.project_area?.coordinates)
        } else {
          for (const newProjArea of this.bulkStore.getNewProjectAreas()) {
            if (this.authStore.selectedProject.id === newProjArea.project.project.id) {
              currProjArea.push(newProjArea.points)
            }
          }
        }
        //single-element array as when we're outside of MERIT, we can have multiple
        //selected projects, but in MERIT it's just one and it's easier to always treat
        //as an array
        this.ephemeralStore.projectArea = currProjArea
      }
    },
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
    async updateRecord(values) {
      let valuesWithUUID = generateUUIDAndPlotLabel(cloneDeep(values))

      const savedPlots = this.bulkStore.collectionGetForProt({
        protId: this.protocolId,
      })

      //helper `checkAndReservePlotName` that is called in Crud's onSubmitFunc cannot
      //handle un-reserving plots that have been deleted, as that Crud instance is only a
      //single 'observation', whereas here as are at the right depth to see all
      //'observations'
      if (
        //if they're the same length, then a plot was changed or added, not removed
        valuesWithUUID.length !== savedPlots?.['plot-selection']?.length
      ) {
        //find the deleted plots: https://stackoverflow.com/a/55316303
        const removedPlots = savedPlots?.['plot-selection']?.filter(
          p => !valuesWithUUID.some(v => v.plot_label === p.plot_label)
        )
        if (
          removedPlots?.length
        ) {
          if (removedPlots.length > 1) {
            paratooWarnMessage('More than one plot was removed, which shouldn\'t happen as Crud should only remove one observation at a time, but continuing with the removal. Possible programmer error')
          }
          for (const plot of removedPlots) {
            await unreservePlotName({
              plotLabel: plot.plot_label,
              projects: removedPlots.reduce((accum, curr) => {
                if (curr?.projects_for_plot?.length) {
                  accum.push(...curr.projects_for_plot.map(
                    p => p.project.id,
                  ))
                }
                
                return accum
              }, [])
            })
          }
        }
      }
      

      this.$emit('update:modelValue', valuesWithUUID)
    },
    /**
     * Wrapper for bulk store's `projectAreasAreValid()`
     */
    projectAreasAreValid() {
      return this.bulkStore.projectAreasAreValid()
    },
    /**
     * Wrapper for `emptyProjectAreas()` helper
     */
    _emptyProjectAreas() {
      return emptyProjectAreas()
    },
    /**
     * Wrapper for `noProjectAreaCb()` helper
     */
    _noProjectAreaCb(proj) {
      return noProjectAreaCb(proj)
    },
    //wrapper to access in the template
    projAreaTermMap() {
      return projAreaTermMap(enableOIDC)
    },
  },
  computed: {
    selectedProjects: {
      get() {
        return this.bulkStore.getPlotSelectionRelevantProjects
      },
      set(val) {
        this.bulkStore.setPlotSelectionRelevantProjects(val)
      },
    },
    localRecord() {
      if (!this.modelValue || !this.modelValue?.length) return this.modelValue

      let result = cloneDeep(this.modelValue)
      let changed = false
      if (enableOIDC) {
        //handle changes differently when in MERIT (unlike the below `else` block) as
        //only one `projects_for_plot` is allowed, so we need to handle when the
        //(project) auth context changes as it's selected automatically for MERIT

        for (let [index, plot] of result.entries()) {
          plot.projects_for_plot = [
            this.selectedProjects.find(
              (o) => o.project.id === this.authStore.selectedProject.id,
            ),
          ]
          changed = !isEqual(
            plot.projects_for_plot,
            this.modelValue[index].projects_for_plot,
          )
        }
      } else {
        // handle changes to `projects_for_plot`.
        // we just want to get the label for filtering
        const selectedProjects = this.selectedProjects.map(({ label }) => label)
        result = this.modelValue.map((record) => {
          let updatedRecord = safeObjectCopy(record)
          const updatedProjects = updatedRecord.projects_for_plot
          if (updatedProjects?.length) {
            updatedRecord.projects_for_plot = updatedProjects.filter(
              ({ label }) => selectedProjects.includes(label),
            )
          }
          changed =
            updatedRecord.projects_for_plot.length !==
            record.projects_for_plot.length
          return updatedRecord
        })
      }
      if (changed) {
        if (!enableOIDC) {
          //don't need to notify outside of MERIT as they can't select/change the
          //'relevant projects' (it's auto-selected)
          const msg =
            "Some projects were removed from the 'relevant projects' in the 'Plot Selection Project Information' step/component, which has affected some Plot Selection(s) 'Project(s) for Plot'. The 'relevant projects' that were removed have been removed from the affected Plot Selection(s)."
          notifyHandler(
            'warning',
            msg,
            null,
            30, //longer timeout
          )
        }

        //checked if they're different as if we don't we'll hit the recursive update
        //limit due to mutating the value this computed is based on.
        //so we result in emitting up so that it updates the store w/o explicit user
        //action and also providing down (prop) so that the newRecord is updated
        this.$emit('update:modelValue', result)
      }
      return result
    },
  },
}
</script>
