<!-- TODO: JSDoc and comments -->

<template>
  <div>
    <div>
      <div
        v-if="isValidUserCoords() || plotNotWalked || points.length >= 1"
        data-cy="coordsValid"
      >
        <q-select
          v-model="startPointSelect"
          :options="startPointOptions"
          data-cy="startingPoint"
          :disable=" points?.length > 1"
          :label="(model === 'fauna_plot_point' ? 'Fauna plot' : 'Plot') + ' reference point'"
        >
          <template #after>
            <!-- TODO less hard-coded and use actual LUT config (see #1461) and add a v-if like most other cases have -->
            <InfoButtonForInputs
              :config="{
                'optionsKey': 'lut-corner',
                'label': 'Plot Reference Point',
              }"
              :mode="'info'"
            />
          </template>
        </q-select>
        <latLngPicker
          v-if="plotNotWalked"
          :title="'Plot Reference Point'"
          :initialize-to-current="false"
          v-model="manual_reference_point"
          :disable="points.length > 0"
          :row-data-key="modelName"
          :protocol-id="currProt"
          data-cy="manualReferencePointPicker"
        />
        <br />
        <q-btn
          :disable="plotNotWalked && !manual_reference_point?.lat && !manual_reference_point?.lng"
          :label="layoutTriggerLabel"
          color="primary"
          data-cy="startLayout"
          @click="openView()"
        />
        <q-dialog v-model="alert" :maximized="true">
          <q-card>
            <q-card-section>
              <q-page 
                class="flex" 
                :style="`min-height: ${dialogHeight}`">
                <q-card style="flex: 1">
                  <l-map
                    v-if="isValidUserCoords() || plotNotWalked"
                    style="position: relative"
                    :zoom="19"
                    :maxZoom="22"
                    :center="customCenter"
                    ref="layoutMap"
                    @ready="makeMapRef()"
                  >
                    <l-tile-layer :url="url" :attribution="attribution" />
                    <div class="compass-container">
                      <compass />
                    </div>
                    <l-control position="bottomleft">
                      <q-btn
                        color="grey"
                        icon="my_location"
                        @click="backToLocation('currentLocation')"
                      />
                    </l-control>
                    <!-- fauna plot doesn't need to know about recommended location (for
                    core/veg plot only) -->
                    <l-control position="bottomleft" v-if="modelName !== 'fauna_plot_point'">
                      <q-btn
                        color="grey"
                        icon="place"
                        @click="backToLocation('recommendedLocation')"
                      />
                    </l-control>
                    <l-control
                      v-if="plotNotWalked"
                      position="bottomleft"
                    >
                      <q-btn
                        color="grey"
                        icon="flag"
                        @click="backToLocation('manualReferencePoint')"
                      />
                    </l-control>
                    <l-control-scale
                      position="bottomright"
                      :imperial="false"
                      :metric="true"
                    ></l-control-scale>
                    <l-circle-marker
                      :lat-lng="userCoords || { lat: 0, lng: 0 }"
                      color="Blue"
                      :weight="11"
                    >
                      <l-tooltip>
                        <div>Current Location</div>
                      </l-tooltip>
                    </l-circle-marker>
                    <l-circle-marker
                      v-if="plotNotWalked && manual_reference_point"
                      :lat-lng="manual_reference_point || { lat: 0, lng: 0 }"
                      color="Brown"
                      :weight="11"
                    >
                      <l-tooltip>
                        <div>Manual reference point</div>
                      </l-tooltip>
                    </l-circle-marker>
                    <!-- display transect lines when toggled -->
                    <div v-if="transectMethod(displayTransectsCount)">
                      <l-polyline
                        v-for="line of transectLines(transectType)"
                        :key="line[0].name"
                        :lat-lngs="line"
                        color="white"
                      >
                      </l-polyline>
                    </div>
                    <!-- Planned points -->
                    <div>
                    	<div v-if="Array.isArray(plannedPointList) && plannedPointList.length > 0">
                    		<l-circle-marker
		                      v-for="[key, coord] of Object.entries(plannedPointList)"
		                      :key="key"
		                      :lat-lng="coord"
		                      color="yellow"
		                      :weight="10"
		                    >
		                      <l-tooltip> {{ coord.name }} </l-tooltip>
		                    </l-circle-marker>
                    	</div>
                    	<div
                    		v-if="
                    			ephemeralStore.plotLayoutRecommendedLocation &&
                    			ephemeralStore.plotLayoutRecommendedLocation.lat &&
                    			ephemeralStore.plotLayoutRecommendedLocation.lng
                  			"
                    	>
                    		<l-circle-marker
		                      :lat-lng="ephemeralStore.plotLayoutRecommendedLocation"
		                      color="Orange"
		                      :weight="11"
		                    >
		                      <l-tooltip>
		                        Recommended Location: Lat:
		                        {{
		                          String(ephemeralStore.plotLayoutRecommendedLocation.lat).slice(0, 3)
		                        }}, lng:
		                        {{
                              String(ephemeralStore.plotLayoutRecommendedLocation.lng).slice(0, 3)
                            }}
		                      </l-tooltip>
		                    </l-circle-marker>
                    	</div>
                      <!-- legend -->
                      <l-control position="topleft">
                        <q-card style="opacity: 80%" flat>
                          <q-expansion-item label="Legend" flat dense>
                            <q-card-section class="row q-pa-xs">
                              <div class="col-3 center">
                                <q-icon
                                  name="place"
                                />
                              </div>
                              <div class="col-8 text-right">
                                Pan to recommended location specified during Plot Selection
                              </div>
                            </q-card-section>
                            <q-card-section class="row q-pa-xs">
                              <div class="col-3 center">
                                <q-icon
                                  name="my_location"
                                />
                              </div>
                              <div class="col-8 text-right">
                                Pan to your current location
                              </div>
                            </q-card-section>
                            <q-card-section
                              v-if="plotNotWalked"
                              class="row q-pa-xs"
                            >
                              <div class="col-3 center">
                                <q-icon
                                  name="flag"
                                />
                              </div>
                              <div class="col-8 text-right">
                                Pan to the manual reference point
                              </div>
                            </q-card-section>
                            <q-card-section class="row q-pa-xs">
                              <div class="col-3 center">
                                <div class="blue-dot" />
                              </div>
                              <div class="col-8 text-right">Current location</div>
                            </q-card-section>
                            <q-card-section class="row q-pa-xs q-pb-sm">
                              <div class="col-3 center">
                                <div class="green-dot" />
                              </div>
                              <div class="col-8 text-right">Marked point</div>
                            </q-card-section>
                            <q-card-section class="row q-pa-xs q-pb-sm">
                              <div class="col-3 center">
                                <div class="yellow-dot" />
                              </div>
                              <div class="col-8 text-right">Unmarked point</div>
                            </q-card-section>
                            <q-card-section class="row q-pa-xs q-pb-sm">
                              <div class="col-3 center">
                                <div class="orange-dot" />
                              </div>
                              <div class="col-8 text-right">Recommended location</div>
                            </q-card-section>
                          </q-expansion-item>
                        </q-card>
                      </l-control>
                      <!-- TODO confirm that using the index as the key doesn't break anything -->
                      <!-- print out all the coords -->
											<div v-if="Array.isArray(points) && points.length > 0">
												<l-circle-marker
		                      v-for="coord of points"
		                      :key="coord.name"
		                      :lat-lng="coord"
		                      color="green"
		                      :weight="10"
		                    >
		                      <l-tooltip> {{ coord.name }} </l-tooltip>
		                    </l-circle-marker>
											</div>
                    </div>
                    <l-polygon
                      v-if="plotBounds?.length"
                      :lat-lngs="plotBounds"
                      color="yellow"
                    ></l-polygon>
                    <l-polygon :lat-lngs="projArea" color="yellow"></l-polygon>
                    <div v-if="vegPlotExist() && modelName !== 'plot_points' ">
                      <!-- shows the plot bounds' lines -->
                      <l-polygon
                        :lat-lngs="vegPlotBounds(true)"
                        color="lime"
                      ></l-polygon>
                      <!-- shows the plot bounds' points -->
                      <l-circle-marker
                        v-for="coord of vegPlotBounds(true)"
                        :key="coord.name"
                        :lat-lng="coord"
                        color="lime"
                        :weight="10"
                      >
                        <l-tooltip> {{ coord.name.symbol }} </l-tooltip>
                      </l-circle-marker>
                      <!-- shows the outer bounds that the fauna plot can be in -->
                      <l-rectangle
                        :lat-lngs="makeBounds()"
                        color="red"
                        dashArray="5, 10"
                      >
                      </l-rectangle>
                    </div>
                  </l-map>
                  <div v-else><h4>Waiting for GPS...</h4></div>
                </q-card>
              </q-page>
            </q-card-section>
            <q-banner
              v-if="overlap"
              class="row bg-red text-black q-py-none"
            >
            Polygons overlap within the allowance of 5 meters. Please click "RESET".
            </q-banner>
            <q-banner
              v-if="isLowGPSAccuracy"
              class="row bg-yellow text-black q-py-none"
            >
              Caution: low GPS accuracy (>10 metres) detected! Be mindful that incorrect information may be recorded. Verify your device settings to ensure accurate data recording.
            </q-banner>

            <q-banner
              v-if="plotNotWalked"
              class="row q-py-none q-pt-sm"
            >
              <!-- TODO wording of this message could be clearer -->
              You are using a manual reference point. Pressing 'set reference point' will use the manual reference point and automatically use the generated grid as your marked points.
            </q-banner>
           
            <div class="row justify-center q-gutter-md q-pt-md">
              <q-btn
                v-if="points.length < 1"
                color="primary"
                data-cy="setStartPoint"
                :label="`Set ${model === 'fauna_plot_point' ? 'fauna plot' : ''} reference point (${startPointSelect})`"
                @click="setStartPoint"
              />
              <q-btn outline v-else @click="undoPoint">
                {{
                  plotNotWalked
                    ? 'Undo points'
                    : 'Undo last point'
                }}
              </q-btn>
              <q-btn
                v-if="
                  points.length > 0 ||
                  (plannedPointList.length > 0 && userCoords !== null)
                "
                :disable="doneBtnLabel === 'Waiting for GPS' || overlap"
                color="primary"
                data-cy="markClosestPoint"
                @click="addCurrentPoint"
                >
                {{
                  doneBtnLabel
                }}
                </q-btn
              >
              <q-btn outline v-if="startPlanPoint" @click="transectsCount"
                >Transect lines</q-btn
              >
              <q-btn outline
                v-if="
                  spoofPlotLayout &&
                  (points.length > 0 ||
                    (plannedPointList.length > 0 && userCoords !== null))
                "
                label="Spoof all points (dev tool)"
                data-cy="spoofAllPoints"
                @click="spoofPoints()"
              />
            </div>
            <div class="row items-center">
              <!-- FIXME `resetPlot()` is not defined -->
              <q-btn
                flat
                label="Reset"
                color="primary"
                wrap
                class="col"
                @click="resetPlot"
              />
              <p class="col-8" style="text-align: center; margin: 0">
                Starting Point: {{ startPointSelect }}
              </p>
              <q-btn
                flat
                label="Back"
                color="primary"
                wrap
                class="col"
                v-close-popup
              />
            </div>
          </q-card>
        </q-dialog>
      </div>
      <div v-else><h4>Waiting for GPS...</h4></div>
    </div>
  </div>
</template>

<script>
import * as turf from '@turf/turf'
// import { ref } from 'vue'
import L from 'leaflet'
import {
  paratooErrorHandler,
  notifyHandler,
  deg2rad,
  isValidUserCoords,
  getDistanceFromLatLonInM,
  insideProjectBoundary,
  getProjectAreaFromContext,
  projAreaTermMap,
  assignValidUserCoords,
  validateForm,
  makeModelConfig,
} from 'src/misc/helpers'
import {
  LMap,
  LTileLayer,
  LTooltip,
  LCircleMarker,
  LPolyline,
  LPolygon,
  LRectangle,
  LControlScale,
  LControl,
} from 'vue-leaflet/src/components'
import 'leaflet/dist/leaflet.css'
import {
  findIndex,
  find,
  isEqual,
} from 'lodash'
import Compass from './Compass.vue'
import { useBulkStore } from '../stores/bulk'
import { useEphemeralStore } from '../stores/ephemeral'
import { useApiModelsStore } from '../stores/apiModels'
import { useDataManagerStore } from 'src/stores/dataManager'
import {
  paratooWarnMessage,
  isNullorEmpty,
} from '../misc/helpers'
import * as cc from 'src/misc/constants'
import { useAuthStore } from 'src/stores/auth'
import InfoButtonForInputs from 'src/components/InfoButtonForInputs.vue'
import { Dialog } from 'quasar'
import latLngPicker from 'src/components/latLngPicker.vue'
export default {
  inject: ['doc'],
  components: {
    LMap,
    LTileLayer,
    LTooltip,
    LCircleMarker,
    LPolyline,
    LPolygon,
    Compass,
    LRectangle,
    LControlScale,
    LControl,
    InfoButtonForInputs,
    latLngPicker,
  },
  props: {
    // v-model value, which refers to points marked by the user with this component
    // should be be an array of {lat, lng, name}
    modelValue: {
      type: Array,
      required: false,
      default: () => [],
    },
    // various variables used by ApiModelCrudUi map component
    zoom: {
      type: Number,
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    url: {
      type: String,
      required: true,
    },
    attribution: {
      type: String,
      required: true,
    },
    /**
     * Gets the value in degrees to offset the planned plot points by
     */
    plotOrientation: {
      type: Number,
      required: false,
      default: 0,
    },
    modelName: {
      type: String,
    },
    currProt: {
      type: Number,
      required: true,
    },
    corePlotNotWalked: {
      type: Boolean,
      default: false,
    },
    faunaPlotNotWalked: {
      type: Boolean,
      default: false,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const dataManager = useDataManagerStore()
    const authStore = useAuthStore()

    return {
      ephemeralStore,
      bulkStore,
      apiModelsStore,
      dataManager,
      authStore,
    }
  },
  data() {
    //override the mapper param - want lat/lng, not the default lng/lat that GeoJSON uses
    const projArea = getProjectAreaFromContext((o) => [o.lat, o.lng])

    // get the orientation of the core plot if it exists
    // so we can apply it to fauna plot
    let collectionData = this.bulkStore.collectionGetForProt({
      protId: this.currProt,
    })
    const plotId = collectionData['plot-layout']?.id
    let corePlotOrientation = 0
    // select existing core plot
    if(plotId) {
      collectionData = this.dataManager
        .cachedModel({ modelName: 'plot-layout' })
        .find(({ id, temp_offline_id }) => {
          if (temp_offline_id) {
            return temp_offline_id === plotId.temp_offline_id
          }
          return id === plotId
        })
      corePlotOrientation = collectionData.orientation || 0
    } else {
    // create new core plot so we have an orientation from bulk store
      corePlotOrientation =
        this.modelName === 'fauna_plot_point'
          ? collectionData['plot-layout']?.orientation
          : 0
    }
    const fields = makeModelConfig(
      'plot-layout',
      this.doc,
      this.currProt,
    ).fields

    return {
      fields,
      projArea,
      corePlotOrientation,
      map: null,
      startPointSelect: 'South West',
      startPointOptions: [
        'North East',
        'North West',
        'South East',
        'South West',
      ],
      startPointEdgeOrder: [
        { start: 'North West', order: ['N', 'E', 'S', 'W'] },
        { start: 'North East', order: ['E', 'S', 'W', 'N'] },
        { start: 'South West', order: ['W', 'N', 'E', 'S'] },
        { start: 'South East', order: ['S', 'W', 'N', 'E'] },
      ],
      alert: false, // default false
      startPlanPoint: null,
      // plot edge length in metres (normal is 100x100 m)
      plotSize: 100,
      transectType: [null, 'standard', 'hashtag'],
      displayTransectsCount: 0,
      plotCentre: null,
      currentProtId: this.currProt,
      model: this.modelName,
      spoofPlotLayout: cc.spoofPlotLayout,
      customCenter: assignValidUserCoords(this.userCoords),
      manual_reference_point: this.bulkStore.layoutReferencePoint || null,
      overlap: false,
    }
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    isLowGPSAccuracy() {
      const gpsAccuracy = this.ephemeralStore.gpsAccuracy
      if(gpsAccuracy === null) return true
      const lowAccuracyThreshold = 10
      return gpsAccuracy > lowAccuracyThreshold
    },
    layoutTriggerLabel() {
      let msg = 'Plot'
      if (this.modelName === 'fauna_plot_point') {
        msg = 'Fauna Plot'
      }
      if (
        //haven't started
        (this.plannedPointList.length === 0 && this.points.length === 0) ||
        //started, but 'undid' all points
        (this.plannedPointList.length > 0 && this.points.length === 0)
      ) {
        return 'Start ' + msg + ' Layout'
      } else {
        return 'Edit  ' + msg + '  Layout'
      }
    },
    /**
     * If the value is passed in as null (rather than undefined), the default of empty array will be unused
     */
    points() {
      return this.modelValue || []
    },
    /**
     * generates the planned point coordinates based on the start point and the size
     */
    plannedPointList() {
      // Template for lat long deltas (Ausplots)

      // TODO make this scientifically accurate (there is weirdness from converting m into lat long)
      // if (this.startPlanPoint && this.plotSize) {
      if (this.startPlanPoint && this.startPlanPoint.lat && this.plotSize) {
        let points = []

        // there are 25 points
        // 5 points per edge + 1 corner
        const edgePointsMax = 6
        const startPoint = this.startPlanPoint

        // Decide based on starting point
        // {horizontal, vertical}
        let currentOffset = { lat: 0, lng: 0 }

        // we go clockwise around
        let edgeDirectionOrder = []

        for (let item in this.startPointEdgeOrder) {
          if (this.startPointEdgeOrder[item].start === this.startPointSelect) {
            edgeDirectionOrder = this.startPointEdgeOrder[item].order
          }
        }

        let currentEdge = edgeDirectionOrder[0]

        // WARNING Doesn't take into account distance from equator
        // 1m in degree = 0.0089 / 1000 = 0.0000089
        const sideLengths = this.sideLengths(
          this.plotSize,
          this.plotSize,
          edgePointsMax - 1,
        )
        const cornerLength = sideLengths.corner
        const sideLength = sideLengths.side

        // loop through the each side
        for (let side = 0; side < 4; side++) {
          for (let edgePoint = 0; edgePoint < edgePointsMax; edgePoint++) {
            const earth = 6378.137 //radius of the earth in kilometer
            let pi = Math.PI
            const m = 1 / (((2 * pi) / 360) * earth) / 1000 //1 meter in degree
            let cos = Math.cos

            const newLat = startPoint.lat + currentOffset.lat * m
            const newLong =
              startPoint.lng +
              (currentOffset.lng * m) / cos(startPoint.lat * (pi / 180))

            let distanceBetween = sideLength

            // reverse numbering on E/S because we go clockwise but protocol always
            // has num increasing simultaneously lat/long increasing
            let useLabel = `${currentEdge}${
              currentEdge === 'E' || currentEdge === 'S'
                ? edgePointsMax - edgePoint
                : edgePoint
            }`

            // We need this because convention says that North or South are said dominantly
            // i.e. NorthWest, not WestNorth
            if (edgePoint === 0) {
              distanceBetween = cornerLength
              switch (currentEdge) {
                case 'W':
                  useLabel = 'SW'
                  break
                case 'N':
                  useLabel = 'NW'
                  break
                case 'E':
                  useLabel = 'NE'
                  break
                case 'S':
                  useLabel = 'SE'
                  break
                default:
                  break
              }
            }

            // Last stretch before next corner has different size
            if (edgePoint === edgePointsMax - 1) {
              distanceBetween = cornerLength
            }

            // only actually add it if the relevant placed point does not exist
            if (
              findIndex(this.points, (o) => {
                return o.name === useLabel
              }) === -1
            ) {
              points.push({
                ...L.latLng(newLat, newLong),
                name: useLabel,
              })
            }

            // Offset the "current" position depending on the edge direction
            // note: IN METRES
            let baseOffset = { lat: 0, lng: 0 }
            switch (currentEdge) {
              // West side goes upwards (clockwise)
              case 'W':
                baseOffset.lat += distanceBetween
                break
              case 'N':
                baseOffset.lng += distanceBetween
                break
              case 'E':
                baseOffset.lat -= distanceBetween
                break
              case 'S':
                baseOffset.lng -= distanceBetween
                break

              default:
                break
            }
            // Translate the offset by orientation (in degrees)
            // https://academo.org/demos/rotation-about-point/
            // https://www.geeksforgeeks.org/rotate-a-polygon-by-given-degrees-in-p5-js/
            const radianOrientation = this.corePlotOrientation
              ? this.corePlotOrientation * (Math.PI / 180)
              : this.plotOrientation * (Math.PI / 180)

            // Need to save the current coords, otherwise lng will use overidden lat
            const oldLat = baseOffset.lat
            const oldLong = baseOffset.lng

            baseOffset.lat =
              oldLat * Math.cos(radianOrientation) -
              oldLong * Math.sin(radianOrientation)
            baseOffset.lng =
              oldLong * Math.cos(radianOrientation) +
              oldLat * Math.sin(radianOrientation)

            currentOffset.lat += baseOffset.lat
            currentOffset.lng += baseOffset.lng
          }
          // Finished edge, continue the loop to next direction
          let nextEdgeIndex =
            findIndex(edgeDirectionOrder, (o) => {
              return o === currentEdge
            }) + 1
          if (nextEdgeIndex > edgeDirectionOrder.length - 1) nextEdgeIndex = 0
          currentEdge = edgeDirectionOrder[nextEdgeIndex]
        }

        // set the going middle
        let middlePoint = { lat: 0, lng: 0 }
        // Get all marked and in progress planned points
        const allPoints = [...this.points, ...points]

        // Find middle of all points
        // TODO, confirm this math is correct
        for (const point of allPoints) {
          middlePoint.lat += point.lat
          middlePoint.lng += point.lng
        }
        middlePoint.lat /= allPoints.length
        middlePoint.lng /= allPoints.length
        // only actually add it if the relevant placed point does not exist
        if (
          findIndex(this.points, (o) => {
            return o.name === 'C'
          }) === -1
        ) {
          this.setPlotCentre(middlePoint)
          points.push({
            lat: middlePoint.lat,
            lng: middlePoint.lng,
            name: 'C',
          })
        }
        if (this.modelName === 'fauna_plot_point') {
          let faunaPoints = []
          for (let item in points) {
            if (
              points[item].name == 'SW' ||
              points[item].name == 'SE' ||
              points[item].name == 'NW' ||
              points[item].name == 'NE' ||
              points[item].name == 'C'
            ) {
              faunaPoints.push(points[item])
            }
          }
          points = faunaPoints
        }       

        return points
      } else {
        return []
      }
    },
    /**
     * Returns bounds for a lRectangle
     */
    plotBounds() {
      // find all corners
      let acc = []
      const allPoints = [...this.points, ...this.plannedPointList]
      const cornerNames = ['SW', 'NW', 'NE', 'SE']

      if (allPoints.length > 0) {
        for (const corner of cornerNames) {
          const point = find(allPoints, (o) => {
            return o.name === corner
          })
          if (!point) {
            paratooWarnMessage(
              `Can't make plot bounds because point: ${corner} wasn't found`
            )
            return undefined
          }
          acc.push({ lat: point.lat, lng: point.lng })
        }  
      }
      
      return acc
    },
    dialogHeight() {
      let baseHeight = 87

      //TODO would be nice to get this dynamically, but this is fine for now
      if (this.isLowGPSAccuracy) this.isMobileDevice? baseHeight -= 32 : baseHeight -= 8
      if (this.plotNotWalked) baseHeight -= 8

      return `${baseHeight}vh`
    },
    plotNotWalked() {
      if(this.modelName === 'fauna_plot_point') {
        return this.faunaPlotNotWalked
      } else return this.corePlotNotWalked
    },
    doneBtnLabel() {
      let label = 'Done'
      if(!this.isValidUserCoords() && !this.plotNotWalked) {
        return 'Waiting for GPS'
      } else if ( this.plannedPointList.length > 0) {
        label = 'Mark Closest Point'
      }
      return label
    },
  },
  mounted() {
    // initialise planned points if there are any in the store
    // We call nextTick because the newRecord is not properly initialised yet
    this.$nextTick(() => {
      // if a point with name:SW exists in store, use it as the start point
      const startPointIndex = findIndex(this.points, (o) => {
        return o.name === 'SW'
      })
      this.startPlanPoint =
        startPointIndex !== -1 ? this.points[startPointIndex] : null
    })
  },
  methods: {
    backToLocation(point) {
      switch(point) {
        case 'recommendedLocation':
          this.map.panTo(this.ephemeralStore.plotLayoutRecommendedLocation)
          this.customCenter = this.ephemeralStore.plotLayoutRecommendedLocation
          break
        case 'currentLocation':
          this.map.panTo(assignValidUserCoords(this.userCoords))
          break
        case 'manualReferencePoint':
          this.map.panTo(this.manual_reference_point)
          this.customCenter = this.manual_reference_point
          break
        default:
          paratooWarnMessage(`Programmer error. Cannot pan to ${point} that is not registered`)
      }
    },
    spoofPoints(referencePoint) {
      if(referencePoint) {
        this.startPlanPoint = referencePoint
      }
      const plotPointModelName = this.model === 'fauna_plot_point'
        ? 'lut-fauna-plot-point'
        : 'lut-plot-points'
      const plotPointsLut = this.apiModelsStore.cachedModel({
        modelName: plotPointModelName,
      })
      //fauna plot points has labels with hyphens (e.g., 'North-West'), so need to
      //remove; and remove case sensitivity just in case
      const referencePointSymbol = plotPointsLut.find(
        p => p.label.replaceAll('-', ' ').toLowerCase() === this.startPointSelect.toLowerCase()
      )?.symbol

      if (!referencePointSymbol) {
        paratooWarnMessage(`Could not find symbol for ${this.startPointSelect}. Unable to create the correct reference point. Stuff might break, but continuing anyway`)
      }
      const newPoints = [
        {
          ...this.startPlanPoint,
          name: referencePointSymbol || 'SW',
          referencePoint: this.startPointSelect,
        },
      ]
      this.$emit('update:modelValue', newPoints)
      this.$nextTick(() => {
        //need to `nextTick` since we need to wait for the emit to be processed, then the
        //modelValue prop to be updated
        for (const p of this.plannedPointList) {
          newPoints.push(p)
          this.$emit('update:modelValue', newPoints)
        }
      })
    },
    isValidUserCoords() {
      return isValidUserCoords(this.userCoords)
    },
    makeMapRef() {
      this.map = this.$refs.layoutMap.leafletObject

      if (
        this.plotNotWalked &&
        this.manual_reference_point?.lat &&
        this.manual_reference_point?.lng
      ) {
        this.customCenter = this.manual_reference_point
      } else if (
        !this.plotNotWalked &&
        this.userCoords?.lat &&
        this.userCoords?.lng
      ) {
        this.customCenter = this.userCoords
      }
    },
    // if plot layout doest not exist
    //   we should not draw polygon for fauna plot
    //   or look for plot points either
    vegPlotExist() {
      const currCollection = this.bulkStore.collectionGetForProt({
        protId: this.currProt,
      })
      if (
        isNullorEmpty(currCollection, 'plot-layout') &&
        //just created a new plot
        (isNullorEmpty(currCollection['plot-layout'], 'plot_points') ||
          //using an existing plot
          isNullorEmpty(currCollection['plot-layout'], 'id'))
      ) {
        return false
      }

      return true
    },
    plotCoordCheck() {
      const currCollection = this.bulkStore.collectionGetForProt({ protId: this.currProt })
      const existingLayouts = this.dataManager.cachedModel({ modelName: 'plot-layout' })
      let coords = []

      if (currCollection['plot-layout'].plot_points) {
        coords = currCollection['plot-layout'].plot_points
      } else if (
        existingLayouts.find(({ id }) => id == currCollection['plot-layout'].id)
      ) {
        coords = existingLayouts.find(
          ({ id }) => id == currCollection['plot-layout'].id,
        ).plot_points
      } else if (
        existingLayouts.find(
          o => 
            Object.keys(o).includes('temp_offline_id') &&
            Object.keys(currCollection['plot-layout'].id).includes('temp_offline_id') &&
            o.temp_offline_id == currCollection['plot-layout'].id.temp_offline_id
        )
      ) {
        coords = existingLayouts.find(
          o => 
            Object.keys(o).includes('temp_offline_id') &&
            Object.keys(currCollection['plot-layout'].id).includes('temp_offline_id') &&
            o.temp_offline_id == currCollection['plot-layout'].id.temp_offline_id
        ).plot_points
      }

      return coords
    },
    /**
     *  Checks the that the initial point for the fauna plot falls within the allow bounds
     *  (outside the veg plot but with the overall boundary)
     *
     * Returns True if the initial fauna plot point is within bounds
     *
     */
    boundaryCheck(coords) {
      // Check it is outside the veg plot area
      let vegPlotCheck = true

      if (
        coords.lat >
          this.vegPlotBounds().find(
            ({ name }) => name == 'SW' || name.symbol == 'SW',
          )?.lat &&
          coords.lng >
          this.vegPlotBounds().find(
            ({ name }) => name == 'SW' || name.symbol == 'SW',
          )?.lng &&
          coords.lat <
          this.vegPlotBounds().find(
            ({ name }) => name == 'NE' || name.symbol == 'NE',
          )?.lat &&
          coords.lng <
          this.vegPlotBounds().find(
            ({ name }) => name == 'NE' || name.symbol == 'NE',
          )?.lng
      ) {
        vegPlotCheck = false
      }

      // Check it is inside the overall boundary
      let boundaryCheck = false
      if (
        coords.lat > this.makeBounds()[0].lat &&
        coords.lng > this.makeBounds()[0].lng &&
        coords.lat < this.makeBounds()[1].lat &&
        coords.lng < this.makeBounds()[1].lng
      ) {
        boundaryCheck = true
      }

      // Check if both are correct
      if (boundaryCheck && vegPlotCheck) {
        return true
      }

      return false
    },
    /**
     * Gets the corner points of current plot selection
     */
    vegPlotBounds(noC) {
      const sortingArr = [
        'SW',
        'S1',
        'S2',
        'S3',
        'S4',
        'S5',
        'SE',
        'E1',
        'E2',
        'E3',
        'E4',
        'E5',
        'NE',
        'N5',
        'N4',
        'N3',
        'N2',
        'N1',
        'NW',
        'W5',
        'W4',
        'W3',
        'W2',
        'W1',
      ]

      let coords = this.plotCoordCheck()

      let bounds = []
      // if coord found
      coords.forEach((coord) => {
        if (noC) {
          // if (coord.name != 'C' || coord.name.symbol) bounds.push(coord)
          if (coord.name.symbol == 'C' || coord.name == 'C') return;
          bounds.push(coord);
        } else {
          if (coord.name || coord.name.symbol) bounds.push(coord)
        }
      })

      //sort (based on pre-defined order) so that polygon creates an actual square, not
      //random lines all over the place
      //based on: https://gist.github.com/ecarter/1423674
      return bounds.sort((a, b) => {
        let A = a.name.symbol
        let B = b.name.symbol
        if (sortingArr.indexOf(A) > sortingArr.indexOf(B)) {
          return 1
        } else {
          return -1
        }
      })
    },
    /**
     *  Creates the outer boundary which the fauna plot can be create within
     *
     *  @param {Array} [faunaBounds] an array of points
     */
    makeBounds() {
      const faunaBounds = this.plotCoordCheck()

      // TODO Center point point needs to be added as starting point
      // for now we are going to assign first point(South West)
      //    if no center exists
      let centerPoint = null
      faunaBounds.forEach((point) => {
        if (point.name == 'C' || point.name.symbol == 'C') centerPoint = point
      })
      if (!centerPoint) centerPoint = faunaBounds[0]

      // Define the radius of the outer boundary
      const radius = 150 //metres
      // Find the latitude and longitude of the center point of the `faunaBounds` array
      const theLat = centerPoint.lat
      const theLng = centerPoint.lng
      // Calculate the length, width, and hypotenuse of a rectangle whose hypotenuse is equal to the radius
      const length = Math.pow(radius, 2)
      const width = Math.pow(radius, 2)
      const hypotenuse = Math.sqrt(length + width)
      // Calculate the diameter of the circle that circumscribes the rectangle
      const diameter = hypotenuse / 2
      // Calculate the difference in latitude and longitude between the center point and the corners of the rectangle
      const earthC = 40075040 //metres
      const latDifference = (360 * diameter) / earthC
      const lngDifference = latDifference / Math.cos(deg2rad(theLat))
      // Calculate the minimum and maximum latitude and longitude coordinates of the rectangle
      const xMin = theLng - lngDifference
      const yMin = theLat - latDifference
      const xMax = theLng + lngDifference
      const yMax = theLat + latDifference
      // Construct a bounds object with the minimum and maximum latitude and longitude coordinates of the rectangle
      const bounds = [
        { lat: yMin, lng: xMin },
        { lat: yMax, lng: xMax },
      ]
      // Return the bounds object
      return bounds
    },
    resetPlot() {
      Dialog.create({
        title: 'Confirm',
        message: `All recorded points will be removed. Do you want to continue?`,
        ok: 'Yes',
        cancel: 'No',
        'no-focus': true,
      }).onOk(() => {
        this.startPlanPoint = null
        this.$emit('update:modelValue', null)
        this.overlap = false
        this.alert = false
      })
    },
    transectsCount() {
      if (this.displayTransectsCount < 2) {
        this.displayTransectsCount++
      } else {
        this.displayTransectsCount = 0
      }
    },
    transectMethod(index) {
      // FIGURE OUT THE LOOP OF [NULL, STANDARD, HASHTAG]
      return this.transectType[index]
    },
    /**
     *  Sets the plot centre point
     */
    setPlotCentre(centre) {
      this.plotCentre = centre
    },
    /**
     *  Sets the plot start point
     */
    setStartPoint() {
      let referencePoint = this.userCoords
      if (this.plotNotWalked) referencePoint = this.manual_reference_point
      let isInBoundary = false
      if (this.modelName === 'fauna_plot_point') {
        isInBoundary = this.boundaryCheck(referencePoint)
        if (isInBoundary) {
          this.startPlanPoint = L.latLng(referencePoint.lat, referencePoint.lng)
          this.addCurrentPoint()
        } else {
          notifyHandler(
            'warning',
            'Fauna Plot starting point is out-of-bounds.',
          )
        }
      } else {
        isInBoundary = insideProjectBoundary([referencePoint])
        if(!isInBoundary) {
          notifyHandler('negative', `Reference point is not in the ${projAreaTermMap(cc.enableOIDC)}! Please try another start point.`)
        } else {
          this.startPlanPoint = L.latLng(referencePoint.lat, referencePoint.lng)
          this.addCurrentPoint()
        }
      }
      
      if (this.plotNotWalked && isInBoundary) this.spoofPoints(referencePoint)
    },
    /**
     * Handler of the undo button. Removes the latest marked point
     */
    undoPoint() {
      if (this.plotNotWalked) {
        //since using data sheet means we set all points immediately when setting
        //reference point, undoing it means we need to remove all points
        this.$emit('update:modelValue', [])
        this.startPlanPoint = null
      } else {
        // We do this in a roundabout way because Vue reactivity struggles with pop/push
        let newPoints = this.points

        newPoints.pop()
        this.$emit('update:modelValue', newPoints)
      }
    },
    /**
     * Check network status before opening layout
     */
    openView() {
      if( !isValidUserCoords(this.userCoords) ){
        notifyHandler('warning', 'GPS is currently unavailable.')
      }
      const orientationField = { orientation: this.fields.orientation }
      const validation = validateForm(
        { orientation: this.plotOrientation },
        orientationField,
      )
      this.alert = validation ? true : false
    },
    addCurrentPoint() {
      //if there are no more points, the 'mark point' button (that triggers this method)
      //will read 'done' and will close the modal
      if (this.plannedPointList.length === 0) {
        this.alert = false
        return
      }
      // Number of metres the user must be within to allow associating a point with a plannedpoint
      //if the `VUE_APP_SPOOF_PLOT_LAYOUT` env is set, we use a large value to allow
      //  creating points without having to move the GPS coordinates
      const meterMinimum = cc.spoofPlotLayout ? 100000 : 5
      // Find closest "planned" point
      let currentLocation = this.userCoords
      if (this.plotNotWalked) {
        currentLocation = this.manual_reference_point
      }
      let eligiblePoint = this.checkEligibleLocationPoint(
        this.plannedPointList,
        this.points,
        meterMinimum,
        currentLocation,
      )

      if (!eligiblePoint) {
        notifyHandler(
          'negative',
          `Point not recorded. GPS must detect less than ${meterMinimum} meter range from any planned point.`,
        )
        return
      }

      let newValueToSet = this.points

      // ensure the record is formatted
      if (!Array.isArray(newValueToSet)) newValueToSet = []

      // Add point to store
      const toAdd = {
        lat: eligiblePoint.lat,
        lng: eligiblePoint.lng,
        name: eligiblePoint.name,
        referencePoint: this.startPointSelect,
      }

      if(!insideProjectBoundary(this.plannedPointList)) {
        return notifyHandler('negative', `Plot Layout is not in the ${projAreaTermMap(cc.enableOIDC)}! Please try another start point.`)
      }
  
      newValueToSet.push(toAdd)
      this.$emit('update:modelValue', newValueToSet)
    },
    /**
     * Finds an eligible location point based on certain criteria.
     *
     * @param {Array} plannedPointList - The list of planned points to check.
     * @param {Array} existingPoints - The list of existing points to compare against.
     * @param {number} meterMinimum - The minimum distance in meters for a point to be eligible.
     * @param {object} currentLocation - The current location to compare against.
     * @returns {object} - The eligible point if found, otherwise null.
     */
    checkEligibleLocationPoint(
      plannedPointList,
      existingPoints,
      meterMinimum,
      currentLocation,
    ) {
      // Find the first point that meets the eligibility criteria
      const eligiblePoint = plannedPointList.find((point) => {
        // Find the index of the point in the existing points list
        const index = existingPoints.findIndex(
          ({ name }) => name === point.name,
        )

        // Skip the marked points
        if (index !== -1) return false

        // Ensure the point is within the given number of meters from the current location
        const planLoc = { lat: point.lat, lng: point.lng }
        const distanceToCurrent = getDistanceFromLatLonInM(
          currentLocation,
          planLoc,
        )
        return distanceToCurrent <= meterMinimum
      })

      return eligiblePoint
    },
    /**
     *
     * @param {*} plotWidth in metres
     * @param {*} plotHeight
     * @param {*} edgePoints Number of edge points (excluding corners)
     *
     * @returns {Object} containing "side" and "corner" (distance from first point to corner) In metres
     */
    sideLengths(plotWidth, plotHeight, edgePoints) {
      if (plotWidth === 100 && plotHeight === 100 && edgePoints === 5) {
        return { corner: 10, side: 20 }
      }
      paratooWarnMessage('Using unknown plotsize, size may be incorrect')
      if (plotWidth === plotHeight) {
        const size = plotWidth / edgePoints
        return { corner: size, side: size }
      }
    },

    /**
     * The transect line preview. Returns an array of lines (2 latLongs each)
     */
    transectLines(transectType) {
      var lines = []
      try {
        // iterate through all points (marked and planned)
        const allPoints = [...this.points, ...this.plannedPointList]

        for (const point of allPoints) {
          if (!point) continue
          // skip all corner/middle points
          switch (point.name) {
            case 'SW':
            case 'NW':
            case 'NE':
            case 'SE':
            case 'C':
              continue
            default:
              break
          }

          // Skip if the current point is already part of a line
          if (
            findIndex(lines, (o) => {
              // should detect if either point in the line is equal
              return o[0] === point || o[1] === point
            }) !== -1
          )
            continue

          // Point valid, find second point and add line
          let secondPointName

          // opposite point name is just the number
          switch (point.name[0]) {
            case 'W':
              secondPointName = `E`
              break
            case 'N':
              secondPointName = `S`
              break
            case 'E':
              secondPointName = `W`
              break
            case 'S':
              secondPointName = `N`
              break
            default:
              break
          }
          secondPointName = `${secondPointName}${point.name.substring(1)}`

          const secondPoint =
            allPoints[
              findIndex(allPoints, (o) => {
                if (!o) return false
                return o.name === secondPointName
              })
            ]
          lines.push([point, secondPoint])
        }
      } catch (error) {
        paratooErrorHandler('Failed to set transect lines',error)
      }
      var hashtagLines = []
      if (transectType[this.displayTransectsCount] === 'hashtag') {
        for (const line of lines) {
          if (line[0].name.includes(2) || line[0].name.includes(4)) {
            hashtagLines.push(line)
          }
        }
        return hashtagLines
      }
      return lines
    },
  },
  watch: {
    plotBounds(newVal, oldVal) {
      if (isEqual(newVal, oldVal)) return
      if (newVal) {
        let faunaPlot = newVal?.map((coord) => [Number(coord.lng).toFixed(4), Number(coord.lat).toFixed(4)]) || [];
        let vegPlot = this.vegPlotBounds(true).map((coord) => [Number(coord.lng).toFixed(4), Number(coord.lat).toFixed(4)]);
        // to use turf.polygon, the last point should be the same as the first point
        if (faunaPlot.length >= 4 && vegPlot.length >= 4 && this.modelName === 'fauna_plot_point' && this.points.length === 1  && !this.overlap) {
            // Ensure coordinates are numbers
          faunaPlot = faunaPlot.map(coord => [parseFloat(coord[0]), parseFloat(coord[1])]);
          vegPlot = vegPlot.map(coord => [parseFloat(coord[0]), parseFloat(coord[1])]);

          const faunaPlotArea = faunaPlot.concat([faunaPlot[0]]);
          const vegPlotArea = vegPlot.concat([vegPlot[0]]);

          const polygon1 = turf.polygon([faunaPlotArea]);
          const polygon2 = turf.polygon([vegPlotArea]);

          const bufferDistance = -15; // 5 meters tolerance
          const bufferedPoly1 = turf.buffer(polygon1, bufferDistance, { units: 'meters' });
          const bufferedPoly2 = turf.buffer(polygon2, bufferDistance, { units: 'meters' });
          this.overlap = turf.booleanOverlap(bufferedPoly1, bufferedPoly2);
        }
      }
    },
    modelValue(newVal) {
      if (newVal?.length > 0) {
        this.startPointSelect = newVal[0].referencePoint
      }
    },
    startPointSelect(newVal) {
      if (newVal && this.points[0]?.referencePoint) {
        const newRecord = this.points
        newRecord[0].referencePoint = newVal
        this.$emit('update:modelValue', newRecord)
      }
    },
    manual_reference_point(newVal, oldVal) {
      if (!isEqual(newVal, oldVal)) {
        this.bulkStore.updateLayoutReferencePoint(newVal)
      }
    },
    plotNotWalked(newVal, oldVal) {
      if(newVal && !oldVal && !this.points?.length) {
        Dialog.create({
          title: 'Warning: Please confirm if you understand and want to proceed.',
          message:
            'Only use this if: (1) You are using data sheets. (2) You are only undertaking monitoring in the fauna plot during the current visit, and the core monitoring plot still needs to be established to pair with the fauna plot and delineate the biodiversity plot.',
          ok: 'Confirm',
          cancel: 'Cancel',
          'no-focus': true,
        }).onCancel(() => {
          this.$emit('cancelPlotNotWalked')
        }).onOk(() => {
          this.$emit('update:modelValue', [])
          this.startPlanPoint = null
        })
      }
    }
  },
}
</script>
<style scoped>
.wrapper {
  overflow: hidden;
  position: relative;
}
.first {
  float: left;
}
.second {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
  flex: 1;
  float: left;
}
.compass-container {
  position: absolute;
  top: 2%;
  right: 12px;
}
.blue-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}

.green-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.yellow-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: yellow;
}

.orange-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: orange;
}
</style>
