<!-- TODO: JSDoc and comments -->

<template>
  <div>
    <div class="row justify-center items-center">
      <q-btn
        :class="btnCol"
        :outline="!createNew"
        color="secondary"
        data-cy="locationNew"
        @click="
          () => {
            createNew = true
            selectExisting = false
            $emit('createNewLocation', true)
          }
        "
      >
        Create New
      </q-btn>
      <h6
        v-if="!isStandalonePlotLayout && locationsExist"
        style="margin: 0"
        class="col-1"
      >
        or
      </h6>
      <q-btn
        v-if="!isStandalonePlotLayout && locationsExist"
        :class="btnCol"
        :outline="!selectExisting"
        color="secondary"
        data-cy="locationExisting"
        @click="
          () => {
            selectExisting = true
            createNew = false
            $emit('createNewLocation', false)
          }
        "
      >
        Select Existing
      </q-btn>
    </div>
    <!-- we currently statically block our shared bird user, but may utilize this to
    block users based on their role (defined by the Org Interface) -->
    <div v-if="!isStandalonePlotLayout && selectExisting">
      <div
        v-if="
          Array.isArray(existingLayoutsOptions) &&
          existingLayoutsOptions.length > 0
        "
      >
        <!-- TODO notify user that selection has been registered -->
        <paratoo-api-model-crud-ui
          id="plotLocationExisting"
          ref="existing"
          :modelValue="modelValue"
          :fields="modelConfigLayout.fields"
          :title="modelConfigLayout.title"
          :row-data-key="modelConfigLayout.rowDataKey"
          :exclude-submit-btn-flag="true"
          :user-coords="userCoords"
          @new-record-changed="(e) => (selectedPlotForRevisit = e.newRecord.id)"
          :current-prot-id="modelConfigLayout.currentProtId"
          @update:modelValue="
            (e) => {
              hideShowFaunaPlot()
              handleSubmission(e)
            }
          "
        />
        <RevisitLayout
          v-if="selectedPlotForRevisit && modelName === 'plot-layout-component'"
          ref="revisitLayout"
          :selectedPlotId="selectedPlotForRevisit"
          :userCoords="userCoords"
          :protocolId="currProt"
          :modelValue="localRecord.markedPoints"
          @points-marked="revisitPointsHandler"
          @noPointsMarked="revisitPointsHandler"
        />
      </div>
      <div v-else>
        There are no selectable plot for selected project '{{ selectedProject.name }}'. This means there are either no plots assigned to the project, or there are plots assigned but no layout has been done for them.
      </div>
    </div>
    <div v-if="createNew">
      <div
        v-if="
          Array.isArray(modelConfig.fields.plot_selection.options) &&
          modelConfig.fields.plot_selection.options.length > 0
        "
      >
        <div class="column items-center">
          <q-banner class="bg-secondary text-black q-my-md" v-if="disableAlignment">
            <q-icon name="info" color="info" />
            Some fields related to the plot's specs are disabled since the plot has been set. 
            If you want to make changes, please undo the plot first.
          </q-banner>
          <p class="q-my-sm text-body1">
            Is the plot aligned to the cardinal directions (N, S, E, W)?
          </p>
          <q-radio
            v-model="plotAlignedToGrid"
            :disable="disableAlignment"
            :val="true"
            label="Yes"
            data-cy="plotAlignedToGridYes"
          />
          <q-radio
            v-model="plotAlignedToGrid"
            :disable="disableAlignment"
            :val="false"
            label="No"
            data-cy="plotAlignedToGridNo"
          />
        </div>
        <paratoo-api-model-crud-ui
          v-if="plotGridAlignmentSelected"
          id="plotLocationNew"
          ref="new"
          :model-value="localRecord"
          :fields="modelConfig.fields"
          :title="`Create New ${modelConfig.title}`"
          :row-data-key="modelConfig.rowDataKey"
          :main-survey-flag="modelConfig.mainSurveyFlag"
          :collection-survey-flag="modelConfig.collectionSurveyFlag"
          :exclude-submit-btn-flag="true"
          :current-prot-id="currProt"
          :user-coords="userCoords"
          :conditional-fields="conditionalFields"
          :conditional-field-callback="conditionalFieldsCallback"
          @new-record-changed="handleRecordChange"
          @update:modelValue="
            (e) => {
              if (checkValidPoints(e)) {
                updatePlotTypeAndSubmit(e)
              }
            }
          "
        />
      </div>
      <div v-else>
        There are no selectable plots to Layout. Plot Selection must be completed by a Project Admin and assigned to the selected project '{{ selectedProject.name }}' and the Plot must not already have a Layout.
      </div>
    </div>
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  makeValidationRules,
  loadUnselectedPlotSelection,
  refreshPlotSelection,
  insideProjectBoundary,
  updatedPlotType,
  makePlotLayoutOptions,
  notifyHandler,
  createDependentFieldCallback,
  changeModelConfigFieldOrder,
  projAreaTermMap,
} from '../misc/helpers'
import { Platform } from 'quasar'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from '../stores/ephemeral'
import { useAuthStore } from '../stores/auth'

import RevisitLayout from './RevisitLayout.vue'
import { cloneDeep, isEqual } from 'lodash'
import { computed } from 'vue'
import {
  enableOIDC,
  layoutAndVisitUuid,
} from 'src/misc/constants'

export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    RevisitLayout,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    currProt: {
      type: Number,
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    modelName: {
      type: String,
    },
  },
  setup(props) {
    const bulkStore = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const authStore = useAuthStore()

    const localRecord = computed(() => {
      return cloneDeep(props.modelValue) || {}
    })

    return {
      bulkStore,
      apiModelsStore,
      localRecord,
      ephemeralStore,
      authStore,
    }
  },
  data() {
    const currCollection = this.bulkStore.collectionGetForProt({ protId: this.currProt })
    // Initialise button state based on data in the collection store
    // TODO remove duplication from PlotLocation.vue
    let selectExisting
    // Try/catch because if any layer doesn't exist, an error is thrown
    try {
      selectExisting = currCollection['plot-layout'].id !== undefined
    } catch {
      selectExisting = false
    }
    let createNew
    try {
      // We know already it should be off if the existing is already selected
      if (selectExisting) createNew = false
      else {
        createNew = currCollection['plot-layout'] !== undefined
      }
    } catch {
      createNew = false
    }
    if (this.localRecord?.id) {
      createNew = false
    }

    const modelConfig = makeModelConfig(
      'plot-layout',
      this.doc,
      this.currProt,
    )

    modelConfig.fields.fauna_plot_point.hidden = true
    modelConfig.fields.fauna_plot_not_walked.hidden = true
    
    //TODO need to figure out why makeModelConfig is ignoring Plot Selection, as applying the `x-paratoo-rename` doesn't affect this, so had to do manually
    // Need to manually add plot location (at the top) because it's ignored by makeModelConfig
    modelConfig.fields = {
      plot_selection: {
        label: 'Plot Name *',
        rules: [(val) => val !== null || 'Please select a plot'],
        options: loadUnselectedPlotSelection(),
        type: 'filteredSelect',
      },
      ...modelConfig.fields,
    }
    modelConfig.fields = changeModelConfigFieldOrder(modelConfig, [
      //essentially putting 'orientation' above 'plot_selection'
      'orientation',
      'plot_selection',
      'plot_type',
      'replicate',
      'is_the_plot_permanently_marked',
      'permanently_marked',
      'plot_dimensions',
      'plot_not_walked',
      'fauna_plot_not_walked',
      'plot_points',
      'fauna_plot_point',
    ])

    modelConfig.fields.plot_points.type = 'plot-layout-gps'
    // validation rules for the 'plot_points' field
    modelConfig.fields.plot_points.rules = [
      (val) => {
        if(!val) {
          return 'You need to start Plot Layout'
        }
        if (val?.length < 25) {
          const addPointsCount = val?.length || 0
          return `Plot Layout is missing ${25 - addPointsCount} points!`
        }
        return true
      }
    ]

    const filterHint = 'Filtered by the Plots that have not been laid out and that belong to the selected project.'
    modelConfig.fields.plot_dimensions.default = '100m'
    modelConfig.fields.permanently_marked.type = 'permanentlyMarked'
		modelConfig.fields.plot_selection.hint = `${filterHint}. Once you select the plot to layout, the 'Start Plot Layout' button will be available`
    modelConfig.fields.plot_points.hidden = true
    const conditionalFields = [
      //can't use `dependsOn: plot_selection` as we get weird behaviour with marking
      //points causing the field to hide
    	{
    		field: 'plot_points',
        fieldCb: this.showStartLayout,
    	},
    ]

    const disableSelectExisting = this.localRecord.markedPoints?.length >0 || this.localRecord?.fauna_plot_point?.length >0
    const existingLayoutsOptions = makePlotLayoutOptions()
    return {
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      // plotSelectionModelConfigs,
      selectExisting,
      createNew,
      locationsExist: this.apiModelsStore.cachedModel({ modelName: 'plot-layout' }).length > 0,
      currentProtId: this.currProt,
      modelConfig,
      modelConfigLayout: {
        title: 'Select Existing Plot',
        rowDataKey: 'plot-layout',
        excludeSubmitBtnFlag: true,
        currentProtId: this.currProt,
        fields: {
          id: {
            type: 'filteredSelect',
            options: existingLayoutsOptions,
            rules: makeValidationRules('id', {}, ['id']),
            disable: disableSelectExisting,
            hint: disableSelectExisting
              ? 'This field is disabled when either the selected plot or a fauna plot is being marked.'
              : filterHint,
          },
          markedPoints: { hidden: true },
          fauna_plot_point: { hidden: true, type: 'foo' },
        },
      },
      plotAlignedToGrid: this.localRecord?.orientation !== undefined,
      disableAlignment: this.localRecord.markedPoints?.length >0,
      plotGridAlignmentSelected: this.localRecord !== undefined,
      selectedPlotForRevisit: null,
      selectedProject: this.authStore.selectedProject,
      existingLayoutsOptions: existingLayoutsOptions,
    }
  },
  watch: {
    plotAlignedToGrid(val) {
      if (val) {
        //plot is aligned to grid so don't need 'orientation' field
        this.modelConfig.fields.orientation.hidden = true
      } else {
        this.modelConfig.fields.orientation.hidden = false
      }

      this.plotGridAlignmentSelected = true
    },
  },
  async mounted() {
    const protInfo = this.apiModelsStore.protocolInformation({
      protId: this.currProt,
    })

    if (protInfo.identifier === layoutAndVisitUuid) {
      //only refresh if we're doing Plot Layout and Visit - this vue component
      //mounts for all plot-based protocols before being hidden, so need to ensure
      //we don't redundantly refresh model data
      await refreshPlotSelection()
    }
    

    if (this.isStandalonePlotLayout) {
      this.selectExisting = false
      this.createNew = true
    }
  },
  computed: {
    isStandalonePlotLayout() {
      const protInfo = this.apiModelsStore.protocolInformation({
        protId: this.currProt,
      })

      return (
        Array.isArray(protInfo.workflow) &&
        protInfo.workflow.length === 1 &&
        protInfo.workflow.modelName === 'plot-layout'
      )
    },
    existingLocation() {
      try {
        return Number.isInteger(
          this.bulkStore.collectionGetForProt({ protId: this.currentProtId })[
            'plot-selection'
          ].id,
        )
      } catch {
        return false
      }
    },
    btnCol() {
      if (Platform.is.mobile) {
        return 'col-5'
      }
      return 'col-3'
    },
  },
  methods: {
  	showStartLayout({ newVal, oldVal }) {
      if(isEqual(newVal, oldVal)) return
  		//TODO might want to consider clearing the points if plot selection changes (leaving for now though; user should catch)
      this.modelConfig.fields.plot_points.hidden = newVal?.plot_selection === null
      this.modelConfig.fields.plot_not_walked.hidden = newVal?.plot_selection === null

      return newVal
  	},
    hideShowFaunaPlot() {
      if(this.selectExisting) {
       const hasFauna = this.apiModelsStore.checkPlotHaveFauna(this.selectedPlotForRevisit?.value)
       this.$emit('setStepVisibility', {
         title: 'Plot fauna layout',
         hide: hasFauna
       })
      }
    },
    handleRecordChange({ newRecord, oldRecord }) {
      if (this.apiModelsStore.models['plot-selection']) {
        const res = this.apiModelsStore.models['plot-selection'].find(
          (e) => e.plot_label === newRecord.plot_selection?.label,
        )
        if (res?.recommended_location) {
          this.ephemeralStore.plotLayoutRecommendedLocation = {
            lat: res.recommended_location.lat,
            lng: res.recommended_location.lng,
          }
        }
      }

      if (isEqual(newRecord, oldRecord)) return

      this.disableAlignment = newRecord?.plot_points?.length > 1
      this.modelConfig.fields.plot_dimensions.disable = newRecord?.plot_points?.length > 1
      this.modelConfig.fields.orientation.disable = newRecord?.plot_points?.length > 1
      this.modelConfig.fields.plot_not_walked.disable = newRecord?.plot_points?.length > 1
     
    },
    updatePlotTypeAndSubmit(modelValue) {
      // resolve LUT values if they exist
      for(const key in modelValue) {
        if(modelValue[key]?.value) {
          modelValue[key] = modelValue[key].value
        }
      }
      // submits data with updated plot type
      this.$emit('setStepVisibility',{
        title: 'Plot fauna layout',
        hide: false
      })
      this.$emit('update:modelValue', updatedPlotType(cloneDeep(modelValue)))
    },

    checkValidPoints(modelValue) {
      if (!modelValue?.plot_points) return false

      // // if not inside the project boundary
      if (!insideProjectBoundary(modelValue.plot_points)) {
        console.debug(`Plot Layout is not in the ${projAreaTermMap(enableOIDC)}`)
        return false
      }

      return true
    },
    /**
     * Called from parent to attempt to save currently entered data (e.g. when changing step)
     */
    async onSubmitFunc() {
      if(!this.selectExisting && !this.createNew) {
        notifyHandler('negative', 'Please create a plot first or select an existing one')
        return false
      }

      // there's no plot assigned to current selected project
      if (!this.$refs['existing'] && !this.$refs['new']) {
        return false
      }

      if (this.selectExisting) {
        return await this.$refs['existing'].onSubmitFunc()
      } 
      if (this.createNew && this.$refs['new']) {
        const points = this.modelValue?.plot_points || []
        if (!points.length) {
          notifyHandler(
            'negative',
            'Missing plot layout points',
          )
          return false
        }
        if (!insideProjectBoundary(points)) {
          notifyHandler(
            'negative',
            `Plot Layout is not in the ${projAreaTermMap(enableOIDC)}! Please try another start point.`,
          )
          return false
        }
        return await this.$refs['new'].onSubmitFunc()
      }
    },

    handleSubmission(body = null) {
      if (body && Number.isInteger(body.id)) {
        //this.setLayoutRecord(body.id)
        this.$emit('update:modelValue', body)
      } else if (body) {
        //don't do anything to layout - we're moving on from plot location and there'a
        //already a layout (e.g., we're editing location/layout after-the-fact)
        this.$emit('update:modelValue', body)
      } else {
        this.bulkStore.recvGeneral(
          {
            modelName: 'plot-layout',
            content: undefined,
            protocolId: this.currentProtId,
          },
        )
        this.$emit('update:modelValue', body)
      }
    },
    /**
     * Handle when points is marked
     */
    revisitPointsHandler(markedPoints) {
      if (markedPoints) {
        this.modelConfigLayout.fields.id.disable = true
        this.$emit('update:modelValue', {
          id: this.selectedPlotForRevisit.value || this.selectedPlotForRevisit,
          markedPoints,
        })
      } else {
        this.modelConfigLayout.fields.id.disable = false
        this.$emit('update:modelValue', {})
      }
    },
  },
}
</script>

<style>
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5) and (pointer: coarse) {
  .size,
  .text-h5 {
    font-size: 2rem;
  }
}
</style>
