<template>
  <div data-cy="coordsValid">
    <l-map
      :min-zoom="minZoom"
      :max-zoom="maxZoom"
      :style="isMobileDevice ? 'height: 350px; width: 100%' : 'height: 500px; width: 100%'"
      :center="currentCenter"
      :zoom="currentZoom"
      ref="theMap"
      data-cy="polygonMap"
      @ready="makeMapRef()"
      @move="dropMarker"
    >
      <l-tile-layer :url="url" :attribution="attribution" />
      <l-control-scale
        position="bottomright"
        :imperial="true"
        :metric="true"
      />
      <l-control position="bottomleft">
        <q-btn data-cy="my_location" color="grey" icon="my_location" @click="backToLocation" />
      </l-control>

      <l-control position="bottomleft">
        <q-btn
          filled
          color="primary"
          label="Add vertex"
          @click="addVertex()"
          data-cy="addVertex"
          :disable="disableEdit"
        />
      </l-control>

      <l-circle-marker
        v-if="isValidUserCoords()"
        :lat-lng="userCoords || { lat: 0, lng: 0 }"
        color="orange"
        :weight="10"
      >
        <l-tooltip>
          <div>Current Location (Lat: {{ userCoords.lat.toFixed(4) }}, Long: {{ userCoords.lng.toFixed(4) }})</div>
        </l-tooltip>
      </l-circle-marker>

      <l-marker :lat-lng="dragMarkerLoc || { lat: 0, lng: 0 }"> </l-marker>

      <l-circle-marker
        v-for="(point, index) in points"
        :key="index"
        :lat-lng="[point.lat, point.lng]"
        color="red"
        :weight="5"
      >
        <l-tooltip>{{ point }}</l-tooltip>
      </l-circle-marker>

      <l-polygon
        :lat-lngs="points.map(p => [p.lat,p.lng])"
        color="white"
      />
    </l-map>

    <!-- TODO allow them to drag and move items in the list. Example: https://codesandbox.io/s/94yv5v6vrw?file=/components/Hello.vue -->
    <q-markup-table
      v-if="points.length > 0"
      dense
      class="q-mt-md"
    >
      <thead>
        <tr>
          <th>Point number</th>
          <th>Lat</th>
          <th>Long</th>
          <th><!-- empty for delete button --></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr
          v-for="(point, index) in points"
          :key="index"
        >
          <td :data-cy="`pointsSummaryPointNumberRow${index}`">
            {{ index + 1 }}
          </td>
          <td :data-cy="`pointsSummaryLatRow${index}`">
            {{ point.lat.toFixed(4) }}
          </td>
          <td :data-cy="`pointsSummaryLngRow${index}`">
            {{ point.lng.toFixed(4) }}
          </td>
          <td>
            <q-btn
              color="negative"
              icon-right="delete"
              no-caps
              flat
              dense
              data-cy="removePoint"
              :disable="disableEdit"
              @click="removePoint(index)"
            />
          </td>
        </tr>
      </tbody>
    </q-markup-table>
  </div>
</template>

<script>
import {
  LMap,
  LTileLayer,
  LControl,
  LMarker,
  LCircleMarker,
  LTooltip,
  LPolygon,
  LControlScale
} from 'vue-leaflet/src/components'
import {
  cloneDeep,
} from 'lodash'
import { coordinatesToGeoJSON, 
  GeoJSONToCoordinates,
  isValidUserCoords,
  assignValidUserCoords,
  paratooSentryBreadcrumbMessage,
 } from '../misc/helpers'

export default {
  name: 'PolygonMap',
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LCircleMarker,
    LControl,
    LTooltip,
    LPolygon,
    LControlScale
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => [],
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    // by default the output is an array of points
    //   e.g. [{lat: 1, lang:2}]
    // if makeGeoJson is on, we will convert that points to a geojson
    makeGeoJson: {
      type: Boolean,
      required: false,
      default: false,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    disableEdit: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      map: null,
      mapIsReady: false,
      minZoom: 1,
      maxZoom: 20,
      currentZoom: 11.5,
      currentCenter: assignValidUserCoords(this.userCoords),
      customCenter: assignValidUserCoords(this.userCoords),
      dragMarkerLoc: assignValidUserCoords(this.userCoords),
      points: this.makeGeoJson 
        ? GeoJSONToCoordinates(cloneDeep(this.modelValue)) 
        : this.modelValue,
    }
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
  methods: {
    isValidUserCoords(){
      return isValidUserCoords(this.userCoords)
    },
    makeMapRef() {
      this.map = this.$refs.theMap.leafletObject
    },
    backToLocation() {
      this.map.panTo(assignValidUserCoords(this.userCoords))
    },
    dropMarker(event) {
      const coords = event.target.getCenter()
      this.dragMarkerLoc = coords
    },
    addVertex() {
      paratooSentryBreadcrumbMessage(
        `Adding point at ${this.dragMarkerLoc?.lat}, ${this.dragMarkerLoc?.lng}`,
        'projectArea',
      )
      this.points.push(this.dragMarkerLoc)
      // for now we don't need geoJSON
      //   but we might need that latter
      if (this.makeGeoJson) {
        this.$emit('update:modelValue', coordinatesToGeoJSON(cloneDeep(this.points)))
        return
      }
      this.$emit('update:modelValue', this.points) 
    },
    removePoint(index) {
      this.points.splice(index, 1)
    },
  },
}
</script>