<template>
  <div>
    <!-- send state -->
    <q-btn
      label="Email App State to TERN Tech"
      @click="() => postStoreState()"
      :disable="Boolean(bulkStore.debugClientStateDumpUrl)"
    />
    <!-- import state -->
    <q-btn
      v-if="bulkStore.debugClientStateDumpUrl"
      label="Import Fixed State"
      @click="showImportConfirmDialog = true"
    />
    <q-dialog v-model="showImportConfirmDialog">
      <q-card style="width: 500px" class="q-pa-md">
        <q-card-section>
          <h6 class="q-my-none">Import fixed state</h6>
        </q-card-section>
        <q-card-section>
          Your current state will be replaced with the fixed state from the
          server if it exists.
        </q-card-section>
        <q-card-section>
          Please confirm that you are aware of what you are doing.
        </q-card-section>
        <q-card-actions align="center">
          <q-btn @click="importState" color="primary"> Confirm </q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- clear reference to sent state -->
    <q-btn
      v-if="bulkStore.debugClientStateDumpUrl"
      label="Clear sent app state"
      @click="showClearImportConfirmDialog = true"
    />
    <q-dialog v-model="showClearImportConfirmDialog">
      <q-card style="width: 500px" class="q-pa-md">
        <q-card-section>
          <h6 class="q-my-none">Clear sent app state</h6>
        </q-card-section>
        <q-card-section>
          You are about to clear the app state you sent. This will not impact you app, only the data sent to Monitor's backend.
        </q-card-section>
        <q-card-section>
          Please confirm that you are aware of what you are doing.
        </q-card-section>
        <q-card-actions align="center">
          <q-btn @click="clearStateDump" color="primary"> Confirm </q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script setup>
import { ref, defineProps } from 'vue'
import { useDataManagerStore } from 'src/stores/dataManager'
import { useBulkStore } from 'stores/bulk'
import { doCoreApiGet } from 'src/misc/api'
import {
  notifyHandler,
  paratooErrorHandler,
  paratooSentryBreadcrumbMessage,
} from 'src/misc/helpers'
import { postStoreState } from '../misc/helpers'
import { clone, isEmpty } from 'lodash'

defineProps({
  enableDevTools: Boolean,
})

const bulkStore = useBulkStore()
const dataManager = useDataManagerStore()

const showImportConfirmDialog = ref(false)
const showClearImportConfirmDialog = ref(false)

async function importState() {
  try {
    const { dataManagerData, bulkStoreData, bulkStoreProtocolIdsToUpdate } =
      await importFixedStateFromServer()
    if (!dataManagerData && !bulkStoreData) {
      return notifyHandler('warning', 'No fixed state found from the server')
    }

    if (dataManagerData) {
      updateDataManagerQueue(dataManagerData)
    }

    if (bulkStoreData && !isEmpty(bulkStoreData.collections)) {
      updateBulkStoreData(bulkStoreData, bulkStoreProtocolIdsToUpdate)
    }

    showImportConfirmDialog.value = false

    //they successfully imported a state so can clear it's reference
    // clearStateDump()

    notifyHandler('positive', 'State imported successfully')
  } catch (error) {
    paratooErrorHandler('Failed to import state', error)
    notifyHandler('negative', 'Failed to import state', error)
  }
}
async function importFixedStateFromServer() {
  let urlSuffix = bulkStore.debugClientStateDumpUrl
  urlSuffix += `?use-cache=false`
  urlSuffix += `&client_state_uuid=${bulkStore.clientStateUuid}`
  const res = await doCoreApiGet({ urlSuffix })
  const dataManagerData = res.data.attributes.fixed_client_state?.dataManager
  const bulkStoreData = res.data.attributes.fixed_client_state?.bulk
  const bulkStoreProtocolIdsToUpdate =
    res.data.attributes.fixed_client_state?.bulk_store_prot_ids
  return {
    dataManagerData,
    bulkStoreData,
    bulkStoreProtocolIdsToUpdate,
  }
}

function updateDataManagerQueue(dataManagerData) {
  paratooSentryBreadcrumbMessage(
    `Using dataManagerData for import: ${JSON.stringify(dataManagerData)}`,
  )
  dataManagerData.publicationQueue.forEach((queuedCollection) => {
    const relatedIndexInAppQueue = dataManager.publicationQueue.findIndex(
      (collection) =>
        collection.queuedCollectionIdentifier ===
        queuedCollection.queuedCollectionIdentifier,
    )
    if(relatedIndexInAppQueue === -1) return

    // remove the queuedCollection from the app queue
    if (queuedCollection.removed) {
      paratooSentryBreadcrumbMessage(
        `Removing ${queuedCollection.queuedCollectionIdentifier} from app queue`,
      )
      dataManager.publicationQueue.splice(relatedIndexInAppQueue, 1)

      const relatedBackupIndex = dataManager.publicationQueueBackup.findIndex(
        (collection) =>
          collection.queuedCollectionIdentifier !==
          queuedCollection.queuedCollectionIdentifier,
      )
      // add this flag so we can remove it when restore the publicationQueueBackup from the dump
      // this way we don't need to add
      if (relatedBackupIndex !== -1) {
        dataManagerData.publicationQueueBackup[
          relatedBackupIndex
        ].removed = true
      }
    } else {
      paratooSentryBreadcrumbMessage(
        `Updating ${queuedCollection.queuedCollectionIdentifier} in app queue`,
      )
      const newQueue = clone(dataManager.publicationQueue)
      newQueue[relatedIndexInAppQueue] = queuedCollection
      dataManager.publicationQueue = newQueue
    }
  })

  dataManagerData.publicationQueueBackup.forEach((queuedCollection, index) => {
    const relatedBackupIndex = dataManager.publicationQueueBackup.findIndex(
      (collection) =>
        collection.queuedCollectionIdentifier !==
        queuedCollection.queuedCollectionIdentifier,
    )
    if(relatedBackupIndex === -1) return

    if (queuedCollection.removed) {
      paratooSentryBreadcrumbMessage(
        `Removing ${queuedCollection.queuedCollectionIdentifier} from backup queue`,
      )
      dataManager.publicationQueueBackup.splice(relatedBackupIndex, 1)
    } else {
      const newQueue = clone(dataManager.publicationQueueBackup)
      newQueue[relatedBackupIndex] = queuedCollection
      dataManager.publicationQueueBackup = newQueue
    }
  })
  dataManager.queueSubmissionProgress = null
}

function updateBulkStoreData(bulkStoreData, bulkStoreProtocolIdsToUpdate) {
  if (!bulkStoreProtocolIdsToUpdate?.length) {
    throw new Error('bulk_store_prot_ids is empty')
  }
  paratooSentryBreadcrumbMessage(
    `Using bulkStoreData for import: ${JSON.stringify(bulkStoreData)}`,
  )
  const protocolIdsInBulkStoreData = Object.keys(bulkStoreData.collections)
  protocolIdsInBulkStoreData.forEach((protocolId) => {
    bulkStore.collections[protocolId] = bulkStoreData.collections[protocolId]
  })
}

function clearStateDump() {
  bulkStore.clearClientStateDump()

  if (showClearImportConfirmDialog.value === true) {
    showClearImportConfirmDialog.value = false
  }
}
</script>
