<template>
  <div v-if="imgSrc">
    <async-img
      alt="camera photo"
      :src="imgSrc"
      :width="width"
      :height="height"
      fit="fill"
      @click="expandImage = true"
    >
      <template v-slot:error>
        <div class="absolute-full flex flex-center bg-negative text-white">
          Cannot load image
        </div>
      </template>
    </async-img>
    <ExpandImage
      :imgSrc="imgSrc"
      v-model="expandImage"
      :description="description"
    />
  </div>
</template>

<script>
import ExpandImage from './ExpandImage.vue'

export default {
  name: 'PreviewPhoto',
  props: {
    imgSrc: {
      type: [String, Blob],
      default: null,
    },
    height: {
      type: String,
      default: '90px',
    },
    width: {
      type: String,
      default: '120px',
    },
    description: {
      type: String,
    },
  },
  data() {
    return {
      expandImage: false,
    }
  },
  components: { ExpandImage },
}
</script>
