<template>
  <q-dialog v-model="dialog" persistent>
    <q-card>
      <q-card-section>
        <div class="text-h6">Synced collections</div>
      </q-card-section>
      <q-card-section
        v-for="(detail, index) in msg.split(', ')"
        :key="index"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div class="q-pr-sm">{{ detail }}</div>
        <div class="q-pa-sm">
          <q-btn outline @click="checkDetailsInProfile(index)">Details</q-btn>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="Dismiss" color="secondary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
import { paratooWarnMessage } from 'src/misc/helpers'

export default {
  props: {
    orgMintedUUIDs: {
      required: true,
      type: Array,
    },
    msg: {
      required: true,
      type: String,
    },
  },
  data() {
    return {
      dialog: true,
    }
  },
  methods: {
    checkDetailsInProfile(index) {
      this.dialog = false
      if (!this.orgMintedUUIDs[index]) {
        paratooWarnMessage('Cannot find orgMintedUUID')
      } else {
        this.$router.push({
          path: '/profile',
          query: { collectionID: this.orgMintedUUIDs[index] },
        })
      }
    },
  },
}
</script>
<style lang=""></style>
