<template>
  <div>
    <template v-if="loading">
      <h4 style="text-align: center">Loading...</h4>
      <q-linear-progress indeterminate />
    </template>
    <template v-else>
      <InfoButtonForInputs
        :fileName="'ProjectArea'"
        :mode="'help'"
      />

      <!-- TODO might want to make the label different if we're in MERIT (enableOIDC) -->
      <q-select
        v-model="selectedProjects"
        label="Project(s) for Plot Selection"
        :options="projectOptions"
        multiple
        bottom-slots
        option-disable="inactive"
        data-cy="relevantProjects"
        :disable="enableOIDC"
      >
        <template v-slot:hint>
          Allow plots to be associated with multiple projects over time if
          necessary.
        </template>
      </q-select>

      <p v-if="noProjectAreasToDefine && selectedProjects?.length > 0" class="q-mt-md">
        This project has an assigned {{ projAreaTermMap() }}. Press '{{ submitLabel() }}' to continue to nomination of survey plots (Plot Selection)
      </p>

      <q-btn
        v-if="!noProjectAreasToDefine"
        :label="projectAreaButton"
        color="primary"
        class="q-mt-md"
        data-cy="confirmProjects"
        @click="confirmProjects()"
      />

      <q-dialog v-model="defineProjectAreaOpen" full-width>
        <q-card>
          <q-card-section>
            <h6 class="q-ma-none text-h6">
              Please define {{ projAreaTermMap() }} for project(s):
              {{ projectsToDefineProjectArea.map((o) => o.label).join(', ') }}
            </h6>
            <p class="q-ma-none text-body2">
              Drag the marker around the map and place vertices. You can edit or
              delete them using the table below
            </p>
          </q-card-section>

          <q-card-section>
            <q-option-group
              v-model="projToDefine"
              inline
              :options="projectsToDefineProjectArea"
              data-cy="projectAreasToDefineOptions"
            />
            <div
              v-for="proj of projectsToDefineProjectArea"
              :key="proj.label"
              :name="proj.label"
            >
              <p
                v-if="projToDefine === proj.value &&proj.noEdit"
              >
                Editing is disabled as the project has been assigned to a Plot Selection
              </p>
              <PolygonMap
                v-if="projToDefine === proj.value"
                :user-coords="userCoords"
                :model-value="getNewProjectArea(proj)"
                :disable-edit="proj?.noEdit || false"
                @update:modelValue="
                  (e) => {
                    addPointForProjectArea(e, proj)
                  }
                "
              />
            </div>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn
              flat
              label="Done"
              color="primary"
              data-cy="doneProjectArea"
              @click="doneProjectArea()"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </template>
  </div>
</template>

<script>
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useAuthStore } from '../stores/auth'
import PolygonMap from './PolygonMap.vue'
import InfoButtonForInputs from './InfoButtonForInputs.vue'
import {
  notifyHandler,
  noProjectAreaCb,
  projAreaTermMap,
  submitLabel,
  makeCustomComponentConfig,
  makePlotSelectionProjInfoWorkflow,
  makeModelConfig,
  paratooSentryBreadcrumbMessage,
} from '../misc/helpers'
import {
  isEmpty,
  isEqual,
  cloneDeep,
  difference,
} from 'lodash'
import {
  enableOIDC,
} from 'src/misc/constants'
import { useDataManagerStore } from '../stores/dataManager'

export default {
  inject: ['doc'],
  name: 'ProjectArea',
  components: {
    PolygonMap,
    InfoButtonForInputs,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    storedSelectedProjects: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  async created() {
    // loads all the projects except "Project Area & Plot Selection" (if we're not in Cypress testing, as it needs that project)
    let projectOptions = cloneDeep(this.authStore.projAndProt)
    
    if (!window.Cypress) {
      projectOptions = projectOptions.filter(function (e) {
        return !e.name.includes('Project Area & Plot Selection')
      })
    }
    const options = projectOptions.map((o) => {
      const option = {
        label: o.name,
        value: o.id,
        project: o,
      }
      if (
        //user not authorised
        (
          !o.project_area?.coordinates?.length &&
          !this.authStore.isProjectAdmin
        ) ||
        //project is already associated with a plot, and clearing a project option clears
        //project area data, which we don't want to do in this case, so block action
        // projectIsSelectedInPlot
        this.projectIsSelectedInPlot({ projectId: o.id })
      ) {
        option.inactive = true
      }
      return option
    })

    this.projectOptions = options

    if (enableOIDC) {
      this.selectedProjects = [
        this.projectOptions.find(
          o => o.project.id === this.authStore.selectedProject.id
        )
      ]
    } else {
      this.selectedProjects = this.storedSelectedProjects
    }

    //need to notify parent component `PlotSelectionProjInfo` that we have selected
    //projects so that it can check validity of the project area when the user tries to
    //move step (`onSubmitFunc`)
    this.$emit('confirm-projects', this.selectedProjects)

    this.loading = false
  },
  setup() {
    const bulkStore = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const authStore = useAuthStore()
    const dataManager = useDataManagerStore()

    return {
      bulkStore,
      apiModelsStore,
      authStore,
      dataManager,
    }
  },
  data() {
    return {
      hint:'Assign the plot to one or more project(s).',
      loading: true, //set to false when options are created
      projectOptions: null,
      modelConfig: null,
      selectedProjects: [],
      defineProjectAreaOpen: false,
      projectsToDefineProjectArea: null,
      projToDefine: null,
      enableOIDC: enableOIDC,   //expose constant for template to access
    }
  },
  computed: {
    projectAreaButton() {
      if (this.noProjectAreasToDefine) {
        this.$emit('invalid-project-areas', [])
        return 'Select Project(s)'
      }

      const base = `New ${projAreaTermMap(enableOIDC)}s for Selected Project(s)`

      if (
        this.selectedProjects.every(
          p => {
            const proj = this.bulkStore.getNewProjectArea(p.value)
            return proj?.project?.value || !noProjectAreaCb(p)
          }
        )
      ) {
        return 'Edit ' + base
      }

      this.$emit('invalid-project-areas', this.selectedProjects)
      return 'Define ' + base
    },
    noProjectAreasToDefine() {
      console.log('selectedProjects', this.selectedProjects)
      return (
        //non-project admins can't define project areas, as they do not have PUT
        //permissions in org
        !this.authStore.isProjectAdmin ||
        //already have a project area
        !this.selectedProjects.some(o => noProjectAreaCb(o))
      )
    },
  },
  methods: {
    confirmProjects() {
      if (
        this.authStore.isProjectAdmin &&
        this.selectedProjects.some(noProjectAreaCb)
      ) {
        this.projectsToDefineProjectArea = []
        for (const proj of this.selectedProjects) {
          if (noProjectAreaCb(proj)) {
            this.projectsToDefineProjectArea.push({
              ...proj,
              //hint to provide to interface to disable parts of the UI, as we don't want
              //to allow changing project area if the project has already been associated
              //with a plot
              noEdit: this.projectIsSelectedInPlot({ projectId: proj.value }),
            })
          }
        }
        this.defineProjectAreaOpen = true
      }

      this.$emit('confirm-projects', this.selectedProjects)
    },
    /**
     * Wrapper for bulk store's `getNewProjectArea()`
     *
     * @param {Object} proj the project, with the key `value` which corresponds with the project ID
     *
     * @returns {Array.<Object>} an array of lat/lng objects
     */
    getNewProjectArea(proj) {
      const project = this.bulkStore.getNewProjectArea(proj.value)
      if (project && project.points) return project.points
      return []
    },
    addPointForProjectArea(points, project) {
      paratooSentryBreadcrumbMessage(
        `Adding point for project area. Points: ${JSON.stringify(points)}, Project: ${JSON.stringify(project)}`,
        'projectArea',
      )
      this.bulkStore.addNewProjectArea({
        project,
        points,
      })
    },

    doneProjectArea() {
      const invalidProjectAreas = this.bulkStore.projectAreasAreValid()
      if (invalidProjectAreas !== true) {
        this.$emit('invalid-project-areas', this.selectedProjects)
        notifyHandler('negative', `Some new ${projAreaTermMap(enableOIDC)}s you have defined are not valid (not enough number of vertices): ${invalidProjectAreas.join(', ')}`)
      } else {
        this.projectsToDefineProjectArea = null
        this.defineProjectAreaOpen = false

        const missingProjectAreas = []
        for (const proj of this.selectedProjects) {
          const projArea = this.bulkStore.getNewProjectArea(proj.value)
          if (!projArea?.points) {
            //tried to retrieve a new project area for the selected project but nothing
            //was returned so we've selected it as a project but not defined the area yet
            missingProjectAreas.push(proj)
          }
        }

        this.$emit('invalid-project-areas', missingProjectAreas)
        this.$emit('confirm-projects', this.selectedProjects)
      }
    },
    //wrapper to access in the template
    projAreaTermMap() {
      return projAreaTermMap(enableOIDC)
    },
    //wrapper for `submitLabel` helper
    submitLabel() {
      const modelName = 'plot-selection'
      const protocolEntry = this.apiModelsStore.protocolInformation({
        protId: this.protocolId,
      })
      const workflowValue = Object.values(protocolEntry.workflow).find(o => o.modelName === modelName)
      const customComponentConfig = makeCustomComponentConfig({
        stepIndex: 1,
        protocolId: this.protocolId,
        modelName,
        protocolWorkflow: workflowValue,
        modelConfig: makeModelConfig(modelName, this.doc),
        collectMultiple: false,
      })
      const workflow = makePlotSelectionProjInfoWorkflow(customComponentConfig)
      return submitLabel(workflow)
    },
    projectIsSelectedInPlot({ projectId }) {
      const collectionData = this.bulkStore.collectionGetForProt({
        protId: this.protocolId,
      })
      const projectIsSelectedInPlot = collectionData?.['plot-selection']?.some(
        ps => ps?.projects_for_plot.some(
          p => p.project.id === projectId
        )
      ) || false
      return projectIsSelectedInPlot
    },
  },
  watch: {
    selectedProjects(newVal, oldVal) {
      if (
        !isEmpty(oldVal) && !isEqual(newVal, oldVal) ||
        //if there's no project areas, don't need them to confirm with the
        //`projectAreaButton` button; will allow them to go next step with one less click
        this.noProjectAreasToDefine
      ) {
        this.$emit('invalid-project-areas', [])
        this.$emit('confirm-projects', newVal)
      }

      if (newVal?.length < oldVal?.length) {
        //removed a project, so need to remove metadata
        //TODO ask user for confirmation instead of just doing it
        const removedProjects = difference(oldVal, newVal)
        for (const project of removedProjects) {
          this.bulkStore.removeProjectArea(project.project.id)
        }
      }
    },
  },
}
</script>
