<template>
  <div class="flex justify-center">
    <q-dialog v-model="clearCollectionPopup" persistent>
      <q-card>
        <q-card-section class="row justify-center">
          <span class="q-ml-sm">
            Are you sure you want to permanently delete this collection?
          </span>
        </q-card-section>
        <q-card-section class="row justify-center">
          <q-btn
            color="red"
            label="Yes, Delete"
            data-cy="confirmClearCollection"
            @click="clearCollection(clearCollectionProtocol)"
          />
          <div style="margin: 10px" />
          <q-btn
            color="primary"
            label="Cancel"
            @click="cancelClearingCollection()"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
    <div
      v-if="currentProtocolId === null"
      class="q-pt-md q-gutter-md"
      :style="{ width: dynamicWidth + '%' }"
    >
      <ProjectList
        v-if="showProtocol"
        @show-protocols="showProtocol"
        @modules-list="modulesLists"
        :sorted-proj-prot="sortedProjProt"
      ></ProjectList>

      <div v-if="modulesList !== null && showProtocols == true">
        <!-- if the project only has one module then display it's protocols automaticlly -->
        <div v-if="Object.keys(modulesList).length === 1">
          <q-card>
            <q-card-section>
              <q-markup-table class="projects-table" wrap-cells>
                <thead >
                  <tr>
                    <th id="colName" style="width: 25%">Protocol</th>
                    <th id="colName" style="width: 45%">Description</th>
                    <th id="colBlank" style="width: 30%">Collection</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="protocol in Object.values(modulesList)[0].filter(
                      (i) => i.name === 'Plot Definition',
                    )"
                    :key="protocol.id"
                  >
                    <td style="width: 30%">{{ protocol.name }}</td>
                    <td style="word-break: break-all">
                      {{ protocolDescription(protocol.id) }}
                    </td>
                    <td :key="collectionButtonKey" style="text-align: center">
                      <div
                        v-if="collectionInProgress(protocol)"
                        style="text-align: center"
                      >
                        <q-btn
                          data-cy="edit"
                          icon="edit"
                          class="col-6"
                          color="primary"
                          @click="
                            setCurrentContext(protocol.projectId, protocol)
                          "
                          :loading="plotDataStillLoading({ protocol })"
                        >
                          <!-- Continue Collection -->
                        </q-btn>
                        <q-btn
                          class="buttonMargin"
                          color="red"
                          :data-cy="`clearCollection_${protocol.name
                            .toLowerCase()
                            .replaceAll(' ', '_')}`"
                          @click="confirmClear(protocol)"
                        >
                          <q-icon name="delete" />
                        </q-btn>
                      </div>
                      <q-btn
                        v-else-if="
                          protocol.name === 'Plot Definition' &&
                          !this.checkObjForNull(
                            this.bulkStore?.getStaticPlotContext,
                          )
                        "
                        @click="setCurrentContext(protocol.projectId, protocol)"
                        color="primary"
                        :data-cy="protocol.name"
                      >
                        Change Plot Context
                      </q-btn>
                      <q-btn
                        v-else
                        @click="setCurrentContext(protocol.projectId, protocol)"
                        color="secondary"
                        :data-cy="protocol.name"
                      >
                        Start
                      </q-btn>
                    </td>
                  </tr>
                  <tr
                    v-for="protocol in Object.values(modulesList)[0].filter(
                      (i) => i.name !== 'Plot Definition',
                    )"
                    :key="protocol.id"
                  >
                    <td>{{ protocol.name }}</td>
                    <td>{{ protocolDescription(protocol.id) }}</td>
                    <td :key="collectionButtonKey" style="text-align: center">
                      <div
                        v-if="collectionInProgress(protocol)"
                        style="text-align: center"
                      >
                        <q-btn
                          color="primary"
                          icon="edit"
                          data-cy="edit"
                          @click="
                            setCurrentContext(protocol.projectId, protocol)
                          "
                          :loading="plotDataStillLoading({ protocol })"
                        >
                          <!-- Continue Collection -->
                        </q-btn>
                        <q-btn
                          class="buttonMargin"
                          color="red"
                          :data-cy="`clearCollection_${protocol.name
                            .toLowerCase()
                            .replaceAll(' ', '_')}`"
                          @click="confirmClear(protocol)"
                        >
                          <q-icon name="delete" />
                        </q-btn>
                      </div>
                      <q-btn
                        v-else
                        class="size"
                        @click="setCurrentContext(protocol.projectId, protocol)"
                        color="secondary"
                        :data-cy="protocol.name"
                        :disable="collectionLabel(protocol.id).disable"
                        :label="collectionLabel(protocol.id).label"
                        type="a"
                        dense
                      >
                        <q-tooltip
                          v-if="
                            collectionLabel(protocol.id).disable &&
                            collectionLabel(protocol.id).label ===
                              'Fauna Plot required'
                          "
                        >
                          The current Plot Layout does not have a Fauna Plot.
                          Please select one (Plot Layout and Visit) with a Fauna
                          Plot to proceed with this protocol
                        </q-tooltip>
                      </q-btn>
                    </td>
                  </tr>
                </tbody>
              </q-markup-table>
            </q-card-section>
          </q-card>
        </div>
        <div v-else class="q-pb-md">
          <!-- if more than one module, display module icons -->
          <q-card class="rounded-borders" bordered>
            <q-card-section class="row justify-between">
              <!-- can't use `disabled` prop as this completely blocks `@click` event,
                but we need this event to show warning popup when plot context not set -->
              <q-btn
                flat
                v-for="[m, p] of Object.entries(modulesList)"
                :key="m"
                :data-cy="m"
                :class="
                  p
                    .map((element) => disableProtocol(element.id))
                    .some((o) => o === false)
                    ? ''
                    : 'disabled'
                "
                class="q-px-sm q-mb-lg iconSize "
                @click="protocolNum(m, p)"
              >
                <div>
                  <img
                    class="img"
                    alt=""
                    :width="iconWidth"
                    :src="images[`./${m}.png`]"
                  />
                  <div class="name">{{ m }}</div>
                </div>
              </q-btn>
            </q-card-section>
          </q-card>
        </div>
        <q-dialog
          data-cy="dialog"
          v-if="
            alert.protocols.length > 1 ||
            (alert.protocols.length == 1 &&
              this.collectionInProgress(alert.protocols[0]))
          "
          v-model="alert.show"
        >
          <q-card style="width: 100%">
            <q-card-section class="row justify-between">
              <div class="text-h6">
                {{ capitalizeWords(alert.item) }}
              </div>
              <q-btn
                data-cy="closeDialog"
                flat
                label="close"
                v-close-popup
              />
            </q-card-section>
            <q-card-section>
              <q-markup-table class="projects-table" wrap-cells>
                <thead v-if="isMobileDevice">
                  <tr>
                    <th id="colName" style="width: 60%">Protocol</th>
                    <th id="colBlank" style="width: 40%"></th>
                  </tr>
                </thead>
                <thead v-else>
                  <tr>
                    <th id="colName" style="width: 20%">Protocol</th>
                    <th id="colName" style="width: 40%">Description</th>
                    <th id="colBlank" style="width: 40%"></th>
                  </tr>
                </thead>
                <tbody v-if="isMobileDevice">
                  <tr
                    v-for="protocol in alert.protocols.filter(
                      (i) => i.name === 'Plot Definition',
                    )"
                    :key="protocol.id"
                  >
                    <td style="width: 30%">{{ protocol.name }}</td>
                    <td :key="collectionButtonKey" style="text-align: center">
                      <div
                        v-if="collectionInProgress(protocol)"
                        style="text-align: center"
                      >
                        <q-btn
                          class="col-6"
                          color="primary"
                          icon="edit"
                          data-cy="edit"
                          @click="
                            setCurrentContext(protocol.projectId, protocol)
                          "
                          :loading="plotDataStillLoading({ protocol })"
                        >
                          <!-- Continue Collection -->
                        </q-btn>
                        <q-btn
                          class="buttonMargin"
                          color="red"
                          :data-cy="`clearCollection_${protocol.name
                            .toLowerCase()
                            .replaceAll(' ', '_')}`"
                          @click="confirmClear(protocol)"
                        >
                          <q-icon name="delete" />
                        </q-btn>
                      </div>
                      <q-btn
                        v-else-if="
                          protocol.name === 'Plot Definition' &&
                          !this.checkObjForNull(
                            this.bulkStore?.getStaticPlotContext,
                          )
                        "
                        @click="setCurrentContext(protocol.projectId, protocol)"
                        color="primary"
                        :data-cy="protocol.name"
                      >
                        Change Plot Context
                      </q-btn>

                      <q-btn
                        v-else
                        class="size"
                        @click="setCurrentContext(protocol.projectId, protocol)"
                        color="secondary"
                        :data-cy="protocol.name"
                      >
                        Start
                      </q-btn>
                    </td>
                  </tr>
                  <tr
                    v-for="protocol in alert.protocols.filter(
                      (i) => i.name !== 'Plot Definition',
                    )"
                    :key="protocol.id"
                  >
                    <td>{{ protocol.name }}
                      <q-icon name="info" class="cursor-pointer" @click="showDescription(protocol.id,protocol.name)"/>
                    </td>
                    <td :key="collectionButtonKey" style="text-align: center">
                      <div
                        v-if="collectionInProgress(protocol)"
                        style="text-align: center"
                      >
                        <q-btn
                          data-cy="edit"
                          icon="edit"
                          class="col-6"
                          color="primary"
                          @click="
                            setCurrentContext(protocol.projectId, protocol)
                          "
                          :loading="plotDataStillLoading({ protocol })"
                        >
                          <!-- Continue Collection -->
                        </q-btn>
                        <q-btn
                          class="buttonMargin"
                          color="red"
                          :data-cy="`clearCollection_${protocol.name
                            .toLowerCase()
                            .replaceAll(' ', '_')}`"
                          @click="confirmClear(protocol)"
                        >
                          <q-icon name="delete" />
                        </q-btn>
                      </div>
                      <q-btn
                        v-else
                        class="size"
                        @click="setCurrentContext(protocol.projectId, protocol)"
                        color="secondary"
                        :data-cy="protocol.name"
                        :disable="collectionLabel(protocol.id).disable"
                        type="a"
                        :label="collectionLabel(protocol.id).label"
                        dense
                      >
                        <q-tooltip
                          v-if="
                            collectionLabel(protocol.id).disable &&
                            collectionLabel(protocol.id).label ===
                              'Fauna Plot required'
                          "
                        >
                          The current Plot Layout does not have a Fauna Plot.
                          Please select one (Plot Layout and Visit) with a Fauna
                          Plot to proceed with this protocol
                        </q-tooltip>
                      </q-btn>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr
                    v-for="protocol in alert.protocols.filter(
                      (i) => i.name === 'Plot Definition',
                    )"
                    :key="protocol.id"
                  >
                    <td style="width: 30%">{{ protocol.name }}</td>
                    <td style="word-break: break-all">
                      {{ protocolDescription(protocol.id) }}
                    </td>
                    <td :key="collectionButtonKey" style="text-align: center">
                      <div
                        v-if="collectionInProgress(protocol)"
                        style="text-align: center"
                      >
                        <q-btn
                          class="col-6"
                          color="primary"
                          icon="edit"
                          data-cy="edit"
                          @click="
                            setCurrentContext(protocol.projectId, protocol)
                          "
                          :loading="plotDataStillLoading({ protocol })"
                        >
                          <!-- Continue Collection -->
                        </q-btn>
                        <q-btn
                          class="buttonMargin"
                          color="red"
                          :data-cy="`clearCollection_${protocol.name
                            .toLowerCase()
                            .replaceAll(' ', '_')}`"
                          @click="confirmClear(protocol)"
                        >
                          <q-icon name="delete" />
                        </q-btn>
                      </div>
                      <q-btn
                        v-else-if="
                          protocol.name === 'Plot Definition' &&
                          !this.checkObjForNull(
                            this.bulkStore?.getStaticPlotContext,
                          )
                        "
                        @click="setCurrentContext(protocol.projectId, protocol)"
                        color="primary"
                        :data-cy="protocol.name"
                      >
                        Change Plot Context
                      </q-btn>

                      <q-btn
                        v-else
                        class="size"
                        @click="setCurrentContext(protocol.projectId, protocol)"
                        color="secondary"
                        :data-cy="protocol.name"
                      >
                        Start
                      </q-btn>
                    </td>
                  </tr>
                  <tr
                    v-for="protocol in alert.protocols.filter(
                      (i) => i.name !== 'Plot Definition',
                    )"
                    :key="protocol.id"
                  >
                    <td>{{ protocol.name }}</td>
                    <td>{{ protocolDescription(protocol.id) }}</td>
                    <td :key="collectionButtonKey" style="text-align: center">
                      <div
                        v-if="collectionInProgress(protocol)"
                        style="text-align: center"
                      >
                        <q-btn
                          data-cy="edit"
                          icon="edit"
                          class="col-6"
                          color="primary"
                          @click="
                            setCurrentContext(protocol.projectId, protocol)
                          "
                          :loading="plotDataStillLoading({ protocol })"
                        >
                          <!-- Continue Collection -->
                        </q-btn>
                        <q-btn
                          class="buttonMargin"
                          color="red"
                          :data-cy="`clearCollection_${protocol.name
                            .toLowerCase()
                            .replaceAll(' ', '_')}`"
                          @click="confirmClear(protocol)"
                        >
                          <q-icon name="delete" />
                        </q-btn>
                      </div>
                      <q-btn
                        v-else
                        class="size"
                        @click="setCurrentContext(protocol.projectId, protocol)"
                        color="secondary"
                        :data-cy="protocol.name"
                        :disable="collectionLabel(protocol.id).disable"
                        type="a"
                        :label="collectionLabel(protocol.id).label"
                        dense
                      >
                        <q-tooltip
                          v-if="
                            collectionLabel(protocol.id).disable &&
                            collectionLabel(protocol.id).label ===
                              'Fauna Plot required'
                          "
                        >
                          The current Plot Layout does not have a Fauna Plot.
                          Please select one (Plot Layout and Visit) with a Fauna
                          Plot to proceed with this protocol
                        </q-tooltip>
                      </q-btn>
                    </td>
                  </tr>
                </tbody>
              </q-markup-table>
            </q-card-section>
          </q-card>
        </q-dialog>
      </div>
    </div>
    <div v-else>
      <q-markup-table dense>
        <tr>
          <th id="colName">Project</th>
          <th id="colBlank"></th>
        </tr>
        <tr v-for="project in dataRowsForProjectSelection" :key="project.id">
          <td>{{ project.name }}</td>
          <td>
            <q-btn @click="setCurrentContext(project, project.protocols)">
              Select
            </q-btn>
          </td>
        </tr>
      </q-markup-table>
    </div>
    <q-dialog v-model="infoAlert">
      <q-card>
        <q-card-section>
          <div class="text-bold">{{ protocolTitle }}</div>
        </q-card-section>
        <q-card-section>
          {{ getDescription }}
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {
  notifyHandler,
  paratooErrorHandler,
  resetOneAutoSavedCollection,
  isPlotBasedProtocol,
  findValForKey,
  paratooWarnMessage,
  prettyFormatFieldName,
  prettyFormatDateTime,
  paratooSentryBreadcrumbMessage,
  notifyWithHelpDeskInfo,
} from '../misc/helpers'
import { binary } from 'src/misc/binary'
import {
  cloneDeep,
  isEmpty,
} from 'lodash'
import { useAuthStore } from '../stores/auth'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from '../stores/ephemeral'
import { ref } from 'vue'
import ProjectList from './ProjectList.vue'
import { useDataManagerStore } from 'src/stores/dataManager'
import { validate as isUuid } from 'uuid'
import { modelsToPopulate } from '../misc/apiLists'
import {
  plotSelectionUuid,
} from '../misc/constants'
export default {
  components: {
    ProjectList,
  },
  props: {
    workflowNav: {
      type: Boolean,
      required: false,
      default: false,
    },
    currentProtocolId: {
      type: Number,
      required: false,
      default: null,
    },
    sortedProjProt: {
      type: Array,
    },
  },
  data() {
    return {
      protocolTitle: null,
      getDescription: null,
      infoAlert: false,
      moduleDisable: false,
      showProtocols: null,
      modulesList: null,
      images: {},
      clearCollectionPopup: false,
      clearCollectionProtocol: false,
      pagination: { rowsPerPage: 0 },
      dynamicWidth: this.$q.screen.lt.sm ? 100 : 80,
      IconMargin: this.$q.screen.lt.sm ? 3 : 2,
      collectionButtonKey: 0,
      iconWidth:
        window.screen.width > 1199 && window.screen.width < 1440
          ? 180
          : this.$q.screen.lt.sm
          ? 50
          : 100,
      iconHeight:
        window.screen.height > 1999 ? 180 : this.$q.screen.lt.sm ? 50 : 100,
    }
  },
  setup() {
    const authStore = useAuthStore()
    const bulkStore = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const dataManager = useDataManagerStore()

    return {
      alert: ref({
        show: false,
        item: '',
        protocols: {},
      }),
      authStore,
      bulkStore,
      apiModelsStore,
      ephemeralStore,
      dataManager,
    }
  },
  mounted() {
    const requireContext = require.context(
      '../assets/ProtocolIcons/',
      false,
      /\.png$/,
    )
    this.images = requireContext.keys().reduce((images, path) => {
      images[path] = requireContext(path)
      return images
    }, {})
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    dataRowsForProjectSelection() {
      let currentProtocol = undefined
      const projects = this.authStore.projects.filter((project) => {
        let currProt = undefined
        project.protocols.forEach((prot) => {
          if (prot.id === this.currentProtocolId) {
            currProt = prot
            currentProtocol = prot
            return
          }
        })
        if (currProt !== undefined) return project
      })

      //we do a clone of the projects as to get a local copy we can mutate
      const projectsReturn = cloneDeep(projects)
      projectsReturn.forEach((project) => {
        //set the protocols array to be the object of the current protocol only, as we
        //only care about this one protocol
        project.protocols = currentProtocol
      })
      return projectsReturn
    },
  },
  methods: {
    plotDataStillLoading({ protocol }) {
      const thresholdMs = 60000   //1 minute
      const currTime = Date.now()
      const isPlotBased = isPlotBasedProtocol(protocol.id)
      if (
        isPlotBased &&
        this.ephemeralStore.apiModelsPopulatingStartTime &&
        currTime - this.ephemeralStore.apiModelsPopulatingStartTime > thresholdMs
      ) {
        //TODO warn the user?
        paratooWarnMessage(
          `Waited for plot models to load for more than ${(thresholdMs / 1000).toFixed(0)} seconds`
        )
        return false
      }

      return isPlotBased &&
        this.ephemeralStore.apiModelsArePopulating &&
        !modelsToPopulate.plotModels.every(
          p => this.ephemeralStore.populatedModels.includes(p)
        )
    },
    showDescription(id, name) {
      this.infoAlert = !this.infoAlert; 
      this.protocolTitle = name
      this.getDescription = this.protocolDescription(id)
    },
    protocolNum(m, p) {
      // if has more than 1 protocol then open the dialog
      if (
        //module might have many protocols, but if they're all plot-based, don't even
        //open the dialog
        (p.length > 1 && !p.every((o) => this.disableProtocol(o.id))) ||
        (p.length === 1 &&
          !this.disableProtocol(p[0].id) &&
          this.collectionInProgress(p[0]))
      ) {
        this.alert.item = m
        this.alert.show = true
        this.alert.protocols = p
      }
      //only 1 protocol and not in progress,
      if (p.length === 1 && this.collectionInProgress(p[0]) === false) {
        // if non plot based  then collect directly
        if (this.disableProtocol(p[0].id)) {
          //disable is false
          notifyHandler(
            'warning',
            'You must specify the plot first (Plot Layout protocol)',
          )
        } else {
          //disable is true
          this.setCurrentContext(p[0].projectId, p[0])
        }
      } else if (p.every((o) => this.disableProtocol(o.id))) {
        notifyHandler(
          'warning',
          'You must specify the plot first (Plot Layout protocol)',
        )
      }
    },
    //make the first char of each work capital letter
    capitalizeWords(str) {
      return str
        .split(' ')
        .map((word) => {
          return word.charAt(0).toUpperCase() + word.slice(1)
        })
        .join(' ')
    },
    // get module lists from ProjectList.vue
    showProtocol(showProtocols) {
      this.showProtocols = showProtocols
    },
    modulesLists(modulesList) {
      this.modulesList = modulesList
    },
    collectionLabel(protocolId) {
      const faunaPlotRequired =
        this.apiModelsStore.checkFaunaPlotDependency(protocolId)
      const disable = this.disableProtocol(protocolId, faunaPlotRequired)
      let label = 'start'
      if (disable) {
        const plotHasFaunaPlot = this.dataManager.plotHasFaunaPlot
        label =
          faunaPlotRequired && !plotHasFaunaPlot
            ? 'Fauna Plot required'
            : 'Specify Plot First'
      }

      return { label, disable }
    },
    // Looks at each item in plotContext to see if any are null,
    // returns false
    checkObjForNull(obj) {
      for (let item in obj) {
        if (obj[item] === null) {
          return true
        }
      }
      return false
    },
    disableProtocol(protocolId, faunaPlotRequired = false) {
      let disable = false
      const info = this.apiModelsStore.protocolInformation({
        protId: protocolId,
      })
      
      if (!Array.isArray(info?.workflow)) {
        //warnings and trace about issues with this are done by `protocolInformation()`,
        //so no need to duplicate those here
        disable = true
      } else if (!isPlotBasedProtocol(protocolId)) {
        // not depend on plot
        disable = false
      } else {
        // check if plot is selected
        disable = this.checkObjForNull(this.bulkStore?.getStaticPlotContext)
        if (faunaPlotRequired) {
          // disable if plot does not have fauna if the protocol requires fauna plot
          disable = !this.dataManager.plotHasFaunaPlot
        }
      }
      return disable
    },
    protocolDescription(id) {
      let info = this.apiModelsStore.protocolInformation({
        protId: id,
      })
      return info.description
    },
    collectionInProgress(protocol) {
      if (
        protocol.identifier === 'a9cb9e38-690f-41c9-8151-06108caf539d' &&
        (
          this.bulkStore.getPlotSelectionRelevantProjects?.length > 0 ||
          this.bulkStore.getNewProjectArea(protocol.projectId)
        )
      ) {
        return true
      }

      let collections = this.bulkStore.collectionGet
      return Object.prototype.hasOwnProperty.call(collections, protocol.id)
    },
    confirmClear(protocol) {
      this.clearCollectionProtocol = protocol
      this.clearCollectionPopup = true
    },
    async clearCollection(protocol) {
      this.ephemeralStore.stopTimer = true
      this.ephemeralStore.transectTime = 0
      clearInterval(this.ephemeralStore.transectTimer)
      await binary.removeBinaryFileOfCurrentProt(protocol.id)
      await this.bulkStore.clearCollection({
        protocolId: protocol.id,
        unreservePlotSelections: true,
      })
      await this.clearSubmoduleCollection(protocol.id)

      resetOneAutoSavedCollection(protocol.id.toString())
      this.clearCollectionPopup = false
      this.clearCollectionProtocol = false

      this.collectionButtonKey++ // make Vue update the UI element
    },
    async clearSubmoduleCollection(parentProtId) {
      const submoduleProtocolId = this.bulkStore.getSubModuleID(parentProtId)
      if (submoduleProtocolId) {
        await binary.removeBinaryFileOfCurrentProt(submoduleProtocolId)
        await this.bulkStore.clearCollection({
          protocolId: submoduleProtocolId,
          unreservePlotSelections: true,
        })
      }
      this.bulkStore.removeSubmodule(parentProtId)
    },
    cancelClearingCollection() {
      this.clearCollectionPopup = false
      this.clearCollectionProtocol = false
    },
    //TODO refactor - `protocol` already has project ID so don't need to pass separately
    setCurrentContext(projectId, protocol) {
      const existingCollectionData = this.bulkStore.collectionGetForProt({ protId: protocol.id })
      const existingSurveyMetadata = findValForKey(existingCollectionData, 'survey_metadata')
      const protInfo = this.apiModelsStore.protocolInformation({
        protId: protocol.id,
      })

      if (protInfo.identifier === plotSelectionUuid) {
        let msg = null
        let useHelpDeskNotify = false
        if (!this.ephemeralStore.networkOnline) {
          paratooSentryBreadcrumbMessage(
            `Network offline when trying to start Plot Selection`,
          )
          msg = 'Plot Selection is a desktop protocol that requires a stable internet connection. Please check your connection and try again'
        } else if (!this.ephemeralStore.coreIsAvailable) {
          paratooSentryBreadcrumbMessage(
            `Server is down when trying to start Plot Selection`,
          )
          msg = 'Monitor\'s server appears to be unavailable, it may be undergoing maintenance. The Plot Selection protocol requires a connection to the Monitor server. Please wait a few minutes before reopening the Plot Selection protocol. If the problem persists please contact our help-desk support'
          useHelpDeskNotify = true
        }

        if (msg) {
          if (useHelpDeskNotify) {
            notifyWithHelpDeskInfo(
              'negative',
              0,
              msg,
              0,    //no timeout
            )
          } else {
            notifyHandler(
              'negative',
              msg,
              null,
              0,    //no timeout
              'bottom',
              false,
              true,   //force showing this important notification
            )
          }
          
          return
        }
      }

      const isPlotBased = isPlotBasedProtocol(protocol.id)
      const currentPlotContextData = {}
      const currentCollectionPlotData = {}
      if (isPlotBased && !isEmpty(existingCollectionData)) {
        //similar logic to `flattenPlotDataId()` helper in data manager
        const flattenPlotDataId = (rawPlotData) => {
          if (Number.isInteger(rawPlotData?.id)) {
            //'select existing' from API data
            return rawPlotData.id
          }

          if (isUuid(rawPlotData?.temp_offline_id)) {
            //'create new' in queue
            return rawPlotData.temp_offline_id
          }

          if (isUuid(rawPlotData?.id?.temp_offline_id)) {
            //'select existing' for new plot in queue
            return rawPlotData.id.temp_offline_id
          }
        }

        //similar logic to anonymous function in `dataManager.getPlotDataFromContext()`
        const modelDatumMatchesContext = (o, flattenedPlotId) => {
          if (o?.id) {
            return o.id === flattenedPlotId
          }

          if (!o.id && o?.temp_offline_id) {
            return o.temp_offline_id === flattenedPlotId
          }
        }

        const plotModels = ['plot-layout', 'plot-visit']
        const contextDiffers = {}
        for (const plotModel of plotModels) {
          //resolve context
          const contextData = this.dataManager.getPlotDataFromContext({ modelName: plotModel })
          paratooSentryBreadcrumbMessage(
            `contextData for ${plotModel}: ${JSON.stringify(contextData)}`,
            'setCurrentContext',
          )

          if (contextData) {
            Object.assign(currentPlotContextData, {
              [plotModel]: contextData,
            })
          } else {
            paratooWarnMessage(`Unable to get context data for ${plotModel}`)
          }

          //resolve in-progress collection data
          const collectionRawPlotData = existingCollectionData[plotModel]
          const flattenedCollectionPlotDataId = flattenPlotDataId(collectionRawPlotData)
          const modelData = this.dataManager.cachedModel({ modelName: plotModel })
          const resolvedCollectionPlotData = modelData.find((o) => {
            return modelDatumMatchesContext(o, flattenedCollectionPlotDataId)
          })
          paratooSentryBreadcrumbMessage(
            `resolvedCollectionPlotData for ${plotModel}: ${JSON.stringify(resolvedCollectionPlotData)}`,
            'setCurrentContext',
          )

          if (resolvedCollectionPlotData) {
            Object.assign(resolvedCollectionPlotData, {
              plot_label: this.dataManager.getPlotSelectionData({
                field: 'plot_label',
                plotLayoutId: flattenedCollectionPlotDataId,
              }),
            })

            Object.assign(currentCollectionPlotData, {
              [plotModel]: resolvedCollectionPlotData,
            })
          } else {
            paratooWarnMessage(`Unable to get current collection's plot data for ${plotModel}`)
          }

          //check for diffs between plot context and collection data
          Object.assign(contextDiffers, {
            [plotModel]: contextData.flattened_id !== flattenedCollectionPlotDataId,
          })
        }
        const baseMsg = `Cannot edit protocol '${protInfo.name}' due to differing context`
        let msg = String(baseMsg)
        for (const plotModel of plotModels) {
          if (contextDiffers?.[plotModel]) {
            msg += `<br><br>${prettyFormatFieldName(plotModel)} context differs: `
            switch (plotModel) {
              case 'plot-layout':
                msg += `survey was started with '${currentCollectionPlotData[plotModel]?.plot_label}' but the context is '${currentPlotContextData[plotModel]?.plot_label}'`
                break
              case 'plot-visit':
                msg += `survey was started with '${currentCollectionPlotData[plotModel]?.visit_field_name} (${prettyFormatDateTime(currentCollectionPlotData[plotModel]?.start_date)})' but the context is '${currentPlotContextData[plotModel]?.visit_field_name} (${prettyFormatDateTime(currentPlotContextData[plotModel]?.start_date)})'`
                break
            }
          }
        }

        if (msg !== baseMsg) {
          return notifyHandler(
            'negative',
            msg,
            null,
            30,
            'bottom',
            true,
          )
        }
      }

      if (
        existingSurveyMetadata?.survey_details?.project_id &&
        //weak equality as `project` is int and `project_id` is string.
        //check `projectContext` rather than `currentContext` as when we're swapping
        //around, the `currentContext` hasn't been 'locked-in', and we need the one the
        //user just selected which is in `projectContext`
        this.authStore?.projectContext != existingSurveyMetadata.survey_details.project_id
      ) {
        const projectForExistingData = this.authStore.projects.find(
          //weak equality as `id` is an int but `project_id` is a string
          (p) => p.id == existingSurveyMetadata.survey_details.project_id,
        )
        const msg = `The data for this protocol ('${protInfo.name}') was collected within a different project ('${projectForExistingData?.name}'). You're trying to edit it within the project '${this.authStore?.selectedProject?.name}'. You will need to submit the data for the original project '${projectForExistingData?.name}' before collecting data in this project.`
        notifyHandler('negative', msg, null, 30)
      } else {
        this.authStore.doCurrentContext({
          protocol: {
            id: protocol.id,
            version: protocol.version,
          },
          project: projectId?.id || projectId,
        })

        if (protInfo.customPageRouteOverride) {
          try {
            this.$router.replace(protInfo.customPageRouteOverride)
          } catch (err) {
            let msg = `Failed to navigate to custom page route ${protInfo.customPageRouteOverride} for protocol '${protInfo.name}'`
            notifyHandler('negative', msg, err)
            throw paratooErrorHandler(msg, err)
          }
        } else {
          try {
            //if we're already in Workflow, no need to navigate
            if (!this.workflowNav) {
              this.$router.replace('/workflow/' + protocol.id)
            } else {
              this.$emit('hide-select-dialog')
            }
          } catch (err) {
            let msg = 'Failed to set the project and protocol'
            notifyHandler('negative', msg, err)
            throw paratooErrorHandler(msg, err)
          }
        }
      }
    },
  },
}
</script>

<style scoped>
.iconSize {
  width: 130px;
  height: auto;
}
button.disabled:hover {
  /* https://stackoverflow.com/a/31899325 */
  cursor: not-allowed;
}

.projects-table {
  width: 100%;
}

.projects-table * {
  text-align: left;
}
.projects-table th:nth-child(3) {
  text-align: center;
}
table {
  border-collapse: collapse;
}

tr {
  border-top: solid thin;
}
.btn-margin {
  margin-right: 10px;
  margin-bottom: 10px;
}
.buttonMargin {
  margin-left: 7px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px) {
  .iconSize {
    width: 90px;
    height: auto;
  }
  .q-dialog__inner--minimized > div {
    max-width: 800px;
  }
  .buttonMargin {
    margin-left: 0px;
    margin-top: 5px;
  }
  .img {
    width: 80px;
    height: auto;
  }
  .name{
    font-size: 0.9em;
    line-height: 1.5em
  }
}
</style>
