<template>
  <div class="flex justify-center">
    <div v-if="selectedProjectId == null" style="width: 100%">
      <div
        v-for="proj in sortedProjProt"
        :key="proj.id"
        class="q-pb-md q-pr-sm q-pl-sm"
      >
        <q-list bordered>
          <q-item style="display: flex; flex-wrap: wrap">
            <q-item-section style="flex-basis: 100px">
              <q-item-label>{{ proj.name }} </q-item-label></q-item-section
            >
            <q-item-section side>
              <q-btn
                :data-cy="proj.name"
                flat
                :id="proj.name.replace(/\s/g, '')"
                label="Select"
                @click="onShowModuleProtocols(proj.id)"
              />
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
    <div v-else style="width: 100%">
      <q-list bordered>
        <q-item>
          <q-item-section>{{ protocolName }} </q-item-section>
          <q-item-section side class="margin">
            <q-btn
              data-cy="changeSelection"
              flat
              label="Change selection"
              @click="changeSelection()"
            />
          </q-item-section>
        </q-item>
      </q-list>
      <q-list bordered class="q-mt-md">
        <q-expansion-item label="Project Plots">
          <q-card
            class="row"
            v-if="Array.isArray(projectPlots) && projectPlots.length > 0"
          >
            <q-card-section
              style="border: 1px"
              class="q-py-sm"
              v-for="item in projectPlots"
              :key="item.id"
            >
              <p class="flex items-center q-pa-none q-ma-none plotNameSize">
                {{ item.name }}
              </p>
            </q-card-section>
          </q-card>
          <q-card v-else>
            <q-card-section> No plots assigned to this project </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import { useApiModelsStore } from 'src/stores/apiModels'
import { useAuthStore } from '../stores/auth'
import { useBulkStore } from 'src/stores/bulk'
import DialogTable from './DialogTable.vue'

export default {
  props: {
    sortedProjProt: {
      type: Array,
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const authStore = useAuthStore()
    const bulkStore = useBulkStore()
    return {
      apiModelsStore,
      authStore,
      bulkStore,
    }
  },
  data() {
    return {
      projectPlots: null,
      modulesList: null,
      selectedProjectId: null,
      protocolName: null,
      showProtocols: false,
    }
  },
  methods: {
    changeSelection() {
      this.selectedProjectId = null
      this.showProtocols = false
      this.authStore.setProjectContext(null)
      this.$emit('showProtocols', this.showProtocols)
    },
    onShowModuleProtocols(projectId, skipCheckOpenCollections = false) {
      const openCollections = this.bulkStore.openCollectionsForProject({
        projectId,
        tableData: true,
      })
      if (!skipCheckOpenCollections && openCollections?.length > 0) {
        this.$q.dialog({
          component: DialogTable,
          componentProps: {
            tableRows: openCollections,
            tableTitle: 'Warning: some collections are open for different project(s). You must complete these collections in their own projects first. This means you will need to complete all data entry and also queue these for submission before you can collect these protocols again.'
          }
        }).onOk(() => {
          this.showModuleProtocols(projectId)
        })
      } else {
        this.showModuleProtocols(projectId)
      }
    },
    showModuleProtocols(projectId) {
      this.selectedProjectId = projectId
      let modules = {}
      const relevantProj = this.sortedProjProt.find((o) => o.id === projectId)
      if (relevantProj) {
        for (const prot of relevantProj.protocols) {
          if (Object.keys(modules).includes(prot.module)) {
            modules[prot.module].push({ ...prot, projectId: projectId })
          } else {
            Object.assign(modules, {
              [prot.module]: [{ ...prot, projectId: projectId }],
            })
          }
        }
        this.modulesList = modules
        this.protocolName = relevantProj.name
        this.projectPlots = relevantProj.plot_selections
        this.showProtocols = true
        this.authStore.setProjectContext(this.selectedProjectId)
        this.$emit('modulesList', this.modulesList)
        this.$emit('showProtocols', this.showProtocols)
      } else {
        console.debug('No project')
      }
    },
  },
  async mounted() {
    const currentProjectId =
      this.authStore?.currentContext?.project?.id ||
      this.authStore?.currentContext?.project
    if (currentProjectId) {
      await this.$nextTick()
      //set `skipCheckOpenCollections` to `true` as we don't want to show the dialog when
      //we initially mount (e.g., when backing out of the protocol)
      this.onShowModuleProtocols(currentProjectId, true)
    }
  },
  watch: {
    sortedProjProt: {
      handler() {
        if (this.selectedProjectId) {
          //if we, for example, refresh project, don't want to trigger dialog so set
          //`skipCheckOpenCollections` to `true`
          this.onShowModuleProtocols(this.selectedProjectId, true)
        }
      },
      deep: true,
    },
  },
}
</script>

<style scoped>
.margin {
  margin-left: -40px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 900px)  {
  .plotNameSize{
    font-size: 0.9em;
  }
}
</style>
