<template>
  <div>
    <q-btn
      v-if="messages.length || isReadPermissionDeniedWarning"
      icon="notifications"
      flat
      round
      dense
      :class="
        isReadPermissionDeniedWarning || unreadMessageCount ? 'vibrate' : ''
      "
      @click="showNotification"
      data-cy="notification-btn"
    >
      <q-badge
        v-if="unreadMessageCount || isReadPermissionDeniedWarning"
        color="red"
        floating
        rounded
        class="q-my-md"
        data-cy="unread-message-count"
      >
        {{ isReadPermissionDeniedWarning ? 1 : unreadMessageCount }}
      </q-badge>
    </q-btn>
    <q-dialog v-model="isOpen" @hide="hideMessageHandler">
      <q-card style="width: 600px; word-wrap: break-word" class="q-pa-md">
        <q-card-section class="text-h6 q-py-md" data-cy="notification-title">
          {{ messageData.title }}
        </q-card-section>
        <q-card
          v-if="messageData.scheduledAt"
          class="text-caption text-weight-light text-right"
          data-cy="notification-time"
        >
          {{ prettyFormatDateTime(messageData.scheduledAt) }}
        </q-card>
        <q-separator />
        <q-card-section
          style="word-wrap: break-word; white-space: pre-wrap"
          class="text-body1"
          data-cy="notification-message"
        >
          {{ messageData.message }}
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            v-if="!$router.currentRoute?._value?.fullPath?.includes('preferences')"
            label="preferences"
            flat
            data-cy="goPreferences"
            @click="$router.replace('/preferences')"
          />
          <q-btn label="dismiss" flat v-close-popup data-cy="dismiss" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script setup>
import { ref, onMounted, onUnmounted, computed } from 'vue'
import {
  getPermissionsEnableInstructions,
  getWebPushSubscription,
  paratooErrorHandler,
  paratooSentryBreadcrumbMessage,
  paratooWarnMessage,
  prettyFormatDateTime,
  sendPushSubscriptionToCore,
} from 'src/misc/helpers'
import { useAuthStore } from 'src/stores/auth'
import {
  updatePushMessageReadStatus,
  getPushMessages,
} from '../.././src-pwa/dexieDb/web-push-queue'
import { useEphemeralStore } from 'src/stores/ephemeral'

if (window.Cypress) {
  window.prettyFormatDateTime = prettyFormatDateTime
}

let dexieId = null
let broadcastChannel
let permissionIsDenied = false
const customMessage =
  'Please note that by disabling notifications, you might miss important updates and messages from our team. Go to the Preferences page to update your permissions.'
const permissionDeniedMessage = {
  title: 'Notification Permission Denied',
  message: customMessage,
}

const authStore = useAuthStore()
const ephemeralStore = useEphemeralStore()

const messageData = ref(null)
const isOpen = ref(false)
const messages = ref([])
const isReadPermissionDeniedWarning = ref(false)

subscribeWebPushService()

const unreadMessageCount = computed(
  () => messages.value.filter((m) => !m.isRead).length,
)

onMounted(async () => {
  if ('BroadcastChannel' in window) {
    broadcastChannel = new BroadcastChannel('sw-messages')

    broadcastChannel.onmessage = (event) => {
      messages.value.push(event.data.payload)
    }
  }
  messages.value = await getPushMessages()
})

onUnmounted(() => {
  if (broadcastChannel) {
    broadcastChannel.close()
  }
})

async function hideMessageHandler() {
  isReadPermissionDeniedWarning.value = false
  if (!dexieId) return
  messages.value.at(-1).isRead = true
  updatePushMessageReadStatus(dexieId)
}

async function subscribeWebPushService() {
  if (!('Notification' in window || 'serviceWorker' in navigator)) {
    paratooWarnMessage(
      'Current browser does not support Notification API or service workers',
    )
    return
  }
  const vapidPublicKey = process.env.VUE_APP_WEB_PUSH_PUBLIC_KEY
  if (vapidPublicKey === 'insert_key_here') {
    paratooSentryBreadcrumbMessage(
      'Vapid public key not found, no need to subscribe',
      'subscribeWebPushService',
    )
    return
  }

  permissionIsDenied = Notification.permission === 'denied'
  isReadPermissionDeniedWarning.value = permissionIsDenied
  if (permissionIsDenied) {
    paratooSentryBreadcrumbMessage(
      'Notification permission denied cannot subscribe',
      'subscribeWebPushService',
    )
    return
  }

  if (!authStore.token || !ephemeralStore.coreIsAvailable) return

  // get service worker push manager
  const { subscription: currSubscription } = await getWebPushSubscription()
  if (currSubscription) {
    paratooSentryBreadcrumbMessage(
      'Subscription already exists, no need to subscribe again',
      'subscribeWebPushService',
    )
    return
  }

  const serviceWorker = await navigator.serviceWorker.getRegistration()
  if (!serviceWorker) return
  try {
    const subscription = await serviceWorker.pushManager.subscribe({
      userVisibleOnly: true,
      applicationServerKey: process.env.VUE_APP_WEB_PUSH_PUBLIC_KEY,
    })

    await sendPushSubscriptionToCore(subscription)
    paratooSentryBreadcrumbMessage(
      'Subscription successful',
      'subscribeWebPushService',
    )
  } catch (error) {
    paratooErrorHandler('Failed to subscribe to push notifications', error)
    const subscription = await serviceWorker.pushManager.getSubscription()
    if (subscription) {
      await subscription.unsubscribe()
    }
  }
}

async function showNotification() {
  if (permissionIsDenied) {
    messageData.value = permissionDeniedMessage
  } else {
    messageData.value = messages.value.at(-1).messageData
    dexieId = messages.value.at(-1).id
  }
  isOpen.value = true
}
</script>

<style scoped>
.vibrate {
  animation: vibrate 0.3s ease-in-out infinite;
}

@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
</style>
