<template>
  <div>
    <div>
      <q-card class="bg-primary">
        <q-card-section class="row justify-center">
          <span class="q-ml-sm text-white" data-cy="visitTypeText">
            <strong v-if="previousVisit">This is a Revisit!</strong>
            <strong v-else>This is a NEW Visit!</strong>
          </span>
        </q-card-section>
      </q-card>
      <br />
    </div>
    <div v-if="previousVisit">
      <q-markup-table data-cy="revisitTable">
        <thead>
          <tr>
            <th id="speciesHeader">
              <div class="text-h5 text-left">Current Species in Previous Survey(s)</div>
            </th>
          </tr>
        </thead>

        <tbody v-for="voucher in revisitSpeciesList" :key="voucher">
          <tr :data-cy="`revisitTableRow_${voucher.field_name.replaceAll(' ', '_')}`">
            <td class="text-left">{{ `${voucher.field_name} [${voucher.voucher_barcode}]` }}</td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
    <br />
    <paratoo-api-model-crud-ui
      id="recruitment-survivorship-survey"
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="newRecord"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          e = {
            ...e,
            ['is_revisit']: previousVisit,
          }
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
} from '../misc/helpers'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useDataManagerStore } from '../stores/dataManager'

export default {
  inject: ['doc'],
  name: 'recruitmentSurvivorship',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const dataManager = useDataManagerStore()

    return {
      bulkStore,
      apiModelsStore,
      dataManager,
    }
  },
  data() {
    const rawModelConfig = makeModelConfig(
      'recruitment-survivorship-survey',
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )
    let modelConfig = { ...rawModelConfig }

    modelConfig.fields.is_revisit.hidden = true   //set by this component, not user

    
    modelConfig.fields.reason_for_revisit.hidden = true

    const {
      previousVisit,
      revisitSpeciesList,
    } = this.checkForRevisit()

    const conditionalFields = [
      {
        field: 'reason_for_revisit',
        fieldCb: this.handleReasonForRevisitCb,
      }
    ]

    return {
      modelConfig,
      newRecord: {
        is_revisit: previousVisit,
      },
      revisitSpeciesList: revisitSpeciesList,
      previousVisit: previousVisit,
      conditionalFields: conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  watch: {
    modelValue(val) {
      this.newRecord = val
    },
  },
  methods: {
    //get all species (vouchers) for all past surveys for this plot
    checkForRevisit() {
      let previousVisit = false
      const revisitSpeciesList = []
      const plotId = this.bulkStore.getPlotLayoutId

      const relevantSurveys = this.dataManager.surveyDataFromPlot({
        modelName: 'recruitment-survivorship-survey',
        //might have reselected a plot that was created offline (still in queue)
        plotLayoutId: plotId?.temp_offline_id
          ? plotId.temp_offline_id
          : plotId,
      })

      for (const survey of relevantSurveys) {
        if (survey.floristics_voucher?.length > 0) {
          previousVisit = true
          for (const voucher of survey.floristics_voucher) {
            let currVariant = null
            for (const variant of ['full', 'lite']) {
              if (
                //need to check existence as typeof a null is still an object
                voucher[`voucher_${variant}`] &&
                typeof voucher[`voucher_${variant}`] === 'object' &&
                //unpopulated relations will return object `{ data: null }`
                Object.keys(voucher[`voucher_${variant}`]).includes('data') &&
                voucher[`voucher_${variant}`].data === null
              ) {
                continue
              }
              if (voucher?.[`voucher_${variant}`]) {
                currVariant = variant
                break
              }
            }

            let relevantVoucher = null
            if(!voucher?.[`voucher_${currVariant}`].id) {
              relevantVoucher = this.dataManager.voucherFromID({
                ID: voucher?.[`voucher_${currVariant}`],
                protocolVariant: currVariant,
              })
            } else {
              relevantVoucher = voucher?.[`voucher_${currVariant}`]
            }
            if (relevantVoucher) {
              //don't push duplicates
              if (!revisitSpeciesList.some(o => o.field_name === relevantVoucher.field_name)) {
                //push object to array so we can extend with more info later if desired
                revisitSpeciesList.push({
                  field_name: relevantVoucher.field_name,
                  voucher_barcode: relevantVoucher.voucher_barcode,
                })
              }
            }
          }
        }
      }

      return {
        previousVisit,
        revisitSpeciesList,
      }
    },
    handleReasonForRevisitCb({ newVal, inputDef }) {
      if (newVal?.is_revisit) {
        inputDef.hidden = false
      }
    },
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>
