<template>
  <div>
    <paratoo-api-model-crud-ui
      id="recruitment-survivorship-observation"
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :collection-survey-flag="true"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import { asyncCrud, makeModelConfig } from '../misc/helpers'
import { useEphemeralStore } from '../stores/ephemeral'
import { useBulkStore } from '../stores/bulk'
import { useDataManagerStore } from '../stores/dataManager'

export default {
  inject: ['doc'],
  name: 'recruitmentSurvivorshipObservation',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()
    const dataManager = useDataManagerStore()

    return {
      ephemeralStore,
      bulkStore,
      dataManager,
    }
  },
  data() {
    const rawModelConfig = makeModelConfig(
      'recruitment-survivorship-observation',
      this.doc,
      this.protocolId,
    )
    let modelConfig = { ...rawModelConfig }

    //use bulk store rather than data manager as we only care about the current
    //in-progress collection
    const speciesList = this.bulkStore.collectionGetForProt({ protId: this.protocolId })[
      'recruitment-survivorship-survey'
    ].floristics_voucher.map(o => {
      let currVariant = null
      if (o?.voucher_full) {
        currVariant = 'full'
      } else if (o?.voucher_lite) {
        currVariant = 'lite'
      }

      const relevantVoucher = this.dataManager.voucherFromID({
        ID: o?.[`voucher_${currVariant}`],
        protocolVariant: currVariant,
      })

      return relevantVoucher.field_name
    })

    modelConfig.fields.location.initCurrent = false
    modelConfig.fields.species = {
      label: 'Species',
      rules: [],
      type: 'select',
      options: speciesList,
      hidden: false,
    }

    modelConfig.fields.recruitment_health.modelConfig.fields.crown_damage.type = "condition-crown-damage-index"
    return {
      modelConfig,
    }
  },
}
</script>
