<template>
  <div>
    <!-- Check if there are vouchers for the selected Plot Visit -->
    <div v-if="voucher">
      <div class="q-pa-md">
        <q-table dense title="Species Overview" :rows="observationModelValues" :columns="growthStageColumns"
          row-key="floristics_voucher" :pagination="paginationConfig">
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="floristics_voucher" :props="props">
                {{ getVoucherLabel(props.row) }}
              </q-td>
              <q-td key="veg_growth_stage" :props="props">
                <template v-for="growth in getOptions(
                  {
                    optionsKey: 'lut-condition-growth-stage-tree',
                    type: 'select',
                    optionsMapper: (e) => ({
                      value: e.symbol,
                      label: e.label,
                    }),
                  },
                  props.row.growth_and_life_stage?.map((o) => o.growth_stage),
                )" :key="growth">
                  {{ growth }}<br />
                </template>
              </q-td>
              <q-td key="recruitment_life_stage" :props="props">
                <template v-for="life in props.row.growth_and_life_stage" :key="life">
                  {{ life.life_stage }}<br />
                </template>
                <!-- {{ props.row.growth_and_life_stage?.map((o) => o.life_stage) }} -->
                <!-- {{ props.row.growth_and_life_stage?.map((o) => o.life_stage).join('\n\n') }} -->
              </q-td>
              <q-td key="edit" :props="props">
                <q-btn color="primary" icon-right="edit" no-caps flat dense :data-cy="`editSpecies_${props.rowIndex}`"
                  @click="openEditDialog(props.row)" />
              </q-td>
              <q-td key="delete" :props="props">
                <q-icon size="sm" name="delete" class="cursor-pointer" @click="deleteObs(props.rowIndex)" />
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
      <q-btn data-cy="addSpecies" label="Add Species" color="primary" @click="alert = true" />
      <q-dialog v-model="alert" persistent>
        <q-card class="no-margin full-width">
          <q-card-section>
            <div class="text-h6">Growth Stage</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <paratoo-api-model-crud-ui
              id="recruitment-survey-growth-stage"
              :fields="modelConfigObservation.fields"
              :title="''"
              :row-data-key="modelConfigObservation.rowDataKey"
              :exclude-submit-btn-flag="false"
              :current-prot-id="modelConfigObservation.currentProtId"
              :modelValue="observationModelValues"
              :editData="editData"
              @update:modelValue="updateModelValue" />
          </q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Back" color="secondary" wrap class="q-ml-sm" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <div v-else>
      <NoVouchersErrMsg/>
    </div>
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  notifyHandler,
  getVouchersForProjectArea,
  makeSelectableVoucherOptionsMapper,
  paratooWarnMessage,
} from '../misc/helpers'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useDataManagerStore } from '../stores/dataManager'
import {
  cloneDeep,
  isEqual,
} from 'lodash'
import NoVouchersErrMsg from './NoVouchersErrMsg.vue'

export default {
  inject: ['doc'],
  name: 'RecruitmentGrowthStage',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
    NoVouchersErrMsg,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  async setup() {
    const bulkStore = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const dataManager = useDataManagerStore()
    const floristicsVouchers = await getVouchersForProjectArea()
    return {
      bulkStore,
      apiModelsStore,
      dataManager,
      floristicsVouchers,
    }
  },
  data() {
    const floristicsVoucherVariant = this.apiModelsStore.voucherVariant({
      protId: this.protocolId,
    })

    //`makeSelectableVoucherOptionsMapper` specify `valueIsObject` to be true, as if we
    //don't the `value` that is used will cause overlap between full and lite vouchers
    //that are the same ID (as without this flag the `value` is only the ID)
    const voucher = this.floristicsVouchers.map(
      makeSelectableVoucherOptionsMapper(true),
    )

    const modelConfigObservation = makeModelConfig(
      'recruitment-growth-stage',
      this.doc,
      this.protocolId,
    )

    const initObservationModelValues = this.modelValue
      ? cloneDeep(this.modelValue)
      : []

    return {
      growthStageColumns: [
        {
          name: 'floristics_voucher',
          required: true,
          label: 'Vouchers',
          align: 'left',
          field: (row) => row.floristics_voucher,
          format: (val) => `${val}`,
          sortable: true,
        },
        {
          name: 'veg_growth_stage',
          label: 'Growth Stage',
          align: 'left',
          field: 'veg_growth_stage',
          sortable: true,
        },
        {
          name: 'recruitment_life_stage',
          label: 'Life Stage',
          align: 'left',
          field: 'recruitment_life_stage',
          sortable: true,
        },
        {
          name: 'edit',
          align: 'center',
          label: 'Edit',
          field: 'edit',
          classes: 'ellipsis',
          style: 'max-width: 100px',
          headerClasses: 'ellipsis',
          headerStyle: 'max-width: 100px',
        },
        {
          name: 'delete',
          label: 'Delete',
          align: 'center',
          style: 'color:#FF5733',
        },
      ],
      paginationConfig: {
        rowsPerPage: 10,
      },
      voucher,
      observationModelValues: initObservationModelValues,
      modelConfigObservation,
      floristicsVoucherVariant,
      alert: false,
      voucherExist: false,
      editData: { bool: false, data: null, editIndex: null },
    }
  },
  methods: {
    updateModelValue(e) {
      let newVal = cloneDeep(e)
      const existingData = cloneDeep(this.modelValue)

      this.observationModelValues.push(newVal)

      let valueToEmit = null
      if (existingData) {
        if (this.editData.bool) {
          existingData[this.editData.editIndex] = newVal
          valueToEmit = existingData
        } else {
          valueToEmit = [...existingData, newVal]
        }
      } else {
        valueToEmit = [newVal]
      }
      this.$emit('update:modelValue', valueToEmit)

      if (existingData && this.editData.bool) {
        //if we've changed data, need to update the local record of obs
        this.observationModelValues = existingData
      }
      // blank references and tracking for the next record
      this.editData = {
        bool: false,
        data: null,
        editIndex: null,
      }

      this.alert = false
    },
    openEditDialog(data) {
      let currDataVariant = null
      if (data?.floristics_voucher?.voucher_full) {
        currDataVariant = 'full'
      } else if (data?.floristics_voucher?.voucher_lite) {
        currDataVariant = 'lite'
      }

      const modelVoucherToUse = this.voucher.find(
        //use `isEqual` as might have been collected offline and thus will be object
        o => isEqual(o.value.id, data.floristics_voucher[`voucher_${currDataVariant}`]) && o.voucherVariant === currDataVariant
      )

      this.editData.editIndex = this.observationModelValues.findIndex(
        //use `isEqual` as might have been collected offline and thus will be object
        o => isEqual(o?.floristics_voucher?.[`voucher_${currDataVariant}`], modelVoucherToUse.value.id)
      )

      if (this.editData.editIndex === -1) {
        notifyHandler('negative', 'Something went wrong finding the record to edit')
        this.editData.editIndex = null
      } else {
        this.editData.bool = true
        this.editData.data = data

        this.alert = true
      }
    },
    deleteObs(index) {
      this.observationModelValues.splice(index, 1)
      this.$emit('update:modelValue', this.observationModelValues)
    },
    async onSubmitFunc() {
      if (!this.modelValue) {
        notifyHandler('negative', 'You have to add species')
        return false
      }
      return true
    },

    getOptions(inputDef, symbol) {
      if (inputDef.options) {
        return inputDef.options
      }
      const key = inputDef.optionsKey
      var data = this.apiModelsStore.cachedModel({ modelName: key })
      if (!data) {
        throw new Error(`Could not find data for key=${key} in store/apiModels`)
      }
      symbol = data
        .filter((o) => symbol?.includes(o.symbol))
        .map((o) => o.label)
      return symbol
    },
    getVoucherLabel(value) {
      console.log('getVoucherLabel() value:', value)
      let variant = null
      if (value?.floristics_voucher?.voucher_full) {
        variant = 'full'
      } else if (value?.floristics_voucher?.voucher_lite) {
        variant = 'lite'
      }

      if (variant !== null) {
        const relevantVoucher = this.dataManager.voucherFromID({
          ID: value.floristics_voucher[`voucher_${variant}`],
          protocolVariant: variant,
        })
        return relevantVoucher.field_name
      }

      paratooWarnMessage('Could not find voucher label')
      return 'error'
    },
  },
}
</script>
