<template>
  <div>
    <div>
      <q-table
        dense
        wrap-cells
        :title="'Count Summary'"
        :rows="observations"
        :columns="sapSeedColumns"
        row-key="label"
        :filter="filter"
        :pagination="paginationConfig"
      >
        <template v-slot:top-right>
          <q-input
            borderless
            dense
            debounce="300"
            v-model="filter"
            placeholder="Search"
            data-cy="search"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="label" :props="props">
              {{ props.row.species }}
            </q-td>
            <q-td key="seedling_count" :props="props">
              <div class="row items-center justify-center">
                <q-btn
                  icon="remove"
                  color="negative"
                  no-caps
                  flat
                  dense
                  data-cy="seedlingCountDecrement"
                  @click="minusValue(props.row, 'Seedling Count')"
                />
                <p class="q-ma-none" data-cy="seedlingCountValue">
                  {{ props.row.seedling_count }}
                </p>
                <q-btn
                  icon="add"
                  color="positive"
                  no-caps
                  flat
                  dense
                  data-cy="seedlingCountIncrement"
                  @click="addValue(props.row, 'Seedling Count')"
                />
              </div>
            </q-td>
            <q-td key="sapling_count" :props="props">
              <div class="row items-center justify-center">
                <q-btn
                  icon="remove"
                  color="negative"
                  no-caps
                  flat
                  dense
                  data-cy="saplingCountDecrement"
                  @click="minusValue(props.row, 'Sapling Count')"
                />
                <p class="q-ma-none" data-cy="saplingCountValue">
                  {{ props.row.sapling_count }}
                </p>
                <q-btn
                  icon="add"
                  color="positive"
                  no-caps
                  flat
                  dense
                  data-cy="saplingCountIncrement"
                  @click="addValue(props.row, 'Sapling Count')"
                />
              </div>
            </q-td>
            <q-td key="juvenile_count" :props="props">
              <div class="row items-center justify-center">
                <q-btn
                  icon="remove"
                  color="negative"
                  no-caps
                  flat
                  dense
                  data-cy="juvenileCountDecrement"
                  @click="minusValue(props.row, 'Juvenile Count')"
                />
                <p class="q-ma-none" data-cy="juvenileCountValue">
                  {{ props.row.juvenile_count }}
                </p>
                <q-btn
                  icon="add"
                  color="positive"
                  no-caps
                  flat
                  dense
                  data-cy="juvenileCountIncrement"
                  @click="addValue(props.row, 'Juvenile Count')"
                />
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { makeModelConfig } from '../misc/helpers'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useDataManagerStore } from '../stores/dataManager'
import isEqual from 'lodash/isEqual'

export default {
  inject: ['doc'],
  props: {
    modelValue: {
      type: Object,
      required: false,
    },
    protocolId: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    const apiModelsStore = useApiModelsStore()
    const dataManager = useDataManagerStore()

    return {
      bulkStore,
      apiModelsStore,
      dataManager,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      'recruitment-sapling-and-seedling-count',
      this.doc,
      this.protocolId,
    )
    modelConfig.fields.seedling_count.hidden = true
    modelConfig.fields.sapling_count.hidden = true
    modelConfig.fields.juvenile_count.hidden = true
    const observations = this.bulkStore
      .collectionGetForProt({ protId: this.protocolId })
      ['recruitment-growth-stage'].map((o) => {
        let currVariant = null
        if (o?.floristics_voucher?.voucher_full) {
          currVariant = 'full'
        } else if (o?.floristics_voucher?.voucher_lite) {
          currVariant = 'lite'
        }

        const relevantVoucher = this.dataManager.voucherFromID({
          ID: o?.floristics_voucher?.[`voucher_${currVariant}`],
          protocolVariant: currVariant,
        })

        const currInitObj = {
          species: relevantVoucher.field_name,
          seedling_count: 0,
          sapling_count: 0,
          juvenile_count: 0,
        }
        if (this.modelValue) {
          const existingCountsForVoucher = this.modelValue.find(
            o => o.species === relevantVoucher.field_name
          )

          if (existingCountsForVoucher) {
            for (const countType of ['seedling', 'sapling', 'juvenile']) {
              currInitObj[`${countType}_count`] = existingCountsForVoucher?.[`${countType}_count`] || 0
            }
          }
        }

        return currInitObj
      })

    return {
      sapSeedColumns: [
        {
          name: 'label',
          required: true,
          label: 'Voucher',
          align: 'left',
          field: (row) => row.label,
          format: (val) => `${val}`,
          sortable: true,
        },
        {
          name: 'seedling_count',
          label: 'Seedling Count',
          align: 'center',
          field: 'seedling_count',
          sortable: true,
        },
        {
          name: 'sapling_count',
          label: 'Sapling Count',
          align: 'center',
          field: 'sapling_count',
          sortable: true,
        },
        {
          name: 'juvenile_count',
          label: 'Juvenile Count',
          align: 'center',
          field: 'juvenile_count',
          sortable: true,
        },
      ],
      paginationConfig: {
        rowsPerPage: 10,
      },
      modelConfig,
      filter: ref(''),
      observations,
    }
  },
  watch: {
    observations: {
      handler(val) {
        if (isEqual(val, this.modelValue)) return
        this.$emit('update:modelValue', structuredClone(val))
      },
      deep: true,
    },
  },
  methods: {
    addValue(count, type) {
      if (type == 'Sapling Count') {
        count['sapling_count']++
      } else if (type == 'Seedling Count') {
        count['seedling_count']++
      } else if (type == 'Juvenile Count') {
        count['juvenile_count']++
      }
    },
    minusValue(count, type) {
      if (count.sapling_count !== 0) {
        if (type == 'Sapling Count') {
          count['sapling_count']--
        }
      }
      if (count.seedling_count !== 0) {
        if (type == 'Seedling Count') {
          count['seedling_count']--
        }
      }
      if (count.juvenile_count !== 0) {
        if (type == 'Juvenile Count') {
          count['juvenile_count']--
        }
      }
    },
    async onSubmitFunc() {
      return true
    },
  },
}
</script>
