<!-- FIXME clean up code for dynamic width of elements -->

<template>
  <div>
    <h5
      :style="{ maxWidth: dynamicWidth + '%', margin: '0 auto' }"
      style="text-align: center"
    >
      {{ title }}
    </h5>
    <p>To add media, click icon of media type you with to add</p>
    <div
      class="row"
      :style="{ maxWidth: dynamicWidth + '%', margin: '0 auto' }"
    >
      <!-- select capture method buttons -->
      <q-btn
        class="col"
        outline
        :text-color="
          capturePhoto ? 'green' : $q.dark.isActive ? 'white' : 'black'
        "
        icon="add_a_photo"
        @click="selectCaptureMethod('photo')"
        data-cy="addPhoto"
      />
      <q-btn
        class="col"
        outline
        :text-color="
          captureVideo ? 'green' : $q.dark.isActive ? 'white' : 'black'
        "
        icon="video_call"
        @click="selectCaptureMethod('video')"
        data-cy="addVideo"
      />
      <q-btn
        class="col"
        outline
        :text-color="
          captureAudio ? 'green' : $q.dark.isActive ? 'white' : 'black'
        "
        icon="library_music"
        @click="selectCaptureMethod('audio')"
        data-cy="addAudio"
      />
    </div>
    <br />
    <!-- photo camera -->
    <div v-if="capturePhoto">
      <Camera
        v-model="newRecord"
        :model-value="newRecord"
        :camera-type="'media'"
        :allow-multiple-media="true"
        :allow-comment="true"
        @update:modelValue="updateMedia"
      />
    </div>
    <br />
    <!-- video camera -->
    <div v-if="captureVideo">
      <VideoCamera
        v-model="newRecord"
        :model-value="newRecord"
        :allow-multiple="true"
        :allow-comment="true"
        @update:modelValue="updateMedia"
      />
    </div>
    <br />
    <!-- audio recorder -->
    <div v-if="captureAudio">
      <AudioRecorder
        :allow-multiple="true"
        v-model="newRecord"
        :model-value="newRecord"
        :allow-comment="true"
        @update:modelValue="updateMedia
        "
      />
    </div>
  </div>
</template>
<script>
import Camera from './Camera.vue'
import VideoCamera from './VideoCamera.vue'
import AudioRecorder from './AudioRecorder.vue'

export default {
  components: {
    Camera,
    VideoCamera,
    AudioRecorder,
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    type: {
      type: String,
      required: false,
    },
  },
  data() {
    return {
      dynamicWidth: this.$q.screen.lt.sm ? 100 : 50,
      capturePhoto: false,
      captureVideo: false,
      captureAudio: false,
    }
  },
  computed: {
    newRecord: {
      get() {
        if (!this.modelValue) return []

        if (Array.isArray(this.modelValue)) return this.modelValue
        else {
          return [this.modelValue]
        }
      },
      set(e) {
        this.$emit('update:modelValue', e)
      },
    },
    // some protocols required different title
    title() {
      const title = this.type === 'photo_comment' ? 'Add Photo' : 'Add Media'
      return title
    },
  },
  mounted() {
    //open media capturer or file chooser if there's files already stored in newRecord
    this.$nextTick(() => {
      if (this.newRecord !== null && this.newRecord.length > 0) {
        this.newRecord.forEach((o) => {
          //determine what type of media capturer
          // const media = o.media || o.src
          const currentMediaMimeType = o.mimeType
          let imageMimeTypes = ['image/jpeg', 'image/png', 'image/webp']
          let videoMimeTypes = ['video/mp4', 'video/mpeg']
          let audioMimeTypes = ['audio/mp3', 'audio/mpeg']
          if (imageMimeTypes.includes(currentMediaMimeType)) {
            this.capturePhoto = true
          }
          if (
            videoMimeTypes.includes(currentMediaMimeType) ||
            o.fileType === 'video' ||
            o.fileType === 'multi_video'
          ) {
            this.captureVideo = true
          }
          if (
            audioMimeTypes.includes(currentMediaMimeType) ||
            o.fileType === 'audio' ||
            o.fileType === 'multi_audio'
          ) {
            this.captureAudio = true
          }
        })
      }
    })
  },
  methods: {
    selectCaptureMethod(method) {
      //we allow multiple capture methods per observation, e.g., audio and video
      switch (method) {
        case 'photo':
          this.capturePhoto = !this.capturePhoto
          break
        case 'video':
          this.captureVideo = !this.captureVideo
          break
        case 'audio':
          this.captureAudio = !this.captureAudio
          break
      }
    },
    updateMedia(newVal) {
      this.newRecord = newVal?.map(({ src, ..._ }) => ({ media: src, ..._ }))
    },
  },
}
</script>
