<!-- This map is only used to help users to locate the plot points, so no data from it will be send to the server -->
<template>
  <div>
    <div v-if="userCoords?.lat" data-cy="coordsValid">
      <div class="q-gutter-sm">
        <q-btn
          :label="layoutTriggerLabel"
          color="primary"
          data-cy="startLayout"
          @click="alert = true"
        />
        <q-btn
          v-if="markedPoints.length"
          color="red"
          icon="delete"
          data-cy="deletePlot"
          @click="confirm = true"
        />
      </div>
      <p v-if="markedPoints.length">
        Delete current plot layout to reselect the Existing Plot
      </p>
      <q-dialog v-model="alert" :maximized="true">
        <q-card :class="isMobileDevice? '':'q-pa-md'">
          <q-card-section>
            <q-page class="flex" :style="isMobileDevice? 'min-height: 75vh': 'min-height: 80vh'">
              <q-card style="flex: 1">
                <l-map
                  style="position: relative"
                  :zoom="19"
                  :maxZoom="22"
                  :center="customCenter"
                  ref="layoutMap"
                >
                  <l-tile-layer :url="url" :attribution="attribution" />
                  <div class="compass-container">
                    <compass />
                  </div>
                  <l-control position="bottomleft">
                    <q-btn
                      color="grey"
                      icon="my_location"
                      @click="backToLocation('currentLocation')"
                    />
                  </l-control>
                  <l-control position="bottomleft">
                    <q-btn
                      color="grey"
                      label="Plot"
                      @click="backToLocation('plot')"
                    />
                  </l-control>
                  <l-control-scale
                    position="bottomright"
                    :imperial="false"
                    :metric="true"
                  ></l-control-scale>

                  <l-polygon
                    :lat-lngs="plotData.latLngs"
                    :color="
                      markedPoints.length === plotData.plotPoints.length
                        ? 'green'
                        : 'yellow'
                    "
                  />
                  <!-- current location -->
                  <l-marker :lat-lng="userCoords || { lat: 0, lng: 0 }">
                    <l-icon
                      icon-url="/icons/bluedot.svg"
                      :icon-size="[16, 16]"
                    />
                    <l-tooltip>
                      <div>Current Location</div>
                    </l-tooltip>
                  </l-marker>
                  <!-- transect lines -->
                  <div v-if="displayTransectsCount">
                    <l-polyline
                      v-for="line of transectLines"
                      :key="line[0].name"
                      :lat-lngs="line"
                      color="white"
                    />
                  </div>
                  <!-- plot points -->
                  <l-circle-marker
                    v-for="(point, index) in plotData.plotPoints"
                    :key="index"
                    :lat-lng="point"
                    :color="pointColor(point.name.symbol)"
                    :weight="10"
                  >
                    <l-tooltip>
                      {{ point.name.symbol }} - lat: {{ point.lat.toFixed(6) }},
                      lng: {{ point.lng.toFixed(6) }}
                    </l-tooltip>
                  </l-circle-marker>
                </l-map>
              </q-card>
            </q-page>
          </q-card-section>
          <q-card-actions class="row justify-center q-gutter-md">
            <q-btn
              v-if="markedPoints.length"
              color="yellow"
              outline
              @click="undoPoint"
              >Undo last point</q-btn
            >
            <q-btn
              :disable="!userCoords"
              color="primary"
              data-cy="markClosestPoint"
              @click="addCurrentPoint"
              >{{
                !userCoords
                  ? 'Waiting for GPS'
                  : plannedPointList.length === 0
                  ? 'Done'
                  : 'Mark Closest Point'
              }}</q-btn
            >
            <q-btn color="secondary" @click="transectsCount"
              >Transect lines</q-btn
            >
          </q-card-actions>
          <q-card-actions align="right">
            <q-btn label="Back" color="primary" wrap v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <q-dialog v-model="confirm">
        <q-card>
          <q-card-section>
            Do you want to delete the current plot data
          </q-card-section>
          <q-card-actions align="right">
            <q-btn
              label="yes"
              color="red"
              wrap
              @click="deletePlot"
              v-close-popup
            />
            <q-btn label="cancel" color="primary" wrap v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <div v-else><h4>Waiting for GPS...</h4></div>
  </div>
</template>

<script>
import {
  notifyHandler,
  getDistanceFromLatLonInM,
  paratooWarnMessage,
  paratooSentryBreadcrumbMessage,
} from 'src/misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
import {
  LMap,
  LTileLayer,
  LMarker,
  LTooltip,
  LCircleMarker,
  LPolyline,
  LPolygon,
  LIcon,
  LControlScale,
  LControl,
} from 'vue-leaflet/src/components'
import 'leaflet/dist/leaflet.css'
import Compass from './Compass.vue'
import { useApiModelsStore } from '../stores/apiModels'
import * as cc from 'src/misc/constants'
import { computed } from 'vue'
import isEqual from 'lodash/isEqual'
export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
    LCircleMarker,
    LPolyline,
    LPolygon,
    Compass,
    LIcon,
    LControlScale,
    LControl,
  },
  props: {
    selectedPlotId: {
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    modelValue: {
      required: true,
    },
  },
  setup(props) {
    const url = `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`
    const attribution =
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'

    const { plotLayoutPoints } = useApiModelsStore()
    // const plotData = cachedModel({ modelName: 'plot-layout' })
    const plotData = computed(() => {
      const plotId = props.selectedPlotId?.value || props.selectedPlotId
      return plotLayoutPoints('C', plotId)
    })

    const mapHeight = computed(() => Math.round(screen.availHeight * 0.6))

    const bulkStore = useBulkStore()

    return { url, attribution, plotData, bulkStore, mapHeight }
  },
  data() {
    paratooSentryBreadcrumbMessage(
      `Got plot data: ${JSON.stringify(this.plotData)}`,
      'RevisitLayout.vue',
    )
    let markedPoints = this.modelValue ? this.modelValue : []

    let plannedPointList = this.plotData?.plotPoints?.map((point) => ({
      ...point,
      name: point.name.symbol,
    })) || []

    plannedPointList = plannedPointList.filter(
      (point) =>
        !markedPoints.some((markedPoint) => markedPoint.name === point.name),
    )

    return {
      alert: false,
      confirm: false,
      transectType: [null, 'standard', 'hashtag'],
      displayTransectsCount: 0,
      plannedPointList,
      markedPoints,
      customCenter: this.userCoords,
    }
  },
  methods: {
    backToLocation(point) {
      const map = this.$refs.layoutMap.leafletObject
      if (point === 'plot') {
        const plotCenter = this.plotData.plotPoints.find(
          (point) => point.name === 'C' || point.name.symbol === 'C',
        )
        this.customCenter = plotCenter
        map.panTo(plotCenter)
      } else {
        this.customCenter = this.userCoords
        map.panTo(this.userCoords)
      }
    },
    transectsCount() {
      if (this.displayTransectsCount < 2) {
        this.displayTransectsCount++
      } else {
        this.displayTransectsCount = 0
      }
    },
    addCurrentPoint() {
      //if there are no more points, the 'mark point' button (that triggers this method)
      //will read 'done' and will close the modal
      if (this.plannedPointList.length === 0) {
        this.alert = false
        return
      }
      // Number of metres the user must be within to allow associating a point with a plannedpoint
      //if the `VUE_APP_SPOOF_PLOT_LAYOUT` env is set, we use a large value to allow
      //  creating points without having to move the GPS coordinates
      const meterMinimum = cc.spoofPlotLayout ? 10e6 : 5

      // Find closest "planned" point
      const eligiblePoint = this.checkEligibleLocationPoint(meterMinimum)
      if (!eligiblePoint) {
        return notifyHandler(
          'negative',
          `Point not recorded. GPS must detect less than ${meterMinimum} meter range from any planned point.`,
        )
      }
      this.markedPoints.push(eligiblePoint)
      this.plannedPointList = this.plannedPointList.filter(
        (point) => point.name !== eligiblePoint.name,
      )
    },
    /**
     * Finds an eligible location point based on the given criteria.
     * @param {Array} plannedPointList - The list of planned points.
     * @param {Array} existingPoints - The list of existing points.
     * @param {number} meterMinimum - The minimum distance in meters.
     * @param {Object} currentLocation - The current location coordinates.
     * @returns {Object} - The eligible location point.
     */
    checkEligibleLocationPoint(meterMinimum) {
      // Find the first point that meets the eligibility criteria
      const closestPoint = this.plannedPointList.reduce(
        (minDistancePoint, point) => {
          const index = this.markedPoints.findIndex(
            ({ name }) => name === point.name,
          )

          if (index !== -1) return minDistancePoint

          const planLoc = { lat: point.lat, lng: point.lng }
          const distanceToCurrent = getDistanceFromLatLonInM(
            this.userCoords,
            planLoc,
          )

          if (distanceToCurrent <= meterMinimum) {
            if (
              !minDistancePoint ||
              distanceToCurrent < minDistancePoint.distance
            ) {
              return { point, distance: distanceToCurrent }
            }
          }

          return minDistancePoint
        },
        null,
      )
      return closestPoint?.point
    },
    pointColor(pointName) {
      return this.plannedPointList.some((p) => p.name === pointName)
        ? 'yellow'
        : 'green'
    },
    undoPoint() {
      this.plannedPointList.push(this.markedPoints.pop())
    },
    deletePlot() {
      this.markedPoints = []
      this.plannedPointList = this.plotData.plotPoints.map((point) => ({
        ...point,
        name: point.name.symbol,
      }))
    },
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    layoutTriggerLabel() {
      if (this.markedPoints?.length) {
        return 'Edit Plot Layout for Revisit'
      }
      return 'Start Plot Layout for Revisit'
    },
    transectLines() {
      const lines = []
      // iterate through all points (marked and planned)
      const allPoints = this.plotData.plotPoints
      for (const point of allPoints) {
        let pointName = ''
        if (typeof point?.name === 'object' && point.name?.symbol) {
          pointName = point.name.symbol
        } else if (typeof point?.name === 'string') {
          pointName = point.name
        } else {
          paratooWarnMessage(`Unable to determine name of point: ${JSON.stringify(point)}`)
        }
        // skip all corner/middle points
        const skip = ['SW', 'NW', 'NE', 'SE', 'C']
        if (skip.includes(pointName)) continue

        // Point valid, find second point and add line

        const oppositePoints = {
          W: 'E',
          N: 'S',
          E: 'W',
          S: 'N',
        }
        let secondPointName = oppositePoints[pointName[0]]

        secondPointName = `${secondPointName}${pointName.substring(1)}`

        const secondPoint = allPoints.find(({ name }) => {
          if (typeof name === 'object' && name?.symbol) {
            return name.symbol === secondPointName
          } else if (typeof name === 'string') {
            return name === secondPointName
          }
          return null
        })
        if (!secondPoint) {
          paratooWarnMessage(`Unable to determine name of second point: ${JSON.stringify(point)}`)
        }

        lines.push([point, secondPoint])
      }

      const type = this.transectType[this.displayTransectsCount]

      const hashtagLines = []
      if (type === 'hashtag') {
        for (const line of lines) {
          let currLineSymbol = ''
          if (typeof line?.[0]?.name === 'object' && line[0].name?.symbol) {
            currLineSymbol = line[0].name.symbol
          } else if (typeof line?.[0]?.name === 'string') {
            currLineSymbol = line[0].name
          } else {
            paratooWarnMessage(`Unable to determine name of point for hashtag line: ${JSON.stringify(line)}`)
          }
          if (
            currLineSymbol.includes(2) ||
            currLineSymbol.includes(4)
          ) {
            hashtagLines.push(line)
          }
        }
        return hashtagLines
      }
      return lines
    },
  },
  watch: {
    selectedPlotId(newVal, oldVal) {
      if (isEqual(newVal, oldVal)) return
      this.plannedPointList = this.plotData?.plotPoints?.map((point) => ({
        ...point,
        name: point.name.symbol,
      }))
      this.markedPoints = []
    },
    'markedPoints.length': function (newVal) {
      if (newVal === 0) {
        this.$emit('noPointsMarked')
      } else {
        this.$emit('pointsMarked', this.markedPoints)
      }
    },
  },
}
</script>
<style scoped>
.compass-container {
  position: absolute;
  top: 2%;
  right: 12px;
}
</style>
