<template>
  <q-card flat>
    <q-card-section>
      <crud
        ref="entry"
        :fields="entryFields"
        :current-prot-id="protocolId"
        :model-value="localRecord"
        :exclude-submit-btn-flag="startBtnDisabled"
        @new-record-changed="updateDate"
        :submit-btn-label="startSearchBtnLabel"
        @update:modelValue="startActiveSearch"
      />
      <q-banner
        v-if="startBtnDisabled && !localRecord.start_location"
        class="bg-info text-black text-bold"
      >
        Please record the start location to start the search.
      </q-banner>
    </q-card-section>
    <template v-if="localRecord.start_location">
      <q-card-section v-if="localRecord.start_location">
        <div
          v-if="!localRecord.end_location"
          class="text-h5"
          id="time"
          data-cy="timeInMinutes"
        >
          Time Elapsed: {{ hours && hours }}{{ minutes }}:{{ seconds }}
        </div>
        <TrackLog :protocol-id="protocolId" :log="localRecord.track_log" />
      </q-card-section>
      <q-card-section>
        <q-card>
          <crud
            ref="signCrud"
            :title="addSignBtnLabel"
            :fields="signFields"
            :current-prot-id="protocolId"
            :model-value="localRecord.sign"
            collectionSurveyFlag
            submit-btn-label="Save"
            :conditional-fields="signConditionFields"
            :conditional-field-callback="conditionalFieldsCallback"
            @update:modelValue="(e) => updateObs(e, 'sign')"
          />
        </q-card>
      </q-card-section>
      <q-card-section>
        <q-card v-if="animalFields">
          <!-- only applicable to vert search as we reuse this file for this protocol -->
          <crud
            class="q-my-md"
            ref="animalCrud"
            title="Animal Observed"
            :fields="animalFields"
            :current-prot-id="protocolId"
            :model-value="localRecord.animal_observed"
            collectionSurveyFlag
            submit-btn-label="Save"
            :conditional-fields="animalConditionalFields"
            :conditional-field-callback="conditionalFieldsCallback"
            @update:modelValue="(e) => updateObs(e, 'animal_observed')"
          />
        </q-card>
      </q-card-section>
    </template>
    <q-card-section v-if="searching">
      <q-btn
        class="q-ma-my"
        data-cy="end_search"
        label="End search"
        color="red"
        rounded
        @click="endSearch"
      />
    </q-card-section>
    <q-card-section v-else-if="localRecord.end_time">
      <q-btn
        class="q-ma-my"
        label="Continue search"
        color="secondary"
        rounded
        @click="startTimer"
      />
      <q-card class="q-my-md q-pa-md">
        <LatLngPicker title="End location" v-model="localRecord.end_location" />
        <DateTimeInput
          label="End time"
          v-model="localRecord.end_time"
          :disabled="true"
        />
      </q-card>
    </q-card-section>
  </q-card>
</template>
<script>
import { useEphemeralStore } from 'src/stores/ephemeral'
import { useBulkStore } from 'src/stores/bulk'
import { useDataManagerStore } from 'src/stores/dataManager'
import {
  safeObjectCopy,
  asyncCrud as crud,
  notifyHandler,
  createDependentFieldCallback,
  makeModelConfig,
} from 'src/misc/helpers'
import { date } from 'quasar'
import TrackLog from './Invertebrate/InvertebrateTrackLog.vue'
import LatLngPicker from './latLngPicker.vue'
import DateTimeInput from './DateTimeInput.vue'
import { ref, inject } from 'vue'
import cloneDeep from 'lodash/cloneDeep'
export default {
  inject: ['doc'],
  components: { crud, TrackLog, LatLngPicker, DateTimeInput },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    initData: {
      required: true,
    },
  },
  setup(props) {
    const ephemeral = useEphemeralStore()

    const doc = inject('doc')?.value
    const { fields } = makeModelConfig(props.modelName, doc, props.protocolId)
    const signFields = fields.sign.modelConfig.fields
    const animal_observed = fields.animal_observed

    // only these entry fields can be handle by crud
    // TODO: make this generic like the PlotBeltTransect.vue
    const entryFieldNames = [
      'plot_type',
      'start_location',
      'start_time',
      'end_time',
      'start_location_photo',
      'track_width',
      'track_substrate',
      'cleared_prior_to_survey',
      'plot_type',
      'corner',
      'corner_start_point',
    ]
    const entryFields = cloneDeep(fields)
    for (const name in entryFields) {
      if (!entryFieldNames.includes(name)) {
        entryFields[name].hidden = true
        if (name === 'end_time' || name === 'end_location') {
          entryFields[name].rules = []
        }
      }
      if (
        name === 'plot_type' &&
        props.modelName === 'vertebrate-active-passive-search'
      ) {
        entryFields[name].optionsFilter = (option) =>
          option.label !== 'Core monitoring plot'
      }
    }

    // only need end time until end_search
    if (!props.initData?.end_time) {
      entryFields.end_time.hidden = true
    }
    if (!props.initData?.start_time) {
      entryFields.start_time.hidden = true
    }
    entryFields.start_location.initCurrent = false
    entryFields.start_location.latLngPickerBtnLabel = 'Record start location'

    // seem like normal conditional fields does not work with custom lut
    // so use callback
    const conditionalFields = [
      'number_of_active_entrance',
      'number_of_passive_entrance',
      'active',
      'number_of_entrance',
    ]
    const signConditionFields = []

    for (const field of conditionalFields) {
      if (signFields[field]) {
        signConditionFields.push({
          field: field,
          dependsOn: 'sign_type',
          dependsOnSelection: ['DEN', 'WAR', 'BUR'],
        })
        signFields[field].hidden = true
      }
    }

    // conditional fields in animal observed
    const animalObservedFields = [
      'head_length',
      'body_length',
      'tail_length',
      'hind_foot_length',
      'forearm_length',
      'tibia_length',
      'ear_width',
      'ear_length',
      'animal_fate',
    ]

    let animalConditionalFields = null
    if (animal_observed) {
      animalObservedFields.forEach(
        (field) => (animal_observed.modelConfig.fields[field].hidden = true),
      )
      animalConditionalFields = animalObservedFields.map((field) => ({
        field,
        dependsOn: 'hand_caught',
        dependsOnSelection: [true],
      }))
      // trap death is not related to hand_caught
      animal_observed.modelConfig.fields.animal_fate.optionsFilter = (o) =>
        o.label !== 'Trap death'
    }

    // add 'other species' from survey setup to dropdown list of attributable fauna species
    const { collectionGetForProt } = useBulkStore()
    const setupData = collectionGetForProt({ protId: props.protocolId })[
      'sign-based-active-plot-search-survey'
    ]
    const otherSpecies = setupData?.target_species?.find(
      (species) => species.other_species?.length,
    )?.other_species
    if (otherSpecies) {
      const otherSpeciesOptions = otherSpecies.map(({ other_species: o }) => ({
        label: o,
        value: o,
      }))
      const speciesField = signFields.attributable_fauna_species
      const modelName = speciesField.select.optionsKey
      let defaultOptions = useDataManagerStore()
        .cachedModel({ modelName })
        .map(({ symbol, label }) => ({ label, value: symbol }))
      defaultOptions = defaultOptions.filter(
        ({ value }) => value !== 'Other' && value !== 'O',
      )
      speciesField.select.options = [...defaultOptions, ...otherSpeciesOptions]
    }

    return {
      signFields: ref(signFields),
      // only applicable to vert active and passive search, as we reuse this component for this protocol
      animalFields: !animal_observed
        ? null
        : ref(animal_observed.modelConfig.fields),
      entryFields: ref(entryFields),
      ephemeral,
      entryFieldNames,
      animalConditionalFields,
      signConditionFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  data() {
    // we star the timer if the saved data don't have end time but start_time which mean
    // the survey was started but has'nt ended yet
    let duration = 0
    let searching = false
    let intervalID
    if (this.initData?.start_time && !this.initData?.end_time) {
      const current = new Date()
      const start = new Date(this.initData?.start_time)
      duration = date.getDateDiff(current, start, 'second')
      if (!this.initData?.end_time) {
        searching = true
        intervalID = setInterval(() => {
          this.duration++
          const min = Math.floor(this.duration / 60)
          if (min % 60 === 0 && min >= 60) {
            notifyHandler('info', `${min} have pass`)
          }
        }, 1000)
      }
    } else if (this.initData?.start_time && this.initData?.end_time) {
      const { start_time, end_time } = this.initData
      duration = date.getDateDiff(end_time, start_time, 'second')
    }

    let startSearchBtnLabel
    let addSignBtnLabel
    switch (this.modelName) {
      case 'sign-based-active-plot-search':
        startSearchBtnLabel = 'Start Plot Sign Search'
        addSignBtnLabel = 'Sign observed'
        break

      case 'sign-based-nearby-track-plot':
        startSearchBtnLabel = 'Start Nearby Transect Track Survey'
        addSignBtnLabel = 'Track observed'
        this.signFields.sign_type.default = 'TRA'
        this.signFields.sign_type.disable = true
        this.signFields.sign_age.hidden = true
        this.signFields.count.label = 'Number Of Individuals'
        this.signFields.count.hint = ''
        break

      default:
        startSearchBtnLabel = 'Start active search'
        addSignBtnLabel = 'Sign observed'
        break
    }

    return {
      localRecord: safeObjectCopy(this.initData) || {},
      startBtnDisabled: true,
      // Timer
      searching,
      intervalID,
      duration, // sec
      startSearchBtnLabel,
      addSignBtnLabel,
    }
  },
  computed: {
    hours() {
      const h = Math.floor(this.duration / 3600)

      if (!h) return null

      if (h < 10) {
        return `0${h}:`
      }
      return `${h}:`
    },
    minutes() {
      const h = Math.floor(this.duration / 3600)
      const min = Math.floor(this.duration / 60) - h * 60
      if (min < 10) {
        return `0${min}`
      }
      return min
    },
    seconds() {
      const min = Math.floor(this.duration / 60)
      const sec = this.duration - min * 60
      if (sec < 10) {
        return `0${sec}`
      }
      return sec
    },
    userCoords() {
      return this.ephemeral.userCoords
    },
  },
  methods: {
    async onSubmitFunc() {
      if (!this.localRecord.end_time || this.searching) {
        notifyHandler('negative', 'The search has not finished')
        return false
      }

      return await this.$refs['entry'].onSubmitFunc()
    },
    startActiveSearch(newRecord) {
      delete newRecord.end_time
      const current = new Date()
      if (!this.localRecord.start_time) {
        newRecord.start_time = current
        newRecord.track_log = [newRecord.start_location]
        this.startTimer()
      }
      this.localRecord = { ...this.localRecord, ...newRecord }
      this.startBtnDisabled = true
      this.$emit('update:modelValue', cloneDeep(this.localRecord))
    },
    updateDate({ newRecord }) {
      if (!this.localRecord.start_location && newRecord.start_location) {
        this.entryFields.start_time.hidden = false
        this.startBtnDisabled = false
      }
    },
    startTimer() {
      this.entryFields.end_time.hidden = true
      if (this.localRecord.duration) {
        const { start_time } = this.localRecord
        const current = new Date()
        this.duration = date.getDateDiff(current, start_time, 'second')
      }
      delete this.localRecord.end_location
      this.searching = true
      this.intervalID = setInterval(() => {
        this.duration++

        // notify every hour pass
        const min = this.duration / 60
        if (min % 60 === 0 && min >= 60) {
          notifyHandler('info', `${min} have pass`)
        }

        // saved userCoords every 1 min for track log
        if (this.duration % 60 === 0 && this.duration >= 60) {
          if (!this.localRecord.track_log) {
            this.localRecord.track_log = [this.userCoords]
          } else {
            this.localRecord.track_log.push(this.userCoords)
          }
        }
      }, 1000)
    },
    endSearch() {
      this.searching = false
      notifyHandler('positive', 'Search ended')
      clearInterval(this.intervalID)
      const current = new Date()
      this.localRecord.end_time = current
      this.localRecord.duration = parseFloat((this.duration / 60).toFixed(2))
      this.localRecord.end_location = this.userCoords
      this.entryFields.end_time.hidden = false
    },
    /**
     *
     * @param {*} newVal to update
     * @param {*} field to update 'sign' or 'animal_observed'
     */
    updateObs(newVal, field) {
      this.localRecord[field] = structuredClone(newVal)
    },
  },
  unmounted() {
    clearInterval(this.intervalID)
  },
}
</script>
