<template>
  <div>
    <template v-if="userCoords?.lat">
      <div class="q-pt-md q-pb-lg">
        <q-btn
          v-if="draggingState === DRAGGING_STATE.NOT_STARTED"
          outline
          data-cy="startTrackDrag"
          label="Start Track Drag"
          @click="startTrack"
        />
        <q-btn
          v-if="draggingState === DRAGGING_STATE.IS_DRAGGING"
          outline
          data-cy="endTrackDrag"
          label="End Track Drag"
          @click="endTrack"
        />
      </div>
      <l-map
        v-if="
          draggingState === DRAGGING_STATE.IS_DRAGGING ||
          draggingState === DRAGGING_STATE.FINISHED
        "
        style="min-height: 400px"
        ref="map"
        :center="currentCenter"
        :zoom="currentZoom"
        :minzoom="3"
        :maxZoom="19"
        @ready="makeMapRef()"
      >
        <l-tile-layer :url="url" :attribution="attribution" />

        <l-polyline
          v-if="modelValue?.route_taken?.length"
          :lat-lngs="modelValue.route_taken"
        />
        <l-circle-marker
          v-if="userCoords?.lat"
          :lat-lng="userCoords"
          color="blue"
          :weight="Number(11)"
        >
          <l-popup
            :content="`Current lat: ${userCoords?.lat}, lng: ${userCoords?.lng}`"
          />
        </l-circle-marker>

        <l-control position="bottomright">
          <q-btn icon="my_location" @click="backToLocation" />
        </l-control>
        <l-control-scale :imperial="true" />
      </l-map>
    </template>
    <div v-else><h4>Waiting for GPS...</h4></div>
  </div>
</template>

<script>
import { useEphemeralStore } from '../stores/ephemeral'
import {
  LMap,
  LTileLayer,
  LControl,
  LControlScale,
  LPolyline,
  LCircleMarker,
  LPopup,
} from 'vue-leaflet/src/components'
import { mapState } from 'pinia'
import cloneDeep from 'lodash/cloneDeep'
import isEqual from 'lodash/isEqual'
export default {
  name: 'GeneralBasedTrackLog',

  components: {
    LMap,
    LTileLayer,
    LControl,
    LPolyline,
    LControlScale,
    LCircleMarker,
    LPopup,
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    zoom: {
      type: Number,
      required: false,
    },
    url: {
      type: String,
      required: false,
    },
    attribution: {
      type: String,
      required: false,
    },
    flag: {
      required: false,
    },
    rowDataKey: {
      required: false,
    },
    signBasedTrackLog: {
      type: Array,
      required: false,
    },
    startRecordFlag: {
      type: Boolean,
      required: false,
    },
    fields: {
      type: Object,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    return {
      ephemeralStore,
    }
  },
  data() {
    const localFields = cloneDeep(this.fields)
    const trackDragFields = [
      'route_taken',
      'start_location',
      'start_time',
      'end_location',
      'end_time',
    ]
    trackDragFields.forEach((field) => {
      delete localFields[field]
    })

    const DRAGGING_STATE = {
      NOT_STARTED: 0,
      IS_DRAGGING: 1,
      FINISHED: 2,
    }
    return {
      map: null,
      currentCenter: this.ephemeralStore.userCoords,
      currentZoom: 18,
      newRecord: this.modelValue || {},
      DRAGGING_STATE,
      draggingState: DRAGGING_STATE.NOT_STARTED,
      localFields,
      intervalId: null,
    }
  },
  computed: {
    ...mapState(useEphemeralStore, ['userCoords']),
  },
  watch: {
    modelValue(val) {
      if (!val?.start_location && !val?.end_location)
        this.draggingState = this.DRAGGING_STATE.NOT_STARTED
      else if (val?.start_location && !val?.end_location)
        this.draggingState = this.DRAGGING_STATE.IS_DRAGGING
      else if (val?.start_location && val?.end_location)
        this.draggingState = this.DRAGGING_STATE.FINISHED
    },
    draggingState(val) {
      if (val === this.DRAGGING_STATE.IS_DRAGGING) this.updateTrackLog()
      else if (this.intervalId) clearInterval(this.intervalId)
    },
  },
  methods: {
    startTrack() {
      const date = new Date()
      this.$emit('update:modelValue', {
        ...this.modelValue,
        start_time: date,
        start_location: this.userCoords,
      })
    },
    updateTrackLog() {
      const interval = 5000 //ms
      if (this.draggingState !== this.DRAGGING_STATE.IS_DRAGGING) return
      this.intervalId = setInterval(() => {
        const routeTaken = this.modelValue.route_taken || []
        if (isEqual(this.userCoords, routeTaken.at(-1))) return
        routeTaken.push(this.userCoords)
        this.$emit('update:modelValue', {
          ...this.modelValue,
          route_taken: routeTaken,
        })
      }, interval)
    },
    endTrack() {
      const date = new Date()
      this.$emit('update:modelValue', {
        ...this.modelValue,
        end_time: date,
        end_location: this.userCoords,
      })
    },
    makeMapRef() {
      this.map = this.$refs.map.leafletObject
    },
    backToLocation() {
      this.map.panTo(this.userCoords)
    },
  },
  unmounted() {
    if (this.intervalId) clearInterval(this.intervalId)
  },
}
</script>
