<template>
  <div>
    <div class="q-py-lg">
      <div v-if="userCoords && JSON.stringify(userCoords) !== '{}'">
        <l-map
          :style="isMobileDevice ? 'height: 350px; width: 100%' : 'height: 500px; width: 100%'"
          ref="map"
          :center="currentCenter"
          :zoom="currentZoom"
          :minzoom="3"
          :maxZoom="19"
          @ready="makeMapRef()"
        >
          <l-tile-layer :url="url" :attribution="attribution" />
          <l-circle-marker :lat-lng="userCoords" color="blue" :weight="10">
            <l-tooltip>
              Current Location
              <br />
              lat: {{ userCoords.lat }}
              <br />
              lng: {{ userCoords.lng }}
            </l-tooltip>
          </l-circle-marker>

          <div v-for="point in trackStations" :key="point">
            <l-circle-marker
              :lat-lng="point"
              :color="point === currentStation?.location ? 'Orange' : 'lime'"
              :weight="10"
            >
              <l-popup v-if="point === currentStation?.location">
                Current Station
                <br />
                lat: {{ point.lat }}
                <br />
                lng: {{ point.lng }}
              </l-popup>
            </l-circle-marker>
          </div>

          <l-control position="bottomright">
            <q-btn icon="my_location" @click="backToLocation" />
          </l-control>
          <l-control-scale :imperial="true"></l-control-scale>
        </l-map>
      </div>
      <div v-if="!userCoords"><h4>Waiting for GPS...</h4></div>
    </div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="fields"
      :user-coords="userCoords"
      :current-prot-id="protocolId"
      :collection-survey-flag="true"
      :modelValue="modelValue"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  createDependentFieldCallback,
  makeModelConfig,
} from '../misc/helpers'
import { useBulkStore } from 'src/stores/bulk'
import { isEqual } from 'lodash'
import { inject } from 'vue'
import {
  LMap,
  LTileLayer,
  LControl,
  LControlScale,
  LCircleMarker,
  LTooltip,
  LPopup,
} from 'vue-leaflet/src/components'
export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    LMap,
    LTileLayer,
    LControl,
    LControlScale,
    LCircleMarker,
    LTooltip,
    LPopup,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    zoom: {
      type: Number,
      required: false,
      default: 1,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    rowDataKey: {
      required: true,
    },
  },

  setup(props) {
    const { collectionGetForProt, sentCollectionGetForProt } = useBulkStore()

    const surveySetupData = collectionGetForProt({
      protId: props.protocolId,
    })['sign-based-track-station-survey-setup']

    const stationIDs = surveySetupData.track_station.map(
      (o) => o.track_station_id,
    )

    const doc = inject('doc')?.value

    const { fields } = makeModelConfig(
      props.rowDataKey,
      doc,
      props.protocolId,
    )

    // get track station ID from survey setup
    fields.track_station_id.type = 'select'
    fields.track_station_id.options = stationIDs

    // add custom track log component
    // fields.points.type = 'sign_based_track_log'
    // fields.points.rules = [
    //   (value) =>
    //     (value !== undefined && value !== null && value !== '') ||
    //     value?.length < 1 ||
    //     `Your need to end transect`,
    // ]

    return {
      fields,
      surveySetupData,
      collectionGetForProt,
      sentCollectionGetForProt,
      trackLogLocation: null,
    }
  },
  data() {
    const conditionalFields = [
      {
        field: 'weather',
        fieldCb: this.autoFillCb,
      },
      {
        field: 'track_station_id',
        fieldCb: this.displayOnMap,
      },
    ]

    const existing = this.sentCollectionGetForProt({
      protId: this.protocolId,
    })
    const collection = this.collectionGetForProt({
      protId: this.protocolId,
    })[this.rowDataKey]

    const weather = existing[existing.length - 1]?.[this.rowDataKey][0].weather

    const trackStations = this.collectionGetForProt({
      protId: this.protocolId,
    })['sign-based-track-station-survey-setup'].track_station.map(
      (o) => o.location,
    )

    console.log(trackStations)

    return {
      conditionalFieldsCallback: createDependentFieldCallback(),
      conditionalFields,
      weather,
      collection,
      tracks: null,
      trackStations,
      map: null,
      currentCenter: this.userCoords,
      currentZoom: 11.5,
      currentStation: null,
    }
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
  methods: {
    makeMapRef() {
      this.map = this.$refs.map.leafletObject
    },
    backToLocation() {
      this.map.panTo(this.userCoords)
    },
    displayOnMap({ newVal, oldVal }) {
      if (isEqual(newVal, oldVal)) return
      if (newVal && newVal.track_station_id) {
        this.currentStation = this.surveySetupData.track_station.find(
          (o) => o.track_station_id === newVal.track_station_id,
        )
      }
    },
    autoFillCb({ newVal, oldVal }) {
      if (isEqual(newVal, oldVal)) return
      if (this.weather && newVal.weather === null) {
        newVal.weather = {
          cloud_cover: this.weather.cloud_cover,
          moon_phase: this.weather.moon_phase,
          precipitation: this.weather.precipitation,
          precipitation_duration: this.weather.precipitation_duration,
          temperature: this.weather.temperature,
          wind_description: this.weather.wind_description,
        }
      }
      return newVal
    },
    async onSubmitFunc() {
      return true
    },
  },
}
</script>
