<template>
  <div class="q-pt-md">
    <q-list bordered separator>
      <q-item-label header>
        <div>New Transect</div>
      </q-item-label>
      <q-item data-cy="New" tag="label" dense>
        <q-item-section avatar>
          <q-radio color="secondary" v-model="newTransect" :val="true" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Create new transect</q-item-label>
        </q-item-section>
      </q-item>
      <q-item
        data-cy="Existing"
        tag="label"
        dense
        v-if="submittedSurvey?.length"
      >
        <q-item-section avatar>
          <q-radio color="secondary" v-model="newTransect" :val="false" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Select existing transect</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { useApiModelsStore } from '../stores/apiModels'
import { computed } from 'vue'

export default {
  props: {
    modelValue: {
      type: Boolean,
      required: false,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: false,
    },
  },
  setup(props, { emit }) {
    const { cachedModel } = useApiModelsStore()

    const submittedSurvey = cachedModel({ modelName: props.rowDataKey }) || []

    const newTransect = computed({
      get: () => {
        return props.modelValue
      },
      set: (val) => {
        emit('update:modelValue', val)
      },
    })

    return {
      submittedSurvey,
      newTransect
    }
  },
}
</script>
