<template>
  <div>
    <crud
      ref="crud"
      :fields="fields"
      :title="''"
      :current-prot-id="protocolId"
      :row-data-key="rowDataKey"
      :modelValue="modelValue"
      :main-survey-flag="true"
      @update:modelValue="submitRecord"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
    />
  </div>
</template>
<script>
import {
  asyncCrud,
  createDependentFieldCallback,
  makeConditionFieldForTargetSpecies,
  makeModelConfig,
} from 'src/misc/helpers'

const stepsToHide = {
  trackPlot: 'sign-based-nearby-track-plot',
}

export default {
  inject: ['doc'],
  components: {
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      required: true,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  mounted() {
    this.setStepVisibility(this.modelValue)
  },
  data() {
    const { fields, rowDataKey } = makeModelConfig(
      this.modelName,
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )
    let conditionalFields = makeConditionFieldForTargetSpecies(fields)
    return {
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      fields,
      rowDataKey,
    }
  },
  methods: {
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
    submitRecord(e) {
      this.setStepVisibility(e)
      this.$emit('update:modelValue', e)
    },
    setStepVisibility(newVal) {
      const signBasedPlotSearchModelName =
        'sign-based-active-plot-search-survey'
      if (this.modelName !== signBasedPlotSearchModelName) return
      // we need habitat description if the survey is stand alone
      const modelsToDisplay = [
        {
          model: stepsToHide['trackPlot'],
          hide: !newVal?.nearby_track_transect_survey,
        },
      ]

      this.$emit('setStepVisibility', modelsToDisplay)
    },
  },
}
</script>
