<template>
  <div>
    <crud
      ref="transect"
      :modelValue="modelValue"
      :fields="modelConfig.fields"
      :current-prot-id="protocolId"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :row-data-key="modelConfig.rowDataKey"
      @update:modelValue="(e) => $emit('update:modelValue', e)"
      @collection-entry-added="collectionEntryAdded"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  createSiteSetupFieldDef,
  createSurveySetupIdCb,
  makeConditionFieldForTargetSpecies,
} from 'src/misc/helpers'
import { useBulkStore } from 'src/stores/bulk'

export default {
  inject: ['doc'],
  components: {
    crud: asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
    modelValue: {
      type: Array,
      default: () => [],
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    return {
      bulkStore,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      this.modelName,
      this.doc,
      this.protocolId,
    )

    const surveyModelName = 'sign-based-track-station-setup'
    const siteSetupOptionsKey = `${surveyModelName}.track_station`
    createSiteSetupFieldDef(
      this.protocolId,
      modelConfig.fields,
      this.modelName,
      siteSetupOptionsKey,
      'station_setup_ID',
    )

    modelConfig.fields.survey_setup_ID.hidden = true
    modelConfig.fields.survey_setup_ID.disable = true

    let conditionalFields = [
      {
        field: 'survey_setup_ID',
        dependsOn: 'station_setup_ID',
        fieldCb: function ({ newVal, oldVal }) {
          return createSurveySetupIdCb(newVal, oldVal, 'station_setup_ID')
        },
      },
    ]
    conditionalFields = makeConditionFieldForTargetSpecies(
      modelConfig.fields,
      conditionalFields,
    )

    return {
      modelConfig,
      conditionalFieldsCallback: createDependentFieldCallback(),
      conditionalFields,
      siteSetupOptionsKey,
    }
  },
  methods: {
    collectionEntryAdded() {
      //need to re-compute the options (specifically so that the mapper that disables the
      //already-selected transect is re-computed)
      createSiteSetupFieldDef(
        this.protocolId,
        this.modelConfig.fields,
        this.modelName,
        this.siteSetupOptionsKey,
        'station_setup_ID',
      )
    },
  },
}
</script>
