<template>
  <div>
    <div v-if="userCoords && JSON.stringify(userCoords) !== '{}'">
      <l-map
        :style="isMobileDevice ? 'height: 350px; width: 100%' : 'height: 500px; width: 100%'"
        ref="map"
        :center="currentCenter"
        :zoom="currentZoom"
        :minzoom="3"
        :maxZoom="19"
        @ready="makeMapRef()"
      >
        <l-tile-layer :url="url" :attribution="attribution" />
        <l-circle-marker :lat-lng="userCoords" color="blue" :weight="10">
          <l-tooltip>
            Current Location
            <br />
            lat: {{ userCoords.lat }}
            <br />
            lng: {{ userCoords.lng }}
          </l-tooltip>
        </l-circle-marker>
        <!-- <l-polyline :lat-lngs="formattedCoordinates(modelValue)" /> -->

        <l-control position="bottomright">
          <q-btn icon="my_location" @click="backToLocation" />
        </l-control>
        <l-control-scale :imperial="true"></l-control-scale>
      </l-map>
      <!-- <q-btn
        v-if="!modelValue && !this.trackLogStatus"
        class="q-mt-md"
        data-cy="startTransect"
        outline
        label="Start Transects"
        @click="recordTransect('start')"
      />
      <div>
        <q-btn
          v-if="this.trackLogStatus"
          class="q-mt-md"
          outline
          data-cy="endTransect"
          label="End Transects"
          @click="recordTransect('end')"
        />
      </div> -->
    </div>
    <div v-if="!userCoords"><h4>Waiting for GPS...</h4></div>
  </div>
</template>

<script>
import {
  LMap,
  LTileLayer,
  LControl,
  LControlScale,
  LCircleMarker,
  LTooltip,
} from 'vue-leaflet/src/components'

export default {
  name: 'SignBasedTrackLog',

  components: {
    LMap,
    LTileLayer,
    LControl,
    // LPolyline,
    LControlScale,
    LCircleMarker,
    LTooltip,
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    zoom: {
      type: Number,
      required: false,
      default: 1,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    url: {
      type: String,
      required: false,
      default: `https://b.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=${process.env.VUE_APP_MAPS_KEY}`,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    attribution: {
      type: String,
      required: false,
      default:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    },
    rowDataKey: {
      required: true,
    },
  },
  data() {
    return {
      map: null,
      currentCenter: this.userCoords,
      currentZoom: 11.5,
      trackLogStatus: null,
      trackLog: [],
    }
  },
  watch: {
    userCoords(val) {
      if (this.trackLogStatus) {
        this.trackLog = [...this.trackLog, val]
      }
    },
  },
  methods: {
    formattedCoordinates(arr) {
      return arr?.map((coord) => [coord.lat, coord.lng])
    },
    recordTransect(status) {
      if (status === 'start') {
        this.trackLogStatus = true
        this.trackLog.push(this.userCoords)
      }
      if (status === 'end') {
        this.trackLogStatus = false
        this.$emit('update:modelValue', this.trackLog)
      }
    },
    makeMapRef() {
      this.map = this.$refs.map.leafletObject
    },
    backToLocation() {
      this.map.panTo(this.userCoords)
    },
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
}
</script>
