<template>
  <div>
    <div class="q-my-md">
      <l-map
        :min-zoom="1"
        :max-zoom="20"
        :style="isMobileDevice ? 'height: 350px; width: 100%' : 'height: 500px; width: 100%'"
        :center="currentCenter"
        :zoom="currentZoom"
        ref="map"
        @ready="makeMapRef"
      >
        <l-tile-layer :url="url" :attribution="attribution" />

        <l-control position="bottomright">
          <q-btn
            v-if="userCoords?.lat"
            icon="my_location"
            @click="backToLocation"
          />
          <div v-else>GPS not available</div>
        </l-control>
        <l-control-scale :imperial="true" />
        <l-circle-marker
          v-if="userCoords?.lat"
          :lat-lng="userCoords"
          color="blue"
          :weight="Number(12)"
        >
          <l-popup
            :content="`Current lat: ${userCoords.lat}, lng: ${userCoords.lng}`"
          />
        </l-circle-marker>
        <template v-if="stations?.length">
          <div v-for="(station, index) of stations" :key="index">
            <l-circle-marker
              color="lime"
              :weight="11"
              :lat-lng="station.location"
            >
              <l-popup>
                {{ station.new_or_existing.site_id }}
                <br />
                lat: {{ station.location.lat }}
                <br />
                lng:{{ station.location.lng }}
              </l-popup>
            </l-circle-marker>
          </div>
        </template>
      </l-map>
    </div>
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      @update:modelValue="(e) => $emit('update:modelValue', e)"
      @new-record-changed="newRecordChanged"
      @disable-fields="disableFields"
    />
  </div>
</template>

<script>
import { asyncCrud, makeModelConfig, disableFields } from '../misc/helpers'
import { useBulkStore } from '../stores/bulk'
import isEqual from 'lodash/isEqual'
import {
  LMap,
  LTileLayer,
  LPopup,
  LControl,
  LControlScale,
  LCircleMarker,
} from 'vue-leaflet/src/components'
export default {
  inject: ['doc'],
  components: {
    LMap,
    LTileLayer,
    LControl,
    LCircleMarker,
    LPopup,
    LControlScale,
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    rowDataKey: {
      required: false,
    },
    url: {
      type: String,
      required: false,
    },
    attribution: {
      type: String,
      required: false,
    },
  },
  setup() {
    const bulkStore = useBulkStore()
    return {
      bulkStore,
    }
  },
  data() {
    let modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )

    return {
      modelConfig,
      currentZoom: 19,
      currentCenter: this.userCoords || { lat: -34.971863, lng: 138.637756 },
    }
  },
  methods: {
    //================= crud=================
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
    // emit the transect for the map to display
    // and also it's the main thing in this step so we don't want lost it
    // if user haven't submit but accident close the app or go back to main menu
    newRecordChanged({ newRecord, oldRecord }) {
      if (isEqual(newRecord, oldRecord)) return
      const transectData = newRecord?.track_station?.filter(
        (station) => station.new_or_existing,
      )
      if (transectData?.length) {
        this.$emit('update:modelValue', {
          ...this.modelValue,
          track_station: newRecord.track_station,
        })
      }
    },
    disableFields(fields) {
      disableFields(
        fields,
        this.modelConfig.fields.track_station.modelConfig.fields,
      )
    },
    // =========== for map ===========================
    backToLocation() {
      this.map.panTo(this.userCoords)
    },
    makeMapRef() {
      this.map = this.$refs.map.leafletObject
    },
  },
  computed: {
    stations() {
      return this.modelValue?.track_station || []
    },
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
  },
}
</script>
