<template>
  <div>
    <OffPlotSurveySetup
      ref="crud"
      :protocolId="protocolId"
      :modelName="rowDataKey"
      :defaultModelConfig="modelConfig"
      :modelValue="modelValue"
      @update:modelValue="(e) => $emit('update:modelValue', e)"
    />
  </div>
</template>

<script>
import { useApiModelsStore } from '../stores/apiModels'
import OffPlotSurveySetup from './OffPlotSurveySetup.vue'
import {
  makeModelConfig,
} from 'src/misc/helpers'

export default {
  inject: ['doc'],
  components: {
    OffPlotSurveySetup,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
    },
    rowDataKey: {
      required: true,
    },
  },

  setup() {
    const { cachedModel } = useApiModelsStore()

    return {
      cachedModel,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )
    console.log(modelConfig)

    const trackDragFields = [
      'route_taken',
      'start_location',
      'start_time',
      'end_location',
      'end_time',
    ]
    trackDragFields.forEach((fieldName) => {
      modelConfig.fields[fieldName].hidden = true
    })
    modelConfig.fields.vehicle_track_drag = { type: 'vehicle_track_drag' }
    return {
      modelConfig,
    }
  },
}
</script>
