<template>
  <div class="q-pb-lg">
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="fields"
      :user-coords="userCoords"
      :collection-survey-flag="true"
      :exclude-submit-btn-flag="true"
      :row-data-key="rowDataKey"
      :current-prot-id="protocolId"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :modelValue="modelValue"
      @update:modelValue="(e) => $emit('update:modelValue', e)"
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
} from '../misc/helpers'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from 'src/stores/ephemeral'
import isEqual from 'lodash/isEqual'
export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: true,
    },
  },
  setup() {
    const { collectionGetForProt } = useBulkStore()
    const ephemeralStore = useEphemeralStore()
    return {
      collectionGetForProt,
      ephemeralStore,
    }
  },
  data() {
    const { fields } = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    const surveySetupModelNameMap = {
      'sign-based-vehicle-track-observation': {
        modelName: 'sign-based-vehicle-track-set-up',
        siteIdFieldName: 'transect',
      },
      'sign-based-track-station-observation': {
        modelName: 'sign-based-track-station-survey-setup',
        siteIdFieldName: 'station',
      },
    }
    const surveySetupModelName =
      surveySetupModelNameMap[this.rowDataKey].modelName
    const siteIdFieldName =
      surveySetupModelNameMap[this.rowDataKey].siteIdFieldName
    const surveySetupData = this.collectionGetForProt({
      protId: this.protocolId,
    })[surveySetupModelName]

    const surveySetupList = this.makeCustomFields(
      fields,
      surveySetupData,
      siteIdFieldName,
    )

    const conditionalFields = this.makeConditionalFields(
      surveySetupList,
      fields,
      siteIdFieldName,
    )

    // add 'other species' from previous step to 'attributable fauna species' in 'Track encountered'
    this.makeOtherSpeciesOptions(fields, surveySetupData)

    return {
      fields,
      // newRecord: collection,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
    }
  },
  methods: {
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
    /**
     * modify the default fields to some custom fields
     * @param {*} fields crud fields derived from strapi schema
     * @param {*} surveySetupData  survey setup data from previous step
     * @return {Array} surveySetupList a list of survey setup IDs
     */
    makeCustomFields(fields, surveySetupData, siteIdFieldName) {
      let transectList = []
      let surveySetupList = []
      surveySetupData.forEach((setup) => {
        surveySetupList.push(setup.survey_setup_ID)
        if (!surveySetupList.includes(setup[`${siteIdFieldName}_setup_ID`])) {
          transectList.push(setup[`${siteIdFieldName}_setup_ID`])
        }
      })
      fields[`${siteIdFieldName}_ID`].type = 'filteredSelect'
      fields.setup_ID.type = 'filteredSelect'
      fields[`${siteIdFieldName}_ID`].options = transectList.map((o) => ({
        label: o,
        value: o,
      }))
      fields.setup_ID.options = []

      if (siteIdFieldName === 'transect') {
        // need start and end buttons
        fields.start.type = 'record_start'
        fields.end.type = 'record_end'
        // also a map for track log
        fields.track_log.type = 'fauna-observation-count-map'
      }
      return surveySetupList
    },
    makeConditionalFields(surveySetupList, fields, siteIdFieldName) {
      const possibleConditionalFields = [
        {
          field: 'setup_ID',
          dependsOn: `${siteIdFieldName}_ID`,
          fieldCb: ({ newVal, oldVal }) => {
            this.ephemeralStore.selectedTransect =
              newVal.station_ID?.value ||
              newVal.station_ID ||
              newVal.transect_ID?.value ||
              newVal.transect_ID
            if (isEqual(newVal, oldVal)) return
            const selectedTransect =
              newVal?.[`${siteIdFieldName}_ID`]?.value ||
              newVal?.[`${siteIdFieldName}_ID`]
            surveySetupList.forEach((surveyId) => {
              if (
                surveyId.includes(selectedTransect) &&
                !fields?.setup_ID?.options?.some(o => o.value === surveyId)
              ) {
                fields.setup_ID.options.push({
                  label: surveyId,
                  value: surveyId,
                })
              }
            })
          },
        },
        {
          field: 'tracks_observed',
          dependsOn: siteIdFieldName === 'transect' ? 'start' : 'setup_ID',
        },
        {
          field: 'observations',
          dependsOn: 'tracks_observed',
        },
        {
          field: 'start',
          dependsOn: 'setup_ID',
        },
        {
          field: 'end',
          dependsOn: 'start',
        },
      ]

      //only use conditional fields from the schema - this component is shared in both
      //Track Station and Vehicle track, which don't have the exact same fields
      const conditionalFields = []
      for (const possibleField of possibleConditionalFields) {
        if (fields[possibleField.field]) {
          conditionalFields.push(possibleField)
        }
      }

      conditionalFields.forEach(({ field }) => {
        fields[field].hidden = true
      })
      return conditionalFields
    },
    makeOtherSpeciesOptions(fields, surveySetupData) {
      let otherSpecies = []
      for (const transect of surveySetupData) {
        const transectOtherSpecies = transect.target_species.find(
          (species) => species.other_species?.length,
        )
        if (transectOtherSpecies) {
          otherSpecies = otherSpecies.concat(transectOtherSpecies.other_species)
        }
      }
      if (otherSpecies?.length) {
        const otherSpeciesOptions = otherSpecies.map(
          ({ other_species: o }) => ({
            label: o,
            value: o,
          }),
        )
        const speciesField =
          fields.observations.modelConfig.fields['attributable_fauna_species']
        if (!speciesField) return
        const modelName = speciesField.select.optionsKey
        let defaultOptions = useApiModelsStore()
          .cachedModel({ modelName })
          .map(({ symbol, label }) => ({ label, value: symbol }))
        defaultOptions = defaultOptions.filter(
          ({ value }) => value !== 'Other' && value !== 'O',
        )
        speciesField.select.options = [
          ...defaultOptions,
          ...otherSpeciesOptions,
        ]
      }
    },
  },
}
</script>
