<template>
  <div>
    <paratoo-api-model-crud-ui
      id="plot_soil_description_survey"
      ref="crud"
      :fields="fields"
      :title="''"
      :row-data-key="modelName"
      :current-prot-id="protocolId"
      :modelValue="newRecord"
      @new-record-changed="newRecordChanged"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  isNullorEmpty,
  safeObjectCopy,
  generateSlopeClassFromSlopePercent,
  makeModelConfig,
} from '../misc/helpers'
import { isEqual } from 'lodash'
import { useBulkStore } from 'src/stores/bulk'
import { computed, ref, inject } from 'vue'

export default {
  inject: ['doc'],
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    protocolId: {
      type: Number,
      required: true,
    },
    modelName: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const bulkStore = useBulkStore()

    const savedRecord = computed(
      () => bulkStore.collections[props.protocolId][props.modelName] || {},
    )

    const doc = inject('doc')?.value

    const { fields } = makeModelConfig(
      props.modelName,
      doc,
      props.protocolId,
    )

    return { fields: ref(fields), savedRecord }
  },
  data() {
    return {
      newRecord: safeObjectCopy(this.savedRecord),
    }
  },
  methods: {
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
    newRecordChanged({ newRecord, oldRecord }) {
      if (
        isNullorEmpty(newRecord, 'slope_percent') &&
        //zero (number) is falsy so need to handle this case (it's valid to be 0)
        newRecord.slope_percent !== 0
      ) {
        //TODO clear data from slope_class when slope_percent is also cleared
        this.fields.slope_class.disable = false
        return
      }

      if (isEqual(newRecord['slope_percent'], oldRecord['slope_percent'])) {
        return
      }

      //haven't returned so can assume slope_percent is defined
      this.fields.slope_class.disable = true

      let updatedNewRecord = safeObjectCopy(newRecord)
      // auto-fill `slope_class` from `slope`
      Object.assign(updatedNewRecord, {
        slope_class: generateSlopeClassFromSlopePercent(
          newRecord.slope_percent,
        ),
        //if 0, will get dropped so need to manually add
        slope_percent: newRecord.slope_percent,
      })
      this.newRecord = updatedNewRecord
    },
  },
}
</script>
