<template>
  <div>
    <div v-if="isUsingDataSheet">
      <q-banner class="bg-info text-black text-bold">
        <q-icon name="info" />
        You're in datasheet mode
      </q-banner>
    </div>
    <crud
      ref="crud"
      :fields="customFields"
      :row-data-key="config.modelConfig.rowDataKey"
      :current-prot-id="config.modelConfig.currentProtId"
      :modelValue="modelValue"
      @new-record-changed="newRecordChangedHandler"
    />
    <q-btn
      v-if="
        !isUsingDataSheet &&
        !modelValue?.start_time &&
        localRecord?.newRecord?.start_location
      "
      data-cy="startSurvey"
      outline
      @click="recordStart"
    >
      Start survey
    </q-btn>
    <q-separator class="q-my-md" />
  </div>
</template>
<script>
import { asyncCrud as crud } from 'src/misc/helpers'
export default {
  props: {
    modelValue: {
      required: true,
    },
    config: {
      required: true,
    },
  },
  components: {
    crud,
  },
  inject: {
    isUsingDataSheet: { from: 'isUsingDataSheet', default: false },
  },
  data() {
    const customFields = this.config.modelConfig.fields

    customFields.start_location.initCurrent = !this.isUsingDataSheet

    return {
      customFields,
      localRecord: this.modelValue,
    }
  },
  methods: {
    recordStart() {
      const valid = this.$refs['crud'].checkFormValid(true)
      if (!valid) return
      this.$emit('startSurvey', this.localRecord, this.config)
    },
    newRecordChangedHandler(data) {
      this.localRecord = data
      if (this.isUsingDataSheet) {
        this.recordStart()
      }
    },
  },
}
</script>
