<!-- TODO: JSDoc and comments -->

<template>
  <q-card class="q-ma-none q-pa-none" bordered>
    <h6 class="q-ma-none q-pa-none">Substrate</h6>
    <SubstrateInfoBtn
      class="q-mb-sm"
      :newRecord="newRecord"
      :selectedSubstrateName="selectedSubstrateName"
      :substrateHelpText="substrateHelpText"
    />
    <q-scroll-area :visible="true" style="height: 320px">
      <div class="row q-mx-auto justify-start" :class="isMobileDevice?'q-gutter-sm':'q-gutter-md q-px-md '">
        <div
          v-for="(substrate, index) in substrates"
          :key="substrate.label"
          class="column"
        > 
          <!-- somehow native button type is default to 'submit' so if we press enter it will trigger the button -->
          <!-- so set it to 'button' type -->
          <button
            :data-cy="substrate.label"
            type="button"
            @click.prevent.stop="
              $emit('click', [
                substrate.value,
                substrate.description,
                substrate.label,
              ])
            "
            class="q-pa-none bg-black"
            :style="`width: ${getSize(substrate)}; ratio: 1.2; 
            ${
              selected(substrate)
                ? `border: 5px solid ${$q.dark.isActive ? 'white' : 'black'}`
                : 'none'
            }`"
          >
            <q-img
              :src="images[index]"
              :alt="substrate.label"
              width="100%"
              ratio="1"
            >
            </q-img>
          </button>
          <label
            :for="substrate.label"
            :class="`text-subtitle2  bg-black text-white  q-mx-auto wrap-text`"
            :style="`width: ${getSize(substrate)}`"
          >
            {{ substrate.label }}
          </label>
        </div>
      </div>
    </q-scroll-area>
  </q-card>
</template>

<script>
import { getCssVar } from 'quasar'

import SubstrateInfoBtn from './SubstrateInfoBtn.vue'
export default {
  components: { SubstrateInfoBtn },
  props: {
    substrates: {
      type: Array,
      required: true,
    },
    selectedSubstrate: {
      type: String,
    },
    newRecord: {
      required: true,
    },
    selectedSubstrateName: {
      required: true,
    },
    substrateHelpText: {
      required: true,
    },
  },
  emits: ['click'],
  data() {
    return {
      lightColor: getCssVar('light'),
      darkColor: getCssVar('dark'),
    }
  },
  methods: {
    selected(substrate) {
      return substrate?.value === this.selectedSubstrate
    },
    getSize(substrate) {
      return this.selected(substrate) ? this.isMobileDevice ? '140px' :'150px' : this.isMobileDevice? '120px' : '120px'
    },
  },
  computed: {
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    images() {
      const images = this.substrates.map(({ value }) => {
        try {
          return require(`@/assets/substrates/${value.toLowerCase()}.jpg`)
        } catch (error) {
          return require('@/assets/substrates/placeholder.jpg')
        }
      })
      return images
    },
  },
}
</script>
