<template>
  <div>
    <q-btn
      v-if="newRecord['substrate']"
      icon="info"
      label="selected substrate info"
      outline
      data-cy="selectedSubstrateInfoBtn"
      @click="showSummary = true"
    />
    <q-dialog v-model="showSummary">
      <q-card style="width: fit-content; height: fit-content" class="q-px-md">
        <q-card-section align="right">
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section align="center">
          <h5 class="q-my-none q-pa-none">Selected Substrate Summary</h5>
        </q-card-section>
        <q-card-section>
          <q-img :src="substrateImg" />
        </q-card-section>
        <q-card-section>
          <p data-cy="selectedSubstrateSummaryName">
            Name: {{ selectedSubstrateName }}
          </p>
          <p>Description: {{ substrateHelpText }}</p>
          <p>Scorched: {{ newRecord.scorched ? 'Yes' : 'No' }}</p>
          <p>Charred: {{ newRecord.charred ? 'Yes' : 'No' }}</p>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  props: ['newRecord', 'selectedSubstrateName', 'substrateHelpText'],
  data() {
    return {
      showSummary: false,
    }
  },
  computed: {
    substrateImg() {
      try {
        return require(`@/assets/substrates/${this.newRecord.substrate.toLowerCase()}.jpg`)
      } catch (error) {
        return require('@/assets/substrates/placeholder.jpg')
      }
    },
  },
}
</script>
