<template>
  <div>
    <!-- {{ summary }} -->
    <!-- <q-scroll-area style="height: 70vh"> -->
    <component
      :is="isScrollArea ? 'q-scroll-area' : 'div'"
      :style="scrollAreaStyle"
    >
      <div class="fontSize row justify-center" v-if='!noTitle'>
        A Summary of Your Collected Data
      </div>
      <div
        v-for="(workflowStepItem, workflowItemIndex) in summary"
        :key="workflowItemIndex"
      >
        <div
          v-if="
            //Checks if the type passed in is an array and if i contains something
            Array.isArray(workflowStepItem[Object.keys(workflowStepItem)[0]]) &&
            workflowStepItem[Object.keys(workflowStepItem)[0]].length > 0
          "
          class="text-secondary q-mb-xs fontSize"
        >
          {{ Object.keys(workflowStepItem)[0] }}
        </div>
        <!-- special case for PI -->
        <div
          v-if="Object.keys(workflowStepItem)[0] === 'Cover Point Intercept'"
        >
          <q-markup-table
            class="q-pa-sm q-mb-md"
            dense
            wrap-cells
            bordered
            v-for="table of Object.keys(
              workflowStepItem['Cover Point Intercept'],
            )"
            :key="table"
          >
            <thead>
              <tr style="height: 0">
                <th id="emptyCol" class="text-left q-pa-none">
                  {{ table }}
                </th>
                <th id="emptyCol" class="text-left q-pa-none">Percentage</th>
                <th
                  v-if="table !== 'Substrate'"
                  id="emptyCol"
                  class="text-left q-pa-none"
                >
                  Avg height
                </th>
                <th v-if="table !== 'Substrate'"  class="text-left q-pa-none">
                  Count
                </th>
              </tr>
            </thead>
            <tbody v-if="table === 'Substrate'">
              <tr
                v-for="(row, rowName) in workflowStepItem[
                  'Cover Point Intercept'
                ][table]"
                :key="row"
              >
                <td>{{ rowName }}</td>
                <td>{{ Math.round(row * 100) / 100 + '%' }}</td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr
                v-for="(row, rowName) in workflowStepItem[
                  'Cover Point Intercept'
                ][table]"
                :key="row"
              >
                <td>{{ rowName }}</td>
                <td>
                  {{ Math.round(row.percentage * 100) / 100 + '%' }}
                </td>
                <td>
                  {{ Math.round(row.avgHeight * 100) / 100 + 'm' }}
                </td>
                <td>
                  {{ row.count }}
                </td>
              </tr>
            </tbody>
          </q-markup-table>
        </div>
        <!-- Only show 'records per page' if the table has more than 10 rows -->

        <q-markup-table
          v-else
          dense
          :hide-bottom="
            workflowStepItem[Object.keys(workflowStepItem)[0]].length <= 10
          "
          style="margin-bottom: 1em"
          wrap-cells
        >
          <!-- we have an empty header as the header text is unnecessary, but we
                  need the header to enforce the 50% width of the two columns -->
          <thead>
            <tr style="height: 0">
              <th id="emptyCol" class="text-left q-pa-none"></th>
              <th id="emptyCol" class="text-left q-pa-none"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(row, index) in workflowStepItem[
                Object.keys(workflowStepItem)[0]
              ].filter(
                (row) =>
                  row.field !== 'id' &&
                  row.field !== 'fileType' &&
                  row.field !== 'sizeBytes' &&
                  row.field !== 'createdAt' &&
                  row.field !== 'updatedAt' &&
                  row.field !== 'plot_layout',
              )"
              :key="row.field"
            >
              <td v-if="row.value === null || row.value === undefined">
                <h6 style="margin: 15px 0 5px 0" class="text-secondary">
                  {{
                    row.field == 'Intervention Point'
                      ? 'Intervention Point'
                      : row.field
                  }}
                </h6>
              </td>
              <td v-else :class="row.style">{{ formatFieldName(row.field) }}</td>
              <!-- Display single media -->
              <td
                v-if="
                  row.fileType === 'photo' ||
                  ['photo', 'multi_photo'].includes(row?.value?.fileType) ||
                  row.value?.name?.includes('png') ||
                  row.value?.name?.includes('jpg') ||
                  row.value?.name?.includes('svg') ||
                  row.value?.name?.includes('webp')
                "
              >
                <async-img
                  alt="summary image"
                  @click="
                    expandImgFunc(
                      row.value?.src || row.src || urlPrefix + row.value?.url,
                    )
                  "
                  :src="row.src || row.value?.src || urlPrefix + row.value?.url"
                  style="max-width: 30vw"
                />
              </td>
              <td
                v-else-if="
                  (row?.value?.media !== undefined &&
                    (row?.value?.fileType === 'video' ||
                      row?.value?.src?.match('data:video'))) ||
                  row?.value?.name?.includes('mp4')
                "
              >
                <!-- <video style="max-width: 70%" autoplay :src="urlPrefix + row.value?.url" /> -->
                <!-- content security policy doesn't allow q-video nested in expansion-itme (I guess) -->
                <async-video
                  style="max-width: 70%"
                  :src="urlPrefix + row.value?.url || row.value.src"
                />
              </td>
              <!-- Display multiple media if relevant in collection summary page -->
              <template v-else-if="row.field === 'media'">
                <td
                  v-if="
                    getMimeType(workflowStepItem, index) &&
                    getMimeType(workflowStepItem, index).includes('image')
                  "
                >
                  <async-img
                    alt="summary image"
                    @click="expandImgFunc(row.value)"
                    :src="row.value"
                    style="max-width: 30vw"
                  />
                </td>
                <td
                  v-else-if="
                    getMimeType(workflowStepItem, index) &&
                    getMimeType(workflowStepItem, index).includes('video')
                  "
                >
                  <async-video style="max-width: 70%" :src="row.value" />
                </td>
                <td
                  v-else-if="
                    (getMimeType(workflowStepItem, index) &&
                      getMimeType(workflowStepItem, index)?.includes(
                        'audio',
                      )) ||
                    row?.value?.mime?.includes('audio')
                  "
                >
                  <async-audio
                    id="audio"
                    :audio="urlPrefix + row.value?.url || row.value"
                  />
                </td>
              </template>
              <td v-else-if="row?.value?.src">
                File with name '{{
                  row.value?.originalFileName
                    ? row.value.originalFileName
                    : row.value.fileName
                }}' (type {{ row.value.mimeType }})
              </td>
              <td :data-cy="`summaryTable-${row.field}`" :class="row.style" v-else>
                {{ row.value }}
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
      <!-- </q-scroll-area> -->
    </component>
    <ExpandImage v-model="expandImage" :img-src="tempImgSrc" />
  </div>
</template>
<script>
import { prettyFormatFieldName } from 'src/misc/helpers'
import ExpandImage from 'src/components/ExpandImage.vue'
import AsyncAudio from './AsyncAudio.vue'
import AsyncVideo from './AsyncVideo.vue'
import { validate } from 'uuid'
import * as c from 'src/misc/constants'

export default {
  props: {
    summary: {
      type: Object,
    },
    noScroll: {
      type: Boolean,
      default: false
    },
    noTitle: {
      type: Boolean,
      default: false
    }
  },
  components: {
    ExpandImage,
    AsyncAudio,
    AsyncVideo,
  },
  data() {
    return {
      expandImage: false,
      tempImgSrc: '',
      urlPrefix: c.coreApiUrlBase,
    }
  },
  computed: {
    isScrollArea() {
      if(this.noScroll) return false
      return !this.summary?.some((item) =>
        item !== undefined ? 'Plot Definition Survey' in item : false,
      )
    },
    scrollAreaStyle() {
      return {
        height: this.isScrollArea ? '70vh' : '',
      }
    },
  },
  methods: {
    isUUID(string) {
      return validate(string)
    },
    formatFieldName(field) {
      return prettyFormatFieldName(field)
    },
    expandImgFunc(src) {
      this.tempImgSrc = src
      this.expandImage = true
    },
    getMimeType(workflowStepItem, index) {
      const rows = workflowStepItem[Object.keys(workflowStepItem)[0]]
      for (let i = index; i < rows.length; i++) {
        if (rows[i].field === 'mimeType') {
          return rows[i].value
        }
      }
    },
  },
}
</script>

<style>
.emptyCol {
  width: 50%;
  white-space: normal !important;
}
.fontSize {
  font-size: 2em;
  font-weight: 500;
}
.protocolName {
  font-size: 2em;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px) {
  .fontSize {
    font-size: 1.3em;
  }
  .protocolName {
    font-size: 1.5em;
  }
}
</style>
