<template>
  <div>
    <q-checkbox v-model="usingDataSheet">
      I'm doing data entry from data sheet</q-checkbox
    >
    <!-- create an dialog to inform user that the UI might be different and warn user to be care full for mistake -->
    <q-dialog v-model="showDialog" persistent>
      <q-card>
        <q-card-section>
          <div class="text-h6">Using data sheet</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <p>
            In datasheet mode, you'll be able to manually enter data at certain
            steps. Be cautious, as submitted data may not be updatable. Click
            YES if you understand the risks.
          </p>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            flat
            label="Yes"
            color="warning"
            v-close-popup
            @click="updateModelValue"
          />
          <q-btn flat label="No" color="red" v-close-popup @click='usingDataSheet = false' />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script setup>
import { ref, defineEmits, defineProps, watch } from 'vue'
const emit = defineEmits(['update:modelValue'])

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
})

const usingDataSheet = ref(props.modelValue || false)
const showDialog = ref(false)

watch(usingDataSheet, (newVal) => {
  if (newVal) {
    showDialog.value = true
  } else {
    emit('update:modelValue', usingDataSheet.value)
  }
})

function updateModelValue() {
  emit('update:modelValue', usingDataSheet.value)
}
</script>
