<template>
  <div>
    <paratoo-api-model-crud-ui
      id="ground-counts-vantage-point-setup"
      ref="crud"
      :fields="modelConfig.fields"
      :title="'Ground Counts Vantage Point Survey Setup'"
      :hide-title="true"
      :user-coords="userCoords"
      :row-data-key="modelConfig.rowDataKey"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :exclude-submit-btn-flag="true"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
  createSurveySetupIdCb,
  createSiteSetupFieldDef,
  makeConditionFieldForTargetSpecies,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from '../stores/ephemeral'
import { useBulkStore } from '../stores/bulk'

export default {
  inject: ['doc'],
  name: 'GroundCountsVantagePointSurveySetup',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
    },
    rowDataKey: {
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()

    return {
      apiModelsStore,
      ephemeralStore,
      bulkStore,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    const setUp = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })['ground-counts-vantage-point']

    modelConfig.fields.survey_setup_ID.hidden = true
    modelConfig.fields.survey_setup_ID.disable = true

    modelConfig.fields.observer_details.modelConfig.fields.responsible_outlook_zone.hidden = true

    let conditionalFields = [
      {
        field: 'observer_details',
        // dependsOn: 'select_vantage_point_ID',
        fieldCb: this.optionsCb,
      },
      {
        field: 'outlook_zone_photos',
        fieldCb: this.optionsCb,
      },
      {
        field: 'survey_setup_ID',
        dependsOn: 'select_vantage_point_ID',
        fieldCb: this.cb,
      },
    ]

    conditionalFields = makeConditionFieldForTargetSpecies(modelConfig.fields, conditionalFields)

    createSiteSetupFieldDef(
      this.protocolId,
      modelConfig.fields,
      this.rowDataKey,
      'ground-counts-vantage-point',
      'select_vantage_point_ID',
    )

    return {
      modelConfig,
      zones: [],
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      observerDetails: null,
      spotterName: null,
      applicableOutlookZone: [],
      setUp,
    }
  },
  methods: {
    collectionEntryAdded() {
      createSiteSetupFieldDef(
        this.protocolId,
        this.modelConfig.fields,
        this.rowDataKey,
        'ground-counts-vantage-point',
        'select_vantage_point_ID',
      )
    },
    cb({ newVal, oldVal }) {
      return createSurveySetupIdCb(newVal, oldVal, 'select_vantage_point_ID')
    },
    optionsCb({ newVal, inputDef }) {
      if (!newVal) return
      const targetObj = this.setUp.find(
        (item) =>
          item.new_or_existing.site_id ===
          (newVal.select_vantage_point_ID?.value ||
            newVal.select_vantage_point_ID),
      )

      if (
        newVal.select_vantage_point_ID &&
        targetObj &&
        targetObj.outlook_zones
      ) {
        const options = targetObj?.outlook_zones?.map(
          (item) => item.outlook_zone_name,
        )

        let fieldName = null
        let dropdownType = null
        let optionsMapper = null
        if (inputDef.model === 'observer_details') {
          fieldName = 'responsible_outlook_zone'
          dropdownType = 'multiLutSelect'
          optionsMapper = (o) => ({
            label: o,
            value: { outlook_zone_name: o },
          })
        } else if (inputDef.model === 'outlook_zone_photos') {
          //TODO disable an outlook zone if we already took a photo for this vantage point
          fieldName = 'outlook_zone_name'
          dropdownType = 'filteredSelect'
          optionsMapper = (o) => ({
            label: o,
            value: o,
          })

          //ensure that the number of outlook zone photos is the same as the number of
          //outlook zones from the vantage point 
          inputDef.minimum = options.length
          inputDef.maximum = options.length
          //TODO rules should come from a generic location (right now just copy-pasted from `makeValidationRules()` helper)
          inputDef.rules.push(
            (value) =>
              value == null ||
              value >= options.length ||
              value?.length >= options.length ||
              `Minimum: ${options.length}`,
          )
          inputDef.rules.push(
            (value) =>
              value <= options.length ||
              value?.length <= options.length ||
              `Maximum: ${options.length}`,
          )
        }

        if (fieldName) {
          inputDef.modelConfig.fields[fieldName].hidden = false
          inputDef.modelConfig.fields[fieldName].type = dropdownType
          inputDef.modelConfig.fields[fieldName].options =
            options?.map(optionsMapper)
        }
      }
    },
  },
}
</script>
