<template>
  <div>
    <paratoo-api-model-crud-ui
      id="vantage-point-conduct-survey"
      ref="crud"
      :fields="modelConfig.fields"
      :hide-title="true"
      :user-coords="userCoords"
      :row-data-key="modelConfig.rowDataKey"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :exclude-submit-btn-flag="true"
      :collection-survey-flag="true"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  makeModelConfig,
  createDependentFieldCallback,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from '../stores/ephemeral'
import { useBulkStore } from '../stores/bulk'
import { isEqual } from 'lodash'

export default {
  inject: ['doc'],
  name: 'GroundCountsVantagePointConductSurvey',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
    },
    rowDataKey: {
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()

    return {
      apiModelsStore,
      ephemeralStore,
      bulkStore,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    const collection = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })[this.rowDataKey]

    modelConfig.fields.start.type = 'record_start'
    modelConfig.fields.end.type = 'record_end'

    const vantagePointSetup = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })['ground-counts-vantage-point']

    const setUp = this.bulkStore.collectionGetForProt({
      protId: this.protocolId,
    })['ground-counts-vantage-point-setup']

    modelConfig.fields.setup_ID.hidden = true
    modelConfig.fields.setup_ID.prefer_dropdown = true
    modelConfig.fields.transect_ID.prefer_dropdown = true
    modelConfig.fields.start.hidden = true
    modelConfig.fields.observations.hidden = true
    modelConfig.fields.end.hidden = true
    modelConfig.fields.observations.modelConfig.fields.applicable_outlook_zone.prefer_dropdown = true
    modelConfig.fields.observations.modelConfig.fields.applicable_outlook_zone.hidden = true
    modelConfig.fields.observations.modelConfig.fields.cat_coat_colour.hidden = true
    modelConfig.fields.transect_ID.type = 'select'
    modelConfig.fields.transect_ID.options = vantagePointSetup.map(
      (o) => o.new_or_existing.site_id,
    )

    const conditionalFields = [
      {
        field: 'applicable_outlook_zone',
        dependsOn: 'spotters_name',
        fieldCb: this.outlookZoneCb,
      },
      {
        field: 'setup_ID',
        dependsOn: 'transect_ID',
        fieldCb: this.cb,
      },
      {
        field: 'start',
        dependsOn: 'setup_ID',
      },
      {
        field: 'end',
        dependsOn: 'start',
      },
      {
        field: 'observations',
        dependsOn: 'start',
      },
      {
        field: 'cat_coat_colour',
        fieldCb: this.catCoatColor,
      },
    ]

    return {
      collection,
      modelConfig,
      spotterNames: [],
      zones: [],
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      observerDetails: null,
      spotterName: null,
      applicableOutlookZone: [],
      setUp,
      vantagePointSetup,
      setupID: null,
    }
  },
  methods: {
    catCoatColor({ newVal }) {
      if (
        newVal &&
        newVal.species &&
        newVal.species.attributable_fauna_species === 'CA'
      ) {
        this.modelConfig.fields.observations.modelConfig.fields.cat_coat_colour.hidden = false
      } else {
        this.modelConfig.fields.observations.modelConfig.fields.cat_coat_colour.hidden = true
      }
    },
    outlookZoneCb({ newVal, oldVal, inputDef }) {
      if (isEqual(newVal, oldVal)) return
      if (newVal && newVal.spotters_name) {
        const surveySetup = this.setUp.find(
          (item) => item.survey_setup_ID === this.setupID,
        )
        const observer = surveySetup.observer_details.find(
          (o) => o.observer_name === newVal.spotters_name,
        )
        if(observer.responsible_outlook_zone) {
          const options = observer.responsible_outlook_zone.map(
            (o) => o.outlook_zone_name,
          )
          inputDef.type = 'select'
          inputDef.options = options
        }
       
      }
    },
    cb({ newVal, oldVal, inputDefs }) {
      if (newVal.transect_ID) {
        this.ephemeralStore.selectedTransect = newVal.transect_ID
      }
      if (isEqual(newVal, oldVal)) return

      if (newVal && newVal.transect_ID) {
        const transect = this.setUp.filter(
          (item) => item.select_vantage_point_ID === newVal.transect_ID,
        )

        const setupID = inputDefs.find((o) => o.model === 'setup_ID')
        setupID.type = 'select'
        setupID.options = transect.map((item) => item.survey_setup_ID)
        setupID.hidden = false

        if (newVal.setup_ID) {
          const surveySetup = this.setUp.find(
            (item) => item.survey_setup_ID === newVal.setup_ID,
          )
          this.setupID = newVal.setup_ID
          const observerNameOptions = surveySetup?.observer_details?.map(
            (o) => o.observer_name,
          )
          const obs = inputDefs.find((o) => o.model === 'observations')
          obs.modelConfig.fields.spotters_name.type = 'select'
          obs.modelConfig.fields.spotters_name.options = observerNameOptions
        }
      }
    },
  },
}
</script>
