<!-- FIXME clean up code for dynamic width of elements -->
<template>
  <div>
    <paratoo-api-model-crud-ui
      id="vegetation-mapping-observation"
      ref="crud"
      :fields="modelConfig.fields"
      :title="''"
      submit-btn-label="Save Observation"
      add-btn-label="Add Observation"
      :row-data-key="modelConfig.rowDataKey"
      :exclude-submit-btn-flag="false"
      :current-prot-id="modelConfig.currentProtId"
      :modelValue="modelValue"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      :collection-survey-flag="true"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>
<script>
import {
  asyncCrud,
  makeModelConfig,
  generateObservationId,
  createDependentFieldCallback,
  getValuesFromUniqueCollections,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { cloneDeep, isEqual } from 'lodash'
import { useBulkStore } from '../stores/bulk'
import { date } from 'quasar'

export default {
  inject: ['doc'],
  name: 'VegetationMappingObservation',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    rowDataKey: {
      required: true,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()

    return {
      apiModelsStore,
      ephemeralStore,
      bulkStore,
    }
  },
  data() {
    const modelConfig = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
    )

    const label = modelConfig.fields.known_fire_date.label

    modelConfig.fields.vouchered_specimens.type = 'opportune_voucher'
    modelConfig.fields.known_fire_date.hidden = true
    modelConfig.fields.NVIS_level_5_vegetation_association_information.modelConfig.fields.growth_form.hidden = true
    //TODO this filter should come from the schema (e.g., how lut-bioregion has relation to lut-state), but that would require lut-veg-growth-form to have a relation to lut-veg-association, however lut-veg-growth-form is used in a bunch of other protocols so if we add this relation it might break them
    const growthFormFilter = {
      U: [
        'X', //Grass-tree
        'T', //Tree
        'D', //Tree-fern
        'K', //Epiphyte
        'M', //Tree Mallee
        'L', //Vine
        'UK', //Unknown
        'N', //Lichen
        'P', //Palm
      ],
      M: [
        'V', //Sedge
        'X', //Grass-tree
        'Z', //Heath shrub
        'T', //Tree
        'D', //Tree-fern
        'A', //Cycad
        'K', //Epiphyte
        'E', //Fern
        'H', //Hummock grass
        'S', //Shrub
        'Y', //Mallee shrub
        'M', //Tree Mallee
        'G', //Tussock grass
        'L', //Vine
        'W', //Other grass
        'UK', //Unknown
        'U', //Samphire shrub
        'N', //Lichen
        'P', //Palm
      ],
      G: [
        'V', //Sedge
        'Z', //Heath shrub
        'Q', //Aquatic
        'A', //Cycad
        'O', //Lower plant
        'F', //Forb
        'R', //Rush
        'B', //Bryophyte
        'C', //Chenopod shrub
        'K', //Epiphyte
        'E', //Fern
        'H', //Hummock grass
        'S', //Shrub
        'Y', //Mallee shrub
        'G', //Tussock grass
        'L', //Vine
        'W', //Other grass
        'UK', //Unknown
        'U', //Samphire shrub
        'N', //Lichen
        'J', //Seagrass
      ],
    }

    const fireRule = (val) => {
      if (!val) return 'This field is required'
      const current = new Date()
      const dateDiff = date.getDateDiff(current, val, 'days')
      if (dateDiff < 0) {
        return 'Fire date must be in the past'
      }
      return true
    }
    const conditionalFields = [
      {
        field: 'vegetation_mapping_point',
        fieldCb: this.observationIdCb,
      },
      {
        field: 'known_fire_date',
        dependsOn: 'fire_history',
        //TODO: should be required when fire_history is K (known)
        dependsOnSelection: ['K'],
        fieldCb: this.fireDateCb,
      },
      {
        field: 'growth_form',
        dependsOn: 'stratum',
        fieldCb: this.filterCb,
      },
    ]

    return {
      modelConfig,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      growthFormFilter,
      label,
      fireRule,
    }
  },
  methods: {
    fireDateCb({ newVal, oldVal }) {
      if (isEqual(newVal, oldVal)) return

      const fireHistory = newVal.fire_history?.value || newVal.fire_history
      if (fireHistory === 'K') {
        this.modelConfig.fields.known_fire_date.rules.push(this.fireRule)
        this.modelConfig.fields.known_fire_date.label = this.label + ' *'
        this.modelConfig.fields.known_fire_date.hidden = false
      } else {
        this.modelConfig.fields.known_fire_date.rules.pop()
        this.modelConfig.fields.known_fire_date.label = this.label
        this.modelConfig.fields.known_fire_date.hidden = true
      }
    },
    filterCb({ newVal, inputDef }) {
      if (newVal.stratum && newVal.stratum.value) {
        inputDef.optionsFilter = (item) => {
          return this.growthFormFilter[newVal.stratum.value].includes(
            item.symbol,
          )
        }
      }
    },
    observationIdCb({ newVal }) {
      let updatedNewRecord = null
      if (!newVal.vegetation_mapping_point) {
        const id = getValuesFromUniqueCollections(
          this.bulkStore,
          this.rowDataKey,
          'vegetation_mapping_point',
        )
        const recordIndex = this.modelValue?.length || 0
        const currentLength = parseInt(Object.keys(id).length) + 1 + recordIndex

        updatedNewRecord = cloneDeep(newVal)
        updatedNewRecord.vegetation_mapping_point = generateObservationId(
          currentLength,
          'VMP',
          true,
        )
      }

      if (updatedNewRecord !== null) {
        return {
          record: updatedNewRecord,
          suppressDependencyHandler: false,
        }
      }
    },
  },
}
</script>
