<!-- based on: https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Recording_a_media_element and 
  https://www.geeksforgeeks.org/create-a-video-and-audio-recorder-with-javascript-mediarecorder-api/ -->

<template>
  <div>
    <p v-if="videoDevices.length == 0" class="text-negative">
      No camera detected.
    </p>
    <q-toggle v-model="useFilePicker" label="Select Video From Device" data-cy="useFilePicker"/>
    <!-- gallery of video(s) -->
    <div
      class="row justify-center"
      style="margin: 0.5em 0 0.5em 0"
      wrap
      v-show="videoRecords.length"
    >
      <table>
        <caption class="text-h5">
          Preview
        </caption>
        <thead>
          <tr>
            <th>video</th>
            <th>comment</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(record, index) of videoRecords"
            :id="`${record.file_identifier}`"
            :key="record.file_identifier"
          >
            <td class="video-column">
              <div>
                <async-video
                  ref="recording"
                  class="previewVideo"
                  :src="record.src || record.media"
                />
              </div>
            </td>
            <td class="comment-column">
              <p class="mobile-hide" :data-cy="`commentPreview_${index}`">{{ record.comment }}</p>
              <div>
                <q-btn
                  icon="comment"
                  class="q-mr-sm"
                  @click="toggleComment(allowMultiple ? record.file_identifier : null)"
                  :data-cy="`comment_${index}`"
                />
              </div>
            </td>
            <td class="delete-button">
              <div>
                <q-btn
                  icon="delete"
                  class="row-1"
                  @click="clearMedia(allowMultiple ? record.file_identifier : null)"
                />
              </div>
            </td>
            <!-- comment dialog -->
            <q-dialog v-model="showComment" :persistent="!disableComment">
              <q-card class="comment">
                <q-card-section class="row items-center q-pb-none">
                  <div class="text-h6">Add/Edit Photo's Comment</div>
                  <q-space />
                  <q-btn
                    icon="close"
                    v-if="disableComment"
                    flat
                    round
                    dense
                    v-close-popup
                  />
                </q-card-section>
                <q-card-section class="q-pt-none">
                  <q-input
                    :data-cy="`addComment_${index}`"
                    autogrow
                    dense
                    v-model="videoComment"
                    ref="commentInput"
                    :disable="disableComment"
                    counter
                  />
                </q-card-section>
                <q-card-actions align="right" class="text-primary">
                  <q-btn
                    v-if="disableComment"
                    flat
                    :label="'Edit'"
                    @click="editComment"
                  />
                  <q-btn
                    v-else
                    :data-cy="`saveComment_${index}`"
                    flat
                    label="Save"
                    @click="editComment(allowMultiple ? record.file_identifier : null)"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- video preview window with start/stop recording buttons -->
    <div v-if="!useFilePicker">
      <q-spinner v-if="isLoading" color="primary" size="6em" class="q-pa-md" data-cy="isLoading" />
      <video
        v-show="!isLoading"
        style="width: 100%; margin-bottom: 1em"
        class="row"
        ref="preview"
        autoplay
        muted
      ></video>
      <div class="row justify-center">
        <q-btn
          ref="startButton"
          :disable="videoIsRecording || isSaving"
          :color="videoIsRecording ? 'red' : 'primary'"
          :icon="
            videoIsRecording ? 'radio_button_checked' : 'radio_button_unchecked'
          "
          data-cy="startRecording"
          @click="startRecording()"
        />
        <!-- put space between button -->
        <span style="width: 10px" />
        <q-btn
          ref="stopButton"
          color="primary"
          data-cy="stopRecording"
          :disable='isSaving'
          @click="stopRecording()"
        >
          <q-icon v-if='!isSaving' name="stop"/>
          <q-spinner v-else data-cy="isSaving"/>
        </q-btn>
      </div>
    </div>
    <!-- file picker -->
    <File
      v-else
      v-model="newRecord"
      :model-value="newRecord"
      :allow-multiple-files="allowMultiple"
      :file-type="`${allowMultiple ? 'multi_' : ''}video`"
      :is-camera-child="true"
      @update:modelValue="
        (e) => {
          console.log(e)
          newRecord = e
        }
      "
    />
  </div>
</template>
<script>
import {
  paratooWarnHandler,
  paratooWarnMessage,
  notifyHandler,
  downloadFile,
} from '../misc/helpers'
import { useEphemeralStore } from 'src/stores/ephemeral'
import File from './File.vue'
import AsyncVideo from './AsyncVideo.vue'
import { isEmpty, findIndex } from 'lodash'
import { showEstimatedQuota } from '../misc/helpers'
import { binary } from 'src/misc/binary'
import { paratooErrorHandler } from '../misc/helpers'
import { cloneDeep } from 'lodash'

export default {
  name: 'VideoCamera',
  components: {
    File,
    AsyncVideo,
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    return { ephemeralStore }
  },
  inject: {
    currRowDataKey: { from: 'currRowDataKey' },
    subModuleRowDataKey: { from: 'subModuleRowDataKey', default: undefined },
  },
  data() {
    const protocolId = this.$route.params['protocolId']
    return {
      protocolId,
      videoDevices: [],
      videoIsRecording: false,
      useFilePicker: false,
      recorder: null,
      showComment: false,
      disableComment: false,
      // comment in payload need to be a string
      videoComment: '',
      // q-dialog doesn't receive scoped variable of an iteration in v-for loop
      tempVideoId: null,
      isLoading: false,
      // FIXME: not sure how much this should be
      maxAllowedAvailableStorage: 500, // in MB,
      isSaving: false,
    }
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    allowMultiple: {
      type: Boolean,
      required: true,
    },
    allowComment: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  computed: {
    newRecord: {
      get() {
        if (!this.modelValue) return []

        if (Array.isArray(this.modelValue)) return this.modelValue
        else {
          return [this.modelValue]
        }
      },
      set(val) {
        if ((Array.isArray(val) && val.length < 1) || isEmpty(val)) {
          // don't save an empty object (when last video removed)
          this.$emit('update:modelValue', undefined)
          return
        }
        if (this.allowMultiple && !Array.isArray(val)) {
          // multi files should return an array
          this.$emit('update:modelValue', [val])
          return
        }
        this.$emit('update:modelValue', val)
      },
    },
    videoRecords: {
      get() {
        return this.newRecord.filter(
          (record) =>
            record.fileType === 'video' || record.fileType === 'multi_video',
        )
      },
    },
  },
  async mounted() {
    this.isLoading = true
    await this.startVideoPreview()
    this.isLoading = false
  },
  watch: {
    //when we de-toggle from file picker, need to re-render video preview
    useFilePicker: function (val) {
      //wait for next tick so DOM has time to render `video` HTML element
      this.$nextTick(() => {
        if (!val) this.startVideoPreview()
      })
    },
  },
  methods: {
    /**
     * Records the video when user presses record button. Detects the stop and converts
     * to base64 to add to newRecord
     */
    async startRecording() {
      // shouldn't check after recording for video
      // as we don't want data loss and wasting time
      // so need to make sure there is a decent amount of storage left
      const estimation = await showEstimatedQuota()
      const availableStorage = (estimation.quota - estimation.usage) / 1024 ** 2
      if (availableStorage < this.maxAllowedAvailableStorage) {
        notifyHandler(
          'negative',
          `Insufficient storage. We recommend your device have at least ${this.maxAllowedAvailableStorage} MB of storage available to avoid data loss.`,
        )
        return
      }
      this.videoIsRecording = true
      this.recorder = new MediaRecorder(this.ephemeralStore.userMedia.camera)
      let data = []
      this.recorder.start()
      this.recorder.ondataavailable = (event) => data.push(event.data)

      this.recorder.onstop = async () => {
        console.debug('stopping recoding and processing')
        const recordedBlob = new Blob(data, {
          type: 'video/mp4',
        })
        data = []

        //we don't have a 'retake' button for video so clear the media array if doing
        //single media and already have taken a video
        if (!this.allowMultiple && this.newRecord.length > 0) this.clearMedia()

        // save the photo to indexedDb
        try {
          this.isSaving = true
          const modelName = this.subModuleRowDataKey || this.currRowDataKey
          const file_identifier = await binary.saveBinary(
            recordedBlob,
            this.protocolId,
            modelName,
          )
          const vidObj = {
            id: this.findUseID(),
            //one of the 10 file types we used (derived from Strapi's media types):
            //  multi_photo, photo, multi_video, video,  multi_audio, audio, multi_file,
            //  file, multi_any_file, any_file.
            fileType: `${this.allowMultiple ? 'multi_' : ''}video`,
            file_identifier,
            sizeBytes: recordedBlob.size,
            mimeType: recordedBlob.type,
          }
          if (this.allowComment) {
            vidObj.comment = ''
            // src of media in a strapi in payload of post request need to be "media" instead of "src" for single photo or media without comment
            vidObj.media = file_identifier
          } else {
            vidObj.src = file_identifier
          }
          //add to newRecord
          if (this.allowMultiple) {
            this.newRecord = [...this.newRecord, vidObj]
          } else {
            this.newRecord = vidObj
          }
        } catch (error) {
          paratooErrorHandler(
            `Failed to save photo in VideoCamera_WEB.vue`,
            error,
          )
          const fileName = downloadFile(recordedBlob, 'mp4')
          notifyHandler(
            'negative',
            `Fail to save the media, a backup ${fileName} has been saved to your device , please try to upload it again`,
          )
        } finally {
          this.isSaving = false
        }
      }
    },
    /**
     * Iterates over the provided stream's tracks and stops them
     */
    stop(stream) {
      console.debug('stopping tracks')
      stream.getTracks().forEach((track) => track.stop())
    },
    /**
     * Initiates the stopping of the recording
     */
    stopRecording() {
      console.debug('stopping recording')
      this.videoIsRecording = false
      this.recorder.stop() //triggers the MediaRecorder's onstop
      // this.stop(this.ephemeralStore.userMedia.camera) //stop the tracks
      this.startVideoPreview() //restart the video window
    },
    /**
     * Inits the camera device and plays input to the video preview window
     */
    async startVideoPreview() {
      console.debug('starting video preview')
      const devices = await navigator.mediaDevices.enumerateDevices()
      this.videoDevices = devices.filter((d) => d.kind === 'videoinput')

      if (this.videoDevices.length === 0) {
        const msg = 'Failed to start the camera'
        if (this.ephemeralStore.checkMediaNotificationTimer()) {
          notifyHandler('warning', msg)
        }
        paratooWarnMessage(msg)
        this.useFilePicker = true

        return
      }

      let video = this.$refs.preview
      try {
        if (!this.ephemeralStore.userMedia.camera) {
          this.ephemeralStore.userMedia.camera =
            await navigator.mediaDevices.getUserMedia({
              video: {
                facingMode: 'environment',
              },
            })
        }
      }  catch (err) {
        let msg = 'Failed to start the camera'
        if (this.ephemeralStore.checkMediaNotificationTimer()) {
          notifyHandler('warning', msg, err)
        }
        this.useFilePicker = true
        paratooWarnHandler(msg, err)
        return
      }
      video.srcObject = this.ephemeralStore.userMedia.camera
      return await video.play()
    },
    /**
     * Finds a unique ID to set on the media array object
     */
    findUseID() {
      // use lowest non-duplicate ID
      let useID = 0
      while (
        findIndex(this.newRecord, (o) => {
          return o.id === useID
        }) !== -1
      )
        useID++
      return useID
    },
    /**
     * Clears photo currently in canvas, or specified index of one
     */
    clearMedia(id = null) {
      //FIXME deleting one of multiple files from the file picker will not correctly
      //be reflected in the file picker's list of files, causing deleted files to be
      //re-added to the model
      if (id) {
        const index = findIndex(this.newRecord, (o) => {
          return o.file_identifier === id
        })
        let oldRecord = this.newRecord
        oldRecord.splice(index, 1)
        this.newRecord = cloneDeep(oldRecord) 
      } else {
        // this.newRecord.pop()
        this.newRecord = undefined
      }

      // make sure we're not displaying any taken images
      this.showTakenMedia = false
    },
    /**
     * Shows the comment dialog and inits an existing comment (if it has one)
     * 
     * @param {String} id the file_identifier UUID
     */
    toggleComment(id = null) {
      this.showComment = !this.showComment
      this.tempVideoId = id
      const index = findIndex(this.newRecord, (o) => {
        return o.file_identifier === id
      })
      if (index !== -1) {
        let currentComment = this.newRecord[index].comment
        this.videoComment = currentComment
      }
    },
    /**
     * Saves/edits the comment and closes dialog
     */
    editComment() {
      let id = this.tempVideoId
      if (!this.disableComment) {
        const index = findIndex(this.newRecord, (o) => {
          return o.file_identifier === id
        })
        let newComment = this.videoComment
        this.newRecord[index].comment = newComment
        this.showComment = false
        let msg = 'New comment added'
        notifyHandler('positive', msg)
        this.tempVideoId = null
        this.videoComment = ''
      }
      // delay focus as this may be triggered before input field is enabled
      setTimeout(() => {
        this.$refs['commentInput'][0]?.focus()
      }, 20)
    },
  },
}
</script>

<style scoped>
.previewVideo {
  border-radius: 2px;
  border: 1px solid #666;
  width: 100%;
  max-width: 30em;
  min-width: 75px;
  height: auto;
}
video {
  position: relative;
}
.comment {
  width: 90vw;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  max-height: 30vh;
}
.video-column {
  width: 33%;
  white-space: nowrap;
}
tbody > tr {
  max-height: 20vh;
}
#preview-photo {
  padding: 1em;
}
.comment-column {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}
.comment-column > p {
  padding: 1em;
  word-break: break-all;
  overflow: auto;
  max-height: 15vh;
}
.delete-button {
  width: 10%;
}

.img-dialog {
  /* height: 80vh;
  width: 80vw; */
  padding: 1em;
  background: rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.close-img-btn {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
}
</style>
