<!-- based on: https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Recording_a_media_element and 
  https://www.geeksforgeeks.org/create-a-video-and-audio-recorder-with-javascript-mediarecorder-api/ -->

<template>
  <div>
    <q-toggle v-model="useFilePicker" label="Select Video From Device" />
    <!-- gallery of video(s) -->
    <div
      class="row justify-center"
      style="margin: 0.5em 0 0.5em 0"
      wrap
      v-show="videoRecords.length"
    >
      <table>
        <caption class="text-h5">
          Preview
        </caption>
        <thead>
          <tr>
            <th>video</th>
            <th>comment</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(record, index) of videoRecords"
            :id="`${record.file_identifier}`"
            :key="record.file_identifier"
          >
            <td class="video-column">
              <div>
                <video ref="recording" class="previewVideo" controls>
                  <source :src="record.src || record.media" type="video/mp4" />
                </video>
              </div>
            </td>
            <td>
              <div class="comment-column">
                <p class="mobile-hide" :data-cy="`commentPreview_${index}`">{{ record.comment }}</p>
                <q-btn
                  :data-cy="`comment_${index}`"
                  icon="comment"
                  class="q-mr-sm"
                  @click="toggleComment(allowMultiple ? record.file_identifier : null)"
                />
              </div>
            </td>
            <td class="delete-button">
              <div>
                <q-btn
                  icon="delete"
                  class="row-1"
                  @click="
                    clearMedia(allowMultiple ? record.file_identifier : null)
                  "
                />
              </div>
            </td>
            <!-- comment dialog -->
            <q-dialog v-model="showComment" :persistent="!disableComment">
              <q-card class="comment">
                <q-card-section class="row items-center q-pb-none">
                  <div class="text-h6">Add/Edit Photo's Comment</div>
                  <q-space />
                  <q-btn
                    icon="close"
                    v-if="disableComment"
                    flat
                    round
                    dense
                    v-close-popup
                  />
                </q-card-section>
                <q-card-section class="q-pt-none">
                  <q-input
                    autogrow
                    dense
                    v-model="videoComment"
                    ref="commentInput"
                    :disable="disableComment"
                    :data-cy="`addComment_${index}`"
                    counter
                  />
                </q-card-section>
                <q-card-actions align="right" class="text-primary">
                  <q-btn
                    v-if="disableComment"
                    flat
                    :label="'Edit'"
                    @click="editComment"
                  />
                  <q-btn
                    v-else
                    flat
                    label="Save"
                    @click="editComment(allowMultiple ? record.file_identifier : null)"
                    v-close-popup
                    :data-cy="`saveComment_${index}`"
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- video preview window with start/stop recording buttons -->
    <div v-if="!useFilePicker">
      <div class="row justify-center">
        <VideoRecorder v-if='!isSaving' @newVideo="saveNewVideo" />
        <q-spinner v-else data-cy='isSaving'/>
      </div>
    </div>
    <!-- file picker -->
    <File
      v-else
      v-model="newRecord"
      :model-value="newRecord"
      :allow-multiple-files="allowMultiple"
      :file-type="`${allowMultiple ? 'multi_' : ''}video`"
      :is-camera-child="true"
      @update:modelValue="
        (e) => {
          newRecord = e
        }
      "
    />
  </div>
</template>
<script>
import {
  downloadFile,
  notifyHandler,
  paratooErrorHandler,
} from '../misc/helpers'
import { useEphemeralStore } from 'src/stores/ephemeral'
import File from './File.vue'
import { isEmpty, findIndex } from 'lodash'
import VideoRecorder from './VideoRecorder.vue'
import { binary } from 'src/misc/binary'
import { cloneDeep } from 'lodash'

export default {
  name: 'VideoCamera',
  components: {
    File,
    VideoRecorder,
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    return { ephemeralStore }
  },
  inject: {
    currRowDataKey: { from: 'currRowDataKey' },
    subModuleRowDataKey: { from: 'subModuleRowDataKey', default: undefined },
  },
  data() {
    const protocolId = this.$route.params['protocolId']
    return {
      protocolId,
      videoIsRecording: false,
      useFilePicker: false,
      showComment: false,
      disableComment: false,
      // comment in payload need to be a string
      videoComment: '',
      // q-dialog doesn't receive scoped variable of an iteration in v-for loop
      tempVideoId: null,
      isSaving: false,
    }
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    allowMultiple: {
      type: Boolean,
      required: true,
    },
    allowComment: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  computed: {
    newRecord: {
      get() {
        if (!this.modelValue) return []

        if (Array.isArray(this.modelValue)) return this.modelValue
        else {
          return [this.modelValue]
        }
      },
      set(val) {
        if ((Array.isArray(val) && val.length < 1) || isEmpty(val)) {
          // don't save an empty object (when last video removed)
          this.$emit('update:modelValue', undefined)
          return
        }
        if (this.allowMultiple && !Array.isArray(val)) {
          // multi files should return an array
          this.$emit('update:modelValue', [val])
          return
        }
        this.$emit('update:modelValue', val)
      },
    },
    videoRecords: {
      get() {
        return this.newRecord.filter(
          (record) =>
            record.fileType === 'video' || record.fileType === 'multi_video',
        )
      },
    },
  },
  methods: {
    /**
     * converts to base64 to add to newRecord
     * @param{string} video data in base64
     */
    async saveNewVideo(videoData) {
      //we don't have a 'retake' button for video so clear the media array if doing
      //single media and already have taken a video
      if (!this.allowMultiple && this.newRecord.length > 0) this.clearMedia()

      const videoCharacterCount = videoData.length
      const paddingCount = (() => {
        let match = videoData.match(/=/g)
        if (match === null) return 0
        else return match.length
      })()

      // save the photo to indexedDb
      try {
        const modelName = this.subModuleRowDataKey || this.currRowDataKey
        this.isSaving = true
        const file_identifier = await binary.saveBinary(
          videoData,
          this.protocolId,
          modelName,
        )
        const vidObj = {
          id: this.findUseID(),
          //one of the 10 file types we used (derived from Strapi's media types):
          //  multi_photo, photo, multi_video, video,  multi_audio, audio, multi_file,
          //  file, multi_any_file, any_file.
          fileType: `${this.allowMultiple ? 'multi_' : ''}video`,
          file_identifier,
          sizeBytes: 3 * (videoCharacterCount / 4) - paddingCount,
          mimeType: videoData.type
        }
        if (this.allowComment) {
          vidObj.comment = ''
          // src of media in a strapi in payload of post request need to be "media" instead of "src" for single photo or media without comment
          vidObj.media = file_identifier
        } else {
          vidObj.src = file_identifier
        }
        //add to newRecord
        if (this.allowMultiple) {
          this.newRecord = [...this.newRecord, vidObj]
        } else {
          this.newRecord = vidObj
        }
      } catch (error) {
        paratooErrorHandler(
          `Failed to save photo in VideoCamera_Native.vue`,
          error,
        )
        const fileName = downloadFile(videoData, 'mp4')
        notifyHandler(
          'negative',
          `Fail to save the media, a backup ${fileName} has been saved to your device , please try to upload it again`,
        )
      } finally {
        this.isSaving = false
      }
    },
    /**
     * Finds a unique ID to set on the media array object
     */
    findUseID() {
      // use lowest non-duplicate ID
      let useID = 0
      while (
        findIndex(this.newRecord, (o) => {
          return o.id === useID
        }) !== -1
      )
        useID++
      return useID
    },
    /**
     * Clears photo currently in canvas, or specified index of one
     */
    clearMedia(id = null) {
      //FIXME deleting one of multiple files from the file picker will not correctly
      //be reflected in the file picker's list of files, causing deleted files to be
      //re-added to the model
      if (id) {
        const index = findIndex(this.newRecord, (o) => {
          return o.file_identifier === id
        })
        let oldRecord = this.newRecord
        oldRecord.splice(index, 1)
        this.newRecord = cloneDeep(oldRecord) 
      } else {
        // this.newRecord.pop()
        this.newRecord = undefined
      }

      // make sure we're not displaying any taken images
      this.showTakenMedia = false
    },
    /**
     * Shows the comment dialog and inits an existing comment (if it has one)
     * 
     * @param {String} id the file_identifier UUID
     */
    toggleComment(id = null) {
      this.showComment = !this.showComment
      this.tempVideoId = id
      const index = findIndex(this.newRecord, (o) => {
        return o.file_identifier === id
      })
      if (index !== -1) {
        let currentComment = this.newRecord[index].comment
        this.videoComment = currentComment
      }
    },

    editComment() {
      let id = this.tempVideoId
      if (!this.disableComment) {
        const index = findIndex(this.newRecord, (o) => {
          return o.file_identifier === id
        })
        let newComment = this.videoComment
        this.newRecord[index].comment = newComment
        this.showComment = false
        let msg = 'New comment added'
        notifyHandler('positive', msg)
        this.tempVideoId = null
        this.videoComment = ''
      }
      // delay focus as this may be triggered before input field is enabled
      setTimeout(() => {
        this.$refs['commentInput'][0].focus()
      }, 20)
    },
  },
}
</script>

<style scoped>
.previewVideo {
  border-radius: 2px;
  border: 1px solid #666;
  width: 100%;
  max-width: 30em;
  min-width: 75px;
  height: auto;
}
video {
  position: relative;
}
.comment {
  width: 90vw;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  max-height: 30vh;
}
.video-column {
  width: 33%;
  white-space: nowrap;
}
tbody > tr {
  max-height: 20vh;
}
#preview-photo {
  padding: 1em;
}
.comment-column {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}
.comment-column > p {
  padding: 1em;
  word-break: break-all;
  overflow: auto;
  max-height: 15vh;
}
.delete-button {
  width: 10%;
}

.img-dialog {
  /* height: 80vh;
    width: 80vw; */
  padding: 1em;
  background: rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.close-img-btn {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
}
</style>
