<!-- ANDROID only -->
<template>
  <div>
    <q-btn
      ref="startButton"
      :color="'primary'"
      label="video recorder"
      :disable="loading"
      @click="openCamera"
    />
    <q-dialog v-model="isOpened" :maximized="true">
      <q-card class="q-pa-md">
        <div class="camera" id="camera"></div>
        <q-footer class="row footer">
          <div class="col">
            <q-btn
              class="q-mx-auto"
              icon="arrow_back_ios"
              round
              dense
              color="primary"
              :disable="loading"
              @click="closeCamera"
            />
          </div>
          <div class="col">
            <q-btn
              :disable="loading"
              :icon="!isRecording ? 'radio_button_unchecked' : 'stop'"
              round
              dense
              :color="!isRecording ? 'primary' : 'red'"
              @click="startStopRecordVideo"
            />
          </div>
          <div class="col">
            {{ timer }}
          </div>
        </q-footer>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { CameraPreview } from '@capacitor-community/camera-preview'
import { Filesystem, Directory } from '@capacitor/filesystem'
import {
  paratooWarnHandler,
  notifyHandler,
  paratooErrorHandler,
} from 'src/misc/helpers'
import { VoiceRecorder } from 'capacitor-voice-recorder'

const mediaType = {
  VIDEO: 'video',
  PHOTO: 'photo',
}

const ratio = 4 / 3
const width = Math.round(screen.availWidth)
const height = Math.round(width * ratio)

export default {
  props: {
    mediaType: {
      type: String,
      required: false,
      default: mediaType.VIDEO,
    },
  },
  data() {
    return {
      isRecording: false,
      videoData: null,
      timerInterval: null,
      timer: null,
      isOpened: false,
      loading: false,
    }
  },
  methods: {
    async openCamera() {
      this.loading = true
      const result = await this.setupCamera()
      this.loading = false
      if (!result) return
      this.isOpened = true
    },
    async setupCamera() {
      // FIXME: work around as this component require record audio permission
      // but the video-preview plugin does not request it
      // so we use VoiceRecorder to request it
      try {
        const result = await VoiceRecorder.requestAudioRecordingPermission()
        console.log(result)
        if (!['granted', true].includes(Object.values(result)[0])) {
          notifyHandler(
            'negative',
            'Permission to record audio required, Please go to setting, permission and enable voice recorder permission',
          )
          return false
        }
        const cameraPreviewOptions = {
          y: 50,
          height: height,
          width: width,
          enableZoom: true,
          className: 'camera',
          parent: 'camera',
        }
        await CameraPreview.start(cameraPreviewOptions)
        return true
      } catch (error) {
        paratooErrorHandler('Failed to request permission', error)
        return false
      }
    },
    async closeCamera() {
      try {
        this.loading = true
        await CameraPreview.stop()
        this.loading = false
      } catch (error) {
        paratooWarnHandler('Error while closing camera:' + error.code, error)
        this.loading = false
      }
      clearInterval(this.timerInterval)
      this.timer = null
      this.isRecording = false
      this.isOpened = false
      this.disable = false
    },
    async startStopRecordVideo() {
      if (!this.isRecording) {
        const cameraPreviewOptions = {
          position: 'rear',
          width: width,
          height: height,
        }
        try {
          await CameraPreview.startRecordVideo(cameraPreviewOptions)
          this.startTimer()
          this.isRecording = true
        } catch (error) {
          paratooWarnHandler('Error while starting video:' + error.code, error)
        }
      } else {
        this.isRecording = false
        // stop user from clicking button multiple time while video hasn't been saved
        this.disable = true
        try {
          const { videoFilePath } = await CameraPreview.stopRecordVideo()
          // the plugin can only save the video in app cache, and return the path
          // so we have get that file and convert to base64
          const base64Data = await this.fromCacheToBase64(videoFilePath)
          this.$emit('newVideo', base64Data)
          await this.closeCamera()
        } catch (error) {
          paratooWarnHandler('Error while stopping video:' + error.code, error)
        }
      }
    },
    async requestFSpermission() {
      try {
        const status = await File.requestPermissions()
        if (status.state == 'prompt') {
          let msg =
            'Required access to device storage. Please go to setting, permission and enable storage permission'
          notifyHandler('negative', msg)
        }
      } catch (error) {
        switch (error.code) {
          case 1:
            paratooWarnHandler('User denied permission for location access', error)
            break
          case 2:
            paratooWarnHandler('Device was unable to determine its position', error)
            break
          case 3:
            paratooWarnHandler(
              'Timeout occurred while trying to determine position', error
            )
            break
          default:
            paratooWarnHandler('Unknown error occurred:' + error.code, error)
        }
      }
    },
    async fromCacheToBase64(videoFilePath) {
      try {
        const fileName = videoFilePath.split('/').at(-1)
        const { data } = await Filesystem.readFile({
          path: fileName,
          directory: Directory.Cache,
        })
        return 'data:video/mp4;base64,' + data
      } catch (error) {
        paratooWarnHandler('Error while decoding video:' + error.code, error)
        this.closeCamera()
      }
    },
    startTimer() {
      let timeInSeconds = 0
      this.timerInterval = setInterval(() => {
        timeInSeconds++
        const hours = Math.floor(timeInSeconds / 3600)
        const minutes = Math.floor(timeInSeconds / 60)
        const seconds = timeInSeconds % 60

        this.timer = `${hours.toString().padStart(2, '0')}:\
          ${minutes.toString().padStart(2, '0')}:\
          ${seconds.toString().padStart(2, '0')}`
      }, 1000)
    },
  },
  async mounted() {
    await this.$nextTick()
    await this.requestFSpermission()
    // await this.setupCamera()
  },
}
</script>
<style scoped>
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height is based on camera preview dimension */
}
.footer {
  height: calc((100vh - (100vw * 4 / 3)) / 2);
}
</style>
