<template>
  <div v-if="ephemeralStore.barcodeOpen">
      Please hide barcode reader to open video camera
    </div>
  <div v-else>
     <!-- #!if capacitor -->
    <VideoCamera_NATIVE
      v-if="isCap"
      :allowMultiple="allowMultiple"
      :allowComment="allowComment"
      :modelValue="modelValue"
      @update:modelValue="(e) => $emit('update:modelValue', e)"
    />
    <!-- #!else -->
    <VideoCamera_WEB
      v-if="!isCap"
      :allowMultiple="allowMultiple"
      :allowComment="allowComment"
      :modelValue="modelValue"
      @update:modelValue="(e) => $emit('update:modelValue', e)"
    />
    <!-- #!endif -->
  </div>
</template>
<script>
// #!if capacitor
import VideoCamera_NATIVE from './VideoCamera_NATIVE.vue'
// #!else
import VideoCamera_WEB from './VideoCamera_WEB.vue'
// #!endif
import { useEphemeralStore } from 'src/stores/ephemeral'
export default {
  components: {
     // #!if capacitor
    VideoCamera_NATIVE,
    // #!else
    VideoCamera_WEB,
     // #!endif
  },
  props: {
    modelValue: {
      type: [Object, Array],
      required: false,
      default: () => {},
    },
    allowMultiple: {
      type: Boolean,
      required: true,
    },
    allowComment: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    return { ephemeralStore }
  },
  computed: {
    isCap() {
      return process.env.MODE === 'capacitor'
    },
  },
}
</script>
