<template>
  <div>
    <q-btn
      icon="filter_alt"
      flat
      dense
      @click.stop="showFilterOptions = true"
      :color="isFilterOn ? 'red' : ''"
    />
    <q-dialog v-model="showFilterOptions">
      <q-card style="width: 50vw; min-width: 300px">
        <q-card-section class="q-pb-none">
          <h6 class="q-ma-none q-pa-none row justify-between">
            Filter voucher options
            <q-btn
              v-if="isFilterOn"
              label="Clear filter"
              icon="filter_alt_off"
              color="red"
              dense
              flat
              @click="clearFilter"
            />
            <q-btn flat icon="close" color="gray" v-close-popup />
          </h6>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-toggle
            v-model="showCurrentPlot"
            :label="`Only show voucher in current plot (${currentPlotLabel})`"
          />
          <q-select
            v-if="!showCurrentPlot"
            label="Filter by plot"
            v-model="selectedPlot"
            :options="plotsAssociatedWithVouchers"
            multiple
            clearable
            use-chips
            dense
          />
        </q-card-section>
        <q-card-section v-if="!isDropdown" class="q-pt-none">
          <h6 class="q-ma-none q-pa-none">Voucher label options</h6>
          <q-toggle
            v-model="voucherLabelOptions.barcode"
            label="Show barcode"
          />
          <q-toggle
            v-model="voucherLabelOptions.plotName"
            label="Show plot name"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script setup>
import { ref, defineProps, watch, defineEmits, computed, reactive } from 'vue'
import { useDataManagerStore } from '../stores/dataManager'
import { useApiModelsStore } from '../stores/apiModels'
import { checkFloristicsVoucherInfo } from '../misc/helpers'
import { useEphemeralStore } from 'src/stores/ephemeral'
import { floristicsLiteUuid } from 'src/misc/constants'
const props = defineProps({
  plotsAssociatedWithVouchers: {
    type: Array,
    required: true,
  },
  isDropdown: {
    type: Boolean,
    default: false,
  },
  protocolId: {
    type: Number,
  },
})

const { currentPlotLabel } = useDataManagerStore()
const showFilterOptions = ref(false)
const showCurrentPlot = ref(false)
const selectedPlot = ref([])
const { protUuidFromId } = useApiModelsStore()
const ephemeral = useEphemeralStore()

const UUID = protUuidFromId(props.protocolId)
const defaultToggle = computed(() => checkFloristicsVoucherInfo(UUID.uuid))

const { barcode, plotName } = defaultToggle.value
const defaultVariant = { barcode, plotName }

if (defaultToggle.value.uuid === floristicsLiteUuid) {
  ephemeral.voucherLabelOptions = ephemeral.voucherLabelOptions
    ? ephemeral.voucherLabelOptions
    : defaultVariant
}

const voucherLabelOptionsInitValue =
  defaultToggle.value.uuid === floristicsLiteUuid
    ? ephemeral.voucherLabelOptions
    : JSON.parse(localStorage.getItem('voucherLabelOptions')) || defaultVariant

const voucherLabelOptions = reactive(voucherLabelOptionsInitValue)

const isFilterOn = computed(() => selectedPlot.value?.length > 0)

const emit = defineEmits({
  filter: Array,
  voucherLabelOptions: {
    barcode: Boolean,
    plotName: Boolean,
  },
})

watch(showCurrentPlot, (newVal) => {
  selectedPlot.value = newVal ? [currentPlotLabel] : []
})
watch(selectedPlot, () => {
  emit('filter', selectedPlot.value)
})
watch(
  voucherLabelOptions,
  (newVal) => {
    if (defaultToggle.value.uuid === floristicsLiteUuid) {
      ephemeral.voucherLabelOptions = newVal
    } else {
      localStorage.setItem('voucherLabelOptions', JSON.stringify(newVal))
    }
    emit('voucherLabelOptions', newVal)
  },
  { immediate: true },
  { deep: true },
)

function clearFilter() {
  showCurrentPlot.value = false
  selectedPlot.value = []
}
</script>
