<template>
  <q-card
    bordered
    :class="`bg-grey-${
      $q.dark.isActive ? 10 - layersDeep : 1 + layersDeep
    } q-pa-md`"
  >
    <paratoo-api-model-crud-ui
      data-cy="weather"
      id="weather"
      ref="crud"
      :fields="fields"
      :title="'Weather'"
      :current-prot-id="protocolId"
      :modelValue="modelValue"
      :layersDeep="layersDeep"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @new-record-changed="newRecordChanged"
    />
  </q-card>
</template>

<script>
import { asyncCrud, createDependentFieldCallback } from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { cloneDeep, isEqual } from 'lodash'

export default {
  name: 'Weather',
  components: {
    //https://vuejs.org/v2/guide/components-edge-cases.html#Circular-References-Between-Components
    'paratoo-api-model-crud-ui': asyncCrud,
  },
  props: {
    config: Object,
    modelValue: {
      type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    // constantly updating current location coord
    userCoords: {
      type: Object,
    },
    layersDeep: {
      required: false,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()

    return {
      apiModelsStore,
    }
  },
  data() {
    const fields = this.config.modelConfig.fields
    fields.precipitation_duration.hidden = true

    let conditionalFields = [
      {
        field: 'precipitation_duration',
        dependsOn: 'precipitation',
        dependsOnSelection: ['SH', 'RA', 'DR', 'FR', 'FO', 'MI', 'TH'],
        fieldCb: this.cb,
      },
    ]

    const requiredRule = (value) =>
      (value !== undefined && value !== null && value !== '') ||
      `This field is required`

    return {
      fields,
      conditionalFields,
      conditionalFieldsCallback: createDependentFieldCallback(),
      requiredRule,
      weather: cloneDeep(this.modelValue),
    }
  },
  methods: {
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
    cb({ newVal, oldVal, inputDefs }) {
      if (isEqual(newVal, oldVal)) return
      const requiredFields = [
        'precipitation',
        'wind_description',
        'cloud_cover',
      ]
      if (newVal) {
        if (requiredFields.some((field) => newVal[field] !== null)) {
          requiredFields.forEach((field) => {
            const item = inputDefs.find((item) => item.model === field)
            if (item) {
              item.rules.push(this.requiredRule)
            }
          })
        } else {
          requiredFields.forEach((field) => {
            this.fields[field].rules = []
          })
        }
      }
    },
    newRecordChanged({ newRecord, oldRecord }) {
      if (isEqual(newRecord, oldRecord)) return
      this.$emit('update:modelValue', { newRecord, oldRecord }, this.config)
    },
  },
}
</script>
