<template>
  <div>
    <HWSMap
      class="q-my-md"
      :mapHeightPercentage="0.5"
      :model-zoom="18"
      :initToPlotCenter="true"
      :plotPoints="plotData"
    />
    <paratoo-api-model-crud-ui
      ref="crud"
      :fields="fields"
      :title="''"
      :row-data-key="rowDataKey"
      :exclude-submit-btn-flag="true"
      :current-prot-id="protocolId"
      :model-value="modelValue"
      :conditional-fields="conditionalFields"
      :conditional-field-callback="conditionalFieldsCallback"
      @update:modelValue="
        (e) => {
          $emit('update:modelValue', e)
        }
      "
    />
  </div>
</template>

<script>
import {
  asyncCrud,
  createDependentFieldCallback,
  makeConditionFieldForTargetSpecies,
  makeModelConfig,
} from '../misc/helpers'
import { useApiModelsStore } from '../stores/apiModels'
import { isEqual } from 'lodash'
import HWSMap from './Invertebrate/InvertebrateMap.vue'
import { useBulkStore } from 'src/stores/bulk'
import { useEphemeralStore } from 'src/stores/ephemeral'

export default {
  inject: ['doc'],
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    HWSMap,
  },
  props: {
    modelValue: {
      // type: Object,
      required: false,
      default: () => {},
    },
    protocolId: {
      type: Number,
      required: true,
    },
    userCoords: {
      type: Object,
      required: false,
      default: null,
    },
    rowDataKey: {
      required: false,
    },
    splitSurveyStep: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup() {
    const apiModelsStore = useApiModelsStore()
    const { getPlotLayoutId } = useBulkStore()
    const ephemeralStore = useEphemeralStore()

    return {
      apiModelsStore,
      getPlotLayoutId,
      ephemeralStore,
    }
  },
  // within-plot-belt-transect-survey
  data() {
    const { fields } = makeModelConfig(
      this.rowDataKey,
      this.doc,
      this.protocolId,
      false,
      null,
      this.splitSurveyStep,
    )

    const plotId = this.getPlotLayoutId

    let conditionalFields = [
      {
        field: 'number_of_transects',
        fieldCb: this.getTransectPoints,
      },
    ]
    conditionalFields = makeConditionFieldForTargetSpecies(
      fields,
      conditionalFields,
    )

    return {
      fields,
      plotId,
      conditionalFieldsCallback: createDependentFieldCallback(),
      conditionalFields,
      transectPoints: null,
      plotData: null,
    }
  },
  watch: {
    transectPoints(newVal) {
      const groupedDirections = []
      for (let i = 0; i < newVal?.length; i++) {
        for (let j = i + 1; j < newVal?.length; j++) {
          const dir1 = newVal[i]
          const dir2 = newVal[j]

          const isOpposite =
            (dir1[0] === 'N' && dir2[0] === 'S') ||
            (dir1[0] === 'S' && dir2[0] === 'N') ||
            (dir1[0] === 'E' && dir2[0] === 'W') ||
            (dir1[0] === 'W' && dir2[0] === 'E')

          const isSameNumber = dir1.substring(1) === dir2.substring(1)

          if (isOpposite && isSameNumber) {
            groupedDirections.push([dir1, dir2])
            break
          }
        }
      }

      this.plotData = groupedDirections.map((pair) => {
        const obj = {}
        pair.forEach((symbol) => {
          const match = this.apiModelsStore
            .plotLayoutPoints('C', this.plotId, newVal)
            .latLngs.find((obj) => obj.name.symbol === symbol)
          if (match) {
            obj[symbol] = [match.lat, match.lng]
          }
        })
        return obj
      })
      this.ephemeralStore.transectLines = this.plotData
    },
  },
  methods: {
    getTransectPoints({ newVal, oldVal }) {
      if (newVal?.number_of_transects && !isEqual(newVal, oldVal)) {
        const startPointDict = {
          1: ['N3', 'S3'],
          2: ['N2', 'S2', 'N4', 'S4'],
          4: ['N2', 'S2', 'N4', 'S4', 'E2', 'W2', 'E4', 'W4'],
        }
        this.transectPoints = startPointDict[newVal?.number_of_transects.value]
      }
    },
    async onSubmitFunc() {
      return await this.$refs['crud'].onSubmitFunc()
    },
  },
}
</script>
