<template>
  <div class="center">
    <q-card flat bordered>
      <q-card-section class="row q-py-xs justify-center">
        <h6 class="q-my-none">Current Context</h6>
      </q-card-section>
      <q-card-section class="plot row items-center justify-center q-py-xs">
        <span class="row">
          <strong class="q-pr-xs">Project:</strong>
          <p data-cy="currentProject" class="q-ma-none">
            {{ getProjectLabel() }}
          </p>
        </span>
        <!-- make a small space between the two spans -->
        <span class="q-mx-sm"></span>
        <span class="row">
          <strong class="q-pr-xs">Plot:</strong>
          <p data-cy="currentPlot" class="q-ma-none">
            {{ getLabel('plot-layout') }}
          </p>
        </span>
        <!-- make a small space between the two spans -->
        <span class="q-mx-sm"></span>
        <span class="row">
          <strong class="q-pr-xs">Visit:</strong>
          <p data-cy="currentVisit" class="q-ma-none">
            {{ getLabel('plot-visit') }}
          </p>
        </span>
      </q-card-section>
    </q-card>
  </div>
</template>
<script>
import { useAuthStore } from '../stores/auth'
import { useDataManagerStore } from 'src/stores/dataManager'
import { useBulkStore } from '../stores/bulk'
import { useEphemeralStore } from '../stores/ephemeral'
import {
  paratooWarnMessage,
  paratooSentryBreadcrumbMessage,
} from '../misc/helpers'
export default {
  setup() {
    const authStore = useAuthStore()
    const dataManager = useDataManagerStore()
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()

    return {
      authStore,
      dataManager,
      bulkStore,
      ephemeralStore,
    }
  },
  methods: {
    /**
     * Only works for location and visit model names
     */
    getLabel(modelName) {
      const modelData = this.dataManager.cachedModel({ modelName: modelName })
      const expanded = this.dataManager.getPlotDataFromContext({
        modelName: modelName,
      })
      const plotContext = this.bulkStore?.getStaticPlotContext
      const layout = plotContext?.plotLayout
      const visit = plotContext?.plotVisit

      if (modelName === 'plot-layout') {
        if (layout === null) {
          //early return for this case. below will not early return as it'll try each
          //case then check if there's undefined/empty, thus indicating errors
          return 'Not Selected'
        }
        let resp = null
        if (
          typeof expanded === 'undefined' ||
          !expanded?.plot_selection?.plot_label
        ) {
          if (layout?.plot_selection) {
            //plotLayout context must have been set without ID (likely by dataManager)
            resp =
              this.dataManager
                .cachedModel({ modelName: 'plot-selection' })
                .find((o) => o.id === layout.plot_selection)?.plot_label ||
              'undefined'
          } else if (layout?.id?.temp_offline_id) {
            //must have selected a layout that was also collected offline
            const offlineLayout =
              this.dataManager
                .cachedModel({ modelName: 'plot-layout' })
                .find((o) => o.temp_offline_id === layout.id.temp_offline_id) ||
              'undefined'
            //now need to resolve plot label from the Plot Selection
            resp = this.dataManager
              .cachedModel({ modelName: 'plot-selection' })
              .find((o) => o.id === offlineLayout.plot_selection)?.plot_label
          } else {
            resp = 'undefined'
          }
        } else {
          resp = expanded?.plot_selection?.plot_label
        }

        if (!resp || resp === 'undefined') {
          if (
            !this.ephemeralStore.modelIsPopulating({ modelName }) &&
            //queue is not syncing
            !this.dataManager.queueRecentlySynced
          ) {
            paratooWarnMessage(
              `Returning null/undefined/empty layout context: ${resp}`,
            )
          } else {
            paratooSentryBreadcrumbMessage(
              'Skipping warn of null/undefined/empty layout context as model is still populating',
            )
          }
        }
        return resp || 'undefined'
      } else if (modelName === 'plot-visit') {
        if (visit === null) {
          return 'Not Selected'
        }
        let resp = null
        if (typeof expanded === 'undefined') {
          if (visit?.visit_field_name) {
            //plotVisit context must have been set without ID (likely by dataManager)
            resp = visit?.visit_field_name
          } else if (visit?.id?.temp_offline_id) {
            const resolvedVisit = modelData.find(
              (o) => o?.temp_offline_id === visit.id.temp_offline_id,
            )
            resp = resolvedVisit?.visit_field_name
          } else {
            resp = 'undefined'
          }
        } else {
          resp = expanded?.visit_field_name
        }
        if (!resp || resp === 'undefined') {
          if (
            !this.ephemeralStore.modelIsPopulating({ modelName }) &&
            //queue is not syncing
            !this.dataManager.queueRecentlySynced
          ) {
            paratooWarnMessage(
              `Returning null/undefined/empty visit context: ${resp}`,
            )
          } else {
            paratooSentryBreadcrumbMessage(
              'Skipping warn of null/undefined/empty visit context as model is still populating',
            )
          }
        }
        return resp || 'undefined'
      } else {
        paratooWarnMessage(
          `Unhandled case for 'getLabel()' with modelName=${modelName}`,
        )
      }
    },
    getProjectLabel() {
      let label = 'Not Selected'
      if (!this.authStore.projects) return label
      if (this.authStore.projects.length == 0) return label
      if (this.authStore.projectContext) {
        //they selected a project on this page (ignore the `currentContext`, which might
        //be stale. They will re-set it with this `projectContext` if they select a
        //protocol in said project)
        const proj = this.authStore.projects.find(
          (o) => o.id === this.authStore.projectContext,
        )
        if (!proj) return label
        if (!proj.name) return label
        return proj.name
      } else if (this.authStore.selectedProject) {
        //no project is selected on this page, but we have a `currentContext` stored
        label = this.authStore.selectedProject.name
      }
      return label
    },
  },
}
</script>