<template>
  <q-page padding>
    <h3 class="text-center">Debug tools</h3>
    <div>
      <q-btn
        :label="`${enableDevTools ? 'disable' : 'enable'} dev tools`"
        @click="handleEnableDevTools()"
      />
      <q-dialog v-model="devToolsPopup">
        <q-card>
          <q-card-section>
            <q-form
              @submit="validateDevToolsPassword"
            >
              <q-input
                label="Dev tools password"
                v-model="devToolsPassword"
                type="password"
              />
              <q-btn
                label="Done"
                type="submit"
              />
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
      <!-- email state to tech team ==================================== -->
      <PostAndPullState v-if="enableDevTools" :enableDevTools="enableDevTools" />
      <q-btn @click='downLoadAllFilesInBinaryStore'>Download all files and photos from the app</q-btn>
      <q-btn
        v-if="enableDevTools"
        label="Download model data to device"
        @click="downloadApiModelsStore"
      />
      <hr />
    </div>
    <div>
      <h4>Constants</h4>
      <q-markup-table class="constant-table">
        <thead>
          <tr>
            <th id="col">Key</th>
            <th id="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="curr of constants" :key="curr.key">
            <td>{{ curr.key }}</td>
            <td>{{ curr.value }}</td>
          </tr>
        </tbody>
      </q-markup-table>
      <hr />
    </div>
    <div>
      <h4>Available local voices</h4>
      <p>
        {{ this.localVoices }}
      </p>
      <hr />
    </div>
    <div>
      <h4>Static resources status</h4>
      <p>Values do not update automatically</p>
      <div
        v-for="[assetType, status] of Object.entries(staticResourceStatus)" :key="assetType"
      >
        <h6 class="q-ma-none q-py-sm">{{ assetType }}</h6>
        <p
          v-for="[assetLocation, assetStatus] of Object.entries(status)"
          :key="assetLocation"
          class="q-ma-none"
        >
          {{ assetLocation }}: {{ assetStatus }}
        </p>
      </div>
    </div>
    <div>
      <h4>Storage status</h4>
      <p>Storage Quota: {{ storageQuota.toFixed(0) }} MB</p>
      <p>Local storage usage: {{ localStorageUsage?.total.toFixed(3) }} MB</p>
      <p
        v-for="([key, storeUsageMb]) of Object.entries(localStorageUsage?.stores)"
        :key="key"
        class="q-pl-lg"
      >
        {{key}}: {{storeUsageMb}} MB
      </p>
      <p>Total Usage: {{ storageUsage.toFixed(3) }} MB</p>
      <hr />
    </div>
    <div>
      <h4>Historical data</h4>
      <q-btn
        label="Download historical data"
        @click="downloadHistoricalData"
      />

      <q-btn
        label="Show historical data summary"
        @click="getHistoricalDataSummary"
        :loading="historicalDataSummary.responsesLoading || historicalDataSummary.submitResponsesLoading"
      />

      <h6>Submit responses</h6>
      <q-table
        v-if="historicalDataSummary?.submitResponses"
        title="Historical submit responses"
        wrap-cells
        :pagination="historicalDataSummary.pagination"
        :rows="historicalDataSummary.submitResponses"
      />
      <p v-else>No submit response data</p>

      <h6>Responses</h6>
      <q-table
        v-if="historicalDataSummary?.responses"
        title="Historical responses"
        wrap-cells
        :pagination="historicalDataSummary.pagination"
        :rows="historicalDataSummary.responses"
      />
      <p v-else>No response data</p>
    </div>
    <div v-if="enableDevTools">
      <h4>Upload to store helpers</h4>
      <p>
        Note: will not do any validity checks - calls store directly so it's up
        to you to ensure you input the data correctly
      </p>
      <h5>Upload to bulk store `collections`</h5>
      <q-input label="Protocol ID" v-model="uploadCollectionsProtId" />
      <q-input
        type="textarea"
        label="Data to upload"
        v-model="uploadCollectionsData"
      />
      <q-btn
        :disable="
          isEmpty(uploadCollectionsProtId) || isEmpty(uploadCollectionsData)
        "
        label="Upload to bulk collections"
        @click="uploadToBulkStore"
      />
      <h5>Set static plot context</h5>
      <q-select
        label="Plot Layout"
        :options="availablePlots()"
        v-model="uploadCollectionsPlotLayoutContext"
      />
      <q-select
        label="Plot Visit"
        :options="availableVisits()"
        v-model="uploadCollectionsPlotVisitContext"
        v-if="uploadCollectionsPlotLayoutContext"
      />
      <q-btn
        :disable="
          isEmpty(uploadCollectionsPlotLayoutContext) ||
          isEmpty(uploadCollectionsPlotVisitContext)
        "
        label="Set Plot Context"
        @click="setPlotContext"
      />
      <h5>Upload (overwrite) to publication queue</h5>
      <q-input
        type="textarea"
        label="Data to upload"
        v-model="uploadPublicationQueueData"
      />
      <q-btn
        :disable="isEmpty(uploadPublicationQueueData)"
        label="Upload to publication queue"
        @click="uploadToPublicationQueue"
      />
      <h5>Clear publication queue and other data manager meta</h5>
      <q-btn label="Clear publication queue" @click="clearPublicationQueue" />
      <q-btn
        label="Clear data manager metadata (queue backup, errors, responses, skips, submit responses, submission progress)"
        @click="clearPublicationQueueMeta"
      />
      <hr />
    </div>
    <div v-if="enableDevTools">
      <h4>DexieDB helpers</h4>
      <q-btn
        label="Clear Dexie"
        color="primary"
        :loading="clearDexieLoading"
        @click="clearDexie()"
      />
      <q-btn
        label="Init Dexie (should already be cleared)"
        color="primary"
        :loading="initDexieLoading"
        @click="initDexie()"
      />
      <hr />
    </div>
    <div v-if="enableDevTools">
      <h4>
        Helper tool for converting request JSON to init-data-compatible data
      </h4>
      <h6 style="margin-bottom: 10px">Assumptions</h6>
      <ul>
        <li>
          Collection has existing plot location/layout/visit (not create new)
        </li>
        <li>
          The app has access to all required LUTs, models, and schemas (you
          might want to 'pull all API models')
        </li>
      </ul>
      <p>See the code for missing features (TODOs and FIXMEs)</p>

      <h6>Bulk protocols</h6>
      <q-select
        v-model="selectedApiRequestExample"
        label="Select example to autofill"
        :options="makeExampleOptions()"
      />
      <form>
        <q-input
          id="json"
          v-model="text"
          filled
          type="textarea"
          placeholder="Postman or network request JSON here"
        />
        <q-btn type="button" @click="handleConvert()">Convert</q-btn>
      </form>

      <h6>Non-bulk protocols</h6>
      <p>e.g., opportunistic</p>
      <!-- <q-select v-model="selectedApiRequestExample" label="Select example to autofill" :options="makeExampleOptions()" /> -->
      <q-select
        v-model="selectedNonBulk"
        label="Select non-bulk protocol you wish to convert"
        :options="nonBulkProtocols"
      />
      <form>
        <q-input
          id="jsonNonBulk"
          v-model="textNonBulk"
          filled
          type="textarea"
          placeholder="Postman or network request JSON here (non-bulk)"
        />
        <q-btn
          type="button"
          :disabled="!selectedNonBulk"
          @click="handleConvert(true)"
          >Convert</q-btn
        >
      </form>

      <p>{{ statusMessage }}</p>
      <hr />
    </div>
    <div>
      <h4>Project and protocol dump</h4>
      <q-btn @click="getProjectsAndProtocols">Get data from paratoo-org</q-btn>
      <pre><code>{{authStore.projAndProt}}</code></pre>
      <hr />
    </div>
    <div>
      <h4>Available Plots</h4>
      <pre><code>{{availablePlots().map(o => o.label)}}</code></pre>
      <hr />
    </div>
  </q-page>
</template>

<script>
import * as constants from 'src/misc/constants'
import * as apiRequestExamples from 'src/misc/apiRequestExamples'
import { modelNameToSchemaName, downloadFile, getLocalStorageUsage } from 'src/misc/helpers'
import { useAuthStore } from '../stores/auth'
import { useApiModelsStore } from '../stores/apiModels'
import { useDocumentationStore } from '../stores/documentation'
import { notifyHandler, paratooWarnHandler, showEstimatedQuota, getCookie } from '../misc/helpers'
import { dexieDB } from '../misc/dexieDB'
import { useEphemeralStore } from '../stores/ephemeral'
import { useBulkStore } from '../stores/bulk'
import { useDataManagerStore } from '../stores/dataManager'
import {
  isEmpty,
  cloneDeep,
  isNil,
} from 'lodash'
import PostAndPullState from 'src/components/PostAndPullState.vue'
import { binary } from 'src/misc/binary'
import {
  historicalDataManagerDb
} from '../../src-pwa/dexieDb/historical-data-manager'
import {
  Dialog, Loading,
} from 'quasar'

export default {
  name: 'Debug',
  components: {
    PostAndPullState,
  },
  data() {
    return {
      constants: Object.keys(constants).map((k) => ({
        key: k,
        value: constants[k],
      })),
      devSandboxModel: {
        rowDataKey: 'devSandboxSurvey',
        title: 'Dev sandbox survey',
        fields: {
          some_text_field: {
            label: 'Some Text',
            isRequired: true,
          },
          an_integer: {
            label: 'An Integer',
            type: 'number',
          },
          a_date: {
            label: 'A Date',
            type: 'date',
          },
          a_datetime: {
            label: 'A Datetime',
            type: 'datetime',
          },
          a_boolean: {
            label: 'A Boolean',
            type: 'boolean',
          },
          an_enum: {
            label: 'An Enum',
            type: 'select',
            // FIXME how does the client knows these are the valid values?
            options: ['one', 'two', 'three'].map((e) => ({
              value: e,
              label: e,
            })),
          },
          photos: {
            label: 'Photos',
            type: 'photo', // FIXME what do we use here?
          },
          some_json: {
            label: 'Some JSON',
            // FIXME how do we deal with this? Does the client infer the schema?
          },
        },
      },
      selectedApiRequestExample: undefined,
      text: undefined,
      textNonBulk: null,
      statusMessage: '',
      nonBulkProtocols: [
        {
          label: 'Opportunistic Observations',
          value: 'opportunistic-observation',
        },
      ],
      selectedNonBulk: null,
      clearDexieLoading: false,
      initDexieLoading: false,
      uploadCollectionsProtId: null,
      uploadCollectionsData: null,
      uploadCollectionsPlotLayoutContext: null,
      uploadCollectionsPlotVisitContext: null,
      uploadPublicationQueueData: null,
      localVoices: null,
      storageQuota: 0,
      storageUsage: 0,
      devToolsPopup: false,
      devToolsPassword: null,
      enableDevTools: false,
      historicalDataSummary: {
        pagination: {
          rowsPerPage: 20,
        },
        responsesLoading: false,
        submitResponsesLoading: false,
        responses: null,
        submitResponses: null,
      }
    }
  },
  setup() {
    const authStore = useAuthStore()
    const apiModelsStore = useApiModelsStore()
    const documentationStore = useDocumentationStore()
    const ephemeralStore = useEphemeralStore()
    const bulkStore = useBulkStore()
    const dataManager = useDataManagerStore()
    return {
      authStore,
      apiModelsStore,
      documentationStore,
      ephemeralStore,
      bulkStore,
      dataManager,
    }
  },
  computed: {
    staticResourceStatus() {
      const resourceNames = useAuthStore().staticResourceNames
      const status = {}
      for (const [assetType, assetLocations] of Object.entries(resourceNames)) {
        Object.assign(status, {
          [assetType]: {},
        })
        for (const location of assetLocations || []) {
          const resourceStatus = getCookie(location.Key)
          Object.assign(status[assetType], {
            [location.Key]: isEmpty(resourceStatus) ? 'none' : resourceStatus,
          })
        }
      }

      return status
    },
    projAndProtStr() {
      return JSON.stringify(this.authStore.projAndProt, null, 2)
    },
    localStorageUsage() {
      return getLocalStorageUsage()
    },
  },
  watch: {
    selectedApiRequestExample: {
      handler(value) {
        this.text = value.value
      },
    },
  },
  mounted() {
    this.getLocalVoiceService()
    this.showEstimatedQuota()
  },
  methods: {
    async getHistoricalDataSummary() {
      try {
        this.historicalDataSummary.submitResponsesLoading = true
        const submitResponsesData = await historicalDataManagerDb.getTableSummary({
          table: 'submitResponses',
        })
        console.log('submitResponsesData:', submitResponsesData)
        this.historicalDataSummary.submitResponses = submitResponsesData
      } catch (err) {
        let msg = 'Failed to get submit responses data'
        paratooWarnHandler(
          msg,
          err,
        )
        notifyHandler(
          'warning',
          msg,
        )
      } finally {
        this.historicalDataSummary.submitResponsesLoading = false
      }

      try {
        this.historicalDataSummary.responsesLoading = true
        const responsesData = await historicalDataManagerDb.getTableSummary({
          table: 'responses',
        })
        this.historicalDataSummary.responses = responsesData
      } catch (err) {
        let msg = 'Failed to get responses data'
        paratooWarnHandler(
          msg,
          err,
        )
        notifyHandler(
          'warning',
          msg,
        )
      } finally {
        this.historicalDataSummary.responsesLoading = false
      }
    },
    downloadHistoricalData() {
      const downloadData = {}
      Dialog.create({
        title: 'What data should we download?',
        message: 'Select at least one',
        options: {
          type: 'checkbox',
          items: [
            {
              label: 'Responses',
              value: 'responses',
            },
            {
              label: 'Submit responses',
              value: 'submitResponses',
            },
          ],
          model: ['submitResponses'],
          isValid: model => model?.length > 0,
        },
      })
        .onOk(async (selected) => {
          Loading.show()
          for (const table of selected) {
            try {
              Object.assign(downloadData, {
                [table]: await historicalDataManagerDb.getAllTableData({
                  table,
                })
              })
            } catch (err) {
              let msg = `Failed to retrieve historical data for table ${table}`
              paratooWarnHandler(
                msg,
                err,
              )
              notifyHandler(
                'warning',
                msg,
              )
            } finally {
              Loading.hide()
            }
          }

          if (!isEmpty(downloadData)) {
            try {
              downloadFile(
                new Blob([JSON.stringify(downloadData)], { type: 'application/json' }),
                'json',
                `historical_data_${Date.now().toString()}`,
              )
            } catch (err) {
              let msg = 'Failed to download historical data'
              paratooWarnHandler(
                msg,
                err,
              )
              notifyHandler(
                'warning',
                msg,
              )
            }
          } else {
            notifyHandler(
              'warning',
              'No data to download',
            )
          }
        })
    },
    async downloadApiModelsStore() {
      try {
        const documentation = await this.documentationStore.getDocumentation()
        const storeData = cloneDeep(JSON.stringify({
          models: this.apiModelsStore.models,
          modelsIdMap: this.apiModelsStore.modelsIdMap,
          protocolModels: this.apiModelsStore.protocolModels,
          documentation
        }))
        let buildStr = `build=${constants.deployment}-version=${constants.paratooWebAppBuildVersion}-git_hash=${constants.buildGitHash}`
        downloadFile(
          new Blob([storeData], { type: 'text/plain' }),
          'json',
          `modelData-${new Date().valueOf()}-${buildStr}.json`,
        )
      } catch (err) {
        let msg = 'Unable to download model data'
        paratooWarnHandler(msg, err)
        notifyHandler('negative', msg)
      }
    },
    handleEnableDevTools() {
      if (this.enableDevTools) {
        this.devToolsPopup = false
        this.enableDevTools = false
        notifyHandler('positive', 'Dev tools disabled')
      } else {
        this.devToolsPopup = true
      }
    },
    async downLoadAllFilesInBinaryStore() {
        const files = await binary.getAllBinaryFilesInCollection()
        if(!files.length) {
          notifyHandler('info', 'No files found')
          return
        }
        files.forEach((file) => {
          const fileName = file.data.name || file.id
          const extension = file.data.type?.split('/')[1] || ''
          downloadFile(file.data, extension, fileName)
        })
    },
    validateDevToolsPassword() {
      if (this.devToolsPassword === constants.devToolsPassword) {
        this.devToolsPopup = false
        this.enableDevTools = true
        notifyHandler('positive', 'Dev tools enabled')
      } else {
        notifyHandler('negative', 'Incorrect password')
      }
    },
    async showEstimatedQuota() {
      const estimation = await showEstimatedQuota()
      if (estimation) {
        this.storageQuota = estimation.quota / 1024 ** 2 // mb
        this.storageUsage = estimation.usage / 1024 ** 2 // mb
      }
    },

    clearPublicationQueueMeta() {
      for (const key of [
        'errors',
        'publicationQueueBackup',
        'responses',
        'skips',
        'submitResponses',
      ]) {
        this.dataManager[key] = []
      }

      this.dataManager.queueSubmissionProgress = null
    },
    clearPublicationQueue() {
      this.dataManager.publicationQueue = []
    },
    uploadToPublicationQueue() {
      this.dataManager.publicationQueue = JSON.parse(
        this.uploadPublicationQueueData,
      )
    },
    setPlotContext() {
      console.log(this.uploadCollectionsPlotLayoutContext)
      console.log(this.uploadCollectionsPlotVisitContext)
      this.bulkStore.setStaticPlotLayout({
        id: this.uploadCollectionsPlotLayoutContext.value,
      })
      this.bulkStore.setStaticPlotVisit({
        id: this.uploadCollectionsPlotVisitContext.value,
        plot_layout: this.uploadCollectionsPlotLayoutContext.value,
      })
    },
    //wrapper for lodash function
    isEmpty(val) {
      return isEmpty(val)
    },
    uploadToBulkStore() {
      this.bulkStore.collections[this.uploadCollectionsProtId] = JSON.parse(
        this.uploadCollectionsData,
      )
    },
    async clearDexie() {
      this.clearDexieLoading = true
      console.log('Clearing Dexie...')
      dexieDB
        .delete()
        .then(() => {
          notifyHandler('positive', 'Successfully cleared DexieDB')
        })
        .catch((err) => {
          notifyHandler('negative', 'Failed to clear DexieDB', err)
        })
        .finally(() => {
          this.clearDexieLoading = false
        })
    },
    getLocalVoiceService() {
      speechSynthesis.getVoices()
      setTimeout(() => {
        this.localVoices = speechSynthesis
          .getVoices()
          .filter((i) => i.localService)
          .map(({ name }) => name)
      }, 2000)
    },
    async initDexie() {
      console.log('Initialising Dexie...')
      this.initDexieLoading = true
      await dexieDB.open()
      this.apiModelsStore
        .populateDexie({}, { root: true })
        .then(() => {
          this.ephemeralStore.setDexieDbIsLoading(false)
          notifyHandler('positive', 'Successfully initialised DexieDB')
        })
        .catch((reason) => {
          this.ephemeralStore.setDexieDbIsLoading(false)
          notifyHandler('negative', 'Failed to initialise DexieDB', reason)
        })
        .finally(() => {
          this.initDexieLoading = false
        })
    },
    availablePlots() {
      let locations = []
      for (let plot in this.apiModelsStore.models['plot-layout']) {
        locations.push({
          label:
            this.apiModelsStore.models['plot-layout'][plot]['plot_selection'][
              'plot_label'
            ],
          value: this.apiModelsStore.models['plot-layout'][plot].id,
        })
      }
      return locations
    },
    availableVisits() {
      let visits = []
      if (this.uploadCollectionsPlotLayoutContext) {
        for (let visit in this.apiModelsStore.models['plot-visit']) {
          if (
            this.apiModelsStore.models['plot-visit'][visit].plot_layout.id ===
            this.uploadCollectionsPlotLayoutContext.value
          ) {
            visits.push({
              label: `${this.apiModelsStore.models['plot-visit'][visit].start_date} (${this.apiModelsStore.models['plot-visit'][visit].visit_field_name})`,
              value: this.apiModelsStore.models['plot-visit'][visit].id,
            })
          }
        }
      }

      return visits
    },
    async getProjectsAndProtocols() {
      await this.authStore.refreshProjectsAndProtocols()
    },
    makeExampleOptions() {
      let examples = []
      for (const example in apiRequestExamples) {
        examples.push({
          label: example,
          value: JSON.stringify(apiRequestExamples[example]),
        })
      }
      return examples
    },
    handleConvert(nonBulk = false) {
      this.statusMessage = 'Pending conversion ... '
      if (nonBulk) {
        if (this.convert(this.textNonBulk, nonBulk)) {
          this.statusMessage = 'Conversion successful, see console for output'
        } else {
          this.statusMessage = 'Failed to convert'
        }
      } else {
        if (this.convert(this.text)) {
          this.statusMessage = 'Conversion successful, see console for output'
        } else {
          this.statusMessage = 'Failed to convert'
        }
      }
    },
    /**
     * Converts an API request's JSON (e.g., from Postman or the `network` tab) to data
     * that is compatible with Strapi initial data
     *
     * TODO refactor code - break out anything repetitive, etc.
     * TODO single child ob LUTs (there are no protocols with this, so will need to make
     *      some dummy data - modify an existing protocol request with one)
     * TODO handle when new location/layout/visit
     *
     * @param {String} json_str JSON object that has been stringified by the textarea
     * @param {Boolean} nonBulk indicates if the request data is for a non-bulk request
     * @returns {Boolean} true if successful
     */
    async convert(json_str, nonBulk = false) {
      const json = JSON.parse(json_str)
      let newJSON = []
      const doc = await this.documentationStore.getDocumentation()

      if (nonBulk) {
        const schemaFull =
          doc.components.schemas[
            modelNameToSchemaName(this.selectedNonBulk.value)
          ].properties.data.properties
        //remove stuff like `createdBy`
        let schema = {}
        for (const schemaItem in schemaFull) {
          if (
            Object.keys(schemaFull[schemaItem]).includes('x-model-ref') &&
            schemaFull[schemaItem]['x-model-ref'].includes('admin')
          ) {
            continue
          }
          schema[schemaItem] = schemaFull[schemaItem]
        }

        for (const schemaItem in schema) {
          if (Object.keys(schema[schemaItem]).includes('x-lut-ref')) {
            console.log(`${schemaItem} '${json.data[schemaItem]}' is LUT`)
            newJSON.push(
              json.data[schemaItem] !== undefined
                ? this.apiModelsStore.models[
                    schema[schemaItem]['x-lut-ref']
                  ].find((o) => o.symbol === json.data[schemaItem]).id
                : null,
            )
          } else if (
            schema[schemaItem].type === 'array' &&
            Object.keys(schema[schemaItem].items).includes(
              'x-paratoo-component',
            )
          ) {
            const componentArr = []
            for (const componentItem of json.data[schemaItem]) {
              let currComponentItem = {}
              for (const componentSchemaItem in schema[schemaItem].items
                .properties) {
                if (
                  Object.keys(
                    schema[schemaItem].items.properties[componentSchemaItem],
                  ).includes('x-lut-ref')
                ) {
                  currComponentItem[componentSchemaItem] =
                    componentItem[componentSchemaItem] !== undefined
                      ? this.apiModelsStore.models[
                          schema[schemaItem].items.properties[
                            componentSchemaItem
                          ]['x-lut-ref']
                        ].find(
                          (o) =>
                            o.symbol === componentItem[componentSchemaItem],
                        ).id
                      : null
                } else {
                  currComponentItem[componentSchemaItem] =
                    componentItem[componentSchemaItem]
                }
              }
              componentArr.push(currComponentItem)
            }
            newJSON.push(componentArr)
          } else {
            newJSON.push(json.data[schemaItem])
          }
        }
        // for(const val of Object.values(json.data)) {
        //   console.log('val: ', val)
        // }
      } else {
        //Strapi relation IDs start at 1
        let currCollectionItemIndex = 1
        let multiChildObIndex = 1
        let singleChildObIndex = 1
        for (const collection of json.data.collections) {
          const currCollectionAcc = {}
          for (const item in collection) {
            //existing plot info for collection, don't need; also skip orgMintedIdentifier
            if (
              Object.keys(collection[item]).includes('id') ||
              item === 'orgMintedIdentifier'
            )
              continue

            //find schema for current, check in for the field's relation
            const currSchemaFull =
              doc.components.schemas[modelNameToSchemaName(item)].properties
                .data.properties
            //remove stuff like `createdBy`
            let currSchema = {}
            for (const schemaItem in currSchemaFull) {
              if (
                Object.keys(currSchemaFull[schemaItem]).includes(
                  'x-model-ref',
                ) &&
                currSchemaFull[schemaItem]['x-model-ref'].includes('admin')
              ) {
                continue
              }
              currSchema[schemaItem] = currSchemaFull[schemaItem]
            }

            const visitFieldName = (() => {
              for (const field in currSchema) {
                if (
                  Object.keys(currSchema[field]).includes('x-model-ref') &&
                  currSchema[field]['x-model-ref'] === 'plot-visit'
                ) {
                  return field
                }
              }
            })()

            //each is looping through `currSchema` as to get the ordering of the items
            if (Array.isArray(collection[item])) {
              //observation case
              currCollectionAcc['observations'] = []
              for (const ob of collection[item]) {
                const obAsArr = []
                for (const obField in currSchema) {
                  if (
                    currSchema[obField].type === 'array' &&
                    currSchema[obField].items.type === 'integer' &&
                    Object.keys(currSchema[obField].items).includes(
                      'x-model-ref',
                    ) &&
                    currSchema[obField].items['x-model-ref'] === 'file' &&
                    Array.isArray(ob.data[obField])
                  ) {
                    //multi photo/file case
                    obAsArr.push(ob.data[obField])
                  } else if (
                    currSchema[obField].type === 'integer' &&
                    Object.keys(currSchema[obField]).includes('x-model-ref') &&
                    currSchema[obField]['x-model-ref'] === 'file'
                  ) {
                    //single photo/file case
                    obAsArr.push(ob.data[obField])
                  } else if (
                    Object.keys(currSchema[obField]).includes('x-model-ref') &&
                    currSchema[obField]['x-model-ref'].includes('survey')
                  ) {
                    obAsArr.push(currCollectionItemIndex)
                  } else if (
                    currSchema[obField].type === 'array' &&
                    currSchema[obField].items.type === 'integer' &&
                    Object.keys(currSchema[obField].items).includes(
                      'x-model-ref',
                    ) &&
                    Array.isArray(ob.data[obField])
                  ) {
                    //multi child observation case
                    if (
                      !Object.keys(currCollectionAcc).includes(
                        'multi_child_observations',
                      ) &&
                      !Array.isArray(
                        currCollectionAcc['multi_child_observations'],
                      )
                    ) {
                      currCollectionAcc['multi_child_observations'] = []
                    }

                    //schema
                    const childObSchemaFull =
                      doc.components.schemas[
                        modelNameToSchemaName(
                          currSchema[obField].items['x-model-ref'],
                        )
                      ].properties.data.properties
                    //remove stuff like `createdBy`
                    let childObSchema = {}
                    for (const schemaItem in childObSchemaFull) {
                      if (
                        Object.keys(childObSchemaFull[schemaItem]).includes(
                          'x-model-ref',
                        ) &&
                        childObSchemaFull[schemaItem]['x-model-ref'].includes(
                          'admin',
                        )
                      ) {
                        continue
                      }
                      childObSchema[schemaItem] = childObSchemaFull[schemaItem]
                    }

                    const multiChildObIndexes = []
                    for (const childOb of ob.data[obField]) {
                      const childObAsArr = []
                      for (const childObField in childObSchema) {
                        if (
                          Object.keys(childObSchema[childObField]).includes(
                            'x-lut-ref',
                          )
                        ) {
                          childObAsArr.push(
                            childOb.data[childObField] !== undefined
                              ? this.apiModelsStore.models[
                                  childObSchema[childObField]['x-lut-ref']
                                ].find(
                                  (o) =>
                                    o.symbol === childOb.data[childObField],
                                ).id
                              : null,
                          )
                        } else {
                          childObAsArr.push(childOb.data[childObField])
                        }
                      }
                      multiChildObIndexes.push(multiChildObIndex)
                      multiChildObIndex++
                      currCollectionAcc['multi_child_observations'].push(
                        childObAsArr,
                      )
                    }
                    //also add this child ob's relation to the ob
                    obAsArr.push(
                      multiChildObIndexes !== undefined
                        ? multiChildObIndexes
                        : null,
                    )
                  } else if (
                    currSchema[obField].type === 'integer' &&
                    Object.keys(currSchema[obField]).includes('x-model-ref') &&
                    typeof ob.data[obField] === 'object'
                  ) {
                    //single child ob case
                    if (
                      !Object.keys(currCollectionAcc).includes(
                        'single_child_observations',
                      ) &&
                      !Array.isArray(
                        currCollectionAcc['single_child_observations'],
                      )
                    ) {
                      currCollectionAcc['single_child_observations'] = []
                    }
                    currCollectionAcc['single_child_observations'].push(
                      Object.values(ob.data[obField].data),
                    )
                    //also add this child ob's relation to the ob
                    obAsArr.push(singleChildObIndex)
                    singleChildObIndex++
                  } else if (
                    Object.keys(currSchema[obField]).includes('x-lut-ref')
                  ) {
                    console.log(`${obField} '${ob.data[obField]}' is LUT`)
                    obAsArr.push(
                      ob.data[obField] !== undefined
                        ? this.apiModelsStore.models[
                            currSchema[obField]['x-lut-ref']
                          ].find((o) => o.symbol === ob.data[obField]).id
                        : null,
                    )
                  } else {
                    obAsArr.push(
                      ob.data[obField] !== undefined ? ob.data[obField] : null,
                    )
                  }
                }
                currCollectionAcc['observations'].push(obAsArr)
              }
            } else if (
              !Array.isArray(collection[item]) &&
              item.includes('survey')
            ) {
              //survey case
              currCollectionAcc['survey'] = []
              for (const surveyField in currSchema) {
                if (surveyField === visitFieldName) {
                  //forcefully override plot visit, as the request doesn't put it directly
                  //  in the survey.
                  //assumes the visit is exiting, i.e., we've been provided an ID
                  currCollectionAcc['survey'].push(collection['plot-visit'].id)
                } else if (
                  collection[item].data[surveyField] &&
                  Object.keys(currSchema[surveyField]).includes('x-lut-ref')
                ) {
                  const resolvedLutId = this.apiModelsStore.models[
                    currSchema[surveyField]['x-lut-ref']
                  ].find(
                    (o) => o.symbol === collection[item].data[surveyField],
                  ).id
                  currCollectionAcc['survey'].push(resolvedLutId)
                } else {
                  currCollectionAcc['survey'].push(
                    collection[item].data[surveyField] !== undefined
                      ? collection[item].data[surveyField]
                      : null,
                  )
                }
              }
            } else {
              //some other misc model, e.g., weather observation
              currCollectionAcc['otherModel'] = []
              for (const otherField in currSchema) {
                if (
                  Object.keys(currSchema[otherField]).includes('x-model-ref') &&
                  currSchema[otherField]['x-model-ref'].includes('survey')
                ) {
                  currCollectionAcc['otherModel'].push(currCollectionItemIndex)
                } else if (
                  collection[item].data[otherField] &&
                  Object.keys(currSchema[otherField]).includes('x-lut-ref')
                ) {
                  const resolvedLutId = this.apiModelsStore.models[
                    currSchema[otherField]['x-lut-ref']
                  ].find(
                    (o) => o.symbol === collection[item].data[otherField],
                  ).id
                  currCollectionAcc['otherModel'].push(resolvedLutId)
                } else {
                  currCollectionAcc['otherModel'].push(
                    collection[item].data[otherField] !== undefined
                      ? collection[item].data[otherField]
                      : null,
                  )
                }
              }
            }
          }
          currCollectionItemIndex++
          newJSON.push(currCollectionAcc)
        }
      }

      console.info('newJSON: ', newJSON)
      console.info(
        'What you need to do: ',
        '\n1) Create `initialData` array in the model schema at the same level as `attributes`',
        '\n2) Pull out the relevant data from the `newJSON` array',
        '\n3) Paste this data directing into the `initialData` array',
        "\n4) Restart core with `--volumes`flag (hot reload isn't enough) and test the init data worked",
      )
      return true
    },
    getLocalStorageUsage
  },
}
</script>

<style lang="scss" scoped>
.constant-table {
  font-family: monospace;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .code,
  kbd,
  pre,
  samp {
    font-size: 1.5rem;
  }
  p {
    font-size: 2rem;
  }
  h6 {
    font-size: 2rem;
  }
  ul {
    font-size: 1.5rem;
  }
  .q-table tbody td {
    font-size: 1.5rem;
  }
  .q-table--horizontal-separator thead th {
    font-size: 1.5rem;
  }
}
</style>
