<!-- wrapper page for the GrassyWeedsExport component -->
<template>
  <Suspense>
    <GrassyWeedsExport/>
  </Suspense>
</template>

<script>
import GrassyWeedsExport from 'components/GrassyWeedsExport.vue'
import { useAuthStore } from '../stores/auth'

export default {
  name: 'GrassyWeedsExportPage',
  components: {
    GrassyWeedsExport,
  },
  setup() {
    const authStore = useAuthStore()

    return {
      authStore,
    }
  },
  data() {
    return {
      currentProtId: this.authStore.currentContext.protocol.id,
    }
  },
}
</script>