<template>
  <div
    class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center"
  >
    <div>
      <div style="font-size: 30vh">200</div>

      <div class="text-h2" style="opacity: 0.4">
        Paratoo/Monitor - Health Check passed
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'HealthCheck',
}
</script>
