<template>
  <q-page padding>
    <div class="row">
      <div class="size ms" style="width: 80%">
        <p>
          Welcome to {{appTitle}}, the field data collection app for the Ecological
          Monitoring System Australia.
        </p>
        <p>
          For more information please visit
          <a
            href="https://tern.org.au/emsa-protocols-manual"
            style="text-decoration: underline"
            >tern.org.au/emsa-protocols-manual</a
          >
          or email
          <span style="text-decoration: underline">tern@adelaide.edu.au</span>.
        </p>
      </div>
    </div>
  </q-page>
</template>
<script>
import * as cc from '../misc/constants'
export default {
  name: 'Index',
  data() {
    return {
      appTitle: cc.appTitle
    }
  }
}
</script>
<style scoped>
/* Define the @font-face rule with the correct format */
@font-face {
  font-family: 'ms';
  src: url('../assets/font/FontsFree-Net-Museo-Sans3.ttf') format('truetype'); /* Use 'truetype' format for .ttf files */
}

/* Apply the font-family to the .ms class */
.ms {
  font-family: 'ms', sans-serif;
  font-size: 1.5rem;
}

/* ... rest of your CSS */

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .size {
    font-size: 1.5rem;
  }
}
</style>
