<template>
  <div
    data-cy="loadingApp"
    style="height: 100vh"
    class="column items-center justify-center"
  >
    <q-img
      fit
      no-spinner
      fetchpriority="high"
      src="../assets/monitor.png"
      style="height: auto; max-width: 50%"
    />
    <h4 style="text-align: center">Initialising app...</h4>
    <q-linear-progress
      indeterminate
      style="max-width: 80%"
    />
  </div>
</template>

<script>
import {
  paratooSentryBreadcrumbMessage,
  paratooWarnMessage,
} from '../misc/helpers'
import {
  dexiePersistPlugin,
} from '../stores/persist'

export default {
  name: 'Loading',
  mounted() {
    setTimeout(() => {
      if (!this.allStoresHydrated) {
        paratooWarnMessage(`Loading page has been hanging for some time, will kick it again. Hydration status: ${JSON.stringify(this.storeHydrated)}`)
        window.location.reload()
      }
    }, 60000)

    this.prevRoute = this.$route?.query?.prevRoute
    if (!this.prevRoute) {
      paratooWarnMessage(`Loading page provided with null/undefined previous route to direct back to. Will fallback to root route`)
      this.prevRoute = '/'
    }
    for (const store of dexiePersistPlugin.stores) {
      window.addEventListener(`${store}HasHydrated-localstorage-changed`, (event) => {
        paratooSentryBreadcrumbMessage(
          `Got hydration event for ${store}: ${event.detail.storage}`,
        )
        if (event.detail.storage == 'true') {
          this.storeHydrated[store] = true
        }
      })
    }
    
  },
  computed: {
    allStoresHydrated() {
      let allHydrated = true
      for (const hasHydrated of Object.values(this.storeHydrated)) {
        if (!hasHydrated) {
          allHydrated = false
        }
      }
      if (allHydrated) {
        paratooSentryBreadcrumbMessage('All stores hydrated - app can mount')
      }
      return allHydrated
    },
  },
  data() {
    const hydrateObj = {}
    for (const store of dexiePersistPlugin.stores) {
      Object.assign(hydrateObj, {
        [store]: false,
      })
    }
    return {
      storeHydrated: hydrateObj,
      prevRoute: null,
    }
  },
  watch: {
    allStoresHydrated: {
      handler(newVal) {
        if (newVal === true) {
          paratooSentryBreadcrumbMessage(`All stores hydrated - redirecting back to ${this.prevRoute}`)
          this.$router.replace(this.prevRoute)
        }
      },
      immediate: true,
    },
  },
}
</script>