<!-- TODO: JSDoc and comments -->

<template>
  <q-layout>
    <q-page-container>
      <q-page
        padding
        class="bgImg row justify-center items-center q-pb-xl"
        :style="bgUrl"
      >
        <div>
          <div style="opacity: 80%">
            <!-- <div class="flex justify-center">
              <q-img
                fit
                src="../assets/monitor.png"
                spinner-color="white"
                style="height: auto; max-width: 100px"
              />
            </div> -->
            <div>
              <q-form class="q-gutter-lg q-px-md" @submit="onSubmit" @reset="onReset">
                <div class="monitor row justify-center">
                  <div v-if="pwa">{{ appTitle }} PWA</div>
                  <div v-else>
                    {{ appTitle }}
                  </div>
                </div>
                <p v-if="isiOS && !pwa">
                  To install PWA app, please click the bottom middle button and
                  Add to Home Screen.
                </p>
                <q-input
                  rounded
                  v-if="!enableOIDC"
                  class="input"
                  standout
                  v-model="usernameOrEmail"
                  label="Username or Email"
                  data-cy="loginUsername"
                  dark
                >
                  <template v-slot:prepend>
                    <q-icon name="person_outline"></q-icon>
                  </template>
                  <template v-slot:append>
                    <q-icon
                      name="close"
                      @click="usernameOrEmail = ''"
                      class="cursor-pointer"
                    ></q-icon> </template
                ></q-input>
                <q-input
                  :type="isPwd ? 'password' : 'text'"
                  rounded
                  v-if="!enableOIDC"
                  class="input"
                  standout
                  v-model="password"
                  label="Password"
                  dark
                  data-cy="loginPassword"
                >
                  <template v-slot:prepend>
                    <q-icon name="lock"></q-icon>
                  </template>

                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                    <q-icon
                      name="close"
                      @click="password = ''"
                      class="cursor-pointer"
                    ></q-icon> </template
                ></q-input>

                <div
                  v-if="webAuthnIsAllowed"
                  :style="webAuthnLoginDiv"
                  class="q-pl-sm"
                >
                  Login with alternate authentication method:
                  <q-btn
                    flat
                    color="primary"
                    label="Alternate Login"
                    @click="loginWebAuthn()"
                  />
                </div>
                <div class="q-pl-sm padding">
                  <div v-if="!enableOIDC" style="color: white">
                    No account? Please approach your program manager to obtain
                    an account
                    <!-- FIXME pass redirect param to register -->
                  </div>
                  <div v-else>Log in with {{ OIDCClient }}</div>
                </div>
                <div
                  class="flex justify-center items-center content-center q-pb-md"
                >
                  <q-btn
                    class="btn"
                    label="Login"
                    type="submit"
                    color="primary"
                    data-cy="loginSubmit"
                    @click="loading()"
                  />
                  <q-btn
                    v-if="!enableOIDC"
                    label="Reset"
                    type="reset"
                    color="white"
                    flat
                    class="q-ml-sm btn"
                  />
                </div>
                <div class="row justify-center">
                  <q-btn
                    id="install"
                    v-if="deferredPrompt !== null"
                    outline
                    label="Install PWA APP"
                    class="q-ml-sm btn"
                    @click="installPwa()"
                  />
                  <q-btn
                    v-if="!pwa && isAndroid && deferredPrompt == null"
                    outline
                    label="Open PWA"
                    @click="openPwa"
                  />
                </div>
              </q-form>
            </div>
            <!-- </q-card-section>
            </q-card> -->
            <br />
            <q-linear-progress
              data-cy="login-loading"
              v-if="isLoading"
              indeterminate
            />
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { paratooErrorHandler, notifyHandler } from 'src/misc/helpers'
import * as Sentry from '@sentry/vue'
import { useAuthStore } from '../stores/auth'
import { useEphemeralStore } from '../stores/ephemeral'
import { useApiModelsStore } from '../stores/apiModels'
import { useDocumentationStore } from '../stores/documentation'
import * as c from 'src/misc/constants'
import { getCookie, paratooSentryBreadcrumbMessage, updateBgImage } from '../misc/helpers'
import { ref } from 'vue'
export default {
  name: 'Login',
  setup() {
    const authStore = useAuthStore()
    const ephemeralStore = useEphemeralStore()
    const documentationStore = useDocumentationStore()

    return { authStore, ephemeralStore, documentationStore, isPwd: ref(true) }
  },
  data() {
    return {
      isiOS: /iPad|iPhone|iPod/.test(navigator.userAgent),
      deferredPrompt: null,
      isLoading: false,
      usernameOrEmail: null,
      password: null,
      webAuthnIsAllowed: c.webAuthnIsAllowed,
      pwa: window.matchMedia('(display-mode: standalone)').matches,
      // if oidc is enabled, we dont need user/pass to log in
      enableOIDC: c.enableOIDC,
      OIDCClient: c.OIDCClient,
      appTitle: c.appTitle,
      isAndroid: /android/.test(navigator.userAgent.toLowerCase()),
    }
  },
  computed: {
    bgUrl() {
      const requireContext = require.context(
        '../assets/LoginBgImg/',
        false,
        /.jpg$/,
      )
      const keys = requireContext.keys()
      const findIndex = './' + getCookie('loginBgImg') + '.jpg'
      const found = keys.indexOf(findIndex)
      if (found < 0) {
        const imgPath = keys[keys.indexOf('./default.jpg')]
        const img = requireContext(imgPath)
        return {
          // backgroundImage: 'url(' + img + ')',
          backgroundImage:
            'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' +
            img +
            ')',
          height: '91vh',
        }
      } else {
        const imgPath = keys[found]
        const img = requireContext(imgPath)
        return {
          // backgroundImage: 'url(' + img + ')',
          backgroundImage:
            'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' +
            img +
            ')',
          height: '91vh',
        }
      }
    },
    webAuthnLoginDiv() {
      if (typeof PublicKeyCredential == 'undefined') {
        return 'display: none'
      } else {
        return 'display: block'
      }
    },
  },
  async mounted() {
    if (this.authStore?.token) {
      paratooSentryBreadcrumbMessage('Already logged in')
      this.$router.replace('/projects')
    }
    // lazy load bg image using current geo location
    updateBgImage()
      .then(() => {})
      .catch((reason) => {
        console.log(`Field to load background image, reason is: ${reason}`)
      })
    // const isiOS = /iPad|iPhone|iPod/.test(navigator.userAgent)
    // Check for iPadOS (since iPadOS userAgent can be tricky, using the navigator.platform property)
    if (!this.isiOS) {
      // Initialize deferredPrompt for use later to show browser install prompt.
      window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent the mini-infobar from appearing on mobile
        e.preventDefault()
        // Stash the event so it can be triggered later.
        this.deferredPrompt = e
      })
    }
  },
  methods: {
    openPwa() {
      window.open(window.location.href, '_blank')
    },
    async installPwa() {
      if (this.deferredPrompt) {
        // Show the install prompt to the user
        await this.deferredPrompt.prompt()
        // Wait for the user to respond to the prompt
        const { outcome } = await this.deferredPrompt.userChoice
        // Update the state based on user's choice
        if (outcome === 'accepted') {
          this.pwaInstalled = true // Mark PWA as installed
        }
        this.deferredPrompt = null
        return
      }
    },
    loading() {
      // Loading Bar Start
      this.isLoading = true
    },
    async onSubmit() {
      const resp = await this.authStore
        .doLogin({
          usernameOrEmail: this.usernameOrEmail,
          password: this.password,
        })
        .catch((err) => {
          let msg = `Failed to login. ${err?.body?.error?.message || 'Unknown error'}`
          paratooErrorHandler(
            msg,
            err,
          )
          // Loading Bar Stopped
          this.isLoading = false

          //if any step of `doLogin()` throws an error, we need to clear the partial
          //login details
          this.authStore.doLogout()

          notifyHandler('negative', msg)
          return
        })
      if (!resp) {
        this.isLoading = false
        return
      }

      const msg = !resp.oidc ? 'Success. Login complete' : resp.oidc
      notifyHandler('positive', msg)
      this.ephemeralStore.isLogin(true)
      Sentry.setUser({ username: this.usernameOrEmail })
      const redirectTarget = this.$route.query.redirect
      if (redirectTarget) {
        this.$router.replace(redirectTarget)
        return
      }
      this.$router.replace('/projects')

      // process species lists if no dexieDb.
      useApiModelsStore()
        .processStaticAssets(c.resourceTypes.SPECIES_LIST)
        .catch((reason) => {
          console.log(`Field to process dexieDB, reason is: ${reason}`)
        })

      useApiModelsStore()
      .processStaticAssets(c.resourceTypes.GCMD_EARTH_SCIENCE_KEYWORDS)
      .catch((reason) => {
        console.log(`Field to process dexieDB, reason is: ${reason}`)
      })

      useApiModelsStore()
      .processStaticAssets(c.resourceTypes.ANZSRC_FIELDS_OF_RESEARCH)
      .catch((reason) => {
        console.log(`Field to process dexieDB, reason is: ${reason}`)
      })
    },
    onReset() {
      this.usernameOrEmail = null
      this.password = null
      Sentry.setUser({ username: 'undefined - was cleared' })
    },
    async loginWebAuthn() {
      if (!this.usernameOrEmail) {
        notifyHandler('warning', 'Please provide a username')
      } else if (!decodeURIComponent(document.cookie).split('=')[1]) {
        notifyHandler(
          'warning',
          'This device is not registered for the provided user',
        )
      } else {
        //login with WebAuthn
        await this.authStore
          .loginAltAuth({
            usernameOrEmail: this.usernameOrEmail,
          })
          .then((resp) => {
            notifyHandler('positive', 'Success. ' + resp)
            Sentry.setUser({ username: this.usernameOrEmail })
            this.$router.replace('/')
          })
          .catch((err) => {
            const msg = 'There was an issue logging in.'
            notifyHandler('negative', msg, err)
            paratooErrorHandler(msg, err)
          })
      }
    },
  },
}
</script>

<style scoped>
 .q-page {
    min-height: 0 !important;
  }
.bgImg {
  background-size: auto auto;
  background-position: center;
}
.login {
  font-size: 2rem;
  /* font-family: */
}
.monitor {
  /* font-family: 'Arial Black', sans-serif; */
  letter-spacing: 4px;
  font-weight: 500;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .q-page {
    min-height: 0 !important;
  }
  /* styles for devices with a pixel ratio of 1.5 */
  .login {
    font-size: 3rem;
  }
  .btn {
    font-size: 1.2rem;
  }
  .loginWindow {
    width: 60%;
    height: 35vh;
    margin-top: -5rem;
  }
  .padding {
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
  }
  .input {
    padding-bottom: 1rem;
  }
}
</style>
