<template>
  <div class="q-mx-md">
    <div class="q-mt-lg column">
      <h6>General</h6>
      <q-toggle
        size="xl"
        color="secondary"
        label="Toggle Dark Mode"
        :icon="darkMode ? 'dark_mode' : 'light_mode'"
        v-model="darkMode"
      />
      <q-toggle
        size="xl"
        color="secondary"
        label="Show LUTs description"
        v-model="ephemeralStore.showLUTDesc"
      />
    </div>
    <div>
      <h6>Permissions</h6>
      <Suspense>
        <Permissions/>
      </Suspense>
    </div>
    <div>
      <h6>Audio</h6>
      <q-toggle
        size="xl"
        color="secondary"
        label="Vibrate Mode"
        v-model="ephemeralStore.vibrate"
      />
      <q-select
        v-if="hasGrassyWeedsProtocol"
        class="q-ml-lg q-mt-md row justify-left"
        style="width: 50%"
        filled
        v-model="selectedAudio"
        :options="audioOptions"
        color="secondary"
        :disable="ephemeralStore.vibrate"
        emit-value
        map-options
        label="Audio"
        @filter="filterAudios"
      >
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">No audio found</q-item-section>
          </q-item>
        </template>
      </q-select>
    </div>
  </div>
</template>

<script>
import { useEphemeralStore } from '../stores/ephemeral'
import { useAuthStore } from '../stores/auth'
import { useApiModelsStore } from '../stores/apiModels'
import {
  notifyHandler,
} from '../misc/helpers'
import Permissions from '../components/Permissions.vue'

export default {
  components: {
    Permissions,
  },
  setup() {
    const ephemeralStore = useEphemeralStore()
    const authStore = useAuthStore()
    const apiModelsStore = useApiModelsStore()

    return { ephemeralStore, authStore, apiModelsStore }
  },
  watch: {
    darkMode() {
      this.$q.dark.toggle()
    },
    'ephemeralStore.vibrate'(val) {
      if (val) {
        if ('vibrate' in navigator) {
          // Vibrate for 200ms
          navigator.vibrate(200)
        } else {
          notifyHandler('warning', 'Vibration not supported on this device')
        }
      }
    },
    selectedAudio(val) {
      this.ephemeralStore.beepAudio = val
      this.index = this.audioOptions.findIndex((o) => val.includes(o.label))
      this.ephemeralStore.beepAudioRoute = this.audioPaths[this.index]
      const audio = new Audio(this.ephemeralStore.beepAudioRoute)
      audio.play()
    },
  },
  data() {
    const hasGrassyWeedsProtocol = this.authStore.allAssignedProtocols.some(
      (o) => this.apiModelsStore.protUuidFromId(o),
    )
    return {
      darkMode: this.$q.dark.mode,
      selectedAudio:
        this.ephemeralStore.beepAudio ||
        this.ephemeralStore.beepAudioRoute
          ?.substring(this.ephemeralStore.beepAudioRoute?.lastIndexOf('/') + 1)
          .split('.')[0] + this.ephemeralStore.beepAudioRoute?.slice(-4),
      audioOptions: [],
      index: null,
      audioPaths: [],
      hasGrassyWeedsProtocol,
    }
  },
  methods: {
    loadAudios() {
      const context = require.context('../assets/BeepAudios', false, /\.mp3$/)
      const files = context.keys()
      this.audioPaths = files.map((o) => context(o))
      this.audioOptions = files
        .map((file) => ({
          label: file.split('/').pop(),
          value: file,
        }))
        .concat('mute')
    },
    filterAudios(val, update) {
      if (val.trim() === '') {
        update(() => {
          this.loadAudios()
        })
        return
      }

      const filteredOptions = this.audioOptions.filter((option) => {
        return option.label.toLowerCase().indexOf(val.toLowerCase()) !== -1
      })
      update(() => {
        this.audioOptions = filteredOptions
      })
    },
  },
}
</script>

<style scoped>
h6 {
  margin: 1em 0 0.5em 0;
}
</style>