<!-- TODO: JSDoc and comments -->
<template>
  <q-page padding>
    <h5 class="q-ma-md">Your profile</h5>
    <div class="q-pa-md">
      <q-markup-table wrap-cells>
        <tbody>
          <tr v-for="dRow in dataRows" :key="dRow.name">
            <td>{{ dRow.name }}</td>
            <td>{{ dRow.value }}</td>
          </tr>
        </tbody>
      </q-markup-table>
      <q-btn
        v-if="webAuthnIsAllowed"
        color="primary"
        class="p-pa-md"
        :label="webAuthnButtonLabel"
        @click="authStore.webAuthnStatus ? (confirm = true) : decideWebAuthn()"
      />
    </div>

    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm"
            >Are you sure? This will remove THIS DEVICE ONLY from your list of
            registered devices.
          </span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn v-close-popup icon="close" color="primary"></q-btn>
          <q-btn
            v-close-popup
            icon="done"
            color="primary"
            @click="decideWebAuthn"
          ></q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <div v-if="totalPages > 0" class="q-pa-md">
      <div class="q-pb-lg text-h5">Summary of Collected Data</div>
      <!-- TODO: filter all collections by entering protocolInfo name. Now is just the current page's collections -->
      <!-- <q-select
        v-model="model"
        label="Search collection(s)"
        :options="options"
        use-input
        input-debounce="0"
        class="q-mb-md"
        @filter="filterFn"
        clearable
      ></q-select> -->

      <!-- <div v-if="model">sadasdad</div>
      <div v-else> -->
      <div v-for="(content, index) in summaries" :key="content">
        <div v-for="summary in content" :key="summary">
          <q-list bordered v-if="typeof summary === 'object'">
            <q-expansion-item
              group="group"
              v-model="expand[index]"
              expand-separator
              :header-style="
                content.data.length === 0 ||
                this.failedProtocols.some(
                  (o) => o.orgMintedUUID === content.orgMintedUUID,
                )
                  ? 'color: red;'
                  : ''
              "
              :label="expansionItemLabel(content, index)"
              style="white-space: pre-line"
              :caption="getPlotAndTimeInfo(summary)"
            >
              <q-card>
                <q-card-section v-if="summary.length > 0">
                  <Summary :summary="summary" />
                </q-card-section>
                <q-card-section v-else> Empty data </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>
      <!-- </div> -->
      <q-pagination
        color="secondary"
        v-model="currentPage"
        :max="totalPages"
        boundary-numbers
        input
        class="row justify-center"
      />
    </div>
  </q-page>
</template>

<script>
import {
  notifyHandler,
  paratooErrorHandler,
  makeModelConfig,
  schemaFromModelName,
  paratooWarnMessage,
} from 'src/misc/helpers'
import { useAuthStore } from '../stores/auth'
import { useBulkStore } from '../stores/bulk'
import { useEphemeralStore } from '../stores/ephemeral'
import * as c from 'src/misc/constants'
import { doCoreApiPost } from 'src/misc/api'
import { doOrgApiGet, doCoreApiGet } from 'src/misc/api'
import { useDocumentationStore } from '../stores/documentation'
import { useApiModelsStore } from '../stores/apiModels'
import Summary from 'src/components/Summary.vue'
import { savePostCache, getAllPostCache } from '../../src-pwa/dexieDb/post-cache'

export default {
  components: {
    Summary,
  },
  name: 'Profile',
  data() {
    return {
      userHistoricalCollections: null,
      documentation: null,
      currentPage: 1,
      perPage: 5,
      confirm: false,
      previousCollecData: [],
      webAuthnIsAllowed: c.webAuthnIsAllowed,
      totalLength: null,
      summaries: [],
      model: null,
      stringOptions: [],
      options: [],
      failedProtocols: [],
      allPostCache: [],
      reoderCachedData: null,
      selectedCollectionCurrentPage: null,
      duplicated: [],
      hasBothSurveys: null,
      expand: [],
    }
  },
  setup() {
    const authStore = useAuthStore()
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()
    const documentationStore = useDocumentationStore()
    const apiModelsStore = useApiModelsStore()
    return {
      apiModelsStore,
      documentationStore,
      authStore,
      bulkStore,
      ephemeralStore,
    }
  },
  async created() {
    this.documentation = await this.documentationStore.getDocumentation()
    this.userHistoricalCollections = await doOrgApiGet({
      urlSuffix: c.orgCustomApiPrefix + '/get-all-collections',
    }).catch((e) => {
      notifyHandler(`Failed to get all collections, `, e)
    })

    await this.paginatedSummaries()
  },
  watch: {
    async currentPage(newVal) {
      this.model = null
      this.expand =
        this.selectedCollectionCurrentPage !== this.currentPage
          ? []
          : this.expand
      await this.paginatedSummaries()
    },
  },
  computed: {
    totalPages() {
      return Math.ceil(
        this.userHistoricalCollections?.collections.length / this.perPage,
      )
      // return this.model
      //   ? 5
      //   : Math.ceil(
      //       this.userHistoricalCollections.collections.length / this.perPage,
      //     )
    },
    expanded() {
      return new Array(this.perPage).fill(false)
    },
    dataRows() {
      const mappedProjects = this.authStore.projects
        .map((p) => {
          return ` ${p.name}` //adds space between each item
        })
        .toString()
      let data = [
        {
          name: 'Username',
          value: this.authStore.username,
        },
        {
          name: 'Email',
          value: this.authStore.email,
        },
        {
          name: 'Role',
          value: this.authStore.role || 'User',
        },
        {
          name: 'Projects',
          value: mappedProjects || 'None',
        },
      ]
      if (this.webAuthnIsAllowed) {
        data.push({
          name: 'WebAuthn',
          value: this.authStore.webAuthnStatus,
        })
      }
      return data
    },
    webAuthnButtonLabel() {
      if (this.authStore.webAuthnStatus) {
        return 'Disable Alternate Authentication Method'
      }
      return 'Enable Alternate Authentication Method'
    },
  },
  methods: {
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.options = this.stringOptions
        })
        return
      }
      update(() => {
        const needle = val.toLowerCase()
        this.options = this.stringOptions.filter(
          (v) => v.toLowerCase().indexOf(needle) > -1,
        )
      })
    },
    getPlotAndTimeInfo(summary) {
      this.hasBothSurveys =
        summary.some((item) => 'Cover Point Intercept Survey' in item) &&
        summary.some((item) => 'Fire Survey' in item)

      const fieldsToExtract = [
        'plot_location',
        'plot_visit',
        'start_date_time',
        'end_date_time',
      ]

      const result = {}
      summary.forEach((item) => {
        if (item !== undefined) {
          Object.values(item).forEach((value) => {
            if (Array.isArray(value)) {
              value.forEach((obj) => {
                // if exist then don't overwrite
                if (fieldsToExtract.includes(obj.field) && !result[obj.field]) {
                  result[obj.field] = obj.value
                }
              })
            } else if (typeof value === 'object') {
              Object.values(value).forEach((innerValue) => {
                if (Array.isArray(innerValue)) {
                  innerValue.forEach((obj) => {
                    if (
                      fieldsToExtract.includes(obj.field) &&
                      !result[obj.field]
                    ) {
                      result[obj.field] = obj.value
                    }
                  })
                }
              })
            }
          })
        }
      })
      return (
        [
          result.plot_location ? `Plot Location: ${result.plot_location}` : '',
          result.plot_visit ? `Plot Visit: ${result.plot_visit}` : '',
          result.start_date_time || result.end_date_time
            ? `Start Date: ${result.start_date_time || 'N/A'} | End Date: ${
                result.end_date_time || 'N/A'
              }`
            : '',
        ]
          .filter(Boolean)
          .join('\n') || 'No relevant information available'
      )
    },
    getSelectedCollection() {
      const totalIndex = this.userHistoricalCollections.collections.findIndex(
        (item) => item === this.$route.query.collectionID,
      )
      const selectedCollectionCurrentPageIndex = totalIndex % this.perPage

      this.selectedCollectionCurrentPage =
        Math.floor(totalIndex / this.perPage) + 1

      if (selectedCollectionCurrentPageIndex >= 0) {
        this.currentPage = this.selectedCollectionCurrentPage
        this.expand = this.expanded.map((item, index) =>
          index === selectedCollectionCurrentPageIndex ? true : item,
        )
        this.$route.query.collectionID = null
      }
    },
    showLoading() {
      // Show the loading spinner
      this.$q.loading.show({
        html: true,
        // Custom HTML for the message with a button
        message: `
      <div>
        Loading collections...
        <div id="closeLoadingButton" style="margin-top: 20px; display: none;" class="q-btn q-btn--outline q-btn--rectangle q-btn--actionable">
          Close
        </div>
      </div>
    `,
      })

      // Set a timeout to show the close button after 10 seconds
      setTimeout(() => {
        const closeButton = document.getElementById('closeLoadingButton')
        if (closeButton) {
          closeButton.style.display = 'flex' // Show the button
          closeButton.addEventListener('click', () => {
            this.$q.loading.hide() // Hide the loading spinner on button click
          })
        }
      }, 10000) // Ensure it runs after the loading is shown
    },
    async paginatedSummaries() {
      if (this.$route.query.collectionID) {
        this.getSelectedCollection()
      }
      let start = (this.currentPage - 1) * this.perPage
      let end = start + this.perPage
      const res = []
      const cached = await getAllPostCache()
      this.allPostCache = cached.map((o) => o.orgMintedUUID)
      let slice = this.userHistoricalCollections?.collections.slice(start, end)
      const isCached = slice.every((element) =>
        this.allPostCache.includes(element),
      )
      if (isCached) {
        this.reoderCachedData = cached.sort((a, b) => a.order - b.order)
        this.reoderCachedDataUUIDs = this.reoderCachedData.map(
          (item) => item.orgMintedUUID,
        )
        const index =
          this.userHistoricalCollections?.collections[
            (this.currentPage - 1) * this.perPage
          ]
        start = this.reoderCachedData?.findIndex(
          (item) => item.orgMintedUUID === index,
        )
        this.summaries = this.reoderCachedData
          .map((item) => ({
            ...item,
            data: JSON.parse(item.data),
          }))
          .slice(start, start + this.perPage)
      } else {
        this.showLoading()
        for (let index in slice) {
          // console.log('slice', slice[index])
          let resp = await doCoreApiPost({
            urlSuffix: c.coreApiPrefix + '/protocols/reverse-lookup',
            body: {
              org_minted_uuid: `${slice[index]}`,
            },
            handleUnauthorised: true,
            profile: true,
          }).catch(async (e) => {
            this.failedProtocols.push({
              orgMintedUUID: slice[index],
              index: parseInt(index),
            })
            for (let index = 0; index < this.failedProtocols.length; index++) {
              const api = await doCoreApiGet({
                urlSuffix: `/api/org-uuid-survey-metadatas?populate=deep&filters[org_minted_uuid][$eq]=${this.failedProtocols[index].orgMintedUUID}`,
              }).catch((e) => {
                notifyHandler(
                  `Failed to get orgMintedUUID: ${this.failedProtocols[index].orgMintedUUID}, `,
                  e,
                )
              })
              if (api) {
                const protocolId =
                  api?.data[0]?.attributes?.survey_details?.protocol_id
                const protocolName = protocolId
                  ? this.apiModelsStore.protIdFromUuid(protocolId)?.name
                  : 'Unknown Protocol'
                this.failedProtocols[index].protocolName = protocolName
              }
            }
            return
          })
          // if (resp?.collections?.['plot-definition-survey']) {
          //   // TODO: this is a temporary fix just skip plot definition survey. After #1800 is done then can be updated
          //   continue
          // }

          resp = resp || {}
          resp.org_minted_uuid = slice[index]
          resp.order = (this.currentPage - 1) * this.perPage + parseInt(index)
          resp.indexInPage = parseInt(index)
          resp.page = this.currentPage

          // if (resp) {
          res.push(resp)
          // }
        }
        const summaries = []
        let protocolName = ''

        for (let index in res) {
          let overrideData
          const collections = res[index]?.collections
          const orgMintedUUID = res[index]?.org_minted_uuid
          const indexInPage = res[index]?.indexInPage
          const page = res[index]?.page
          const order = res[index]?.order
          const protocolId = this.apiModelsStore.protIdFromUuid(
            res[index]?.survey_metadata?.survey_details?.protocol_id,
          )

          if (!protocolId) {
            paratooWarnMessage(
              `ProtocolId not found for orgMintedUUID: ${orgMintedUUID} in paginatedSummaries()`,
            )
          }

          const protocol = this.apiModelsStore.protocolInformation({
            protId: protocolId?.id,
          })
          // is 18: Cover + Fire - Enhanced 8c47b1f8-fc58-4510-a138-e5592edd2dbc  (20: Fire Severity) because protocolInfo id is passed to pendingCollectionSummary. Cover + Fire - Enhanced contains protocolInfo 18 and 20 when doing it but only has protocolInfo 18's identifier in res

          for (let item in protocol?.workflow) {
            const modelConfig = makeModelConfig(
              protocol.workflow[item].modelName,
              this.documentation,
              protocolId,
            )
            const mainSurvey = modelConfig.mainSurveyFlag
              ? modelConfig.rowDataKey
              : null
            // collections colletions (cover and fire) have the same mainsurvey start_date_time and end_date_time
            // reference from pendingCollectionSummary in bulkStore

            for (const [workflowStep, workflowStepData] of Object.entries(
              collections,
            )) {
              // if colletions (cover and fire) have the same mainsurvey start_date_time and end_date_time then it's cover + fire
              if (workflowStep == mainSurvey && mainSurvey != null) {
                workflowStepData['plot_location'] =
                  workflowStepData.plot_visit?.plot_layout?.plot_selection?.plot_label

                workflowStepData['plot_visit'] = workflowStepData.plot_visit
                  ?.start_date
                  ? workflowStepData.plot_visit?.start_date +
                    ' ' +
                    workflowStepData.plot_visit?.visit_field_name
                  : undefined

                workflowStepData['plot_visit'] =
                  workflowStepData.plot_visit?.start_date +
                  workflowStepData.plot_visit?.visit_field_name

                if (workflowStep === 'plot-definition-survey') {
                  workflowStepData['start_date_time'] =
                    workflowStepData['survey_metadata'].survey_details.time
                }

                if (workflowStep == 'pest-fauna-control-activity') {
                  if (workflowStepData && workflowStepData.interventions) {
                    // Replace 'interventions' with its 'id' value
                    workflowStepData.interventions =
                      workflowStepData.interventions.id
                  }
                }
              } else if (workflowStep !== mainSurvey && mainSurvey != null) {
                for (const [key, value] of Object.entries(
                  schemaFromModelName(workflowStep, this.documentation)
                    .properties,
                )) {
                  // delete survey relations
                  if (value['x-model-ref'] == mainSurvey) {
                    workflowStepData.forEach((o) => {
                      delete o[key]
                    })
                  }
                }
              }
            }
          }

          let surveyEndTime = []
          let duplicated = []
          if (collections && 'cover-point-intercept-survey' in collections) {
            const coverEnhanced = res.map((item, index) => ({
              item: item.collections,
              index,
            })) // get the index in summaries
            for (let i = 0; i < coverEnhanced.length; i++) {
              const protocol = coverEnhanced[i].item
              for (const obj in protocol) {
                const surveyKey = obj.includes('survey')
                if (surveyKey) {
                  const endTimeObj = protocol[obj].end_date_time
                  // survey step will have end_date_time, if end_date_time is not present, it's not the survey step
                  if (!endTimeObj) continue
                  const isDuplicate = surveyEndTime.some(
                    (entry) => entry.data === endTimeObj,
                  )
                  const dataToPush = {
                    data: endTimeObj,
                    index: coverEnhanced[i].index,
                  }
                  if (!isDuplicate) {
                    surveyEndTime.push(dataToPush)
                  } else {
                    duplicated.push(dataToPush)
                  }
                }
              }
            }

            const result = surveyEndTime.reduce((acc, item, idx) => {
              const foundIndex = duplicated.findIndex(
                (item2) => item2.data === item.data,
              )
              if (foundIndex === -1) {
                acc.push(idx)
              }
              return acc
            }, [])
            result.sort((a, b) => b - a)
            for (const index of result) {
              surveyEndTime.splice(index, 1)
            }
            for (let i = 0; i < surveyEndTime.length; i++) {
              const indexB = surveyEndTime[i].index
              const indexC = duplicated[i]?.index
              // just in case cover and fire in different pages
              if (res[indexC]) {
                overrideData = res
                overrideData[indexB].collections = {
                  ...overrideData[indexB].collections,
                  ...overrideData[indexC]?.collections,
                }
              }
            }
            //TODO: remove the duplicate cover+fire's fire data
            // for (let i = 0; i < duplicated.length; i++) {
            //   // remove related fires
            //   overrideData.splice(duplicated[i].index - i, 1)
            // }
            //   console.log('summaryssummarys', summaries)
          }

          const record = this.bulkStore.pendingCollectionSummary({
            currentProtocol: protocol?.id,
            documentation: this.documentation,
            overrideData: overrideData
              ? overrideData[index].collections
              : collections,
            plotDefinition: true,
          })
          protocolName = protocol?.name
          summaries.push({
            protocolName: protocol?.name,
            data: record,
            orgMintedUUID,
            order,
            page,
            indexInPage,
          })
        }
        // if (summaries !== undefined) {
        this.summaries = summaries
        // }
        this.stringOptions = [
          ...new Set(summaries.map((item) => item.protocolName)),
        ]
        this.allPostCache.push(await savePostCache(this.summaries))
        this.$q.loading.hide()
      }
      return this.summaries
    },
    decideWebAuthn() {
      //decide which method to call based on if user has registered a WebAuthn credential
      if (this.authStore.webAuthnStatus) {
        //disable webauthn
        this.authStore
          .disableAltAuth()
          .then((resp) => {
            const msg = 'Success. ' + resp
            notifyHandler('positive', msg)
          })
          .catch((err) => {
            const msg = 'There was an issue disabling WebAuthn.'
            notifyHandler('negative', msg, err)
            throw paratooErrorHandler(msg, err)
          })
      } else {
        //register webauthn credential
        this.authStore
          .registerAltAuth()
          .then((resp) => {
            const msg = 'Success. ' + resp
            notifyHandler('positive', msg)
          })
          .catch((err) => {
            const msg = 'There was an issue registering your credential'
            notifyHandler('negative', msg, err)
            throw paratooErrorHandler(msg, err)
          })
      }
    },
    expansionItemLabel(content, index) {
      const failedIndex = this.failedProtocols.findIndex(
        (o) => o.index === index,
      )
      return content.protocolName
        ? content.protocolName
        : 'Failed to load protocol: ' +
            this.failedProtocols[failedIndex]?.protocolName
    },
  },
}
</script>

<style scoped>
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .q-table tbody td,
  .size {
    font-size: 1.5rem;
  }
}
</style>
