<!-- TODO: JSDoc and comments -->

<template>
  <div>
    <div class="banner text-white">{{ authStore.username?.length > 15 ? "" : `${authStore.username}'s'` }} Projects</div>
    <CurrentContext />
    <div class="row justify-center q-pt-md">
      <div>
        <q-btn-group>
          <q-btn
            type="a"
            outline
            label="Prepare for Offline Collection(s)"
            :disable="!ephemeralStore.networkOnline || !ephemeralStore.coreIsAvailable"
            data-cy="prepareForOfflineVisitBtn"
            @click="prepareVisitPopup = true"
          >
            <NoConnectionProjectToolTip/>
          </q-btn>
          <q-btn
            style="margin-left: -1px"
            outline
            label="Refresh Projects"
            :disable="!ephemeralStore.networkOnline || ephemeralStore.tokenHasExpired"
            @click="reloadProtocols()"
          />
          <q-btn
            v-if="dataManager.queuedCollectionsWithoutAjvErrors?.length"
            :disable="dataManager.queueSubmissionProgress !== null || !ephemeralStore.networkOnline || ephemeralStore.tokenHasExpired || !ephemeralStore.coreIsAvailable"
            label="Sync Queued Collections with Cloud"
            outline
            style="margin-left: -1px;background-color: rgba(25, 124, 125, 0.5) !important"
            data-cy="submitQueuedCollectionsBtn"
            @click="submitQueuedCollectionsPopup = true"
          >
          <NoConnectionProjectToolTip/>
          </q-btn>
          <Suspense>
            <CloseVisit
              v-if="allAuthorisedModels.includes('plot-visit')"
              style="margin-left: -1px"
            >
              <NoConnectionProjectToolTip/>
            </CloseVisit>
          </Suspense>
        </q-btn-group>
      </div>
      <div v-if="dataManager.queueSubmissionProgress !== null" style="width:90%" class="center" data-cy="submissionProgressWrapper">
        <p class="text-subtitle1 q-mt-sm q-mb-none">Upload progress (completed): {{ syncingProgress }} of {{ dataManager.queuedCollectionsWithoutAjvErrors?.length }}</p>
        <q-spinner color='teal-8' size='2em' :thickness='10' class="q-ma-sm"/>
      </div>
      <q-dialog v-model="prepareVisitPopup" persistent>
        <q-card>
          <q-card-section class="row justify-center">
            <h6 style="margin: 0">
              Please check the projects you will be participating in
            </h6>
            <p style="text-align: center">
              This list is of projects that have their 'Plots for Project'
              defined (i.e., the plots that belong to the {{ projAreaTermMap() }} are
              defined)
            </p>
            <div class="column">
              <div v-for="proj of sortedProjProt" :key="proj.id">
                <!-- don't show option if it doesn't have project plot(s) defined -->
                <q-checkbox
                  v-if="proj.plot_selections"
                  :label="proj.name"
                  v-model="selectedProj[proj.id]"
                  :data-cy="`prepareOfflineProject_${proj.name}`"
                />
              </div>
            </div>
          </q-card-section>
          <q-card-section class="row justify-center">
            <q-btn flat label="Back" wrap class="col" v-close-popup />
            <q-btn
              flat
              label="Done"
              color="secondary"
              wrap
              class="col"
              data-cy="donePrepareVisitBtn"
              @click="donePrepareVisit()"
            />
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="submitQueuedCollectionsPopup" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <p class="text-body1">Are you sure you wish to submit all collections that have been queued for submission</p>
            <p class="text-body1 text-bold text-red">If yes, please keep the app open until the loading bar completes</p>
            <!-- TODO add more text telling them to ensure good network connection -->
            <!-- TODO add checkbox to ensure they understand they must have a good connection to click 'yes' button below -->
          </q-card-section>
          <q-card-section class="row justify-center">
            <q-btn flat label="Back" wrap class="col" v-close-popup />
            <q-btn
              flat
              label="Yes"
              color="secondary"
              wrap
              class="col"
              data-cy="submitQueuedCollectionsConfirm"
              @click="submitQueuedCollections()"
            />
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
    <q-card v-if="isSyncing" class="q-ma-md" style="background-color: rgba(8, 58, 66, 0.1)">
      <q-list separator >
        <q-item>
          <q-item-section class='col-4'>
            <q-item-label class="text-bold text-center"> Queued collections </q-item-label>
          </q-item-section>
          <q-item-section class="text-bold text-center col-8">
             Progress
          </q-item-section>
        </q-item>
        <q-item
          class='row'
          v-for="(row, index) in pendingQueuedCollectionsSummary?.filter(row => row.ajvErrors?.length === 0)"
          :key="index"
        >
          <q-item-section class='col-4'>
            <q-item-label class="text-center"> {{ row.protocol }} </q-item-label>
          </q-item-section>
          <q-item-section class="text-bold text-center">
            <q-linear-progress
              :value="getCurrFakeSyncProgress(index)"
              size="10px"
              rounded
              color="teal-8"
            />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <template v-else>
      <div v-if="dataManager.pendingQueuedCollections" class="q-mt-md q-px-sm">
        <q-table
          v-if="!isMobileDevice"
          title="Summary of collections (pending sync)"
          :title-class="isMobileDevice ? 'text-weight-medium' : 'text-h5 text-weight-medium'"
          :rows="pendingQueuedCollectionsSummary"
          :columns="pendingQueuedCollectionsSummaryCols"
          dense
          wrap-cells
          card-style="background-color: rgba(8, 58, 66, 0.25);"
          :pagination="pendingSyncPagination"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="protocol" :props="props">
                {{ props.row.protocol }} 
                <q-btn
                  v-if="props.row.ajvErrors?.length"
                  icon="warning"
                  color="red"
                  round
                  size="xs"
                  dense
                  data-cy='showAjvErrorsBtn'
                  @click="showAjvErrors(props.row.ajvErrors)"
                />
              </q-td>
              <q-td
                v-for="col in pendingQueuedCollectionsSummaryCols.filter(
                  ({ name }) => name !== 'protocol',
                )"
                :key="col.name"
                :props="props"
                :data-cy="col.name"
              >
                {{ props.row[col.name] }}
              </q-td>
            </q-tr>
          </template>
        </q-table>
        <q-list v-else>
          <q-card>
            <div class="text-weight-bolder text-subtitle2 q-pa-sm" style="background-color: rgba(8, 58, 66, 0.25)">Summary of collections (pending sync)</div>
            <q-separator /><q-separator />
              <div v-for="(item, index) in pendingQueuedCollectionsSummary" :key="index">
                <q-expansion-item
                  bordered
                  header-style="background-color: rgba(8, 58, 66, 0.25)"
                  :label="item.protocol.split(' (')[0]"
                  dense
                  expand-icon="expand_more"
                  :header-class='item.ajvErrors?.length >0 ? "text-negative" : ""'
                >
                  <q-card-section class="q-pa-xs" style="background-color: rgba(8, 58, 66, 0);">
                    <table style="width: 100%;">
                      <tr
                        v-for="col in pendingQueuedCollectionsSummaryCols"
                        :key="col.name"
                        style="background-color: rgba(8, 58, 66, 0.1);"
                      >
                        <td class="text-weight-bolder q-pa-sm" >{{ col.label }}</td>
                        <td class="q-pa-sm">
                          {{ item[col.name] }}
                          <q-btn
                            v-if="item.ajvErrors?.length && col.label === 'Protocol'"
                            icon="warning"
                            color="red"
                            round
                            size="xs"
                            dense
                            data-cy='showAjvErrorsBtn'
                            @click="showAjvErrors(item.ajvErrors)"
                          />
                        </td>
                      </tr>
                    </table>
                  </q-card-section>
                </q-expansion-item>
              <q-separator></q-separator>
            </div>
          </q-card>
        </q-list>
      </div>
      <q-dialog v-model="isShownAjvErrors">
        <q-card>
          <q-card-section class="q-my-none">
            This record has been queued with errors and won't sync to the cloud until corrected. 
            <!-- TODO: use this text if we have edit feature and remove the one after -->
            <!-- You can edit it to resolve the issues and enable syncing. See the list below for the errors: -->
            Please contact EMSA support for assistance in resolving this issue.
            <q-list bordered separator class="q-my-sm">
              <q-item
                v-for="(error, index) in currAjvErrors"
                :key="index"
              >
                {{ error.message }}
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
      </q-dialog>
      <div v-if="dataManager.pendingFailedCollections" class="q-mt-md q-px-sm">
        <q-table
          v-if="!isMobileDevice"
          data-cy="failedQueuedCollectionsSummaryTable"
          title="Some collections failed to sync to cloud"
          title-class="text-h5 text-weight-medium"
          :rows="failedQueuedCollectionsSummary"
          :columns="failedQueuedCollectionsCols"
          dense
          wrap-cells
          card-style="background-color: rgba(25, 124, 125, 0.25);"
        />
        <q-list v-else>
          <q-card>
            <div class="text-weight-bolder text-subtitle2 q-pa-sm" style="background-color: rgba(25, 124, 125, 0.25);">Some collections failed to sync to cloud</div>
            <q-separator /><q-separator />
            <div v-for="(item, index) in failedQueuedCollectionsSummary"
            :key="index">
              <q-expansion-item
                bordered
                header-style="background-color: rgba(25, 124, 125, 0.25);"
                :label="item.protocol.split(' (')[0]"
                dense
                expand-icon="expand_more"
              >
                <div class="q-pa-md" style="background-color: rgba(25, 124, 125, 0.1);">
                  <div class="q-pb-sm">
                    <b>Error: </b> {{ item.issue }}
                  </div>
                  <b>Queued collection ID:  </b>
                  {{(item.protocol.match(/\((?:queued collection ID:\s*)([a-f0-9-]+)\)/))[1]}} 
                </div>
              </q-expansion-item>
              <q-separator></q-separator>
            </div>
          </q-card> 
        </q-list>
      </div>
    </template>
    <ProjectSelection :sorted-proj-prot="sortedProjProt" />
  </div>
</template>

<script>
import ProjectSelection from '../components/ProjectSelection.vue'
import { useAuthStore } from '../stores/auth'
import { useApiModelsStore } from 'src/stores/apiModels'
import { useBulkStore } from '../stores/bulk'
import { useEphemeralStore } from '../stores/ephemeral'
import { useDataManagerStore } from 'src/stores/dataManager'
import { useRouter } from 'vue-router'
import {
  getAllAuthorisedModels,
  notifyHandler,
  paratooErrorHandler,
  prettyFormatFieldName,
  projAreaTermMap,
  refreshLocalResources,
  paratooSentryBreadcrumbMessage,
  paratooWarnHandler,
} from '../misc/helpers'
import { Loading } from 'quasar'
import {
  cloneDeep,
  isEmpty,
} from 'lodash'
import { storeToRefs } from 'pinia'
import * as cc from 'src/misc/constants'
import CloseVisit from 'src/components/CloseVisit.vue'
import NoConnectionProjectToolTip from 'src/components/NoConnectionProjectToolTip.vue'
import CurrentContext from './CurrentContext.vue'
import { useDocumentationStore } from '../stores/documentation'

export default {
  name: 'Projects',
  components: {
    ProjectSelection,
    CloseVisit,
    NoConnectionProjectToolTip,
    CurrentContext,
  },
  setup() {
    const authStore = useAuthStore()
    const apiModelsStore = useApiModelsStore()
    const bulkStore = useBulkStore()
    const ephemeralStore = useEphemeralStore()
    const dataManager = useDataManagerStore()
    const documentationStore = useDocumentationStore()
    const router = useRouter()

    dataManager.init = true
    bulkStore.init = true
    
    //to make these getters reactive, need to make refs
    //https://runthatline.com/pinia-watch-state-getters-inside-vue-components/
    const {
      pendingQueuedCollectionsSummary,
      failedQueuedCollectionsSummary,
    } = storeToRefs(dataManager)

    return {
      ephemeralStore,
      authStore,
      apiModelsStore,
      bulkStore,
      dataManager,
      documentationStore,
      router,
      pendingQueuedCollectionsSummaryRef: pendingQueuedCollectionsSummary,
      failedQueuedCollectionsSummaryRef: failedQueuedCollectionsSummary,
      serverUnavailableMsg: cc.serverUnavailableMsg
    }
  },
  data() {
    return {
      submitQueuedCollectionsPopup: false,
      prepareVisitPopup: false,
      selectedProj: {},
      hiddenProtocols: this.authStore.projAndProt ? this.apiModelsStore.cachedModel({ modelName: 'protocol' }).reduce(
        (accum, curr) => {
          if (curr.isHidden) accum.push(curr.id)
          return accum
        },
        [],
      ): [],
      pendingQueuedCollectionsSummary: this.dataManager.pendingQueuedCollectionsSummary,
      failedQueuedCollectionsSummary: this.dataManager.failedQueuedCollectionsSummary,
      pendingQueuedCollectionsSummaryCols: this.generateCols(this.dataManager?.pendingQueuedCollectionsSummary?.[0]) || [],
      failedQueuedCollectionsCols: this.generateCols(this.dataManager?.failedQueuedCollectionsSummary?.[0]) || [],
      timeIntervalId: null,
      queueSubmissionProgress: null,
      isSyncing: false,
      isShownAjvErrors: false,
      currAjvErrors: null,
      pendingSyncPagination: {
        rowsPerPage: window.Cypress
          ? 0 //infinite
          : 5,
      },
    }
  },
  computed: {
    allAuthorisedModels() {
      //since this is computed, when it's triggered we might not have workflows, etc.
      //refreshed already, so might have an 'access properties of undefined error'. So,
      //try/catch so we can ignore this issue; when the necessary info is defined, this
      //will then access it properly without errors
      try {
        const protocolDefs = this.apiModelsStore?.cachedModel({
          modelName: 'protocol',
        })
        const protocolDefsDefined = protocolDefs?.length > 0 && 
          this.ephemeralStore.populatedModels.includes('protocol')
        const doccoIsDefined = !isEmpty(this.documentationStore?.documentation)
        paratooSentryBreadcrumbMessage(
          `protocolDefsDefined=${protocolDefsDefined}, doccoIsDefined=${doccoIsDefined}`,
          'allAuthorisedModels',
        )
        if (
          protocolDefsDefined &&
          doccoIsDefined
        ) {
        
          const allAuthorisedModels = this.authStore.getAllAuthorisedModels()
          return allAuthorisedModels || []
        }

        //might be valid to get here, as we might not have started/finished refreshing
        //`protocol` model
        paratooSentryBreadcrumbMessage(`No protocol defs and/or docco, skipping getting all authorised models`)
        return []
        
      } catch (err) {
        paratooWarnHandler(`Failed to get all authorised models`, err)
        return []
      }
    },
    isMobileDevice() {
      return window.devicePixelRatio >= 2 && window.innerWidth < 500
    },
    sortedProjProt: {
      get() {
        //we clone the projects from the store as we don't want to mutate it in the store
        const projects = this.authStore.projects ? cloneDeep(this.authStore.projects): []
        //sort projects
        let sortedProjects = projects.sort((a, b) => {
          //https://stackoverflow.com/a/34779158
          return a.name.localeCompare(b.name)
        })

        //sort protocols within the projects
        const sortedProjProt = (() => {
          let sortedProt = []
          for (let proj of sortedProjects) {
            //also create a v-model for the checkboxes
            this.selectedProj[proj.id] = false
            proj.protocols = proj.protocols
              .filter(
                (prot) => !this.hiddenProtocols.some((o) => o === prot.id),
              )
              .sort((a, b) => {
                return a.id - b.id || a.name.localeCompare(b.name) //sort by id
              })
            sortedProt.push(proj)
          }

          return sortedProt
        })()
        return sortedProjProt
      },
    },
    syncingProgress() {
      let count = 0
      for(const [index, value] of Object.entries(this.dataManager.publicationQueue)) {
        if(parseInt(index) === this.dataManager.queueSubmissionProgress) break
        if(!value.ajvValidationErrors.length) {
          count++
        }
      }
      return count
    },
  },
  methods: {
      showAjvErrors(error) {
        this.currAjvErrors = error
        this.isShownAjvErrors = true
      },
      generateCols(tableData) {
      if (tableData) {
        const cols = []
        Object.keys(tableData).forEach(key => {
          if(key === 'ajvErrors') return 
          cols.push({
            name: key,
            label: prettyFormatFieldName(key),
            field: key,
            align: 'left',
            style: 'font-size: 1.2em',
            headerStyle: 'font-size: 1.4em',
          })
        })
        return cols
      }
      return [];
    },
    //wrapper to access in the template
    projAreaTermMap() {
      return projAreaTermMap(cc.enableOIDC)
    },
    async submitQueuedCollections() {
      this.submitQueuedCollectionsPopup = false
      await this.dataManager.submitPublicationQueue()
    },
    /**
     * Triggers refreshing of models by inferring the plot(s) for the selected project(s)
     */
    async donePrepareVisit() {
      const startTime = Date.now()
      this.prepareVisitPopup = false
      const allProjects = this.authStore.projects
      const selectedProjects = []
      const selectedProjectIds = []
      //`selectedProj` is an object, but it's keys are integers (IDs of the projects)
      for (const projIdStr in this.selectedProj) {
        if (this.selectedProj[projIdStr]) {
          const projObj = allProjects.find(proj => proj.id == projIdStr)
          selectedProjects.push(projObj)
          selectedProjectIds.push(projObj.id)
        }
      }

      if (selectedProjects.length === 0) {
        notifyHandler('negative', 'Please select project(s) to use in offline collection(s)')
        return
      }
      const allModelsToRefresh = cc.allModelsToRefresh
      this.ephemeralStore.setApiModelsArePopulating(true, { root: true })
      const allAuthorisedModels = this.authStore.getAllAuthorisedModels({ projectsIds: selectedProjectIds })

      try {
        await this.apiModelsStore
          .populateVerifiedModels({
            modelNames: allModelsToRefresh.filter(m => allAuthorisedModels.includes(m)),
            projectIds: selectedProjects.map(p => p.id.toString()),
            useCache: false,
          })
        //TODO this success shows even if the network drops, but we should probably error. However, `populateVerifiedModels` simply `return`s if there's no network, which is fine but maybe we need to handle a bit differently (need to be careful though as this function is used a lot and changing this return value could be a breaking change)
        notifyHandler(
          'positive',
          `Successfully refreshed models for protocols in project${selectedProjects.length > 1 ? 's' : ''} '${selectedProjects.map(o => o.name).join(', ')}'`,
        )
        // if no in progress collection then we can refresh documentation as well
        if (this.dataManager.publicationQueue.length == 0) {
          await refreshLocalResources(cc.resourceTypes.DOCUMENTATION, true)
        }
      } catch(reason) {
        const msg = `Failed to refresh models for protocols in project${selectedProjects.length > 1 ? 's' : ''} '${selectedProjects.map(o => o.name).join(', ')}'`
          paratooErrorHandler(
            msg,
            reason,
          )
        notifyHandler('negative', msg)
      } finally {
          this.ephemeralStore.setApiModelsArePopulating(false, { root: true })
      }
      paratooSentryBreadcrumbMessage(`Done prepare for offline, took ${(Date.now() - startTime) / 1000}s`)
    },
    async reloadProtocols() {
      let msg = 'Failed to refresh projects and workflow definitions'
      try {
        Loading.show()
        // reset all method progress flags
        await refreshLocalResources(cc.resourceTypes.METHOD_PROGRESS_FLAGS)
        
        const result = await this.authStore.refreshProjectsAndProtocols()
        if (!result) {
          Loading.hide()
          notifyHandler('negative', msg)
          paratooErrorHandler(msg, new Error('No response from backend'))
          return
        }
        if (this.dataManager.publicationQueue.length > 0) {
          msg = 'Failed to update workflow definitions, you have in-progress collections which need to be synced.'
          notifyHandler('warning', msg)

          if (result) {
            Loading.hide()
            //we were able to refresh projects, but cannot refresh docco/workflows
            notifyHandler('positive', 'Successfully refreshed projects')
          }

          return
        }
        await refreshLocalResources(cc.resourceTypes.DOCUMENTATION, true)
        notifyHandler(
          'positive',
          'Successfully refreshed projects and workflow definitions',
        )
        Loading.hide()
      } catch (error) {
        Loading.hide()
        notifyHandler('negative', msg)
        paratooErrorHandler(msg, error)
      }
    },
    getCurrFakeSyncProgress(queueItemIndex) {
      if (queueItemIndex === this.dataManager.queueSubmissionProgress) {
        return this.queueSubmissionProgress / 100
      } else if (
        queueItemIndex < this.dataManager.queueSubmissionProgress ||
        this.dataManager.queueSubmissionProgress === null
      ) {
        return 1
      } else return 0
    }
  },
  watch: {
    'dataManager.pendingQueuedCollectionsSummary'(newVal) {
      this.pendingQueuedCollectionsSummaryCols = this.generateCols(newVal[0])
    },
    'dataManager.queueSubmissionProgress'(newVal, oldVal) {
      // if we have new value that's mean we're moving to the next item
      clearInterval(this.timeIntervalId)

      // all items are sent, so stop the progress bar
      if(newVal === null && oldVal !== null) {
        this.queueSubmissionProgress = 100
        // set a short delay for smoother transitions
        setTimeout(() => {
          this.isSyncing = false
        }, 2000)
        return
      } 

      // start the progress bar
      this.isSyncing = true
      this.queueSubmissionProgress = 0
      this.timeIntervalId = setInterval(() => {
        if (this.queueSubmissionProgress < 80) {
          this.queueSubmissionProgress += 5
        } else if (this.queueSubmissionProgress < 95){
          this.queueSubmissionProgress ++
        }
      }, 1000);
    },
    'dataManager.failedQueuedCollectionsSummary'(newVal) {
      this.failedQueuedCollectionsCols = this.generateCols(newVal[0])
    },
    pendingQueuedCollectionsSummaryRef(newVal) {
      // set a short delay for smoother transitions
      setTimeout(() => {
        this.pendingQueuedCollectionsSummary = newVal
      }, 2000)
    },
    failedQueuedCollectionsSummaryRef(newVal) {
      this.failedQueuedCollectionsSummary = newVal
    },
  },
}
</script>
<style scoped>
.center {
  margin: auto;
  /* width: 30%; */
  /* padding: 10px; */
  text-align: center;
}
h4 {
  margin-bottom: 10px;
}
.banner {
  padding: 2rem 0;
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.00735em;
  text-align: center;
  background-image: url('assets/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px) {
  .banner {
    font-size: 2em;
    padding: 0.5em 0;
  }
  .q-btn-group ::v-deep .q-btn {
    font-size: 0.8em !important;
    padding:0.5em !important;
  }
}
/* @media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.5) {
  .banner {
    padding: 2rem 0;
    font-size: 4rem;
    font-weight: 400;
    line-height: 10rem;
    letter-spacing: 0.00735em;
    text-align: center;
    background-image: url('assets/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .plot {
    font-size: 1.3rem;
  }
  .btn {
    padding: 0.7rem 1rem;
    font-size: 1.23rem;
    border: 1px solid;
  }

} */
</style>
