<template>
  <q-page padding>
    <h2>Register</h2>
    <div class="q-pa-md">
      <q-form class="q-gutter-md" @submit="onSubmit" @reset="onReset">
        <q-input v-model="username" filled label="Username" />
        <q-input v-model="email" filled label="Email" type="email" />
        <q-input v-model="password" filled label="Password" type="password" />
        <div>
          Already registered?
          <q-btn flat color="primary" label="Login here" to="/login" />
        </div>
        <q-btn label="Submit" type="submit" color="primary" />
        <q-btn
          label="Reset"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { paratooErrorHandler, notifyHandler } from 'src/misc/helpers'
import { useAuthStore } from '../stores/auth'
import * as Sentry from '@sentry/vue'

export default {
  name: 'Register',
  data() {
    return {
      username: null,
      email: null,
      password: null,
    }
  },
  setup() {
    const authStore = useAuthStore()
    return { authStore }
  },
  methods: {
    async onSubmit() {
      await this.authStore.doRegister({
        username: this.username,
        email: this.email,
        password: this.password,
      })
      .catch(err => {
        const msg = `Failed to register. ${err.body.error.message}`

        //if any step of `doRegister()` throws an error, we need to clear the partial
        //login details
        this.authStore.doLogout()

        notifyHandler('negative', msg)
        throw paratooErrorHandler(msg, err)
      })
      notifyHandler('positive', 'Success. Register complete')
      Sentry.setUser({ username: 'john.doe@example.com' })
      const redirectTarget = this.$route.query.redirect
      if (redirectTarget) {
        this.$router.replace(redirectTarget)
        return
      }
      this.$router.replace('/projects')
    },
    onReset() {
      this.username = null
      this.email = null
      this.password = null
    },
  },
}
</script>
