<template>
  <div>
    <template v-if="loading">
      <h4 style="text-align: center">Loading...</h4>
      <q-linear-progress indeterminate data-cy="workflowLoading" />
    </template>
    <template v-else-if="setupError !== null">
      <h4>Error</h4>
      <p>{{ setupError }}</p>
      <!-- FIXME refreshing offline doesn't seem to recover the app properly, so hide it when offline for now -->
      <q-btn
        v-if="ephemeralStore?.networkOnline"
        label="Refresh"
        @click="
          recoverWorkflowSetupError()
        "
      />
    </template>

    <template v-else>
      <div class="q-pa-sm" data-cy="workflowLoaded">
        <!-- Readable title of current protocol -->
        <div class="protocolsImg text-center" :style="bgUrl">
          <div
            class="fontStyle text-h4"
            :style="{
              lineHeight: lineHeight,
              padding: padding,
            }"
          >
            {{ protocolTitle }}
          </div>
        </div>
        <!-- <div>{{ ephemeralStore.imgName }}</div> -->
        <div class="text-center text">{{ protocolDescription }}</div>
        <div class="q-pt-sm q-px-xs">
          <CurrentContext />
        </div>
        <!-- if there is no context for the project/protocol, force User to make a selection -->
        <q-dialog v-model="selectCurrentContext" persistent full-width>
          <q-card>
            <q-card-section class="row justify-center">
              <span class="q-ml-sm">
                Please select the project you with to perform a collection for
              </span>
            </q-card-section>
            <q-card-section class="row justify-center">
              <ProjectSelection
                :workflow-nav="true"
                :current-protocol-id="protocolId"
                @hide-select-dialog="selectCurrentContext = false"
              />
            </q-card-section>
            <q-card-section class="row justify-center">
              <q-btn
                label="Cancel & Return to Projects Selection"
                @click="cancelContextSelection()"
              />
            </q-card-section>
          </q-card>
        </q-dialog>
        <div class="top__btn_group">
          <q-btn
            flat
            color="secondary"
            label="back"
            data-cy="workflowBack"
            @click="backBtnHandler"
          />
        </div>
        <!-- dynamic verical prop: https://vuejs.org/v2/guide/components-props.html#Passing-a-Boolean -->
        <!-- :key="vertical" -->
        <q-stepper
          v-model="step"
          :vertical="true"
          color="primary"
          animated
          header-nav
          done-color="positive"
          active-color="info"
          inactive-color="secondary"
          data-cy="scrollDown"
          class="yPaddingNone"
        >
          <template v-for="workflow in workflowItem">
            <!-- TODO provide meaningful icons -->
            <q-step
              v-if="!workflow.hidden"
              :key="workflow.name"
              :name="workflow.name"
              :data-cy="workflow.title"
              :title="createTitle(workflow.title)"
              :icon="
                workflow.name > highestAccessibleStep ? 'warning' : 'settings'
              "
              :error="stepValidation(workflow.rules) !== true"
              :done="workflow.name < highestAccessibleStep"
              :caption="
                stepValidation(workflow.rules) !== true
                  ? stepValidation(workflow.rules)
                  : null
              "
            >
            <!-- AJV errors -->
              <component
                v-for="(error, index) in ajvErrorsRelatedToCurrStep"
                :key=index
                :is="error.relatedData ? 'q-expansion-item': 'q-banner'"
                :label="error.message"
                :data-cy="`ajv-error-${index}`"
                class="bg-red q-my-xs"
              >
                <q-card v-if="error.relatedData" :class="`bg-grey-${$q.dark.isActive ? 10 : 2}`">
                  <q-card-section>
                    <Summary 
                      no-scroll 
                      no-title 
                      :summary="error.relatedData"
                    />
                  </q-card-section>
                </q-card>
                {{ error.relatedData ? '' : error.message }}
              </component>
              <Suspense>
                <paratoo-api-model-crud-ui
                  v-if="!workflow.hidden"
                  :ref="addStepRef(workflow.name, stepRefs)"
                  :modelValue="
                    bulkStore.collectionGetForProt({ protId: protocolId })[
                      workflow.crud.rowDataKey
                    ]
                  "
                  :fields="workflow.crud.fields"
                  :hasLabPhase="workflow.crud.hasLabPhase"
                  :title="createTitle(workflow.title)"
                  :row-data-key="workflow.crud.rowDataKey"
                  :main-survey-flag="workflow.crud.mainSurveyFlag"
                  :collection-survey-flag="workflow.crud.collectionSurveyFlag"
                  :exclude-submit-btn-flag="workflow.crud.excludeSubmitBtnFlag"
                  :current-prot-id="parseInt(protocolId)"
                  :description="workflow.description"
                  :protocol-variant="workflow.protocolVariant"
                  :submit-btn-label="workflow.submitBtnLabel"
                  :add-btn-label="workflow.addBtnLabel"
                  :user-coords="userCoords"
                  @createNewLocation="
                    (e) => {
                      this.ephemeralStore.setUseExistingLocation(e)
                    }
                  "
                  @createNewVisit="
                    (e) => {
                      this.ephemeralStore.setUseExistingVisit(e)
                    }
                  "
                  @update:modelValue="
                    (e) => {
                      body = e
                      updateStoreBulk(
                        e,
                        protocolId,
                        workflow.crud.rowDataKey,
                        workflow.crud.mainSurveyFlag,
                        workflow.protocolVariant,
                        workflow.splitSurveyStep,
                      )
                    }
                  "
                  @updateSubmodule="updateSubmodule"
                  @setStepVisibility="
                    (e) => {
                      if (Array.isArray(e)) {
                        e.forEach((step) => {
                          setStepVisibility(step.model, step.hide, e.title)
                        })
                      } else {
                        setStepVisibility(e.model, e.hide, e.title)
                      }
                    }
                  "
                />
                <template #fallback>
                  <p class="text-center text-h5">
                    Loading {{ workflow.title }} step's collection UI...
                  </p>
                </template>
              </Suspense>
              <q-stepper-navigation class="row justify-center">
                <!-- If the current step isn't the first, display the back button -->
                <q-btn
                  v-if="step !== 1"
                  flat
                  color="secondary"
                  label="Back"
                  :class="btnCol"
                  wrap
                  class="q-ml-sm"
                  data-cy="workflowBackButton"
                  @click="step = step - 1"
                />
                <!-- On the final step (summary), we change the button to be 
        'Confirm and Submit Collection' -->
                <q-btn
                  :color="
                    step !== workflowItem.length + 1 ? 'primary' : 'accent'
                  "
                  :label="
                    step !== workflowItem.length + 1
                      ? `${submitLabel(workflow)}`
                      : 'Confirm and Submit Collection'
                  "
                  :class="btnCol"
                  wrap
                  class="workflowNextButtonSize"
                  data-cy="workflowNextButton"
                  @click="
                    step !== workflowItem.length + 1
                      ? (step = step + 1)
                      : (confirm = true)
                  "
                />
              </q-stepper-navigation>
            </q-step>
          </template>
          <!-- summary step for workflow -->
          <!-- TODO: use tooltip to display description of each LUT (low priority) -->
          <q-step
            v-if="allRequiredStepAreDone"
            :name="workflowItem.length + 1"
            :done="step > workflowItem.length + 1"
            data-cy="Summary"
            icon="preview"
            title="Summary"
          >
            <Summary :summary="summary" />
            <!-- edit/publish collection -->
            <div v-if="allStepsValid() === true">
              <h6 style="text-align: center; margin-bottom: 1em">
                You can choose to edit the current collection, or submit it for
                publication
              </h6>
            </div>
            <div v-else>
              <h6 style="text-align: center; margin-bottom: 1em">
                The following issues must be fixed before publication:
              </h6>
              {{ allStepsValid() }}
              <br />
            </div>
            <div class="row justify-center items-center">
              <q-btn
                data-cy="editCollection"
                :class="btnCol"
                label="Edit This Collection"
                color="secondary"
                outline
                @click="step = startingStep"
              />
              <h6 style="margin: 0; text-align: center" class="col-1"> or </h6>
              <!-- TODO make this go to a separate draft curation page, so that Users can
          edit all their collections at once before publishing - defer -->
              <q-btn
                :class="btnCol"
                :label="submitBtnLabel"
                color="primary"
                :disable="allStepsValid() !== true"
                data-cy="workflowPublish"
                @click="
                  checkAndConfirm()
                  ;(this.ephemeralStore.transectPoints = []),
                    (this.ephemeralStore.aerialPoints = []),
                    (this.ephemeralStore.floraSpeciesCluster = [])
                "
              />
            </div>
          </q-step>
        </q-stepper>
        <div class="row justify-center" style="margin-top: 1em">
          <!-- Display start new collection button on the step after submitting -->
          <q-btn
            v-if="currentStep == workflowItem.length + 2"
            :class="btnCol"
            label="Start New Collection"
            color="primary"
            @click="step = startingStep"
          />
        </div>
        <!-- Confirmation before collection submission -->
        <q-dialog v-model="confirm" persistent>
          <q-card>
            <q-card-section class="row items-center">
              <div v-if="!ajvValidationErrors?.length">
                <span data-cy="confirmMessage">
                  <q-avatar
                  size="md"
                  icon="las la-crow"
                  color="primary"
                  text-color="white"
                  />
                    
                    {{
                      isExistingLayoutAndVisit_
                        ? 'Do you want to change plot context?'
                        : 'Confirm the collection is finished?'
                    }}
                </span>
              <!--
                don't need this warning if we're just swapping context, as there's no
                data to go in the queue
              -->
              <div
                v-if="!isExistingLayoutAndVisit_"
                class="q-pt-sm"
                style="color: red"
                data-cy="queueConfirmWarning"
              >
                <q-icon
                  name="warning"
                  size="sm"
                /> 
                Once you have confirmed, it will be added to the queue, and you will not be able to edit it anymore.
              </div>
            </div>
              <template v-else>
                <div>
                  <div data-cy="ajv-error-msg">
                    There are errors in this collection data. 
                    To fix these errors please review and edit the field(s) listed. 
                    To skip this step or you are unable to fix the error, select 'submit with errors'.
                    The collection will be queued but will not sync. 
                    You will need to contact the EMSA helpdesk for further assistance
                  </div>
                  <q-list bordered separator>
                    <q-item
                      v-for="(error, index) in ajvValidationErrors"
                      :key="index"
                      class="q-ma-none"
                    >
                      <q-item-section :data-cy="`ajv-error-${index}`">
                        {{ error.message }}
                      </q-item-section>
                      <q-item-section side top>
                        <q-btn
                          v-close-popup
                          label="edit"
                          color="primary"
                          flat
                          :data-cy="`ajv-edit-${index}`"
                          @click="navigateToErrorStep(error)"
                        />
                      </q-item-section>
                    </q-item>
                  </q-list>
                </div>
              </template>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn v-close-popup icon="close" color="primary"/>
              
              <q-btn
                v-close-popup
                :label="ajvValidationErrors?.length ? 'submit with errors' : undefined"
                :icon="!ajvValidationErrors?.length ? 'done' : undefined"
                color="primary"
                data-cy="workflowPublishConfirm"
                @click="submission(workflowItem)"
              />
            </q-card-actions>
          </q-card>
        </q-dialog>

        <!-- Confirmation before discarding invalid data (when changing step) -->
        <q-dialog v-model="confirmDiscard" persistent>
          <q-card>
            <q-card-section class="row items-center">
              <q-avatar
                icon="warning"
                color="red"
                text-color="white"
              ></q-avatar>
              <span class="q-ml-sm">Data is invalid, discard changes?</span>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn
                v-close-popup
                data-cy="close"
                icon="close"
                color="primary"
              ></q-btn>
              <q-btn
                v-close-popup
                icon="done"
                color="primary"
                @click="onButtonClick"
              ></q-btn>
              <!-- Set the currentStep directly to do no more checks -->
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </template>
  </div>
</template>

<script>
import {
  paratooErrorHandler,
  prettyFormatFieldName,
  makeModelConfig,
  modelConfigFromSchema,
  notifyHandler,
  asyncCrud,
  createTitle,
  generateSurveyId,
  isPlotBasedProtocol,
  removeFieldFromModelConfig,
  validateForm,
  submitLabel,
  makePlotSelectionProjInfoWorkflow,
  makeCustomComponentConfig,
  schemaFromModelName,
  refreshLocalResources,
  isExistingLayoutAndVisit,
} from 'src/misc/helpers'
import { findIndex, find, cloneDeep, isEmpty } from 'lodash'
import ProjectSelection from '../components/ProjectSelection.vue'
import {
  updateAndStoreUniqueModelValues,
  paratooWarnMessage,
  workflowSubmission,
  isProtocolReady,
  sleep,
  paratooWarnHandler,
  paratooSentryBreadcrumbMessage,
} from '../misc/helpers'
import { useBulkStore } from '../stores/bulk'
import { useApiModelsStore } from '../stores/apiModels'
import { useAuthStore } from '../stores/auth'
import { dereferenceSection, useDocumentationStore } from '../stores/documentation'
import { useEphemeralStore } from '../stores/ephemeral'
import { useDataManagerStore } from 'src/stores/dataManager'
import Summary from 'src/components/Summary.vue'
import { computed } from 'vue'
import { Loading, Dialog } from 'quasar'
import {
  floristicsLiteUuid,
  floristicsFullUuid,
  plotSelectionUuid,
  resourceTypes,
} from 'src/misc/constants'
import { schemaValidate } from 'src/misc/ajvValidator'
const floristicsUuid = [ floristicsLiteUuid, floristicsFullUuid ]
import CurrentContext from './CurrentContext.vue'
export default {
  name: 'Workflow',
  components: {
    'paratoo-api-model-crud-ui': asyncCrud,
    ProjectSelection,
    Summary,
    CurrentContext,
  },
  async created() {
    await this.setupWorkflow()
  },
  provide() {
    return {
      doc: computed(() => this.documentation || {}),
      currRowDataKey: computed(() => this.currRowDataKey) ,
    }
  },
  data() {
    // Get protocol ID from URL (www.<hostname>/workflow/<protocolID>)
    const protocolId = parseInt(this.$route.params['protocolId'])
    return {
      lineHeight: '150%',
      padding: this.$q.screen.lt.sm ? '0.8em 0.3em' : '1em 0.3em',
      loading: true,
      setupError: null,
      protocolId: protocolId,
      currentStep: 1,
      // workflowItem: newWorkflowItem,
      workflowItem: undefined,
      confirm: false,
      confirmDiscard: false,
      // Saves the step to go to after the discard dialog is confirmed
      stepAfterDiscard: null,
      isDevSpace: process.env.DEV,
      workflowMessage: undefined,
      highestAccessibleStep: 1,
      selectCurrentContext: false,
      vertical: false,
      cols: [
        {
          name: 'name',
          required: true,
          label: 'FIELD',
          align: 'left',
          field: 'field',
          format: (val) => `${val}`,
          sortable: true,
          style: 'max-width: 20px',
          headerStyle: 'max-width: 20px',
        },
        {
          name: 'value',
          align: 'left',
          label: 'VALUE',
          field: 'value',
          sortable: true,
          style: 'max-width: 50px',
          headerStyle: 'max-width: 50px',
        },
      ],
      stepRefs: {},
      summary: [],
      watchPositionId: null,
      // userCoords: undefined,
      body: null,
      startingStep: 1,
      nextProtInfo: null,
      documentation: null,
      relatedBulkEndPointRequestBodySchema: null
    }
  },
  setup() {
    const bulkStore = useBulkStore()
    const authStore = useAuthStore()
    const apiModelsStore = useApiModelsStore()
    const documentationStore = useDocumentationStore()
    const ephemeralStore = useEphemeralStore()
    const dataManager = useDataManagerStore()

    return {
      bulkStore,
      authStore,
      apiModelsStore,
      documentationStore,
      ephemeralStore,
      dataManager,
    }
  },
  computed: {
    isExistingLayoutAndVisit_() {
      return isExistingLayoutAndVisit({
        protocolId: this.protocolId,
      })
    },
    ajvValidationErrors: {
      get() {
        return this.bulkStore.ajvErrors[this.protocolId] || []
      },
      set(newVal) {
        this.bulkStore.ajvErrors[this.protocolId] = newVal
      }
    },
    ajvErrorsRelatedToCurrStep() {
      if(!this.ajvValidationErrors?.length) return ''
      return this.ajvValidationErrors.filter(error => error.relatedStepName === this.step)
    },
    currRowDataKey() {
      if(!this.workflowItem) return
      return this.workflowItem[this.currentStep - 1].crud.rowDataKey
    },
    allRequiredStepAreDone() {
      const currCollection = this.bulkStore.collectionGetForProt({
        protId: this.protocolId,
      })
      const submoduleId = this.bulkStore.getSubModuleID(this.protocolId)
      const subModuleCollection = this.bulkStore.collectionGetForProt({
        protId: submoduleId,
      })
      const protUuid = this.apiModelsStore.protUuidFromId(this.protocolId).uuid
      for (const step of this.workflowItem) {
        const modelName = step.crud.rowDataKey
        if (modelName === 'plot-selection-proj-info') continue

        let isRequired = step.required
        const minimum = step.minimum
        // backward compatibility for floristics, even we change the property required to false
        // sometimes webapp does not update that properly
        const floristicsSubmoduleModelName = 'floristics-veg-genetic-voucher'
        if (floristicsUuid.includes(protUuid) && modelName === floristicsSubmoduleModelName) {
          isRequired = false
        }
        // if collection required
        if (!currCollection[modelName] && isRequired) {
          return (
            subModuleCollection && subModuleCollection[modelName] && isRequired
          )
        }
        // if collection below minimum
        if (
          Array.isArray(currCollection[modelName]) &&
          currCollection[modelName].length < minimum
        ) {
          return false
        }
        //edge case for floristics lite as it required at least 1 floristics voucher or 1 virtual one
        if (
          modelName === 'floristics-veg-voucher-lite' ||
          modelName === 'floristics-veg-virtual-voucher'
        ) {
          return Boolean(
            currCollection['floristics-veg-voucher-lite'] ||
              currCollection['floristics-veg-virtual-voucher'],
          )
        }
      }

      return true
    },
    submitBtnLabel() {
      if (this.isExistingLayoutAndVisit_) {
        return 'Set Plot Context'
      }

      return 'Queue Collection for Submission'
    },
    bgUrl() {
      const requireContext = require.context(
        '../assets/ProtocolsTopImg/',
        false,
        /.jpg$/,
      )
      const keys = requireContext.keys()
      let findIndex = './' + this.protocolUUID + '.jpg'
      const found = keys.indexOf(findIndex)
      if (found < 0) {
        findIndex =  './' + this.ephemeralStore.imgName + '.jpg'
        let imgPath 
        if (keys.indexOf(findIndex)<0) {
          paratooWarnMessage(`No banner image found for protocol '${this.protocolTitle}'. Falling back to placeholder`)
          imgPath = keys[keys.indexOf('./NotFound.jpg')]
        } else {
          imgPath = keys[keys.indexOf(findIndex)]
        }
        const img = requireContext(imgPath)

        return {
          backgroundImage: 'url(' + img + ')',
        }
      } else {
        const imgPath = keys[found]
        const img = requireContext(imgPath)
        return {
          backgroundImage: 'url(' + img + ')',
        }
      }
    },
    btnCol() {
      if (this.$q.screen.lt.sm) {
        return 'col-5'
      }
      return 'col-3'
    },
    step: {
      get: function () {
        return this.currentStep
      },
      set: async function (tryNewStep) {
        this.checkHighestAccessibleStep()
        // validate, save form before changing step

        let newStep = tryNewStep

        // Find the associated workflowItem for the old step
        const oldStepWorkflowIndex = findIndex(this.workflowItem, {
          name: this.currentStep,
        })

        // if we failed to find the workflowItem (e.g. on summary page), don't worry about validation
        if (oldStepWorkflowIndex === -1) {
          if (this.checkStepAccessible(newStep) >= newStep)
            this.currentStep = newStep
          return
        }

        const isCollection =
          this.workflowItem[oldStepWorkflowIndex]?.crud?.collectionSurveyFlag ||
          this.workflowItem[oldStepWorkflowIndex]?.multiple

        const apiModelCrud =
          this.stepRefs[this.workflowItem[oldStepWorkflowIndex].name]
        if (apiModelCrud ) {
          // in old workflow, we don't call onSubmitFunc on the the generic collection crud
          // but however, we want to do so on collection crud using custom component as it might have a custom onSubmitFunc
          const isCustomComponent = this.workflowItem[oldStepWorkflowIndex].isCustomComponent
          if(!isCollection || (isCollection && isCustomComponent)) {
            newStep = await this.handleStepNavigationForCrud(
              newStep,
              apiModelCrud,
            )
          }
        }

        // Check if it's a collection, we don't submit observations on navigation, only on explicit
        // submit presses
        if (isCollection) {
          newStep = this.handleStepNavigationForCollections(newStep)
        }
        this.checkHighestAccessibleStep()
        // Check whether that step is accessible now that we just added to store
        if(this.checkStepAccessible(newStep) >= newStep) {
          this.currentStep = newStep
        } else {
          notifyHandler(
            'negative',
            'Unable to proceed to the next step due to incomplete data. Please ensure you have pressed the "Add" or "Save" button before continuing.',
          )
        }
        // this.currentStep = newStep
        this.getSummary()
        this.checkEndSplitSurveyStep(newStep)
      },
    },
    /**
     * Returns the field 'name' of the currently used protocol from apiModels
     */
    protocolTitle() {
      let protocolInformation = this.apiModelsStore.protocolInformation({
        protId: this.protocolId,
      })
      return protocolInformation.name
    },
    /**
     * Returns the field 'description' of the currently used protocol from apiModels
     */
    protocolDescription() {
      let info = this.apiModelsStore.protocolInformation({
        protId: this.protocolId,
      })
      return info.description
    },
    protocolUUID() {
      let UUID = this.apiModelsStore.protocolInformation({
        protId: this.protocolId,
      })
      return UUID.identifier
    },
    userCoords() {
      return this.ephemeralStore.userCoords
    },
  },
  async mounted() {
    this.ephemeralStore.imgName = this.protocolTitle.split(' ').join('')
    if (
      !this.authStore?.currentContext ||
      this.authStore?.currentContext?.protocol?.id !== this.protocolId
    ) {
      paratooWarnMessage(
        'Did not find the context for the project and protocol',
      )

      let projects = this.authStore.projAndProt
      let projectCount = 0
      let matchedProjectId = ''

      for (let project of projects) {
        for (let protocol of project.protocols) {
          if (protocol.id == this.protocolId) {
            matchedProjectId = project.id
            projectCount++
          }
        }
      }

      if (projectCount > 1) this.selectCurrentContext = true
      // Ask for user selection
      // If only one matching project, assign it automatically
      else {
        let info = this.apiModelsStore.protocolInformation({
          protId: this.protocolId,
        })
        this.authStore.doCurrentContext({
          protocol: {
            id: info.id,
            version: info.version,
          },
          project: matchedProjectId,
        })
      }
    }

    if (
      isPlotBasedProtocol(this.protocolId) &&
      !this.authStore.selectedProject?.plot_selections?.some(
        (p) => p.uuid === this.dataManager.currentPlotSelectionUuid,
      )
    ) {
      //shouldn't get here as the user shouldn't be able to set plot context if a plot is
      //not assigned to the project (#918, #1392). If they do, something weird has
      //happened and the Sentry exception should be logged
      const msg = `The selected Plot '${this.dataManager.currentPlotLabel}' is not assigned to the Project that was selected '${this.authStore.selectedProject.name}' for the specified plot-based protocol '${this.protocolTitle}'. This might cause issues getting certain plot-specific information such as Floristics vouchers`
      paratooWarnMessage(msg)
      notifyHandler('warning', msg, null, 10)
    }

    await this.removeStepOnMount()
  },
  methods: {
    checkAndConfirm() {
      const derefSchema = dereferenceSection(
        this.relatedBulkEndPointRequestBodySchema,
        this.documentation,
      )
      this.ajvValidationErrors = schemaValidate(
        derefSchema,
        this.protocolId,
      )
      if (this.bulkStore.doingSubmodule(this.protocolId)) {
        const subModuleProtocolInfo = this.bulkStore.getSubModuleProtocolInfo(
          this.protocolId,
        )
        const submoduleSchema =
          this.documentation.paths[
            `${subModuleProtocolInfo.endpointPrefix}/bulk`
          ].post.requestBody.content['application/json'].schema.properties.data
            .properties.collections.items
        const derefSchemaSubmoduleSchema = dereferenceSection(
          submoduleSchema,
          this.documentation,
        )
        const submoduleErrors = schemaValidate(
          derefSchemaSubmoduleSchema,
          subModuleProtocolInfo.id,
          true
        )
        this.ajvValidationErrors =
          this.ajvValidationErrors.concat(submoduleErrors)
      }
      this.ajvValidationErrors = this.ajvValidationErrors.map((error) => {
        const relatedStep = this.workflowItem.find(
          this.createFindRelatedAjvErrorStepCallback(error),
        )
        error.relatedStepName = relatedStep.name
        return error
      })
      if(this.ajvValidationErrors.length) {
        paratooWarnHandler(`ajv errors in protocol ${this.protocolTitle}: ${JSON.stringify(this.ajvValidationErrors)}`)
      }
      this.confirm = true
    },
    createFindRelatedAjvErrorStepCallback(error) {
      let modelName = error.path.split('/')[1]
      let findCb = (step) => step.crud.rowDataKey === modelName
      //edge case for fire, as these "steps" are in the same step "cover-point-intercept-point"
      const fireModelNames = ['fire-point-intercept-point', 'fire-survey']
      if (fireModelNames.includes(modelName)) {
        findCb = (step) => step.crud.rowDataKey === 'cover-point-intercept-point'
      }
       // edge case for floristics virtual
       if (floristicsLiteUuid === this.protocolUUID) {
        findCb = (step) =>
          step.crud.rowDataKey === 'floristics-veg-voucher-lite'
      }
      // edge case for plant tissue voucher as submodule
      if (
        floristicsUuid.includes(this.protocolUUID) &&
        modelName === 'floristics-veg-genetic-voucher'
      ) {
        // we have full and lite, both of them can't be present at the same time
        findCb = (step) =>
          step.crud.rowDataKey.startsWith('floristics-veg-voucher-')
      }
      return findCb
    },
    navigateToErrorStep(error) {
      if(error.relatedStepName) {
        this.step = error.relatedStepName
      }
      this.confirm = false
      setTimeout(() => window.scrollTo({ top: 0, behavior: 'smooth' }), 200)
    },
    async recoverWorkflowSetupError() {
      try {
        //TODO test this online check - there's a FIXME in the template for `setupError` that needs to be addressed first
        if (this.ephemeralStore.networkOnline) {
          //use this instead of `getDoc()` (which uses `getDocumentation()`) as
          //`refreshLocalResources()` will delete the existing cache, forcing us to hit 
          //the network.
          //NOTE: this could cause further cascading errors due to (non-minor) schema
          //changes when crud will try re-init data from the store
          await refreshLocalResources(resourceTypes.DOCUMENTATION, true)

          //now we want to trigger this so that the local reference to the docco is reset
          await this.getDoc('trying to recover the workflow setup error')
        } else {
          notifyHandler('warning', 'Cannot refresh workflow definitions due to no network connection. Issues may still persist')
        }
      } catch (err) {
        let msg = 'Encountered error when trying to recover the workflow setup error'
        paratooErrorHandler(msg, err)
        notifyHandler('negative', msg)
      }

      //always reload (i.e., not in the `checkIsOnline` check) as it might fix some
      //issues (i.e., we can fix some problems without refreshing swagger docco)
      this.$router.replace(this.$router.currentRoute)

      //the above `$router.replace()` doesn't trigger the `created()` lifecycle hook, so
      //we need to call the method manually
      await this.setupWorkflow()
    },
    /**
     * Wrapper for the `workflowSubmission()` helper. Passes submodule information if necessary
     *
     * @param {Object} workflowItem the current workflow steps
     */
    async submission(workflowItem) {
      Loading.show()
      let submoduleInfo = null
      if (this.bulkStore.doingSubmodule(this.protocolId)) {
        const submoduleProtocolEntry = this.apiModelsStore.protocolInformation({
          protId: this.bulkStore.getSubModuleID(this.protocolId),
        })
        const submoduleWorkflow = await this.makeWorkflow(
          submoduleProtocolEntry.id,
        )
        submoduleInfo = {
          protocolEntry: submoduleProtocolEntry,
          workflow: submoduleWorkflow,
        }
      }

      const resp = await workflowSubmission(
        workflowItem,
        this.protocolId,
        this.$router,
        submoduleInfo,
        null,
        this.nextProtInfo,
        this.ajvValidationErrors
      ).catch((err) => {
        //we should never get here, but we still want this guard just in case.
        //reason: when `workflowSubmission()` is called by this page, the call to
        //`dataManager.queueSubmission()` is wrapped in a try/catch and dealt with there
        //(note that the `throw` that is in the `catch` for `submitCollection` doesn't
        //need to be handled here as that case is not hit due to the
        //`offlinePublicationQueueIndex` param being set to null by this call). But if
        //some other error occurs (e.g., the redirect handler has issues), we need to
        //have this backup catch so that the loading spinner doesn't get completely stuck
        paratooWarnHandler(
          `Unknown issue adding collection to queue`,
          err,
        )
        Loading.hide()
      })
      if (resp !== null) {
        this.currentStep++
        this.nextProtInfo = null
      }
      Loading.hide()
    },
    getNextProtSuggestion(protUuid) {
      if (!protUuid) return
      this.nextProtInfo = this.apiModelsStore.protIdFromUuid(protUuid)
    },
    backBtnHandler() {
      if (this.ephemeralStore.prevProtocol) {
        const currentProject = this.authStore.currentContext.project
        const protocolId = parseInt(
          this.ephemeralStore.prevProtocol.split('/').at(-1),
        )
        if (protocolId) {
          const protocolVersion = this.authStore.selectedProject.protocols.find(
            (p) => p.id === protocolId,
          ).version
          this.authStore.doCurrentContext({
            protocol: {
              id: protocolId,
              version: protocolVersion,
            },
            project: currentProject,
          })
        }
        this.$router.push(`${this.ephemeralStore.prevProtocol}`)
        this.ephemeralStore.prevProtocol = null
      } else {
        this.$router.push('/')
      }
    },
    async updateSubmodule(data) {
      // avoid race condition by using a bulk update
      if (Array.isArray(data)) {
        for (const item of data) {
          this.updateStoreBulk(
            item.data,
            item.submoduleProtocolId,
            item.rowDataKey,
            item.mainSurveyFlag,
            item.protocolVariant,
          )
        }
      } else {
        //add the submodule to store
        this.updateStoreBulk(
          data.data,
          data.submoduleProtocolId,
          data.rowDataKey,
          data.mainSurveyFlag,
          data.protocolVariant,
        )
      }
    },
    //wrapper for `createTitle` helper
    createTitle(title) {
      return createTitle(title)
    },
    /**
     * Removes Steps from the workflow (plot-location, plot-visit, and plot-layout) as these are completed
     * and become unnecessary to complete again. Wrapped in a recursive guard until `this.workflowItem` is defined
     * TODO: write desc
     */
    async removeStepOnMount() {
      if (typeof this.workflowItem !== 'undefined') {
        for (let item in this.workflowItem) {
          if (
            this.protocolTitle !== 'Plot Layout and Visit' &&
            this.protocolTitle !== 'Plot Layout'
          ) {
            if (this.workflowItem[item].crud.rowDataKey === 'plot-visit') {
              const visitToUse = (() => {
                let visit = this.bulkStore.getStaticPlotContext.plotVisit
                if (!visit.id && visit.temp_offline_id) {
                  //just store a link to the visit that was collected offline
                  visit = { temp_offline_id: visit.temp_offline_id }
                }
                return visit
              })()
              this.setStepVisibility('plot-visit', true) //hide step
              this.updateStoreBulk(
                visitToUse,
                this.protocolId,
                this.workflowItem[item].crud.rowDataKey,
                false,
              )
              this.currentStep++
              this.startingStep++
            }
            if (this.workflowItem[item].crud.rowDataKey === 'plot-layout') {
              const layoutToUse = (() => {
                let layout = this.bulkStore.getStaticPlotContext.plotLayout
                if (!layout.id && layout.temp_offline_id) {
                  layout = { temp_offline_id: layout.temp_offline_id }
                }
                return layout
              })()
              this.setStepVisibility('plot-layout', true) //hide step
              this.updateStoreBulk(
                layoutToUse,
                this.protocolId,
                this.workflowItem[item].crud.rowDataKey,
                false,
              )
              this.currentStep++
              this.startingStep++
            }
          }
          if (this.workflowItem[item].wrapperStepOnly) {
            //wrapper steps are those that do not contain any 'useful' collectable
            //data, for example, some 'surveys' are only included as they 'wrap' the
            //observations but don't have useful data, so we hide these steps to
            //prevent redundantly needing to move past said step
            await this.updateStoreBulk(
              {
                survey_metadata: generateSurveyId(
                  this.workflowItem[item].crud.rowDataKey,
                  this.documentation,
                ),
              },
              this.protocolId,
              this.workflowItem[item].crud.rowDataKey,
              this.workflowItem[item].crud.mainSurveyFlag,
              this.workflowItem[item].protocolVariant,
            )
            this.setStepVisibility(
              this.workflowItem[item].crud.rowDataKey,
              true,
            ) //hide step
            this.currentStep++
            this.startingStep++
          }
        }
      } else {
        await sleep(250)
        await this.removeStepOnMount()
      }
    },
    getPlotVisit(field) {
      // Account for array index shift
      field--
      return this.apiModelsStore.cachedModel({ modelName: 'plot-visit' })[field]
        .start_date
    },
    getPlotLocation(field) {
      // Account for array index shift
      field--
      return this.apiModelsStore.cachedModel({ modelName: 'plot-location' })[
        field
      ].description
    },
    getPlotLayout(field) {
      // Account for array index shift
      field--
      return this.apiModelsStore.cachedModel({ modelName: 'plot-layout' })[
        field
      ].plot_dimensions.description
    },
    //wrapper for `submitLabel` helper
    submitLabel(workflow) {
      return submitLabel(workflow)
    },
    // https://stackoverflow.com/a/67300497
    // This is bound to apiModelCrudUI ref definitions in the v-for loop
    // TODO Verify this is a good practice or not
    addStepRef: (name, addTo) => {
      return function (element) {
        if (element) addTo[name] = element
      }
    },
    isVertical() {
      let winWidth = window.innerWidth
      let winHeight = window.innerHeight
      if (winWidth < winHeight) {
        return true
      }
      return false
    },
    /**
     * Sets the visibility attribute on the workflow step related to the associatedModel
     * Also handles moving steps so the current is valid
     * @param {String} associatedModel The model to find in the worklow stepper
     * @param {Boolean} hide The visibility to set the relevant step
     */
    setStepVisibility(associatedModel, hide, stepTitle) {
      let stepIndex = this.stepIndexFromModel(associatedModel)
      if (stepIndex === -1 && stepTitle) {
        stepIndex = this.workflowItem.findIndex(
          (step) => step.title.toLowerCase() === stepTitle.toLowerCase(),
        )
      }
      if (stepIndex === -1) {
        paratooWarnMessage(
          'Tried to hide step with model: ' +
            associatedModel +
            '. But could not find the step',
        )
      }
      let newWorkflowItem = cloneDeep(this.workflowItem)
      if (newWorkflowItem[stepIndex]) {
        newWorkflowItem[stepIndex].hidden = hide
      }
      this.workflowItem = newWorkflowItem
    },
    /**
     * Hides or shows relevant steps based on store values
     */
    updateStepVisibility() {
      let stepsNeedToHide = [
        'bird-survey-observation',
        'fauna-voucher',
        'floristics-veg-virtual-voucher',
      ]

      // set step visibility
      stepsNeedToHide.forEach((step) => {
        if (this.stepIndexFromModel(step) !== -1) {
          this.setStepVisibility(step, true)
        }
      })

      if (this.bulkStore.doingSubmodule(this.protocolId)) {
        const submoduleCollection = this.bulkStore.collectionGetForProt({
          protId: this.bulkStore.getSubModuleID(this.protocolId),
        })
        if (
          //double-check submodule exists
          submoduleCollection &&
          submoduleCollection['fire-survey']
        ) {
          this.setStepVisibility('fire-char-observation', false)
        }
      }
    },
    async getSummary() {
      var returnData

      returnData = this.bulkStore.pendingCollectionSummary(
        {
          currentProtocol: this.protocolId,
          documentation: this.documentation,
        },
        { root: true },
      )
      this.summary = returnData
    },
    /**
     * Checks this workflow item's rules array to determine if valid.
     * Specifically that the data is logically consistent as a whole, forms
     * cannot be submitted if data type validation (for each form field) already fails
     *
     * e.g. data valid but not all points submitted in pointIntercept
     * @returns Either True when passed or empty, or the error message returned
     */
    stepValidation(rules) {
      if (!rules) return true
      // eslint-disable-next-line
      for (const [id, rule] of Object.entries(rules)) {
        const ruleReturn = rule()
        if (ruleReturn !== true) return ruleReturn
      }
      return true
    },
    updateStoreBulk(
      collectionBody,
      protocolId,
      modelName,
      isMainSurvey,
      protocolVariant = null,
      splitSurveyStep = null,
    ) {
      // if the current step is required but receive an empty, we shouldn't update the store
      const isRequired = this.isCurrStepRequired(modelName)
      if (isEmpty(collectionBody) && isRequired) {
        return
      }
      let useCollectionBody = collectionBody
      let useModelName = modelName
      if (
        !Array.isArray(useCollectionBody) &&
        typeof useCollectionBody === 'object' &&
        Object.keys(useCollectionBody).includes('overrideModelName')
      ) {
        //we usually expect an array body, but if we've provided an object with the key
        //`overrideModelName`, then we want to override the default model name to add to
        //the store
        useCollectionBody = collectionBody.data
        useModelName = collectionBody.overrideModelName
      }

      let useProtocolVariant = null
      const schema = schemaFromModelName(modelName, this.documentation)
      if (schema?.properties?.protocol_variant) {
        if (!protocolVariant) {
          paratooWarnMessage(`Protocol variant not found for model '${modelName}', but it is defined in the model as protocol_variant attribute. Possible programmer error - likely the protocol workflow doesn't have protocol variant ('protocol-variant' attribute) but the survey model does include this attribute.`)
        }
        useProtocolVariant = protocolVariant
      }

      if (isMainSurvey) {
        this.bulkStore.recvMainSurvey({
          modelName: useModelName,
          content: useCollectionBody,
          protocolId,
          documentation: this.documentation,
          protocolVariant: useProtocolVariant,
          splitSurveyStep,
        })
      } else {
        this.bulkStore.recvGeneral(
          {
            modelName: useModelName,
            content: useCollectionBody,
            protocolId,
          }
        )
      }

      this.updateStepVisibility()

      // recalculate step rules
      this.allStepsValid()

      this.getSummary()
    },
    isCurrStepRequired(modelName) {
      const relatedStep = this.workflowItem.find(
        (step) => step.crud?.rowDataKey === modelName,
      )
      if (!relatedStep) {
        //before warning about not being able to find the step, check if it's part of a
        //submodule, as we can check if it's required there
        const submoduleWorkflow = this.bulkStore.getSubModuleWorkFlow(this.protocolId)
        if (submoduleWorkflow?.length > 0) {
          const relevantSubmoduleStep = submoduleWorkflow.find(
            w => w.modelName === modelName
          )
          
          //this is typically for Cover+Fire
          if (relevantSubmoduleStep) {
            //`workflowItem` has already assigned an explicit `required`, but since we're
            //dealing with the workflow directly, we need to check all cases:
            //  1. no `required` in the workflow - it is implicitly required
            //  2. `required` in the workflow set `true` - it is explicitly required
            //  3. `required` in the workflow set `false` - it is explicitly not required
            const requiredIsUndefined = relevantSubmoduleStep?.required === undefined
            const isRequired = requiredIsUndefined || !!relevantSubmoduleStep?.required
            paratooSentryBreadcrumbMessage(
              `Submodule step with model name ${modelName} ${isRequired ? 'is' : 'is not'} required (case 1)`,
              'isCurrStepRequired',
            )
            return isRequired
          }

          //get the whole workflow for the submodule's protocol
          const submoduleProtocolInfo = this.bulkStore.getSubModuleProtocolInfo(this.protocolId)
          const submoduleProtocolRelevantStep = submoduleProtocolInfo.workflow.find(
            w => w.modelName === modelName
          )

          //this is typically for PTV as submodule in Floristics
          if (submoduleProtocolRelevantStep) {
            //similar handling to above
            const requiredIsUndefined = submoduleProtocolRelevantStep?.required === undefined
            const isRequired = requiredIsUndefined || !!submoduleProtocolRelevantStep?.required
            paratooSentryBreadcrumbMessage(
              `Submodule step with model name ${modelName} ${isRequired ? 'is' : 'is not'} required (case 2)`,
              'isCurrStepRequired',
            )
            return isRequired
          }
        }

        paratooWarnMessage(
          `isCurrStepRequired is not able to find step for ${modelName}`,
        )
      }
      const isRequired = relatedStep?.required || false
      paratooSentryBreadcrumbMessage(
        `Step with model name ${modelName} ${isRequired ? 'is' : 'is not'} required`,
        'isCurrStepRequired',
      )
      return isRequired
    },
    /**
     * Iterates through workflowItems and checks all workflow-level validation rules
     * e.g. number of points in pointIntercept
     *
     * @returns Either true on success, or a formatted list of reasons for failure
     */
    allStepsValid() {
      // defer
      // TODO this really needs to be a computed value for performance as it is used several times,
      // however, we use nested property "this.workflowItem", which likely won't check it's nested rules
      // on auto-updates
      let allPassed = true
      let errorText = ''
      for (const workflow of this.workflowItem) {
        const validReturn = this.stepValidation(workflow.rules)
        if (validReturn !== true) {
          allPassed = false
          errorText = `${errorText}\n${workflow.title}: ${validReturn}`
        }
      }

      return allPassed || errorText.slice(1) // remove leading newline
    },
    checkEndSplitSurveyStep(newStep) {
      const newStepIsSummary = this.workflowItem.some(({name}) => name === newStep)
      if(newStepIsSummary) return 

      const lastStepModelConfig = this.workflowItem.find(({name}) => name === newStep-1)
      const isSplitSurveyStep = lastStepModelConfig?.splitSurveyStep
      if(isSplitSurveyStep) { 
        const splitSurveyModelName = lastStepModelConfig.crud.rowDataKey
        const currCollection = this.bulkStore.collectionGetForProt({
          protId: this.protocolId,
        })[splitSurveyModelName]

        if(this.currentStep !== lastStepModelConfig.name) {
          const lastStepFields = lastStepModelConfig.crud.fields
          const res = validateForm(currCollection, lastStepFields)
          if(!res) {
            this.step = newStep - 1
          }
        }
      }
    },
    async getDoc(currentContext='') {
      try {
        this.documentation = await this.documentationStore.getDocumentation()
      } catch (err) {
        paratooErrorHandler(`Failed to get documentation when ${currentContext}, reason: ${err}`)
        return
      }

      if (!this?.documentation?.info) {
        paratooWarnMessage(`Found corrupted documentation when ${currentContext}`)
        notifyHandler('negative', 'Failed to pull workflow definitions')
        return 
      }

      const info = this.documentation.info
      paratooSentryBreadcrumbMessage(`Found documentation when ${currentContext}, ${info.description.replace('-', ' ')}`)
    },
    createSetupErrMsg({ protocolId }) {
      const protocolInfo = this.apiModelsStore.protocolInformation({
        protId: protocolId,
      })
      const baseMsg = `Unable to start data collection for protocol ${protocolInfo?.name}`
      let setupError = `${baseMsg}`
      if (this.ephemeralStore?.networkOnline) {
        setupError += `. Please click the button below to restart the app`
      }
      setupError += `. If the problem persists, please contact support`
      return {
        msg: setupError,
        baseMsg,
      }
    },
    async setupWorkflow() {
      this.loading = true
      this.setupError = null
      // Get protocol ID from URL (www.<hostname>/workflow/<protocolID>)
      const protocolId = parseInt(this.$route.params['protocolId'])

      let newWorkflowItem
      try {
        newWorkflowItem = await this.makeWorkflow(protocolId)
      } catch (error) {
        
        const setupError = this.createSetupErrMsg({ protocolId })
        this.setupError = setupError.msg
        notifyHandler('negative', setupError.baseMsg)
        paratooErrorHandler(this.setupError, error)
        
        this.loading = false
        // throw error
        return
      }
      let newItemsToPopulate = newWorkflowItem.map((item) => {
        return {
          label: createTitle(item.title),
          value: item.crud.rowDataKey,
        }
      })
      this.workflowItem = newWorkflowItem
      this.workFlowItemsToPopulateOptions = newItemsToPopulate
      const isReady = isProtocolReady(protocolId)
      this.loading = !isReady.status
      // if protocol is ready
      const waitInterval = 2000   //in milliseconds
      const maxWait = 60000   //in milliseconds
      const currentTime = Date.now()
      if (!isReady.status) {
        paratooSentryBreadcrumbMessage(`Initial check for protocol with ID=${protocolId} failed, so will wait in intervals of ${Math.round(waitInterval/1000)} seconds`)
        const intervalID = setInterval(() => {
          const isReady = isProtocolReady(protocolId)
          const diff = Date.now() - currentTime

          if ( diff > waitInterval && isReady.msg) {
            notifyHandler('warning', isReady.msg)
          }
          if (isReady.status) {
            paratooSentryBreadcrumbMessage(`Protocol with ID=${protocolId} is ready to collect`)
            this.loading = false
            clearInterval(intervalID)
          }
          if (!isReady.status && diff > maxWait) {
            paratooWarnMessage(
              `Waited too long for protocol with ID=${protocolId} to be ready`
            )
            notifyHandler(
              'warning',
              'We\'ve waited too long for data to load but timed out. Your data for this protocol might not be up-to-date',
            )
            this.loading = false
            clearInterval(intervalID)
          }
        }, waitInterval)
      }
    },
    async makeWorkflow(protocolId) {
      this.loading = true
      var workflowAcc = []
      var i = 1
      let splitSurveyStep = false
      let surveyStepTitleToUse = null
      let splitSurveyStepConfig = null
      let associatedProtocol
      try {
        associatedProtocol = this.apiModelsStore.protocolInformation({
          protId: protocolId,
        })
        if (
          !associatedProtocol?.workflow ||
          !Array.isArray(associatedProtocol?.workflow) ||
          associatedProtocol?.workflow?.length === 0
        )
          throw null
      } catch (error) {
        let msg = `Could not get the workflow for protocol`
        if (associatedProtocol?.name) {
          msg += ` '${associatedProtocol?.name}'`
        }
        if (associatedProtocol?.id) {
          msg += ` ID=${associatedProtocol?.id}`
        }
        if (associatedProtocol?.identifier) {
          msg += ` UUID=${associatedProtocol?.identifier}`
        }
        msg += `. You might have missing/incorrect/corrupt/out-dated protocol definitions`

        throw new Error(msg)
      }

      this.getNextProtSuggestion(associatedProtocol.nextProtSuggestion)

      const isBulk = associatedProtocol.workflow.length > 1

      await this.getDoc('trying to make the workflow')
      const processedModels = []
      for (const value of Object.values(associatedProtocol.workflow)) {
        const modelName = value.modelName
        // Check the documentation to decide if this item should be able to be submitted as a collection
        // check if the BULK protocol endpoint in the documentation says this
        // modelName accepts multiple (e.g. bird-survey-observations)
        let collectMultiple = false
        try {
          this.relatedBulkEndPointRequestBodySchema =
            this.documentation.paths[
              `${associatedProtocol.endpointPrefix}/bulk`
            ].post.requestBody.content[
              'application/json'
            ].schema.properties.data.properties.collections.items

          const docRequestBodyProperties =
            this.relatedBulkEndPointRequestBodySchema.properties[modelName]

          collectMultiple =
            docRequestBodyProperties.type === 'array' ||
            //chooses the first of anyOf, oneOf, etc.
            docRequestBodyProperties[
              Object.keys(docRequestBodyProperties)[0]
            ][0].type === 'array'
        } catch (error) {
          if (value.isSubmoduleStep) {
            //don't need to warn about this (false-positive), but worth at least logging
            //with a breadcrumb in case we get an error that this might be relevant to
            paratooSentryBreadcrumbMessage(
              `Skipping looking for bulk endpoint for submodule step with model name ${modelName}`,
              'makeWorkflow',
            )
          } else {
            paratooWarnMessage(
              `Couldn't find model: ${modelName}, in documentation/paths${associatedProtocol.endpointPrefix}/bulk\nObservation Collection status unknown`,
            )
          }
        }

        processedModels.push(modelName)

        //handle special case for custom components
        if (value.usesCustomComponent) {
          const modelConfig = makeModelConfig(modelName, this.documentation)
          if (!modelConfig) continue
          const customComponentConfig = makeCustomComponentConfig({
            stepIndex: i,
            protocolId,
            modelName,
            protocolWorkflow: value,
            modelConfig,
            collectMultiple,
          })

          if (
            value.splitSurveyStep &&
            value?.hidden !== true &&
            value?.defaultHidden !== true
          ) {
            splitSurveyStep = true
            //create a copy to use for the end step
            splitSurveyStepConfig = cloneDeep(modelConfig)
            removeFieldFromModelConfig(modelConfig, 'end_date_time')
            surveyStepTitleToUse = customComponentConfig.title
            customComponentConfig.title += ' (start)'
          }

          workflowAcc.push(customComponentConfig)

          //TODO don't hardcode these edge cases - need a generic way to handle them (e.g, derive `isNonModelStep` from protocol schema)
          // edge case for plot fauna layout, as this one is not a separate strapi
          // collection but just a attribute of plot-layout
          if (
            this.protocolTitle === 'Plot Layout and Visit' &&
            value.modelName === 'plot-layout'
          ) {
            const plotFaunaLayoutTitle = 'Plot Fauna Layout'
            const faunaPlotConfig = structuredClone(customComponentConfig)
            faunaPlotConfig.title = plotFaunaLayoutTitle
            faunaPlotConfig.hidden = true
            faunaPlotConfig.crud.title = plotFaunaLayoutTitle

            faunaPlotConfig.name = i + 1
            i++
            workflowAcc.push(faunaPlotConfig)
          }
          if (
            this.protocolTitle === 'Plot Selection' &&
            value.modelName === 'plot-selection' &&
            //if there's a survey step in the workflow, then we've got the latest
            //workflow definitions and don't need to enable backwards compatibility
            !associatedProtocol.workflow.some(
              (w) => w.modelName === 'plot-selection-survey',
            )
          ) {
            paratooWarnMessage(`Enabling backwards compatibly for Plot Selection by adding the project information step to the workflow`)
            const plotSelectionProjInfoConfig = makePlotSelectionProjInfoWorkflow(
              customComponentConfig,
            )

            //since we unshift this new step (push to front of array), need to move the
            //next step after this new one
            workflowAcc.unshift(plotSelectionProjInfoConfig)
            workflowAcc[i].name = 2
            i++
          }

          i++
        } else {
          // check if we need to resolve the schema or it's within the body already
          // e.g. documentation.paths[bulkEndpoint] has been modified/overridden
          // and we want to preserve those changes
          let schema
          try {
            schema =
              this.documentation.paths[`${associatedProtocol.endpointPrefix}/bulk`]
                .post.requestBody.content['application/json'].schema.properties
                .data.properties.collections.items.properties[value.modelName]

            // ignore whether multiple are required, since the config for that is already set
            // we only care about the properties
            if (((schema.items || {}).properties || {}).data) {
              schema = schema.items.properties.data
            } else schema = schema.data
          } catch (error) {
            paratooWarnMessage(
              `${value.modelName} can't find any schema in bulk path, so making modelConfig with modelName instead`,
            )
          }

          let modelConfig
          // use requestBody schema if it's not just a $ref to a components.schemas
          if (schema && !schema.$ref && !(schema.items || {}).$ref) {
            // bulk path might have modifications, so use what's already there if possible
            modelConfig = modelConfigFromSchema(
              schema,
              this.documentation,
              protocolId,
              prettyFormatFieldName(value.modelName),
              !isBulk,
            )
            // makeModelConfig normally does this, but need to specify since only using schema
            if (modelConfig) modelConfig.rowDataKey = value.modelName
          }
          // let makeModelConfig resolve the schema from components.schemas
          else {
            // bulk path might have modifications, so use what's already there if possible
            modelConfig = makeModelConfig(
              modelName,
              this.documentation,
              protocolId,
              !isBulk,
            )
            if (!modelConfig) continue
          }

          if (
            value.splitSurveyStep &&
            value?.hidden !== true &&
            value?.defaultHidden !== true
          ) {
            splitSurveyStep = true
            //create a copy to use for the end step
            splitSurveyStepConfig = cloneDeep(modelConfig)
            removeFieldFromModelConfig(modelConfig, 'end_date_time')
          }

          //want to keep overridden title if supplied while also appending
          //'(start)' if applicable
          let titleToUse = null
          if (value.overrideDisplayName) {
            titleToUse = value.overrideDisplayName
          } else {
            titleToUse = prettyFormatFieldName(modelName)
          }
          if (
            value.splitSurveyStep &&
            value?.hidden !== true &&
            value?.defaultHidden !== true
          ) {
            surveyStepTitleToUse = titleToUse
            titleToUse += ' (start)'
          }
          workflowAcc.push({
            name: i,
            title: titleToUse,
            excludeSubmitBtnFlag: true,
            currentProtId: protocolId,
            hint: value['x-paratoo-hint'],
            description: value['x-paratoo-description'],
            //will usually be undefined, unless the protocol has a variant ('lite' or 'full')
            protocolVariant: value['protocol-variant'],
            crud: {
              fields: modelConfig.fields,
              title: value.overrideDisplayName
                ? value.overrideDisplayName
                : modelConfig.title,
              rowDataKey: modelConfig.rowDataKey,
              collectionSurveyFlag: collectMultiple,
              mainSurveyFlag: modelConfig.mainSurveyFlag,
              hasLabPhase: value.hasLabPhase,
            },
            rules: {},
            hidden: value.defaultHidden || false,
            wrapperStepOnly: value.wrapperStepOnly || false,
            multiple: collectMultiple,
            useManyEndpoint: value.useManyEndpoint
              ? value.useManyEndpoint
              : false,
            splitSurveyStep: value.splitSurveyStep,
            addSurveyID: value.addSurveyID ? value.addSurveyID : false,
            required: value['required'] === undefined ? true : false,
            minimum: value.minimum || 0,
          })
          i++
        }
      }

      // update and store values of unique fields if exist
      await updateAndStoreUniqueModelValues(processedModels)

      if (splitSurveyStep) {
        //this 'end' step will be almost identical with minor mods, so clone the existing
        //to reduce code duplication
        const endSurveyStepWorkflow = cloneDeep(workflowAcc.find(o => o.title === `${surveyStepTitleToUse} (start)`))
        // remove hasLabPhase flag as we only need that in first step
        delete endSurveyStepWorkflow.crud.hasLabPhase
        endSurveyStepWorkflow.name = i
        endSurveyStepWorkflow.title = `${surveyStepTitleToUse} (end)`
        //squashes all other fields (we don't want them here, as they're already done in
        //the 'start' step).
        //if it's a custom component, this effectively removes that, which is what we
        //want as the custom component may contain extra logic we don't need here
        endSurveyStepWorkflow.crud.fields = {
          end_date_time: splitSurveyStepConfig.fields.end_date_time,
        }
        endSurveyStepWorkflow.required = true
        workflowAcc.push(endSurveyStepWorkflow)
      }

      return workflowAcc
    },
    /**
     * determines if the step supplied based on values in the store
     *
     * @param {Number} step Check if this number is accessible
     *
     * @returns The step provided (when valid) or the highest valid step when invalid
     */
    checkStepAccessible(step) {
      // the first step is always accessible
      if (step <= 1) return 1

      // if anything fails, try again until it hits 0
      // Check whether there is data in the store for the previous step's modelName exists
      const previousModelName = this.workflowItem[step - 2].crud.rowDataKey
      const previousStepWorkflow = this.workflowItem[step - 2]

      let submoduleProtocolId = null
      let submoduleStepModelName = null
      if (this.bulkStore.doingSubmodule(this.protocolId)) {
        //need some data to check for submodule step, but want in separate try/catch as
        //the one below is specifically to catch when accessing undefined from the bulk
        //store (`currentData`)
        try {
          submoduleProtocolId = this.bulkStore.getSubModuleID(this.protocolId)

          const associatedProtocol = this.apiModelsStore.protocolInformation({
            protId: this.protocolId,
          })
          //check against the protocol info's workflow, as `this.workflowItem` doesn't
          //include the `isSubmoduleStep` key
          submoduleStepModelName = associatedProtocol.workflow.find(
            (o) => o.isSubmoduleStep,
          ).modelName
        } catch {
          submoduleProtocolId = null
          submoduleStepModelName = null
        }
      }

      let currentData
      try {
        //we're moving FROM a sub-module step to another step, so need to grab the
        //corresponding data
        if (
          this.bulkStore.doingSubmodule(this.protocolId) &&
          //double-check parent protocol ID is provided
          submoduleStepModelName
        ) {
          const submoduleStepWorkflowItem = this.workflowItem.find(
            (o) => o.crud.rowDataKey === submoduleStepModelName,
          )
          if (
            previousModelName === submoduleStepModelName &&
            //check variable defined, then confirm the step is not hidden
            submoduleStepWorkflowItem &&
            !submoduleStepWorkflowItem.hidden
          ) {
            currentData = this.bulkStore.collectionGetForProt({
              protId: submoduleProtocolId,
            })[previousModelName]
          } else {
            currentData = this.bulkStore.collectionGetForProt({
              protId: this.protocolId,
            })[previousModelName]
          }
        } else {
          currentData = this.bulkStore.collectionGetForProt({
            protId: this.protocolId,
          })[previousModelName]
        }
      } catch (error) {
        return this.checkStepAccessible(step - 1)
      }
      const stepGoToWorkflowItem = this.workflowItem.find(
        (o) => o.name === step,
      )
      if (
        stepGoToWorkflowItem &&
        stepGoToWorkflowItem.name === step &&
        stepGoToWorkflowItem.hidden
      ) {
        //skip the next step (since it is hidden) and move to the one after it
        return step + 1
      } else if (currentData) {
        // data exists for the previous step, therefore valid
        return step
      } else {
        // not accessible, find the one that is
        return this.checkStepAccessible(step - 1)
      }
    },
    async handleStepNavigationForCrud(newStep, apiModelCrud) {
      // submit the crud
      const succeeded = await apiModelCrud.onSubmitFunc()
      // We check this so that we don't change the step if it fails
      if (!succeeded) {
        // since form is not valid (and nothing will be added to the store), just cancel completely
        // instead of asking to discard data when the newStep is invalid
        // User gets a popup about the failure
        // only allow to go back but not next step
        if (newStep > this.currentStep) {
          notifyHandler(
            'negative',
            'Unable to proceed to the next step due to incomplete data. Please ensure you have pressed the "Add" or "Save" button before continuing.',
          )
          return this.currentStep
        }
        // we're going to an accessible step, ask to discard
        this.stepAfterDiscard = newStep
        this.confirmDiscard = true
        return this.currentStep
      }
      // Go to non-hidden step in direction of movement
      let hiddenTarget = true
      while (hiddenTarget) {
        const goingToWorkflow = find(this.workflowItem, (o) => {
          return o.name === newStep
        })
        // not found
        if (!goingToWorkflow) {
          hiddenTarget = false
          continue
        }
        if (goingToWorkflow.hidden) {
          // skip a step in intended direction if invalid
          if (newStep > this.currentStep) newStep++
          else if (newStep < this.currentStep) newStep--
        } else {
          hiddenTarget = false
        }
      }

      return newStep
    },
    handleStepNavigationForCollections(newStep) {
      let goingToWorkflow

      // go to the next step
      if (newStep > this.currentStep) {
        // Get workflow rules for current step in the workflow
        const workflowRules = this.workflowItem.find(
          (step) => step.name === this.currentStep,
        )

        // Proceed to the next step if user has submitted the minimum no. of entries
        const modelName = workflowRules.crud.rowDataKey
        const currCollection = this.bulkStore.collectionGetForProt({
          protId: this.protocolId,
        })
        // check minimum if we have a minimum constraint
        let minimum = 0
        if (workflowRules.required) {
          minimum = 1
        }
        if (workflowRules.minimum) {
          minimum = workflowRules.minimum
        }
        const currCollectionLength = currCollection[modelName]?.length || 0
        if (currCollectionLength < minimum) {
          notifyHandler('negative', `Minimum of ${minimum} entries required.`)
          newStep = this.currentStep
        } else {
          goingToWorkflow = this.workflowItem.find(
            (o) => o.name >= newStep && !o.hidden,
          )
        }
      } else {
        // go to the previous non hidden step
        goingToWorkflow = this.workflowItem.findLast(
          (o) => o.name <= newStep && !o.hidden,
        )
      }

      if (goingToWorkflow) {
        newStep = goingToWorkflow.name
      }
      return newStep
    },
    /*
     * Returns the relevant step index from the supplied modelName
     */
    stepIndexFromModel(modelName) {
      return findIndex(this.workflowItem, (o) => {
        return o.crud.rowDataKey === modelName
      })
    },
    /**
     * Update the instance data for the highest accessible step. This changes the icons for the stepper
     */
    checkHighestAccessibleStep() {
      this.highestAccessibleStep = this.checkStepAccessible(
        this.workflowItem.length,
      )
    },
    cancelContextSelection() {
      this.selectCurrentContext = false
      this.$router.replace('/projects')
    },
    /**
     * Callback handler to finalise process of discarding
     * Main logic for adding to store in step Computed value
     */
    onButtonClick() {
      if (
        this.checkStepAccessible(this.stepAfterDiscard) >= this.stepAfterDiscard
      )
        this.currentStep = this.stepAfterDiscard
    },
  },
  watch: {
    'ephemeralStore.networkOnline'(newVal) {
      const protocolId = parseInt(this.$route.params['protocolId'])

      //need to update the message, because if we're offline we don't want to include
      //text about the 'refresh' button, as it's hidden when offline
      if (this.setupError !== null) {
        const setupError = this.createSetupErrMsg({ protocolId })
        this.setupError = setupError.msg
      }

      const protUuid = this.apiModelsStore.protUuidFromId(Number.parseInt(protocolId))?.uuid
      if (
        newVal == false &&
        protUuid === plotSelectionUuid
      ) {
        Dialog.create({
          title: 'Your device appears to have gone offline',
          message: 'The Plot Selection protocol requires a stable internet connection, please check your connection before reopening the Plot Selection protocol and completing your collection.',
          cancel: 'Exit',
          ok: null,
          persistent: true,
        })
          .onCancel(() => {
            this.$router.replace('/projects')
          })
      }
    },
    'ephemeralStore.coreIsAvailable'(newVal) {
      const protocolId = parseInt(this.$route.params['protocolId'])
      const protUuid = this.apiModelsStore.protUuidFromId(Number.parseInt(protocolId))?.uuid
      if (
        newVal === false &&
        protUuid === plotSelectionUuid
      ) {
        Dialog.create({
          title: 'Monitor\'s server appears to be unavailable, it may be undergoing maintenance',
          message: 'The Plot Selection protocol requires a connection to the Monitor server. Please wait a few minutes before reopening the Plot Selection protocol. If the problem persists please contact our help-desk support',
          cancel: 'Exit',
          ok: null,
          persistent: true,
        })
          .onCancel(() => {
            this.$router.replace('/projects')
          })
      }
    },
  }
}
</script>
<style scoped>
.top__btn_group {
  display: flex;
  justify-content: space-between;
}
.protocolsImg {
  line-height: 10rem;
  border-radius: 3px;
  background-size: cover;
  background-position-y: center;
  position: relative;
  font-size: 3rem;
  margin: 0.5rem 0.3rem;
}

.protocolsImg::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.35);
}
.fontStyle {
  position: relative;
  color: white;
}
.cover-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
  border-radius: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 500px) {
  .fontStyle {
    position: relative;
    color: white;
    font-size: 0.5em;
    padding: 0 0.5em;
  }
  .q-stepper::v-deep .q-stepper__tab {
    padding: 5px 5px !important;
  }
  .q-stepper::v-deep .q-stepper__step-inner {
    padding: 0 0px 24px 24px !important;
  }
  .q-stepper::v-deep .q-stepper__dot {
    margin-right:5px !important;
  }
  .yPaddingNone {
    padding: 4px 2px!important;
  }
  .workflowNextButtonSize {
    font-size: 0.8em 
  }
}
</style>
