<template>
  <router-view :key="$route.fullPath" />
</template>
<script>
import { useQuasar } from 'quasar'
import { useEphemeralStore } from './stores/ephemeral'
import { useApiModelsStore } from './stores/apiModels'
import * as cc from './misc/constants'
import {
  paratooSentryBreadcrumbMessage,
  notifyHandler,
  checkIsOnline,
  sleep,
  notifyWithHelpDeskInfo
} from './misc/helpers'
import { Network } from '@capacitor/network'
import { useAuthStore } from './stores/auth'

export default {
  name: 'App',
  setup() {
    const $q = useQuasar()
    // set status
    // Set prod users to light-mode by default
    // and lets us developers keep dark-mode default
    if (process.env.NODE_ENV === 'development') {
      $q.dark.set(true) // or false or "auto"
    }

    //we need to trigger something in these stores else they won't mount that thus won't
    //trigger hydration (resulting getting stuck on loading page)
    useApiModelsStore().init = true
    useAuthStore().initStore()
  },
  data() {
    return {
      networkCheckTimeoutId: null,
    }
  },
  async mounted() {
    await this.addNetworkListener()
    this.checkConstants()
  },
  methods: {
    checkConstants() {
      //FIXME moving this check here is a workaround
      const constantsToCheck = [
        'modeOfOperation',
        'spoofPlotLayout',
        'spoofBarcode',
      ]
      for (const constToCheck of constantsToCheck) {
        paratooSentryBreadcrumbMessage(`Constant '${constToCheck}' set to: ${cc[constToCheck]}`)
      }
    },
    async addNetworkListener() {
      // Initialise event listeners to update network status, this only work on status change
      Network.addListener('networkStatusChange', async (status) => {
        paratooSentryBreadcrumbMessage(
          `Network status changed ${JSON.stringify(status)}`,
          'networkListener',
        )
        // abort pending online check as the network status has changed
        if (this.networkCheckTimeoutId) {
          clearTimeout(this.networkCheckTimeoutId)
          this.networkCheckTimeoutId = null
        }
        const isOnline = status.connected
        if (isOnline) {
          notifyHandler(
            'info',
            'Network connection detected, checking for stable connection...',
            undefined,
            cc.networkRecheckInterval,
          )
        }
        this.networkCheckTimeoutId = await this.checkStableNetwork(status)
      })
      // the listener only work when the status change, so we need to check the status first
      const networkStatus = await Network.getStatus()
      await this.checkStableNetwork(networkStatus)

      // check for Core availability
      await this.checkCoreAvailability()
    },
    async checkCoreAvailability() {
      try {
        //doManageFetch seem to be too complicated for this use case so use simple fetch instead
        await fetch(cc.coreApiUrlBase + '/_health', {
          method: 'HEAD',
        })
        if(!useEphemeralStore().coreIsAvailable && useEphemeralStore().networkOnline) {
          paratooSentryBreadcrumbMessage('core unavailable', 'checkCoreAvailability')
          notifyHandler('positive', `${cc.appTitle}'s server is now operational.`)
        }
        useEphemeralStore().coreIsAvailable = true
      } catch {
        if(useEphemeralStore().coreIsAvailable && useEphemeralStore().networkOnline) {
          paratooSentryBreadcrumbMessage('core unavailable', 'checkCoreAvailability')
          notifyWithHelpDeskInfo('negative', 'error', `${cc.serverUnavailableMsg}. If this problem persists, please contact our help-desk support.`, 0)
        }
        useEphemeralStore().coreIsAvailable = false
      }
      await sleep(60000)
      this.checkCoreAvailability()
    },

    async checkStableNetwork(status, silent) {
      let isOnline = status.connected
      const currentTime = Math.round(Date.now() / 1000) // in seconds
      const lastOnline = useEphemeralStore().lastOnline
      let timeSinceLastOnline = currentTime - lastOnline //seconds

      if (isOnline) {
        // hit core to check if there's actually internet connection
        const startTime = Date.now()
        isOnline = await checkIsOnline()
        const checkIsOnlineTime = Math.round((Date.now() - startTime) / 1000)
        if (isOnline) {
          useEphemeralStore().lastOnline = currentTime
          if (timeSinceLastOnline <= cc.networkRecheckInterval) {
            useEphemeralStore().setNewFetchAbortController()
          } else {
            // if not online for long enough, then check again after networkRecheckInterval
            paratooSentryBreadcrumbMessage(
              `Network online found, check again in ${cc.networkRecheckInterval} seconds`,
            )
            // deduct time taken from checkIsOnline
            const adjustedInterval = Math.max(
              0,
              cc.networkRecheckInterval - checkIsOnlineTime,
            )
            return setTimeout(
              async () => await this.checkStableNetwork(status),
              adjustedInterval * 1000,
            )
          }
        }
      }
      // not an else case as we still check for online again using checkIsOnline after status change
      if (!isOnline) {
        useEphemeralStore().fetchAbortControllers.forEach((controller) => {
          controller.abort()
        })
        // reset to 0 so if will force this function trigger again in 15 seconds after network status change
        useEphemeralStore().lastOnline = 0
      }

      // set network status
      useEphemeralStore().setNetworkOnline(isOnline, silent)
    },
  },
}
</script>
